body {
    background: url('../Assets/Images/Login2.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.PMS {
    font-size:50px;
    color:white;
    margin-top:20%;
    text-transform: uppercase;
}