@model List<LPS_ProjectManagement.Models.ReportModels.SeriesPertahunModel>
@{
    Layout = null;
}

<style>
    .circle {
        border-radius: 50%;
        width: 3px;
        height: 3px;
        margin: auto;
        padding: 3px;
        /* width and height can be anything, as long as they're equal */
    }

    table {
        border-collapse: collapse;
    }

    thead, th, tbody, td {
        text-align: center;
        font-size: 11pt;
    }

    td {
        border-top: 1px dashed #ddd !important;
        border-bottom: 1px dashed #ddd !important;
    }

    thead {
        display: table-header-group;
        background-color: rgb(252,213,180) !important;
        border-top: 1px solid rgb(151,71,6) !important;
        height: 20px;
        border-bottom: 1px solid rgb(151,71,6) !important;
    }

    /*tr {
            border-bottom: 1px solid rgb(0,0,0);
        }*/
    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid;
    }

    th {
        background-color: rgb(252,213,180);
        border-color: rgb(151,71,6);
        border-width: 2px;
    }

    body, h3, h2, h1 {
        font-family: 'Book Antiqua' !important;
        font-size: 14pt;
    }
</style>
<table style="width:100%;" id="tableData">
    <thead>
        <tr>
            <td colspan="4" style="text-align:center; font-size:14px;">
                <b>
                    Laporan Series Per Tahun 
                </b>
            </td>
        </tr>
        <tr>
            <th>Tahun</th>
            <th>Total Project</th>
            <th>Total Anggaran</th>
            <th>Pencapaian (%)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:left">@item.Tahun</td>
                <td style="text-align:center">@item.TotalProject</td>
                <td style="text-align:center">@item.TotalAnggaran</td>
                <td style="text-align:center">@item.Pencapaian</td>
            </tr>
        }

    </tbody>

</table>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function ($) {

        tableToExcel('tableData', 'Sheet 1');
        setTimeout(function () {
            self.close();
        }, 500);
    });

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; })
            }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {
                worksheet: name || 'Worksheet', table: table.innerHTML
            }
            //window.location.href = uri + base64(format(template, ctx))

            var link = document.createElement("a");
            link.download = "Report-Series-Per-Tahun.xls";
            link.href = uri + base64(format(template, ctx));
            link.click();

        }
    })();

</script>

