<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Local-->
    <add key="WebAPI" value="http://localhost:49972/api/" />
    
    <!--Dev-->
    <!--<add key="WebAPI" value="http://eq-appdev.lps.corp/WS_PengelolaanProyek2/api/" />-->
    
    <!--<add key="Method" value="Dashboard" />-->
    <add key="Method" value="Dashboard2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>