USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_MasterKPIOrganization]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_MasterKPIOrganization]
	-- Add the parameters for the stored procedure here
	@IDKPIOrganization int = null,
	@KPICode varchar(50) = null,
	@KPIName varchar(150) = null,
	@Year varchar(4) = null,
	@Description varchar(200) = null,
	@User varchar(50) = null,

	-- Type CRUD --
	@TypeTransaction varchar(10) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		begin transaction;

		if(@TypeTransaction = 'Insert')begin
			if exists(select * from TblM_KPIOrganization where KPICode = @KPICode) begin select 'F|Kode KPI sudah terdaftar'; end
			else begin
				insert into TblM_KPIOrganization(
					KPICode,
					KPIName,
					Year,
					Description,
					CreatedDate,
					CreatedBy,
					IsActive
				)
				values(
					@KPICode,
					@KPIName,
					@Year,
					@Description,
					getdate(),
					@User,
					1
				);
			select 'S|Sukses';
			end
		end
		else if(@TypeTransaction = 'Update')begin
			if exists(select * from TblM_KPIOrganization where IDKPIOrganization = @IDKPIOrganization)begin
				update TblM_KPIOrganization
				set KPICode = @KPICode,
					KPIName = @KPIName,
					Year = @Year,
					Description = @Description,
					UpdatedDate = getdate(),
					UpdatedBy = @User
				where IDKPIOrganization = @IDKPIOrganization and IsActive = 1;
				select 'S|Sukses';
			end
			else begin select 'F|ID KPI tidak tersedia'; end;
		end
		else if(@TypeTransaction = 'Delete')begin
			if exists(select * from TblM_KPIOrganization where IDKPIOrganization = @IDKPIOrganization and IsActive = 1)begin
				update TblM_KPIOrganization
				set IsActive = 0
				where IDKPIOrganization = @IDKPIOrganization and IsActive = 1;
				select 'S|Sukses';
			end
			else if exists(select * from TblM_KPIOrganization where IDKPIOrganization = @IDKPIOrganization and IsActive = 0)begin
				update TblM_KPIOrganization
				set IsActive = 1
				where IDKPIOrganization = @IDKPIOrganization and IsActive = 0;
				select 'S|Sukses';
			end
			else begin select 'F|ID KPI tidak tersedia'; end;
		end
		else begin
			select 'F|Tipe transaksi tidak tersedia';
		end

		commit;
	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_MasterKPIOrganization', @ErrNum, @ErrMsg, @User;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch

END




GO
