USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardTransformation]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sena Putra
-- Create date: January 14, 2019
-- Description:	EXEC [dbo].[Get_DashboardTransformation] '','', '','', '', '', ''
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardTransformation]
	-- Add the parameters for the stored procedure here
	--@CurrentMonth int,
	--@CurrentYear int
	--@ProjectSponsor nvarchar(25),
	--@ProjectCategory nvarchar(25),
	--@ProgramManager nvarchar(100),
	--@ProjectPriority nvarchar(100),
	--@ProjectManager nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	CREATE TABLE #Transformation (
	Transformation int
	)
    -- Insert statements for procedure here
	INSERT INTO #Transformation
	SELECT SUM(R.CTransformation) As Transformation
	FROM (
		SELECT COUNT(A.ProjectNo) As CTransformation
		FROM TblM_Project A
		INNER JOIN TblM_Program B ON A.IDProgram  = B.IDProgram
		INNER JOIN TblM_StrategicObjective C ON A.IDStrategicObjective = C.IDStrategicObjective
		INNER JOIN TblM_ProjectPriority D ON A.IDProjectPriority = D.IDProjectPriority
		INNER JOIN TblM_Department E ON A.IDDepartment = E.IDDepartment
		WHERE A.IsTransformasi = 1
		--AND A.StartYear = 2000 AND A.EndYear >= 2000
		--AND (H.IDRoleGroup = 8  AND (G.Username = '' OR '' = G.Username))
		--AND (H.IDRoleGroup = 3  AND (G.Username = '' OR '' = G.Username))
		--AND (H.IDRoleGroup = 5  AND (G.Username = '' OR '' = G.Username))
		GROUP BY A.ProjectNo
	) R

	CREATE TABLE #NonTransformation (
	NonTransformation int
	)
	INSERT INTO #NonTransformation
	SELECT SUM(R.CNonTransformation) As NonTransformation
	FROM (
		SELECT COUNT(A.ProjectNo) As CNonTransformation
		FROM TblM_Project A
		INNER JOIN TblM_Program B ON A.IDProgram  = B.IDProgram
		INNER JOIN TblM_StrategicObjective C ON A.IDStrategicObjective = C.IDStrategicObjective
		INNER JOIN TblM_ProjectPriority D ON A.IDProjectPriority = D.IDProjectPriority
		INNER JOIN TblM_Department E ON A.IDDepartment = E.IDDepartment
		WHERE A.IsTransformasi = 0
		--AND A.StartYear = 2000 AND A.EndYear >= 2000
		--AND (H.IDRoleGroup = 8  AND (G.Username = '' OR '' = G.Username))
		--AND (H.IDRoleGroup = 3  AND (G.Username = '' OR '' = G.Username))
		--AND (H.IDRoleGroup = 5  AND (G.Username = '' OR '' = G.Username))
		GROUP BY A.ProjectNo
	) R

	CREATE TABLE #FINAL (
	Details nvarchar(25),
	TransformasiPercentase decimal(18,2),
	TotalProject int,
	)
	INSERT INTO #FINAL
	SELECT 'Transformation', 
	CAST((Transformation/CAST((Transformation + NonTransformation) As decimal(18,2)) * 100) As decimal(18,2)) as PercentTranform, Transformation
	FROM #Transformation, #NonTransformation
	GROUP BY Transformation, NonTransformation

	INSERT INTO #FINAL
	SELECT 'Non Transformation',
	CAST((NonTransformation/CAST((Transformation + NonTransformation) As decimal(18,2)) * 100) As decimal(18,2)) as PercentNonTranform, NonTransformation
	FROM #Transformation, #NonTransformation
	GROUP BY Transformation, NonTransformation

	SELECT * FROM #FINAL

	DROP TABLE #Transformation
	DROP TABLE #NonTransformation
	DROP TABLE #FINAL

END





GO
