USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblD_TransAndNoTrans]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblD_TransAndNoTrans](
	[IDTransAndNoTrans] [int] IDENTITY(1,1) NOT NULL,
	[DateDownload] [date] NULL,
	[name] [nvarchar](100) NULL,
	[color] [nvarchar](100) NULL,
	[id] [nvarchar](50) NULL,
	[y] [int] NULL,
	[StartYear] [nvarchar](4) NULL,
	[EndYear] [nvarchar](4) NULL,
	[IsTransformasi] [bit] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblD_TransAndNoTrans] PRIMARY KEY CLUSTERED 
(
	[IDTransAndNoTrans] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
