USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_PublicHolidayNew]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_PublicHolidayNew] AS TABLE(
	[DateKey] [varchar](8) NULL,
	[Date] [datetime] NULL,
	[Day] [int] NULL,
	[DaySuffix] [varchar](3) NULL,
	[Weekday] [int] NULL,
	[WeekDayName] [varchar](10) NULL,
	[IsWeekend] [bit] NULL,
	[IsHoliday] [bit] NULL,
	[HolidayText] [varchar](50) NULL,
	[DOWInMonth] [int] NULL,
	[DayOfYear] [int] NULL,
	[WeekOfMonth] [int] NULL,
	[WeekOfYear] [int] NULL,
	[ISOWeekOfYear] [int] NULL,
	[Month] [int] NULL,
	[MonthName] [varchar](10) NULL,
	[Quarter] [int] NULL,
	[QuarterName] [varchar](7) NULL,
	[Year] [varchar](4) NULL,
	[Semester] [int] NULL,
	[MMYYYY] [varchar](6) NULL,
	[MonthYear] [varchar](7) NULL,
	[FirstDayOfMonth] [datetime] NULL,
	[LastDayOfMonth] [datetime] NULL,
	[FirstDayOfQuarter] [datetime] NULL,
	[LastDayOfQuarter] [datetime] NULL,
	[FirstDayOfYear] [datetime] NULL,
	[LastDayOfYear] [datetime] NULL,
	[FirstDayOfNextMonth] [datetime] NULL,
	[FirstDayOfNextYear] [datetime] NULL
)
GO
