USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_ErrorLog]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_ErrorLog]
	@Modul varchar(20),
	@ErrorCode int,
	@Description varchar(200),
	@CreatedBy varchar(50)
AS
BEGIN
	Begin TRY
		BEGIN TRANSACTION inserterrorlog
			Insert Into TblH_ErrorLog 
			(
				Modul,
				ErrorCode,
				Description,
				CreatedDate,
				CreatedBy
			)
			values 
			(
				@Modul,
				@ErrorCode,
				@Description,
				GETDATE(),
				@CreatedBy
			)
		COMMIT TRANSACTION inserterrorlog
	END TRY
	BEGIN CATCH
		Rollback Transaction inserterrorlog
	END CATCH
END




GO
