USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Excel_AllDataRow_backup]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
/*
Update 
2020-09-03

Perubahan pengecekan weekdayname, awalnya saturday jadi Wednesday.
Karena ada kasus kalau saturday-nya sudah beda bulan maka minggu sebelumnya nggak kebaca.

Misal:
Juli 2020 (minggu ke-5)
su  mo  tue wed th fr sa
26  27  28  29  30 31

Agustus 2020 (minggu ke-1)
su  mo  tue wed th fr sa
					   1

Sebelum diubah karena weekdayname yg dicek adalah saturday,
Tanggal 26 juli s/d 1 agustus dianggap masuk minggu ke-1 agustus,
padahal seharusnya masuk minggu ke-5 Juli.

Dampaknya di laporan salah.
Pilih wednesday setelah diskusi dengan bu Vivi GPTF, kalau awal bulannya hari rabu maka dianggap minggu ke-1 bulan tersebut.
Kalau awal bulannya hari minggu s/d selasa, maka dianggap minggu terakhir di bulan sebelumnya.

Backup sebelum diubah:
Usp_Get_Excel_AllDataRow_20200903

*/
CREATE PROCEDURE [dbo].[Usp_Get_Excel_AllDataRow_backup]
	@Year varchar(4) = null,
	@Month int = null,
	@Week int = null,
	@IsTransformasi int = null

AS
BEGIN
	
	declare @Date date = null;
	
	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = convert(date, getdate()));
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Wednesday') end;

	if(@IsTransformasi = 1)begin
	
	select 'Project' as Tipe,
		'-' as No,
		a.IDStrategicObjective,
		a.StrategicObjectiveCode,
		a.IDProgram,
		a.ProgramNo,
		a.IDProjectHeader,
		a.ProjectNo,
		a.IDDirektorat,
		a.DirektoratName,
		a.StrategicObjectiveName,
		a.ProgramName,
		a.ProjectName,
		a.DepartmentCode,
		a.NamaProjectManager,
		(a.StartDay + '-' + [dbo].[Ufn_GetMonthName_Indonesia](a.StartMonth) + '-' + a.StartYear) as StartDate,
		(a.EndDay + '-' + [dbo].[Ufn_GetMonthName_Indonesia](a.EndMonth) + '-' + a.EndYear) as EndDate,
		a.Pencapaian,
		a.PlanPencapaian,
		a.RealisasiPencapaian,
		a.Kendala,
		a.RencanaAksi,
		isnull(a.Anggaran, '0') as Anggaran,
		
		case
			when (a.IDProjectStatus = 1
					--or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
					isnull(cast(a.RealisasiAnggaran as numeric), 0.00)
			else 0.0
		end as RealisasiAnggaran,
		
		case
			when (a.IDProjectStatus = 1
					--or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
					isnull(cast(a.KomitAnggaran as numeric), 0.00)
			else 0.0
		end as KomitAnggaran,

		(select top 1 Milestones from [dbo].[Ufn_CheckProjectIsFinish_Report](a.IDProjectHeader) where Month <= @Month and Year <= @year order by Year desc, Month desc) as Target,
		(select top 1 Notes from [dbo].[Ufn_Get_Notes](a.IDProjectHeader) a where a.Month <= @Month and Year = @Year order by Year, Month desc, TaskID desc) as Realisasi,
		
		a.IsTransformasi,
		a.IDProjectStatus,
		day(@Date) as Tanggal,

		KPICode = stuff(
			(
				select ',' + t2.KPICode 
				from TblT_ProjectKPIOrganization t1
					inner join TblM_KPIOrganization t2 on t1.IDKPIOrganization = t2.IDKPIOrganization and t2.IsActive = 1
				where t1.IsActive = 1 and t1.IDProjectHeader = a.IDProjectHeader
				for xml path (''))
             , 1, 1, ''
		),

		a.LastUpdated,

		case
			when a.IDProjectStatus in(1,8,9) then 'Draft'
			when a.IDProjectStatus in(4) then 'Compelted'
			when a.IDProjectStatus in(12, 13) then 'Closed'
			else isnull(a.StatusProject, 'No realisation on this week')
		end as StatusProject,

		a.NamaProgramManager,
		a.Periode
	
	from TblD_ListProject a

	where a.IsActive = 1
		and a.IsTransformasi = 1
		and a.DateDownload = @Date
		and (@Year between a.StartYear and a.EndYear)
		and a.IDProjectStatus not in(3, 13)--not in(1, 8, 9, 13)

	group by a.IDStrategicObjective,
		a.StrategicObjectiveCode,
		a.IDProgram,
		a.ProgramNo,
		a.IDProjectHeader,
		a.ProjectNo,
		a.IDDirektorat,
		a.DirektoratName,
		a.StrategicObjectiveName,
		a.ProgramName,
		a.ProjectName,
		a.DepartmentCode,
		a.NamaProjectManager,
		a.StartDay,a.StartMonth,a.StartYear,
		a.EndDay,a.EndMonth,a.EndYear,
		a.Pencapaian,
		a.PlanPencapaian,
		a.RealisasiPencapaian,
		a.Kendala,
		a.RencanaAksi,
		a.Anggaran,
		a.IDProjectStatus,
		a.RealisasiAnggaran,
		a.KomitAnggaran,
		a.IsTransformasi,
		a.LastUpdated,
		a.StatusProject,
		a.NamaProgramManager,
		a.Periode

	order by StrategicObjectiveCode asc, ProgramNo asc, ProjectNo asc;

	end
	else if(@IsTransformasi = 2)begin
	
	select 'Project' as Tipe,
		'-' as No,
		a.IDStrategicObjective,
		a.StrategicObjectiveCode,
		a.IDProgram,
		a.ProgramNo,
		a.IDProjectHeader,
		a.ProjectNo,
		a.IDDirektorat,
		a.DirektoratName,
		a.StrategicObjectiveName,
		a.ProgramName,
		a.ProjectName,
		a.DepartmentCode,
		a.NamaProjectManager,
		(a.StartDay + '-' + [dbo].[Ufn_GetMonthName_Indonesia](a.StartMonth) + '-' + a.StartYear) as StartDate,
		(a.EndDay + '-' + [dbo].[Ufn_GetMonthName_Indonesia](a.EndMonth) + '-' + a.EndYear) as EndDate,
		a.Pencapaian,
		a.PlanPencapaian,
		a.RealisasiPencapaian,
		a.Kendala,
		a.RencanaAksi,
		isnull(a.Anggaran, '0') as Anggaran,
		
		case
			when (a.IDProjectStatus = 1
					--or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
					isnull(cast(a.RealisasiAnggaran as numeric), 0.00)
			else 0.0
		end as RealisasiAnggaran,
		
		case
			when (a.IDProjectStatus = 1
					--or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
					isnull(cast(a.KomitAnggaran as numeric), 0.00)
			else 0.0
		end as KomitAnggaran,

		(select top 1 Milestones from [dbo].[Ufn_CheckProjectIsFinish_Report](a.IDProjectHeader) where Month <= @Month and Year <= @year order by Year desc, Month desc) as Target,
		(select top 1 Notes from [dbo].[Ufn_Get_Notes](a.IDProjectHeader) a where a.Month <= @Month and Year = @Year order by Year, Month desc, TaskID desc) as Realisasi,
		
		a.IsTransformasi,
		a.IDProjectStatus,
		day(@Date) as Tanggal,

		KPICode = stuff(
			(
				select ',' + t2.KPICode 
				from TblT_ProjectKPIOrganization t1
					inner join TblM_KPIOrganization t2 on t1.IDKPIOrganization = t2.IDKPIOrganization and t2.IsActive = 1
				where t1.IsActive = 1 and t1.IDProjectHeader = a.IDProjectHeader
				for xml path (''))
             , 1, 1, ''
		),

		a.LastUpdated,
		
		case
			when a.IDProjectStatus in(1,8,9) then 'Draft'
			when a.IDProjectStatus in(4) then 'Compelted'
			when a.IDProjectStatus in(12, 13) then 'Closed'
			else isnull(a.StatusProject, 'No realisation on this week')
		end as StatusProject,

		a.NamaProgramManager,
		a.Periode
	
	from TblD_ListProject a

	where a.IsActive = 1
		and a.IsTransformasi = 0
		and a.DateDownload = @Date
		and (@Year between a.StartYear and a.EndYear)
		and a.IDProjectStatus not in(3, 13)

	group by a.IDStrategicObjective,
		a.StrategicObjectiveCode,
		a.IDProgram,
		a.ProgramNo,
		a.IDProjectHeader,
		a.ProjectNo,
		a.IDDirektorat,
		a.DirektoratName,
		a.StrategicObjectiveName,
		a.ProgramName,
		a.ProjectName,
		a.DepartmentCode,
		a.NamaProjectManager,
		a.StartDay,a.StartMonth,a.StartYear,
		a.EndDay,a.EndMonth,a.EndYear,
		a.Pencapaian,
		a.PlanPencapaian,
		a.RealisasiPencapaian,
		a.Kendala,
		a.RencanaAksi,
		a.Anggaran,
		a.IDProjectStatus,
		a.RealisasiAnggaran,
		a.KomitAnggaran,
		a.IsTransformasi,
		a.LastUpdated,
		a.StatusProject,
		a.NamaProgramManager,
		a.Periode

	order by StrategicObjectiveCode asc, ProgramNo asc, ProjectNo asc;

	end
	else begin

	select 'Project' as Tipe,
		'-' as No,
		a.IDStrategicObjective,
		a.StrategicObjectiveCode,
		a.IDProgram,
		a.ProgramNo,
		a.IDProjectHeader,
		a.ProjectNo,
		a.IDDirektorat,
		a.DirektoratName,
		a.StrategicObjectiveName,
		a.ProgramName,
		a.ProjectName,
		a.DepartmentCode,
		a.NamaProjectManager,
		(a.StartDay + '-' + [dbo].[Ufn_GetMonthName_Indonesia](a.StartMonth) + '-' + a.StartYear) as StartDate,
		(a.EndDay + '-' + [dbo].[Ufn_GetMonthName_Indonesia](a.EndMonth) + '-' + a.EndYear) as EndDate,
		a.Pencapaian,
		a.PlanPencapaian,
		a.RealisasiPencapaian,
		a.Kendala,
		a.RencanaAksi,
		isnull(a.Anggaran, '0') as Anggaran,
		
		case
			when (a.IDProjectStatus = 1
					--or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
					isnull(cast(a.RealisasiAnggaran as numeric), 0.00)
			else 0.0
		end as RealisasiAnggaran,
		
		case
			when (a.IDProjectStatus = 1
					--or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
					isnull(cast(a.KomitAnggaran as numeric), 0.00)
			else 0.0
		end as KomitAnggaran,

		(select top 1 Milestones from [dbo].[Ufn_CheckProjectIsFinish_Report](a.IDProjectHeader) where Month <= @Month and Year <= @year order by Year desc, Month desc) as Target,
		(select top 1 Notes from [dbo].[Ufn_Get_Notes](a.IDProjectHeader) a where a.Month <= @Month and Year = @Year order by Year, Month desc, TaskID desc) as Realisasi,
		
		a.IsTransformasi,
		a.IDProjectStatus,
		day(@Date) as Tanggal,

		KPICode = stuff(
			(
				select ',' + t2.KPICode 
				from TblT_ProjectKPIOrganization t1
					inner join TblM_KPIOrganization t2 on t1.IDKPIOrganization = t2.IDKPIOrganization and t2.IsActive = 1
				where t1.IsActive = 1 and t1.IDProjectHeader = a.IDProjectHeader
				for xml path (''))
             , 1, 1, ''
		),

		a.LastUpdated,
		
		case
			when a.IDProjectStatus in(1,8,9) then 'Draft'
			when a.IDProjectStatus in(4) then 'Compelted'
			when a.IDProjectStatus in(12, 13) then 'Closed'
			else isnull(a.StatusProject, 'No realisation on this week')
		end as StatusProject,

		a.NamaProgramManager,
		a.Periode
	
	from TblD_ListProject a

	where a.IsActive = 1
		and a.DateDownload = @Date
		and (@Year between a.StartYear and a.EndYear)
		and a.IDProjectStatus not in(3, 13)

	group by a.IDStrategicObjective,
		a.StrategicObjectiveCode,
		a.IDProgram,
		a.ProgramNo,
		a.IDProjectHeader,
		a.ProjectNo,
		a.IDDirektorat,
		a.DirektoratName,
		a.StrategicObjectiveName,
		a.ProgramName,
		a.ProjectName,
		a.DepartmentCode,
		a.NamaProjectManager,
		a.StartDay,a.StartMonth,a.StartYear,
		a.EndDay,a.EndMonth,a.EndYear,
		a.Pencapaian,
		a.PlanPencapaian,
		a.RealisasiPencapaian,
		a.Kendala,
		a.RencanaAksi,
		a.Anggaran,
		a.IDProjectStatus,
		a.RealisasiAnggaran,
		a.KomitAnggaran,
		a.IsTransformasi,
		a.LastUpdated,
		a.StatusProject,
		a.NamaProgramManager,
		a.Periode

	order by StrategicObjectiveCode asc, ProgramNo asc, ProjectNo asc;

	end;
END




GO
