USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Calculate_PlannedPercentage]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Andre Ibrahim Latief
-- Create date: 17-01-2019
-- Description:	Calculate PlannedPercentage
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Calculate_PlannedPercentage] @dtMPP Udt_MPPTaskDetailRev2 READONLY
AS
BEGIN
	SELECT MPP.taskID
		,MPP.taskName
		,MPP.taskGUID
		,MPP.taskStart
		,MPP.taskEnd
		,CASE 
			WHEN MPP.taskOutlineLevel > 1
				THEN dbo.Ufn_GetProjectDuration(MPP.taskStart, MPP.taskEnd)
			WHEN MPP.taskOutlineLevel = 1
				THEN (
						SELECT dbo.Ufn_GetProjectDuration((
									SELECT TOP 1 MAX(MPtask.taskStart)
									FROM @dtMPP MPtask
									WHERE MPtask.taskParent = MPP.taskParent
										AND MPtask.taskOutlineNumber <> 0
									GROUP BY MPtask.taskStart
									ORDER BY MPtask.taskStart ASC
									), (
									SELECT TOP 1 MAX(MPtask.taskEnd)
									FROM @dtMPP MPtask
									WHERE MPtask.taskParent = MPP.taskParent
										AND MPtask.taskOutlineNumber <> 0
									GROUP BY MPtask.taskEnd
									ORDER BY MPtask.taskEnd DESC
									)) + (
								SELECT COUNT(taskDuration)
								FROM @dtMPP MPTask2
								WHERE MPtask2.taskParent = MPP.taskParent
									AND MPTask2.taskType = '1'
								)
						)
			ELSE NULL
			END AS DurationInDays
		,CASE 
			WHEN MPP.taskOutlineLevel = 1
				THEN (
						SELECT dbo.Ufn_GetProjectElapseDay((
									SELECT TOP 1 MAX(MPtask.taskStart)
									FROM @dtMPP MPtask
									WHERE MPtask.taskParent = MPP.taskParent
										AND MPtask.taskOutlineNumber <> 0
									GROUP BY MPtask.taskStart
									ORDER BY MPtask.taskStart ASC
									), (
									SELECT TOP 1 MAX(MPtask.taskEnd)
									FROM @dtMPP MPtask
									WHERE MPtask.taskParent = MPP.taskParent
										AND MPtask.taskOutlineNumber <> 0
									GROUP BY MPtask.taskEnd
									ORDER BY MPtask.taskEnd DESC
									)) + (
								SELECT dbo.Ufn_GetProjectElapseDay(MPTask2.taskStart, MPTask2.taskEnd)
								FROM @dtMPP MPTask2
								WHERE MPtask2.taskParent = MPP.taskParent
									AND MPTask2.taskType = '1'
								)
						)
			WHEN MPP.taskOutlineLevel > 1
				THEN dbo.Ufn_GetProjectElapseDay(MPP.taskStart, MPP.taskEnd)
			ELSE NULL
			END AS ElapsDay
		,CASE 
			WHEN MPP.taskOutlineLevel > 1
				THEN (
						CASE 
							WHEN dbo.Ufn_GetProjectDuration(MPP.taskStart, MPP.taskEnd) > 0
								THEN ROUND((CONVERT(FLOAT, dbo.Ufn_GetProjectElapseDay(MPP.taskStart, MPP.taskEnd)) / CONVERT(FLOAT, dbo.Ufn_GetProjectDuration(MPP.taskStart, MPP.taskEnd))), 2) * 100
							ELSE 0
							END
						)
			WHEN MPP.taskOutlineLevel = 1
				THEN (
						CASE 
							WHEN (
									SELECT dbo.Ufn_GetProjectDuration((
												SELECT TOP 1 MAX(MPtask.taskStart)
												FROM @dtMPP MPtask
												WHERE MPtask.taskParent = MPP.taskParent
													AND MPtask.taskOutlineNumber <> 0
												GROUP BY MPtask.taskStart
												ORDER BY MPtask.taskStart ASC
												), (
												SELECT TOP 1 MAX(MPtask.taskEnd)
												FROM @dtMPP MPtask
												WHERE MPtask.taskParent = MPP.taskParent
													AND MPtask.taskOutlineNumber <> 0
												GROUP BY MPtask.taskEnd
												ORDER BY MPtask.taskEnd DESC
												)) + (
											SELECT COUNT(taskDuration)
											FROM @dtMPP MPTask2
											WHERE MPtask2.taskParent = MPP.taskParent
												AND MPTask2.taskType = '1'
											)
									) > 0
								THEN (
										SELECT dbo.Ufn_GetProjectElapseDay((
													SELECT TOP 1 MAX(MPtask.taskStart)
													FROM @dtMPP MPtask
													WHERE MPtask.taskParent = MPP.taskParent
														AND MPtask.taskOutlineNumber <> 0
													GROUP BY MPtask.taskStart
													ORDER BY MPtask.taskStart ASC
													), (
													SELECT TOP 1 MAX(MPtask.taskEnd)
													FROM @dtMPP MPtask
													WHERE MPtask.taskParent = MPP.taskParent
														AND MPtask.taskOutlineNumber <> 0
													GROUP BY MPtask.taskEnd
													ORDER BY MPtask.taskEnd DESC
													)) + (
												SELECT dbo.Ufn_GetProjectElapseDay(MPTask2.taskStart, MPTask2.taskEnd)
												FROM @dtMPP MPTask2
												WHERE MPtask2.taskParent = MPP.taskParent
													AND MPTask2.taskType = '1'
												)
										) / (
										SELECT dbo.Ufn_GetProjectDuration((
													SELECT TOP 1 MAX(MPtask.taskStart)
													FROM @dtMPP MPtask
													WHERE MPtask.taskParent = MPP.taskParent
														AND MPtask.taskOutlineNumber <> 0
													GROUP BY MPtask.taskStart
													ORDER BY MPtask.taskStart ASC
													), (
													SELECT TOP 1 MAX(MPtask.taskEnd)
													FROM @dtMPP MPtask
													WHERE MPtask.taskParent = MPP.taskParent
														AND MPtask.taskOutlineNumber <> 0
													GROUP BY MPtask.taskEnd
													ORDER BY MPtask.taskEnd DESC
													)) + (
												SELECT COUNT(taskDuration)
												FROM @dtMPP MPTask2
												WHERE MPtask2.taskParent = MPP.taskParent
													AND MPTask2.taskType = '1'
												)
										) * 100
							END
						)
			ELSE NULL
			END AS PlanPercentage
		,MPP.taskCompleted
		,MPP.taskParent
		,MPP.taskOutlineNumber
		,MPP.taskOutlineLevel
		,MPP.taskPredecessor
		,MPP.taskSuccessor
		,MPP.taskNotes
		,MPP.taskType
	FROM @dtMPP MPP
END




GO
