USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MPPProjectEksekusi1]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- description:	<description,,> exec Usp_Get_MPPProjectEksekusi '234' , '2019-9-5'
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MPPProjectEksekusi1]
	-- Add the parameters for the stored procedure here
	@ProjectHeaderID int,
	@Periode varchar(10)
AS
begin

	declare @year varchar(5), @month varchar(3), @week varchar(2);
	declare @SplitString table(rownumber int, val varchar(max));
	
	insert into @SplitString
	select row_number() over(order by (select null)), *
	from dbo.Ufn_SplitString(@Periode, '-');
	
	select @year = val from @SplitString where rownumber = 1;
	select @month = val from @SplitString where rownumber = 2;
	select @week = val from @SplitString where rownumber = 3;
	
	select MPD.TaskID as id,
		MPD.IDMPPProjectPlanDetail as idMPP,
		MPD.ParentID as parent,
		MPD.TaskName as text,
		
		convert(varchar,convert(date,MPD.StartDate),23) as start_date,
		convert(varchar,convert(date,MPD.EndDate),23) as end_date,
		isnull(DiD.DurationInDays,0) as durasi,

		case 
			when (MPD.IsMilestone = '1' or MPD.TaskName like '%milestone%')
				and cast(@year + '-' + right('00' + @month, 2) + '-' + @week as date)
					>= cast(
						cast(
								(
									select Year
									from TblM_Date
									where DATE = convert(DATE, dateadd(day, (7-datepart(dw, MPD.StartDate))%7, MPD.StartDate))
								) as varchar(4)
							)
						+ '-' + right(
								'00' + cast(
									(
										select Month
										from TblM_Date
										where DATE = convert(DATE, dateadd(DAY, (7-datepart(dw, MPD.StartDate))%7, MPD.StartDate))
									) as varchar(2)
								), 2
							)
						+ '-' + cast(
								(
									select WeekOfMonth
									from TblM_Date
									where DATE = convert(DATE, dateadd(day, (7-datepart(dw, MPD.StartDate))%7, MPD.StartDate))
								) as varchar(1)
							)
						as date
					)
			then 100
			else round(
					isnull(
						(
							select top 1 MPP.PlanPercentage
							from TblT_MPPProjectPlanPercentage MPP
							where MPP.IDProjectHeader = MPD.ProjectHeaderID
								and MPP.TaskID = MPD.TaskID
								and IsActive = 1
								and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
									<= cast(@year + '-' + @month + '-' + @week as date)
							order by MPP.Year desc, MPP.Month desc, MPP.Week desc
						), 0
					), 0
				)
		end as PlaningPercentage,
		
		case 
			when isnull(
					(
						select top 1 MPP.CompletePercentage+1
						from TblT_MPPProjectRealPercentage MPP
						where MPP.IDProjectHeader = MPD.ProjectHeaderID
							and MPP.TaskID = MPD.TaskID
							and MPP.Week = @week
							and MPP.Month = @month
							and MPP.Year = @year
							and MPP.IsActive = 1
					), 0
				) > 0
			then isnull(
					(
						select top 1 MPP.CompletePercentage+2
						from TblT_MPPProjectRealPercentage MPP
						where MPP.IDProjectHeader = MPD.ProjectHeaderID
							and MPP.TaskID = MPD.TaskID
							and MPP.Week = @week
							and MPP.Month = @month
							and MPP.Year = @year
							and MPP.IsActive = 1
					), 0
				)

			when isnull(
					(
						select top 1
							case
								when MPP.PercentageComplete > 99 and  MPP.PercentageComplete < 100 then 99
								else MPP.PercentageComplete+3
							end PercentageComplete
						from TblT_MPPProjectRealDetail MPP
						where MPP.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
							and MPP.TaskID = MPD.TaskID
							and MPP.Year = @year
							and MPP.Month = @month
							and MPP.Week = @week
							and MPP.IsActive = 1
					), 0
				) > 0
			then isnull(
					(
						select top 1
							case
								when MPP.PercentageComplete > 99 and  MPP.PercentageComplete < 100 then 99
								else MPP.PercentageComplete+4
							end PercentageComplete
						from TblT_MPPProjectRealDetail MPP
						where MPP.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
							and MPP.TaskID = MPD.TaskID
							and MPP.Year = @year
							and MPP.Month = @month
							and MPP.Week = @week
							and MPP.IsActive = 1
					), 0
				)

			else isnull(
					(
						select top 1 MPP.CompletePercentage+5
						from TblT_MPPProjectRealPercentage MPP
						where MPP.IDProjectHeader = MPD.ProjectHeaderID
							and MPP.TaskID = MPD.TaskID
							and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
								<= cast(@year + '-' + @month + '-' + @week as date)
							and MPP.IsActive = 1
						order by MPP.Year desc, MPP.Month desc, MPP.Week desc
					), 0
				)

		end	as percentcomplate,

		MPD.OutlineLevel,
		MPD.OutlineNumber,
		
		case
			when MPD.IsMilestone = '1' or MPD.TaskName like '%milestone%' then 'milestone'
			else 'task'
		end as type,
		
		(
			case
				when exists(
						select top 1 MRDD.Notes
						from TblT_MPPProjectRealDetail MRDD
						where MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
							and MRDD.Week = @week 
							and MRDD.Year = @year
							and MRDD.Month = @month
							and MRDD.IsActive = 1
					)
				then(
						select top 1 MRDD.Notes
						from TblT_MPPProjectRealDetail MRDD
						where MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
							and MRDD.Week = @week 
							and MRDD.Year = @year
							and MRDD.Month = @month
							and MRDD.IsActive = 1
						order by MRDD.Date desc
					)
				else(
						select top 1 MRDD.Notes
						from TblT_MPPProjectRealDetail MRDD
						where MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
							and MRDD.IsActive = 1
						order by MRDD.Date desc		
					)
					END
							
				)			
				 as notes,
		
		convert(
			varchar(max),(
				case
					when(
							select top 1 MRDD.ActualStart
							from TblT_MPPProjectRealDetail MRDD
							where MRDD.IDMPPProjectPlanDetail =MPD.IDMPPProjectPlanDetail
								and MRDD.Week = @week 
								and MRDD.Year = @year
								and MRDD.Month = @month
								and MRDD.IsActive = 1
						) is not null
					then(
							select top 1
								case
									when MRDD.ActualStart is null then null
									when len(MRDD.ActualStart) = 16 then convert(date, substring(MRDD.ActualStart, 0, 11), 103) 
									else MRDD.ActualStart
								end 
							from TblT_MPPProjectRealDetail MRDD
							where MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
								and MRDD.Week = @week
								and MRDD.Year = @year
								and MRDD.Month = @month
								and MRDD.IsActive = 1
							order by MRDD.Date	desc
						)
					else(			
							select top 1 
								case
									when MRDD.ActualStart is null then null
									when len(MRDD.ActualStart) = 16 then convert(date, substring(MRDD.ActualStart, 0, 11), 103)
									else MRDD.ActualStart
								end 
							from TblT_MPPProjectRealDetail MRDD
							where MRDD.IsActive = 1
								and MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
								and cast(cast(MRDD.Year as varchar(4)) + '-'+ cast(MRDD.Month as varchar(2)) +'-'+ cast(MRDD.Week as varchar(1)) as date)
									< cast(@year + '-'+ @month +'-'+ @week as date)
							order by MRDD.year desc, MRDD.Month desc, MRDD.Week desc
						)
				end
			)
		) as actual_start,
		
		convert(
			varchar(max),(
				case
					when(
						select top 1 MRDD.ActualEnd
						from TblT_MPPProjectRealDetail MRDD
						where MRDD.IDMPPProjectPlanDetail =MPD.IDMPPProjectPlanDetail
							and MRDD.Week = @week 
							and MRDD.Year = @year
							and MRDD.Month = @month
							and MRDD.IsActive = 1
						) is not null
					then(
							select top 1
								case
									when MRDD.ActualEnd is null then null
									when len(MRDD.ActualEnd) = 16 then convert(date, substring(MRDD.ActualEnd, 0, 11), 103)
									else MRDD.ActualEnd
								end 
							from TblT_MPPProjectRealDetail MRDD
							where MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
								and MRDD.Week = @week 
								and MRDD.Year = @year
								and MRDD.Month = @month
								and MRDD.IsActive = 1
							order by MRDD.Date	desc
						)
					else(			
							select top 1 
								case
									when MRDD.ActualEnd is null then null
									when len(MRDD.ActualEnd) = 16 then convert(date, substring(MRDD.ActualEnd, 0, 11), 103) 
									else MRDD.ActualEnd
								end 
							from TblT_MPPProjectRealDetail MRDD
							where MRDD.IsActive = 1
								and MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
								and cast(cast(MRDD.Year as varchar(4)) + '-'+ cast(MRDD.Month as varchar(2)) +'-'+ cast(MRDD.Week as varchar(1)) as date)
									< cast(@year + '-'+ @month +'-'+ @week as date)
							order by MRDD.year desc, MRDD.Month desc, MRDD.Week desc
						)
				end		
			)
		) as actual_end

	from TblT_MPPProjectPlanDetail MPD
		inner join [Ufn_Get_DurationInDays_PerProject](@ProjectHeaderID) DiD on MPD.TaskID = DiD.TaskID
	where MPD.ProjectHeaderID = @ProjectHeaderID
		and MPD.TaskID > 0
		and MPD.IsActive = '1'
	order by idMPP;

	select row_number() over(order by MPPr.TaskID asc) as id,
		Mppr.PredecessorID as source,
		Mppr.TaskID as target,
		'0' as type 
	from TblT_MPPProjectPredecessor MPPr 
	where MPPr.ProjectHeaderID = @ProjectHeaderID
		and IsActive = '1';

END
GO
