USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardProjectProgressPerProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Update Date : 29-03-2023
-- Update By : Septian C
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardProjectProgressPerProject] -- exec Get_DashboardProjectProgressPerProject null,'2019',4,'All',4
	-- Add the parameters for the stored procedure here
	@Date date = null,
	@Year varchar(4) = null,
	@Month int = null,
	@Filter varchar(max) = 'All',
	@Week int = null,
	@Status varchar(max) = null,
	@PersonalNumber varchar(max) = null

AS
BEGIN
	
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	
	------------------------------------------------------------------
	-- Mencari Tahun, Bulan dan Minggu Terakhir Dari Filter Tanggal --
	------------------------------------------------------------------

	SET NOCOUNT ON;
	
	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = convert(date, getdate()));
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	--else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday') end;
	else 
	begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Wednesday') end;
	
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	
	-----------------------------------------------------
	-- Mencari Unit Kerja dan Role Applikasi Dari User --
	-----------------------------------------------------

	declare @UnitKerja varchar(20);
	declare @RoleApp varchar(max);

	if @PersonalNumber is null set @PersonalNumber = '100010';

	select top 1 @UnitKerja = b.org_unit_mast_Code
	from TblDW_Usergroup a
		inner join TblDW_EmployeeMapping b on a.User_LoginName = b.empl_mast_username
	where a.Usergroup_Pernr = @PersonalNumber;

	select top 1 @RoleApp = b.RoleGroupName
	from TblT_UserAuthorized a
		inner join TblM_RoleGroup b on a.IDRoleGroup = b.IDRoleGroup and b.IsActive = 1
	where a.IsActive = 1 and a.PersonNumber = @PersonalNumber;
	
	--Updated--
	declare @DateDownload date = null;
	select top 1 @DateDownload = DateDownload from Tbld_ListProject where DateDownload <= @Date order by DateDownload desc

	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	
	--------------------------------------------
	-- Mencari Data Dari Filter yang Di Pilih --
	--------------------------------------------

	if(@RoleApp = 'ADMINISTRATOR' or @RoleApp = 'MANAGEMENT' or @RoleApp = 'INTERNAL.AUDITOR' or (@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPSO'))begin
		
		if(@Filter = 'All') begin
		
			select 
				obj.IDProjectHeader,
				obj.NamaProject,
				obj.Pencapaian,
				obj.Progress,
				obj.Color,
				@Filter as Filter
			from
			(
				select
					a.IDProjectHeader,
					p.ProjectName NamaProject,
					a.Pencapaian Pencapaian,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
						when (a.Pencapaian < 85) then '#d85d5d'
						when (a.Pencapaian < 100) then '#efd31c'
						when (a.Pencapaian < 110) then '#6dff66'
						else '#6663ff'
					end as Color
				from [dbo].[TblD_ListProject] a
				inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
				inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
				where a.IsActive = 1 
					--and a.DateDownload = @Date
					and a.DateDownload = @DateDownload --updated
					and (@Year between a.StartYear and a.EndYear)
					and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			) as obj
			
		end
		else if(@Filter = 'Transformasi') begin
		
			select 
				obj.IDProjectHeader,
				obj.NamaProject,
				obj.Pencapaian,
				obj.Progress,
				obj.Color,
				@Filter as Filter
			from
			(
				select
					a.IDProjectHeader,
					p.ProjectName NamaProject,
					a.Pencapaian Pencapaian,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
						when (a.Pencapaian < 85) then '#d85d5d'
						when (a.Pencapaian < 100) then '#efd31c'
						when (a.Pencapaian < 110) then '#6dff66'
						else '#6663ff'
					end as Color
				from [dbo].[TblD_ListProject] a
				inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
				inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
				where a.IsActive = 1
					--and a.DateDownload = @Date
					and a.DateDownload = @DateDownload --updated
					and a.IsTransformasi = 1
					and (@Year between a.StartYear and a.EndYear)
					and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			) as obj
			
		end
		else if(@Filter = 'Non Transformasi') begin
		
			select 
				obj.IDProjectHeader,
				obj.NamaProject,
				obj.Pencapaian,
				obj.Progress,
				obj.Color,
				@Filter as Filter
			from
			(
				select
					a.IDProjectHeader,
					p.ProjectName NamaProject,
					a.Pencapaian Pencapaian,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress,
					case
						when (a.IDProjectStatus = 1
							--or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9) 
							or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
							then '#dcddde'
						when (a.IDProjectStatus = 4
							or a.IDProjectStatus = 12) then '#58595b'
						when (a.Pencapaian < 85) then '#d85d5d'
						when (a.Pencapaian < 100) then '#efd31c'
						when (a.Pencapaian < 110) then '#6dff66'
						else '#6663ff'
					end as Color
				
				from [dbo].[TblD_ListProject] a
				inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
				inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
				where a.IsActive = 1
					--and a.DateDownload = @Date
					and a.DateDownload = @DateDownload --updated
					and a.IsTransformasi = 0
					and (@Year between a.StartYear and a.EndYear)
					and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			) as obj
			
		end;

	end
	else if(@RoleApp = 'ADMIN.PMO')begin
		
		if(@UnitKerja = 'GPTF')begin
		
			if(@Filter = 'All') begin
			
				select 
					obj.IDProjectHeader,
					obj.NamaProject,
					obj.Pencapaian,
					obj.Progress,
					obj.Color,
					@Filter as Filter
				from
				(
					select
						a.IDProjectHeader,
						p.ProjectName NamaProject,
						a.Pencapaian Pencapaian,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
							when (a.Pencapaian < 85) then '#d85d5d'
							when (a.Pencapaian < 100) then '#efd31c'
							when (a.Pencapaian < 110) then '#6dff66'
							else '#6663ff'
						end as Color
					
					from [dbo].[TblD_ListProject] a
					inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
					inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
					where a.IsActive = 1
						--and a.DateDownload = @Date
						and a.DateDownload = @DateDownload --updated
						and (a.IsTransformasi = 1 or a.DepartmentCode = @UnitKerja)
						and (@Year between a.StartYear and a.EndYear)
						and a.IDProjectStatus not in(1, 3, 8, 9, 13)
				)
				as obj

			end
			else if(@Filter = 'Transformasi') begin
			
				select 
				obj.IDProjectHeader,
				obj.NamaProject,
				obj.Pencapaian,
				obj.Progress,
					obj.Color,
					@Filter as Filter
				from
				(
					select
						a.IDProjectHeader,
						p.ProjectName NamaProject,
						a.Pencapaian Pencapaian,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
							when (a.Pencapaian < 85) then '#d85d5d'
							when (a.Pencapaian < 100) then '#efd31c'
							when (a.Pencapaian < 110) then '#6dff66'
							else '#6663ff'
						end as Color
					
					from [dbo].[TblD_ListProject] a
					inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
					inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
					where a.IsActive = 1
						--and a.DateDownload = @Date
						and a.DateDownload = @DateDownload --updated
						and (a.IsTransformasi = 1)
						and (@Year between a.StartYear and a.EndYear)
						and a.IDProjectStatus not in(1, 3, 8, 9, 13)
				)
				as obj

			end
			else if(@Filter = 'Non Transformasi') begin
			
				select 
					obj.IDProjectHeader,
					obj.NamaProject,
					obj.Pencapaian,
					obj.Progress,
					obj.Color,
					@Filter as Filter
				from
				(
					select 
					a.IDProjectHeader,
					p.ProjectName NamaProject,
						a.Pencapaian Pencapaian,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
							when (a.Pencapaian < 85) then '#d85d5d'
							when (a.Pencapaian < 100) then '#efd31c'
							when (a.Pencapaian < 110) then '#6dff66'
							else '#6663ff'
						end as Color
					
					from [dbo].[TblD_ListProject] a
					inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
					inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
					where a.IsActive = 1
						--and a.DateDownload = @Date
						and a.DateDownload = @DateDownload --updated
						and (a.IsTransformasi = 0 and a.DepartmentCode = @UnitKerja)
						and (@Year between a.StartYear and a.EndYear)
						and a.IDProjectStatus not in(1, 3, 8, 9, 13)
				)
				as obj

			end;
			
		end
		else begin
			
			if(@Filter = 'All') begin
			
				select 
				obj.IDProjectHeader,
				obj.NamaProject,
				obj.Pencapaian,
				obj.Progress,
					obj.Color,
					@Filter as Filter
				from
				(
					select 
					a.IDProjectHeader,
					p.ProjectName NamaProject,
						a.Pencapaian Pencapaian,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
							when (a.Pencapaian < 85) then '#d85d5d'
							when (a.Pencapaian < 100) then '#efd31c'
							when (a.Pencapaian < 110) then '#6dff66'
							else '#6663ff'
						end as Color
					
					from [dbo].[TblD_ListProject] a
					inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
					inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
					where a.IsActive = 1 
						--and a.DateDownload = @Date 
						and a.DateDownload = @DateDownload --updated
						and a.DepartmentCode = @UnitKerja
						and (@Year between a.StartYear and a.EndYear)
						and a.IDProjectStatus not in(1, 3, 8, 9, 13)
				)
				as obj
				
			end
			else if(@Filter = 'Transformasi') begin
			
				select 
				obj.IDProjectHeader,
				obj.NamaProject,
				obj.Pencapaian,				
				obj.Progress,
					obj.Color,
					@Filter as Filter
				from
				(
					select 
					a.IDProjectHeader,
					p.ProjectName NamaProject,
						a.Pencapaian Pencapaian,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
							when (a.Pencapaian < 85) then '#d85d5d'
							when (a.Pencapaian < 100) then '#efd31c'
							when (a.Pencapaian < 110) then '#6dff66'
							else '#6663ff'
						end as Color
					
					from [dbo].[TblD_ListProject] a
					inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
					inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
					where a.IsActive = 1
						--and a.DateDownload = @Date
						and a.DateDownload = @DateDownload --updated
						and a.IsTransformasi = 1 and a.DepartmentCode = @UnitKerja
						and (@Year between a.StartYear and a.EndYear)
						and a.IDProjectStatus not in(1, 3, 8, 9, 13)
				)
				as obj
				
			end
			else if(@Filter = 'Non Transformasi') begin
			
				select 
				obj.IDProjectHeader,
				obj.NamaProject,
				obj.Pencapaian,				
				obj.Progress,
					obj.Color,
					@Filter as Filter
				from
				(
					select
					a.IDProjectHeader,
					p.ProjectName NamaProject,
						a.Pencapaian Pencapaian,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
							when (a.Pencapaian < 85) then '#d85d5d'
							when (a.Pencapaian < 100) then '#efd31c'
							when (a.Pencapaian < 110) then '#6dff66'
							else '#6663ff'
						end as Color
					
					from [dbo].[TblD_ListProject] a
					inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
					inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
					where a.IsActive = 1
						--and a.DateDownload = @Date
						and a.DateDownload = @DateDownload --updated
						and a.IsTransformasi = 0 and a.DepartmentCode = @UnitKerja
						and (@Year between a.StartYear and a.EndYear)
						and a.IDProjectStatus not in(1, 3, 8, 9, 13)
				)
				as obj
				
			end;

		end;

	end
	else begin
	
		if(@Filter = 'All') begin
		
			select 
				obj.IDProjectHeader,
				obj.NamaProject,
				obj.Pencapaian,
				obj.Progress,
				obj.Color,
				@Filter as Filter
			from
			(
				select
				a.IDProjectHeader,
				p.ProjectName NamaProject,
						a.Pencapaian Pencapaian,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
						when (a.Pencapaian < 85) then '#d85d5d'
						when (a.Pencapaian < 100) then '#efd31c'
						when (a.Pencapaian < 110) then '#6dff66'
						else '#6663ff'
					end as Color
				
				from [dbo].[TblD_ListProject] a
				inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
				inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
				where a.IsActive = 1 
					--and a.DateDownload = @Date 
					and a.DateDownload = @DateDownload --updated
					and a.DepartmentCode = @UnitKerja
					and (@Year between a.StartYear and a.EndYear)
					and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			)
			as obj
			
		end
		else if(@Filter = 'Transformasi') begin
		
			select 
				obj.IDProjectHeader,
				obj.NamaProject,
				obj.Pencapaian,
				obj.Progress,
				obj.Color,
				@Filter as Filter
			from
			(
				select
				a.IDProjectHeader,
				p.ProjectName NamaProject,
						a.Pencapaian Pencapaian,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
							then 'Belum Dimulai'
						when (a.IDProjectStatus = 4
							or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
							then '#dcddde'
						when (a.IDProjectStatus = 4
							or a.IDProjectStatus = 12) then '#58595b'
						when (a.Pencapaian < 85) then '#d85d5d'
						when (a.Pencapaian < 100) then '#efd31c'
						when (a.Pencapaian < 110) then '#6dff66'
						else '#6663ff'
					end as Color
				
				from [dbo].[TblD_ListProject] a
				inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
				inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
				where a.IsActive = 1
					--and a.DateDownload = @Date
					and a.DateDownload = @DateDownload --updated
					and a.IsTransformasi = 1 and a.DepartmentCode = @UnitKerja
					and (@Year between a.StartYear and a.EndYear)
					and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			)
			as obj
			
		end
		else if(@Filter = 'Non Transformasi') begin
		
			select 
				obj.IDProjectHeader,
				obj.NamaProject,
				obj.Pencapaian,
				obj.Progress,
				obj.Color,
				@Filter as Filter
			from
			(
				select
				a.IDProjectHeader,
				p.ProjectName NamaProject,
						a.Pencapaian Pencapaian,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
							then 'Belum Dimulai'
						when (a.IDProjectStatus = 4
							or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
						when (a.Pencapaian < 85) then '#d85d5d'
						when (a.Pencapaian < 100) then '#efd31c'
						when (a.Pencapaian < 110) then '#6dff66'
						else '#6663ff'
					end as Color
				
				from [dbo].[TblD_ListProject] a
				inner join [dbo].[TblT_ProjectHeader] h on a.IDProjectHeader=h.IDProjectHeader
				inner join [dbo].[TblM_Project] p on h.IDProject=p.IDProject
				where a.IsActive = 1
					--and a.DateDownload = @Date
					and a.DateDownload = @DateDownload --updated
					and a.IsTransformasi = 0 and a.DepartmentCode = @UnitKerja
					and (@Year between a.StartYear and a.EndYear)
					and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			)
			as obj
			
		end;

	end;

END




GO
