USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetPeriode]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetPeriode]
(
	-- Add the parameters for the function here
	@Year int,
	@Month int
)
RETURNS varchar(20)

AS
BEGIN
	declare @periode varchar(20);
	declare @Date date = null;
	declare @Week int = null;
	declare @LastDay varchar(10) = null;
	declare @SumOfFirstWeek int = null;
	declare @SumOfFirstWeekNextYear int = null;
	set @LastDay = (select top 1 WeekDayName from TblM_Date where Year = @Year  and Month =  @Month order by Date desc);
	set @SumOfFirstWeek = (select Sum(WeekOfMonth) from TblM_Date where Year = @Year  and Month =  (@Month + 1) and WeekDayName = 'Saturday' and WeekOfMonth = 1 Group By WeekOfMonth);
	set @SumOfFirstWeekNextYear = (select Sum(WeekOfMonth) from TblM_Date where Year = @Year + 1  and Month =  1 and WeekDayName = 'Saturday' and WeekOfMonth = 1 Group By WeekOfMonth);
	-- Declare the return variable here
	if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month != 12) begin
		if(@SumOfFirstWeek = 1) begin
			set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = (@Month + 1) and WeekDayName = 'Saturday' order by Date asc)
			set @Year = year(@Date);
			set @Month = month(@Date);
			set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = (@Month + 1) and WeekDayName = 'Saturday' order by Date asc);	
			end;
		else begin
			set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
			set @Year = year(@Date);
			set @Month = month(@Date);
			set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
			end;
		end;
	else if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month = 12) begin
		if(@SumOfFirstWeekNextYear = 1 and (select top 1 Date from TblM_Date where Year = (@Year+1) and Month = 1 and WeekDayName = 'Saturday' order by Date asc) is not null) begin
			set @Date = (select top 1 Date from TblM_Date where Year = (@Year+1) and Month = 1 and WeekDayName = 'Saturday' order by Date asc)
			set @Year = year(@Date);
			set @Month = month(@Date);
			set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date asc)
			end;
		else begin	
			set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
			set @Year = year(@Date);
			set @Month = month(@Date);
			set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
			end;
		end;
	else if (@LastDay = 'Sunday') begin
			set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
			set @Year = year(@Date);
			set @Month = month(@Date);
			set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
			end;
	else begin 
		set @Date = (select top 1 Date from TblM_Date where Year = @Year  and Month =  @Month and WeekDayName = 'Saturday' order by Date desc)
		set @Year = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);
		end;

	set @periode = cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	-- Return the result of the function
	RETURN @periode

END
GO
