USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_ProjectEksekusiReportPerPeriode_BackUP]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Ufn_Get_ProjectEksekusiReportPerPeriode_BackUP] (@IDProjectHeader INT, @Tipe int)
RETURNS  @Result table(
		IDProjectHeader int,
		Periode varchar(max),
		Keys varchar(max),
		Plans varchar(max),
		Reals varchar(max)
	)
AS
begin

	DECLARE @wk int ,@mm int ,@yr varchar(4);

	SELECT @wk = WeekOfMonth , @mm = Month , @yr = Year
	FROM TblM_Date 
	Where Date = CONVERT(date,GETDATE());

	IF @Tipe = 0
	BEGIN
		
		insert into @Result
		SELECT MPPP.IDProjectHeader,
			[dbo].[Ufn_GetMonthName_Indonesia](MPPP.Month) + ' ' + CAST(MPPP.Year AS VARCHAR(4)) AS Periode,
			CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MAX(MPPP.Week)) AS Keys,
			MAX(MPPP.PlanPercentage) AS Plans,
			ROUND(
				ISNULL(
					(
						SELECT TOP 1  CAST(SUBSTRING(CAST(MPRP.CompletePercentage as varchar),1,4)as DECIMAL(20,2))
						FROM TblT_MPPProjectRealPercentage MPRP 
						WHERE MPPP.IDProjectHeader = MPRP.IDProjectHeader 
							AND MPPP.TaskID = MPRP.TaskID  
							AND MPPP.YEar = MPRP.Year 
							AND MPPP.Month = MPRP.Month 
							AND MAX(MPPP.Week) = MPRP.Week  
					), 0
				), 0
			) AS Reals
			--,(
			--	SELECT TOP 1  Em.Nama
			--	FROM TblT_ProjectExecutionApprovalRole PEAR
			--		INNER JOIN TblDW_Usergroup UG ON PEAR.Username = UG.User_LoginName
			--		INNER JOIN TblDW_Employee Em ON UG.Usergroup_Pernr = Em.PersonalNumber
			--	WHERE PEAR.IDProjectHeader = MPPP.IDProjectHeader
			--		AND PEAR.Periode = CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MAX(MPPP.Week))
			--		AND (
			--			PEAR.IsApprove IS NULL
			--			or PEAR.IsApprove = '0'
			--		)
			--		AND PEAR.IsActive = '1'				
			--) as Approval,
			--CONVERT ( 
			--	datetime, (
			--		SELECT TOP 1  PEAR.UpdatedDate
			--		FROM TblT_ProjectExecutionApprovalRole PEAR
			--			INNER JOIN TblDW_Usergroup UG ON PEAR.Username = UG.User_LoginName
			--			INNER JOIN TblDW_Employee Em ON UG.Usergroup_Pernr = Em.PersonalNumber
			--		WHERE PEAR.IDProjectHeader = MPPP.IDProjectHeader
			--			AND PEAR.Periode = CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MAX(MPPP.Week))
			--			AND PEAR.IsActive = '1'		
			--		ORDER BY PEAR.UpdatedDate DESC		
			--	), 106
			--) as UpdateDate,
			--CASE
			--	WHEN EXISTS (
			--		SELECT TOP 1  PEAR.UpdatedDate
			--		FROM TblT_ProjectExecutionApprovalRole PEAR
			--			INNER JOIN TblDW_Usergroup UG ON PEAR.Username = UG.User_LoginName
			--			INNER JOIN TblDW_Employee Em ON UG.Usergroup_Pernr = Em.PersonalNumber
			--		WHERE PEAR.IDProjectHeader = MPPP.IDProjectHeader
			--			AND PEAR.Periode = CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MAX(MPPP.Week))
			--			AND (PEAR.IsApprove = '1')
			--			AND PEAR.IsActive = '1'				
			--	) THEN 'Completed'
			--	WHEN EXISTS (
			--		SELECT TOP 1  PEAR.UpdatedDate
			--		FROM TblT_ProjectExecutionApprovalRole PEAR
			--			INNER JOIN TblDW_Usergroup UG ON PEAR.Username = UG.User_LoginName
			--			INNER JOIN TblDW_Employee Em ON UG.Usergroup_Pernr = Em.PersonalNumber
			--		WHERE PEAR.IDProjectHeader = MPPP.IDProjectHeader
			--			AND PEAR.Periode = CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MAX(MPPP.Week))
			--			AND (PEAR.IsApprove IS NULL or PEAR.IsApprove = '0' )
			--			AND PEAR.IsActive = '1'				
			--	) THEN 'Waiting for Approval'
			--	ELSE 'Not Active'
			--END as Status
		
		FROM TblT_MPPProjectPlanPercentage MPPP
		
		WHERE MPPP.IsActive = 1
			AND MPPP.IDProjectHeader = @IDProjectHeader
			AND MPPP.Year <= @yr
			AND (CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2)) <= (@yr + RIGHT('00' + CAST(@mm AS VARCHAR(2)), 2))
			AND MPPP.TaskID = (
				SELECT TOP 1 MPPC.TaskID
				FROM TblT_MPPProjectPlanPercentage MPPC
				ORDER BY TaskID ASC
			)
		GROUP BY MPPP.Month, MPPP.Year, MPPP.IDProjectHeader, MPPP.TaskID

		ORDER BY CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2) + CAST(MAX(MPPP.Week) AS VARCHAR(1)) DESC;

	END

	IF @Tipe = 1
	BEGIN
		
		insert into @Result
		SELECT 
			MPPP.IDProjectHeader,
			'Minggu ke' + ' ' + CONVERT(VARCHAR, MPPP.Week) + ', ' + [dbo].[Ufn_GetMonthName_Indonesia](MPPP.Month) + ' ' + CAST(MPPP.Year AS VARCHAR(4)) AS Periode,
			CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MPPP.Week) AS Keys,
			MPPP.PlanPercentage AS Plans,
			ROUND(CAST(SUBSTRING(CAST(MPRP.CompletePercentage as varchar),1,4)as DECIMAL(20,2)),0) AS Reals
			--,(
			--	SELECT TOP 1  Em.Nama FROM TblT_ProjectExecutionApprovalRole PEAR
			--	INNER JOIN
			--	TblDW_Usergroup UG
			--	ON
			--	PEAR.Username = UG.User_LoginName
			--	INNER JOIN
			--	TblDW_Employee Em
			--	ON
			--	UG.Usergroup_Pernr = Em.PersonalNumber
			--	WHERE
			--	 PEAR.IDProjectHeader = MPPP.IDProjectHeader
			--	AND
			--	PEAR.Periode =
			--	CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MPPP.Week)
			--	AND
			--	(PEAR.IsApprove IS NULL or PEAR.IsApprove = '0' )
			--	AND
			--	PEAR.IsActive = '1'				
			--) 
	
			--as Approval
			--,
			--CONVERT ( datetime,
			--(
			--	SELECT TOP 1  PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
			--	INNER JOIN
			--	TblDW_Usergroup UG
			--	ON
			--	PEAR.Username = UG.User_LoginName
			--	INNER JOIN
			--	TblDW_Employee Em
			--	ON
			--	UG.Usergroup_Pernr = Em.PersonalNumber
			--	WHERE
			--	 PEAR.IDProjectHeader = MPPP.IDProjectHeader
			--	AND
			--	PEAR.Periode =
			--	CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, (MPPP.Week))
			--	AND
			--	PEAR.IsActive = '1'		
			--	ORDER BY PEAR.UpdatedDate DESC		
			--),106) as UpdateDate,
			--CASE
			--WHEN
			--EXISTS
			--(
			--	SELECT TOP 1  PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
			--	INNER JOIN
			--	TblDW_Usergroup UG
			--	ON
			--	PEAR.Username = UG.User_LoginName
			--	INNER JOIN
			--	TblDW_Employee Em
			--	ON
			--	UG.Usergroup_Pernr = Em.PersonalNumber
			--	WHERE
			--	 PEAR.IDProjectHeader = MPPP.IDProjectHeader
			--	AND
			--	PEAR.Periode =
			--	CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, (MPPP.Week))
			--	AND
			--	(PEAR.IsApprove = '1')
			--	AND
			--	PEAR.IsActive = '1'				
			--) 
			--THEN
			--'Completed'
			--WHEN
			--EXISTS
			--(
			--	SELECT TOP 1  PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
			--	INNER JOIN
			--	TblDW_Usergroup UG
			--	ON
			--	PEAR.Username = UG.User_LoginName
			--	INNER JOIN
			--	TblDW_Employee Em
			--	ON
			--	UG.Usergroup_Pernr = Em.PersonalNumber
			--	WHERE
			--	 PEAR.IDProjectHeader = MPPP.IDProjectHeader
			--	AND
			--	PEAR.Periode =
			--	CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, (MPPP.Week))
			--	AND
			--	(PEAR.IsApprove IS NULL or PEAR.IsApprove = '0' )
			--	AND
			--	PEAR.IsActive = '1'				
			--)
			--THEN
			--'Waiting for Approval'
			--ELSE
			--'Not Active'
			--END
			--as Status

		FROM TblT_MPPProjectPlanPercentage MPPP
			LEFT JOIN TblT_MPPProjectRealPercentage MPRP ON MPPP.IDProjectHeader = MPRP.IDProjectHeader
				AND MPPP.TaskID = MPRP.TaskID
				AND MPPP.YEar = MPRP.Year
				AND MPPP.Month = MPRP.Month
				AND MPPP.Week = MPRP.Week

		WHERE MPPP.IsActive = 1
			AND MPPP.IDProjectHeader = @IDProjectHeader
			AND (CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2) + CAST(MPPP.Week AS VARCHAR(1))) <= (@yr + RIGHT('00' + CAST(@mm AS VARCHAR(2)), 2) + CAST(@wk AS VARCHAR(1)))
			AND MPPP.TaskID = (
				SELECT TOP 1 MPPC.TaskID
				FROM TblT_MPPProjectPlanPercentage MPPC
				ORDER BY TaskID ASC
			)

		ORDER BY CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2) + CAST(MPPP.Week AS VARCHAR(1)) DESC;

	END;
		
    return;

end  
GO
