USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_MPPProjectRealDetail]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_MPPProjectRealDetail](
	[IDMPPProjectRealDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMPPProjectPlanDetail] [bigint] NOT NULL,
	[Date] [datetime] NULL,
	[Year] [varchar](4) NULL,
	[Month] [int] NULL,
	[Week] [int] NULL,
	[ParentID] [bigint] NULL,
	[TaskID] [bigint] NULL,
	[TaskGUID] [varchar](max) NULL,
	[TaskName] [varchar](300) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Duration] [varchar](10) NULL,
	[ActualStart] [varchar](50) NULL,
	[ActualEnd] [varchar](50) NULL,
	[Notes] [varchar](max) NULL,
	[PercentageComplete] [float] NULL,
	[OutlineLevel] [varchar](100) NULL,
	[OutlineNumber] [varchar](100) NULL,
	[IsMilestone] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsSubmit] [bit] NOT NULL,
	[IsApprove] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TblT_MPPProjectRealDetail] PRIMARY KEY CLUSTERED 
(
	[IDMPPProjectRealDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
