USE [PROMISE]
GO
/****** Object:  View [dbo].[vw_project_anggaran_detail]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vw_project_anggaran_detail]
AS
SELECT f.DateDownload
	,p.IDProject
	,h.IDProjectHeader
	,h.IDProjectStatus
	,p.ProjectNo
	,p.ProjectName
	,ps.StatusName
	,f.RENCANA_KERJA
	,c.[EVDESCRIPTION] AS MataAnggaran
	,f.ACCT_CODE AS AccountCode
	,ma.[EVDESCRIPTION] AS AccountAnggaran
	,f.[TIME] AS TahunBulan
	,f.SIGNEDDATA AS Anggaran
	,IsTransformasi
FROM [TblT_ProjectRKAT] a
JOIN TblT_ProjectHeader b ON a.IDProjectHeader = b.IDProjectHeader
JOIN TblSAP_MasterRKAT c ON a.IDSAPMasterRKAT = c.IDSAPMasterRKAT
JOIN TblT_ProjectHeader h ON h.IDProjectHeader = a.IDProjectHeader
JOIN TblM_Project p ON h.IDProject = p.IDProject
JOIN TblM_ProjectStatus ps ON h.IDProjectStatus = ps.IDProjectStatus
 JOIN TblSAP_RKATFinal f ON c.IDSAP = f.RENCANA_KERJA
JOIN TblSAP_Account ma ON f.ACCT_CODE = ma.ID
WHERE p.IsActive = 1
	AND a.IsActive = 1
	AND b.idprojectheader = 21
GO
