USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_Reminder]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_Reminder](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TipeTransaksi] [varchar](50) NOT NULL,
	[NamaReminder] [varchar](500) NOT NULL,
	[IdProyek] [bigint] NULL,
	[Penerima] [int] NULL,
	[JangkaWaktu] [datetime] NULL,
	[Interval] [varchar](20) NULL,
	[TipeHari] [varchar](20) NULL,
	[Bulan] [int] NULL,
	[Tanggal] [int] NULL,
	[Hari] [varchar](20) NULL,
	[JamKirim] [time](7) NULL,
	[SubjectEmail] [varchar](max) NULL,
	[CcEmail] [int] NULL,
	[BodyEmail] [varchar](max) NULL,
	[StatusReminder] [bit] NULL,
	[IsDelete] [bit] NULL,
	[CreateBy] [varchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_TblM_Reminder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
