USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_SAPRKAT_ByCOSTCTR]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_SAPRKAT_ByCOSTCTR]
	-- Add the parameters for the stored procedure here
	@COSTCTR VARCHAR(20) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SELECT row_number() OVER (
			ORDER BY IDSAPMasterRKAT ASC
			) AS NoUrut
		,*
	FROM TblSAP_MasterRKAT
	WHERE COSTCTR LIKE '%' + @COSTCTR + '%';
END




GO
