USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardTransAndNoTrans]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Update Date : 18-11-2020
-- Update By : Yuda
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardTransAndNoTrans] -- exec Get_DashboardTransAndNoTrans
	-- Add the parameters for the stored procedure here
	@Date date = null,
	@Year int = null,
	@Month int = null,
	@Week int = null,
	@PersonalNumber varchar(max) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	SET NOCOUNT ON;
	
	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = convert(date, getdate()));
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	--else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday') end;
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Wednesday') end;

	--------------------------------------------------------------------------------------------------------------------------------------------------------------

	declare @UnitKerja varchar(20);
	declare @RoleApp varchar(max);

	if @PersonalNumber is null set @PersonalNumber = '100010';

	select top 1 @UnitKerja = b.org_unit_mast_Code
	from TblDW_Usergroup a
		inner join TblDW_EmployeeMapping b on a.User_LoginName = b.empl_mast_username
	where a.Usergroup_Pernr = @PersonalNumber;

	select top 1 @RoleApp = b.RoleGroupName
	from TblT_UserAuthorized a
		inner join TblM_RoleGroup b on a.IDRoleGroup = b.IDRoleGroup and b.IsActive = 1
	where a.IsActive = 1 and a.PersonNumber = @PersonalNumber;
	
	--Updated--
	declare @DateDownload date = null;
	select top 1 @DateDownload = DateDownload from Tbld_ListProject where DateDownload <= @Date order by DateDownload desc

	--------------------------------------------------------------------------------------------------------------------------------------------------------------

	if(@RoleApp = 'ADMINISTRATOR' or @RoleApp = 'MANAGEMENT' or @RoleApp = 'INTERNAL.AUDITOR' or (@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPSO'))begin
		
		select case
				when (a.IsTransformasi = 0) then 'Non Transformasi' 
				when (a.IsTransformasi = 1) then 'Transformasi'
			end as name,
			case
				when (a.IsTransformasi = 0) then '#58595b' 
				when (a.IsTransformasi = 1) then '#efd31c'
			end as color,
			case
				when (a.IsTransformasi = 0) then '2' 
				when (a.IsTransformasi = 1) then '1'
			end as id,
			count(*) as y
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1 
			--and a.DateDownload = @Date
			and a.DateDownload = @DateDownload --updated
			and (@year between a.StartYear and a.EndYear)
			and IDProjectStatus not in(1, 3, 8, 9, 13)
		group by a.IsTransformasi
		order by a.IsTransformasi desc;

	end
	else if(@RoleApp = 'ADMIN.PMO')begin
		
		if(@UnitKerja = 'GPTF')begin
		
			select case
					when (a.IsTransformasi = 0) then 'Non Transformasi' 
					when (a.IsTransformasi = 1) then 'Transformasi'
				end as name,
				case
					when (a.IsTransformasi = 0) then '#58595b' 
					when (a.IsTransformasi = 1) then '#efd31c'
				end as color,
				case
					when (a.IsTransformasi = 0) then '2' 
					when (a.IsTransformasi = 1) then '1'
				end as id,
				count(*) as y
			from [dbo].[TblD_ListProject] a
			where a.IsActive = 1 
				--and a.DateDownload = @Date
				and a.DateDownload = @DateDownload --updated
				and (@year between a.StartYear and a.EndYear)
				and (a.IsTransformasi = 1 or a.DepartmentCode = @UnitKerja)
				and IDProjectStatus not in(1, 3, 8, 9, 13)
			group by a.IsTransformasi
			order by a.IsTransformasi desc;

		end
		else begin
			
			select case
					when (a.IsTransformasi = 0) then 'Non Transformasi' 
					when (a.IsTransformasi = 1) then 'Transformasi'
				end as name,
				case
					when (a.IsTransformasi = 0) then '#58595b' 
					when (a.IsTransformasi = 1) then '#efd31c'
				end as color,
				case
					when (a.IsTransformasi = 0) then '2' 
					when (a.IsTransformasi = 1) then '1'
				end as id,
				count(*) as y
			from [dbo].[TblD_ListProject] a
			where a.IsActive = 1 
				--and a.DateDownload = @Date
				and a.DateDownload = @DateDownload --updated
				and (@year between a.StartYear and a.EndYear)
				and a.DepartmentCode = @UnitKerja
				and IDProjectStatus not in(1, 3, 8, 9, 13)
			group by a.IsTransformasi
			order by a.IsTransformasi desc;

		end;

	end
	else begin
	
		select case
				when (a.IsTransformasi = 0) then 'Non Transformasi' 
				when (a.IsTransformasi = 1) then 'Transformasi'
			end as name,
			case
				when (a.IsTransformasi = 0) then '#58595b' 
				when (a.IsTransformasi = 1) then '#efd31c'
			end as color,
			case
				when (a.IsTransformasi = 0) then '2' 
				when (a.IsTransformasi = 1) then '1'
			end as id,
			count(*) as y
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1 
			--and a.DateDownload = @Date
			and a.DateDownload = @DateDownload --updated
			and (@year between a.StartYear and a.EndYear)
			and a.DepartmentCode = @UnitKerja
			and IDProjectStatus not in(1, 3, 8, 9, 13)
		group by a.IsTransformasi
		order by a.IsTransformasi desc;

	end;

END




GO
