USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiReportPerPeriode]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [Usp_Get_ProjectEksekusiReportPerPeriode] '176' , '0'
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiReportPerPeriode]
	@IDProjectHeader INT
   ,@Tipe INT --- istransformasi
AS
BEGIN
	select 
	 MPPP.IDProjectHeader,
	 MPPP.Periode        ,
	 MPPP.Keys           ,
	 MPPP.Plans          ,
	 MPPP.Reals          ,
	 MPPP.Approval       ,
	 MPPP.UpdateDate     ,
	 MPPP.Status         ,
	 MPPP.vars           
 FROM [Ufn_Get_TrendEkseksiPerPeriode](@IDProjectHeader) MPPP
 ORDER  BY Cast(MPPP.year AS VARCHAR(4)) 
  + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) 
  + Cast(MPPP.week AS VARCHAR(1)) DESC 
END




GO
