USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_ProjectRoleGroup]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_ProjectRoleGroup] AS TABLE(
	[IDRoleGroup] [int] NULL,
	[Username] [varchar](50) NULL
)
GO
