USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[GenerateAllDashboard]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GenerateAllDashboard] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

exec Usp_Insert_ListProject '2025-05-12';
exec Usp_Insert_ListProject '2025-05-13';
exec Usp_Insert_ListProject '2025-05-14';
exec Usp_Insert_ListProject '2025-05-15';
exec Usp_Insert_ListProject '2025-05-16';
exec Usp_Insert_ListProject '2025-05-17';
exec Usp_Insert_ListProject '2025-05-18';
exec Usp_Insert_ListProject '2025-05-19';
exec Usp_Insert_ListProject '2025-05-20';
exec Usp_Insert_ListProject '2025-05-21';
exec Usp_Insert_ListProject '2025-05-22';
exec Usp_Insert_ListProject '2025-05-23';
exec Usp_Insert_ListProject '2025-05-24';
exec Usp_Insert_ListProject '2025-05-25';
exec Usp_Insert_ListProject '2025-05-26';
END

GO
