USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_PublicHoliday]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_PublicHoliday] AS TABLE(
	[DateKey] [varchar](max) NULL,
	[Date] [varchar](max) NULL,
	[Day] [varchar](max) NULL,
	[DaySuffix] [varchar](max) NULL,
	[Weekday] [varchar](max) NULL,
	[WeekDayName] [varchar](max) NULL,
	[IsWeekend] [varchar](max) NULL,
	[IsHoliday] [varchar](max) NULL,
	[HolidayText] [varchar](max) NULL,
	[DOWInMonth] [varchar](max) NULL,
	[DayOfYear] [varchar](max) NULL,
	[WeekOfMonth] [varchar](max) NULL,
	[WeekOfYear] [varchar](max) NULL,
	[ISOWeekOfYear] [varchar](max) NULL,
	[Month] [varchar](max) NULL,
	[MonthName] [varchar](max) NULL,
	[Quarter] [varchar](max) NULL,
	[QuarterName] [varchar](max) NULL,
	[Year] [varchar](max) NULL,
	[Semester] [varchar](max) NULL,
	[MMYYYY] [varchar](max) NULL,
	[MonthYear] [varchar](max) NULL,
	[FirstDayOfMonth] [varchar](max) NULL,
	[LastDayOfMonth] [varchar](max) NULL,
	[FirstDayOfQuarter] [varchar](max) NULL,
	[LastDayOfQuarter] [varchar](max) NULL,
	[FirstDayOfYear] [varchar](max) NULL,
	[LastDayOfYear] [varchar](max) NULL,
	[FirstDayOfNextMonth] [varchar](max) NULL,
	[FirstDayOfNextYear] [varchar](max) NULL
)
GO
