USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_TransaksiChangeManagement]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_TransaksiChangeManagement]
	-- Add the parameters for the stored procedure here
	@IDProjectHeader int = null,
	@IDJenisPerubahan int = null,
	@TypeOfCR nvarchar(50) = null,
	@SubmitterName nvarchar(500) = null,
	@BriefDescriptionOfRequest nvarchar(max) = null,
	@DateSubmitted datetime = null,
	@DateRequired datetime = null,
	@ReasonForChange nvarchar(max) = null,
	@PenyebabLain nvarchar(max) = null,
	@OtherArtifactsImpacted nvarchar(max) = null,
	@AttachmentsOrReferences bit = null,
	@Catatan nvarchar(max) = null,
	@Deskripsi nvarchar(max) = null,

	--tambahan
	@JenisPerubahan varchar(20) = null,
	@IsCancel bit = null,

	@TypeTransaction varchar(50) = null,
	@User varchar(50) = null,
	@Udt_ProjectChangeApprovalRole Udt_ProjectChangeApprovalRole null readonly

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		begin transaction;
		
		declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @User);

		if(@Username = null) begin set @Username = '-'; end;

		if(@TypeTransaction = 'Change Request')begin
			
			--if(@IDJenisPerubahan = 5)begin
			
			--	update TblT_ProjectHeader
			--	set IDProjectStatus = 3
			--	where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

			--end
			--else begin
			
			--	update TblT_ProjectHeader
			--	set IDProjectStatus = 10
			--	where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

			--end

			-- tambahan
			if(@IsCancel = 1)begin
			
				update TblT_ProjectHeader
				set IDProjectStatus = 3, updatedBy = @Username,UpdatedDate = GetDate()
				where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

			end
			else begin
			
				update TblT_ProjectHeader
				set IDProjectStatus = 10, updatedBy = @Username,UpdatedDate = GetDate()
				where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

			end

			if exists( select * from TblT_ProjectChangeManagement where IsActive = 1 and IDProjectHeader = @IDProjectHeader) begin
				update TblT_ProjectChangeManagement set 
					IDJenisPerubahan = @IDJenisPerubahan,
					TypeOfCR = @TypeOfCR,
					SubmitterName = @SubmitterName,
					BriefDescriptionOfRequest = @BriefDescriptionOfRequest,
					AlasanPenyebabLain = @PenyebabLain,
					DateSubmitted = @DateSubmitted,
					DateRequired = @DateRequired,
					ReasonForChange = @ReasonForChange,
					OtherArtifactsImpacted = @OtherArtifactsImpacted,
					AttachmentsOrReferences = @AttachmentsOrReferences,
					Catatan = @Catatan,
					Deskripsi = @Deskripsi,
					CreatedDate = getdate(),
					CreatedBy = @Username,
					IsActive = 1
				
				where IDProjectHeader = @IDProjectHeader and IsActive = 1;
			end
			else begin
				insert into TblT_ProjectChangeManagement (
					IDProjectHeader,
					IDJenisPerubahan,
					TypeOfCR,
					SubmitterName,
					BriefDescriptionOfRequest,
					DateSubmitted,
					DateRequired,
					ReasonForChange,
					OtherArtifactsImpacted,
					AttachmentsOrReferences,
					Catatan,
					Deskripsi,
					CreatedDate,
					CreatedBy,
					IsActive,
					AlasanPenyebabLain,
					JenisPerubahan  -- tambahan
				)values
				(
					@IDProjectHeader,
					@IDJenisPerubahan,
					@TypeOfCR,
					@SubmitterName,
					@BriefDescriptionOfRequest,
					@DateSubmitted,
					@DateRequired,
					@ReasonForChange,
					@OtherArtifactsImpacted,
					@AttachmentsOrReferences,
					@Catatan,
					@Deskripsi,
					getdate(),
					@Username,
					1,
					@PenyebabLain,
					@JenisPerubahan -- tambahan
				);
			end;

			declare @ScopeIDProjectChangeManagement int = scope_identity();

			update TblT_ProjectChangesApprovalRole 
			set IsActive = 0,
				UpdatedDate = getdate(),
				UpdatedBy = @Username
			where IDProjectChangeManagement = @ScopeIDProjectChangeManagement;

			insert into TblT_ProjectChangesApprovalRole (
				IDProjectChangeManagement,
				IDRoleGroup,
				Sequence,
				Username,
				Email,
				PositionCode,
				ActiveDate,
				EndDate,
				IsEnabled,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			select @ScopeIDProjectChangeManagement,
				a.IDRoleGroup,
				a.Sequence,
				a.Username,
				a.Username + '@lps.go.id',
				c.KodePosisi,
				getdate(),--a.ActiveDate,
				getdate(),--a.EndDate,
				a.IsEnabled,
				getdate(),
				@Username,
				1
			from @Udt_ProjectChangeApprovalRole a
				left join TblDW_Usergroup b on a.Username = b.User_LoginName
				left join TblDW_Employee c on b.Usergroup_Pernr = c.PersonalNumber;

			insert into TblH_ProjectChangeApproval (
				IDProjectChangeManagement,
				Type,
				Remarks,
				CreatedDate,
				CreatedBy
			) values (
				@ScopeIDProjectChangeManagement,
				'Submit',
				'-',
				getdate(),
				@Username
			);

			select 'S|Sukses';

		end
		else if(@TypeTransaction = 'Change Request0')begin
			
			insert into TblM_Project (
				IDProgram,
				IDStrategicObjective,
				IDProjectPriority,
				IDDepartment,
				ProjectNo,
				Year,
				ProjectName,
				Weight,
				Parent,
				CreatedDate,
				CreatedBy,
				IsTransformasi,
				IsActive
			)
			select a.IDProgram,
				a.IDStrategicObjective,
				a.IDProjectPriority,
				a.IDDepartment,
				a.ProjectNo,
				a.Year,

				a.ProjectName + ' Versi ' + convert(nvarchar(10),
					(select count(*) + 1
					from TblM_Project c 
					where IsActive = 1 
						and c.ProjectName like '%' + a.ProjectName + '%')
				) as ProjectName,

				a.Weight,
				a.IDProject,
				getdate(),
				@Username,
				a.IsTransformasi,
				1
			from TblM_Project a
				left join TblT_ProjectHeader b on a.IDProject = b.IDProject
			where a.IsActive = 1
				and b.IsActive = 1
				and b.IDProjectHeader = @IDProjectHeader;

			declare @ScopeIdentity int = scope_identity();

			--+-----------+--
			--+ IDProject +--
			--+-----------+--

			insert into TblT_ProjectHeader(
				IDProject,
				Sequence,
				IDProjectStatus,
				StartYear,
				StartMonth,
				EndYear,
				EndMonth,
				NoKontrak,
				ContractStartDate,
				ContractEndDate,
				ContractIDR,
				ContractUSD,
				WeightKPI,
				CreatedDate,
				CreatedBy,
				UpdatedDate,
				UpdatedBy,
				IsActive
			)
			select @ScopeIdentity,
				
				case
				when Sequence is null then 1
				else Sequence + 1
				end as Sequence,

				10,
				StartYear,
				StartMonth,
				EndYear,
				EndMonth,
				NoKontrak,
				ContractStartDate,
				ContractEndDate,
				ContractIDR,
				ContractUSD,
				WeightKPI,
				getdate(),
				@Username,
				getdate(),
				@Username,
				1
			from TblT_ProjectHeader
			where IDProjectHeader = @IDProjectHeader and IsActive = 1;
			
			declare @ScopeIDProjectHeader int = scope_identity();
			
			--+-----------------+--
			--+ IDProjectHeader +--
			--+-----------------+--

			insert into TblT_ProjectRKAT (
				IDProjectHeader,
				IDSAPMasterRKAT,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			select @ScopeIDProjectHeader,
				IDSAPMasterRKAT,
				getdate(),
				@Username,
				1
			from TblT_ProjectRKAT
			where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

			insert into TblT_ProjectKPIOrganization (
				IDProjectHeader,
				IDKPIOrganization,
				Weight,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			select @ScopeIDProjectHeader,
				IDKPIOrganization,
				Weight,
				getdate(),
				@Username,
				1
			from TblT_ProjectKPIOrganization
			where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

			insert into TblT_ProjectDetail (
				IDProjectHeader,
				Background,
				Objective,
				ScopeOfWork,
				BudgetDescription,
				OrganizationChart,
				CreatedDate,
				createdBy,
				IsActive
			)
			select @ScopeIDProjectHeader,
				Background,
				Objective,
				ScopeOfWork,
				BudgetDescription,
				OrganizationChart,
				getdate(),
				@Username,
				1
			from TblT_ProjectDetail 
			where IsActive = 1  and IDProjectHeader = @IDProjectHeader;

			insert into TblT_ProjectRisk (
				IDProjectHeader,
				Constraints,
				Assumptions,
				Risk,
				Approach,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			select @ScopeIDProjectHeader,
				Constraints,
				Assumptions,
				Risk,
				Approach,
				getdate(),
				@Username,
				1
			from TblT_ProjectRisk
			where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

			insert into TblT_ProjectChangeManagement (
				IDProjectHeader,
				IDJenisPerubahan,
				TypeOfCR,
				SubmitterName,
				BriefDescriptionOfRequest,
				DateSubmitted,
				DateRequired,
				ReasonForChange,
				OtherArtifactsImpacted,
				AttachmentsOrReferences,
				Catatan,
				Deskripsi,
				CreatedDate,
				CreatedBy,
				IsActive,
				AlasanPenyebabLain,
				JenisPerubahan -- tambahan
			)values
			(
				@ScopeIDProjectHeader,
				@IDJenisPerubahan,
				@TypeOfCR,
				@SubmitterName,
				@BriefDescriptionOfRequest,
				@DateSubmitted,
				@DateRequired,
				@ReasonForChange,
				@OtherArtifactsImpacted,
				@AttachmentsOrReferences,
				@Catatan,
				@Deskripsi,
				getdate(),
				@Username,
				1,
				@PenyebabLain,
				@JenisPerubahan -- tambahan
			);

			declare @IDProjectChangeManagement int = scope_identity();

			update TblT_ProjectChangesApprovalRole 
			set IsActive = 0,
				UpdatedDate = getdate(),
				UpdatedBy = @Username
			where IDProjectChangeManagement = @IDProjectChangeManagement;

			insert into TblT_ProjectChangesApprovalRole (
				IDProjectChangeManagement,
				IDRoleGroup,
				Sequence,
				Username,
				Email,
				PositionCode,
				ActiveDate,
				EndDate,
				IsEnabled,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			select @IDProjectChangeManagement,
				a.IDRoleGroup,
				a.Sequence,
				a.Username,
				a.Username + '@lps.go.id',
				c.KodePosisi,
				getdate(),--a.ActiveDate,
				getdate(),--a.EndDate,
				a.IsEnabled,
				getdate(),
				@Username,
				1
			from @Udt_ProjectChangeApprovalRole a
				left join TblDW_Usergroup b on a.Username = b.User_LoginName
				left join TblDW_Employee c on b.Usergroup_Pernr = c.PersonalNumber;

			insert into TblH_ProjectChangeApproval (
				IDProjectChangeManagement,
				Type,
				Remarks,
				CreatedDate,
				CreatedBy
			) values (
				@IDProjectChangeManagement,
				'Submit',
				'-',
				getdate(),
				@Username
			);

			select 'S|Sukses';

		end
		else begin select 'F|Tipe trsansaksi tidak tersedia' end;

		commit;
	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_TransaksiChangeManagement', @ErrNum, @ErrMsg, @Username;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch;


END




GO
