USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_DashboardRealPercentage]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_DashboardRealPercentage]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SELECT 
		Proj.ProjectNo , 
		Proj.ProjectName, 
		PH.IDProjectHeader,
		ISNULL( 
		(
			SELECT TOP 1 CompletePercentage FROM  
			TblT_MPPProjectRealPercentage MRP
			INNER JOIN 
			TblT_MPPProjectPlanDetail MPPD
			ON
			MRP.TaskID = MPPD.TaskID
			AND
			MPPD.ProjectHeaderID = MRP.IDProjectHeader
			where MPPD.ParentID = 0 
			and 
			MRP.IDProjectHeader = PH.IDProjectHeader
			ORDER BY
			MRP.CreatedDate DESC			
		),0)  as RealPercentage,
		NULL as Anggaran
	FROM 
	TblT_ProjectHeader PH
	INNER JOIN
	TblM_Project Proj
	ON
	PH.IDProject = Proj.IDProject
	INNER JOIN
	TblT_MPPProjectPlanDetail MP
	ON
	PH.IDProjectHeader = MP.ProjectHeaderID
	WHERE
	PH.ISactive = '1'
	and
	Proj.IsACtive = '1'
	GROUP BY
	Proj.ProjectNo , Proj.ProjectName, PH.IDProjectHeader


	

	
END




GO
