USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterProject_ByID_CatProj]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MasterProject_ByID_CatProj]
	-- Add the parameters for the stored procedure here
	@IDProject int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	-- Header (table[0])
	select
		row_number() over (order by UpdatedDate desc) as NoUrut,
		* 
	from
		TblM_Project 
	where
		IsActive = 1
		and IDProject = @IDProject;

	-- Dropdown Program (table[1])
	declare @IDProgram int = (select top 1 IDProgram from TblM_Project where IDProject = @IDProject);
	select
		a.IDProgram,
		a.ProgramName,
		case
			when(a.IDProgram = @IDProgram) then 1
			else 0
		end as IsActive
	from 
		TblM_Program a
	where
		a.IsActive = 1
	order by a.ProgramName asc;

	-- Table SAP RKAT (table[2])
	select row_number() over (order by a.IDSAPMasterRKAT desc) as NoUrut,
		a.IDSAPMasterRKAT as IDSAPRKAT,
		a.EVDESCRIPTION as DESCRIPTION,
		a.*,
		dbo.Ufn_GetTotalAnggaran(a.IDSAP) AS Value
	from TblSAP_MasterRKAT a
		left join TblT_ProjectRKAT b on a.IDSAPMasterRKAT = b.IDSAPMasterRKAT
		left join TblT_ProjectHeader c on b.IDProjectHeader = c.IDProjectHeader
		left join TblM_Project d on c.IDProject = d.IDProject
	where b.IsActive = 1 and c.IsActive = 1 and d.IsActive = 1 and d.IDProject = @IDProject;
		
	-- Dropdown SO (table[3])
	declare @IDStrategicObjective int = (select top 1 IDStrategicObjective from TblM_Project where IDProject = @IDProject);
	select
		a.IDStrategicObjective,
		a.StrategicObjectiveCode,
		a.StrategicObjectiveName,
		case
			when(a.IDStrategicObjective = @IDStrategicObjective) then 1
			else 0
		end as IsActive
	from 
		TblM_StrategicObjective a
	where
		a.IsActive = 1;
		
	-- Table KPI (table[4])
	select row_number() over (order by a.IDKPIOrganization desc) as NoUrut,
		a.*
	from TblM_KPIOrganization a
		left join TblT_ProjectKPIOrganization b on a.IDKPIOrganization = b.IDKPIOrganization
		left join TblT_ProjectHeader c on b.IDProjectHeader = c.IDProjectHeader
		left join TblM_Project d on c.IDProject = d.IDProject
	where a.IsActive = 1 and b.IsActive = 1 and c.IsActive = 1 and d.IsActive = 1 and d.IDProject = @IDProject;
		
	-- Dropdown Project Priority (table[5])
	declare @IDProjectPriority int = (select top 1 IDProjectPriority from TblM_Project where IDProject = @IDProject);
	select
		a.IDProjectPriority,
		a.Name,
		case
			when(a.IDProjectPriority = @IDProjectPriority) then 1
			else 0
		end as IsActive
	from 
		TblM_ProjectPriority a
	where
		a.IsActive = 1;
		
	-- Dropdown Department (table[6])
	declare @IDDepartment int = (select top 1 IDDepartment from TblM_Project where IDProject = @IDProject);
	select
		a.IDDepartment,
		a.DepartmentName + ' (' + a.DepartmentCode + ')' as DepartmentName,
		a.CostCenter,
		case
			when(a.IDDepartment = @IDDepartment) then 1
			else 0
		end as IsActive
	from 
		TblM_Department a
	where
		a.IsActive = 1;
		
	-- Table List User Project (table[7])
	if exists (
		select *
		from TblM_Project a
			inner join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IsActive = 1
			inner join TblT_ProjectInitApprovalRole c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1
		where a.IsActive = 1 and a.IDProject = @IDProject
	)begin

		select  row_number() over (
				order by 
					g.Sequence--h.IDRoleGroup
				asc
			) as NoUrut,
			g.Username,
			g.ActiveDate,
			g.EndDate,
			g.IsEnabled,
			e.KodePosisi,
			--e.Jabatan,
			e.Posisi as Jabatan,
			e.Nama,
			e.KodeUnitKerja,
			e.PersonalNumber,
			h.Description as RoleGroupName,
			h.IDRoleGroup,
			g.IsApprove

		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject
			
			--left join TblT_ProjectRoleGroup g on b.IDProjectHeader = g.IDProjectHeader
			left join TblT_ProjectInitApprovalRole g on b.IDProjectHeader = g.IDProjectHeader
			left join TblM_RoleGroup h on g.IDRoleGroup = h.IDRoleGroup

			left join TblDW_Usergroup d on g.Username = d.User_LoginName
			left join TblDW_Employee e on d.Usergroup_Pernr = e.PersonalNumber
			
			--left join TblT_ProjectInitApprovalRole c on g.Username = c.Username and g.IDProjectHeader = c.IDProjectHeader

		where a.IsActive = 1
			and b.IsActive = 1
			--and c.IsActive = 1
			and g.IsActive = 1
			and h.IsActive = 1
			and b.IDProject = @IDProject
		
		group by g.Username,
			g.ActiveDate,
			g.EndDate,
			g.IsEnabled,
			e.KodePosisi,
			--e.Jabatan,
			e.Posisi,
			e.Nama,
			e.KodeUnitKerja,
			e.PersonalNumber,
			h.Description,--RoleGroupName,
			h.IDRoleGroup,
			g.Sequence,
			g.IsApprove;

	end
	else begin
		
		select row_number() over (
				order by 
					d.Level--h.IDRoleGroup
				desc
			) as NoUrut,
			c.Username,
			getdate() as ActiveDate,
			getdate() as EndDate,
			1 as IsEnabled,
			f.KodePosisi,
			--f.Jabatan,
			f.Posisi as Jabatan,
			f.Nama,
			f.KodeUnitKerja,
			f.PersonalNumber,
			d.Description as RoleGroupName,
			d.IDRoleGroup,
			0 as IsApprove
		from TblM_Project a
			inner join TblT_ProjectHeader b on a.IDProject  = b.IDProject and b.IsActive = 1
			inner join TblT_ProjectRoleGroup c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1
			inner join TblM_RoleGroup d on c.IDRoleGroup = d.IDRoleGroup and d.IsActive = 1
			left join TblDW_Usergroup e on c.Username = e.User_LoginName
			left join TblDW_Employee f on e.Usergroup_Pernr = f.PersonalNumber
		where a.IsActive = 1 and a.IDProject = @IDProject;

	end;

	-- Table Master Role Group (table[8])

	select * from TblM_RoleGroup where IsActive = 1 and IDRoleGroup <> 1 and IDRoleGroup <> 10 and IDRoleGroup <> 12 and IDRoleGroup <> 4 and IDRoleGroup <> 11 and IDRoleGroup <> 13;

	-- Table List Kategori Project (table[9])
	--select * from TblM_KategoriProject where IsActive = 1 
	declare @IDKategoriProject int = (select top 1 IDKategoriProject from TblM_Project where IDProject = @IDProject);
	select
		a.IDKategoriProject,
		a.KategoriName,
		case
			when(a.IDKategoriProject = @IDKategoriProject) then 1
			else 0
		end as IsActive
	from 
		TblM_KategoriProject a
	where
		a.IsActive = 1;

	-- Table KPI (table[10])
	select
		a.IdMku,
		a.IdDepartment,
		d.DepartmentCode,
		d.DepartmentName
	from TblM_Mku a
		join TblT_ProjectHeader b on a.IDProjectHeader = b.IDProjectHeader
		join TblM_Project c on b.IDProject = c.IDProject
		join TblM_Department d on d.IDDepartment = a.IDDepartment
	where a.IsActive = 1 and b.IsActive = 1 and c.IsActive = 1 and d.IsActive = 1 and c.IDProject = @IDProject;

END



GO
