USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_SAPCarryOver]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_SAPCarryOver] AS TABLE(
	[ACCT_CODE] [varchar](20) NULL,
	[AST_TYP] [varchar](20) NULL,
	[AUDITTRAIL] [varchar](20) NULL,
	[CATEGORY] [varchar](20) NULL,
	[COSTCTR] [varchar](20) NULL,
	[DRIVER] [varchar](20) NULL,
	[FLOW] [varchar](20) NULL,
	[RENCANA_KERJA] [varchar](20) NULL,
	[RPTCURRENCY] [varchar](20) NULL,
	[STD_BIAYA] [varchar](20) NULL,
	[STRAT_OBJ] [varchar](20) NULL,
	[TIME] [varchar](20) NULL,
	[SIGNEDDATA] [varchar](20) NULL
)
GO
