USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_ACCOUNT]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Andre Ibrahim Latief
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_ACCOUNT] @ID VARCHAR(20)
	,@ACCTYPE VARCHAR(20)
	,@ASSUM_TYPE VARCHAR(20)
	,@DIMLIST_CF VARCHAR(20)
	,@EVDESCRIPTION VARCHAR(20)
	,@FS VARCHAR(20)
	,@PLANNING VARCHAR(20)
	,@RATETYPE VARCHAR(20)
	,@REF_ACCOUNT VARCHAR(20)
	,@SCALING VARCHAR(20)
	,@PARENTH1 VARCHAR(20)
	,@PARENTH2 VARCHAR(20)
	,@PARENTH3 VARCHAR(20)
	,@PARENTH4 VARCHAR(20)
	,@PARENTH5 VARCHAR(20)
AS
BEGIN
	DECLARE @errm VARCHAR(max)
		,@errn INT
		,@count INT

	BEGIN TRY
		BEGIN TRANSACTION CarryOver

		IF NOT EXISTS (
				SELECT ID
				FROM TblSAP_Account
				WHERE ID = @ID
					AND ACCTYPE = @ACCTYPE
				)
		BEGIN
			INSERT INTO TblSAP_Account (
				[DateDownload]
				,ID
				,ACCTYPE
				,ASSUM_TYPE
				,DIMLIST_CF
				,EVDESCRIPTION
				,FS
				,PLANNING
				,RATETYPE
				,REF_ACCOUNT
				,SCALING
				,PARENTH1
				,PARENTH2
				,PARENTH3
				,PARENTH4
				,PARENTH5
				,[CreatedDate]
				,[CreatedBy]
				)
			VALUES (
				CONVERT(DATE, GETDATE())
				,@ID
				,@ACCTYPE
				,@ASSUM_TYPE
				,@DIMLIST_CF
				,@EVDESCRIPTION
				,@FS
				,@PLANNING
				,@RATETYPE
				,@REF_ACCOUNT
				,@SCALING
				,@PARENTH1
				,@PARENTH2
				,@PARENTH3
				,@PARENTH4
				,@PARENTH5
				,GETDATE()
				,'System.Downloader'
				)

			SELECT 'Success Inserting ACCOUNT With ACCT_CODE : ' + @ID
		END
		ELSE
		BEGIN
			UPDATE TblSAP_Account
			SET ACCTYPE = @ACCTYPE
				,ASSUM_TYPE = @ASSUM_TYPE
				,DIMLIST_CF = @DIMLIST_CF
				,EVDESCRIPTION = @EVDESCRIPTION
				,FS = @FS, PLANNING = @PLANNING, RATETYPE = @RATETYPE, REF_ACCOUNT = @REF_ACCOUNT, SCALING = @SCALING, PARENTH1 = @PARENTH1, PARENTH2 = @PARENTH2, PARENTH3 = @PARENTH3, PARENTH4 = @PARENTH4 , PARENTH5  = @PARENTH5
				, CreatedDate = GETDATE() , CreatedBy = 'System.Downloader'
			WHERE ID = @ID
				AND ACCTYPE = @ACCTYPE

			SELECT 'Success Updating Data ACCOUNT With ACCT_CODE : ' + @ID
		END

		COMMIT TRANSACTION CarryOver
	END TRY

	BEGIN CATCH
		ROLLBACK TRANSACTION CarryOver

		SELECT @errm = ERROR_MESSAGE()
			,@errn = ERROR_NUMBER()

		EXEC Usp_Insert_ErrorLog 'Usp_Insert_SAPRKATFINAL'
			,@errn
			,@errm
			,'System'

		SELECT 'Error Inserting ACCOUNT With ACCT_CODE : ' + @ID
	END CATCH
END




GO
