USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetHangusAnggaran]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetHangusAnggaran] -- select [dbo].[Ufn_GetRealisasiAnggaran]('UMM19.04D') -- 74819800
(
	-- Add the parameters for the function here
	@RENCANA_KERJA VARCHAR(20)
)
RETURNS DECIMAL(30,0)
AS
BEGIN

	declare @Result decimal(30,0);
	declare @MaxDate date;

	set @MaxDate = (
		select top 1 DateDownload
		from TblSAP_Hangus
		where RENCANA_KERJA = @RENCANA_KERJA
		order by DateDownload desc
	);

	set @Result = (
		select sum(cast(SIGNEDDATA as decimal(30,0)))
		from TblSAP_Hangus 
		where RENCANA_KERJA = @RENCANA_KERJA and DateDownload = @MaxDate
	);

	return @Result;

END
GO
