USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_TxPH_ByID_Document]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_TxPH_ByID_Document]
	-- Add the parameters for the stored procedure here
	-- [[Usp_Get_TxProjectHeader_ByID]] '2' , '100011'
	@IDProjectHeader int,
	@User varchar(500)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	declare @Username varchar(max);
	select @Username = a.User_LoginName from TblDW_Usergroup a where a.Usergroup_Pernr = @User;

	declare @IDProject int = (select top 1 IDProject from TblT_ProjectHeader where IDProjectHeader = @IDProjectHeader);

	-- Header (table[0])
	select	row_number() over (order by UpdatedDate desc) as NoUrut, * 
	from TblM_Project 
	where IsActive = 1 and IDProject = @IDProject;

	--exec Usp_Get_MasterProject_ByID @IDProject = @IDProject;

	-- Table Transaksi ProjectHeader (table[9])
	select a.*, b.StatusName,

		case
			when (select a.IDRoleGroup from TblT_UserAuthorized a where a.Username = @Username and IsActive = 1) = 1 then '1|1'
				
				--(
				--	select TOP 1 cast(e.Usergroup_Pernr as nvarchar(50)) +'|1'
				--	from [dbo].[TblT_ProjectInitApprovalRole] d
				--		left join TblDW_Usergroup e on d.Username = e.User_LoginName
				--	where d.IsActive = 1 and ( d.isApprove = 0 or d.IsApprove is NULL) and IsEnabled = 1 and d.IDProjectHeader = a.IDProjectHeader order by Sequence desc
				--)
			
			when (select a.IDRoleGroup from TblT_UserAuthorized a where a.Username = @Username and IsActive = 1) = 4 then --'4'
			
				(
					select TOP 1 cast(e.Usergroup_Pernr as nvarchar(50)) + '|4'
					from [dbo].[TblT_ProjectInitApprovalRole] d
						left join TblDW_Usergroup e on d.Username = e.User_LoginName
					where d.IsActive = 1 and ( d.isApprove = 0 or d.IsApprove is NULL) and IsEnabled = 1 and d.IDProjectHeader = a.IDProjectHeader order by Sequence desc
				)
			
			when (select count(*) from TblT_ProjectInitApprovalRole c where c.IsActive = 1 and c.IDProjectHeader = a.IDProjectHeader) > 0 then
			
				(
					select TOP 1 cast(e.Usergroup_Pernr as nvarchar(50)) + '|0'
					from [dbo].[TblT_ProjectInitApprovalRole] d
						left join TblDW_Usergroup e on d.Username = e.User_LoginName
					where d.IsActive = 1 and ( d.isApprove = 0 or d.IsApprove is NULL) and IsEnabled = 1 and d.IDProjectHeader = a.IDProjectHeader order by Sequence desc
				)
			
			else '0|0'
		end as NeedApproval

	from TblT_ProjectHeader a
		left join TblM_ProjectStatus b on a.IDProjectStatus = b.IDProjectStatus
	where a.IsActive = 1 and b.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader;


	-- GET DOCUMENT (table[21])
	SELECT 
		doc.IDDocument as [ID] , doc.DocumentName as [DocName] , dt.Description as [DocType]
	FROM
	TblT_Document doc
	INNER JOIN
	TblM_DocumentType dt
	ON
	doc.IDDocType = dt.IDDocType
	where
	IDProjectHeader = (select dbo.ufn_GetProjectHeaderRoot(@IDProjectHeader)) --@IDProjectHeader
	and 
	IDDocPhase = '1'
	and 
	doc.IsActive = '1'
	and
	doc.DocumentName NOT LIKE '%.mpp%'
	ORDER BY
	doc.CreatedDate DESC
		 
END




GO
