USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[mobile_project_status]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mobile_project_status]
@filter nvarchar(90)
as

select ProjectName, DepartmentName,IsTransformasi,Pencapaian,Tren 
from TblD_ListProject where IsActive = 1 and DateDownload = cast (GETDATE() as date) and Tren = @filter
order by Pencapaian desc,DepartmentName




GO
