USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[mobile_get_DashboardProjectOverall]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mobile_get_DashboardProjectOverall] -- exec [mobile_get_DashboardProjectOverall] '20190722', 'Direktorat'
@date nvarchar(90),
@filter nvarchar(90)
AS
declare @year nvarchar(90)
declare @month nvarchar(90)
declare @week nvarchar(90)

select @year = Year from TblM_Date where DateKey = @date
select @month = Month from TblM_Date where DateKey = @date
select @week = WeekOfMonth from TblM_Date where DateKey = @date

exec dbo.Get_DashboardProjectOverall @filter,@year
-- Unit Kerja, Direktorat,Strategic Objective



GO
