USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiList_BackUP]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [Usp_Get_ProjectEksekusiList] '100011'
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiList_BackUP] @personnumber VARCHAR(20)
AS
BEGIN
	DECLARE @usern varchar(max), @role int
	
	SELECT @usern = UA.Username, @role = Ua.IDRoleGroup FROM TblT_UserAuthorized UA where
	UA.PersonNumber = @personnumber
	
	If @role = 1
	BEGIN	
		SELECT IDProjectHeader AS ProyekPK
		,ProjectName AS NamaProyek
		,CONVERT(DATE, (
				SELECT TOP 1 StartDate
				FROM TblT_MPPProjectPlanDetail
				WHERE ProjectHeaderID = Main.IDProjectHeader
					AND IsActive = '1'
					AND TaskID > 0
				)) AS TanggalMulaiProyek
		,CONVERT(DATE, (
				SELECT TOP 1 EndDate
				FROM TblT_MPPProjectPlanDetail
				WHERE ProjectHeaderID = Main.IDProjectHeader
					AND IsActive = '1'
					AND TaskID > 0
				)) AS TanggalTutupProyek
		,CASE 
			WHEN (
					SELECT COUNT(*)
					FROM TblT_MPPProjectRealDetail MPPRD
					INNER JOIN (
						SELECT TOP 1 *
						FROM TblT_MPPProjectPlanDetail
						WHERE ProjectHeaderID = Main.IDProjectHeader
							AND IsActive = '1'
							AND TaskID > 0
						) aa ON MPPRD.IDMPPProjectPlanDetail = aa.IDMPPProjectPlanDetail
					) > 0
				THEN ROUND(ISNULL((
						SELECT TOP 1  CAST(SUBSTRING(CAST(MPPRD.CompletePercentage as varchar),1,4)as DECIMAL(20,2)) --MPPRD.CompletePercentage
						FROM
						TblT_MPPProjectRealPercentage MPPRD
						where
						IDProjectHeader = Main.IDProjectHeader
						and
						IsActive = 1
						and
						TaskID > 0
						order by MPPRD.TaskID asc , MPPRD.CreatedDate Desc
						-- TblT_MPPProjectRealDetail MPPRD
						--INNER JOIN (
						--	SELECT TOP 1 *
						--	FROM TblT_MPPProjectPlanDetail
						--	WHERE ProjectHeaderID = Main.IDProjectHeader
						--		AND IsActive = '1'
						--		AND TaskID > 0
						--	) aa ON MPPRD.IDMPPProjectPlanDetail = aa.IDMPPProjectPlanDetail
						),0),2)
			ELSE (
					ROUND((SELECT TOP 1 PercentageComplete
					FROM TblT_MPPProjectPlanDetail
					WHERE ProjectHeaderID = Main.IDProjectHeader
						AND IsActive = '1'
						AND TaskID > 0),2)
					)
			END AS PersentaseKomplit
		,(
			SELECT TOP 1 
				DurationInDays
			FROM
			dbo.Ufn_Get_DurationInDays_PerProject(Main.IDProjectHeader)
			WHERE ParentID = 0
			AND TaskID > 0
			) AS Durasi
		,
		
			(
				SELECT TOP 1  UG.User_LoginName FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = Main.IDProjectHeader
				AND
				 PEAR.IsApprove = '1'
				AND
				PEAR.IsActive = '1'		
				ORDER BY PEAR.UpdatedDate DESC		
			)
		
		AS TerakhirDirubahOleh
		,
		ISNULL(
		--CONVERT ( Datetime,
			(
				SELECT TOP 1 CONVERT(varchar(2),DAY(PEAR.UpdatedDate)) + ' '+ [dbo].[Ufn_GetMonthName_Indonesia](MONTH(PEAR.UpdatedDate)) + ' '+ CONVERT(varchar(4),YEAR(PEAR.UpdatedDate)) + ' ' + convert(varchar(10), PEAR.UpdatedDate, 108)  FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = Main.IDProjectHeader
				AND
				PEAR.IsActive = '1'		
				ORDER BY PEAR.UpdatedDate DESC		
			),NULL )
		AS TerakhirDirubahPada
		,NULL AS STATUS
		,CASE 
			WHEN Transformasi = 1
				THEN 1
			ELSE 0
			END AS isTransformasi
	FROM (
		SELECT DISTINCT PH.IDProjectHeader AS IDProjectHeader
			,Proj.ProjectName AS ProjectName
			,Proj.IsTransformasi AS Transformasi
		FROM TblT_ProjectHeader PH
		--INNER JOIN TblT_ProjectInitApprovalRole PIAR ON PH.IDProjectHeader = PIAR.IDProjectHeader
		INNER JOIN TblM_Project Proj ON PH.IDProject = Proj.IDProject
		--LEFT JOIN TblT_ProjectInitApprovalRole PR
		--ON
		--PH.IDProjectHeader = PR.IDProjectHeader
		--WHERE PIAR.Sequence IN (
		--		SELECT Seq
		--		FROM (
		--			SELECT R.IDProjectHeader
		--				,MIN(R.Sequence) AS Seq
		--			FROM TblT_ProjectInitApprovalRole R
		--			WHERE R.IsApprove = 1
		--				AND R.IsActive = 1
		--			GROUP BY R.IDProjectHeader
		--			) zz
		--		)
			--AND PIAR.IsApprove = 1
			--AND PIAR.IsActive = 1
			WHERE PH.IsActive = 1
			AND (SELECT 1 FROM TblT_ProjectInitApprovalRole WHERE IDProjectHeader = PH.IDProjectHeader AND Sequence = 1 AND IsApprove = 1 AND IsActive = 1 AND IsEnabled = 1
			) = 1
			--AND PR.Username = @usern and PR.IsActive = 1
		) Main
		ORDER BY 
		ISNULL(
		CONVERT ( Datetime,
			(
				SELECT TOP 1  PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = Main.IDProjectHeader
				AND
				PEAR.IsActive = '1'		
				ORDER BY PEAR.UpdatedDate DESC		
			),106),'2000-01-01' )
		
		DESC

	END
	ELSE
	BEGIN
	SELECT IDProjectHeader AS ProyekPK
		,ProjectName AS NamaProyek
		,CONVERT(DATE, (
				SELECT TOP 1 StartDate
				FROM TblT_MPPProjectPlanDetail
				WHERE ProjectHeaderID = Main.IDProjectHeader
					AND IsActive = '1'
					AND TaskID > 0
				)) AS TanggalMulaiProyek
		,CONVERT(DATE, (
				SELECT TOP 1 EndDate
				FROM TblT_MPPProjectPlanDetail
				WHERE ProjectHeaderID = Main.IDProjectHeader
					AND IsActive = '1'
					AND TaskID > 0
				)) AS TanggalTutupProyek
		,CASE 
			WHEN (
					SELECT COUNT(*)
					FROM TblT_MPPProjectRealDetail MPPRD
					INNER JOIN (
						SELECT TOP 1 *
						FROM TblT_MPPProjectPlanDetail
						WHERE ProjectHeaderID = Main.IDProjectHeader
							AND IsActive = '1'
							AND TaskID > 0
						) aa ON MPPRD.IDMPPProjectPlanDetail = aa.IDMPPProjectPlanDetail
					) > 0
				THEN ROUND(ISNULL((
						SELECT TOP 1  CAST(SUBSTRING(CAST(MPPRD.CompletePercentage as varchar),1,4)as DECIMAL(20,2)) --MPPRD.CompletePercentage
						FROM
						TblT_MPPProjectRealPercentage MPPRD
						where
						IDProjectHeader = Main.IDProjectHeader
						and
						IsActive = 1
						and
						TaskID > 0
						order by MPPRD.TaskID asc , MPPRD.CreatedDate Desc
						-- TblT_MPPProjectRealDetail MPPRD
						--INNER JOIN (
						--	SELECT TOP 1 *
						--	FROM TblT_MPPProjectPlanDetail
						--	WHERE ProjectHeaderID = Main.IDProjectHeader
						--		AND IsActive = '1'
						--		AND TaskID > 0
						--	) aa ON MPPRD.IDMPPProjectPlanDetail = aa.IDMPPProjectPlanDetail
						),0),0)
			ELSE (
					ROUND((SELECT TOP 1 PercentageComplete
					FROM TblT_MPPProjectPlanDetail
					WHERE ProjectHeaderID = Main.IDProjectHeader
						AND IsActive = '1'
						AND TaskID > 0),0)
					)
			END AS PersentaseKomplit
		,(
				SELECT TOP 1 
				DurationInDays
			FROM
			dbo.Ufn_Get_DurationInDays_PerProject(Main.IDProjectHeader)
			WHERE ParentID = 0
			AND TaskID > 0
			) AS Durasi
		,
		
			(
				SELECT TOP 1  Em.Nama FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = Main.IDProjectHeader
				AND
				 PEAR.IsApprove = '1'
				AND
				PEAR.IsActive = '1'		
				ORDER BY PEAR.UpdatedDate DESC		
			)
		
		AS TerakhirDirubahOleh
		,
		ISNULL(
		--CONVERT ( Datetime,
			(
				SELECT TOP 1 CONVERT(varchar(2),DAY(PEAR.UpdatedDate)) + ' '+ [dbo].[Ufn_GetMonthName_Indonesia](MONTH(PEAR.UpdatedDate)) + ' '+ CONVERT(varchar(4),YEAR(PEAR.UpdatedDate)) + ' ' + convert(varchar(10), PEAR.UpdatedDate, 108)  FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = Main.IDProjectHeader
				AND
				PEAR.IsActive = '1'		
				ORDER BY PEAR.UpdatedDate DESC		
			),NULL )
		AS TerakhirDirubahPada
		,NULL AS STATUS
		,CASE 
			WHEN Transformasi = 1
				THEN 1
			ELSE 0
			END AS isTransformasi
	FROM (
		SELECT DISTINCT PH.IDProjectHeader AS IDProjectHeader
			,Proj.ProjectName AS ProjectName
			,Proj.IsTransformasi AS Transformasi
		FROM TblT_ProjectHeader PH
		--INNER JOIN TblT_ProjectInitApprovalRole PIAR ON PH.IDProjectHeader = PIAR.IDProjectHeader
		INNER JOIN TblM_Project Proj ON PH.IDProject = Proj.IDProject
		LEFT JOIN TblT_ProjectInitApprovalRole PR
		ON
		PH.IDProjectHeader = PR.IDProjectHeader
		--WHERE PIAR.Sequence IN (
		--		SELECT Seq
		--		FROM (
		--			SELECT R.IDProjectHeader
		--				,MIN(R.Sequence) AS Seq
		--			FROM TblT_ProjectInitApprovalRole R
		--			WHERE R.IsApprove = 1
		--				AND R.IsActive = 1
		--			GROUP BY R.IDProjectHeader
		--			) zz
		--		)
			--AND PIAR.IsApprove = 1
			--AND PIAR.IsActive = 1
			WHERE PH.IsActive = 1
			AND (SELECT 1 FROM TblT_ProjectInitApprovalRole WHERE IDProjectHeader = PH.IDProjectHeader AND Sequence = 1 AND IsApprove = 1 AND IsActive = 1 AND IsEnabled = 1
			) = 1
			AND PR.Username = @usern and PR.IsActive = 1
		) Main
		ORDER BY 
		ISNULL(
		CONVERT ( Datetime,
			(
				SELECT TOP 1  PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = Main.IDProjectHeader
				AND
				PEAR.IsActive = '1'		
				ORDER BY PEAR.UpdatedDate DESC		
			),106),'2000-01-01' )
		
		DESC
		END
END




GO
