USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterProjectCost_ByID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:  Mendapatkan master Department berdasarkan ID
-- ============================================= 
CREATE PROCEDURE [dbo].[Usp_Get_MasterProjectCost_ByID] 
  -- Add the parameters for the stored procedure here 
  @IDProjectCost INT 
AS 
  BEGIN 
      -- SET NOCOUNT ON added to prevent extra result sets from 
      -- interfering with SELECT statements. 
      SET nocount ON; 

      -- Insert statements for procedure here 
    select row_number() over (order by IDSAPMasterRKAT desc) as NoUrut,IDSAPMasterRKAT AS IDProjectCost, IDSAP AS ProjectCostCode, EVDESCRIPTION AS ProjectCostName, LONG_DESC AS Description,PARENT AS ParentCode, CAST(CreatedDate AS DATETIME) CreatedDate, CreatedBy, CAST(CreatedDate AS DATETIME) AS UpdatedDate, CreatedBy  AS UpdatedBy, CASE WHEN ACTIVE = 'Y' THEN 1 ELSE 0 END AS IsActive from TblSAP_MasterRKAT WHERE ACTIVE = 'Y'
	AND  IDSAPMasterRKAT = @IDProjectCost; 
  END 




GO
