USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiDetail]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Usp_Get_ProjectEksekusiDetail] -- [Usp_Get_ProjectEksekusiDetail] 273, '2020-1-1', 100010
	@ProjectHeaderID int,
	@Periode varchar(10),
	@Persnum varchar(30)
as
begin

	declare @IDProject int = (select top 1 IDProject from TblT_ProjectHeader where IDProjectHeader = @ProjectHeaderID);

	declare @Username varchar(50) = (
		select top 1 User_LoginName
		from TblDW_Usergroup
		where Usergroup_Pernr = @Persnum
	);
	
	declare @pjs table(
		PersonalNumberAsli varchar(50)
	);
	
	declare @currentDate date = cast(getdate() as date);
	declare @TcurrentDate date = cast(getdate() as date);

	insert into @pjs
	select distinct ExistingPersonalNumber 
	from TblT_PJSApproval 
	where IsActive = 1 and PJSUsername = @Username
		and @currentDate between cast(StartDate as date) and cast(EndDate as date);

	declare @isTransformasi bit;
	declare @year int, @month int, @week int;
	declare @Cyear int, @Cmonth int, @Cweek int;
	declare @Period varchar(50), @CPeriode varchar(50), @PrevPeriod varchar(50);
	declare @SplitString TABLE (rownumber int , val varchar(max));

	select @isTransformasi = Proj.IsTransformasi
	from TblT_ProjectHeader PH
		inner join TblM_Project Proj on PH.IDProject = PROJ.IDProject
	where PH.IDProjectHeader = @ProjectHeaderID;

	insert into @SplitString
	select  row_number() over(order by (select null)), *
	from dbo.Ufn_SplitString(@Periode,'-');

	select @year = val from @SplitString where rownumber = 1;
	select @month = val from @SplitString where rownumber = 2;
	select @week = val from @SplitString where rownumber = 3;

	select @Period = 
	case 
		when @isTransformasi = 1 then 'W'+ convert(varchar,@week) + ' ' + dbo.Ufn_GetMonthName_Indonesia(@month) + ' ' + convert(varchar,@year)
		else dbo.Ufn_GetMonthName_Indonesia(@month) + ' ' + convert(varchar,@year)
	end;

	select top 1 @PrevPeriod = Periode 
	from TblT_ProjectExecutionApprovalRole
	where IsActive = 1
		and IDProjectHeader = @ProjectHeaderID
		and cast(Periode as date) <= cast(@Periode as date)
	order by
		cast(Periode as date)
	desc;
	
	if(@isTransformasi = 1) begin
	
		set @TcurrentDate = (select dateadd(week, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 1), @TcurrentDate));

		select @Cyear = year(@TcurrentDate);
		select @Cmonth = month(@TcurrentDate);
		select @Cweek = (select top 1 WeekOfMonth from TblM_Date where Date = cast(@TcurrentDate as date));

		if(@Cweek = (select top 1 WeekOfMonth from TblM_Date where Year = @Cyear and Month = @Cmonth order by Date desc) 
			and (select top 1 WeekDayName from TblM_Date  where Year = @Cyear and Month = @Cmonth order by Date desc) != 'Saturday')begin
				set @Cweek = 1;
				set @Cmonth = @Cmonth + 1;
				if(@Cmonth = 13) begin set @Cyear = @Cyear + 1; set @Cmonth = 1; end
		end;

		set @CPeriode = cast(@Cyear as varchar(5)) + '-' + cast(@Cmonth as varchar(3)) + '-' + cast(@Cweek as varchar(2));

	end;
	
	if(@isTransformasi = 0) begin
	
		set @TcurrentDate = (select dateadd(month, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 0), @TcurrentDate));

		select @Cyear = year(@TcurrentDate);
		select @Cmonth = month(@TcurrentDate);
		--select @Cweek = (select top 1 WeekOfMonth from TblM_Date where Date = cast(@TcurrentDate as date));

		--if(@Cweek = (select top 1 WeekOfMonth from TblM_Date where Year = @Cyear and Month = @Cmonth order by Date desc) 
		--	and (select top 1 WeekDayName from TblM_Date  where Year = @Cyear and Month = @Cmonth order by Date desc) != 'Saturday')begin
		--		set @Cweek = 1;
		--		set @Cmonth = @Cmonth + 1;
		--		if(@Cmonth = 13) set @Cyear = @Cyear + 1;
		--end;

		--set @Cweek = @Cweek
		
		--set @CPeriode = cast(@Cyear as varchar(5)) + '-' + cast(@Cmonth as varchar(3)) + '-' + cast(@Cweek as varchar(2));

	end;

	/*
	========================================
	== GET PROJECT MILESTONE == Table [0] ==
	========================================
	*/	

	select MPPPD.TaskID as ID,
		MPPPD.TaskName as Milestones, 
		[dbo].[Ufn_GetMonthName_Indonesia](month(MPPPD.StartDate)) + ' ' + cast(year(MPPPD.StartDate) as varchar(4)) as Selesai,
		
		case 			
			when	
				exists
				(
					select IDDocument
					from TblT_Document MMD
					where MMD.IDProjectHeader = (select dbo.Ufn_GetProjectHeaderRoot(@ProjectHeaderID))
						and MMD.TaskID = MPPPD.TaskID
						and MMD.IsActive = '1'
				)
				and
				(	
					select top 1 CompletePercentage
					from TblT_MPPProjectRealPercentage MRPP 
					where MRPP.TaskID = MPPPD.TaskID
						and MRPP.IDProjectHeader = @ProjectHeaderID
					order by cast(cast(MRPP.Year as varchar(4)) + '-' +  RIGHT('00'+cast(MRPP.Month as varchar(2)),2) + '-' + cast(MRPP.Week as varchar(1)) as date) desc
				) = 100
			then 'FINISH'
			else 
			(	
				case
					when getdate() > dateadd(dd, 0 , MPPPD.StartDate) then 'LATE'
					else 'ONGOING'
				end
			)
		end as Status,

		case
			when (convert(varchar(4), datepart(YYYY, MPPPD.StartDate)) + right('00' + convert(varchar(2), datepart(MM, MPPPD.StartDate)), 2))
				<=
				(convert(varchar(4), datepart(YYYY, getdate())) + right('00' + convert(varchar(2), datepart(MM, getdate())), 2))
			then '1'
			else '1'
		end as Button

	from TblT_MPPProjectPlanDetail MPPPD

	where MPPPD.IsActive = '1'
		and(MPPPD.TaskName like '%milestone%' or MPPPD.IsMilestone = '1')
		and MPPPD.ProjectHeaderID = @ProjectHeaderID
	
	order by MPPPD.ParentID asc, MPPPD.StartDate asc, MPPPD.TaskID asc;

	/*
	========================================
	== GET PROJECT CONSTRAIN == Table [1] ==
	========================================
	*/

	select PC.IDProjectConstraint,
		PC.IDConstraintType,
		CT.ConstraintName,
		PC.description,
		PC.Remarks,
		PC.Problem,
		PC.Status,
		PC.Mitigasi

	from TblT_ProjectConstraint PC
		left join TblM_ConstraintType CT on PC.IDConstraintType = CT.IDConstraintType

	where PC.IsActive = '1'
		and PC.IDProjectHeader = @ProjectHeaderID;
		
	declare @today varchar(max);
	
	select @today = convert(varchar(2), d.day) + ' ' + dbo.Ufn_GetMonthName_Indonesia(d.Month) + ' ' +d.Year
	from TbLM_Date d
	where d.Date = convert(date,getdate());
	
	/*
	=============================================
	== GET PERIODE, TANGGAL, NAMA == Table [2] ==
	=============================================
	*/

	select @Period as Periode, @today as Tanggal, Proj.ProjectName as Nama
	from TblM_Project PROJ 
		inner join TblT_ProjectHeader PH on PROJ.IDProject = PH.IDProject
	where PH.IDProjectHeader = @ProjectHeaderID;
		
	/*
	=======================================================
	== GET APPROVAL FROM PROJECT INITIATION == Table [3] ==
	=======================================================
	*/

	if not exists(select IDProjectHeader from TblT_ProjectExecutionApprovalRole where IsActive = 1 and IDProjectHeader = @ProjectHeaderID and Periode = @Periode)
	begin

		if not exists(select IDProjectHeader from TblT_ProjectExecutionApprovalRole where IsActive = 1 and IDProjectHeader = @ProjectHeaderID and cast(Periode as date) <= cast(@PrevPeriod as date))
		begin
		
			select row_number()over(order by g.Sequence asc) as NoUrut,
				g.Username,
				(select StartDate from TblG_Project_ExecutionList where IDProjectHeader = @ProjectHeaderID) as ActiveDate,
				(select EndDate from TblG_Project_ExecutionList where IDProjectHeader = @ProjectHeaderID) as EndDate ,
				g.IsEnabled,
				e.KodePosisi,
				--e.Jabatan,
				e.Posisi as Jabatan,
				e.Nama,
				e.KodeUnitKerja,
				e.PersonalNumber,
				h.Description as RoleGroupName,
				h.IDRoleGroup

			from TblM_Project a
				left join TblT_ProjectHeader b on a.IDProject = b.IDProject
				left join TblT_ProjectInitApprovalRole g on b.IDProjectHeader = g.IDProjectHeader
				left join TblM_RoleGroup h on g.IDRoleGroup = h.IDRoleGroup
				left join TblDW_Usergroup d on g.Username = d.User_LoginName
				left join TblDW_Employee e on d.Usergroup_Pernr = e.PersonalNumber

			where a.IsActive = 1
				and b.IsActive = 1
				and g.IsActive = 1
				and h.IsActive = 1
				and b.IDProjectHeader = @ProjectHeaderID
				--and h.IDRoleGroup in (3,4,5)
				and ((a.IsTransformasi = 1 and h.IDRoleGroup in (3,5)) or(a.IsTransformasi = 0 and h.IDRoleGroup in (3,4)))

			group by 
				g.Username,
				g.ActiveDate,
				g.EndDate,
				g.IsEnabled,
				e.KodePosisi,
				e.Posisi,
				e.Nama,
				e.KodeUnitKerja,
				e.PersonalNumber,
				h.Description,
				h.IDRoleGroup,
				g.Sequence;
		
		end
		else begin 

			select
				row_number()over(order by g.Sequence asc) as NoUrut,
				g.Username,

				isnull(g.ActiveDate, (
					select StartDate from TblG_Project_ExecutionList where IDProjectHeader = @ProjectHeaderID
				)) as ActiveDate,
				
				isnull(g.EndDate, (
					select EndDate from TblG_Project_ExecutionList where IDProjectHeader = @ProjectHeaderID
				)) as EndDate,
				
				g.IsEnabled,
				e.KodePosisi,
				--e.Jabatan,
				e.Posisi as Jabatan,
				e.Nama,
				e.KodeUnitKerja,
				e.PersonalNumber,
				h.Description as RoleGroupName,
				h.IDRoleGroup
			from TblM_Project a
				left join TblT_ProjectHeader b on a.IDProject = b.IDProject
				left join TblT_ProjectExecutionApprovalRole g on b.IDProjectHeader = g.IDProjectHeader
				left join TblM_RoleGroup h on g.IDRoleGroup = h.IDRoleGroup
				left join TblDW_Usergroup d on g.Username = d.User_LoginName
				left join TblDW_Employee e on d.Usergroup_Pernr = e.PersonalNumber
			where a.IsActive = 1
				and b.IsActive = 1
				and g.IsActive = 1
				and g.IsActive = 1
				and h.IsActive = 1
				and b.IDProjectHeader = @ProjectHeaderID
				--and h.IDRoleGroup in (3,4,5)
				and ((a.IsTransformasi = 1 and h.IDRoleGroup in (3,5)) or(a.IsTransformasi = 0 and h.IDRoleGroup in (3,4)))
				and g.Periode = @PrevPeriod
			group by g.Username,
				g.ActiveDate,
				g.EndDate,
				g.IsEnabled,
				e.KodePosisi,
				--e.Jabatan,
				e.Posisi,
				e.Nama,
				e.KodeUnitKerja,
				e.PersonalNumber,
				h.Description,
				h.IDRoleGroup,
				g.Sequence;
	
		end;

	end
	else begin

		select
			row_number()over(order by g.Sequence asc) as NoUrut,
			g.Username,

			isnull(g.ActiveDate, (
				select StartDate from TblG_Project_ExecutionList where IDProjectHeader = @ProjectHeaderID
			)) as ActiveDate,
			
			isnull(g.EndDate, (
				select EndDate from TblG_Project_ExecutionList where IDProjectHeader = @ProjectHeaderID
			)) as EndDate,
			
			g.IsEnabled,
			e.KodePosisi,
			--e.Jabatan,
			e.Posisi as Jabatan,
			e.Nama,
			e.KodeUnitKerja,
			e.PersonalNumber,
			h.Description as RoleGroupName,
			h.IDRoleGroup
		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject
			left join TblT_ProjectExecutionApprovalRole g on b.IDProjectHeader = g.IDProjectHeader
			left join TblM_RoleGroup h on g.IDRoleGroup = h.IDRoleGroup
			left join TblDW_Usergroup d on g.Username = d.User_LoginName
			left join TblDW_Employee e on d.Usergroup_Pernr = e.PersonalNumber
		where a.IsActive = 1
			and b.IsActive = 1
			and g.IsActive = 1
			and g.IsActive = 1
			and h.IsActive = 1
			and b.IDProjectHeader = @ProjectHeaderID
			--and h.IDRoleGroup in (3,4,5)
			and ((a.IsTransformasi = 1 and h.IDRoleGroup in (3,5)) or(a.IsTransformasi = 0 and h.IDRoleGroup in (3,4)))
			and g.Periode = @Periode
		group by g.Username,
			g.ActiveDate,
			g.EndDate,
			g.IsEnabled,
			e.KodePosisi,
			--e.Jabatan,
			e.Posisi,
			e.Nama,
			e.KodeUnitKerja,
			e.PersonalNumber,
			h.Description,
			h.IDRoleGroup,
			g.Sequence;
	
	end;

	/*
	===========================================
	== APPROVAL ROLE VALIDATION == Table [4] ==
	===========================================
	*/

	declare @SelectPersn varchar(50);

	--add by CHRISTINA EKA
	declare @Approval table (
		Approval varchar(50)
	)

	--edit by CHRISTINA EKA
	--select @SelectPersn = b.Usergroup_Pernr --as Approval
	insert into @Approval -- add by EKA
	select b.Usergroup_Pernr as Approval
	from [TblT_ProjectExecutionApprovalRole] a
		left join TblDW_Usergroup b on a.Username = b.User_LoginName
	where(IsApprove is null or IsApprove = 0)
		and IsEnabled = 1
		and IsActive = 1
		and a.IDProjectHeader = @ProjectHeaderID
		and a.Periode = @Periode 
		and IDRoleGroup = (
			select top 1 z.IDRoleGroup
			from [TblT_ProjectExecutionApprovalRole] z
			where z.IDProjectHeader = @ProjectHeaderID 
				and z.Periode = @Periode
				and(z.IsApprove is null or z.IsApprove = 0 )
				and z.IsEnabled = 1
				and z.IsActive = 1
			order by IDRoleGroup asc
		)
	order by a.IDRoleGroup asc;
	
	-- add by CHRISTINA EKA
	if exists(select PersonalNumberAsli from @pjs where PersonalNumberAsli in (select * from @Approval)) 
	begin 
		update @Approval
		set Approval = @Persnum
		from @Approval A inner join @pjs P on A.Approval = P.PersonalNumberAsli

		select * from @Approval
	end
	else 
	begin 
		select * from @Approval
	end
	--if exists(select PersonalNumberAsli from @pjs where PersonalNumberAsli = @SelectPersn) begin select @Persnum as Approval end
	--else begin select @SelectPersn as Approval end;

	/*
	====================================
	== GET APPROVAL LIST == Table [5] ==
	====================================
	*/

	select row_number() over(order by (select null) ) as NoUrut,
		IDRoleGroup,
		RoleGroupName,
		description,
		Level,
		CreatedDate,
		CreatedBy,
		UpdatedDate,
		UpdatedBy,
		IsActive
	from TblM_RoleGroup
	where IsActive = 1
		and ((@isTransformasi = 1 and IDRoleGroup in (3,5)) or(@isTransformasi = 0 and IDRoleGroup in (3,4)));

	/*
	=============================
	== GET REVISI == Table [6] ==
	=============================
	*/

	select top 1 a.Username as Dari, a.Deskripsi as description
	from TblT_ProjectExecutionReviseRole a
	where IDProjectHeader = @ProjectHeaderID and Periode = @Periode
	order by CreatedDate desc;
	
	/*
	==============================
	== GET HISTORY == Table [7] ==
	==============================
	*/

	select Type as Tipe, 
		Remarks as Keterangan,
		CreatedBy as Nama, 
		CreatedDate as Tanggal
	from TblH_ProjectExecutionApprovalHistory
	where IDProjectHeader = @ProjectHeaderID and Periode = @Periode
	order by CreatedDate desc;
	
	/*
	========================================
	== GET Description Roles == Table [8] ==
	========================================
	*/

	select RG.description as Roles
	from TblT_ProjectInitApprovalRole PIAR
		inner join TblM_RoleGroup RG on PIAR.IDRoleGroup = RG.IDRoleGroup
	where PIAR.IDProjectHeader = @ProjectHeaderID
		and PIAR.Username = @username
	order by RG.IDRoleGroup asc;
	
	/*
	==================================
	== GET SYSTEM ROLE == Table [9] ==
	==================================
	*/

	select top 1 RG.description as SysRole
	from TblT_UserAuthorized UA inner join TblM_RoleGroup RG on UA.IDRoleGroup = RG.IDRoleGroup
	where UA.PersonNumber = @Persnum;
	
	/*
	======================================
	== GET PROJECT STATUS APPROVAL == Table [10] ==
	======================================
	*/

	if (
		(
			select top 1 IDProjectStatus
			from TblT_ProjectHeader
			where IDProjectHeader = @ProjectHeaderID
		) = 13
	) begin

		select 'Complete' as Status;

	end

	--/
	/* AAA - 
	Secara default approval untuk realisasi yang periodenya sudah lewat TIDAK DIPERBOLEHKAN,

	tetapi apabila ada request yang tidak bisa ditolak, maka approval dapat dibuka per project dibawah.
	atau,
	Jika ingin enable approve untuk SEMUA project yang periode realisasinya sudah lewat,
	remark syntax dibawah ini sampai AAA.

	Setelah diapprove, mohon dibalikkan lagi. 
	Karena kalau nggak nanti user nggak bisa submit (tombol submit nggak akan muncul)
	*/
	/* vvv PER PROJECT vvv */
	/* 
	else 
		--if @ProjectHeaderID = '301' and @Periode = '2020-7-5'
		/* */
		if (@ProjectHeaderID = '392') and @Periode = '2020-10-1'
		
		 begin
		 select 'Submit' as Status;
		 --select 'Active' as Status;
	end
	*/

	/* konsep status proyek cek ke tabel TblT_ProjectExecutionStatus */
	/* sebenarnya di paling bawah ada konsep ini, tapi ini bypass pengecekan TblM_LockExecution */
	else if @isTransformasi = 1
		and (
		/* */

		(@ProjectHeaderID = '418' and @Periode = '2022-3-3')
		--or
		--(@ProjectHeaderID = '420' and @Periode = '2022-2-1')
		--or
		--(@ProjectHeaderID = '416' and @Periode = '2021-10-3')
		--(@Periode = '2021-1-2')
		) begin

		select top 1 PES.ProjectStatus as Status
		from TblT_ProjectExecutionStatus PES
		where PES.IDProjectHeaderID = @ProjectHeaderID and PES.Periode = @Periode and PES.IsActive = '1'
		order by CreatedDate desc;
	end
	/* 
	else if @isTransformasi = 1
		and @ProjectHeaderID = '397' and @Periode = '2020-10-4' begin

		--select 'Save' as Status;
		select 'Submit' as Status;
		
	end
	*/
	
	/* ^^^ PER PROJECT ^^^ */
	/* */

	else if @isTransformasi = 1 
		and (cast(@Periode as date) < cast(@CPeriode as date)) begin
		
		select 'Complete' as Status;

	end
	else if @isTransformasi = 1 
		and (cast(@Periode as date) = cast(@CPeriode as date))
		and (select cast(Weekday as int) from TblM_Date where Date = cast(getdate() as date))
			> (select cast(LockValue as int) from TblM_LockExecution where IsTransformasi = 1) begin
		
		select 'Complete' as Status;

	end
	--/
	else if @isTransformasi = 0
		and cast(cast(@year as varchar(5)) + '-' + cast(@month as varchar(5)) + '-1' as date)
			< cast(cast(@Cyear as varchar(5)) + '-' + cast(@Cmonth as varchar(5)) + '-1' as date)
	begin
		
		select 'Complete' as Status;

	end
	--temporary lock by EKA
	--else if @isTransformasi = 0
	--	and @year = @Cyear
	--	and @month = @Cmonth
	--	and (select cast(Day as int) from TblM_Date where Date = cast(getdate() as date))
	--		> (select cast(LockValue as int) from TblM_LockExecution where IsTransformasi = 0) begin
		
	--	select 'Complete' as Status;

	--end
	else begin

		select top 1 PES.ProjectStatus as Status
		from TblT_ProjectExecutionStatus PES
		where PES.IDProjectHeaderID = @ProjectHeaderID and PES.Periode = @Periode and PES.IsActive = '1'
		order by CreatedDate desc;

	end;
	
	/*
	====================================================
	== GET PERIODE AND PREVIOUS PERIODE == Table [11] ==
	====================================================
	*/

	select @Periode, @PrevPeriod;
	
	/*
	======================================
	== GET PROJECT STATUS == Table [12] ==
	======================================
	*/
	
	select
		case
			when b.description = 'Closed Amandemen' then 'Closed'
			else b.description
		end as ProjectStatus
	from TblT_ProjectHeader a left join TblM_ProjectStatus b on b.IDProjectStatus = a.IDProjectStatus
	where a.IdProjectHeader = @ProjectHeaderID and a.isactive = 1;

	/*
	============================================
	== GET LIST YEARLY DOCUMENT == Table [13] ==
	============================================
	*/

	select ttd.IDDocument,
		ttd.IDDocPhase,
		(select top 1 tdt.Description from TblM_DocumentType tdt where tdt.IDDocType = ttd.IDDocType) as IDDocType,
		ttd.IDProjectHeader,
		ttd.DocumentName,
		ttd.TaskID,
		ttd.CreatedDate,
		ttd.CreatedBy,
		ttd.UpdatedDate,
		ttd.UpdatedBy,
		ttd.IsActive,
		cast(day(ttd.Createddate) as varchar(2)) + ' ' + dbo.Ufn_GetMonthName_Indonesia(month(ttd.CreatedDate)) + ' ' + cast(year(ttd.CreatedDate) as varchar(5)) as StringCreatedDate
	from TblT_Document ttd
	where ttd.IsActive = 1
		and ttd.IDProjectHeader = dbo.Ufn_GetProjectHeaderRoot(@ProjectHeaderID)
		and ttd.IDDocType = 6
	order by ttd.CreatedDate desc;
	
	/*
	======================================
	== GET LIST RKAT CODE == Table [14] ==
	======================================
	*/

	select a.IDSAP
	from TblSAP_MasterRKAT a
		left join TblT_ProjectRKAT b on a.IDSAPMasterRKAT = b.IDSAPMasterRKAT
		left join TblT_ProjectHeader c on b.IDProjectHeader = c.IDProjectHeader
		left join TblM_Project d on c.IDProject = d.IDProject
	where b.IsActive = 1 and c.IsActive = 1 and d.IsActive = 1 and d.IDProject = @IDProject;

end;




GO
