USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_DropdownProgramFromProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE procedure [dbo].[Usp_Get_DropdownProgramFromProject]
	-- Add the parameters for the stored procedure here
	@ProjectID int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	set nocount on;

    -- Insert statements for procedure here
	select a.IDProgram, a.ProgramNo + ' - ' + a.ProgramName as ProgramName, a.ProgramNo
	from TblM_Program a
		inner join TblM_Project b on a.IDProgram = b.IDProgram and b.IsActive = 1
	where a.IsActive = 1 and b.IDProject = @ProjectID;

END




GO
