USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_GrafikCapaianFisikDetail]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_GrafikCapaianFisikDetail] 
	-- Add the parameters for the stored procedure here
	@Month int = null,
	@Year varchar(4) = null,
	@Category varchar(30) = null,
	@Week int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @Date date = null;
	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());

	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);
	
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week order by Date desc) end;

	if(@Category = 'SO') begin
		select distinct
			bb.IDProjectHeader,
			bb.ProjectNo,
			bb.ProjectName,
			bb.StrategicObjectiveCode as Id,
			bb.StrategicObjectiveCode as Name,
			bb.Waktu,
			round(
					Case 
						when ISNULL(Sum(tmpp.PlanPercentage),0) = 0 then 0
						else (
								IsNull(Sum(x.CompletePercentage)/count(x.CompletePercentage),0) / Isnull(Sum(tmpp.PlanPercentage)/count(tmpp.PlanPercentage),0)) * 100
					end
			,0) as RealisasiPencapaian,
			bb.IsTransformasi
		from (
			select TOP 1 with ties
				a.IDStrategicObjective,
				a.StrategicObjectiveCode,
				a.IDProjectHeader,
				a.ProjectNo,
				a.StrategicObjectiveName,
				a.ProjectName,
				a.ProjectName as Name,
				case
					when ([dbo].[Ufn_GetTriwulan](a.StartMonth) = [dbo].[Ufn_GetTriwulan](a.EndMonth) and a.StartYear = a.EndYear) then
						isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear, '-')
					else isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-')
				end as Waktu,
				--a.Pencapaian as RealisasiPencapaian,
				a.IsTransformasi
			from TblD_ListProject a
			where a.IsActive = 1
				and a.DateDownload <= @Date
				and (@Year between a.StartYear and a.EndYear)
				and a.IDProjectStatus not in(1, 8, 9, 13)
			order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)
		)bb	
		JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = bb.IDProjectHeader
		join
		(
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
			from TblT_MPPProjectPlanPercentage
			where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
		JOIN (
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
			from TblT_MPPProjectRealPercentage
			where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
			and isActive = 1
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID 
		where tmpd.IsActive = 1
		and tmpd.StartDate <= @Date
		and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
		and tmpd.ParentId = 0	
		GROUP BY bb.IDProjectHeader,
			bb.ProjectNo,
			bb.ProjectName,
			bb.StrategicObjectiveCode,
			bb.StrategicObjectiveCode,
			bb.Waktu,
			bb.IsTransformasi
		order by bb.StrategicObjectiveCode asc,
			bb.ProjectNo asc;		
	end
	else if(@Category = 'Direktorat') begin			
		select Distinct 
			bb.IDProjectHeader,
			bb.ProjectNo,
			bb.ProjectName,
			bb.Id,
			bb.Name,
			bb.Waktu,
			round(
					Case 
						when ISNULL(Sum(tmpp.PlanPercentage),0) = 0 then 0
						else (
								IsNull(Sum(x.CompletePercentage)/count(x.CompletePercentage),0) / Isnull(Sum(tmpp.PlanPercentage)/count(tmpp.PlanPercentage),0)) * 100
					end
			,0) as RealisasiPencapaian,
			bb.IsTransformasi
		from(
			select Top 1 with ties
				a.IDProjectHeader,	
				a.ProjectNo,
				a.ProjectName,			
				case
					when IDDirektorat = 1 then a.DepartmentName
					else a.DirektoratName
				end as Id,
				case
					when IDDirektorat = 1 then a.DepartmentName
					else a.DirektoratName
				end as Name,
				case
					when ([dbo].[Ufn_GetTriwulan](a.StartMonth) = [dbo].[Ufn_GetTriwulan](a.EndMonth) and a.StartYear = a.EndYear) then
						isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear, '-')
					else isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-')
				end as Waktu,						
				 --a.RealisasiPencapaian,						
				a.IsTransformasi			
			from TblD_ListProject a				
				where a.IsActive = 1
					and a.DateDownload <= @Date
					and (@Year between a.StartYear and a.EndYear)
					and a.IDProjectStatus not in(1, 8, 9, 13)
				order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)
		) bb
		JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = bb.IDProjectHeader
		join
		(
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
			from TblT_MPPProjectPlanPercentage
			where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID 
		JOIN (
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
			from TblT_MPPProjectRealPercentage
			where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
			and isActive = 1
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID 
		where tmpd.IsActive = 1
		and tmpd.StartDate <= @Date
		and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
		and tmpd.ParentId = 0	
		Group by
			bb.IDProjectHeader,
			bb.ProjectNo,
			bb.ProjectName,
			bb.Id,
			bb.Name,
			bb.Waktu,
			bb.IsTransformasi
		order by 
			bb.Id asc,
			bb.IDProjectHeader desc;
	end;
	else if(@Category = 'KategoriProyek') begin
			select Distinct
			bb.IDProjectHeader,
			bb.ProjectNo,
			bb.ProjectName,
			bb.KategoriName as Id,
			bb.KategoriName as Name,
			bb.Waktu,
			round(
					Case 
						when ISNULL(Sum(tmpp.PlanPercentage),0) = 0 then 0
						else (
								IsNull(Sum(x.CompletePercentage)/count(x.CompletePercentage),0) / Isnull(Sum(tmpp.PlanPercentage)/count(tmpp.PlanPercentage),0)) * 100
					end
			,0) as RealisasiPencapaian,
			bb.IsTransformasi			
			from (		
				select Top 1 with ties
					a.IDProjectHeader,
					a.ProjectName,
					a.ProjectNo,
					a.DepartmentCode + ' - ' + a.DirektoratCode as PIC,
					isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,											
					--a.Pencapaian as RealisasiPencapaian,
					a.IsTransformasi,
					d.KategoriName,
					d.IDKategoriProject
					from TblD_ListProject a
					join TblT_ProjectHeader b on b.IDProjectHeader = a.IDProjectHeader
					JOIN tblm_project c on b.IDProject = c.IDProject
					JOIN tblm_KategoriProject d on d.IDKategoriProject = c.IDKategoriProject
					where a.IsActive = 1
					and a.DateDownload <= @Date
					and (@Year between a.StartYear and a.EndYear)
					and b.IsActive = 1 and c.IsActive = 1
					and a.IDProjectStatus not in(1, 8, 9, 13)
					order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)
			)bb
			JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = bb.IDProjectHeader
			join
			(
				select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
				from TblT_MPPProjectPlanPercentage
				where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
				order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
			) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID 
			JOIN (
				select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
				from TblT_MPPProjectRealPercentage
				where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
				and isActive = 1
				order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
			) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID 			
			where tmpd.IsActive = 1
			and tmpd.StartDate <= @Date
			and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
			and tmpd.ParentId = 0 
			group by
			bb.IDProjectHeader,
			bb.ProjectNo,
			bb.ProjectName,
			bb.KategoriName ,
			bb.KategoriName,
			bb.Waktu,
			bb.IsTransformasi
			order by 
			bb.KategoriName asc,
			bb.IDProjectHeader asc;
		end;
	else if(@Category = 'Kpi') begin
			select Distinct
				bb.IDProjectHeader,
				bb.ProjectNo,
				bb.ProjectName,
				bb.KPICode as Id,
				bb.KPICode as Name,
				bb.Waktu,
				round(
						Case 
							when ISNULL(Sum(tmpp.PlanPercentage),0) = 0 then 0
							else (
									IsNull(Sum(x.CompletePercentage)/count(x.CompletePercentage),0) / Isnull(Sum(tmpp.PlanPercentage)/count(tmpp.PlanPercentage),0)) * 100
						end
				,0) as RealisasiPencapaian,
				bb.IsTransformasi
			from (		
				select Top 1 with ties
					a.IDProjectHeader,
					a.ProjectName,
					a.ProjectNo,			
					--a.Pencapaian as RealisasiPencapaian,
					case
						when ([dbo].[Ufn_GetTriwulan](a.StartMonth) = [dbo].[Ufn_GetTriwulan](a.EndMonth) and a.StartYear = a.EndYear) then
							isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear, '-')
						else isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-')
					end as Waktu,
					a.IsTransformasi,
					c.KPIName,
					c.KPICode
					from TblD_ListProject a
					join TblT_ProjectKPIOrganization b on b.IDProjectHeader = a.IDProjectHeader and b.IsActive = 1 and b.IDProjectHeader is not null
					join TblM_KPIOrganization c on c.IDKPIOrganization = b.IDKPIOrganization
					where a.IsActive = 1
					and a.DateDownload <= @Date
					and (@Year between a.StartYear and a.EndYear)
					and a.IDProjectStatus not in(1, 8, 9, 13)
					order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)				
			)bb 
			JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = bb.IDProjectHeader
			join
			(
				select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
				from TblT_MPPProjectPlanPercentage
				where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
				order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
			) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID 
			JOIN (
				select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
				from TblT_MPPProjectRealPercentage
				where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
				and isActive = 1
				order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
			) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID 
			where tmpd.IsActive = 1
			and tmpd.StartDate <= @Date
			and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
			and tmpd.ParentId = 0
			group by
			 	bb.IDProjectHeader,
				bb.ProjectNo,
				bb.ProjectName,
				bb.KPICode,
				bb.KPICode,
				bb.Waktu,
				bb.IsTransformasi
			order by 
			bb.KPICode asc,
			bb.IDProjectHeader asc;
		end
	else if(@Category = 'JenisProyek') begin
		select Distinct 
			bb.IDProjectHeader,
			bb.ProjectNo,
			bb.ProjectName,
			bb.Id,
			bb.Name,
			bb.Waktu,
			round(
					Case 
						when ISNULL(Sum(tmpp.PlanPercentage),0) = 0 then 0
						else (
								IsNull(Sum(x.CompletePercentage)/count(x.CompletePercentage),0) / Isnull(Sum(tmpp.PlanPercentage)/count(tmpp.PlanPercentage),0)) * 100
					end
			,0) as RealisasiPencapaian,
			bb.IsTransformasi
		from
		(
		select Top 1 with ties
			a.IDProjectHeader,	
			a.ProjectNo,
			a.ProjectName,			
			case
				when a.IsTransformasi = 1 then 'Transformasi'
				else 'NonTransformasi'
			end as Id,					
			case
				when a.IsTransformasi = 1 then 'Transformasi'
				else 'Non Transformasi'
			end as Name,	
			isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,											
			a.IsTransformasi			
		from TblD_ListProject a				
		where a.IsActive = 1
			and a.DateDownload <= @Date
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 8, 9, 13)
			order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)
		) bb
		JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = bb.IDProjectHeader
		join
		(
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
			from TblT_MPPProjectPlanPercentage
			where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID 
		JOIN (
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
			from TblT_MPPProjectRealPercentage
			where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
			and isActive = 1
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID 
		where tmpd.IsActive = 1
		and tmpd.StartDate <= @Date
		and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
		and tmpd.ParentId = 0
		group by 
			bb.IDProjectHeader,
			bb.ProjectNo,
			bb.ProjectName,
			bb.Id,
			bb.Name,
			bb.Waktu,
			bb.IsTransformasi
		order by 
		bb.Id asc,
		bb.IDProjectHeader asc		
		end
END
END




GO
