USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Scheduller_Get_Email_DataTrans]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Scheduller_Get_Email_DataTrans] --'agha.nugraha'
	@username varchar(100)
AS
BEGIN
	SELECT	
		DISTINCT
		--	ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS rownum ,
			EL.IDProjectHeader as IDProjectHeader , 
			EL.ProjectName as ProjectName,
			CONVERT(varchar(max),ISNULL(ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0),0)) + ' %' as [Pencapaian],  
			CASE WHEN
				ISNULL(ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0),0) >= 85 and ISNULL(ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0),0) < 100
			THEN
				--'Sedikit dibawah Target'
				'background-color : Yellow;'
				--'<div style="height: 10px; width: 10px;background-color: yellow;"></div>'
			ELSE
				'background-color : Red;'
				--'<div style="height: 10px; width: 10px;background-color: red;"></div>'
				--'Jauh dibawah Target'
			END
			as [Status]	,
			PIAR.Username,
			CONVERT(varchar(max),ROUND(EL.Realisasi,0)) + ' %'  as Realisasi ,
			CONVERT(varchar(max),ROUND(EL.Planning,0)) + ' %' as Planing ,
			CONVERT(varchar(11) ,CONVERT(DATE,EL.LastUpdateDate) , 106)  as LastUpdate,
			IsTransformasi
	FROM 
	TblG_Project_ExecutionList EL
--	[dbo].[Ufn_Get_Project_ExecutionList]() EL
	INNER JOIN 
	TblT_ProjectInitApprovalRole PIAR
	ON
	EL.IDProjectHeader = PIAR.IDProjectHeader
	WHERE
	(ISNULL(ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0),0) >= 0 and ISNULL(ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0),0) < 100)	
	AND
	PIAR.Username = @username
	and IsTransformasi=1
	
	SELECT NULL 

	SELECT Template FROM TblM_EmailTemplate
	WHERE
	EmailType IN ( 5 , 7 )
	ORDER BY 
	EmailTemplateID DESC

	SELECT a.empl_mast_Name FROM 
	TblDW_EmployeeMapping a
	WHERE
	a.empl_mast_username = @username
END
		



GO
