USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Delete_File]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Delete_File]
	-- Add the parameters for the stored procedure here
	@ProjectHeaderID int,
	@DocumentID int

AS
BEGIN
	UPDATE
		TblT_Document
		SET
			IsActive = '0'
		WHERE
			IDProjectHeader = (select dbo.Ufn_GetProjectHeaderRoot(@ProjectHeaderID)) --@ProjectHeaderID
		and
			IDDocument = @DocumentID

		SELECT 'S|Success'

END




GO
