USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblH_UserActivity]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblH_UserActivity](
	[IDUserActivity] [int] NOT NULL,
	[Username] [varchar](50) NULL,
	[LogType] [varchar](1) NULL,
	[Description] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TblH_UserActivity] PRIMARY KEY CLUSTERED 
(
	[IDUserActivity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
