USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_ProjectEksekusi_BU]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Insert_ProjectEksekusi_BU]
	@dtType Udt_MPPTaskDetailReal READONLY,
	@ProjectHeaderID int,
	@PersonNumber varchar(50),
	@dtConstraint Udt_ProjectConstrain_Rev READONLY,
	@Status varchar(6),
	@Periode varchar(10)
AS
BEGIN
	DECLARE @username varchar(30)
	SELECT @username = User_LoginName FROM TblDW_Usergroup where  Usergroup_Pernr = @PersonNumber
	DECLARE @Errm varchar(max), @Errn int
	
	BEGIN TRY
		BEGIN TRANSACTION Eksekusi

		IF @Status = 'SAVE'
		BEGIN
		/*
			Update Percent Complete
		*/
			IF ( SELECT COUNT(*) FROM @dtConstraint ) > 0
			BEGIN
			INSERT INTO
			TblT_ProjectConstraint
			(
				[IDProjectHeader],
				[IDConstraintType],
				[Description],
				[Problem],
				[Remarks],
				[CreatedDate],
				[CreatedBy],
				[IsActive]
			)
			SELECT
				@ProjectHeaderID,
				dtC.IDConstraintType,
				dtC.Description,
				dtC.Problem,
				dtC.Remarks,
				GETDATE(),
				@username,
				'1'
			FROM
			@dtConstraint dtC
			END
			INSERT INTO 
			TblT_MPPProjectRealDetail
			(
				[IDMPPProjectPlanDetail],
				[Date],
				[ParentID],
				[TaskID],
				[TaskGUID],
				[TaskName],
				[StartDate],
				[EndDate],
				[Duration],
				[Notes],
				[PercentageComplete],
				[OutlineLevel],
				[OutlineNumber],
				[IsMilestone],
				[CreatedDate],
				[CreatedBy],
				[IsSubmit],
				[IsApprove],
				[IsActive]
			)
			SELECT
				dtT.IDPlanning,
				CONVERT(DATE ,GetDate()),
				dtT.taskParent,
				dtT.taskID,
				dtT.taskGUID,
				dtT.taskName,
				dtT.taskStart,
				dtT.taskEnd,
				dtT.taskDuration,
				dtT.taskNotes,
				dtT.taskCompleted,
				dtT.taskOutlineLevel,
				dtT.taskOutlineNumber,
				dtT.taskType,
				GETDATE(),
				@username,
				'0',
				'0',
				'1'
			FROM
			@dtType dtT
			

			INSERT INTO TblT_ProjectConstraint
			(
				IDProjectHeader,
				IDConstraintType,
				Description,
				Remarks,
				Problem,
				CreatedBy,
				CreatedDate,
				IsActive
			)
			SELECT	
				dtC.IDProjectHeader,
				dtC.IDConstraintType,
				dtC.Description,
				dtC.Remarks,
				dtC.Problem,
				@username,
				GETDATE(),
				'1'
			FROM
			@dtConstraint dtC
	
			
			SELECT 'S|Success'
		END
		IF @Status = 'SUBMIT'
		BEGIN


			if	(SELECT COUNT(*) FROM TblT_ProjectConstraint where IDProjectHeader = @ProjectHeaderID ) > 0
			BEGIN
				INSERT INTO
				TblT_ProjectConstraint
				(
					[IDProjectHeader],
					[IDConstraintType],
					[Description],
					[Problem],
					[Remarks],
					[CreatedDate],
					[CreatedBy],
					[IsActive]
				)
				SELECT
					dtC.IDProjectHeader,
					dtC.IDConstraintType,
					dtC.Description,
					dtC.Problem,
					dtC.Remarks,
					GETDATE(),
					@username,
					'1'
				FROM
				@dtConstraint dtC
			END


			DECLARE @idPlanning bigint 

			DECLARE cursor_submit CURSOR FOR
			SELECT dtT.IDPlanning FROM @dtType dtT

			OPEN cursor_submit  
  
			FETCH NEXT FROM cursor_submit   
			INTO @idPlanning;
  
			WHILE @@FETCH_STATUS = 0  
			BEGIN  
				DECLARE @count int

				SELECT @count = COUNT(*) FROM TblT_MPPProjectRealDetail where IDMPPProjectPlanDetail = @idPlanning
				
				IF @count > 0
				BEGIN	
					UPDATE TblT_MPPProjectRealDetail
					SET
						IsSubmit = '1'
					WHERE
					IDMPPProjectPlanDetail = @idPlanning
				END
				ELSE
				BEGIN
					INSERT INTO 
					TblT_MPPProjectRealDetail
					(
						[IDMPPProjectPlanDetail],
						[Date],
						[ParentID],
						[TaskID],
						[TaskGUID],
						[TaskName],
						[StartDate],
						[EndDate],
						[Duration],
						[Notes],
						[PercentageComplete],
						[OutlineLevel],
						[OutlineNumber],
						[IsMilestone],
						[CreatedDate],
						[CreatedBy],
						[IsSubmit],
						[IsApprove],
						[IsActive]
					)
					SELECT
						dtT.IDPlanning,
						CONVERT(DATE ,GetDate()),
						dtT.taskParent,
						dtT.taskID,
						dtT.taskGUID,
						dtT.taskName,
						dtT.taskStart,
						dtT.taskEnd,
						dtT.taskDuration,
						dtT.taskNotes,
						dtT.taskCompleted,
						dtT.taskOutlineLevel,
						dtT.taskOutlineNumber,
						dtT.taskType,
						GETDATE(),
						@username,
						'1',
						'0',
						'1'
					FROM
					@dtType dtT
					where dtT.IDPlanning = @idPlanning
				END
				FETCH NEXT FROM cursor_submit   
				INTO @idPlanning
			END   
			CLOSE cursor_submit;  
			DEALLOCATE cursor_submit;  

			DECLARE @RoleGroup int 
			DECLARE @usern varchar(30)
			DECLARE @i int

			DECLARE cursor_approval CURSOR FOR
			SELECT IDRoleGroup , Username FROM 
			TblT_ProjectInitApprovalRole dtT 
			where IDProjectHeader = @ProjectHeaderID 
			and IDRoleGroup IN (4,5,6)

			OPEN cursor_approval  

			FETCH NEXT FROM cursor_approval   
			INTO @RoleGroup, @usern ;
			WHILE @@FETCH_STATUS = 0  
			BEGIN  
					SELECT TOP 1 @i = isNULL(Sequence,0) FROM TblT_ProjectExecutionApprovalRole 
					where
					IDProjectHeader = @ProjectHeaderID
					ORDER by Sequence DESC

					DECLARE @Seq int = @i + 1

					Insert Into
					TblT_ProjectExecutionApprovalRole
					(
						IDProjectHeader,
						IDRoleGroup,
						Sequence,
						Username,
						Email,
						PositionCode,
						ActiveDate,
						EndDate,
						Periode,
						CreatedDate,
						CreatedBy,
						IsEnabled,
						IsApprove,
						IsActive
					)
					VALUES
					(
						@ProjectHeaderID,
						@RoleGroup,
						@Seq,
						@usern,
						@usern + '@lps.go.id',
						null,
						GetDate(),
						GetDate(),
						@Periode,
						GetDate(),
						@username,
						'1',
						'1',
						'1'
					)
				FETCH NEXT FROM cursor_approval   
				INTO @RoleGroup, @usern ;
			END   
			CLOSE cursor_approval;  
			DEALLOCATE cursor_approval;  

			SELECT @Periode
		END
		COMMIT TRANSACTION Eksekusi
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION Eksekusi
		SELECT @Errm = ERROR_MESSAGE() , @Errn = ERROR_NUMBER()
		EXEC [dbo].[Usp_Insert_ErrorLog] 'Usp_Insert_ProjectEksekusi' , @Errn , @Errm , @username

		SELECT @Errm
	END CATCH
END




GO
