USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_CheckProjectIsFinish_Report]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_CheckProjectIsFinish_Report] -- select * from [dbo].[Ufn_CheckProjectIsFinish_Report](130) 
( 
	@ProjectHeaderID int
)
RETURNS  
	@Result TABLE(TaskID int, Milestones varchar(max), selesai varchar(max) , statuss varchar(max), button int, Month int, Year int)
BEGIN
		INSERT INTO @Result
		SELECT 
		MPPPD.TaskID as ID, 
		MPPPD.TaskName as Milestones, 
		[dbo].[Ufn_GetMonthName_Indonesia](MONTH(MPPPD.StartDate)) + ' ' + CAST(YEAR(MPPPD.StartDate) as varchar(4)) as Selesai ,
		CASE 			
		WHEN	
			EXISTS (
				SELECT IDDocument FROM
				TblT_Document MMD
				where
				MMD.IDProjectHeader = @ProjectHeaderID
				and
				MMD.TaskID = MPPPD.TaskID
				and
				MMD.IsActive = '1'
			)  
			AND  
			(	
				SELECT TOP 1 CompletePercentage FROM TblT_MPPProjectRealPercentage MRPP 
				WHERE
					MRPP.TaskID = MPPPD.TaskID
					and 
					MRPP.IDProjectHeader = @ProjectHeaderID
					ORDER BY 
					CAST(MRPP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(MRPP.Month AS Varchar(2)),2) + CAST(MRPP.Week as Varchar(1)) DESC
			) = 100
		THEN
		'FINISH'
		
		ELSE
		    (	
				CASE
				WHEN
					GETDATE() > DATEADD(dd, 0 , MPPPD.StartDate)
				THEN
					'LATE'
				ELSE
					'ONGOING'
				END
			)
		END
		as Status,
		CASE
		WHEN
			(Convert(varchar(4),DATEPART(YYYY,MPPPD.StartDate))+RIGHT('00'+CONVERT(varchar(2),DATEPART(MM,MPPPD.StartDate)),2))
			 <=
			(Convert(varchar(4),DATEPART(YYYY,GETDATE()))+RIGHT('00'+CONVERT(varchar(2),DATEPART(MM,GETDATE())),2))
		THEN
			'1'
		ELSE
			'1'
		END
		as Button,

		month(MPPPD.StartDate) as Month,
		year(MPPPD.StartDate) as Year

	FROM
	TblT_MPPProjectPlanDetail MPPPD
	where
	MPPPD.IsActive = '1'
	--and
	--(
	--	MPPPD.TaskName LIKE '%milestone%' 
	--	OR
	--	MPPPD.IsMilestone = '1'
	--)
	and
	MPPPD.ProjectHeaderID = @ProjectHeaderID
	ORDER BY
	MPPPD.TaskID ASC ,
	MPPPD.StartDate asc

	RETURN
END
GO
