USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_Document]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_Document](
	[IDDocument] [int] IDENTITY(1,1) NOT NULL,
	[IDDocPhase] [int] NULL,
	[IDDocType] [int] NULL,
	[IDProjectHeader] [int] NULL,
	[DocumentName] [varchar](max) NULL,
	[TaskID] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblT_Document] PRIMARY KEY CLUSTERED 
(
	[IDDocument] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
