USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetChild_From]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andre Ibrahim Latief
-- Create date: 01 April 2019
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetChild_From] (
	@TaskID INT
	,@ProjectHeaderID INT
	)
	-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
RETURNS @Result TABLE (
	 ChildTaskID INT NOT NULL
	)
AS
BEGIN
	
	IF EXISTS(SELECT TaskID FROM TblT_MPPProjectPlanDetail WHERE ParentID = @TaskID AND ProjectHeaderID = @ProjectHeaderID)
	BEGIN
		INSERT INTO @Result
		SELECT TaskID FROM TblT_MPPProjectPlanDetail WHERE ParentID = @TaskID AND ProjectHeaderID = @ProjectHeaderID
	END

	RETURN
END
GO
