USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_EmployeeList_byName]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_EmployeeList_byName] @username VARCHAR(30)
AS
BEGIN
	SELECT 
		Emp.PersonalNumber
		,Emp.Nama
		,Emp.Posisi
	FROM TblT_UserAuthorized Ua
	inneR join
	TblDW_Employee   Emp
	on 
	Emp.PersonalNumber = Ua.PersonNumber
	WHERE Emp.Nama LIKE '%' + @username + '%'
	and
	Ua.IsActive = '1'
END




GO
