USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Main_Ribbon_Executive]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author     :	Andre Ibrahim Latief
-- Create date: 20-01-2019
-- Description:	Calculate PercentagePlan 
-- EXEC		  : Usp_Calculate_PercentagePlan '25' , 'Training11'
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Main_Ribbon_Executive] 
	AS
BEGIN
	SELECT SUM(CASE 
			WHEN IsTransformasi = 0
				THEN 1
			ELSE 0
			END) Transformation
	,SUM(CASE 
			WHEN IsTransformasi = 1
				THEN 1
			ELSE 0
			END) NonTransformation
	,CAST('95.30' AS FLOAT) AS ProgressTransfomation
	,CAST('65.80' AS FLOAT) AS ProgressNonTransformation
	,CAST('7850000000' AS DECIMAL(20,2)) AS CostTransformation
	,CAST('15300200000' AS DECIMAL(20,2)) AS CostNonTransformation
	,cast(
		day(getdate()) AS VARCHAR(4)
	)
	+ ' '
	+ [dbo].[Ufn_GetMonthName_Indonesia](
		month(getdate())
	) +
	' ' +
	cast(
		year(getdate()) AS VARCHAR(4)
	) AS LastUpdated
FROM TblM_Project
WHERE ISNULL(IsActive, 0) = 1
END




GO
