USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_DropdownMasterStatus]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_DropdownMasterStatus] -- exec Usp_Get_DropdownMasterStatus


AS
BEGIN
	select IDProjectStatus Id, StatusName Deskripsi from TblM_ProjectStatus where IDProjectStatus not in (3,13)
	
END




GO
