USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_DWKaryawan]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_DWKaryawan]
	@dtKaryawan Udt_Karyawan_Newest Readonly 
AS
BEGIN

	BEGIN TRY
		BEGIN TRANSACTION Karyawan


				 MERGE TblDW_Employee AS trg
				 USING @dtKaryawan AS src
				  ON src.PersonalNumber = trg.PersonalNumber
				 WHEN MATCHED THEN
				   UPDATE SET				
				   NIK =					src.NIK,
				   Nama  =					src.Nama ,
				   JenisKelamin  =			src.JenisKelamin ,
				   TempatLahir  =			src.TempatLahir ,
				   BirthDate  =				CAST(src.BirthDate as date) ,
				   EntryDate   =			CAST(src.EntryDate as date)  ,
				   PensiunDate  =			CAST(src.PensiunDate as date) ,
				   Status   =				CAST(src.Status as int) ,
				   Leaving   =				CAST(src.Leaving as date) ,
				   KodeUnitKerja   =		CAST(src.KodeUnitKerja as int)  ,
				   TanggalDiPosisi   =		CAST(src.TanggalDiPosisi as date)  ,
				   KodePosisi   =			CAST(src.KodePosisi as int) ,
				   TanggalDiJabatan  =		CAST(src.TanggalDiJabatan as date),
				   TanggalDiPangkat   =		CAST(src.TanggalDiPangkat as date) ,
				   Pangkat   =				src.Pangkat  ,
				   KodePangkat   =			src.KodePangkat  ,
				   Pendidikan  =			src.Pendidikan ,
				   Institusi   =			src.Institusi  ,
				   Agama  =					src.Agama ,
				   StatusKerja   =			src.StatusKerja  ,
				   StatusPerkawinan   =		src.StatusPerkawinan  ,
				   JumlahAnak   =			CAST(src.JumlahAnak as int)  ,
				   Alamat  =				CAST(src.Alamat as text),
				   Posisi  =				src.Posisi,
				   Jabatan =				src.Jabatan,
					[UpdatedBy] = 'System',
					[UpdatedDate] =	GETDATE(),
					[CreatedBy]		= 'System'	;		
				
											
				--INSERT INTO 
				--TblDW_Employee
				--(
				--	PersonalNumber,
				--	NIK,
				--	Nama ,
				--	JenisKelamin ,
				--	TempatLahir ,
				--	BirthDate ,
				--	EntryDate  ,
				--	PensiunDate ,
				--	Status  ,
				--	Leaving  ,
				--	KodeUnitKerja  ,
				--	TanggalDiPosisi  ,
				--	KodePosisi  ,
				--	TanggalDiJabatan ,
				--	TanggalDiPangkat  ,
				--	Pangkat  ,
				--	KodePangkat  ,
				--	Pendidikan ,
				--	Institusi  ,
				--	Agama ,
				--	StatusKerja  ,
				--	StatusPerkawinan  ,
				--	JumlahAnak  ,
				--	Alamat ,
				--	CreatedDate
				--)
				--SELECT 
				--	PersonalNumber,
				--	NIK,
				--	Nama ,
				--	JenisKelamin ,
				--	TempatLahir ,
				--	CONVERT(date,BirthDate) ,
				--	CONVERT(date,EntryDate)  ,
				--	CONVERT(date,PensiunDate) ,
				--	CONVERT(int , Status ) ,
				--	CONVERT(date,Leaving ) ,
				--	CONVERT(int ,KodeUnitKerja)  ,
				--	CONVERT(date,TanggalDiPosisi)  ,
				--	CONVERT(int ,KodePosisi ) ,
				--	CONVERT(date ,TanggalDiJabatan ),
				--	CONVERT(date ,TanggalDiPangkat ) ,
				--	Pangkat  ,
				--	KodePangkat  ,
				--	Pendidikan ,
				--	Institusi  ,
				--	Agama ,
				--	StatusKerja  ,
				--	StatusPerkawinan  ,
				--	Convert(int,JumlahAnak)  ,
				--	Convert(text,Alamat),
				--	GETDATE()
				--FROM 
				--@dtKaryawan a WHERE a.PersonalNumber NOT IN (SELECT PersonalNumber FROM TblDW_Employee )

				INSERT INTO TblDW_Usergroup
				(
					[User_LoginName],
					[Usergroup_Pernr]
				)
				SELECT
					a.Username  ,
					Convert(int,PersonalNumber)  
				FROM
				@dtKaryawan a WHERE a.PersonalNumber NOT IN (SELECT PersonalNumber FROM TblDW_EmployeeMapping )
	

				INSERT INTO
				TblDW_EmployeeMapping
				(
					empl_mast_ID,
					empl_mast_Username  ,
					empl_mast_NIP  ,
					empl_mast_Name  ,
					org_unit_mast_ID  ,
					org_unit_mast_Name  ,
					empl_mast_ActiveStatus  ,
					empl_mast_IsContract  
				)
				SELECT 
					empl_mast_ID,
					empl_mast_Username  ,
					empl_mast_NIP  ,
					empl_mast_Name  ,
					org_unit_mast_ID  ,
					org_unit_mast_Name  ,
					Convert(bit,empl_mast_ActiveStatus)  ,
					Convert(bit,empl_mast_IsContract ) 
				FROM
				@dtKaryawan a WHERE a.empl_mast_Username NOT IN (SELECT z.empl_mast_username FROM TblDW_EmployeeMapping z) 
	
				SELECT 'S|Success'
		COMMIT TRANSACTION Karyawan
	END	TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION Karyawan
		SELECT ERROR_MESSAGE() 
	END CATCH
	

END




GO
