USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_StatusDashboardSO]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		SENA PUTRA
-- Create date: January 24, 2018
-- Description:	[dbo].[Get_StatusDashboardSO] '2017.SO9', '1'
-- =============================================
CREATE PROCEDURE [dbo].[Get_StatusDashboardSO]
	-- Add the parameters for the stored procedure here
	@StrategicObjective nvarchar(50),
	@isTransformation nvarchar(3)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @StrategicObjective = 'ALL' BEGIN SELECT @StrategicObjective = '' END
	IF @isTransformation = 'ALL' BEGIN SELECT @isTransformation = '' END

	-- TABLE 1
	-- GET TOTAL PROJECT STATUS FIND BY SO AND PROJECT TYPE TRANSFORMATION OR NON TRANSFORMATION
	SELECT T.StatusName, SUM(Total) As Total
	FROM (
		SELECT B.StatusName, COUNT(R.ProjectName) As Total
		FROM (
			SELECT A.IDProjectStatus, B.ProjectName FROM TblT_ProjectHeader A
			LEFT JOIN  TblM_Project B ON A.IDProject = B.IDProject
			LEFT JOIN TblM_StrategicObjective D ON B.IDStrategicObjective = D.IDStrategicObjective
			WHERE (D.StrategicObjectiveCode = @StrategicObjective OR @StrategicObjective = D.StrategicObjectiveCode)
			AND (B.IsTransformasi = @isTransformation OR @isTransformation = B.IsTransformasi)
		)R
	RIGHT JOIN TblM_ProjectStatus B ON R.IDProjectStatus = B.IDProjectStatus
	GROUP BY R.ProjectName, B.StatusName
	) T
	GROUP BY T.Total, T.StatusName

	-- TABLE 2
	-- GET PROJECT LIST FIND BY PROJECT TYPE AND SO
	SELECT B.IDProject, B.ProjectNo, B.ProjectName, A.ContractStartDate, A.ContractEndDate, C.StatusName
	 FROM TblT_ProjectHeader A
	INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
	INNER JOIN TblM_StrategicObjective D ON B.IDStrategicObjective = D.IDStrategicObjective
	WHERE (D.StrategicObjectiveCode = @StrategicObjective OR @StrategicObjective = D.StrategicObjectiveCode)
		AND (B.IsTransformasi = @isTransformation OR @isTransformation = B.IsTransformasi)

END





GO
