USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_SLA_Getby_id]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<Author,,Septian c>
-- Create date: <11 Juli 2023>
-- Description:	<Laporan Mingguan untuk grafik poin 1c>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_SLA_Getby_id]
--exec Usp_SLA_Getby_id 1
@Id INT
AS
BEGIN
	select
	row_number() OVER (
			ORDER BY CASE 
					WHEN UpdateDate IS NOT NULL
						THEN UpdateDate
					ELSE CreateDate
					END DESC
			) AS NoUrut,
	Id,
	GroupId,
	StatusSLA,
	Peraturan,
	JasaPelayanan,
	Waktu,
	DihitungDari,
	IsActive,
	CreateUser,
	CreateDate,
	UpdateUser,
	UpdateDate
	from TblM_SLA
	where IsActive=1 and id=@id

	select IDDepartment Id, DepartmentCode Description from TblM_Department where IsActive=1

END




GO
