USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_TrendEkseksiPerPeriode_Report]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:     
-- Create date:  
-- Description:   
-- ============================================= 
CREATE FUNCTION [dbo].[Ufn_Get_TrendEkseksiPerPeriode_Report] (@IDProjectHeader INT) 
returns @Result TABLE ( 
  IDProjectHeader INT, 
  Status          VARCHAR(max), 
  week			  INT,
  month			  INT,
  year			  int  ) 
AS 
  BEGIN 
      DECLARE @wk   INT, 
              @mm   INT, 
              @yr   VARCHAR(4), 
              @Tipe INT 

      SELECT @wk = weekofmonth, 
             @mm = month, 
             @yr = year 
      FROM   tblm_date 
      WHERE  date = CONVERT(DATE, Getdate()) 
	  
------------------------------------->>>> Tambahan Fadhil >>>>--------------------------------------------------------------
--if((select top 1 WeekDayName from TblM_Date where Date = cast(getdate() as date)) = 'Friday')begin
--	set @mm = @mm + 1;
--	set @wk = 1;
--	if(@mm = 13)begin
--		set @mm = 1
--		set @Yr = cast((cast(@yr as int) + 1) as varchar(5));
--	end;
--end;
-------------------------------------<<<< Tambahan Fadhil <<<<--------------------------------------------------------------

      SELECT @Tipe = Proj.istransformasi 
      FROM   tblm_project Proj 
             INNER JOIN tblt_projectheader PH 
                     ON Proj.idproject = PH.idproject 
      WHERE  PH.idprojectheader = @IDProjectHeader 

      ----------------------- 
      IF @Tipe = 0 
        BEGIN 
            INSERT INTO @Result 
            SELECT MPPP.idprojectheader as IDProjectHeader , -- 1, 
				  CASE
					WHEN
						EXISTS(
							SELECT TOP 1 PES.IDProjectHeaderID FROM 
							TblT_ProjectExecutionStatus PES
							WHERE
							PES.ProjectStatus = 'Approved'
							and
							PES.IDProjectHeaderID = @IDProjectHeader
							and
							PES.IsActive = 1
							and
							PES.Periode =  CONVERT(VARCHAR, MPPP.year) + '-' 
													+ CONVERT(VARCHAR, MPPP.month) + 
													'-' 
													+ CONVERT(VARCHAR, Max(MPPP.week)) 
						) 
					THEN
					'Completed'
					WHEN
						EXISTS(
							SELECT TOP 1 PES.IDProjectHeaderID FROM 
							TblT_ProjectExecutionStatus PES
							WHERE
							PES.ProjectStatus = 'Submit'
							and
							PES.IDProjectHeaderID = @IDProjectHeader
							and
							PES.IsActive = 1
							and
							PES.Periode =  CONVERT(VARCHAR, MPPP.year) + '-' 
													+ CONVERT(VARCHAR, MPPP.month) + 
													'-' 
													+ CONVERT(VARCHAR, Max(MPPP.week)) 
						) 
					THEN
					'Waiting For Approval'
					ELSE
					'No realisation on this month'
					END
				  AS Status, 
	  Max(MPPP.week)  as week , MPPP.Month , MPPP.Year
      FROM   tblt_mppprojectplanpercentage MPPP 
      WHERE  MPPP.isactive = 1 
      AND MPPP.idprojectheader = @IDProjectHeader 
      AND MPPP.year <= @yr--DATEPART(YYYY, GETDATE()) 
      AND ( Cast(MPPP.year AS VARCHAR(4)) 
            + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) ) 
          -- + CAST(MPPP.Week AS VARCHAR(1)))  
          <= ( @yr 
               + RIGHT('00' + Cast(@mm AS VARCHAR(2)), 2) ) 
      -- + CAST(@wk AS VARCHAR(1))) 
      AND MPPP.taskid = (SELECT TOP 1 MPPC.taskid 
                         FROM   tblt_mppprojectplanpercentage MPPC 
                                INNER JOIN tblt_mppprojectplandetail MPD 
                                        ON MPPC.idprojectheader = 
                                           MPD.projectheaderid 
                                           AND MPD.taskid = MPPC.taskid 
                         WHERE  idprojectheader = @IDProjectHeader 
                                AND parentid = 0
								  AND MPD.Isactive = 1
								 AND MPPC.Isactive = 1) 
      GROUP  BY MPPP.month, 
         MPPP.year, 
         MPPP.idprojectheader, 
         MPPP.taskid 

      END 
      ELSE 
        BEGIN 
            INSERT INTO @Result 
            SELECT DISTINCT MPPP.idprojectheader, 
                   
  CASE 
    WHEN EXISTS ( SELECT TOP 1 PES.IDProjectHeaderID FROM TblT_ProjectExecutionStatus PES
	where 
	PES.IDProjectHeaderID = @IDProjectHeader
	AND
	PES.IsActive = 1
	AND
	PES.Periode = CONVERT(VARCHAR, 
                  MPPP.year) + '-' 
                  + CONVERT(VARCHAR 
                  , 
                  MPPP.month) + '-' 
                  + CONVERT(VARCHAR 
                  , 
                  ( 
                  MPPP.week)) 
	AND PES.ProjectStatus = 'Approved'
	) THEN 
    'Completed' 
   WHEN EXISTS ( SELECT TOP 1 PES.IDProjectHeaderID FROM TblT_ProjectExecutionStatus PES
	where 
	PES.IDProjectHeaderID = @IDProjectHeader
	AND
	PES.IsActive = 1
	AND
	PES.Periode = CONVERT(VARCHAR, 
                  MPPP.year) + '-' 
                  + CONVERT(VARCHAR 
                  , 
                  MPPP.month) + '-' 
                  + CONVERT(VARCHAR 
                  , 
                  ( 
                  MPPP.week)) 
	AND PES.ProjectStatus = 'Submit'
	) THEN 
    'Waiting for Approval' 
    ELSE 'No realisation on this week' 
  END 
  AS 
  Status, 
  MPPP.Week , MPPP.Month , MPPP.Year
  FROM   tblt_mppprojectplanpercentage MPPP 
  LEFT JOIN tblt_mppprojectrealpercentage MPRP 
  ON MPPP.idprojectheader = MPRP.idprojectheader 
   AND MPPP.taskid = MPRP.taskid 
   AND MPPP.year = MPRP.year 
   AND MPPP.month = MPRP.month 
   AND MPPP.week = MPRP.week 
  WHERE  MPPP.isactive = 1 
  AND MPPP.idprojectheader = @IDProjectHeader 
  --AND CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2) + CAST(MPPP.Week AS VARCHAR(1)) <=
  ----and 
  ----MPPP.Year <= DATEPART(YYYY,GETDATE()) 
  ----AND 
  ----(CAST(MPPP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(MPPP.Month AS Varchar(2)),2) + CAST(MPPP.Week as Varchar(1))) <= 
  --(CAST(DATEPART(YYYY, GETDATE()) AS VARCHAR(4)) + RIGHT('00' + CAST(DATEPART(MM, GETDATE()) AS VARCHAR(2)), 2) + CAST(DATEPART(wk, GETDATE()) AS VARCHAR(1)))
  AND ( Cast(MPPP.year AS VARCHAR(4)) 
  + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) 
  + Cast(MPPP.week AS VARCHAR(1)) ) <= ( 
  @yr 
  + RIGHT('00' + Cast(@mm AS VARCHAR(2)), 
  2) 
  + Cast(@wk AS VARCHAR(1)) ) 
  AND MPPP.taskid = ( 
           --SELECT TOP 1 MPPC.TaskID 
           --FROM TblT_MPPProjectPlanPercentage MPPC 
           --WHERE IDProjectHeader = @IDProjectHeader 
           --ORDER BY TaskID ASC 
           SELECT TOP 1 MPPC.taskid 
            FROM   tblt_mppprojectplanpercentage MPPC 
                   INNER JOIN tblt_mppprojectplandetail MPD 
                           ON MPPC.idprojectheader = 
                              MPD.projectheaderid 
                              AND MPD.taskid = MPPC.taskid 
            WHERE  idprojectheader = @IDProjectHeader 
                   AND parentid = 0
				   AND MPD.Isactive = 1
				   AND MPPC.Isactive = 1) 
 
  END 

      RETURN 
  END 

GO
