USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Report_SummaryPerDirektorat]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- EXEC Usp_Get_Report_SummaryPerDirektorat '0', '3' , '2019'
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_Report_SummaryPerDirektorat]
	@week int = null,
	@month int,
	@year int
AS
BEGIN
	--DECLARE @PerProject TABLE (IDProjectHeader int , IDDirektorat int , Pencapaian float)
	--DECLARE @IDProjectHeader int , @IDDir int

	--DECLARE Direktorat_Cursor CURSOR FOR 
	--SELECT 
	--EL.IDProjectHeader , Dir.IDDirektorat 
	--FROM
	--	Ufn_Get_Project_ExecutionList() EL
	--INNER JOIN 
	--TblM_Project Proj
	--	ON
	--		El.IDProject = Proj.IDProject
	--INNER JOIN
	--TblM_Department Dept
	--ON
	--Proj.IDDepartment = Dept.IDDepartment
	--LEFT JOIN 
	--TblM_Direktorat Dir
	--ON
	--Dept.IDDirektorat = Dir.IDDirektorat

	
	--OPEN Direktorat_Cursor;
	--FETCH NEXT FROM Direktorat_Cursor INTO @IDProjectHeader, @IDDir;
	--WHILE @@FETCH_STATUS = 0  
	--BEGIN  
	--	IF @week = 0
	--	BEGIN
	--	  INSERT INTO @PerProject
	--	  SELECT TOP 1 @IDProjectHeader , @IDDir, ROUND(ROUND(NULLIF(TPP.Reals,0),0) / ROUND(NULLIF(TPP.Plans,0), 0) * 100 , 0) FROM 
	--	  Ufn_Get_TrendEkseksiPerPeriode(@IDProjectHeader) TPP
	--	  WHERE
	--	  TPP.year  = @year
	--		AND
	--	  TPP.month = @month
	--	  ORDER BY week DESC
	--	END 
	--	ELSE
	--	BEGIN
	--	  INSERT INTO @PerProject
	--	  SELECT TOP 1 @IDProjectHeader , @IDDir, ROUND(ROUND(NULLIF(TPP.Reals,0),0) / ROUND(NULLIF(TPP.Plans,0), 0) * 100 , 0) FROM 
	--	  Ufn_Get_TrendEkseksiPerPeriode(@IDProjectHeader) TPP
	--	  WHERE
	--	  TPP.year  = @year
	--		AND
	--	  TPP.month = @month
	--		AND
	--	  TPP.week = @week	
	--	END
	--FETCH NEXT FROM Direktorat_Cursor INTO  @IDProjectHeader, @IDDir;
	--END;
	--CLOSE Direktorat_Cursor;
	--DEALLOCATE Direktorat_Cursor;
	
	--SELECT 
	--	Main.DirektoratName as NamaDirektorat, 
	--	ISNULL(ROUND(AVG(Pencapaian),2),0) as RataPencapain , 
	--	FORMAT(CONVERT(decimal(18,3),ROUND(ISNULL(SUM(Anggaran),0) / 1000000 , 0)),'#,0')as TotalAnggaran,
	--	CASE
	--		WHEN
	--		ROUND(AVG(Pencapaian),2) >= 110
	--		THEN
	--		 '<div class="circle" style="background : blue"></div>'
	--		WHEN
	--		ROUND(AVG(Pencapaian),2) BETWEEN 100 and 109
	--		THEN
	--		 '<div class="circle" style="background : green"></div>'
	--		WHEN
	--		ROUND(AVG(Pencapaian),2) BETWEEN 85 and 99
	--		THEN
	--		 '<div class="circle" style="background : yellow"></div>'
	--		ELSE
	--		 '<div class="circle" style="background : red"></div>'
	--	END as Status , 
	--	ISNULL(CONVERT(DECIMAL(30,2),ROUND(AVG(Main.Realisasi),2)),0) as Realisasi,
	--	ISNULL(CONVERT(DECIMAL(30,2),ROUND(AVG(Main.Realkomit),2)),0) as Realkomit
	--FROM 
	--(
	--	SELECT Dir.DirektoratName, PP.IDProjectHeader, PP.IDDirektorat,  PP.Pencapaian,  
	--	dbo.Ufn_GetTotalAnggaranPerProject(PP.IDProjectHeader) as Anggaran , 
	--	(
	--		SELECT
	--		CONVERT(DECIMAL(30,2),ROUND((SUM(MM.RealValue) / NULLIF(SUM(MM.RKATValue),0) * 100),2))
	--		FROM 
	--		Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth(PP.IDProjectHeader,@year,@month) MM
	--	)
	--	as
	--	Realisasi,
	--	(
	--		SELECT
	--		(SUM(MM.RealValue) + SUM(MM.RKATValue)) / NULLIF(SUM(MM.RKATValue),0)
	--		FROM 
	--		Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth(PP.IDProjectHeader,@year,@month) MM
	--	)
	--	as
	--	RealKomit
	--	FROM @PerProject PP
	--	INNER JOIN 
	--	TblM_Direktorat Dir
	--	ON
	--	PP.IDDirektorat = Dir.IDDirektorat
	--)Main
	--GROUP BY  Main.DirektoratName
	
	declare @Date date = null;

	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc) end;


	SELECT 
		RR.NamaDirektorat , 
		CONVERT(NUMERIC(18,2),RR.RataPencapain) as RataPencapain , 
		FORMAT(CONVERT(NUMERIC(18,0),RR.TotalAnggaran),'#,#') as TotalAnggaran , 
		CASE
			WHEN
			ROUND(RR.RataPencapain ,2) >= 110
			THEN
				'<div class="circle" style="background : blue"></div>'
			WHEN
			ROUND(RR.RataPencapain ,2) BETWEEN 100 and 109
			THEN
				'<div class="circle" style="background : green"></div>'
			WHEN
			ROUND(RR.RataPencapain ,2) BETWEEN 85 and 99
			THEN
				'<div class="circle" style="background : yellow"></div>'
			ELSE
			(
				CASE WHEN RataPencapain = 0 
				THEN
				 '<div class="circle" style="background : grey"></div>'
				ELSE
				 '<div class="circle" style="background : red"></div>'
				END
			)
		END as Status , 
		ISNULL(convert(varchar(max),CONVERT(DOUBLE PRECISION, CAST(100 * (Realisasi / NULLIF(TotalAnggaran,0))  as decimal(18,2))  )),0) as Realisasi,
			cast(cast(isnull(Realkomit/nullif(TotalAnggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50))  as RealKomit
		--CONVERT(NUMERIC(18,2),ROUND(RR.Realisasi / NULLIF(TotalAnggaran,0) * 100,2)) as
		-- Realisasi , 
		--CONVERT(NUMERIC(18,2),ROUND((RR.Realisasi + RR.Realkomit) / NULLIF(TotalAnggaran,0) * 100,2)) as Realkomit
	FROM
	( 
	select 
		FORMAT(ROW_NUMBER() OVER (ORDER BY ( SELECT NULL)),'00')
		+ ' - ( ' + Name + ' ) ' +
		DirektoratName as NamaDirektorat,
		isnull(sum(Anggaran), 0) as TotalAnggaran,
		isnull(round(100 * avg(RealPencapaian) / nullif(avg(PlanPencapaian), 2), 0.00),0) as RataPencapain,
		isnull(sum(obj.RealisasiAnggaran), 0.00) as Realisasi,
		isnull(sum(obj.RealisasiKomit),0.00) as Realkomit

	from (
		select 'Project' as Tipe,
			case
				when IDDirektorat = 1 then a.DepartmentName
				else a.DirektoratName
			end as DirektoratName,
			isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
			case when (
					a.IDProjectStatus = 1
					or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
			else a.PlanPencapaian
			end as PlanPencapaian,
			case 
				when (
						a.IDProjectStatus = 1
						or a.IDProjectStatus = 7
						or a.IDProjectStatus = 8
						or a.IDProjectStatus = 9
					)
					or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
				else a.RealisasiPencapaian
			end as RealPencapaian,
			case
				when IDDirektorat = 1 then DepartmentCode
				else DirektoratCode
			end as Name,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit
			
		from TblD_ListProject a
			--cross apply [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth](a.IDProjectHeader,@Year,@Month) i

		where a.IsActive = 1
			-- and a.IDDirektorat <> 1
			and a.DateDownload = @Date
			and (@Year between a.StartYear and a.EndYear)

		--group by a.DirektoratName,
		--		a.IDDirektorat,
		--		a.DepartmentName,
		--		a.IDProjectStatus,
		--		a.StartYear,
		--		a.StartMonth,
		--		a.StartDay,
		--		a.PlanPencapaian,
		--		a.RealisasiPencapaian,
		--		a.DepartmentCode,
		--		a.DirektoratCode
			
	) obj

	group by DirektoratName, Name
	)RR


	UNION ALL

	SELECT 
		'Total' as NamaDirektorat , 
		CONVERT(NUMERIC(18,2),(isnull(round(100 * avg(RA) / nullif(avg(PP), 2), 0.00),0))) as RataPencapain , 
		FORMAT(CONVERT(NUMERIC(18,0),SUM(RR.TotalAnggaran)),'#,#') as TotalAnggaran , 
		NULL as Status , 
		CONVERT(NUMERIC(18,2),ROUND(SUM(RR.Realisasi) / NULLIF(SUM(TotalAnggaran),0) * 100,2)) as Realisasi , 
		CONVERT(NUMERIC(18,2),ROUND((SUM(RR.Realisasi) + SUM(RR.Realkomit)) / NULLIF(SUM(TotalAnggaran),0) * 100,2)) as Realkomit

	FROM
	( 
	select 
		FORMAT(ROW_NUMBER() OVER (ORDER BY ( SELECT NULL)),'00')
		+ ' - ( ' + Name + ' ) ' +
		DirektoratName as NamaDirektorat,
		isnull(sum(Anggaran), 0) as TotalAnggaran,
		RealPencapaian as RA ,
		PlanPencapaian as PP ,
		isnull(round(100 * avg(RealPencapaian) / nullif(avg(PlanPencapaian), 2), 0.00),0) as RataPencapain,
		isnull(sum(obj.RealisasiAnggaran), 0.00) as Realisasi,
		isnull(sum(obj.RealisasiKomit),0.00) as Realkomit

	from (
		select 'Project' as Tipe,
			case
				when IDDirektorat = 1 then a.DepartmentName
				else a.DirektoratName
			end as DirektoratName,
			isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
			case when (
					a.IDProjectStatus = 1
					or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
			else a.PlanPencapaian
			end as PlanPencapaian,
			case 
				when (
						a.IDProjectStatus = 1
						or a.IDProjectStatus = 7
						or a.IDProjectStatus = 8
						or a.IDProjectStatus = 9
					)
					or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
				else a.RealisasiPencapaian
			end as RealPencapaian,
			case
				when IDDirektorat = 1 then DepartmentCode
				else DirektoratCode
			end as Name,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit
			
		from TblD_ListProject a
			--cross apply [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth](a.IDProjectHeader,@Year,@Month) i

		where a.IsActive = 1
			-- and a.IDDirektorat <> 1
			and a.DateDownload = @Date
			and (@Year between a.StartYear and a.EndYear)

		--group by a.DirektoratName,
		--		a.IDDirektorat,
		--		a.DepartmentName,
		--		a.IDProjectStatus,
		--		a.StartYear,
		--		a.StartMonth,
		--		a.StartDay,
		--		a.PlanPencapaian,
		--		a.RealisasiPencapaian,
		--		a.DepartmentCode,
		--		a.DirektoratCode
			
	) obj

	group by DirektoratName, Name,
	RealPencapaian,
	PlanPencapaian
	)RR
END




GO
