USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiList]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Usp_Get_ProjectEksekusiList]
	@personnumber varchar(20)
as begin

	declare @usern varchar(max),
		@role int,
		@group varchar(6);
	
	declare @currentDate date = cast(getdate() as date);

	select @usern = UA.Username,
		@role = Ua.IDRoleGroup
	from TblT_UserAuthorized UA
	where UA.PersonNumber = @personnumber;

	select @group = EM.org_unit_mast_Code
	from TblDW_Usergroup UG
		inner join TblDW_EmployeeMapping EM on UG.User_LoginName = EM.empl_mast_username
	where UG.Usergroup_Pernr = @personnumber;
	
	declare @pjs table(
		UsernameAsli varchar(50)
	);

	insert into @pjs
	select distinct ExistingUsername 
	from TblT_PJSApproval 
	where IsActive = 1 and PJSUsername = @usern
		and cast(@currentDate as date) between cast(StartDate as date) and EndDate;

	/*
	===============================
	== SELECT @role == Table [0] ==
	===============================
	*/

	if @role = 1 or @role = 10 begin
		
		select EL.IDProjectHeader as ProyekPK,
			EL.ProjectName as NamaProyek,
			EL.StartDate as TanggalMulaiProyek,
			EL.EndDate as TanggalTutupProyek,

			isnull(
				round(
					(
						(
							round(
								case
									when EL.Realisasi > 99 and EL.Realisasi < 100 then 99 
									else El.Realisasi 
								end, 0
							) / round(nullif(EL.Planning, 0), 0)
						) * 100
					), 0
				)
			, 0) as PersentaseKomplit,

			round(EL.Planning,0) as Targets,
			b.ProjectNo as Realisasi,
			EL.LastUpdateBy as TerakhirDirubahOleh,

			convert(varchar(2), day(EL.LastUpdateDate))
				+ ' ' + [dbo].[Ufn_GetMonthName_Indonesia](month(EL.LastUpdateDate))
					+ ' ' + convert(varchar(4), year(EL.LastUpdateDate))
						+ ' ' + convert(varchar, EL.LastUpdateDate, 108) as TerakhirDirubahPada,
			
			case
				when isnull(
					round(
						(
							(
								round(
									case
										when EL.Realisasi > 99 and EL.Realisasi < 100 then 99
										else El.Realisasi 
									end, 0
								) / round(nullif(EL.Planning, 0), 0)
							) * 100
						), 0
					), 0
				) >= 110 then '<div class="circle" style="background : blue"></div>'
				when isnull(
					round(
						(
							(
								round(
									case
										when EL.Realisasi > 99 and EL.Realisasi < 100 then 99
										else El.Realisasi 
									end, 0
								) / round(nullif(EL.Planning, 0), 0)
							) * 100
						), 0
					), 0
				) between 100 and 109 then '<div class="circle" style="background : green"></div>'
				when isnull(
					round(
						(
							(
								round(
									case 
										when EL.Realisasi > 99 and EL.Realisasi < 100 then 99 
										else El.Realisasi 
									end, 0
								) / round(nullif(EL.Planning, 0), 0)
							) * 100
						), 0
					), 0
				) between 85 and 99 then '<div class="circle" style="background : yellow"></div>'
				else '<div class="circle" style="background : red"></div>'
			end as Stasus,
			convert(int,EL.IsTransformasi) as IsTransformasi,
			case
				when TWNO = 1 then case when TW1 is null then 0 else TW1 end
				when TWNO = 2 then case when TW2 is null then 0 else TW2 end 
				when TWNO = 3 then case when TW3 is null then 0 else TW3 end 
				when TWNO = 4 then case when TW4 is null then 0 else TW4 end 
				else case when TW1 is null then 0 else TW1 end
			end	as kpi

		
		from dbo.TblG_Project_ExecutionList EL
			inner join TblM_Project b on EL.IDProject = b.IDProject			
			--left join TblM_KPIValue c on EL.IDProject = c.IDProject
			left join (select top 1 with ties IDProject,TW1,TW2,TW3,TW4,TWYear,TWNO from TblM_KPIValue where IsActive=1 
			order by row_number() over (Partition by IDProject order by TWYear desc)) c on EL.IDProject = c.IDProject
			/* AAA1 - Perbaikan agar proyek yang statusnya 4, 12, 13 tidak muncul di project execution (Completed, closed & closed by amandemen) */
		where 
				EL.IDProjectHeader in (
				select IdProjectHeader
				from TblT_ProjectHeader aa left join TblM_ProjectStatus bb on bb.IDProjectStatus = aa.IDProjectStatus
				where aa.IdProjectHeader = EL.IDProjectHeader and aa.isactive = 1 and
				(bb.IDProjectStatus not in(4, 12, 13))
			)	
			/* AAA1 */					
		--order by convert(int,EL.IsTransformasi) desc, EL.StartDate asc;
		order by CASE WHEN LastUpdateDate IS NULL THEN 1	ELSE 0	END, LastUpdateDate desc
		
	end
	else if @role = 11 OR @role = 4 begin
		
		if @group = 'GPSO' begin
			
			select EL.IDProjectHeader as ProyekPK,
				EL.ProjectName as NamaProyek,
				EL.StartDate as TanggalMulaiProyek,
				EL.EndDate as TanggalTutupProyek,
				
				isnull(
					round(
						(
							(
								round(
									case
										when EL.Realisasi > 99 and EL.Realisasi < 100 then 99
										else El.Realisasi
									end, 0
								) / round(nullif(EL.Planning, 0), 0)
							) * 100
						), 0
					), 0
				) as PersentaseKomplit,

				round(EL.Planning,0) as Targets,
				b.ProjectNo as Realisasi,
				EL.LastUpdateBy as TerakhirDirubahOleh,
				
				convert(varchar(2), day(EL.LastUpdateDate)) 
					+ ' ' + [dbo].[Ufn_GetMonthName_Indonesia](month(EL.LastUpdateDate)) 
						+ ' '+ convert(varchar(4), year(EL.LastUpdateDate))
							+ ' ' + convert(varchar, EL.LastUpdateDate, 108) as TerakhirDirubahPada,
			
				case
					when isnull(
						round(
							(
								(
									round(
										case 
											when EL.Realisasi > 99 and EL.Realisasi < 100 then 99 
											else El.Realisasi 
										end, 0
									) / round(nullif(EL.Planning, 0), 0)
								) * 100
							), 0
						), 0
					) >= 110 then '<div class="circle" style="background : blue"></div>'
					when isnull(
						round(
							(
								(
									round(
										case 
											when EL.Realisasi > 99 and EL.Realisasi < 100 then 99 
											else El.Realisasi 
										end, 0
									) / round(nullif(EL.Planning, 0), 0)
								) * 100
							), 0
						), 0
					) between 100 and 109 then '<div class="circle" style="background : green"></div>'
					when isnull(
						round(
							(
								(
									round(
										case
											when EL.Realisasi > 99 and EL.Realisasi < 100 then 99 
											else El.Realisasi 
										end, 0
									) / round(nullif(EL.Planning, 0), 0)
								) * 100
							), 0
						), 0
					) between 85 and 99 then '<div class="circle" style="background : yellow"></div>'
					else '<div class="circle" style="background : red"></div>'
				end as Stasus,
				convert(int,EL.IsTransformasi) as IsTransformasi,
				case
					when TWNO = 1 then case when TW1 is null then 0 else TW1 end
					when TWNO = 2 then case when TW2 is null then 0 else TW2 end 
					when TWNO = 3 then case when TW3 is null then 0 else TW3 end 
					when TWNO = 4 then case when TW4 is null then 0 else TW4 end 
					else case when TW1 is null then 0 else TW1 end
				end	as kpi
			
			from dbo.TblG_Project_ExecutionList EL
				inner join TblM_Project b on EL.IDProject = b.IDProject		
			    --left join TblM_KPIValue c on EL.IDProject = c.IDProject
				left join (select top 1 with ties IDProject,TW1,TW2,TW3,TW4,TWYear,TWNO from TblM_KPIValue where IsActive=1 
			order by row_number() over (Partition by IDProject order by TWYear desc)) c on EL.IDProject = c.IDProject
			/* AAA1 - Perbaikan agar proyek yang statusnya 4, 12, 13 tidak muncul di project execution (Completed, closed & closed by amandemen) */
			where 
				EL.IDProjectHeader in (
				select IdProjectHeader
				from TblT_ProjectHeader aa left join TblM_ProjectStatus bb on bb.IDProjectStatus = aa.IDProjectStatus
				where aa.IdProjectHeader = EL.IDProjectHeader and aa.isactive = 1 and
				(bb.IDProjectStatus not in(4, 12, 13))
			)	
			/* AAA1 */						
			--order by convert(int,EL.IsTransformasi) desc, EL.StartDate asc;
			order by CASE WHEN LastUpdateDate IS NULL THEN 1	ELSE 0	END, LastUpdateDate desc

		end
		else if @group = 'GPTF' begin
			
			select EL.IDProjectHeader as ProyekPK,
				EL.ProjectName as NamaProyek,
				EL.StartDate as TanggalMulaiProyek,
				EL.EndDate as TanggalTutupProyek,
				
				isnull(
					round(
						(
							(
								round(
									case 
										when EL.Realisasi > 99 and EL.Realisasi < 100 then 99 
										else El.Realisasi 
									end, 0
								) / round(nullif(EL.Planning, 0), 0)
							) * 100
						), 0
					), 0
				) as PersentaseKomplit,

				round(EL.Planning,0) as Targets,
				b.ProjectNo as Realisasi,
				EL.LastUpdateBy as TerakhirDirubahOleh,
				
				convert(varchar(2), day(EL.LastUpdateDate))
					+ ' '+ [dbo].[Ufn_GetMonthName_Indonesia](month(EL.LastUpdateDate))
						+ ' '+ convert(varchar(4),year(EL.LastUpdateDate))
							+ ' ' + convert(varchar, EL.LastUpdateDate, 108) as TerakhirDirubahPada,
			
				case
					when isnull(
						round(
							(
								(
									round(
										case 
											when EL.Realisasi > 99 and EL.Realisasi < 100 then 99 
											else El.Realisasi 
										end, 0
									) / round(nullif(EL.Planning, 0), 0)
								) * 100
							), 0
						), 0
					) >= 110 then '<div class="circle" style="background : blue"></div>'
					when isnull(
						round(
							(
								(
									round(
										case 
											when EL.Realisasi > 99 and EL.Realisasi < 100 then 99 
											else El.Realisasi 
										end, 0
									) / round(nullif(EL.Planning, 0), 0)
								) * 100
							), 0
						), 0
					) between 100 and 109 then '<div class="circle" style="background : green"></div>'
					when isnull(
						round(
							(
								(
									round(
										case 
											when EL.Realisasi > 99 and EL.Realisasi < 100 then 99 
											else El.Realisasi 
										end, 0
									) / round(nullif(EL.Planning, 0), 0)
								) * 100
							), 0
						), 0
					) between 85 and 99 then '<div class="circle" style="background : yellow"></div>'
					else '<div class="circle" style="background : red"></div>'
				end as Stasus,				
				convert(int,EL.IsTransformasi) as IsTransformasi,
				case
					when TWNO = 1 then case when TW1 is null then 0 else TW1 end
					when TWNO = 2 then case when TW2 is null then 0 else TW2 end 
					when TWNO = 3 then case when TW3 is null then 0 else TW3 end 
					when TWNO = 4 then case when TW4 is null then 0 else TW4 end 
					else case when TW1 is null then 0 else TW1 end
				end	as kpi
			from dbo.TblG_Project_ExecutionList EL
				inner join TblM_Project b on EL.IDProject = b.IDProject						
				--left join TblM_KPIValue c on EL.IDProject = c.IDProject
				left join (select top 1 with ties IDProject,TW1,TW2,TW3,TW4,TWYear,TWNO from TblM_KPIValue where IsActive=1 
			order by row_number() over (Partition by IDProject order by TWYear desc)) c on EL.IDProject = c.IDProject
			/* AAA1 - Perbaikan agar proyek yang statusnya 4, 12, 13 tidak muncul di project execution (Completed, closed & closed by amandemen) */
			where 
				EL.IDProjectHeader in (
				select IdProjectHeader
				from TblT_ProjectHeader aa left join TblM_ProjectStatus bb on bb.IDProjectStatus = aa.IDProjectStatus
				where aa.IdProjectHeader = EL.IDProjectHeader and aa.isactive = 1 and
				(bb.IDProjectStatus not in(4, 12, 13))
			)	
			/* AAA1 */						
			--order by convert(int, EL.IsTransformasi) desc, EL.StartDate asc;
			order by CASE WHEN LastUpdateDate IS NULL THEN 1	ELSE 0	END, LastUpdateDate desc

		end
		else begin
			
			select EL.IDProjectHeader as ProyekPK,
				EL.ProjectName as NamaProyek,
				EL.StartDate as TanggalMulaiProyek,
				EL.EndDate as TanggalTutupProyek,
				
				isnull(
					round(
						(
							(
								round(
									case 
										when EL.Realisasi > 99 and EL.Realisasi < 100 then 99 
										else El.Realisasi 
									end, 0
								) / round(nullif(EL.Planning, 0), 0)
							) * 100
						), 0
					), 0
				) as PersentaseKomplit,
				
				round(EL.Planning,0) as Targets,
				proj.ProjectNo as Realisasi,
				EL.LastUpdateBy as TerakhirDirubahOleh,
				
				convert(varchar(2), day(EL.LastUpdateDate)) 
					+ ' '+ [dbo].[Ufn_GetMonthName_Indonesia](month(EL.LastUpdateDate)) 
						+ ' '+ convert(varchar(4), year(EL.LastUpdateDate))
							+ ' ' + convert(varchar, EL.LastUpdateDate, 108) as TerakhirDirubahPada,
				
				case
					when round(((round(EL.Realisasi, 0) / round(nullif(EL.Planning, 0), 0)) * 100), 0) >= 110
						then '<div class="circle" style="background : blue"></div>'
					when round(((round(EL.Realisasi, 0) / round(nullif(EL.Planning, 0), 0)) * 100), 0) between 100 and 109
						then '<div class="circle" style="background : green"></div>'
					when round(((round(EL.Realisasi, 0) / round(nullif(EL.Planning, 0), 0)) * 100), 0) between 85 and 99
						then '<div class="circle" style="background : yellow"></div>'
					else '<div class="circle" style="background : red"></div>'
				end as Stasus,
				convert(int,EL.IsTransformasi) as IsTransformasi,
				case
					when TWNO = 2 then case when TW2 is null then 0 else TW2 end 
					when TWNO = 1 then case when TW1 is null then 0 else TW1 end
					when TWNO = 3 then case when TW3 is null then 0 else TW3 end 
					when TWNO = 4 then case when TW4 is null then 0 else TW4 end 
					else case when TW1 is null then 0 else TW1 end
				end	as kpi
			
			from dbo.TblG_Project_ExecutionList EL 
				inner join TblM_Project Proj on EL.IDProject = Proj.IDProject
				inner join TblM_Department Dept on Proj.IDDepartment = Dept.IDDepartment						
			    --left join TblM_KPIValue c on EL.IDProject = c.IDProject
				left join (select top 1 with ties IDProject,TW1,TW2,TW3,TW4,TWYear,TWNO from TblM_KPIValue where IsActive=1 
			order by row_number() over (Partition by IDProject order by TWYear desc)) c on EL.IDProject = c.IDProject
			where Dept.DepartmentCode = @group
			/* AAA1 - Perbaikan agar proyek yang statusnya 4, 12, 13 tidak muncul di project execution (Completed, closed & closed by amandemen) */
			and 
				EL.IDProjectHeader in (
				select IdProjectHeader
				from TblT_ProjectHeader aa left join TblM_ProjectStatus bb on bb.IDProjectStatus = aa.IDProjectStatus
				where aa.IdProjectHeader = EL.IDProjectHeader and aa.isactive = 1 and
				(bb.IDProjectStatus not in(4, 12, 13))
			)	
			/* AAA1 */					
			--order by convert(int, EL.IsTransformasi) desc, EL.StartDate asc;
			order by CASE WHEN LastUpdateDate IS NULL THEN 1	ELSE 0	END, LastUpdateDate desc
		end;

	end
	else begin
	
		select EL.IDProjectHeader as ProyekPK,
			EL.ProjectName as NamaProyek,
			EL.StartDate as TanggalMulaiProyek,
			EL.EndDate as TanggalTutupProyek,

			isnull(
				round(
					(
						(
							round(
								case 
									when EL.Realisasi > 99 and EL.Realisasi < 100 then 99 
									else El.Realisasi 
								end, 0
							) / round(nullif(EL.Planning, 0), 0)
						) * 100
					), 0
				), 0
			) as PersentaseKomplit,

			round(EL.Planning,0) as Targets,
			b.ProjectNo as Realisasi,
			EL.LastUpdateBy as TerakhirDirubahOleh,

			convert(varchar(2), day(EL.LastUpdateDate)) 
				+ ' '+ [dbo].[Ufn_GetMonthName_Indonesia](month(EL.LastUpdateDate)) 
					+ ' '+ convert(varchar(4),year(EL.LastUpdateDate))
						+ ' ' + convert(varchar, EL.LastUpdateDate, 108) as TerakhirDirubahPada,

			case
				when round(((round(EL.Realisasi, 0) / round(nullif(EL.Planning, 0), 0)) * 100), 0) >= 110
					then '<div class="circle" style="background : blue;"></div>'
				when round(((round(EL.Realisasi, 0) / round(nullif(EL.Planning, 0), 0)) * 100), 0) between 100 and 109
					then '<div class="circle" style="background : green"></div>'
				when round(((round(EL.Realisasi, 0) / round(nullif(EL.Planning, 0), 0)) * 100), 0) between 85 and 99
					then '<div class="circle" style="background : yellow"></div>'
				else '<div class="circle" style="background : red"></div>'
			end as Stasus,

			convert(int,EL.IsTransformasi) as IsTransformasi,
			case
				when TWNO = 1 then case when TW1 is null then 0 else TW1 end
				when TWNO = 2 then case when TW2 is null then 0 else TW2 end 
				when TWNO = 3 then case when TW3 is null then 0 else TW3 end 
				when TWNO = 4 then case when TW4 is null then 0 else TW4 end 
				else case when TW1 is null then 0 else TW1 end
			end	as kpi
			
		from dbo.TblG_Project_ExecutionList EL
			inner join TblM_Project b on EL.IDProject = b.IDProject					
			--left join TblM_KPIValue c on EL.IDProject = c.IDProject
			left join (select top 1 with ties IDProject,TW1,TW2,TW3,TW4,TWYear,TWNO from TblM_KPIValue where IsActive=1 
			order by row_number() over (Partition by IDProject order by TWYear desc)) c on EL.IDProject = c.IDProject
		where EL.IDProjectHeader in(
			select distinct b.IDProjectHeader 
			from(
				select Username, IsActive, IDProjectHeader from TblT_ProjectExecutionApprovalRole where IsActive = 1
				union all 
				select Username, IsActive, IDProjectHeader from TblT_ProjectInitApprovalRole where IsActive = 1
			) b
			where (
				b.Username = @usern or b.Username in(
					select UsernameAsli from @pjs
				)
			) 
			and b.IsActive = 1
			/* AAA1 - Perbaikan agar proyek yang statusnya 4, 12, 13 tidak muncul di project execution (Completed, closed & closed by amandemen) */
			and 
				EL.IDProjectHeader in (
				select IdProjectHeader
				from TblT_ProjectHeader aa left join TblM_ProjectStatus bb on bb.IDProjectStatus = aa.IDProjectStatus
				where aa.IdProjectHeader = EL.IDProjectHeader and aa.isactive = 1 and
				(bb.IDProjectStatus not in(4, 12, 13))
			)	
			/* AAA1 */
		)

		--order by convert(int, EL.IsTransformasi) desc, EL.StartDate asc;
		order by CASE WHEN LastUpdateDate IS NULL THEN 1	ELSE 0	END, LastUpdateDate desc
		
	end;

end;




GO
