USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_ActuateSO]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		ANDRE
-- Create date: January 20, 2018
-- Description:	EXEC [dbo].[Get_DashboardSOChart]
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_ActuateSO]
	-- Add the parameters for the stored procedure here
	@SO_Code VARCHAR(20)
	,@SO_Name VARCHAR(50)
	,@SO_Desc VARCHAR(200)
	,@SO_Year VARCHAR(4)
	,@SO_IsActive VARCHAR(4)
AS
BEGIN

	IF NOT EXISTS ( SELECT 1 FROM [TblM_StrategicObjective] WHERE StrategicObjectiveCode= @SO_Code)
	BEGIN
	INSERT INTO [TblM_StrategicObjective] (
		[StrategicObjectiveCode]
		,[StrategicObjectiveName]
		,[Description]
		,[Year]
		,[CreatedDate]
		,[CreatedBy]
		,[IsActive]
		)
	VALUES (
		@SO_Code
		,@SO_Name
		,@SO_Desc
		,@SO_Year
		,GETDATE()
		,'System.Scheduler'
		,CASE 
			WHEN @SO_IsActive = 'True'
				THEN 1
			ELSE 0
			END
		)
		SELECT 'S|Success Insert TblM_StrategicObjective '+ @SO_Code + ' SO Name ' + @SO_Name
	END
	
	ELSE
	BEGIN 
		UPDATE [TblM_StrategicObjective] SET Description = @SO_Desc , StrategicObjectiveName = @SO_Name , Year = @SO_Year, IsActive = CASE WHEN @SO_IsActive = 'True' THEN 1 ELSE 0 END
		WHERE StrategicObjectiveCode = @SO_Code

		SELECT 'S|Success Update TblM_StrategicObjective '+ @SO_Code + ' SO Name ' + @SO_Name
	END
	
END




GO
