USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_MPPMilestoneDocument]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_MPPMilestoneDocument](
	[IDDocumentMilestone] [bigint] IDENTITY(1,1) NOT NULL,
	[IDDocumentType] [int] NULL,
	[ProjectHeaderID] [int] NULL,
	[TaskID] [bigint] NULL,
	[DocumentName] [varchar](200) NULL,
	[DocumentType] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]
GO
