USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetMonthName_Indonesia]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Ufn_GetMonthName_Indonesia] (@monthnumber int)
RETURNS varchar(20)
AS 
    BEGIN
        DECLARE @monthname varchar(20)
	DECLARE @temp table (id int, NamaBulan varchar(20))

	insert into @temp values (1 , 'Januari')
	insert into @temp values (2 , 'Februari')
	insert into @temp values (3 , 'Maret')
	insert into @temp values (4 , 'April')
	insert into @temp values (5 , 'Mei')
	insert into @temp values (6 , 'Juni')
	insert into @temp values (7 , 'July')
	insert into @temp values (8 , 'Agustus')
	insert into @temp values (9 , 'September')
	insert into @temp values (10 , 'Oktober')
	insert into @temp values (11 , 'November')
	insert into @temp values (12 , 'Desember')
	
	SELECT
		@monthname = NamaBulan
	FROM 
	@temp
	where id = @monthnumber

	RETURN @monthname
    END
GO
