USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterKategoriProject_ByID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MasterKategoriProject_ByID]
	-- Add the parameters for the stored procedure here
	@IDKategori INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT row_number() OVER (
			ORDER BY UpdatedDate DESC
			) AS NoUrut
		,*
	FROM TblM_KategoriProject
	WHERE ISNULL(IsActive,0) = 1 AND IDKategoriProject = @IDKategori;
END




GO
