USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Approve_ProjectEksekusiPerPeriode_BAK]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [Usp_Approve_ProjectEksekusiPerPeriode] 93,'100011','2018-12-4'
CREATE PROCEDURE [dbo].[Usp_Approve_ProjectEksekusiPerPeriode_BAK]
	 @IDProjectHeader INT = NULL
	,@Persnum VARCHAR(50) = NULL
	,@Periode varchar(50) = NULL
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION;
		
		DECLARE @roleuser int 

		DECLARE @Username VARCHAR(50) = (
				SELECT TOP 1 User_LoginName
				FROM TblDW_Usergroup
				WHERE Usergroup_Pernr = @Persnum
				);
		DECLARE @NextSequence INT = NULL;

		IF (@Username = NULL)
		BEGIN
			SET @Username = '-';
		END;

	  SELECT TOP 1 @roleuser = IDRoleGroup FROM TblT_ProjectExecutionApprovalRole
				WHERE
				IDProjectHeader = @IDProjectHeader
				AND IsActive = 1
				AND ( IsApprove is null or IsApprove = '0')
				AND Periode = @Periode 
				AND IsEnabled = 1
				order by IDRoleGroup ASC

			UPDATE TblT_ProjectExecutionApprovalRole
			SET IsApprove = 1
				,UpdatedBy = @Username
				,UpdatedDate = getdate()
			WHERE
				--Sequence = @NextSequence
				IDProjectHeader = @IDProjectHeader
				AND IsActive = 1
				AND Periode = @Periode
				AND IDRoleGroup = @roleuser

		  IF	
				NOT EXISTS (
					SELECT a.Sequence
					FROM TblT_ProjectExecutionApprovalRole a
					LEFT JOIN TblT_ProjectHeader b ON a.IDProjectHeader = b.IDProjectHeader
					WHERE a.IsActive = 1
						AND b.IsActive = 1
						AND b.IDProjectHeader = @IDProjectHeader
						AND a.IsEnabled = 1
						AND (a.IsApprove is NULL or a.IsApprove = '0')
						AND a.Periode = @Periode
				)
			BEGIN
				/*		
								DECLARE VARIABLE 
				*/
				DECLARE @year int , @month int, @week int 
				DECLARE @SplitString TABLE (rownumber int , val varchar(max))
				/*
					GET YEAR , MONTH, AND WEEK FROM @Periode
				*/
						INSERT INTO @SplitString
						SELECT  ROW_NUMBER() OVER(ORDER BY (SELECT NULL)), * FROM dbo.Ufn_SplitString(@Periode,'-')

						SELECT @year = val FROM @SplitString
						where rownumber = 1
						SELECT @month = val FROM @SplitString
						where rownumber = 2
						SELECT @week = val FROM @SplitString
						where rownumber = 3

				UPDATE
					TblT_MPPProjectRealDetail
				SET
					TblT_MPPProjectRealDetail.IsApprove = '1'
				FROM
					TblT_MPPProjectRealDetail AS MRD
					INNER JOIN TblT_MPPProjectPlanDetail AS MPD
					ON MRD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
				WHERE
					MPD.ProjectHeaderID = @IDProjectHeader
					AND
					MPD.IsActive = '1'
					AND
					[Year]  = @year
					AND
					[Month] = @month
					AND
					[Week] = @week
					AND 
					MRD.IsSubmit = '1'

				/*
					Ìnsert Into TblT_MPPRealPercentage After All Approver Aprroved
				*/


				DECLARE @tempTable TABLE 
				(
					IDProjectHeader int,
					TaskID bigint,
					Week int,
					Month int,
					Year int,
					CompletePercentage float,
					CreatedDate DateTime,
					CreatedBy varchar(max),
					IsActive bit
				)



				INSERT INTO @tempTable --TblT_MPPProjectRealPercentage
				(
					[IDProjectHeader],
					[TaskID],
					[Week],
					[Month],
					[Year],
					[CompletePercentage],
					[CreatedDate],
					[CreatedBy],
					[IsActive]
				)
				SELECT 
					@IDProjectHeader,
					MRD.TaskID,
					@week,
					@month,
					@year,
					MRD.PercentageComplete,
					GETDATE(),
					@Username,
					'1'
				FROM
					TblT_MPPProjectPlanDetail MPD
					INNER JOIN
					TblT_MPPProjectRealDetail MRD
					ON
					MPD.IDMPPProjectPlanDetail = MRD.IDMPPProjectPlanDetail
					WHERE
						MPD.ProjectHeaderID = @IDProjectHeader
						and
						MPD.IsActive = '1'
						AND
						MRD.Year  = @year
						AND
						MRD.Month = @month
						AND
						MRD.Week= @week
						and 
						MRD.IsSubmit = '1'
						and
						MRD.IsApprove = '1'


				MERGE INTO TblT_MPPProjectRealPercentage AS target
				USING @tempTable AS source
					ON  
					target.[Week]		= source.[Week]	
					AND target.[Month]		= source.[Month]	
					AND target.[Year]		= source.[Year]	
					AND target.[TaskID]		= source.[TaskID]
					AND target.[IDProjectHeader] = source.[IDProjectHeader]
				WHEN MATCHED THEN 
					UPDATE SET 
					target.[CompletePercentage] = source.[CompletePercentage],
					target.[UpdatedBy] = @Username ,
					target.[UpdatedDate] = GETDATE()
				WHEN NOT MATCHED BY TARGET THEN
				INSERT 
					(
						[IDProjectHeader],
						[TaskID],
						[Week],
						[Month],
						[Year],
						[CompletePercentage],
						[CreatedDate],
						[CreatedBy],
						[IsActive]
					)
					VALUES 
					(
						source.[IDProjectHeader],
						source.[TaskID],
						source.[Week],
						source.[Month],
						source.[Year],
						source.[CompletePercentage],
						source.[CreatedDate],
						source.[CreatedBy],
						source.[IsActive]
					);

				DECLARE @TotalMilestone int , @TotalFinish int

				SELECT	@TotalMilestone = (SELECT COUNT (TaskID)FROM Ufn_CheckProjectIsFinish(@IDProjectHeader)) , 
						@TotalFinish = (SELECT COUNT (TaskID) From Ufn_CheckProjectIsFinish(@IDProjectHeader) where statuss = 'FINISH')
	
				IF @TotalMilestone = @TotalFinish
				BEGIN
					UPDATE TblT_ProjectHeader
					SET
						IDProjectStatus = 4,
						UpdatedBy = @Username,
						UpdatedDate = GETDATE()
					WHERE
					IDProjectHeader = @IDProjectHeader
				END
			
				Update TblT_ProjectExecutionStatus 
				SET 
				ProjectStatus = 'Approved'
				, UpdateBy = @Username ,
				UpdateDate = GETDATE()
				WHERE
				IsActive = 1
				and
				IDProjectHeaderID = @IDProjectHeader
				and
				Periode = @Periode
			END
							
			insert into TblH_ProjectExecutionApprovalHistory(
					IDProjectHeader,
					Periode,
					Type,
					Remarks,
					CreatedDate,
					CreatedBy
			)values(
				@IDProjectHeader,
				@Periode,
				'Approved',
				'-',
				getdate(),
				@Username
			);
			
			exec Usp_Insert_Project_ExecutionList @IDProjectHeader, @Username;

			SELECT 'S|Berhasil'
		COMMIT;
	END TRY

	BEGIN CATCH
		ROLLBACK;

		DECLARE @ErrMsg VARCHAR(max)
			,@ErrNum INT
			,@ErrLine INT;
		SELECT @ErrMsg = error_message()
			,@ErrNum = error_number()
			,@ErrLine = error_Line()
		EXEC Usp_Insert_ErrorLog 'Usp_Approve_TransaksiProjectHeader'
			,@ErrNum
			,@ErrMsg
			,@Username;

		SELECT 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg + ' ' + CONVERT(varchar,@ErrLine);
	END CATCH;
END




GO
