USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_MPPTaskResourcesTaskMapping]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_MPPTaskResourcesTaskMapping] AS TABLE(
	[id] [int] NULL,
	[source] [int] NULL,
	[target] [int] NULL,
	[type] [varchar](10) NULL
)
GO
