USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_SLA_GetALl_byParam]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<Author,,Septian c>
-- Create date: <11 Juli 2023>
-- Description:	<Laporan Mingguan untuk grafik poin 1c>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_SLA_GetALl_byParam]
--exec Usp_SLA_GetALl_byParam
@GroupId as int =null,
@Status as varchar(50)= null,
@peraturan as varchar(500)=null
AS
BEGIN
	select
	row_number() OVER (
			ORDER BY CASE 
					WHEN UpdateDate IS NOT NULL
						THEN UpdateDate
					ELSE CreateDate
					END DESC
			) AS NoUrut,
	Id,
	GroupId,
	(select x.DepartmentCode from TblM_Department x where x.IDDepartment=a.GroupId) GroupName,
	StatusSLA,
	Peraturan,
	JasaPelayanan,
	Waktu,
	DihitungDari,
	IsActive,
	CreateUser,
	CreateDate,
	UpdateUser,
	UpdateDate
	from TblM_SLA a
	where IsActive=1 and (GroupId=@GroupId or 0=@GroupId) and (StatusSLA=@Status or 'ALL'=@Status) and Peraturan like '%' + @peraturan +'%' 

END




GO
