USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_Project]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_Project](
	[IDProject] [int] IDENTITY(1,1) NOT NULL,
	[IDProgram] [int] NULL,
	[IDStrategicObjective] [int] NULL,
	[IDProjectPriority] [int] NULL,
	[IDDepartment] [int] NULL,
	[ProjectNo] [nvarchar](50) NULL,
	[Year] [varchar](4) NULL,
	[ProjectName] [nvarchar](max) NULL,
	[Description] [varchar](max) NULL,
	[Weight] [float] NULL,
	[Parent] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsTransformasi] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[GUID] [uniqueidentifier] NULL,
	[OWNER] [varchar](10) NULL,
	[IDKategoriProject] [int] NULL,
	[Poin] [float] NULL,
 CONSTRAINT [PK_TblM_Project] PRIMARY KEY CLUSTERED 
(
	[IDProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblM_Project] ADD  CONSTRAINT [DF_TblM_Project_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TblM_Project]  WITH CHECK ADD  CONSTRAINT [FK_TblM_Project_TblM_ProjectPriority] FOREIGN KEY([IDProjectPriority])
REFERENCES [dbo].[TblM_ProjectPriority] ([IDProjectPriority])
GO
ALTER TABLE [dbo].[TblM_Project] CHECK CONSTRAINT [FK_TblM_Project_TblM_ProjectPriority]
GO
