USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterKPIOrganization]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MasterKPIOrganization]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SELECT row_number() OVER (
			ORDER BY Year DESC
			) AS NoUrut
		,IDKPIOrganization
		,YEAR +' - ' + KPICode as KPICode
		,KPIName
		,Year
		,Description
		,CreatedBy
		,CreatedDate
		,CASE 
			WHEN UpdatedBy IS NULL
				THEN CreatedBy
			ELSE UpdatedBy
			END AS UpdatedBy
		,CASE 
			WHEN UpdatedDate IS NULL
				THEN CreatedDate
			ELSE UpdatedDate
			END AS UpdatedDate
		,IsActive
	FROM TblM_KPIOrganization
	WHERE ISNULL(IsActive,0) = 1
	order by Year desc
END




GO
