USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_Program]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_Program](
	[IDProgram] [int] IDENTITY(1,1) NOT NULL,
	[ProgramNo] [nvarchar](50) NULL,
	[ProgramName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[GUID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TblM_Program] PRIMARY KEY CLUSTERED 
(
	[IDProgram] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblM_Program] ADD  CONSTRAINT [DF_TblM_Program_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
