USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_TransaksiProjectClosing]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_TransaksiProjectClosing]
	-- Add the parameters for the stored procedure here
	@IDProjectHeader int = null,
	@ClosingDate datetime = null,
	@Remarks nvarchar(max) = null,
	@WhatWorkWell nvarchar(max) = null,
	@WhatDidNotWorkWell nvarchar(max) = null,
	@WhatCanBeImproved nvarchar(max) = null,

	@TypeTransaction varchar(50) = null,
	@User varchar(50) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		begin transaction;
		
		declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @User);
		
		if(@Username = null) begin set @Username = '-'; end;

		if(@TypeTransaction = 'Close')begin
			if exists (select * from TblT_ProjectClosing where IDProjectHeader = @IDProjectHeader and IsActive = 1)begin
				update TblT_ProjectClosing
				set ClosingDate = @ClosingDate,
					Remarks = @Remarks,
					WhatWorkWell = @WhatWorkWell,
					WhatDidNotWorkWell = @WhatDidNotWorkWell,
					WhatCanBeImproved = @WhatCanBeImproved,
					UpdatedDate = getdate(),
					UpdatedBy = @Username
				where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

				update TblT_ProjectHeader
				set IDProjectStatus = 12,
					UpdatedBy = @Username,
					UpdatedDate = getdate()
				where IsActive = 1 and IDProjectHeader = @IDProjectHeader;
				
				insert into TblH_ProjectInitApproval(
					IDProjectHeader,
					Type,
					Remarks,
					CreatedDate,
					CreatedBy
				)values(
					@IDProjectHeader,
					'Close',
					'No Description',
					getdate(),
					@Username
				);

				select 'S|Suskes';

			end
			else begin

				insert into TblT_ProjectClosing (
					IDProjectHeader,
					ClosingDate,
					Remarks,
					WhatWorkWell,
					WhatDidNotWorkWell,
					WhatCanBeImproved,
					CreatedDate,
					CreatedBy,
					IsActive
				)
				values (
					@IDProjectHeader,
					@ClosingDate,
					@Remarks,
					@WhatWorkWell,
					@WhatDidNotWorkWell,
					@WhatCanBeImproved,
					getdate(),
					@Username,
					1
				);

				update TblT_ProjectHeader
				set IDProjectStatus = 12,
					UpdatedBy = @Username,
					UpdatedDate = getdate()
				where IsActive = 1 and IDProjectHeader = @IDProjectHeader;
				
				insert into TblH_ProjectInitApproval(
					IDProjectHeader,
					Type,
					Remarks,
					CreatedDate,
					CreatedBy
				)values(
					@IDProjectHeader,
					'Close',
					'No Description',
					getdate(),
					@Username
				);

				select 'S|Sukses';

			end;
		end
		else begin select 'F|Tipe trsansaksi tidak tersedia' end;

		commit;
	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_TransaksiProjectClosing', @ErrNum, @ErrMsg, @Username;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch;


END




GO
