USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_DashboardSCurve_PerProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Usp_Get_DashboardSCurve_PerProject 42
CREATE PROCEDURE [dbo].[Usp_Get_DashboardSCurve_PerProject] 
	@IDProjectHeader int
AS
BEGIN
SELECT 	
	
	PH.IDProjectHeader,
	Proj.ProjectName, 
	mpd.TaskName,
	MPPP.Year , 
	MPPP.Month , 
	MPPP.Week ,
	MPPP.PlanPercentage,
	ISNULL( 
		(
			SELECT TOP 1 CompletePercentage FROM  
			TblT_MPPProjectRealPercentage MRP
			INNER JOIN 
			TblT_MPPProjectPlanDetail MPPD
			ON
			MRP.TaskID = MPPD.TaskID
			AND
			MPPD.ProjectHeaderID = MRP.IDProjectHeader
			where MPPD.ParentID = 0 
			and 
			MRP.IDProjectHeader = MPD.ProjectHeaderID
			and
			MRP.Year =	   MPPP.Year 
			AND
			MRP.Month =	   MPPP.Month 
			AND 
			MRP.Week =	   MPPP.Week 
			ORDER BY
			MRP.CreatedDate DESC			
		),0
	  )  as RealPercentage
FROM
TblT_MPPProjectPlanPercentage  MPPP
INNER JOIN 
TblT_MPPProjectPlanDetail MPD
ON
MPPP.IDProjectHeader = MPD.ProjectHeaderID
and
MPPP.TaskID = MPD.TaskID
INNER JOIN
TblT_ProjectHeader PH
ON
PH.IDProjectHeader = MPD.ProjectHeaderID
INNER JOIN 
TblM_Project Proj
ON
PH.IDProject = Proj.IDProject
WHERE
MPD.ParentID = 0
and
PH.IDProjectHeader = @IDProjectHeader
AND
MPD.TaskID = 
(
	SELECT TOP 1 TaskID FROM TblT_MPPProjectPlanDetail MC
	where MC.ProjectHeaderID = @IDProjectHeader
	and
	MC.ParentID = 0 
	ORDER BY 
	MC.IDMPPProjectPlanDetail ASC
)
and
MPD.IsActive = 1
ORDER BY
CAST(MPPP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(MPPP.Month AS Varchar(2)),2) + CAST(MPPP.Week as Varchar(1))  ASC
END




GO
