USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetProjectElapseDay_New]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetProjectElapseDay_New]
(
	@minDate_Str NVARCHAR(30), @maxDate_Str NVARCHAR(30), @todayDate NVARCHAR(30)
)
RETURNS int
AS
BEGIN
	declare @dur int
	DECLARE @minDate date, @maxDate date, @maxDatePlan DATE
    SET @minDate = CONVERT(date, @minDate_Str)
    SET @maxDate = CONVERT(date, @todayDate)
	SET @maxDatePlan = CONVERT(date, @maxDate_Str)
	-- Declare the return variable here
	DECLARE @totalElapse int
	
	--SELECT @totalElapse =
	--(DATEDIFF(dd, @minDate, @maxDate) + 1)
 --   -(DATEDIFF(wk, @minDate, @maxDate) * 2)
 --   -(CASE WHEN DATENAME(dw, @minDate) = 'Sunday' THEN 1 ELSE 0 END)
 --   -(CASE WHEN DATENAME(dw, @minDate) = 'Saturday' THEN 1 ELSE 0 END)
 --   -(SELECT COUNT(*) FROM Ufn_Get_Holiday_New() h where h.HolidayDate BETWEEN @minDate and @maxDate)
	SELECT @totalElapse = Count(m.Date)
		FROM 
		TblM_Date m
		where 
		m.Date between @minDate and @maxDate
		and
		IsHoliday <> '1'
		and
		IsWeekend = '0'


	SELECT @dur =
	CASE
	WHEN
		@totalElapse >= dbo.Ufn_GetProjectDuration(@minDate,@maxDatePlan)	
	THEN	
		dbo.Ufn_GetProjectDuration(@minDate,@maxDatePlan)
	WHEN
		@totalElapse <= 0
	THEN
		0
	ELSE
		@totalElapse
	END
return @dur

END
GO
