USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Update_PJSApproval]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Usp_Update_PJSApproval]
as
begin

	declare @currentDate date = cast(getdate() as date);

	insert into TblH_PJS (
		ExistingUsername,
		PJSUsername,
		StartDate,
		EndDate,
		Action,
		CreatedDate,
		CreatedBy
	)
	select ExistingUsername,
		PJSUsername,
		StartDate,
		EndDate,
		'Non Active',
		getdate(),
		'System Scheduler'
	from TblT_PJSApproval
	where IsActive = 1 and EndDate < cast(@currentDate as date);

	update TblT_PJSApproval
	set IsActive = 0,
		UpdatedDate = getdate(),
		UpdatedBy = 'SystemScheduler'
	where IsActive = 1 and EndDate < cast(@currentDate as date);

end;




GO
