USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_SCurvePerProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_SCurvePerProject] -- Usp_Get_SCurvePerProject 25
	@ProjectHeaderID int 
AS
BEGIN
	SELECT DISTINCT PPP.TaskID,PPP.Week , PPP.Month , PPP.Year , PPP.PlanPercentage as [Plan] , ISNULL(PRP.CompletePercentage,0) as [Real] FROM
	TblT_MPPProjectPlanPercentage PPP
	LEFT JOIN
	TblT_MPPProjectRealPercentage PRP
	ON
	PPP.IDProjectHeader = PRP.IDProjectHeader
	AND
	PPP.TaskID = PRP.TaskID
	--and
	--PPP.Week = PRP.Week
	and
	PPP.Month = PRP.Month
	--and
	--PPP.Year = PRP.Year
	WHERE
	PPP.IsActive = '1'
	and
	PRP.IsActive = '1'
	and 
	PPP.IDProjectHeader = @ProjectHeaderID
	AND
	PPP.TaskID = 
	(	
		SELECT TOP 1 TaskID FROM TblT_MPPProjectPlanPercentage
		where IDProjectHeader = @ProjectHeaderID
		ORDER 
		BY
		TaskID ASC
	)
	ORDER BY
	PPP.TaskID ASC
END




GO
