USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectRisk]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectRisk](
	[IDProjectRisk] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NULL,
	[Constraints] [nvarchar](max) NULL,
	[Assumptions] [nvarchar](max) NULL,
	[Risk] [nvarchar](max) NULL,
	[Approach] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblT_ProjectRisk] PRIMARY KEY CLUSTERED 
(
	[IDProjectRisk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblT_ProjectRisk]  WITH CHECK ADD  CONSTRAINT [FK_TblT_ProjectRisk_TblT_ProjectHeader] FOREIGN KEY([IDProjectHeader])
REFERENCES [dbo].[TblT_ProjectHeader] ([IDProjectHeader])
GO
ALTER TABLE [dbo].[TblT_ProjectRisk] CHECK CONSTRAINT [FK_TblT_ProjectRisk_TblT_ProjectHeader]
GO
