USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetProjectHeaderRoot]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetProjectHeaderRoot] -- select dbo.Ufn_GetProjectHeaderRoot(273)
(
	-- Add the parameters for the function here
	@ProjectHeaderID INT = null
)
RETURNS int
AS
BEGIN

	-- Declare variable
	declare @ResultVar int, @childID int;

	select @childID = b.IDProject
	from TblT_ProjectHeader a
		inner join TblM_Project b on a.IDProject = b.IDProject
	where IDProjectHeader = @ProjectHeaderID;
	
	with RCTE as
	(
		select *, 1 AS Lvl
		from TblM_Project 
		where IDProject = @childID

		union all

		select rh.*, Lvl+1 as Lvl
		from dbo.TblM_Project rh
			inner join RCTE rc on rh.IDProject = rc.Parent
	)

	select top 1 @ResultVar = PH.IDProjectHeader  
	from RCTE r
		inner join TblT_ProjectHeader PH on r.IDProject = ph.IDProject
	order by Lvl desc;

	-- Return the result of the function
	return @ResultVar;

END
GO
