USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[mobile_get_DashboardProjectHeader]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mobile_get_DashboardProjectHeader] -- exec [mobile_get_DashboardProjectHeader] '20190722', 'All'
@date nvarchar(90),
@filter nvarchar(90)
AS
declare @year nvarchar(90)
declare @month nvarchar(90)
declare @week nvarchar(90)

select @year = Year from TblM_Date where DateKey = @date
select @month = Month from TblM_Date where DateKey = @date
select @week = WeekOfMonth from TblM_Date where DateKey = @date

exec dbo.Get_DashboardProjectHeader @filter, @year, @month, @week, ''



GO
