USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterProgram_ByID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:	Mendapatkan master Program berdasarkan ID
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MasterProgram_ByID]
	-- Add the parameters for the stored procedure here
	@IDProgram INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SELECT row_number() OVER (
			ORDER BY UpdatedDate DESC
			) AS NoUrut
		,*
	FROM TblM_Program
	WHERE ISNULL(IsActive,0) = 1
		AND IDProgram = @IDProgram;
END




GO
