USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectClosing]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectClosing](
	[IDProjectClosing] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NULL,
	[ClosingDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[WhatWorkWell] [nvarchar](max) NULL,
	[WhatDidNotWorkWell] [nvarchar](max) NULL,
	[WhatCanBeImproved] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblT_ProjectClosing] PRIMARY KEY CLUSTERED 
(
	[IDProjectClosing] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblT_ProjectClosing]  WITH CHECK ADD  CONSTRAINT [FK_TblT_ProjectClosing_TblT_ProjectHeader] FOREIGN KEY([IDProjectHeader])
REFERENCES [dbo].[TblT_ProjectHeader] ([IDProjectHeader])
GO
ALTER TABLE [dbo].[TblT_ProjectClosing] CHECK CONSTRAINT [FK_TblT_ProjectClosing_TblT_ProjectHeader]
GO
