USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_DurationInDays_PerProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Ufn_Get_DurationInDays_PerProject] ( @ProjectHeaderID int)

returns @result TABLE 
(
	ProjectHeaderID int, 
	TaskID int,
	TaskName varchar(max),
	StartDate date,
	EndDate date,
	DurationInDays int,
	ParentID int,
	IsParent bit
)

as
begin
	declare @TempTable TABLE 
	(
		ProjectHeaderID int, 
		TaskID int,
		TaskName varchar(max),
		StartDate date,
		EndDate date,
		DurationInDays int,
		ParentID int,
		IsParent bit
	)
	declare @TempTable2 TABLE 
	(
		ProjectHeaderID int, 
		TaskID int,
		TaskName varchar(max),
		StartDate date,
		EndDate date,
		DurationInDays int,
		ParentID int,
		IsParent bit
	)
	declare @i int,@level int
	set @i = 1;
	select @level = Max(OutlineLevel) from TblT_MPPProjectPlanDetail where ProjectHeaderID = @ProjectHeaderID and IsActive = 1;

	INSERT INTO @TempTable
	SELECT 
		ProjectHeaderID ,
		TaskID ,
		TaskName ,
		StartDate ,
		EndDate ,
		case	
			WHEN mm.TaskName LIKE'%Milestone%' THEN 0
			ELSE Dbo.Ufn_GetProjectDuration(Convert(date,mm.StartDate),Convert(date,mm.EndDate))
		END as DurationInDays,
		ParentID ,
		CASE WHEN EXISTS(
			SELECT TaskID FROM
			TblT_MPPProjectPlanDetail MPD
			WHERE
			MPD.ParentID = mm.TaskID
			and
			MPD.ProjectHeaderID = @ProjectHeaderID 
			and MPD.IsActive = '1'
		)
		THEN
		'1'
		ELSE
		'0'
		END
		as IsParent
	FROM
	TblT_MPPProjectPlanDetail mm
	where 
		mm.ProjectHeaderID = @ProjectHeaderID
		and 
		mm.IsActive = '1' 
    
	if @level > 1 begin
		INSERT INTO @TempTable2
		SELECT 
			TWED.ProjectHeaderID ,
			TWED.TaskID, 
			TWED.TaskName, 
			TWED.StartDate , 
			TWED.EndDate, 
			case 
				When TWED.IsParent = 0 then TWED.DurationInDays
				Else (select SUM(DurationInDays) from @TempTable where ParentID = TWED.TaskID)	
			end
			as DurationInDays, 
			TWED.ParentID, 
			TWED.IsParent
		FROM
		@TempTable TWED	

		insert into @result select * from @TempTable2

		while @i < @level begin
			delete from @TempTable2;
			INSERT INTO @TempTable2
			SELECT 
				TWED3.ProjectHeaderID ,
				TWED3.TaskID, 
				TWED3.TaskName, 
				TWED3.StartDate , 
				TWED3.EndDate,
				case 
					When TWED3.IsParent = 0 then TWED3.DurationInDays
					Else (select SUM(DurationInDays) from @result where ParentID = TWED3.TaskID)	
				end
				as DurationInDays, 
				TWED3.ParentID, 
				TWED3.IsParent
			FROM
			@result TWED3
			delete from @result;
			insert into @result select * from @TempTable2;
			set @i = @i + 1;
		end
	end
	else begin
		INSERT INTO @result
		SELECT 
			TWED.ProjectHeaderID ,
			TWED.TaskID, 
			TWED.TaskName, 
			TWED.StartDate , 
			TWED.EndDate, 
			TWED.DurationInDays, 
			TWED.ParentID, 
			TWED.IsParent
		FROM
		@TempTable TWED	
	end 
    return

end  
GO
