USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Holiday]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_Holiday]
AS
BEGIN
	
	--DECLARE @temptable TABLE (ID int , Tanggal varchar(max), hari varchar(max)) 
	--DECLARE @start date , @end date, @idHoliday int

	--DECLARE holiday_cursor CURSOR FOR     
	--SELECT [Start], [Finish], IDHoliday    
	--FROM 
	--	TblM_Holiday
	    
  
	--OPEN holiday_cursor    
  
	--FETCH NEXT FROM holiday_cursor     
	--INTO @start, @end, @idHoliday   
  
	--WHILE @@FETCH_STATUS = 0    
	--BEGIN  
	  
	--	INSERT INTO @temptable
	--	SELECT @idHoliday , calc.DATE_FORMAT_YYYY_MM_DD, calc.WEEKDAY_NAME
	--	FROM dbo.Ufn_Calculate_Date_Between(@start, @end) calc
      
	--FETCH NEXT FROM holiday_cursor     
	--INTO @start, @end ,@idHoliday   
   
	--END     
	--CLOSE holiday_cursor;    
	--DEALLOCATE holiday_cursor;    

	--SELECT 
	--	CONVERT(date,Tanggal) as Holiday , hari
	--FROM 
	--@temptable  tt
	--INNER JOIN
	--TblM_Holiday Hol
	--ON
	--tt.ID = Hol.IDHoliday
	--where
	--hari not in ('Sun','Sat')
	--ORDER
	--by Tanggal

	SELECT CONVERT(varchar(15),CONVERT(date,dt.Date)) as Holiday , dt.Day as hari  FROM
	TblM_Date dt
	where
	IsHoliday = 
	'1' 

END




GO
