USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetPencapaianRealisasi_ByWeek]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
create FUNCTION [dbo].[Ufn_GetPencapaianRealisasi_ByWeek] -- select [dbo].[Ufn_GetPencapaian_ByWeek](225,1,4,'2019',3);
(
	-- Add the parameters for the function here
	@IDProjectHeader int,
	@IsTransformasi bit,
	@Month int,
	@Year varchar(4),
	@Week int
)

RETURNS varchar(max)
AS
BEGIN
	
	declare @ProjectEksekusi table(
		IDProjectHeader int,
		Periode varchar(max),
		Keys varchar(max),
		Plans varchar(max),
		Reals varchar(max)
	);
	
	insert into @ProjectEksekusi (
		IDProjectHeader,
		Periode,
		Keys,
		Plans,
		Reals
	)
	select IDProjectHeader,Periode, Keys, Plans, Reals
	from [dbo].[Ufn_Get_TrendEkseksiPerPeriode](@IDProjectHeader);

	declare @result varchar(max);

		if exists(
			select *
			from @ProjectEksekusi a
			where Keys like @Year + '-' + convert(varchar(4), @Month) + '-' + convert(varchar(1),@Week)
		)begin
			set @result = (
				select top(1) convert(varchar(max), nullif(round(a.Reals,0),0)) as Capaian
				from @ProjectEksekusi a
				where Keys like @Year + '-' + convert(varchar(4), @Month) + '-' + convert(varchar(1),@Week)
				order by Keys desc
			);
		end
		else if exists(
			select *
			from @ProjectEksekusi a
			where Keys like @Year + '-' + convert(varchar(4), @Month) + '-%'
		)begin
			set @result = (
				select top(1) convert(varchar(max), nullif(round(a.Reals,0),0)) as Capaian
				from @ProjectEksekusi a
				where Keys like @Year + '-' + convert(varchar(4), @Month) + '-%'
				order by Keys desc
			);
		end
		else begin
			set @result = (
				select top(1) convert(varchar(max), nullif(round(a.Reals,0),0)) as Capaian
				from @ProjectEksekusi a
				where Keys like @Year + '-%'
				order by Keys desc
			);
		end;
	
	
	return @result;
	
END
GO
