USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblH_ErrorLog]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblH_ErrorLog](
	[IDErrorLog] [bigint] IDENTITY(1,1) NOT NULL,
	[Modul] [varchar](100) NULL,
	[ErrorCode] [int] NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
