USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Scheduller_GetEmailBulkInit]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Usp_Scheduller_GetEmailBulkInit]
AS
BEGIN
	select distinct Username
	from TblT_ProjectInitApprovalRole
	where IsActive = 1 
		and IsEnabled = 1 
		and ( isApprove = 0 or IsApprove is NULL) 
END




GO
