USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterProjectCost_ByName]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:  Mendapatkan master Department berdasarkan ID
-- ============================================= 
CREATE PROCEDURE [dbo].[Usp_Get_MasterProjectCost_ByName] 
  -- Add the parameters for the stored procedure here 
  @ProjectCostName varchar(50) 
AS 
  BEGIN 
      -- SET NOCOUNT ON added to prevent extra result sets from 
      -- interfering with SELECT statements. 
      SET nocount ON; 

      -- Insert statements for procedure here 
      --SELECT Row_number() 
      --         OVER ( 
      --           ORDER BY updateddate DESC) AS NoUrut, 
      --       * 
      --FROM   TblM_ProjectCost 
      --WHERE  isactive = 1 
      --       AND ProjectCostName like '%' + @ProjectCostName + '%'; 

	SELECT row_number() OVER (
			ORDER BY IDSAPMasterRKAT DESC
			) AS NoUrut
		,IDSAPMasterRKAT AS IDProjectCost
		,IDSAP AS ProjectCostCode
		,EVDESCRIPTION AS ProjectCostName
		,dbo.Ufn_GetTotalAnggaran(IDSAP) AS Value
		,LONG_DESC AS Description
		,PARENT AS ParentCode
		,CAST(CreatedDate AS DATETIME) CreatedDate
		,CreatedBy
		,CAST(CreatedDate AS DATETIME) AS UpdatedDate
		,CreatedBy AS UpdatedBy
		,CASE 
			WHEN ACTIVE = 'Y'
				THEN 1
			ELSE 0
			END AS IsActive
	FROM TblSAP_MasterRKAT
	WHERE ACTIVE = 'Y' AND EVDESCRIPTION like '%' + @ProjectCostName + '%'; 
  END 




GO
