USE [PROMISE]
GO
/****** Object:  View [dbo].[vw_master_rkat]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_master_rkat]
AS
SELECT p.IDProject,h.IDProjectHeader,h.IDProjectStatus,c.IDSAP,p.ProjectName,p.ProjectNo,IsTransformasi
FROM [TblT_ProjectRKAT] a
JOIN TblT_ProjectHeader b ON a.IDProjectHeader = b.IDProjectHeader
JOIN TblSAP_MasterRKAT c ON a.IDSAPMasterRKAT = c.IDSAPMasterRKAT
JOIN TblT_ProjectHeader h ON h.IDProjectHeader = a.IDProjectHeader
JOIN TblM_Project p ON h.IDProject = p.IDProject


WHERE p.IsActive = 1 AND a.IsActive = 1
GO
