USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_TransaksiChangeManagementProjectHeader]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:	Mendapatkan master program yang aktif
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_TransaksiChangeManagementProjectHeader] -- exec Usp_Get_TransaksiChangeManagementProjectHeader '20000099'
	-- Add the parameters for the stored procedure here
	@PersonalNumber varchar(50) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	declare @Username varchar(50);
	select @Username = b.User_LoginName
	from TblDW_Employee a
		left join TblDW_Usergroup b on a.PersonalNumber = b.Usergroup_Pernr
	where PersonalNumber = @PersonalNumber;

	declare @IDRoleGroup int;
	select @IDRoleGroup = IDRoleGroup
	from TblT_UserAuthorized where Username = @Username and IsActive = 1;

	if(@IDRoleGroup = 1 or @IDRoleGroup = 10 or @IDRoleGroup = 13 or @IDRoleGroup = 4) --Administrator, Internal Auditor, Management
	begin
	
		select
			row_number() over (
				order by 
					case
						when (b.UpdatedDate is null) then b.CreatedDate
						else b.UpdatedDate
					end
				desc
			) as NoUrut,
			a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,
			b.StartYear,
			b.StartMonth,
			b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			b.UpdatedDate,
			
			cast(
				day(
					case
						when b.UpdatedDate IS NULL then b.CreatedDate
						else b.UpdatedDate
					end
				) as varchar(4)
			) +
			' ' +
			[dbo].[Ufn_GetMonthName_Indonesia](
				month(
					case
						when b.UpdatedDate is null then b.CreatedDate
						else b.UpdatedDate
					end
				)
			) +
			' ' +
			cast(
				year(
					case
						when b.UpdatedDate is null then b.CreatedDate
						else b.UpdatedDate
					end
				) as varchar(4)
			) +
			' ' +
			convert(
				varchar, isnull(b.UpdatedDate,b.CreatedDate), 108
			) as UpdatedDateString,

			b.UpdatedBy,
			b.IsActive,

			case
				when d.IDProjectStatus = 10 then
					d.Description + ' ' +
					(
						select top 1 x.Username
						from TblT_ProjectChangesApprovalRole x
						where x.IsActive = 1
							and x.IsEnabled = 1
							and (x.IsApprove = 0 or x.IsApprove is null)
							and x.IDProjectChangeManagement = c.IDProjectChangeManagement
						order by x.Sequence desc
					)
				else d.Description 
			end as StatusName,

			a.IsTransformasi
			
		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IsActive = 1
			left join TblT_ProjectChangeManagement c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1
			left join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus and d.IsActive = 1
		where a.IsActive = 1 
			and d.IDProjectStatus in(2, 3, 7, 10, 11, 13);

	end
	else if(@IDRoleGroup = 11 ) --Group Admin, Admin PMO
	begin
	
		select
			row_number() over (
				order by 
					case
						when (b.UpdatedDate is null) then b.CreatedDate
						else b.UpdatedDate
					end
				desc
			) as NoUrut,
			a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,
			b.StartYear,
			b.StartMonth,
			b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			b.UpdatedDate,
			
			cast(day(case
				when b.UpdatedDate IS NULL then b.CreatedDate
				else b.UpdatedDate END) AS VARCHAR(4)) + ' ' + [dbo].[Ufn_GetMonthName_Indonesia](month(CASE 
						WHEN b.UpdatedDate IS NULL
							THEN b.CreatedDate
						ELSE b.UpdatedDate
						END)) + ' ' + cast(year(CASE 
						WHEN b.UpdatedDate IS NULL
							THEN b.CreatedDate
						ELSE b.UpdatedDate
						END) AS VARCHAR(4)) + ' ' + convert(varchar,  ISNULL(b.UpdatedDate,b.CreatedDate), 108)AS UpdatedDateString,

			b.UpdatedBy,
			b.IsActive,
			d.Description as StatusName,
			a.IsTransformasi
			
		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IsActive = 1
			left join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus and d.IsActive = 1
			inner join TblM_Department f on a.IDDepartment = f.IDDepartment and f.IsActive = 1
			inner join TblDW_EmployeeMapping g on f.DepartmentCode = g.org_unit_mast_Code and g.empl_mast_username = @Username
		where a.IsActive = 1 
			and d.IDProjectStatus in(2, 3, 7, 10, 11, 13);

	end
	else begin
	
		select
			row_number() over (
				order by 
					case
						when (b.UpdatedDate is null) then b.CreatedDate
						else b.UpdatedDate
					end
				desc
			) as NoUrut,
			a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,
			b.StartYear,
			b.StartMonth,
			b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			b.UpdatedDate,
			
			cast(day(case
				when b.UpdatedDate IS NULL then b.CreatedDate
				else b.UpdatedDate END) AS VARCHAR(4)) + ' ' + [dbo].[Ufn_GetMonthName_Indonesia](month(CASE 
						WHEN b.UpdatedDate IS NULL
							THEN b.CreatedDate
						ELSE b.UpdatedDate
						END)) + ' ' + cast(year(CASE 
						WHEN b.UpdatedDate IS NULL
							THEN b.CreatedDate
						ELSE b.UpdatedDate
						END) AS VARCHAR(4)) + ' ' + convert(varchar,  ISNULL(b.UpdatedDate,b.CreatedDate), 108)AS UpdatedDateString,

			b.UpdatedBy,
			b.IsActive,
			d.Description as StatusName,
			a.IsTransformasi
			
		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IsActive = 1
			left join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus and d.IsActive = 1
			inner join TblT_ProjectInitApprovalRole c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1 and c.Username = @Username
		where a.IsActive = 1 
			and d.IDProjectStatus in(2, 3, 7, 10, 11, 13)
		group by a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,
			b.StartYear,
			b.StartMonth,
			b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			b.UpdatedDate,
			b.UpdatedBy,
			b.IsActive,
			d.Description,
			a.IsTransformasi;

	end;

END




GO
