USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_TblM_Date]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==============================================================================================
-- Author		: Ageng Andri Amukti
-- Create date	: 2022-01-10
-- Description	: Copy data tanggal dari DWH ke PROMISE.
--				  Aman dijalankan berkali-kali karena hanya insert data yang belum ada. 
-- ==============================================================================================
CREATE PROCEDURE [dbo].[Usp_Insert_TblM_Date]
	
AS
BEGIN
-------------------------------------------------------------------------------------------------
INSERT INTO [PROMISE].[dbo].[TblM_Date]
SELECT * 
FROM [Dom_ManajemenLembaga].[dbo].[dwh_DimCalendar] x
WHERE	DATE > GETDATE() AND 
		x.DATE not in 
		(
			SELECT y.DATE FROM [PROMISE].[dbo].[TblM_Date] y WHERE DATE > GETDATE()
		)
ORDER BY x.datekey asc
-------------------------------------------------------------------------------------------------

END




GO
