USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardSummary]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sena Putra
-- Create date: January 20, 2018
-- Description:	EXEC [dbo].[Get_DashboardSOChart]
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardSummary] -- exec [dbo].[Get_DashboardSummary] '2019', 4, 'Unit Kerja', 2
	-- Add the parameters for the stored procedure here
	@Year varchar(4) = null,
	@Month int = null,
	@Filter varchar(max) = 'Strategic Objective',
	@Week int = null,
	@PersonalNumber varchar(max) = null

AS
BEGIN
	
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	
	------------------------------------------------------------------
	-- Mencari Tanggal Terakhir Dari Filter Tahun, Bulan dan Minggu --
	------------------------------------------------------------------

	declare @Date date;
	if(
		((select WeekOfMonth from TblM_Date where Date = cast(getdate() as date)) = @Week
		and year(getdate()) = @Year
		and month(getdate()) = @Month)
		or
		(@Year is null and @Month is null and @Week is null)
	) set @Date = cast(getdate() as date)
	--else set @Date = (select Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday');
	else set @Date = (select Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Wednesday');

	--------------------------------------------------------------------------------------------------------------------------------------------------------------

	--------------------------------------
	-- Mencari Unit Kerja dan Role User --
	--------------------------------------

	declare @UnitKerja varchar(20);
	declare @RoleApp varchar(max);

	if @PersonalNumber is null set @PersonalNumber = '100010';

	select top 1 @UnitKerja = b.org_unit_mast_Code
	from TblDW_Usergroup a
		inner join TblDW_EmployeeMapping b on a.User_LoginName = b.empl_mast_username
	where a.Usergroup_Pernr = @PersonalNumber;

	select top 1 @RoleApp = b.RoleGroupName
	from TblT_UserAuthorized a
		inner join TblM_RoleGroup b on a.IDRoleGroup = b.IDRoleGroup and b.IsActive = 1
	where a.IsActive = 1 and a.PersonNumber = @PersonalNumber;
	
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	
	------------------
	-- Filter By SO --
	------------------

	if(@Filter = 'Strategic Objective') begin
		
		if(@RoleApp = 'ADMINISTRATOR' or @RoleApp = 'MANAGEMENT' or @RoleApp = 'INTERNAL.AUDITOR' or (@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPSO'))begin
			
			select obj.IDStrategicObjective as ID,
				obj.StrategicObjectiveName as Name,
				count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
				count(case when obj.Progress = 'Completed' then 1 end) as Completed,
				count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
				count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
				count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
				count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
				count(obj.Progress) as Total
			from (
				select a.IDStrategicObjective,
					a.StrategicObjectiveCode as StrategicObjectiveName,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress
				from [dbo].[TblD_ListProject] a
				where a.IsActive = 1
					and (@year between a.StartYear and a.EndYear)
					and DateDownload = @Date
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				) as obj
			group by obj.IDStrategicObjective, obj.StrategicObjectIveName;

		end
		else if(@RoleApp = 'ADMIN.PMO')begin
			
			if(@UnitKerja = 'GPTF')begin
				
				select obj.IDStrategicObjective as ID,
					obj.StrategicObjectiveName as Name,
					count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
					count(case when obj.Progress = 'Completed' then 1 end) as Completed,
					count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
					count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
					count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
					count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
					count(obj.Progress) as Total
				from (
					select a.IDStrategicObjective,
						a.StrategicObjectiveCode as StrategicObjectiveName,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress
					from [dbo].[TblD_ListProject] a
					where a.IsActive = 1
						and (@year between a.StartYear and a.EndYear)
						and DateDownload = @Date
						and (a.IsTransformasi = 1 or a.DepartmentCode = @UnitKerja)
						and IDProjectStatus not in(1, 3, 8, 9, 13)
					) as obj
				group by obj.IDStrategicObjective, obj.StrategicObjectIveName;

			end
			else begin
				
				select obj.IDStrategicObjective as ID,
					obj.StrategicObjectiveName as Name,
					count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
					count(case when obj.Progress = 'Completed' then 1 end) as Completed,
					count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
					count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
					count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
					count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
					count(obj.Progress) as Total
				from (
					select a.IDStrategicObjective,
						a.StrategicObjectiveCode as StrategicObjectiveName,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress
					from [dbo].[TblD_ListProject] a
					where a.IsActive = 1
						and (@year between a.StartYear and a.EndYear)
						and DateDownload = @Date
						and a.DepartmentCode = @UnitKerja
						and IDProjectStatus not in(1, 3, 8, 9, 13)
					) as obj
				group by obj.IDStrategicObjective, obj.StrategicObjectIveName;

			end;

		end
		else begin
			
			select obj.IDStrategicObjective as ID,
				obj.StrategicObjectiveName as Name,
				count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
				count(case when obj.Progress = 'Completed' then 1 end) as Completed,
				count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
				count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
				count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
				count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
				count(obj.Progress) as Total
			from (
				select a.IDStrategicObjective,
					a.StrategicObjectiveCode as StrategicObjectiveName,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
							then 'Belum dimulai'
						when (a.IDProjectStatus = 4
							or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress
				from [dbo].[TblD_ListProject] a
				where a.IsActive = 1
					and (@year between a.StartYear and a.EndYear)
					and DateDownload = @Date
					and a.DepartmentCode = @UnitKerja
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				) as obj
			group by obj.IDStrategicObjective, obj.StrategicObjectIveName;

		end;

	end
	
	--------------------------
	-- Filter By Direktorat --
	--------------------------

	else if(@Filter = 'Direktorat') begin
		
		if(@RoleApp = 'ADMINISTRATOR' or @RoleApp = 'MANAGEMENT' or @RoleApp = 'INTERNAL.AUDITOR' or (@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPSO'))begin
			
			select obj.IDDirektorat as ID,
				obj.DirektoratName as Name,
				count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
				count(case when obj.Progress = 'Completed' then 1 end) as Completed,
				count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
				count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
				count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
				count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
				count(obj.Progress) as Total
			from (
				select a.IDDirektorat,
					a.DirektoratCode as DirektoratName,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
							then 'Belum dimulai'
						when (a.IDProjectStatus = 4
							or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress
				from [dbo].[TblD_ListProject] a
				where a.IsActive = 1
					and (@year between a.StartYear and a.EndYear)
					and DateDownload = @Date
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				) as obj
			group by obj.IDDirektorat, obj.DirektoratName;
			
		end
		else if(@RoleApp = 'ADMIN.PMO')begin
			
			if(@UnitKerja = 'GPTF')begin
				
				select obj.IDDirektorat as ID,
					obj.DirektoratName as Name,
					count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
					count(case when obj.Progress = 'Completed' then 1 end) as Completed,
					count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
					count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
					count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
					count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
					count(obj.Progress) as Total
				from (
					select a.IDDirektorat,
						a.DirektoratCode as DirektoratName,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress
					from [dbo].[TblD_ListProject] a
					where a.IsActive = 1
						and (@year between a.StartYear and a.EndYear)
						and DateDownload = @Date
						and (a.IsTransformasi = 1 or a.DepartmentCode = @UnitKerja)
						and IDProjectStatus not in(1, 3, 8, 9, 13)
					) as obj
				group by obj.IDDirektorat, obj.DirektoratName;
				
			end
			else begin
				
				select obj.IDDirektorat as ID,
					obj.DirektoratName as Name,
					count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
					count(case when obj.Progress = 'Completed' then 1 end) as Completed,
					count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
					count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
					count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
					count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
					count(obj.Progress) as Total
				from (
					select a.IDDirektorat,
						a.DirektoratCode as DirektoratName,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress
					from [dbo].[TblD_ListProject] a
					where a.IsActive = 1
						and (@year between a.StartYear and a.EndYear)
						and DateDownload = @Date
						and a.DepartmentCode = @UnitKerja
						and IDProjectStatus not in(1, 3, 8, 9, 13)
					) as obj
				group by obj.IDDirektorat, obj.DirektoratName;
				
			end;

		end
		else begin
			
			select obj.IDDirektorat as ID,
				obj.DirektoratName as Name,
				count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
				count(case when obj.Progress = 'Completed' then 1 end) as Completed,
				count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
				count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
				count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
				count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
				count(obj.Progress) as Total
			from (
				select a.IDDirektorat,
					a.DirektoratCode as DirektoratName,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress
				from [dbo].[TblD_ListProject] a
				where a.IsActive = 1
					and (@year between a.StartYear and a.EndYear)
					and DateDownload = @Date
					and a.DepartmentCode = @UnitKerja
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				) as obj
			group by obj.IDDirektorat, obj.DirektoratName;
			
		end;

	end
	
	--------------------------
	-- Filter By Unit Kerja --
	--------------------------

	else if(@Filter = 'Unit Kerja') begin
	
		if(@RoleApp = 'ADMINISTRATOR' or @RoleApp = 'MANAGEMENT' or @RoleApp = 'INTERNAL.AUDITOR' or (@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPSO'))begin
			
			select obj.IDDepartment as ID,
				obj.DepartmentName as Name,
				count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
				count(case when obj.Progress = 'Completed' then 1 end) as Completed,
				count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
				count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
				count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
				count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
				count(obj.Progress) as Total
			from (
				select a.IDDepartment,
					a.DepartmentCode as DepartmentName,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress
				from [dbo].[TblD_ListProject] a
				where a.IsActive = 1
					and (@year between a.StartYear and a.EndYear)
					and DateDownload = @Date
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				) as obj
			group by obj.IDDepartment, obj.DepartmentName;
			
		end
		else if(@RoleApp = 'ADMIN.PMO')begin
			
			if(@UnitKerja = 'GPTF')begin
				
				select obj.IDDepartment as ID,
					obj.DepartmentName as Name,
					count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
					count(case when obj.Progress = 'Completed' then 1 end) as Completed,
					count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
					count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
					count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
					count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
					count(obj.Progress) as Total
				from (
					select a.IDDepartment,
						a.DepartmentCode as DepartmentName,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress
					from [dbo].[TblD_ListProject] a
					where a.IsActive = 1
						and (@year between a.StartYear and a.EndYear)
						and DateDownload = @Date
						and (a.IsTransformasi = 1 or a.DepartmentCode = @UnitKerja)
						and IDProjectStatus not in(1, 3, 8, 9, 13)
					) as obj
				group by obj.IDDepartment, obj.DepartmentName;
				
			end
			else begin
				
				select obj.IDDepartment as ID,
					obj.DepartmentName as Name,
					count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
					count(case when obj.Progress = 'Completed' then 1 end) as Completed,
					count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
					count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
					count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
					count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
					count(obj.Progress) as Total
				from (
					select a.IDDepartment,
						a.DepartmentCode as DepartmentName,
						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress
					from [dbo].[TblD_ListProject] a
					where a.IsActive = 1
						and (@year between a.StartYear and a.EndYear)
						and DateDownload = @Date
						and a.DepartmentCode = @UnitKerja
						and IDProjectStatus not in(1, 3, 8, 9, 13)
					) as obj
				group by obj.IDDepartment, obj.DepartmentName;
				
			end;

		end
		else begin
			
			select obj.IDDepartment as ID,
				obj.DepartmentName as Name,
				count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
				count(case when obj.Progress = 'Completed' then 1 end) as Completed,
				count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
				count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
				count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
				count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
				count(obj.Progress) as Total
			from (
				select a.IDDepartment,
					a.DepartmentCode as DepartmentName,
					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress
				from [dbo].[TblD_ListProject] a
				where a.IsActive = 1
					and (@year between a.StartYear and a.EndYear)
					and DateDownload = @Date
					and a.DepartmentCode = @UnitKerja
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				) as obj
			group by obj.IDDepartment, obj.DepartmentName;
			
		end;

	end
	
	----------------------------
	-- Filter By Tipe Project --
	----------------------------

	else if(@Filter = 'All') begin
		
		if(@RoleApp = 'ADMINISTRATOR' or @RoleApp = 'MANAGEMENT' or @RoleApp = 'INTERNAL.AUDITOR' or (@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPSO'))begin
			
			select obj.IsTransformasi as ID,
				obj.Name as Name,
				count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
				count(case when obj.Progress = 'Completed' then 1 end) as Completed,
				count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
				count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
				count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
				count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
				count(obj.Progress) as Total
			from (
				select a.IsTransformasi,
				
					case
						when a.IsTransformasi = 1 then 'Transformasi'
						when a.IsTransformasi = 0 then 'Non Transformasi'
					end as Name,

					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
						when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress
				from [dbo].[TblD_ListProject] a
				where a.IsActive = 1
					and (@year between a.StartYear and a.EndYear)
					and DateDownload = @Date
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				) as obj
			group by obj.IsTransformasi, obj.Name;
			
		end
		else if(@RoleApp = 'ADMIN.PMO')begin
			
			if(@UnitKerja = 'GPTF')begin
				
				select obj.IsTransformasi as ID,
					obj.Name as Name,
					count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
					count(case when obj.Progress = 'Completed' then 1 end) as Completed,
					count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
					count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
					count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
					count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
					count(obj.Progress) as Total
				from (
					select a.IsTransformasi,
					
						case
							when a.IsTransformasi = 1 then 'Transformasi'
							when a.IsTransformasi = 0 then 'Non Transformasi'
						end as Name,

						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
								then 'Belum dimulai'
							when (a.IDProjectStatus = 4
								or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress
					from [dbo].[TblD_ListProject] a
					where a.IsActive = 1
						and (@year between a.StartYear and a.EndYear)
						and DateDownload = @Date
						and (a.IsTransformasi = 1 or a.DepartmentCode = @UnitKerja)
						and IDProjectStatus not in(1, 3, 8, 9, 13)
					) as obj
				group by obj.IsTransformasi, obj.Name;
				
			end
			else begin
				
				select obj.IsTransformasi as ID,
					obj.Name as Name,
					count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
					count(case when obj.Progress = 'Completed' then 1 end) as Completed,
					count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
					count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
					count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
					count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
					count(obj.Progress) as Total
				from (
					select a.IsTransformasi,
					
						case
							when a.IsTransformasi = 1 then 'Transformasi'
							when a.IsTransformasi = 0 then 'Non Transformasi'
						end as Name,

						case
							when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum dimulai'
							when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
							when (a.Pencapaian < 85) then 'Jauh dibawah target'
							when (a.Pencapaian < 100) then 'Dibawah target'
							when (a.Pencapaian < 110) then 'Sesuai target'
							else 'Diatas target'
						end as Progress
					from [dbo].[TblD_ListProject] a
					where a.IsActive = 1
						and (@year between a.StartYear and a.EndYear)
						and DateDownload = @Date
						and a.DepartmentCode = @UnitKerja
						and IDProjectStatus not in(1, 3, 8, 9, 13)
					) as obj
				group by obj.IsTransformasi, obj.Name;
				
			end;

		end
		else begin
			
			select obj.IsTransformasi as ID,
				obj.Name as Name,
				count(case when obj.Progress = 'Belum dimulai' then 1 end) as BelumDimulai,
				count(case when obj.Progress = 'Completed' then 1 end) as Completed,
				count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
				count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
				count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
				count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget,
				count(obj.Progress) as Total
			from (
				select a.IsTransformasi,
				
					case
						when a.IsTransformasi = 1 then 'Transformasi'
						when a.IsTransformasi = 0 then 'Non Transformasi'
					end as Name,

					case
						when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
							then 'Belum dimulai'
						when (a.IDProjectStatus = 4
							or a.IDProjectStatus = 12) then 'Completed'
						when (a.Pencapaian < 85) then 'Jauh dibawah target'
						when (a.Pencapaian < 100) then 'Dibawah target'
						when (a.Pencapaian < 110) then 'Sesuai target'
						else 'Diatas target'
					end as Progress
				from [dbo].[TblD_ListProject] a
				where a.IsActive = 1
					and (@year between a.StartYear and a.EndYear)
					and DateDownload = @Date
					and a.DepartmentCode = @UnitKerja
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				) as obj
			group by obj.IsTransformasi, obj.Name;
			
		end;

	end;
	
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	
END





GO
