USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblH_ProjectChangeApproval]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblH_ProjectChangeApproval](
	[IDProjectChangeApprovalHistory] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectChangeManagement] [int] NULL,
	[ApprovalVersion] [int] NULL,
	[Type] [varchar](50) NULL,
	[ApprovedBy] [varchar](50) NULL,
	[IsApproved] [bit] NULL,
	[Remarks] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TblH_ProjectChangeApproval] PRIMARY KEY CLUSTERED 
(
	[IDProjectChangeApprovalHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
