USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_DropdownProjectFromProgram]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_DropdownProjectFromProgram] @programid INT
AS
BEGIN
	select Proj.IDProject,
		isnull(Proj.ProjectNo, 0) + ' - ' + Proj.ProjectName as ProjectName,
		Proj.IDProgram
	from TblM_Project Proj
	where --Proj.IDProgram = @programid
		--AND 
		isnull(IsActive, 0) = 1
END




GO
