USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetRencanaKerjaAwalTotal]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetRencanaKerjaAwalTotal] (
	-- Add the parameters for the function here
	@MataAnggaran VARCHAR(20)
	,@Date DATE
	)
RETURNS DECIMAL(30, 2)
AS
BEGIN
	IF @Date = NULL
		SET @Date = (
				SELECT CAST(GETDATE() AS DATE)
				)

	DECLARE @TotalAnggaran DECIMAL(30, 2);
	DECLARE @GetLatestDate DATE = (
			SELECT MAX(DateDownload)
			FROM TblSAP_RKATFinal
			WHERE RENCANA_KERJA = @MataAnggaran
				AND DateDownload <= @Date
			)

	SET @TotalAnggaran = (
			SELECT SUM(CAST(SIGNEDDATA AS DECIMAL(30, 2))) FROM TblSAP_RKATFinal WHERE RENCANA_KERJA = @MataAnggaran
					AND Datedownload = @GetLatestDate) 
		


	RETURN @TotalAnggaran

END
GO
