USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectDetail]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectDetail](
	[IDProjectDetail] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NULL,
	[Background] [nvarchar](max) NULL,
	[Objective] [nvarchar](max) NULL,
	[ScopeOfWork] [nvarchar](max) NULL,
	[BudgetDescription] [nvarchar](max) NULL,
	[OrganizationChart] [varbinary](max) NULL,
	[ManajemenKomunikasi] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[GUID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TblT_ProjectDetail] PRIMARY KEY CLUSTERED 
(
	[IDProjectDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblT_ProjectDetail]  WITH NOCHECK ADD  CONSTRAINT [FK_TblT_ProjectDetail_TblT_ProjectHeader] FOREIGN KEY([IDProjectHeader])
REFERENCES [dbo].[TblT_ProjectHeader] ([IDProjectHeader])
GO
ALTER TABLE [dbo].[TblT_ProjectDetail] CHECK CONSTRAINT [FK_TblT_ProjectDetail_TblT_ProjectHeader]
GO
