USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_MPPTaskResourcesAssigment]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_MPPTaskResourcesAssigment] AS TABLE(
	[ResourceID] [varchar](6) NULL,
	[TaskID] [varchar](6) NULL,
	[ResourceEmail] [varchar](50) NULL,
	[Unit] [float] NULL
)
GO
