USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblH_SchedulerLog]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblH_SchedulerLog](
	[IDSchedulerLog] [int] IDENTITY(1,1) NOT NULL,
	[SchedulerName] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[RowAffected] [int] NULL,
	[Start] [datetime] NULL,
	[End] [datetime] NULL,
	[ElapsedTime] [numeric](18, 0) NULL,
 CONSTRAINT [PK_TblH_SchedulerLog] PRIMARY KEY CLUSTERED 
(
	[IDSchedulerLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
