USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_RoleGroup]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_RoleGroup](
	[IDRoleGroup] [int] NOT NULL,
	[RoleGroupName] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[Level] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblM_RoleGroup] PRIMARY KEY CLUSTERED 
(
	[IDRoleGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblM_RoleGroup] ADD  CONSTRAINT [DF_TblM_RoleGroup_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
