USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_ProjectListDashboardSO]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		SENA PUTRA
-- Create date: January 24, 2018
-- Description:	EXEC [dbo].[Get_ProjectListDashboardSO] 'BELUM DIMULAI', '0', '2018.SO.04'
-- =============================================
CREATE PROCEDURE [dbo].[Get_ProjectListDashboardSO]
	-- Add the parameters for the stored procedure here
	@StatusName nvarchar(25),
	@IsTransformation int,
	@StrategicObjective nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF @StatusName = 'ALL' BEGIN SELECT @StatusName = '' END
	IF @StrategicObjective = 'ALL' BEGIN SELECT @StrategicObjective = '' END

    -- Insert statements for procedure here
	SELECT B.IDProject, B.ProjectNo, B.ProjectName, A.ContractStartDate, A.ContractEndDate, C.StatusName
	FROM TblT_ProjectHeader A
	INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
	INNER JOIN TblM_StrategicObjective D ON B.IDStrategicObjective = D.IDStrategicObjective
	WHERE (C.StatusName = @StatusName OR @StatusName = C.StatusName)
	AND (B.IsTransformasi = @IsTransformation OR @IsTransformation = B.IsTransformasi)
	AND (D.StrategicObjectiveCode = @StrategicObjective OR @StrategicObjective = D.StrategicObjectiveCode)
END





GO
