USE [PROMISE]
GO
/****** Object:  View [dbo].[vw_report_kendala]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_report_kendala] AS
SELECT 
DISTINCT
	a.IDProjectHeader ,
	a.ProjectNo , 
	a.ProjectName , 
	a.DepartmentCode , 
	a.Pencapaian ,
	a.DateDownload, 
	c.ConstraintName,
	b.mitigasi,
	b.Problem,
	b.remarks ,
	b.Description,
	'Ongoing' as Status
FROM 
TblD_ListProject a
left JOIN 
vw_rekap_kendala b
ON
a.DateDownload BETWEEN b.StartFrom AND b.SaturdayDate
and
a.IDProjectHeader = b.IDProjectHeader
LEFT JOIN 
TblM_ConstraintType c
ON
b.IDConstraintType = c.IDConstraintType
GO
