USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_MasterProgram_ByName]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_MasterProgram_ByName]
	-- Add the parameters for the stored procedure here
	@ProgramName VARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SELECT row_number() OVER (
			ORDER BY UpdatedDate DESC
			) AS NoUrut
		,*
	FROM TblM_Program
	WHERE IsActive = 1
		AND ProgramName LIKE '%' + @ProgramName + '%';
END




GO
