USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetTrenPencapaian]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetTrenPencapaian]
(
	-- Add the parameters for the function here
	@IDProjectHeader int,
	@IsTransformasi bit,
	@Month int,
	@Year varchar(4)
)
RETURNS varchar(max)
AS
BEGIN
	
	declare @PreviousMonth int = @Month - 1;
	declare @PreviousYear int;
	declare @Result varchar(max) = '';

	if(@PreviousMonth = 0) begin
		set @PreviousMonth = 12;
		set @PreviousYear = convert(int,@Year) - 1;
		
		if((select [dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @Month, @Year)) = null) set @Result = ''
		else if([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @PreviousMonth, @Year) =  null) set @Result = ''
		else if(convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @Month, @Year))) >  convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @PreviousMonth, @PreviousYear)))) begin
			set @Result = 'Naik';
		end
		else if(convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @Month, @Year))) =  convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @PreviousMonth, @PreviousYear)))) begin
			set @Result = 'Sama';
		end
		else if(convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @Month, @Year))) <  convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @PreviousMonth, @PreviousYear)))) begin
			set @Result = 'Turun';
		end
		else set @Result = '';
	
	end
	else begin
			
		if((select [dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @Month, @Year)) = null) set @Result = ''
		else if([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @PreviousMonth, @Year) =  null) set @Result = ''
		else if(convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @Month, @Year))) >  convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @PreviousMonth, @Year)))) begin
			set @Result = 'Naik';
		end
		else if(convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @Month, @Year))) =  convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @PreviousMonth, @Year)))) begin
			set @Result = 'Sama';
		end
		else if(convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @Month, @Year))) <  convert(float,([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @PreviousMonth, @Year)))) begin
			set @Result = 'Turun';
		end
		else set @Result = '';
	-- select [dbo].[Ufn_GetPencapaian](137, 0, 3, '2019')
	end;

	return @Result;
END
GO
