USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_KPIValue]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_KPIValue](
	[IDKPIValue] [int] IDENTITY(1,1) NOT NULL,
	[IDProject] [int] NOT NULL,
	[TW1] [float] NULL,
	[TW2] [float] NULL,
	[TW3] [float] NULL,
	[TW4] [float] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[TWYEAR] [int] NULL,
	[TWNO] [int] NULL,
 CONSTRAINT [PK_TblM_KPIValue] PRIMARY KEY CLUSTERED 
(
	[IDKPIValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
