USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from [Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth](703,2019,3)

CREATE FUNCTION [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth] ( @IDProjectHeader BIGINT,@Year INT, @Month INT)

-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
RETURNS  @tempRKAT TABLE
(
	IDProjectHeader BIGINT,
	IDSAPMasterRKAT BIGINT,
	RKAT VARCHAR(MAX),
	RKATCode VARCHAR(MAX),
	RKATValue NUMERIC,
	--PergeseranValue NUMERIC,
	RealValue NUMERIC,
	KomitValue NUMERIC
)
AS

BEGIN
--DECLARE @IDProjectHeader BIGINT = 156


DECLARE @MaxDatePergeseran DATETIME 
DECLARE @MaxDateReal DATETIME 
DECLARE @MaxDateKomit DATETIME
declare @MaxDateHangus datetime

SET @MaxDatePergeseran = (SELECT TOP 1  DateDownload FROM TblSAP_Pergeseran WHERE DateDownload <= 
(SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date
WHERE year = @Year and month = @Month)
ORDER BY DateDownload DESC)

SET @MaxDateReal = (SELECT TOP 1 DateDownload FROM TblSAP_Realisasi WHERE DateDownload <= 
(SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date
WHERE year = @Year and month = @Month) 
ORDER BY DateDownload DESC)

SET @MaxDateKomit = (SELECT TOP 1  DateDownload FROM TblSAP_Komitmen WHERE DateDownload <= 
(SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date
WHERE year = @Year and month = @Month)
ORDER BY DateDownload DESC)

SET @MaxDateHangus = (SELECT TOP 1  DateDownload FROM TblSAP_Hangus WHERE DateDownload <= 
(SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date
WHERE year = @Year and month = @Month)
ORDER BY DateDownload DESC)

INSERT INTO @tempRKAT (IDProjectHeader,IDSAPMasterRKAT,RKAT,RKATCode,RKATValue,RealValue,KomitValue)
select distinct a.IDProjectHeader, a.IDSAPMasterRKAT,b.EVDESCRIPTION,b.IDSAP,
		(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_RKATFinal c WHERE c.RENCANA_KERJA = b.IDSAP )
		+ isnull((SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Pergeseran f WHERE f.RENCANA_KERJA = b.IDSAP and DateDownload = @MaxDatePergeseran),0)
		+ isnull((SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Hangus f WHERE f.RENCANA_KERJA = b.IDSAP and DateDownload = @MaxDateHangus),0)
		,
		(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Realisasi d WHERE d.RENCANA_KERJA = b.IDSAP AND DateDownload = @MaxDateReal),
		(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Komitmen e WHERE e.RENCANA_KERJA = b.IDSAP AND DateDownload = @MaxDateKomit )
	FROM TblT_ProjectRKAT  a 
	 JOIN TblSAP_MasterRKAT b ON a.IDSAPMasterRKAT = b.IDSAPMasterRKAT
	 --JOIN TblSAP_RKATFinal c ON b.IDSAP  = c.RENCANA_KERJA
where IDProjectHeader = @IDProjectHeader and a.IsActive = 1

--UPDATE @tempRKAT SET RKATValue = SUM(CAST(SIGNEDDATA AS numeric)) FROM @tempRKAT a JOIN TblSAP_RKATFinal b ON a.RKATCode = b.IDSAPRKATFinal
--SELECT * FROM @tempRKAT


--select * From TblT_ProjectRKAT WHERE IDProjectHeader = @IDProjectHeader
return

end  
GO
