USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_MasterKPIValue2]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_MasterKPIValue2] 
	-- Add the parameters for the stored procedure here
	@IDProject int = null,
	@TW1 float = null,
	@TW2 float = null,
	@TW3 float = null,
	@TW4 float = null,
	@TWYEAR int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @tgl date, @twno int;

	set @tgl = convert(varchar(8), getdate(), 112);
	
	if (right(convert(varchar,DATEADD(quarter,DATEDIFF(quarter,'19000101',@tgl),'19000331'), 112),4) = '0331') set @twno = 1
	else if (right(convert(varchar,DATEADD(quarter,DATEDIFF(quarter,'19000101',@tgl),'19000331'), 112),4) = '0630') set @twno = 2
	else if (right(convert(varchar,DATEADD(quarter,DATEDIFF(quarter,'19000101',@tgl),'19000331'), 112),4) = '0930') set @twno = 3
	else if (right(convert(varchar,DATEADD(quarter,DATEDIFF(quarter,'19000101',@tgl),'19000331'), 112),4) = '1231') set @twno = 4
	else set @twno = 0

	begin try

		begin transaction;

		if exists(select * from TblM_KPIValue where IDProject = @IDProject and IsActive = 1 and TWYEAR=@TWYEAR) begin
			update TblM_KPIValue
			set TW1 = @TW1,
				TW2 = @TW2,
				TW3 = @TW3,
				TW4 = @TW4,
				TWYEAR = @TWYEAR,
				TWNO = @twno,
				UpdatedDate = getdate(),
				UpdatedBy = 'sys'
			where IDProject = @IDProject and IsActive = 1  and TWYEAR=@TWYEAR
			
			insert into TblM_KPIValue_His (IDKPIValue,IDProject,TW1,TW2,TW3,TW4,UpdatedDate,UpdatedBy,CreatedDate,CreatedBy,IsActive,TWYEAR,GenerateDate)
			select IDKPIValue,IDProject,TW1,TW2,TW3,TW4,UpdatedDate,UpdatedBy,CreatedDate,CreatedBy,IsActive,TWYEAR,getdate() as GenerateDate
			 from TblM_KPIValue where IDProject = @IDProject and IsActive = 1 and TWYEAR=@TWYEAR;
		end
		else begin

			insert into TblM_KPIValue (
				IDProject,
				TW1,
				TW2,
				TW3,
				TW4,
				TWYEAR,
				TWNO,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			values (
				@IDProject,
				@TW1,
				@TW2,
				@TW3,
				@TW4,
				@TWYEAR,
				@twno,
				getdate(),
				'sys',
				1
			);
		end;

		commit;
		
	----SELECT 'S|Success'
	SELECT 'S|Success'

	end try
	begin catch

		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_MasterKPIValue', @ErrNum, @ErrMsg, 'sys';
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;

	end catch;

END



GO
