USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectName_byHeaderID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_ProjectName_byHeaderID]
	@ProjectHeaderID int
AS
BEGIN
	SELECT 
		Proj.ProjectName
	FROM 
	TblT_ProjectHeader PH
	inner JOIN
	TblM_Project Proj
	ON
	PH.IDProject = Proj.IDProject
	WHERE
	IDProjectHeader = @ProjectHeaderID
END




GO
