USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblD_ProjectHeader]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblD_ProjectHeader](
	[IDProjectHeader] [int] IDENTITY(1,1) NOT NULL,
	[DateDownload] [date] NULL,
	[Year] [nvarchar](4) NULL,
	[Month] [int] NULL,
	[Date] [int] NULL,
	[WeekOfMonth] [int] NULL,
	[TotalProject] [varchar](50) NULL,
	[Pencapaian] [varchar](50) NULL,
	[Anggaran] [varchar](50) NULL,
	[Realisasi] [varchar](50) NULL,
	[StartYear] [nvarchar](4) NULL,
	[EndYear] [nvarchar](4) NULL,
	[IsTransformasi] [bit] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[StartMonth] [int] NULL,
	[EndMonth] [int] NULL,
	[IDProjectStatus] [int] NULL,
	[StartDay] [int] NULL,
	[EndDay] [int] NULL,
 CONSTRAINT [PK_TblD_ProjectHeader] PRIMARY KEY CLUSTERED 
(
	[IDProjectHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
