USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[getProjectReport]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getProjectReport] 
@Filter int  -- 0 --> Non Transformasi, 1->Transformasi--> -1 All
as
begin
if @Filter>=0
begin
	select ProgramName,DepartmentCode,ProjectNo,ProjectName, PlanPencapaian, RealisasiPencapaian,Pencapaian,
	(
		select top  1 description from TblT_ProjectConstraint where IDProjectHeader=z.IDProjectHeader and isActive=1
	) as Problem,
	(
		select top  1 remarks from TblT_ProjectConstraint where IDProjectHeader=z.IDProjectHeader and isActive=1
	) as Remark

	from (
	select ProgramName,DepartmentCode,ProjectNo,ProjectName, PlanPencapaian, RealisasiPencapaian,Pencapaian,
	IDProjectHeader, case when startyear <year(getdate()) then 'Multi Years' else '' end as project_type
	from TblD_ListProject 
	where IDProjectHeader in ( 
		select b.IDProjectHeader
		from TblM_Project a 
		inner join Tblt_ProjectHeader b on a.IDProject = b.IDProject and IsTransformasi=@Filter and  year = year(getdate())
		)
		and convert(varchar(8),DateDownload,112) = convert(varchar(8),getDate(),112)
	)z
	order by z.IDProjectHeader
end
else
begin
	select ProgramName,DepartmentCode,ProjectNo,ProjectName, PlanPencapaian, RealisasiPencapaian,Pencapaian,
	(
		select top  1 description from TblT_ProjectConstraint where IDProjectHeader=z.IDProjectHeader and isActive=1
	) as Problem,
	(
		select top  1 remarks from TblT_ProjectConstraint where IDProjectHeader=z.IDProjectHeader and isActive=1
	) as Remark

	from (
	select ProgramName,DepartmentCode,ProjectNo,ProjectName, PlanPencapaian, RealisasiPencapaian,Pencapaian,
	IDProjectHeader, case when startyear <year(getdate()) then 'Multi Years' else '' end as project_type
	from TblD_ListProject 
	where IDProjectHeader in ( 
		select b.IDProjectHeader
		from TblM_Project a 
		inner join Tblt_ProjectHeader b on a.IDProject = b.IDProject and year = year(getdate())
		)
		and convert(varchar(8),DateDownload,112) = convert(varchar(8),getDate(),112)
	)z
	order by z.IDProjectHeader
end
end
GO
