USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_DurationInDays_PerProjectALter]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[Ufn_Get_DurationInDays_PerProjectALter] ( @ProjectHeaderID int)

-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
Returns @result TABLE 
(
	ProjectHeaderID int, 
	TaskID int,
	TaskName varchar(max),
	StartDate date,
	EndDate date,
	DurationInDays int,
	ParentID int,
	IsParent bit
)
AS

begin
	DECLARE @temptable TABLE 
	(
		ProjectHeaderID int, 
		TaskID int,
		TaskName varchar(max),
		IsParent bit ,
		ChildTotal int, 
		Duration int,
		Parent int,
		StartDate date,
		EndDate date
	)

	DECLARE @tempFinal TABLE 
	(
		ProjectHeaderID int, 
		TaskID int,
		TaskName varchar(max),
		IsParent bit ,
		ChildTotal int, 
		Duration int,
		Parent int,
		StartDate date,
		EndDate date,
		DurationInDays int

	)

   INSERT INTO @temptable 
   SELECT
		ProjectHeaderID ,TaskID , TaskName ,
	
		CASE WHEN EXISTS(
				SELECT TaskID FROM
				TblT_MPPProjectPlanDetail MPD
				WHERE
				MPD.ParentID = mm.TaskID
				and
				MPD.ProjectHeaderID = @ProjectHeaderID 
				and MPD.IsActive = '1'
			)
			THEN
			'1'
			ELSE
			'0'
			END
			as IsParent
			,
			(
				SELECT COUNT(TaskID) FROM
				TblT_MPPProjectPlanDetail MPD
				WHERE
				MPD.ParentID = mm.TaskID
				and
				MPD.ProjectHeaderID = @ProjectHeaderID
				and MPD.IsActive = '1'
			) as ChildTotal
			,
			CASE WHEN
			EXISTS
			(
				SELECT TaskID FROM
				TblT_MPPProjectPlanDetail MPD
				WHERE
				MPD.ParentID = mm.TaskID
				and
				MPD.ProjectHeaderID = @ProjectHeaderID
				and MPD.IsActive = '1'
			)
			THEN
			(
				0
			)
			WHEN
			mm.TaskName LIKE'%Milestone%'
			THEN
			0
			ELSE
				Dbo.Ufn_GetProjectDuration(Convert(date,mm.StartDate),Convert(date,mm.EndDate))
			END as Duration,
			mm.ParentID as Parent,
			mm.StartDate,
			mm.EndDate
		FROM
		TblT_MPPProjectPlanDetail mm
		where 
			mm.ProjectHeaderID = @ProjectHeaderID
			and 
			mm.IsActive = '1'


		INSERT INTO 
		@tempFinal
		SELECT 
			 tt.* , 
			 CASE WHEN
			 tt.IsParent = '1'
			 THEN
				(
					SELECT 
						SUM(tm.Duration)
					FROM
					@temptable tm
					where
					tm.Parent = tt.TaskID
				)
			 ELSE
				tt.Duration
			 END
		FROM 
		@temptable tt

		INSERT INTO @result
		SELECT
		tf.ProjectHeaderID, tf.TaskID, tf.TaskName, tf.StartDate, tf.EndDate, 
		CASE		
		WHEN
		tf.Parent = 0
		--tf.TaskID = (
		--		SELECT TOP 1 TaskID FROM 
		--		@tempFinal TM 
		--		ORDER 
		--		BY TaskID ASC
		--	)
		THEN 
			(
				SELECT	
					SUM(DurationInDays)
				FROM
				@tempFinal TC
				WHERE
				TC.Parent = tf.TaskID
				--(
				--	--SELECT TOP 1 TaskID FROM 
				--	--@tempFinal TM 
				--	--ORDER 
				--	--BY TaskID ASC
				
				--)
			)
		ELSE
			tf.DurationInDays
		END as DurationInDays,
		tf.Parent,
		tf.IsParent
	FROM
	@tempFinal tf

    return

end  
GO
