USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_TrendEkseksiPerPeriode]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author		: Andre Ibrahim Latief
-- Create date	: -
-- Description	: -
-- ============================================= 
-- ============================================= 
-- Author		: Fadhil Ikhsan Nurcahyo
-- Update date	: 28/Oktober/2019
-- Description	: Merapihkan SP
-- ============================================= 
CREATE function [dbo].[Ufn_Get_TrendEkseksiPerPeriode] (@IDProjectHeader int) 
returns @Result table(
	IDProjectHeader int,
	Periode varchar(max),
	Keys varchar(max), 
	Plans float, 
	Reals float, 
	Approval varchar(max), 
	UpdateDate datetime, 
	Status varchar(max), 
	vars varchar(max),
	week int,
	month int,
	year int
) 
as
begin
	      DECLARE @wk   INT, 
              @mm   INT, 
              @yr   VARCHAR(4), 
              @Tipe INT,
			  @TaskId int,
			  @EndDate datetime,
			  @wkEnd int 

	select @wk = weekofmonth,
		@mm = month,
		@yr = year
	from tblm_date
	where date = convert(date, getdate());

	SELECT @EndDate = cast(EOMONTH(getDate()) as date);

	select @wkEnd = weekofmonth
	from tblm_date
	where date = convert(date, @EndDate);

	if(@wk = @wkEnd)
		begin
			if((select top 1 WeekDayName from TblM_Date where Date = @EndDate) != 'Saturday')
			begin
				--set @mm = @mm + 1;
				--set @wk = 1;
				-- Add By Christina Eka
				if (@mm = 12)
				begin
					set @mm = 1;
					set @wk = 1;
					set @yr = @yr + 1;
				end
				else
				begin
					set @mm = @mm + 1;
					set @wk = 1;
				end
		end
	end

      SELECT @Tipe = Proj.istransformasi 
      FROM   tblm_project Proj 
             INNER JOIN tblt_projectheader PH 
                     ON Proj.idproject = PH.idproject 
      WHERE  PH.idprojectheader = @IDProjectHeader 

	  select TOP 1 @TaskId = TaskID from TblT_MPPProjectPlanDetail where ProjectHeaderID = @IDProjectHeader and IsActive = 1 and ParentID = 0
      ----------------------- 

      INSERT INTO @Result 
	  select 
		IDProjectHeader,
		Periode,
		Keys,
		PlanPercentage Plans,
		IsNull((
			select TOP 1 CompletePercentage
			from TblT_MPPProjectRealPercentage
			where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(z.Year as varchar(5)) + '-' + Cast(z.Month as varchar(3)) + '-' + Cast(z.Week as varchar(2)) as date)
			and isActive = 1 and TaskID = @TaskId
			order by Year desc,Month desc,Week desc
		),0) Reals,
		  --Isnull((SELECT TOP 1 Em.nama 
		  --        FROM   tblt_projectexecutionapprovalrole PEAR 
		  --               INNER JOIN tbldw_usergroup UG 
		  --                       ON PEAR.username = 
		  --                          UG.user_loginname 
		  --               INNER JOIN tbldw_employee Em 
		  --                       ON UG.usergroup_pernr = 
		  --                          Em.personalnumber 
				--					 INNER JOIN tblt_projectexecutionstatus PES 
		  --                           ON PEAR.idprojectheader = 
		  --                              PES.idprojectheaderid 
		  --        WHERE  PEAR.idprojectheader = idprojectheader 
		  --               AND PEAR.periode = CONVERT(VARCHAR, 
		  --                                  z.year) + 
		  --                                  '-' 
		  --                                  + CONVERT(VARCHAR, 
		  --                                  z.month) 
		  --                                  + '-' 
		  --                                  + CONVERT(VARCHAR, 
		  --                                  z.week) 
				--		 AND PEAR.IsEnabled = '1'
		  --               AND ( PEAR.isapprove IS NULL 
		  --                      OR PEAR.isapprove = '0' ) 
		  --               AND PEAR.isactive = '1' 
				--		 and
				--		 PES.ProjectStatus = 'Submit'
				--		  AND
				--			 PES.Periode = CONVERT(VARCHAR, 2019) + '-' 
		  --                                      + CONVERT(VARCHAR, 4) + 
		  --                                      '-' 
		  --                                      + CONVERT(VARCHAR, 2) 
				--		 ORDER BY IDRoleGroup ASC), '-') 
		  --AS 
		  --Approval, 
			isnull(
				(
					select top 1 Em.nama 
					from tblt_projectexecutionapprovalrole PEAR 
						inner join tbldw_usergroup UG on PEAR.username = UG.user_loginname 
						inner join tbldw_employee Em on UG.usergroup_pernr = Em.personalnumber
						inner join tblt_projectexecutionstatus PES on PEAR.idprojectheader = PES.idprojectheaderid
					where  PEAR.idprojectheader = z.idprojectheader and PEAR.periode = convert(varchar, z.year) + '-' + convert(varchar, z.month) + '-' + convert(varchar, z.week) 
						and PEAR.IsEnabled = '1'
						and (PEAR.isapprove is null or PEAR.isapprove = '0') 
						and PEAR.isactive = '1' 
						and PES.ProjectStatus = 'Submit'
						and PES.Periode = convert(varchar, z.year) + '-' + convert(varchar, z.month) + '-' + convert(varchar, z.week)
					order by IDRoleGroup asc
				), '-'
			) as Approval,

		    CONVERT (DATETIME, (SELECT TOP 1 PEAR.updateddate 
		                      FROM 
		  tblt_projectexecutionapprovalrole 
		  PEAR 
		  INNER JOIN tbldw_usergroup UG 
		          ON PEAR.username = 
		             UG.user_loginname 
		  INNER JOIN tbldw_employee Em 
		          ON UG.usergroup_pernr = 
		             Em.personalnumber 
		                      WHERE 
		  PEAR.idprojectheader = z.IDProjectHeader
		  AND PEAR.periode =   CONVERT(VARCHAR, z.year)  + '-' 
		                     + CONVERT(VARCHAR, z.month) + 
		                     '-' 
		                     + CONVERT(VARCHAR, z.week) 
		  AND PEAR.isactive = '1' 
		  ORDER  BY PEAR.updateddate DESC), 106) 
		  AS 
		  UpdateDate, 
		
		  CASE 
		    WHEN EXISTS ( SELECT TOP 1 PES.IDProjectHeaderID FROM TblT_ProjectExecutionStatus PES
			where 
			PES.IDProjectHeaderID = @IDProjectHeader
			AND
			PES.IsActive = 1
			AND
			PES.Periode = CONVERT(VARCHAR, 
		                  z.year) + '-' 
		                  + CONVERT(VARCHAR 
		                  , 
		                  z.month) + '-' 
		                  + CONVERT(VARCHAR 
		                  , 
		                  ( 
		                  z.week)) 
			AND PES.ProjectStatus = 'Approved'
			) THEN 
		    'Completed' 
		   WHEN EXISTS ( SELECT TOP 1 PES.IDProjectHeaderID FROM TblT_ProjectExecutionStatus PES
			where 
			PES.IDProjectHeaderID = @IDProjectHeader
			AND
			PES.IsActive = 1
			AND
			PES.Periode = CONVERT(VARCHAR, 
		                  z.year) + '-' 
		                  + CONVERT(VARCHAR 
		                  , 
		                  z.month) + '-' 
		                  + CONVERT(VARCHAR 
		                  , 
		                  ( 
		                  z.week)) 
			AND PES.ProjectStatus = 'Submit'
			) THEN 
		    'Waiting for Approval' 
		    ELSE 
				case
					when @Tipe = 0 then 'No realisation on this month'
					else 'No realisation on this week' 
				end
		  END 
		  AS 
		  Status,
		Vars,
		week,
		month,
		year	 
		from
		(
		select TOP 1 with ties 
		IDProjectHeader,
		tmpp.TaskId,
		case
			when @Tipe = 0 then
				+ [dbo].[Ufn_getmonthname_indonesia](tmpp.month) 
				+ ' ' + Cast(tmpp.year AS VARCHAR(4)) 
			else 
				'Minggu ke' + ' ' + CONVERT(VARCHAR, tmpp.week) 
				+ ', ' 
				+ [dbo].[Ufn_getmonthname_indonesia](tmpp.month) 
				+ ' ' + Cast(tmpp.year AS VARCHAR(4)) 
		end Periode, 
		/*
		-- Update by Ageng (2021-08-27)
		-- Ada error project yang tipe 0 nggak muncul realisasinya, ternyata karena logic kalau non transformasi keys = 0

		case 
			when @Tipe = 0 then ''
			else
		*/
			CONVERT(VARCHAR, tmpp.year) + '-' 
			+ CONVERT(VARCHAR, tmpp.month) + '-' 
			+ CONVERT(VARCHAR, tmpp.week) 	
		--end
		AS 
		Keys,
		Week,
		Month,
		Year,
		PlanPercentage,
		Cast(tmpp.year AS VARCHAR(4)) 
		+ RIGHT('00' + Cast(tmpp.month AS VARCHAR(2)), 2) 
		+ Cast(tmpp.week AS VARCHAR(1)) 
		AS 
		vars  
		from TblT_MPPProjectPlanPercentage tmpp 
		JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.TaskID = tmpp.TaskID and tmpd.TaskID = @TaskId and tmpd.ParentID = 0 and tmpd.IsActive = 1 and tmpd.ProjectHeaderID = @IDProjectHeader and tmpp.IDProjectHeader = @IDProjectHeader
		where 
		tmpp.IsActive = 1
		and 
		( cast(tmpp.year as varchar(4)) + right('00' + cast(tmpp.month AS varchar(2)), 2)+ Cast(tmpp.week as varchar(1))) <= (
				@yr + right('00' + Cast(@mm AS varchar(2)), 2) + cast(@wk as varchar(1)))
		order by ROW_NUMBER() over (partition by tmpp.TaskID, tmpp.Year,tmpp.Month,tmpp.Week order by tmpp.Year desc,tmpp.Month desc,tmpp.Week desc)
		) z
		order by z.YEAR desc,z.Month desc,z.Week desc
		
	return;
	
end;

GO
