USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardProjectTimeSeries]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardProjectTimeSeries] -- exec Get_DashboardProjectTimeSeries 'Non Transformasi', 2019, 10, 4
	-- Add the parameters for the stored procedure here
	@Filter nvarchar(50) = 'Transformasi',
	@Year int = null,
	@Month int = null,
	@Week int = null,
	@PersonalNumber varchar(max) = null

AS
BEGIN

	if(@Filter = 'Transformasi')begin
		
		select DLP.Periode,
			avg(DLP.PlanPencapaian) as Target,
			avg(DLP.RealisasiPencapaian) as Realisasi
		
		from TblD_ListProject DLP
		
		where DLP.IsActive = 1
			and DLP.DateDownload in(
				--select Date from TblM_Date where WeekDayName = 'Saturday' and Year = @Year
				select Date from TblM_Date where WeekDayName = 'Wednesday' and Year = @Year
			)
			and (@Year between DLP.StartYear and DLP.EndYear)
			and IDProjectStatus not in(1, 3, 8, 9, 13)
			and DLP.IsTransformasi = 1
		
		group by DLP.Periode,
			DLP.DateDownload
		
		--order by DLP.DateDownload asc;

	end
	else if(@Filter = 'Non Transformasi')begin
		
		select cast(year(cast(DLP.DateDownload as date))as varchar(5)) + '-' + dbo.Ufn_GetMonthName_Indonesia(month(cast(DLP.DateDownload as date))) as Periode,
			avg(DLP.PlanPencapaian) as Target,
			avg(DLP.RealisasiPencapaian) as Realisasi
		
		from TblD_ListProject DLP
		
		where DLP.IsActive = 1
			and DLP.DateDownload in(
				--select Date from TblM_Date where WeekDayName = 'Saturday' and Year = @Year and WeekOfMonth = @Week
				select Date from TblM_Date where WeekDayName = 'Wednesday' and Year = @Year and WeekOfMonth = @Week
			)
			and (@Year between DLP.StartYear and DLP.EndYear)
			and IDProjectStatus not in(1, 3, 8, 9, 13)
			and DLP.IsTransformasi = 0
		
		group by DLP.Periode,
			DLP.DateDownload
		
		order by DLP.DateDownload asc;

	end;

END




GO
