USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_LapM_StatusPencapaian]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Septian c>
-- Create date: <07 Juli 2023>
-- Description:	<Laporan Mingguan untuk poin 1a>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_LapM_StatusPencapaian]
--exec Usp_Get_LapM_StatusPencapaian '2021/06/04'
	@Date date
AS
BEGIN
	declare @Year as varchar(4);
	declare @Year2 as varchar(4);
	declare @Month as int;
	declare @Week as int;
	declare @IsTransformasi as int;
	declare @date2 as date;

	declare @Pencapaian as decimal(18,2);
	declare @Target as decimal(18,2);
	declare @Realisasi as decimal(18,2);
	declare @PencapaianLalu as decimal(18,2);

	set @Year = year(@Date);
	set @Month = month(@Date);
	set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = @Date);
	--if(
	--	@Year = (select Year from TblM_Date where Date = @Date)
	--	and @Month = (select Month from TblM_Date where Date = @Date)
	--	and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	--) begin set @Date = getdate() end
	--else begin 
	set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Wednesday');
	set @date2=DATEADD(day, -7, @Date);
	set @Year2 = year(@Date2);

	select * from (
	select case when (a.Pencapaian<85) then 'merah' when (a.Pencapaian>=85 and a.Pencapaian<100) then 'kuning' when (a.Pencapaian>=100 and a.Pencapaian<110) then 'hijau' when (a.Pencapaian>=100) then 'biru' end Pencapaian, '' PencapaianLalu
	from TblD_ListProject a
	where a.IsActive = 1
		and a.IsTransformasi = 1
		and a.DateDownload = @Date
		and (@Year between a.StartYear and a.EndYear)
		and a.IDProjectStatus not in(3, 13)--not in(1, 8, 9, 13)s
	union all
	select '' Pencapaian, case when (a.Pencapaian<85) then 'merah' when (a.Pencapaian>=85 and a.Pencapaian<100) then 'kuning' when (a.Pencapaian>=100 and a.Pencapaian<110) then 'hijau' when (a.Pencapaian>=100) then 'biru' end PencapaianLalu
	from TblD_ListProject a
	where a.IsActive = 1
		and a.IsTransformasi = 1
		and a.DateDownload = @date2
		and (@Year2 between a.StartYear and a.EndYear)
		and a.IDProjectStatus not in(3, 13)--not in(1, 8, 9, 13)
		) as tbl

END




GO
