USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectChangeManagement]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectChangeManagement](
	[IDProjectChangeManagement] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NULL,
	[IDJenisPerubahan] [int] NULL,
	[TypeOfCR] [nvarchar](50) NULL,
	[SubmitterName] [nvarchar](50) NULL,
	[BriefDescriptionOfRequest] [nvarchar](max) NULL,
	[DateSubmitted] [datetime] NULL,
	[DateRequired] [datetime] NULL,
	[ReasonForChange] [nvarchar](max) NULL,
	[OtherArtifactsImpacted] [nvarchar](max) NULL,
	[AttachmentsOrReferences] [bit] NULL,
	[Catatan] [nvarchar](max) NULL,
	[Deskripsi] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[AlasanPenyebabLain] [nvarchar](max) NULL,
	[JenisPerubahan] [varchar](20) NULL,
 CONSTRAINT [PK_TblT_ProjectChangeManagement] PRIMARY KEY CLUSTERED 
(
	[IDProjectChangeManagement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
