USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Report_DetailAnggaran]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_Report_DetailAnggaran] -- exec [Usp_Get_Report_DetailAnggaran] 1, 15, '2019', ''
	-- Add the parameters for the stored procedure here
	@IDDirektorat int = null,
	@IDDepartment int = null,
	@Year nvarchar(5) = null,
	@IDSAP nvarchar(max) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	if @IDSAP is null set @IDSAP = '';

	declare @MaxDatePergeseran datetime;
	declare @MaxDateReal datetime;
	declare @MaxDateKomit datetime;
	declare @MaxDateHangus datetime;
	
	if (@Year is null) set @Year = year(getdate());
	if (@IDDirektorat is null) set @IDDirektorat = 0;
	if (@IDDepartment is null) set @IDDepartment = 0;
	
	set @MaxDatePergeseran = (
		select top 1  DateDownload
		from TblSAP_Pergeseran
		where DateDownload <= (
			select top 1 CAST(LastDayOfYear as date)
			from TblM_Date
			where year = @Year
		)
		order by DateDownload desc
	);
	
	set @MaxDateHangus = (
		select top 1  DateDownload
		from TblSAP_Hangus
		where DateDownload <= (
			select top 1 CAST(LastDayOfYear as date)
			from TblM_Date
			where year = @Year
		)
		order by DateDownload desc
	);
	
	set @MaxDateReal = (
		select top 1  DateDownload
		from TblSAP_Realisasi
		where DateDownload <= (
			select top 1 CAST(LastDayOfYear as date)
			from TblM_Date
			where year = @Year
		)
		order by DateDownload desc
	);
	
	set @MaxDateKomit = (
		select top 1  DateDownload
		from TblSAP_Komitmen
		where DateDownload <= (
			select top 1 CAST(LastDayOfYear as date)
			from TblM_Date
			where year = @Year
		)
		order by DateDownload desc
	);
	
	if(@IDDirektorat = 0 and @IDDepartment = 0)begin
		
		select a.DirektoratName,
			a.DepartmentName,
			f.IDSAP,
			f.YEAR,
			f.EVDESCRIPTION,
			g.ACCT_CODE,
			l.EVDESCRIPTION as EVDESCRIPTION_Detail,
			
			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_RKATFinal
				where RENCANA_KERJA = f.IDSAP and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Anggaran,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Pergeseran
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDatePergeseran and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Pergeseran,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Hangus
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDateHangus and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Hangus,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Realisasi
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDateReal and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Realisasi,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Komitmen
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDateKomit and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Komitmen

		from TblD_ListProject a
			inner join TblT_ProjectRKAT e on a.IDProjectHeader = e.IDProjectHeader and e.IsActive = 1
			inner join TblSAP_MasterRKAT f on e.IDSAPMasterRKAT = f.IDSAPMasterRKAT and f.YEAR = @Year and f.IDSAP like '%' + @IDSAP + '%'
			left join TblSAP_RKATFinal g on f.IDSAP = g.RENCANA_KERJA
			left join TblSAP_Account l on g.ACCT_CODE = l.ID

		where a.DateDownload = cast(getdate() as date)
			and year(getdate()) between a.StartYear and a.EndYear
			and a.IsActive = 1
			and a.IDProjectStatus not in(1, 3, 8, 9, 13)

		group by a.DirektoratName,
			a.DepartmentName,
			f.IDSAP,
			f.YEAR,
			f.EVDESCRIPTION,
			g.ACCT_CODE,
			l.EVDESCRIPTION

		order by a.DirektoratName asc, a.DepartmentName asc, f.IDSAP asc, f.YEAR asc, f.EVDESCRIPTION asc;

	end
	else if(@IDDirektorat <> 0 and @IDDepartment = 0)begin
		
		select a.DirektoratName,
			a.DepartmentName,
			f.IDSAP,
			f.YEAR,
			f.EVDESCRIPTION,
			g.ACCT_CODE,
			l.EVDESCRIPTION as EVDESCRIPTION_Detail,
			
			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_RKATFinal
				where RENCANA_KERJA = f.IDSAP and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Anggaran,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Pergeseran
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDatePergeseran and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Pergeseran,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Hangus
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDateHangus and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Hangus,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Realisasi
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDateReal and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Realisasi,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Komitmen
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDateKomit and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Komitmen

		from TblD_ListProject a
			inner join TblT_ProjectRKAT e on a.IDProjectHeader = e.IDProjectHeader and e.IsActive = 1
			inner join TblSAP_MasterRKAT f on e.IDSAPMasterRKAT = f.IDSAPMasterRKAT and f.YEAR = @Year and f.IDSAP like '%' + @IDSAP + '%'
			left join TblSAP_RKATFinal g on f.IDSAP = g.RENCANA_KERJA
			left join TblSAP_Account l on g.ACCT_CODE = l.ID

		where a.DateDownload = cast(getdate() as date)
			and year(getdate()) between a.StartYear and a.EndYear
			and a.IsActive = 1
			and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			and a.IDDirektorat = @IDDirektorat

		group by a.DirektoratName,
			a.DepartmentName,
			f.IDSAP,
			f.YEAR,
			f.EVDESCRIPTION,
			g.ACCT_CODE,
			l.EVDESCRIPTION

		order by a.DirektoratName asc, a.DepartmentName asc, f.IDSAP asc, f.YEAR asc, f.EVDESCRIPTION asc;

	end
	else if(@IDDepartment <> 0)begin
	
		select a.DirektoratName,
			a.DepartmentName,
			f.IDSAP,
			f.YEAR,
			f.EVDESCRIPTION,
			g.ACCT_CODE,
			l.EVDESCRIPTION as EVDESCRIPTION_Detail,
			
			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_RKATFinal
				where RENCANA_KERJA = f.IDSAP and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Anggaran,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Pergeseran
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDatePergeseran and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Pergeseran,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Hangus
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDateHangus and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Hangus,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Realisasi
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDateReal and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Realisasi,

			isnull((
				select top 1 sum(isnull(cast(SIGNEDDATA as numeric), 0))
				from TblSAP_Komitmen
				where RENCANA_KERJA = f.IDSAP and DateDownload = @MaxDateKomit and ACCT_CODE = g.ACCT_CODE
				group by TIME
				order by TIME desc), 0
			) as Komitmen

		from TblD_ListProject a
			inner join TblT_ProjectRKAT e on a.IDProjectHeader = e.IDProjectHeader and e.IsActive = 1
			inner join TblSAP_MasterRKAT f on e.IDSAPMasterRKAT = f.IDSAPMasterRKAT and f.YEAR = @Year and f.IDSAP like '%' + @IDSAP + '%'
			left join TblSAP_RKATFinal g on f.IDSAP = g.RENCANA_KERJA
			left join TblSAP_Account l on g.ACCT_CODE = l.ID

		where a.DateDownload = cast(getdate() as date)
			and year(getdate()) between a.StartYear and a.EndYear
			and a.IsActive = 1
			and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			and a.IDDepartment = @IDDepartment

		group by a.DirektoratName,
			a.DepartmentName,
			f.IDSAP,
			f.YEAR,
			f.EVDESCRIPTION,
			g.ACCT_CODE,
			l.EVDESCRIPTION

		order by a.DirektoratName asc, 
			a.DepartmentName asc,
			f.IDSAP asc,
			f.YEAR asc,
			f.EVDESCRIPTION asc;

	end;

END




GO
