USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_SLA_InsertUpdate]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_SLA_InsertUpdate]
	-- Add the parameters for the stored procedure here
	@Id bigint,
	@GroupId int,
	@StatusSLA varchar(50),
	@Peraturan varchar(max),
	@Keterangan varchar(max),
	@Waktu nvarchar(max),
	@DihitungDari nvarchar(max),
	@User varchar(50),
	@TypeTransaction as varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		begin transaction;
		
		declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @User);
		

		if(@TypeTransaction = 'Insert')begin
			
				insert into TblM_SLA(
					GroupId,
					StatusSLA,
					Peraturan,
					JasaPelayanan,
					Waktu,
					DihitungDari,
					IsActive,
					CreateUser,
					CreateDate,
					UpdateUser,
					UpdateDate
				)
				values(
					@GroupId,
					@StatusSLA,
					@Peraturan,
					@Keterangan,
					@Waktu,
					@DihitungDari,
					1,
					@Username,
					CURRENT_TIMESTAMP,
					@Username,
					CURRENT_TIMESTAMP
				);
				select 'S|Sukses';
			
		end
		else if(@TypeTransaction = 'Update')begin
					update TblM_SLA
					set GroupId = @GroupId,
						StatusSLA = @StatusSLA,
						Peraturan = @Peraturan,
						JasaPelayanan = @Keterangan,
						Waktu = @Waktu,
						DihitungDari = @DihitungDari,
						IsActive  =1,
						updateUser = @Username
					where Id = @Id
						select 'S|Sukses';
		end
		else if(@TypeTransaction = 'Delete')begin
			if exists(select * from TblM_SLA where Id = @Id and IsActive = 1)begin
				delete TblM_SLA where Id=@Id
				select 'S|Sukses';
			end
			else begin select 'F|ID SLA tersedia'; end;
		end
		else begin
			select 'F|Tipe transaksi tidak tersedia';
		end

		commit;
	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_SLA_InsertUpdate', @ErrNum, @ErrMsg, @Username;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch

END




GO
