USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_BerandaProjectProgress]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_BerandaProjectProgress] 
	@IDProject int,
	@Year varchar(4) = '',
	@Month varchar(2) = '',
	@Week varchar(2) = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @progress as table (period varchar(20), [plan] float, [real] float, [status] int)
	IF (SELECT TOP 1 IsTransformasi FROM TblM_Project WHERE IDProject = @IDProject) = 1
	BEGIN
		INSERT INTO @progress VALUES ('2019 Jan W1',10, 10, 2)
		INSERT INTO @progress VALUES ('2019 Jan W2',15, 15, 2)
		INSERT INTO @progress VALUES ('2019 Jan W3',20, 20, 2)
		INSERT INTO @progress VALUES ('2019 Jan W4',22, 20, 1)
		INSERT INTO @progress VALUES ('2019 Jan W5',25, 22, 1)
		INSERT INTO @progress VALUES ('2019 Feb W1',30, 25, 1)
		INSERT INTO @progress VALUES ('2019 Feb W2',32, 30, 1)
		INSERT INTO @progress VALUES ('2019 Feb W3',35, 30, 1)
		INSERT INTO @progress VALUES ('2019 Feb W4',37, 30, 1)
		INSERT INTO @progress VALUES ('2019 Mar W1',40, 35, 1)
		INSERT INTO @progress VALUES ('2019 Mar W2',45, 37, 1)
		INSERT INTO @progress VALUES ('2019 Mar W3',60, 37, 1)
		INSERT INTO @progress VALUES ('2019 Mar W4',90, 50, 1)
	END
	ELSE
	BEGIN
		INSERT INTO @progress VALUES ('Nov 2018',20, 30, 2)
		INSERT INTO @progress VALUES ('Des 2018',40, 50, 2)
		INSERT INTO @progress VALUES ('Jan 2019',60, 50, 1)
		INSERT INTO @progress VALUES ('Feb 2019',80, 60, 1)
		INSERT INTO @progress VALUES ('Mar 2019',100, 80, 1)
	END

	SELECT * FROM @progress

END




GO
