USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Reminder_InsertUpdate]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Reminder_InsertUpdate]
	-- Add the parameters for the stored procedure here
	@Id bigint,
	@TipeTransaksi varchar(50),
	@NamaReminder varchar(500),
	@IdProyek bigint,
	@Penerima int,
	@JangkaWaktu datetime,
	@Interval varchar(50),
	@TipeHari varchar(50),
	@Bulan int,
	@Tanggal int,
	@Hari varchar(50),
	@JamKirim time,
	@SubjectEmail varchar(max),
	@CcEmail int,
	@BodyEmail varchar(max),
	@User varchar(50),
	@TypeTransaction as varchar(50),
	@StatusReminder as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		begin transaction;
		
		declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @User);
		

		if(@TypeTransaction = 'Insert')begin
			
				insert into TblM_Reminder(
					TipeTransaksi
					  ,NamaReminder
					  ,IdProyek
					  ,Penerima
					  ,JangkaWaktu
					  ,Interval
					  ,TipeHari
					  ,Bulan
					  ,Tanggal
					  ,Hari
					  ,JamKirim
					  ,SubjectEmail
					  ,CcEmail
					  ,BodyEmail
					  ,StatusReminder
					  ,CreateBy
					  ,CreateDate
					  ,UpdateBy
					  ,UpdateDate
				)
				values(
					@TipeTransaksi,
					@NamaReminder,
					@IdProyek,
					@Penerima,
					@JangkaWaktu,
					@Interval,
					@TipeHari,
					@Bulan,
					@Tanggal,
					@Hari,
					@JamKirim,
					@SubjectEmail,
					@CcEmail,
					@BodyEmail,
					1,
					@Username,
					CURRENT_TIMESTAMP,
					@Username,
					CURRENT_TIMESTAMP
				);
				select 'S|Sukses';
			
		end
		else if(@TypeTransaction = 'Update')begin
					update TblM_Reminder
					set TipeTransaksi=@TipeTransaksi
					  ,NamaReminder=@NamaReminder
					  ,IdProyek=@IdProyek
					  ,Penerima=@Penerima
					  ,JangkaWaktu=@JangkaWaktu
					  ,Interval=@Interval
					  ,TipeHari=@TipeHari
					  ,Bulan=@Bulan
					  ,Tanggal=@Tanggal
					  ,Hari=@Hari
					  ,JamKirim=@JamKirim
					  ,SubjectEmail=@SubjectEmail
					  ,CcEmail=@CcEmail
					  ,BodyEmail=@BodyEmail
					  ,StatusReminder=@StatusReminder
					  ,UpdateBy=@User
					  ,UpdateDate=@User
					where Id = @Id
						select 'S|Sukses';
		end
		else if(@TypeTransaction = 'Delete')begin
			if exists(select * from TblM_Reminder where Id = @Id )begin
				update TblM_Reminder set isdelete=1 where id=@Id
				select 'S|Sukses';
			end
			else begin select 'F|ID SLA tersedia'; end;
		end
		else begin
			select 'F|Tipe transaksi tidak tersedia';
		end

		commit;
	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Reminder_InsertUpdate', @ErrNum, @ErrMsg, @Username;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch

END




GO
