USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_ProjectInformation_ProjectPlan]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_ProjectInformation_ProjectPlan]  -- exec Get_ProjectInformation_ProjectPlan '413', '4', '5', '2021'
	@ProjectHeaderID int,
	@week int = null,
	@month int = null,
	@year int = null
AS
BEGIN

	declare @IsTransformasi varchar(20);

	select @IsTransformasi = Proj.IsTransformasi
	from TblT_ProjectHeader ProjH
		inner join TblM_Project Proj on ProjH.IDProject = Proj.IDProject
	where ProjH.IDProjectHeader = @ProjectHeaderID;

	if @IsTransformasi = 0 begin
		select @week = max(a.WeekOfMonth)
		from TblM_Date a
		where a.Month = @month 
			and a.Year = @year;
	end;


	------------------------------------- ProjectPlan -------------------------------------

	select MPD.ProjectHeaderID, MPD.ParentID, MPD.TaskID, MPD.TaskName as TaskName, MPD.StartDate, MPD.EndDate, MPD.OutlineNumber, MPD.IsMilestone,
		--case
		--	when (MPD.IsMilestone = '1' or MPD.TaskName LIKE '%milestone%' ) and GETDATE() >= MPD.StartDate then 100
		--	else round(
		--			isnull(
		--				(
		--					select top 1 MPP.PlanPercentage
		--					from TblT_MPPProjectPlanPercentage MPP
		--					where cast(MPP.Year as varchar(4)) + right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) 
		--							<=
		--							cast(@year as varchar(4)) + right('00'+cast(@month as varchar(2)),2) + cast(@week as varchar(1)) 
		--						and MPP.IDProjectHeader = MPD.ProjectHeaderID
		--						and MPP.TaskID = MPD.TaskID
		--					order by cast(MPP.Year as varchar(4)) + right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) desc
		--				), 0
		--			), 0
		--		)
		--end as ProjPlan,
		
		case
			when (
					isnull(
						(
							select top 1 MPP.CompletePercentage
							from TblT_MPPProjectRealPercentage MPP
							where cast(MPP.Year as varchar(4)) +  right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) 
									<=
									cast(@year as varchar(4)) +  right('00'+cast(@month as varchar(2)),2) + cast(@week as varchar(1)) 
								and MPP.IDProjectHeader = MPD.ProjectHeaderID
								and MPP.TaskID = MPD.TaskID
								and MPP.Week = @week
								and MPP.Month = @month
								and MPP.Year = @year
							order by cast(MPP.Year as varchar(4)) + right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) desc
						), 0
					)
				) > 0 
				then
					round(
						isnull(
							(
								select top 1 MPP.CompletePercentage
								from TblT_MPPProjectRealPercentage MPP
								where cast(MPP.Year as varchar(4)) +  right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) 
										<=
										cast(@year as varchar(4)) +  right('00'+cast(@month as varchar(2)),2) + cast(@week as varchar(1)) 
									and MPP.IDProjectHeader = MPD.ProjectHeaderID
									and MPP.TaskID = MPD.TaskID
									and MPP.Week = @week
									and MPP.Month = @month
									and MPP.Year = @year
								order by cast(MPP.Year as varchar(4)) +  right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) desc
							), 0
						), 0
					)
			
			else round(
					isnull(
						(
							select top 1 MPP.PercentageComplete
							from TblT_MPPProjectRealDetail MPP
								inner join TblT_MPPProjectPlanDetail MPDD on MPP.IDMPPProjectPlanDetail = MPDD.IDMPPProjectPlanDetail
							where MPDD.ProjectHeaderID = MPD.ProjectHeaderID
								and MPP.TaskID = MPD.TaskID
								and cast(MPP.Year as varchar(4)) +  RIGHT('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1))
									<=
									cast(@year as varchar(4)) +  RIGHT('00'+CAST(@month as varchar(2)),2) + CAST(@week as varchar(1)) 
							order by MPP.CreatedDate desc
						), 0
					), 0
				)
		end as ProjReal

	from TblT_MPPProjectPlanDetail MPD
		inner join [Ufn_Get_DurationInDays_PerProject](@ProjectHeaderID) DiD on MPD.TaskID = DiD.TaskID
	where MPD.ProjectHeaderID = @ProjectHeaderID
		and MPD.TaskID > 0
		and MPD.IsActive = '1';


END
GO
