USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterProjectCost]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MasterProjectCost] -- exec Usp_Get_MasterProjectCost
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	select row_number() over (
			order by Year DESC, ProjectCostCode ASC
		) as NoUrut,
		IDProjectCost,
		ProjectCostCode,
		ProjectCostName,
		Value,
		Pergeseran,
		Hangus,
		Realisasi,
		Komitmen,
		Description,
		ParentCode,
		YEAR,
		CreatedDate,
		CreatedBy,
		UpdatedDate,

		cast(day(UpdatedDate) as varchar(2)) + '-'
		+ dbo.Ufn_GetMonthName_Indonesia(month(UpdatedDate)) + '-'
		+ cast(year(UpdatedDate) as varchar(4)) as UpdatedBy,

		IsActive
	from [dbo].[TblSAP_Master_ProjectCost]
	/* AAA1 */
	--where YEAR = year(getdate()) and IsActive = 1;
	where (YEAR = year(getdate()) and IsActive = 1)
	or 
	(YEAR = year(getdate())+1 and IsActive = 1);

END




GO
