USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectExecutionStatus]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectExecutionStatus](
	[IDProjectExecutionStatus] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeaderID] [int] NULL,
	[ProjectStatus] [varchar](30) NULL,
	[Periode] [varchar](10) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateBy] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblT_ProjectExecutionStatus] PRIMARY KEY CLUSTERED 
(
	[IDProjectExecutionStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
