USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Check_BeforePeriodeIsComplete]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Usp_Check_BeforePeriodeIsComplete] -- [Usp_Check_BeforePeriodeIsComplete] 273, '2020-1-1'
	-- Add the parameters for the stored procedure here
	@IDProjectHeader int = 0,
	@Periode varchar(50) = ''
as
begin
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	set nocount on;

    -- Insert statements for procedure here
	
	declare @wk int,
		@mm int,
		@yr varchar(4),
		@Tipe int,
		@EndDate datetime,
		@wkEnd int;
	declare @SplitString table (rownumber int , val varchar(max));

	
	insert into @SplitString
	select  row_number() over(order by (select NULL)), *
	from dbo.Ufn_SplitString(@Periode,'-');

	select @yr = val from @SplitString where rownumber = 1;
	select @mm = val from @SplitString where rownumber = 2;
	select @wk = val from @SplitString where rownumber = 3;

	select @Tipe = Proj.istransformasi
	from tblm_project Proj
		inner join tblt_projectheader PH on Proj.idproject = PH.idproject
	where PH.idprojectheader = @IDProjectHeader
	


	
	/*
	+-------------------------------+
	| Get Lock Periode Transformasi	|
	+-------------------------------+
	*/
	
	declare @CTyear int, @CTmonth int, @CTweek int;
	declare @TcurrentDate date = cast(getdate() as date);
	declare @CTPeriode varchar(50);
	
	set @TcurrentDate = (select dateadd(week, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 1), @TcurrentDate));

	select @CTyear = year(@TcurrentDate);
	select @CTmonth = month(@TcurrentDate);
	select @CTweek = (select top 1 WeekOfMonth from TblM_Date where Date = cast(@TcurrentDate as date));

	if(@CTweek = (select top 1 WeekOfMonth from TblM_Date where Year = @CTyear and Month = @CTmonth order by Date desc) 
		and (select top 1 WeekDayName from TblM_Date  where Year = @CTyear and Month = @CTmonth order by Date desc) != 'Saturday')begin
			set @CTweek = 1;
			set @CTmonth = @CTmonth + 1;
			if(@CTmonth = 13) begin set @CTyear = @CTyear + 1; set @CTmonth = 1 ; end
	end;

	set @CTPeriode = cast(@CTyear as varchar(5)) + '-' + cast(@CTmonth as varchar(3)) + '-' + cast(@CTweek as varchar(2));
	
	/*
	+-----------------------------------+
	| Get Lock Periode Non Transformasi	|
	+-----------------------------------+
	*/
	
	declare @CNTyear int, @CNTmonth int;
	declare @NTcurrentDate date = (select dateadd(month, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 0), cast(getdate() as date)));
	
	select @CNTyear = year(@NTcurrentDate);
	select @CNTmonth = month(@NTcurrentDate);

	if @Tipe = 0 begin

        select isnull(
			(
				select top 1
					case
						when exists(
							select TOP 1 PES.IDProjectHeaderID
							from TblT_ProjectExecutionStatus PES
							where PES.ProjectStatus = 'Approved'
								and PES.IDProjectHeaderID = @IDProjectHeader
								and PES.IsActive = 1
								and PES.Periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, Max(MPPP.week))
						) then 'S|Completed'
						
						when (
							@Tipe = 0
							and cast(MPPP.year as int) = @CNTyear
							and cast(MPPP.month as int) = @CNTmonth
							and (select cast(Day as int) from TblM_Date where Date = cast(getdate() as date))
								> (select cast(LockValue as int) from TblM_LockExecution where IsTransformasi = 0)
						) then 'S|Completed'

						when (
							@Tipe = 0
							and cast(cast(MPPP.Year as varchar(5)) + '-' + cast(MPPP.Month as varchar(5)) + '-1' as date)
								< cast(cast(@CNTyear as varchar(5)) + '-' + cast(@CNTmonth as varchar(5)) + '-1' as date)
						) then 'S|Completed'

						when exists(
							select top 1 PES.IDProjectHeaderID
							from TblT_ProjectExecutionStatus PES
							where PES.ProjectStatus = 'Submit'
								and PES.IDProjectHeaderID = @IDProjectHeader
								and PES.IsActive = 1
								and PES.Periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, Max(MPPP.week)) 
						--) then 'F|Waiting For Approval on Before Periode'
						--else 'F|No realisation on Before Periode'
						) then 'F|Masih Menunggu Approval pada Periode Sebelumnya'
						else 'F|Tidak Ada Realisasi pada Periode Sebelumnya'
					end as Status

				from tblt_mppprojectplanpercentage MPPP

				where MPPP.isactive = 1
					and MPPP.idprojectheader = @IDProjectHeader

					and cast(cast(MPPP.year as varchar(5)) + '-' + cast(MPPP.month as varchar(3)) + '-1' as date)
						< cast(cast(@yr as varchar(5)) + '-' + cast(@mm as varchar(3)) + '-1' as date)

					and MPPP.taskid = (
						select top 1 MPPC.taskid
						from tblt_mppprojectplanpercentage MPPC
							inner join tblt_mppprojectplandetail MPD on MPPC.idprojectheader = MPD.projectheaderid and MPD.taskid = MPPC.taskid
						where idprojectheader = @IDProjectHeader
							and parentid = 0
							and MPD.Isactive = 1
							and MPPC.Isactive = 1
					)

				group by MPPP.month,
					MPPP.year,
					MPPP.idprojectheader,
					MPPP.taskid

				order by cast(MPPP.year as varchar(4)) + right('00' + cast(MPPP.month as varchar(2)), 2) + cast(max(MPPP.week) as varchar(1)) desc
			), 'S|Completed'
		);

	end

	else begin

		select isnull(
			(
				select top 1
					case
						when exists (
							select top 1 PES.IDProjectHeaderID
							from TblT_ProjectExecutionStatus PES
							where PES.IDProjectHeaderID = @IDProjectHeader
								and PES.IsActive = 1
								and PES.Periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, (MPPP.week)) 
								and PES.ProjectStatus = 'Approved'
						) then 'S|Completed'

						when (
							@Tipe = 1 
							and (cast(convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, (MPPP.week))  as date) = cast(@CTPeriode as date))
							and (select cast(Weekday as int) from TblM_Date where Date = cast(getdate() as date))
								> (select cast(LockValue as int) from TblM_LockExecution where IsTransformasi = 1)
						) then 'S|Completed'

						when (
							@Tipe = 1 
							and (cast(convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, (MPPP.week))  as date) < cast(@CTPeriode as date))
						) then 'S|Completed'

						when exists (
							select top 1 PES.IDProjectHeaderID
							from TblT_ProjectExecutionStatus PES
							where PES.IDProjectHeaderID = @IDProjectHeader
								and PES.IsActive = 1
								and PES.Periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, (MPPP.week)) 
								and PES.ProjectStatus = 'Submit'
						--) then 'F|Waiting For Approval on Before Periode'
						--else 'F|No realisation on Before Periode'
						) then 'F|Masih Menunggu Approval pada Periode Sebelumnya'
						else 'F|Tidak Ada Realisasi pada Periode Sebelumnya'
					end as Status

				from tblt_mppprojectplanpercentage MPPP
					left join tblt_mppprojectrealpercentage MPRP on MPPP.idprojectheader = MPRP.idprojectheader 
						and MPPP.taskid = MPRP.taskid 
						and MPPP.year = MPRP.year 
						and MPPP.month = MPRP.month 
						and MPPP.week = MPRP.week

				where MPPP.isactive = 1 
					and MPPP.idprojectheader = @IDProjectHeader
					
					and cast(cast(MPPP.Year as varchar(5)) + '-' + cast(MPPP.Month as varchar(5)) + '-' + cast(MPPP.Week as varchar(5)) as date)
						< cast(cast(@yr as varchar(5)) + '-' + cast(@mm as varchar(5)) + '-' + cast(@wk as varchar(5)) as date)
					
					and MPPP.taskid = (
						select top 1 MPPC.taskid
						from tblt_mppprojectplanpercentage MPPC 
							inner join tblt_mppprojectplandetail MPD on MPPC.idprojectheader = MPD.projectheaderid and MPD.taskid = MPPC.taskid
						where  idprojectheader = @IDProjectHeader 
							and parentid = 0
							and MPD.Isactive = 1
							and MPPC.Isactive = 1
					)

				order by cast(MPPP.year as varchar(4)) + RIGHT('00' + cast(MPPP.month as varchar(2)), 2) + cast(MPPP.week as varchar(1)) desc
			), 'S|Completed'
		);

	end;
	
end;




GO
