USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Scheduller_GetEmailBulkExec]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Usp_Scheduller_GetEmailBulkExec]
AS
BEGIN
	SELECT  distinct Username
	FROM TblT_ProjectExecutionApprovalRole
	WHERE IsActive = 1 AND
			IsEnabled = 1 AND
			( IsApprove is null or IsApprove = '0') 	
END



GO
