USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblDW_EmployeeMapping]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDW_EmployeeMapping](
	[IDDWEmployeeMapping] [int] IDENTITY(1,1) NOT NULL,
	[empl_mast_ID] [varchar](100) NULL,
	[empl_mast_username] [varchar](100) NULL,
	[empl_mast_NIP] [varchar](20) NULL,
	[empl_mast_Name] [varchar](50) NULL,
	[org_unit_mast_ID] [varchar](100) NULL,
	[org_unit_mast_Name] [varchar](100) NULL,
	[empl_assg_hist_Title] [varchar](100) NULL,
	[empl_assg_hist_TitleID] [varchar](100) NULL,
	[empl_mast_ActiveStatus] [bit] NULL,
	[empl_mast_IsContract] [bit] NULL,
	[org_unit_mast_ParentID] [varchar](100) NULL,
	[org_unit_mast_Code] [varchar](100) NULL,
 CONSTRAINT [PK__TblDW_Em__CA25BCF72B0C54E1] PRIMARY KEY CLUSTERED 
(
	[IDDWEmployeeMapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
