USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_Notes]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andre Ibrahim Latief
-- Create date: 01 April 2019
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_Get_Notes] (
		@ProjectHeaderID INT
	)

RETURNS @Result TABLE (
		DateInsert DateTime,
		ProjectHeaderID int,
		TaskID bigint,
		TaskName varchar(max),
		Week int,
		Month int,
		Year int,
		Notes varchar(max)
	)
AS
BEGIN
	
	INSERT INTO @Result
	SELECT
			MPRD.Date as DateInsert , 
			MPPD.ProjectHeaderID , 
			MPPD.TaskID, 
			MPPD.TaskName, 
			MPRD.Week , 
			MPRD.Month , 
			MPRD.Year , 
			MPRD.Notes 
	FROM 
	TblT_MPPProjectRealDetail MPRD
		INNER JOIN 
		TblT_MPPProjectPlanDetail MPPD
		ON
	MPRD.IDMPPProjectPlanDetail = MPPD.IDMPPProjectPlanDetail
		WHERE
		MPPD.ProjectHeaderID = @ProjectHeaderID
		AND
		MPRD.Notes IS NOT NULL
		AND
		MPRD.IsActive = 1
		AND
		MPPD.IsActive =1

	RETURN
END

GO
