USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_UserAuthorized]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_UserAuthorized](
	[IDUserAuthorized] [int] IDENTITY(1,1) NOT NULL,
	[IDRoleGroup] [int] NULL,
	[Username] [varchar](50) NULL,
	[PersonNumber] [int] NULL,
	[LastLogin] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblT_UserAuthorized] ADD  CONSTRAINT [DF_TblT_UserAuthorized_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
