USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblH_EmailLog]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblH_EmailLog](
	[IDEmailLog] [int] IDENTITY(1,1) NOT NULL,
	[IDEmailTemplate] [int] NULL,
	[IDProjectHeader] [int] NULL,
	[Subject] [varchar](50) NULL,
	[Content] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[SentTo] [varchar](200) NULL,
	[SentFrom] [varchar](200) NULL,
	[Status] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblT_EmailLog] PRIMARY KEY CLUSTERED 
(
	[IDEmailLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblH_EmailLog]  WITH CHECK ADD  CONSTRAINT [FK_TblH_EmailLog_TblM_EmailTemplate] FOREIGN KEY([IDEmailTemplate])
REFERENCES [dbo].[TblM_EmailTemplate] ([EmailTemplateID])
GO
ALTER TABLE [dbo].[TblH_EmailLog] CHECK CONSTRAINT [FK_TblH_EmailLog_TblM_EmailTemplate]
GO
