USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Notifikasi]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Usp_Get_Notifikasi] -- [Usp_Get_Notifikasi] '100010'
	@PersonNumber varchar(50)

as
begin

	declare @Username varchar(30);
	declare @Namee varchar(100);

	declare @DateNow Date = null;  
	declare @YearNow int = null;
	declare @MonthNow int = null;
	declare @WeekNow int = null;
	declare @DayNow int = null;
	set @DateNow = getdate();
	set @DayNow = Day(@DateNow)
	if (@YearNow is null)set @YearNow = year(getdate());
	if (@MonthNow is null)set @MonthNow = month(getdate());	
	if (@WeekNow is null)set @WeekNow = (select top 1 WeekOfMonth from TblM_Date where Year = @YearNow and Month = @MonthNow and Day = @DayNow  order by Date asc);

	/*
	+-------------------------------+
	| Get Lock Periode Transformasi	|
	+-------------------------------+
	*/
	
	declare @CTyear int, @CTmonth int, @CTweek int;
	declare @TcurrentDate date = cast(getdate() as date);
	declare @CTPeriode varchar(50);
	
	set @TcurrentDate = (select dateadd(week, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 1), @TcurrentDate));

	select @CTyear = year(@TcurrentDate);
	select @CTmonth = month(@TcurrentDate);
	select @CTweek = (select top 1 WeekOfMonth from TblM_Date where Date = cast(@TcurrentDate as date));

	if(@CTweek = (select top 1 WeekOfMonth from TblM_Date where Year = @CTyear and Month = @CTmonth order by Date desc) 
		and (select top 1 WeekDayName from TblM_Date  where Year = @CTyear and Month = @CTmonth order by Date desc) != 'Saturday')begin
			set @CTweek = 1;
			set @CTmonth = @CTmonth + 1;
			--if(@CTmonth = 13) set @CTyear = @CTyear + 1;
			if(@CTmonth = 13) begin set @CTyear = @CTyear + 1; set @CTmonth = 1 end;
	end;

	set @CTPeriode = cast(@CTyear as varchar(5)) + '-' + cast(@CTmonth as varchar(3)) + '-' + cast(@CTweek as varchar(2));
	
	/*
	+-----------------------------------+
	| Get Lock Periode Non Transformasi	|
	+-----------------------------------+
	*/
	
	declare @CNTyear int, @CNTmonth int;
	declare @NTcurrentDate date = (select dateadd(month, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 1), @TcurrentDate));
	
	select @CNTyear = year(@NTcurrentDate);
	select @CNTmonth = month(@NTcurrentDate);


	select @Username = UG.User_LoginName 
	from TblDW_Usergroup UG
	where UG.Usergroup_Pernr = @PersonNumber;
	
	select @Namee = EM.Nama 
	from TblDW_Usergroup UG
		inner join TblDW_Employee EM on UG.Usergroup_Pernr = EM.PersonalNumber
	where UG.Usergroup_Pernr = @PersonNumber;
	
	--declare @pjs table(
	--	UsernameAsli varchar(50)
	--);
	declare @pjs table(
		UsernameAsli varchar(50),
		Username varchar(50)
	);
	
	declare @currentDate date = cast(getdate() as date);

	--insert into @pjs
	--select distinct EM.Nama 
	--from TblT_PJSApproval PJSA
	--	inner join TblDW_Employee EM on PJSA.ExistingPersonalNumber = EM.PersonalNumber
	--where IsActive = 1 and PJSUsername = @Username
	--	and @currentDate between cast(StartDate as date) and cast(EndDate as date);
	
	insert into @pjs
	select distinct EM.Nama,PJSA.ExistingUsername 
	from TblT_PJSApproval PJSA
		inner join TblDW_Employee EM on PJSA.ExistingPersonalNumber = EM.PersonalNumber
	where IsActive = 1 and PJSUsername = @Username
		and @currentDate between cast(StartDate as date) and cast(EndDate as date);

	/*
	==========================================
	== GET Notification Approval Initiation ==
	==========================================
	*/

	select initiation.ProjectName,
		initiation.IDProject,
		'' as Category,
		'Initiation and Planning' as Phase,
		'-' as Periode,
		'-' as Keys
	from (
		select Proj.ProjectName,
			PH.IDProjectHeader as IDProject, 
			(
				select top 1 x.Username
				from TblT_ProjectInitApprovalRole x
				where x.IsActive = 1
					and x.IsEnabled = 1
					and (x.IsApprove = 0 or x.IsApprove is null)
					and x.IDProjectHeader = PH.IDProjectHeader
				order by x.Sequence desc
			) as Username
		from TblT_ProjectHeader PH
			inner join TblM_Project Proj on PH.IDProject = Proj.IDProject and Proj.IsActive = 1
		where PH.IsActive = 1 and PH.IDProjectStatus = 9
	) as initiation
	where initiation.Username = @Username
	
	union all 
	
	/*
	========================================
	== GET Notification Revisi Initiation ==
	========================================
	*/

	select 'Revisi - ' + initiation.ProjectName,
		initiation.IDProject,
		'' as Category,
		'Initiation and Planning' as Phase,
		'-' as Periode,
		'-' as Keys
	from (
		select Proj.ProjectName,
			PH.IDProjectHeader as IDProject, 
			PIAR.Username
		from TblT_ProjectHeader PH
			inner join TblM_Project Proj on PH.IDProject = Proj.IDProject and Proj.IsActive = 1
			inner join TblT_ProjectInitApprovalRole PIAR on PH.IDProjectHeader = PIAR.IDProjectHeader and PIAR.IsActive = 1 and PIAR.IDRoleGroup = 2
		where PH.IsActive = 1 and PH.IDProjectStatus = 8
	) as initiation
	where initiation.Username = @Username

	union all 
	
	/*
	=========================================
	== GET Notification Approval Execution ==
	=========================================
	*/

	select
	tp.ProjectName,
	bb.IDProjectHeader as IDProject,
	'' as Category,
	'Execution' as Phase,
	'' as Periode,
	'' as Keys 
	from
	(	select top 1 with ties 
		t1.IDProjectHeader,IDRoleGroup,t1.email,t1.periode,cast(t1.periode as Date) as periodeCast,t1.sequence,t1.Username 
		from TblT_ProjectExecutionApprovalRole t1 
		JOIN TblT_ProjectExecutionStatus t2 on t1.IDProjectHeader = t2.IDProjectHeaderID and t1.Periode = t2.Periode
		join tbldw_usergroup UG on t1.username = UG.user_loginname 
		join tbldw_employee Em on UG.usergroup_pernr = Em.personalnumber 
		where t2.ProjectStatus = 'Submit' and t2.IsActive = 1 and t1.IsActive = 1 and (t1.IsApprove is null or t1.IsApprove = 0) and t1.IsEnabled = 1  
		Group by t1.USername,t1.IDProjectHeader,IDRoleGroup,t1.email,t1.periode,t1.sequence,t1.IDProjectExecutionApprovalRole
		order by ROW_NUMBER() OVER(PARTITION BY t1.IDProjectHeader,t1.Periode ORDER BY t1.IDProjectHeader,IDRoleGroup,t1.sequence)
	)bb
	JOIN Tblt_ProjectHeader tph on bb.IDProjectHeader = tph.IDProjectHeader and tph.IsActive = 1
	Join Tblm_Project tp on tp.IDproject = tph.IDProject and tp.IsActive = 1 and tph.IsActive = 1
	left join TblM_ProjectStatus tps on tps.IDProjectStatus = tph.IDProjectStatus
	where bb.Username = @Username and (tps.IDProjectStatus not in(3,4, 12, 13))  and
	 1 = Case
			when tp.IsTransformasi = 0 and 
				(Year(bb.periodeCast) = Year(@NTcurrentDate) and 
				Month(bb.periodeCast) = Month(@NTcurrentDate) and 
				(select cast(Day as int) from TblM_Date where Date = cast(getdate() as date)) <= (select cast(LockValue as int) from TblM_LockExecution where IsTransformasi = 0)
				)or
				(
					cast(cast(year(bb.PeriodeCast) as varchar(5)) + '-' + cast(month(bb.PeriodeCast) as varchar(5)) + '-1' as date)
						> cast(cast(@CNTyear as varchar(5)) + '-' + cast(@CNTmonth as varchar(5)) + '-1' as date)
				)
				then 1						
			when tp.IsTransformasi = 1 and (bb.periodeCast >= cast(@CTPeriode as Date) or 
					((bb.PeriodeCast = cast(@CTPeriode as date))
					and (select cast(Weekday as int) from TblM_Date where Date = cast(getdate() as date))
						<= (select cast(LockValue as int) from TblM_LockExecution where IsTransformasi = 1))
			) then 1
			else 0 
		end
	
	union all 
	
	/*
	=============================================
	== GET Notification Approval Execution PJS ==
	=============================================
	*/

	select
	tp.ProjectName,
	bb.IDProjectHeader as IDProject,
	'' as Category,
	'Execution' as Phase,
	'' as Periode,
	'' as Keys 
	from
	(	select top 1 with ties 
		t1.IDProjectHeader,IDRoleGroup,t1.email,t1.periode,cast(t1.periode as Date) as periodeCast,t1.sequence,t1.Username 
		from TblT_ProjectExecutionApprovalRole t1 
		JOIN TblT_ProjectExecutionStatus t2 on t1.IDProjectHeader = t2.IDProjectHeaderID and t1.Periode = t2.Periode
		join tbldw_usergroup UG on t1.username = UG.user_loginname 
		join tbldw_employee Em on UG.usergroup_pernr = Em.personalnumber 
		where t2.ProjectStatus = 'Submit' and t2.IsActive = 1 and t1.IsActive = 1 and (t1.IsApprove is null or t1.IsApprove = 0) and t1.IsEnabled = 1  
		Group by t1.USername,t1.IDProjectHeader,IDRoleGroup,t1.email,t1.periode,t1.sequence,t1.IDProjectExecutionApprovalRole
		order by ROW_NUMBER() OVER(PARTITION BY t1.IDProjectHeader,t1.Periode ORDER BY t1.IDProjectHeader,IDRoleGroup,t1.sequence)
	)bb
	JOIN Tblt_ProjectHeader tph on bb.IDProjectHeader = tph.IDProjectHeader and tph.IsActive = 1
	Join Tblm_Project tp on tp.IDproject = tph.IDProject and tp.IsActive = 1 and tph.IsActive = 1
	left join TblM_ProjectStatus tps on tps.IDProjectStatus = tph.IDProjectStatus
	where bb.Username in (select Username from @pjs) and (tps.IDProjectStatus not in(3,4, 12, 13))  and
	 1 = Case
			when tp.IsTransformasi = 0 and Year(bb.periodeCast) = Year(@NTcurrentDate) and Month(bb.periodeCast) = Month(@NTcurrentDate) then 1
			when tp.IsTransformasi = 1 and bb.periodeCast >= cast(@CTPeriode as Date) then 1
			else 0 
		end 
	
	union all

	/*
	=======================================
	== GET Notification Revisi Execution ==
	=======================================
	*/

	select distinct 'Revisi - ' + Proj.ProjectName, 
		PH.IDProjectHeader as IDProject, 
		'' as Catergory, 
		'Execution' as Phase,
		'' as Periode, 
		PEAH.Periode as Keys  
	from TblT_ProjectHeader PH
		inner join TblM_Project Proj on PH.IDProject = Proj.IDProject and Proj.IsActive = 1
		inner join TblT_ProjectInitApprovalRole PIAR on PH.IDProjectHeader = PIAR.IDProjectHeader and PIAR.IsActive = 1 and PIAR.IDRoleGroup = 2 and PIAR.Username = @Username
		inner join (
		
			select *
			from (
				select x.IDProjectHeader,
					max(x.createddate) as createddate,
					x.Periode,
					x.Type,
					cast(x.periode as Date) as periodeCast,
					row_number() over (partition by x.idprojectheader, x.periode order by x.createddate desc) as RowRank
				from TblH_ProjectExecutionApprovalHistory x
				group by x.IDProjectHeader,
					x.Periode,
					x.Type,
					x.CreatedDate 
			) y
			where Rowrank = 1
		
		) PEAH on PEAH.IDProjectHeader = PH.IDProjectHeader and PEAH.Type = 'Revise'
	where PH.IDProjectStatus --in (2, 10, 11, 13, 7)
	not in(1, 3, 4, 8, 9, 12, 13) and
	 1 = Case
			when Proj.IsTransformasi = 0 and Year(PEAH.periodeCast) = Year(@NTcurrentDate) and Month(PEAH.periodeCast) = Month(@NTcurrentDate) then 1
			when Proj.IsTransformasi = 1 and PEAH.periodeCast >= cast(@CTPeriode as Date) then 1
			else 0 
		end 
	
	union all
	
	/*
	=======================================
	== GET Notification Approval Changes ==
	=======================================
	*/

	select Amandemen.ProjectName,
		Amandemen.IDProject,
		'' as Category,
		'Changes' as Phase,
		'-' as Periode,
		'-' as Keys
	from (
		select Proj.ProjectName,
			PH.IDProjectHeader as IDProject, 
			(
				select top 1 x.Username
				from TblT_ProjectChangesApprovalRole x
				where x.IsActive = 1
					and x.IsEnabled = 1
					and (x.IsApprove = 0 or x.IsApprove is null)
					and x.IDProjectChangeManagement = PCM.IDProjectChangeManagement
				order by x.Sequence desc
			) as Username
		from TblT_ProjectHeader PH
			inner join TblM_Project Proj on PH.IDProject = Proj.IDProject and Proj.IsActive = 1
			inner join TblT_ProjectChangeManagement PCM on PCM.IDProjectHeader = PH.IDProjectHeader and PCM.IsActive = 1
		where PH.IsActive = 1 and PH.IDProjectStatus = 10
	) as Amandemen
	where Amandemen.Username = @Username

	union all
	
	/*
	=========================================
	== GET Notification Milestone Deadline ==
	=========================================
	*/

	select distinct zz.ProjectName,
		zz.IDProjectHeader,
		'',
		'Execution' as Phase,
		'',
		''
	from (
		select distinct b.IDProjectHeader,
			'(Milestone Deadline) ' + c.ProjectName as ProjectName,
			a.TaskName,
			a.EndDate,
			d.Username
		from TblT_MPPProjectPlanDetail a
			inner join TblT_ProjectHeader b on a.ProjectHeaderID = b.IDProjectHeader
			inner join TblM_Project c on c.IDProject = b.IDProject
			inner join TblT_ProjectInitApprovalRole d on d.IDProjectHeader = b.IDProjectHeader
		where a.IsActive = 1
			and IsMilestone = 1
			and c.IsTransformasi = 1
			and c.IsActive = 1
			and d.IDRoleGroup = 2
			and d.IsActive = 1
			and a.EndDate-2 <= getdate()
			and b.IDProjectStatus
			not in(1, 3, 4, 8, 9, 12, 13)
			-- Updated FIN --------------------
			and 100 != (select top 1 CompletePercentage
					from TblT_MPPProjectRealPercentage MRPP 
					where MRPP.TaskID = a.TaskID
						and MRPP.IDProjectHeader = b.IDProjectHeader
					order by cast(MRPP.Year as varchar(4)) +  RIGHT('00'+cast(MRPP.Month as varchar(2)),2) + cast(MRPP.Week as varchar(1)) desc
					)
			and d.Username = @Username
			--and a.EndDate <=  DATEADD(DD, -2 , a.EndDate) 
			-----------------------------------
	)zz
	--where zz.Username = @Username

	--union all
	
	/*
	=========================================
	== GET Notification Project Deadline ==
	=========================================
	*/
	
	--select distinct 'Deadline - ' + Proj.ProjectName, 
	--	PH.IDProjectHeader as IDProject, 
	--	'' as Catergory, 
	--	'Execution' as Phase,
	--	'' as Periode, 
	--	'' as Keys  
	--from TblT_ProjectHeader PH
	--	inner join TblM_Project Proj on PH.IDProject = Proj.IDProject and Proj.IsActive = 1
	--	inner join TblT_ProjectInitApprovalRole PIAR on PH.IDProjectHeader = PIAR.IDProjectHeader and PIAR.IsActive = 1 and PIAR.IDRoleGroup = 2 and PIAR.Username = @Username
		
	--where PH.IDProjectStatus not in(1, 3, 4, 8, 9, 12, 13)
	--	and (
	--		(
	--			select top 1 MPPP.Status
	--			from [Ufn_Get_TrendEkseksiPerPeriode](PH.IDProjectHeader) MPPP
	--			where cast(MPPP.Keys as date) >= cast(@CTPeriode as date)
	--				and (select top 1 WeekDayName from TblM_Date where Date = cast(getdate() as date)) = 'Friday'
	--			order by cast(MPPP.year as varchar(4)) 
	--				+ right('00' + cast(MPPP.month as varchar(2)), 2) 
	--				+ cast(MPPP.week as varchar(1)) desc
	--		) like '%No realisation on this week%'
	--		--or
	--		--(
	--		--	select top 1 MPPP.Status
	--		--	from [Ufn_Get_TrendEkseksiPerPeriode](PH.IDProjectHeader) MPPP
	--		--	order by cast(MPPP.year as varchar(4))
	--		--		+ right('00' + cast(MPPP.month as varchar(2)), 2)
	--		--		+ cast(MPPP.week as varchar(1)) desc
	--		--) like '%No realisation on this month%'
	--	)

	--order by IDProject;

	--select distinct
	--'Deadline - ' + tp.ProjectName,
	--tmpd.ProjectHeaderId as IDProject,
	--'' as Catergory, 
	--'Execution' as Phase,
	--'' as Periode, 
	--'' as Keys  
	--from TblT_MPPProjectPlanDetail tmpd
	--join
	--(
	--	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
	--	from TblT_MPPProjectPlanPercentage
	--	where Month = @MonthNow and Year = @YearNow and Week = @WeekNow 
	--	and isActive = 1 
	--	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	--) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
	--join Tblt_ProjectHeader tph on tmpd.ProjectHeaderId = tph.IdProjectHeader
	--join TblM_Project tp on tp.IDProject = tph.IDProject
	--join TblM_ProjectStatus tps on tps.IDProjectStatus = tph.IDProjectStatus
	--join TblG_Project_ExecutionList tpe on tpe.IDProject = tp.IDProject
	--join TblT_ProjectInitApprovalRole piar on tmpd.ProjectHeaderId = piar.IDProjectHeader
	--where 
	--tmpd.IsActive = 1
	--and tph.IsActive = 1
	--and tp.IsActive = 1
	--and tmpd.ParentId = 0
	--and tps.IDProjectStatus not in(4, 12, 13)
	--and tp.IsTransformasi = 1
	--and PIAR.IsActive = 1 
	--and PIAR.IDRoleGroup = 2
	--	and 1 =case
	--		when exists(
	--			select TOP 1 PES.IDProjectHeaderID
	--			from TblT_ProjectExecutionStatus PES
	--			where  (PES.ProjectStatus = 'Approved' or PES.ProjectStatus = 'Submit')
	--				and PES.IDProjectHeaderID = tmpd.ProjectHeaderID
	--				and PES.IsActive = 1
	--				and PES.Periode = convert(varchar, tmpp.Year) + '-' + convert(varchar, tmpp.month) + '-' + convert(varchar, tmpp.week)
	--		) then 0
	--		else 1
	--	end		
	--and PIAR.Username = @Username

	--union all

	--select distinct
	--'Deadline - ' + tp.ProjectName,
	--tmpd.ProjectHeaderId as IDProject,
	--'' as Catergory, 
	--'Execution' as Phase,
	--'' as Periode, 
	--'' as Keys  
	--from TblT_MPPProjectPlanDetail tmpd
	--join
	--(
	--	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
	--	from TblT_MPPProjectPlanPercentage
	--	where Month = @CNTmonth and Year = @CNTyear 
	--	and isActive = 1 
	--	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	--) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
	--join Tblt_ProjectHeader tph on tmpd.ProjectHeaderId = tph.IdProjectHeader
	--join TblM_Project tp on tp.IDProject = tph.IDProject
	--join TblM_ProjectStatus tps on tps.IDProjectStatus = tph.IDProjectStatus
	--join TblG_Project_ExecutionList tpe on tpe.IDProject = tp.IDProject
	--join TblT_ProjectInitApprovalRole piar on tmpd.ProjectHeaderId = piar.IDProjectHeader
	--where 
	--tmpd.IsActive = 1
	--and tph.IsActive = 1
	--and tp.IsActive = 1
	--and tmpd.ParentId = 0
	--and tps.IDProjectStatus not in(4, 12, 13)
	--and tp.IsTransformasi = 0
	--and PIAR.IsActive = 1 
	--and PIAR.IDRoleGroup = 2
	--and 1 =case
	--		when exists(
	--			select TOP 1 PES.IDProjectHeaderID
	--			from TblT_ProjectExecutionStatus PES
	--			where  (PES.ProjectStatus = 'Approved' or PES.ProjectStatus = 'Submit')
	--				and PES.IDProjectHeaderID = tmpd.ProjectHeaderID
	--				and PES.IsActive = 1
	--				and PES.Periode = convert(varchar, tmpp.Year) + '-' + convert(varchar, tmpp.month) + '-' + convert(varchar, tmpp.week)
	--		) then 0
	--		else 1
	--	end	
	--and PIAR.Username = @Username

END




GO
