USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardProjectOverall]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Update Date : 18-11-2020
-- Update By : Yuda
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardProjectOverall] --exec Get_DashboardProjectOverall 'Direktorat'
	-- Add the parameters for the stored procedure here
	@Filter nvarchar(max) = 'Unit Kerja',
	@Year varchar(max) = null,
	@PersonalNumber varchar(max) = null

AS
BEGIN
	
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	
	------------------------------------------------
	-- Mencari Tanggal Terakhir Dari Filter Tahun --
	------------------------------------------------

	SET NOCOUNT ON;
	
	if(@Year is null)set @Year = year(getdate());

	declare @Date date;


	/* 
	Modified by Ageng
	2020-11-17 
	*/
	/*
	if(@Year = year(getdate()))begin
		set @Date = cast(getdate() as date);
	end
	else begin
	*/
		--set @Date = cast((select top 1 Date from TblM_Date where Year = @year and WeekDayName = 'Saturday' order by Date desc) as date);
		set @Date = cast((select top 1 Date from TblM_Date where Year = @year and WeekDayName = 'Wednesday' and date <= getdate() order by Date desc) as date);
	--end;
	
	--------------------------------------------------------------------------------------------------------------------------------------------------------------

	--------------------------------------
	-- Mencari Unit Kerja dan Role User --
	--------------------------------------

	declare @UnitKerja varchar(20);
	declare @RoleApp varchar(max);

	if @PersonalNumber is null set @PersonalNumber = '100010';

	select top 1 @UnitKerja = b.org_unit_mast_Code
	from TblDW_Usergroup a
		inner join TblDW_EmployeeMapping b on a.User_LoginName = b.empl_mast_username
	where a.Usergroup_Pernr = @PersonalNumber;

	select top 1 @RoleApp = b.RoleGroupName
	from TblT_UserAuthorized a
		inner join TblM_RoleGroup b on a.IDRoleGroup = b.IDRoleGroup and b.IsActive = 1
	where a.IsActive = 1 and a.PersonNumber = @PersonalNumber;
	
	--Updated--
	declare @DateDownload date = null;
	select top 1 @DateDownload = DateDownload from Tbld_ListProject where DateDownload <= @Date order by DateDownload desc

	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	
	--------------------------
	-- Filter By Unit Kerja --
	--------------------------
	--select @Date;

	if(@Filter = 'Unit Kerja') begin
		
		if(@RoleApp = 'ADMINISTRATOR' or @RoleApp = 'MANAGEMENT' or @RoleApp = 'INTERNAL.AUDITOR' or (@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPSO'))begin
			
			select obj.IDDepartment as ID,
				obj.DepartmentCode as Code,
				obj.DepartmentName as Name,
				count(
					case when obj.IsTransformasi = 1 then '' else null end
				) as TotalTransformasi,
				count(
					case when obj.IsTransformasi = 0 then '' else null end
				) as TotalNonTransformasi,
				count(*) as TotalProject
			from [dbo].[TblD_ListProject] as obj
			where obj.IsActive = 1 
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13)
			group by obj.IDDepartment, obj.DepartmentName, obj.DepartmentCode;

		end
		else if(@RoleApp = 'ADMIN.PMO')begin
			
			if(@UnitKerja = 'GPTF')begin
			
				select obj.IDDepartment as ID,
					obj.DepartmentCode as Code,
					obj.DepartmentName as Name,
					count(
						case when obj.IsTransformasi = 1 then '' else null end
					) as TotalTransformasi,
					count(
						case when obj.IsTransformasi = 0 then '' else null end
					) as TotalNonTransformasi,
					count(*) as TotalProject
				from [dbo].[TblD_ListProject] as obj
				where obj.IsActive = 1 
					--and obj.DateDownload = @Date
					and obj.DateDownload = @DateDownload --updated
					and (@Year between obj.StartYear and obj.EndYear)
					and (obj.IsTransformasi = 1 or obj.DepartmentCode = @UnitKerja)
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				group by obj.IDDepartment, obj.DepartmentName, obj.DepartmentCode;

			end
			else begin
				
				select obj.IDDepartment as ID,
					obj.DepartmentCode as Code,
					obj.DepartmentName as Name,
					count(
						case when obj.IsTransformasi = 1 then '' else null end
					) as TotalTransformasi,
					count(
						case when obj.IsTransformasi = 0 then '' else null end
					) as TotalNonTransformasi,
					count(*) as TotalProject
				from [dbo].[TblD_ListProject] as obj
				where obj.IsActive = 1 
					--and obj.DateDownload = @Date
					and obj.DateDownload = @DateDownload --updated
					and (@Year between obj.StartYear and obj.EndYear)
					and obj.DepartmentCode = @UnitKerja
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				group by obj.IDDepartment, obj.DepartmentName, obj.DepartmentCode;

			end;

		end
		else begin
		
			select obj.IDDepartment as ID,
				obj.DepartmentCode as Code,
				obj.DepartmentName as Name,
				count(
					case when obj.IsTransformasi = 1 then '' else null end
				) as TotalTransformasi,
				count(
					case when obj.IsTransformasi = 0 then '' else null end
				) as TotalNonTransformasi,
				count(*) as TotalProject
			from [dbo].[TblD_ListProject] as obj
			where obj.IsActive = 1 
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and obj.DepartmentCode = @UnitKerja
				and IDProjectStatus not in(1, 3, 8, 9, 13)
			group by obj.IDDepartment, obj.DepartmentName, obj.DepartmentCode;

		end;

	end
	
	--------------------------
	-- Filter By Direktorat --
	--------------------------

	else if(@Filter = 'Direktorat') begin
		
		if(@RoleApp = 'ADMINISTRATOR' or @RoleApp = 'MANAGEMENT' or @RoleApp = 'INTERNAL.AUDITOR' or (@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPSO'))begin
			
			select obj.IDDirektorat as ID,
				obj.DirektoratCode as Code,
				obj.DirektoratName as Name,
				count(
					case when obj.IsTransformasi = 1 then '' else null end
				) as TotalTransformasi,
				count(
					case when obj.IsTransformasi = 0 then '' else null end
				) as TotalNonTransformasi,
				count(*) as TotalProject
			from [dbo].[TblD_ListProject] as obj
			where obj.IsActive = 1 
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13)
			group by obj.IDDirektorat, obj.DirektoratName, obj.DirektoratCode;

		end
		else if(@RoleApp = 'ADMIN.PMO')begin
			
			if(@UnitKerja = 'GPTF')begin
			
				select obj.IDDirektorat as ID,
					obj.DirektoratCode as Code,
					obj.DirektoratName as Name,
					count(
						case when obj.IsTransformasi = 1 then '' else null end
					) as TotalTransformasi,
					count(
						case when obj.IsTransformasi = 0 then '' else null end
					) as TotalNonTransformasi,
					count(*) as TotalProject
				from [dbo].[TblD_ListProject] as obj
				where obj.IsActive = 1 
					--and obj.DateDownload = @Date
					and obj.DateDownload = @DateDownload --updated 
					and (obj.IsTransformasi = 1 or obj.DepartmentCode = @UnitKerja)
					and (@Year between obj.StartYear and obj.EndYear)
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				group by obj.IDDirektorat, obj.DirektoratName, obj.DirektoratCode;
	
			end
			else begin
				
				select obj.IDDirektorat as ID,
					obj.DirektoratCode as Code,
					obj.DirektoratName as Name,
					count(
						case when obj.IsTransformasi = 1 then '' else null end
					) as TotalTransformasi,
					count(
						case when obj.IsTransformasi = 0 then '' else null end
					) as TotalNonTransformasi,
					count(*) as TotalProject
				from [dbo].[TblD_ListProject] as obj
				where obj.IsActive = 1 
					--and obj.DateDownload = @Date 
					and obj.DateDownload = @DateDownload --updated
					and obj.DepartmentCode = @UnitKerja
					and (@Year between obj.StartYear and obj.EndYear)
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				group by obj.IDDirektorat, obj.DirektoratName, obj.DirektoratCode;
	
			end;

		end
		else begin
		
			select obj.IDDirektorat as ID,
				obj.DirektoratCode as Code,
				obj.DirektoratName as Name,
				count(
					case when obj.IsTransformasi = 1 then '' else null end
				) as TotalTransformasi,
				count(
					case when obj.IsTransformasi = 0 then '' else null end
				) as TotalNonTransformasi,
				count(*) as TotalProject
			from [dbo].[TblD_ListProject] as obj
			where obj.IsActive = 1 
				--and obj.DateDownload = @Date 
				and obj.DateDownload = @DateDownload --updated
				and obj.DepartmentCode = @UnitKerja
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13)
			group by obj.IDDirektorat, obj.DirektoratName, obj.DirektoratCode;
	
		end;

	end
	
	-----------------------------------
	-- Filter By Strategic Objective --
	-----------------------------------

	else if(@Filter = 'Strategic Objective') begin
	
		if(@RoleApp = 'ADMINISTRATOR' or @RoleApp = 'MANAGEMENT' or @RoleApp = 'INTERNAL.AUDITOR' or (@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPSO'))begin
			
			select obj.IDStrategicObjective as ID,
				obj.StrategicObjectiveCode as Code,
				obj.StrategicObjectiveName as Name,
				count(
					case when obj.IsTransformasi = 1 then '' else null end
				) as TotalTransformasi,
				count(
					case when obj.IsTransformasi = 0 then '' else null end
				) as TotalNonTransformasi,
				count(*) as TotalProject
			from [dbo].[TblD_ListProject] as obj
			where obj.IsActive = 1 
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13)
			group by obj.IDStrategicObjective, obj.StrategicObjectiveName, obj.StrategicObjectiveCode;

		end
		else if(@RoleApp = 'ADMIN.PMO')begin
			
			if(@UnitKerja = 'GPTF')begin
			
				select obj.IDStrategicObjective as ID,
					obj.StrategicObjectiveCode as Code,
					obj.StrategicObjectiveName as Name,
					count(
						case when obj.IsTransformasi = 1 then '' else null end
					) as TotalTransformasi,
					count(
						case when obj.IsTransformasi = 0 then '' else null end
					) as TotalNonTransformasi,
					count(*) as TotalProject
				from [dbo].[TblD_ListProject] as obj
				where obj.IsActive = 1 
					--and obj.DateDownload = @Date 
					and obj.DateDownload = @DateDownload --updated
					and (obj.IsTransformasi = 1 or obj.DepartmentCode = @UnitKerja)
					and (@Year between obj.StartYear and obj.EndYear)
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				group by obj.IDStrategicObjective, obj.StrategicObjectiveName, obj.StrategicObjectiveCode;

			end
			else begin
				
				select obj.IDStrategicObjective as ID,
					obj.StrategicObjectiveCode as Code,
					obj.StrategicObjectiveName as Name,
					count(
						case when obj.IsTransformasi = 1 then '' else null end
					) as TotalTransformasi,
					count(
						case when obj.IsTransformasi = 0 then '' else null end
					) as TotalNonTransformasi,
					count(*) as TotalProject
				from [dbo].[TblD_ListProject] as obj
				where obj.IsActive = 1 
					--and obj.DateDownload = @Date 
					and obj.DateDownload = @DateDownload --updated
					and obj.DepartmentCode = @UnitKerja
					and (@Year between obj.StartYear and obj.EndYear)
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				group by obj.IDStrategicObjective, obj.StrategicObjectiveName, obj.StrategicObjectiveCode;

			end;

		end
		else begin
		
			select obj.IDStrategicObjective as ID,
				obj.StrategicObjectiveCode as Code,
				obj.StrategicObjectiveName as Name,
				count(
					case when obj.IsTransformasi = 1 then '' else null end
				) as TotalTransformasi,
				count(
					case when obj.IsTransformasi = 0 then '' else null end
				) as TotalNonTransformasi,
				count(*) as TotalProject
			from [dbo].[TblD_ListProject] as obj
			where obj.IsActive = 1 
				--and obj.DateDownload = @Date 
				and obj.DateDownload = @DateDownload --updated
				and obj.DepartmentCode = @UnitKerja
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13)
			group by obj.IDStrategicObjective, obj.StrategicObjectiveName, obj.StrategicObjectiveCode;

		end;

	end
	
	----------------------------
	-- Filter By Tipe Project --
	----------------------------

	else if(@Filter = 'All') begin
	
		if(@RoleApp = 'ADMINISTRATOR' or @RoleApp = 'MANAGEMENT' or @RoleApp = 'INTERNAL.AUDITOR' or (@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPSO'))begin
			
			select obj.IsTransformasi as ID,
			
				case
					when obj.IsTransformasi = 1 then 'Transformasi'
					when obj.IsTransformasi = 0 then 'Non Transformasi'
				end as Code,

				case
					when obj.IsTransformasi = 1 then 'Transformasi'
					when obj.IsTransformasi = 0 then 'Non Transformasi'
				end as Name,

				count(
					case when obj.IsTransformasi = 1 then '' else null end
				) as TotalTransformasi,
				count(
					case when obj.IsTransformasi = 0 then '' else null end
				) as TotalNonTransformasi,
				count(*) as TotalProject
			from [dbo].[TblD_ListProject] as obj
			where obj.IsActive = 1 
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13)
			group by obj.IsTransformasi;

		end
		else if(@RoleApp = 'ADMIN.PMO')begin
			
			if(@UnitKerja = 'GPTF')begin
			
				select obj.IsTransformasi as ID,
				
					case
						when obj.IsTransformasi = 1 then 'Transformasi'
						when obj.IsTransformasi = 0 then 'Non Transformasi'
					end as Code,

					case
						when obj.IsTransformasi = 1 then 'Transformasi'
						when obj.IsTransformasi = 0 then 'Non Transformasi'
					end as Name,

					count(
						case when obj.IsTransformasi = 1 then '' else null end
					) as TotalTransformasi,
					count(
						case when obj.IsTransformasi = 0 then '' else null end
					) as TotalNonTransformasi,
					count(*) as TotalProject
				from [dbo].[TblD_ListProject] as obj
				where obj.IsActive = 1 
					--and obj.DateDownload = @Date 
					and obj.DateDownload = @DateDownload --updated
					and (obj.IsTransformasi = 1 and obj.DepartmentCode = @UnitKerja)
					and (@Year between obj.StartYear and obj.EndYear)
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				group by obj.IsTransformasi;

			end
			else begin
				
				select obj.IsTransformasi as ID,
				
					case
						when obj.IsTransformasi = 1 then 'Transformasi'
						when obj.IsTransformasi = 0 then 'Non Transformasi'
					end as Code,

					case
						when obj.IsTransformasi = 1 then 'Transformasi'
						when obj.IsTransformasi = 0 then 'Non Transformasi'
					end as Name,

					count(
						case when obj.IsTransformasi = 1 then '' else null end
					) as TotalTransformasi,
					count(
						case when obj.IsTransformasi = 0 then '' else null end
					) as TotalNonTransformasi,
					count(*) as TotalProject
				from [dbo].[TblD_ListProject] as obj
				where obj.IsActive = 1 
					--and obj.DateDownload = @Date 
					and obj.DateDownload = @DateDownload --updated
					and obj.DepartmentCode = @UnitKerja
					and (@Year between obj.StartYear and obj.EndYear)
					and IDProjectStatus not in(1, 3, 8, 9, 13)
				group by obj.IsTransformasi;

			end;

		end
		else begin
		
			select obj.IsTransformasi as ID,
			
				case
					when obj.IsTransformasi = 1 then 'Transformasi'
					when obj.IsTransformasi = 0 then 'Non Transformasi'
				end as Code,

				case
					when obj.IsTransformasi = 1 then 'Transformasi'
					when obj.IsTransformasi = 0 then 'Non Transformasi'
				end as Name,

				count(
					case when obj.IsTransformasi = 1 then '' else null end
				) as TotalTransformasi,
				count(
					case when obj.IsTransformasi = 0 then '' else null end
				) as TotalNonTransformasi,
				count(*) as TotalProject
			from [dbo].[TblD_ListProject] as obj
			where obj.IsActive = 1 
				--and obj.DateDownload = @Date 
				and obj.DateDownload = @DateDownload --updated
				and obj.DepartmentCode = @UnitKerja
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13)
			group by obj.IsTransformasi;

		end;

	end;
	
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	
END




GO
