USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_KPIOrganization]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_KPIOrganization](
	[IDKPIOrganization] [int] IDENTITY(1,1) NOT NULL,
	[KPICode] [varchar](50) NULL,
	[KPIName] [varchar](150) NULL,
	[Year] [varchar](4) NULL,
	[Description] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[BobotKpi] [float] NULL,
 CONSTRAINT [PK_TblM_KPIOrganization] PRIMARY KEY CLUSTERED 
(
	[IDKPIOrganization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_TblM_KPIOrganization] UNIQUE NONCLUSTERED 
(
	[KPICode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblM_KPIOrganization] ADD  CONSTRAINT [DF_TblM_KPIOrganization_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TblM_KPIOrganization] ADD  CONSTRAINT [DF_TblM_KPIOrganization_CreatedBy]  DEFAULT ('System.Development') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TblM_KPIOrganization] ADD  CONSTRAINT [DF_TblM_KPIOrganization_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
