USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_RekapKendala]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_RekapKendala]
@week int = null ,
@month int = null ,
@year varchar(4) = null 
AS
BEGIN
	IF @week IS NOT NULL
	BEGIN
	SELECT ProjectNo, IDProjectHeader , ProjectName , DepartmentCode , DateDownload , Pencapaian  , ConstraintName , mitigasi , Problem , remarks , Status , Description FROM (
		SELECT ProjectNo , IDProjectHeader , ProjectName , DepartmentCode , DateDownload , MAX(Pencapaian) as Pencapaian , ConstraintName , mitigasi , Problem , remarks , Status , 
		(
			SELECT a.WeekOfMonth  FROM
			TblM_Date a
			WHERE
			Date = DateDownload
		) as Week ,
		(
			SELECT a.month  FROM
			TblM_Date a
			WHERE
			Date = DateDownload
		) as month ,
		(
			SELECT a.Year  FROM
			TblM_Date a
			WHERE
			Date = DateDownload
		) as year , Description
		FROM 
		vw_report_kendala 
		WHERE
		DateDownload IN ( SELECT Date FROM 
		TblM_Date where WeekDayName LIKE '%saturday%'
		) and 
		ConstraintName IS NOT NULL AND mitigasi IS NOT NULL and Problem IS NOT NULL and remarks is not null

		GROUP BY 
		IDProjectHeader , ProjectName , DepartmentCode , DateDownload , ConstraintName , mitigasi , Problem , remarks , ProjectNo ,Status, Description
		)zz
		where
		zz.Week = @week 
		AND
		zz.year = @Year
		AND
		zz.month = @Month
		order by DateDownload , IDProjectHeader
	END
	ELSE
		BEGIN
		DECLARE @date date

		SET @date = (
			SELECT TOP 1 Date FROM 
			TblM_Date
			WHERE
			Month = @Month AND Year = @Year
			ORDER BY Date DESC
		)

		SELECT  ProjectNo , IDProjectHeader , ProjectName , DepartmentCode , DateDownload , MAX(Pencapaian) as Pencapaian , ConstraintName , mitigasi , Problem , remarks , Status, Description
		FROM 
		vw_report_kendala 
		WHERE
		ConstraintName IS NOT NULL AND mitigasi IS NOT NULL and Problem IS NOT NULL and remarks is not null
		and
		DateDownload = @date
		GROUP BY 
		IDProjectHeader , ProjectName , DepartmentCode , DateDownload , ConstraintName , mitigasi , Problem , remarks , Status, ProjectNo ,Description
		order by DateDownload , IDProjectHeader
	END
END



GO
