USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardProjectDetail]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_DashboardProjectDetail]  -- exec Get_DashboardProjectDetail '219', '3', '10', '2019'
	@ProjectHeaderID int,
	@week int = null,
	@month int = null,
	@year int = null
AS
BEGIN

	declare @IsTransformasi varchar(20);

	select @IsTransformasi = Proj.IsTransformasi
	from TblT_ProjectHeader ProjH
		inner join TblM_Project Proj on ProjH.IDProject = Proj.IDProject
	where ProjH.IDProjectHeader = @ProjectHeaderID;

	if @IsTransformasi = 0 begin
		select @week = max(a.WeekOfMonth)
		from TblM_Date a
		where a.Month = @month 
			and a.Year = @year;
	end;
	
	select Periode, Realisasi, Target
	from ( 
		select '' as Periode,
			0 as Realisasi,
			0 as Target,
			0 as Year,
			0 as Month,
			0 as Week
		union all
		select Periode,
			Reals as Realisasi,
			ROUND(Plans,0) as Target,
			TE.year,
			TE.month,
			TE.Week
		from Ufn_Get_TrendEkseksiPerPeriode(@ProjectHeaderID) TE
	) TE
	order by (cast(TE.year as varchar(4)) + right('00' + cast(TE.month as varchar(2)), 2) + cast(TE.week as varchar(1))) asc; -- Table[0]

	------------------------------------- Milestone -------------------------------------

	select TaskID as id,
		Milestones as MilestoneTask,
		selesai as Selesai,
		case 
			when statuss = 'LATE' then 'Due' 
			when statuss = 'Ongoing' then 'Ongoing' 
			else 'Completed' 
		end as MilestoneProgress 
	from 
		Ufn_CheckProjectIsFinish(@ProjectHeaderID); -- Table[1]

	select Emp.Nama as name, 
		RG.Description as Responsibility, 
		Ug.Usergroup_Pernr as id
	from TblT_ProjectHeader PH
		inner join TblT_ProjectInitApprovalRole PIAR on PH.IDProjectHeader = PIAR.IDProjectHeader and PIAR.IsActive = 1
		inner join TblM_RoleGroup RG on PIAR.IDRoleGroup = RG.IDRoleGroup and RG.IsActive = 1
		inner join TblDW_Usergroup UG on PIAR.Username = UG.User_LoginName
		inner join TblDW_Employee Emp on UG.Usergroup_Pernr = Emp.PersonalNumber
	where PH.IsActive = 1 and PH.IDProjectHeader = @ProjectHeaderID
	order by RG.Level desc; -- Table[2]

	------------------------------------- Constrain -------------------------------------
	
	select Description, 
		Remarks, 
		Problem, 
		Status, 
		Mitigasi, 
		CreatedDate
	from TblT_ProjectConstraint PC
	where PC.IDProjectHeader = @ProjectHeaderID
		and PC.IsActive = '1'; -- Table[3]
		
	------------------------------------- Pencapaian -------------------------------------
	
	declare @mm int;

	set @mm = (
		select top 1 isnull(round((round(EL.Reals,0) / round(EL.Plans,0)) * 100,0),0) as Pencapaian 
		from [dbo].Ufn_Get_TrendEkseksiPerPeriode(@ProjectHeaderID) EL
		where EL.IDProjectHeader = @ProjectHeaderID
			--and EL.month <= @month
			--and EL.year <= @year
			--and EL.week <= @week
			and cast(cast(EL.year as varchar(4)) + '-' + cast(EL.month as varchar(2)) + '-' + cast(EL.week as varchar(2)) as date)
				<=
				cast(cast(@year as varchar(4)) + '-' + cast(@month as varchar(2)) + '-' + cast(@week as varchar(2)) as date)
		order by cast(cast(EL.year as varchar(4)) + '-' + cast(EL.month as varchar(2)) + '-' + cast(EL.week as varchar(2)) as date) desc
	);

	select isnull(@mm,0) as Pencapaian; -- Table[4]

	------------------------------------- Anggaran dan realisasi Anggaran -------------------------------------

	select 'Rp'+ isnull(
			convert(
				varchar(max), replace(
					format(
						cast(dbo.[Ufn_GetTotalAnggaranPerProject](@ProjectHeaderID) as numeric) +
						cast(dbo.[Ufn_GetPergeseranAnggaranPerProject](@ProjectHeaderID) as numeric) +
						cast(dbo.[Ufn_GetHangusAnggaranPerProject](@ProjectHeaderID) as numeric)
						, '#,0.'
					), ',', '.'
				)
			), 0
		) + ',-' as Anggaran; -- Table[5]

	select
		'Rp'+ isnull(
			convert(
				varchar(max), replace(
					format(
						cast(dbo.[Ufn_GetRealisasiAnggaranPerProject](@ProjectHeaderID) as numeric)
						, '#,0.'
					), ',', '.'
				)
			), 0
		) + ',-' as Realisasi; -- Table[6]

	------------------------------------- ProjectPlan -------------------------------------

	select MPD.TaskName as TaskName,
		
		case
			when (MPD.IsMilestone = '1' or MPD.TaskName LIKE '%milestone%' ) and GETDATE() >= MPD.StartDate then 100
			else round(
					isnull(
						(
							select top 1 MPP.PlanPercentage
							from TblT_MPPProjectPlanPercentage MPP
							where cast(MPP.Year as varchar(4)) + right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) 
									<=
									cast(@year as varchar(4)) + right('00'+cast(@month as varchar(2)),2) + cast(@week as varchar(1)) 
								and MPP.IDProjectHeader = MPD.ProjectHeaderID
								and MPP.TaskID = MPD.TaskID
							order by cast(MPP.Year as varchar(4)) + right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) desc
						), 0
					), 0
				)
		end as StartDate,
		
		case
			when (
					isnull(
						(
							select top 1 MPP.CompletePercentage
							from TblT_MPPProjectRealPercentage MPP
							where cast(MPP.Year as varchar(4)) +  right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) 
									<=
									cast(@year as varchar(4)) +  right('00'+cast(@month as varchar(2)),2) + cast(@week as varchar(1)) 
								and MPP.IDProjectHeader = MPD.ProjectHeaderID
								and MPP.TaskID = MPD.TaskID
								and MPP.Week = @week
								and MPP.Month = @month
								and MPP.Year = @year
							order by cast(MPP.Year as varchar(4)) + right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) desc
						), 0
					)
				) > 0 
				then
					round(
						isnull(
							(
								select top 1 MPP.CompletePercentage
								from TblT_MPPProjectRealPercentage MPP
								where cast(MPP.Year as varchar(4)) +  right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) 
										<=
										cast(@year as varchar(4)) +  right('00'+cast(@month as varchar(2)),2) + cast(@week as varchar(1)) 
									and MPP.IDProjectHeader = MPD.ProjectHeaderID
									and MPP.TaskID = MPD.TaskID
									and MPP.Week = @week
									and MPP.Month = @month
									and MPP.Year = @year
								order by cast(MPP.Year as varchar(4)) +  right('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1)) desc
							), 0
						), 0
					)
			
			else round(
					isnull(
						(
							select top 1 MPP.PercentageComplete
							from TblT_MPPProjectRealDetail MPP
								inner join TblT_MPPProjectPlanDetail MPDD on MPP.IDMPPProjectPlanDetail = MPDD.IDMPPProjectPlanDetail
							where MPDD.ProjectHeaderID = MPD.ProjectHeaderID
								and MPP.TaskID = MPD.TaskID
								and cast(MPP.Year as varchar(4)) +  RIGHT('00'+cast(MPP.Month as varchar(2)),2) + cast(MPP.Week as varchar(1))
									<=
									cast(@year as varchar(4)) +  RIGHT('00'+CAST(@month as varchar(2)),2) + CAST(@week as varchar(1)) 
							order by MPP.CreatedDate desc
						), 0
					), 0
				)
			end as EndDate
	from TblT_MPPProjectPlanDetail MPD
		inner join [Ufn_Get_DurationInDays_PerProject](@ProjectHeaderID) DiD on MPD.TaskID = DiD.TaskID
	where MPD.ProjectHeaderID = @ProjectHeaderID
		and MPD.TaskID > 0
		and MPD.IsActive = '1'; -- Table[7]

	------------------------------------- Nama Project -------------------------------------

	select Proj.ProjectName
	from TblT_ProjectHeader Ph
		inner join TblM_Project Proj on Ph.IDProject = Proj.IDProject
	where Ph.IDProjectHeader = @ProjectHeaderID; -- Table[8]
	
	------------------------------------- Progress -------------------------------------

	if @IsTransformasi = 1 begin
		select dbo.Ufn_GetMonthName_Indonesia(month) + ' ' + convert(varchar(4),year) as Periode,
			month as Month,
			year as Year,	
	
			case
				when isnull([1],0) >= 110 then
					'<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(1,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([1],0) between 100 and 109 then
					'<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard('+ convert(varchar(max),@ProjectHeaderID) + ','+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([1],0) between 85 and 99 then
					'<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(1,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				else (
						case
							when isnull([1],0) = 0 then
								'<div class="circle" style="background : red"></div>'
							else
								'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(1,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
						end
					)
			end as W1,

			case
				when isnull([2],0) >= 110 then
					'<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(2,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([2],0) BETWEEN 100 and 109 then
					'<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(2,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([2],0) BETWEEN 85 and 99 then
					'<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(2,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				else (
						case 
							when isnull([2],0) = 0 then
								'<div class="circle" style="background : red"></div>'
							else
								'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(2,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
						end
					)
			end as W2,

			case
				when isnull([3],0) >= 110 then
					'<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(3,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([3],0) between 100 and 109 then
					'<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(3,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([3],0) between 85 and 99 then
					'<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(3,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				else (
						case 
							when isnull([3],0) = 0 then
								'<div class="circle" style="background : red"></div>'
							else
								'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(3,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
						end
					)
			end as W3,

			case
				when isnull([4],0) >= 110 then
					'<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(4,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([4],0) between 100 and 109 then
					'<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(4,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([4],0) between 85 and 99 then
					'<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(4,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				else (
						case 
							when isnull([4],0) = 0 then
								'<div class="circle" style="background : red"></div>'
							else
								'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(4,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
						end
					)
			end as W4,

			case
				when [5] >= 110 then--isnull([5],0) >= 110 then
					'<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(5,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(Varchar(max),@ProjectHeaderID) +')"></div>'
				when [5] between 100 and 109 then--isnull([5],0) between 100 and 109 then
					'<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(5,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when [5] between 85 and 99 then--isnull([5],0) between 85 and 99 then
					'<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(5,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				else (
						case
							when [5] is null then--isnull([5],0) = 0 then
								'<div class="circle" style="background : white"></div>'
							else
								'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(5,'+ convert(varchar(max),[month]) +',' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
						end
					)
			end as W5,

			case
				when [6] >= 110 then --isnull([6],0) >= 110 then
					'<div class="circle" style="cursor: pointer; background : blue"></div>'
				when [6] between 100 and 109 then --isnull([6],0) between 100 and 109 then
					'<div class="circle" style="cursor: pointer; background : green"></div>'
				when [6] between 85 and 99 then--isnull([6],0) between 85 and 99 then
					'<div class="circle" style="cursor: pointer; background : yellow"></div>'
				when [6] < 85 then
					'<div class="circle" style="cursor: pointer; background : red"></div>'
				else
					'<div class="circle" style="cursor: pointer; background : white"></div>'
			end as W6
		from (
				select isnull(week,0) as week, 
					isnull(month,0) as month, 
					isnull(year,0) as year,
					isnull((round((round(Reals,0)/nullif(round(Plans,0),0)),2) * 100),0) as pencapaian 
				from Ufn_Get_TrendEkseksiPerPeriode(@ProjectHeaderID)
			) src
			pivot (
				avg(pencapaian)
				for week in (
					[1], 
					[2], 
					[3], 
					[4], 
					[5], 
					[6]
				)
			) piv; -- Table[9]
	end
	else begin
		select year as Year,

			case
				when isnull([1],0) >= 110 then
					'<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,1,' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([1],0) between 100 and 109 then
					'<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,1,' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([1],0) between 85 and 99 then
					'<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,1,' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when [2] is null then
					'<div class="circle" style="background : white"></div>'
				else (
						case
							when isnull([1],0) = 0 then
								'<div class="circle" style="background : red"></div>'
							else
								'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,1,' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
							end
					)
			end as Januari,

			case
				when isnull([2],0) >= 110 then
					'<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,2,' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([2],0) between 100 and 109 then
					'<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,2,' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([2],0) between 85 and 99 then
					'<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,2,' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when [2] is null then
					'<div class="circle" style="background : white"></div>'
				else (
						case 
							when isnull([2],0) = 0 then
								'<div class="circle" style="background : red"></div>'
							else
								'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,2,' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
						end
					)
			end as Februari,

			case
				when isnull([3],0) >= 110 then
					'<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,3,' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([3],0) between 100 and 109 then
					'<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,3,' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when isnull([3],0) between 85 and 99 then
					'<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,3,' + convert(varchar(max),[year]) +','+ convert(varchar(max),@ProjectHeaderID) +')"></div>'
				when [3] is null then
					'<div class="circle" style="background : white"></div>'
				else (
					CASE 
					WHEN 
						isnull([3],0) = 0 
					THEN
						'<div class="circle" style="background : red"></div>'
					ELSE
						'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,3,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
					END
				 )					END 
		as Maret,
			CASE
				WHEN
				isnull([4],0) >= 110
				THEN
				 '<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,4,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([4],0) BETWEEN 100 and 109
				THEN
				 '<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,4,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([4],0) BETWEEN 85 and 99
				THEN
				 '<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,4,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				when [4] is null then
					'<div class="circle" style="background : white"></div>'
				ELSE
				(
					CASE 
					WHEN 
						isnull([4],0) = 0 
					THEN
						'<div class="circle" style="background : red"></div>'
					ELSE
						'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,4,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
					END
				 )					END 
		as April,
			CASE
				WHEN
				isnull([5],0) >= 110
				THEN
				 '<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,5,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([5],0) BETWEEN 100 and 109
				THEN
				 '<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,5,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([5],0) BETWEEN 85 and 99
				THEN
				 '<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,5,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				when [5] is null then
					'<div class="circle" style="background : white"></div>'
				ELSE
				(
					CASE 
					WHEN 
						isnull([5],0) = 0 
					THEN
						'<div class="circle" style="background : red"></div>'
					ELSE
						'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,5,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
					END
				 )					END 
		as Mei,
			CASE
				WHEN
				isnull([6],0) >= 110
				THEN
				 '<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,6,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([6],0) BETWEEN 100 and 109
				THEN
				 '<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,6,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([6],0) BETWEEN 85 and 99
				THEN
				 '<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,6,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				when [6] is null then
					'<div class="circle" style="background : white"></div>'
				ELSE
				(
					CASE 
					WHEN 
						isnull([6],0) = 0 
					THEN
						'<div class="circle" style="background : red"></div>'
					ELSE
						'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,6,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
					END
				 )					END 
		as Juni,
			CASE
				WHEN
				isnull([7],0) >= 110
				THEN
				 '<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,7,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([7],0) BETWEEN 100 and 109
				THEN
				 '<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,7,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([7],0) BETWEEN 85 and 99
				THEN
				 '<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,7,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				when [7] is null then
					'<div class="circle" style="background : white"></div>'
				ELSE
				(
					CASE 
					WHEN 
						isnull([7],0) = 0 
					THEN
						'<div class="circle" style="background : red"></div>'
					ELSE
						'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,7,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
					END
				 )						END 
		as July,
		CASE
				WHEN
				isnull([8],0) >= 110
				THEN
				 '<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,8,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([8],0) BETWEEN 100 and 109
				THEN
				 '<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,8,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([8],0) BETWEEN 85 and 99
				THEN
				 '<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,8,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				when [8] is null then
					'<div class="circle" style="background : white"></div>'
				ELSE
				(
					CASE 
					WHEN 
						isnull([8],0) = 0 
					THEN
						'<div class="circle" style="background : red"></div>'
					ELSE
						'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,8,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
					END
				 )						END 
		as Agustus,
		CASE
				WHEN
				isnull([9],0) >= 110
				THEN
				 '<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,9,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([9],0) BETWEEN 100 and 109
				THEN
				 '<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,9,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([9],0) BETWEEN 85 and 99
				THEN
				 '<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,9,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				when [9] is null then
					'<div class="circle" style="background : white"></div>'
				ELSE
				(
					CASE 
					WHEN 
						isnull([9],0) = 0 
					THEN
						'<div class="circle" style="background : red"></div>'
					ELSE
						'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,9,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
					END
				 )				END 
		as September,
			CASE
				WHEN
				isnull([10],0) >= 110
				THEN
				 '<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,10,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([10],0) BETWEEN 100 and 109
				THEN
				 '<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,10,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([10],0) BETWEEN 85 and 99
				THEN
				 '<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,10,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				when [10] is null then
					'<div class="circle" style="background : white"></div>'
				ELSE
				(
					CASE 
					WHEN 
						isnull([10],0) = 0 
					THEN
						'<div class="circle" style="background : red"></div>'
					ELSE
						'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,10,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
					END
				 )							END 
		as Oktober,
		CASE
				WHEN
				isnull([11],0) >= 110
				THEN
				 '<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,11,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([11],0) BETWEEN 100 and 109
				THEN
				 '<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,11,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([11],0) BETWEEN 85 and 99
				THEN
				 '<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,11,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				when [11] is null then
					'<div class="circle" style="background : white"></div>'
				ELSE
				(
					CASE 
					WHEN 
						isnull([11],0) = 0 
					THEN
						'<div class="circle" style="background : red"></div>'
					ELSE
						'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,11,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
					END
				 )					END 
		as November,
		CASE
				WHEN
				isnull([12],0) >= 110
				THEN
				 '<div class="circle" style="cursor: pointer; background : blue" onclick ="NewDashboard(0,12,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([12],0) BETWEEN 100 and 109
				THEN
				 '<div class="circle" style="cursor: pointer; background : green" onclick ="NewDashboard(0,12,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				WHEN
				isnull([12],0) BETWEEN 85 and 99
				THEN
				 '<div class="circle" style="cursor: pointer; background : yellow" onclick ="NewDashboard(0,12,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
				when [12] is null then
					'<div class="circle" style="background : white"></div>'
				ELSE
					(
					CASE 
					WHEN 
						isnull([12],0) = 0 
					THEN
						'<div class="circle" style="background : red"></div>'
					ELSE
						'<div class="circle" style="cursor: pointer; background : red" onclick ="NewDashboard(0,12,' + CONVERT(Varchar(max),[year]) +','+ CONVERT(Varchar(max),@ProjectHeaderID) +')"></div>'
					END
				 )					END 
		as Desember
	from 
	(
		SELECT  
			ISNULL(month,0) as month, 
			ISNULL(year,0) as year,
			ISNULL((ROUND((ROUND(Reals,0)/NULLIF(ROUND(Plans,0),0)),2) * 100),0) as pencapaian 
		FROM 
		Ufn_Get_TrendEkseksiPerPeriode(@ProjectHeaderID)
	) src
	pivot
	(
	  avg(pencapaian)
	  for month in 
		(
		   [1], 
		   [2], 
		   [3], 
		   [4], 
		   [5], 
		   [6],
		   [7],
		   [8],
		   [9],
		   [10],
		   [11],
		   [12]
		)
	) piv; -- Table[9]
	end;

	------------------------------------- Is Transformasi -------------------------------------

	select @IsTransformasi as Transformasi; -- Table[10]
	
	------------------------------------- Reals SCurve -------------------------------------

	SELECT Week as week , Month as month ,  year as year, Reals as y
	FROM 
	Ufn_Get_TrendEkseksiPerPeriode(@ProjectHeaderID)TE
	ORDER BY
	(CAST(TE.year AS VARCHAR(4)) + RIGHT('00' + CAST(TE.month AS VARCHAR(2)), 2) + CAST(TE.Week AS VARCHAR(1)))
	ASC; -- Table[11]

	------------------------------------- Target SCurve -------------------------------------

	SELECT Week as week , Month as month ,  year as year, ROUND(Plans,0) as y
	FROM 
	Ufn_Get_TrendEkseksiPerPeriode(@ProjectHeaderID)TE
	ORDER BY
	(CAST(TE.year AS VARCHAR(4)) + RIGHT('00' + CAST(TE.month AS VARCHAR(2)), 2) + CAST(TE.Week AS VARCHAR(1)))
	ASC; -- Table[11]



END




GO
