USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_NewUser]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================================
-- Author:		Andre Ibrahim Latief
-- Create date: 20-12-2018
-- Description: Add New User And Mapping His/Her Project , Program and Role's
-- ========================================================================
CREATE PROCEDURE [dbo].[Usp_Insert_NewUser]
	@personnumber varchar(50),
	@ProgramProjectRole Udt_MappingProgramProjectRoles READONLY  ,
	@createby varchar(50)
AS
BEGIN

	BEGIN TRY
	
		BEGIN TRANSACTION tambahuser;
		
		--------------------------------------------------------------------------------------------
		--Declare Variable and Temporary Table 
		--------------------------------------------------------------------------------------------
		
		DECLARE @newusername varchar(50);
		DECLARE @Status varchar (50);
		DECLARE @rincung varchar(50);
		DECLARE @rin int;
		DECLARE @rins int;
		DECLARE @Rolegroupid int;

		SELECT @rincung = COUNT(UA.PersonNumber)  FROM TblT_UserAuthorized UA where UA.PersonNumber = @personnumber and IsActive = '1';
		SELECT @rins = COUNT(UA.PersonNumber)  FROM TblT_UserAuthorized UA where UA.PersonNumber = @personnumber and IsActive = '0';

		SELECT @newusername = ug.User_LoginName 
		FROM TblDW_Employee emp
			INNER JOIN TblDW_Usergroup ug ON emp.PersonalNumber = ug.Usergroup_Pernr
		WHERE PersonalNumber = @personnumber;
		
		DECLARE @TempTable table (IDProgram int, IDProjectHeader int,  IDRole int);

		-- updated by CHRISTINA EKA
		INSERT INTO @TempTable
		SELECT Proj.IDProgram , PH.IDProjectHeader , PPR.RoleID 
		FROM @ProgramProjectRole PPR
			--INNER JOIN TblT_ProjectHeader PH ON PPR.ProjectID = PH.IDProject
			--INNER JOIN TblM_Project Proj ON PPR.ProjectID = Proj.IDProject
			INNER JOIN TblT_ProjectHeader PH ON PPR.ProjectID = PH.IDProjectHeader
			INNER JOIN TblM_Project Proj ON PH.IDProject = Proj.IDProject

		SELECT @rin = COUNT(tt.IDProgram) FROM @TempTable tt;

		SELECT @Rolegroupid = RoleID  FROM  @ProgramProjectRole;

		--------------------------------------------------------------------------------------------
		--Check if Project Header IS NULL
		--------------------------------------------------------------------------------------------

		--IF @rin = 0 
		--BEGIN
		--		SET @Status = 'E|Project Belum Terdaftar'
		--		SELECT @Status
		--END
		--ELSE
		--BEGIN

		--------------------------------------------------------------------------------------------
		--Check if Employee Already Been Registered or No
		--------------------------------------------------------------------------------------------

		IF @rincung = 0 BEGIN
			SET @Status = 'E|User Sudah Terdaftar';
			SELECT @Status;
		END
		ELSE BEGIN
			
			--------------------------------------------------------------------------------------------
			--Check if Employee is Already been deleted and Registered Again
			--------------------------------------------------------------------------------------------
			
			IF @rins > 0 BEGIN
				
				--SELECT @rins = COUNT(UA.PersonNumber)  FROM TblT_UserAuthorized UA where UA.PersonNumber = @personnumber and IsActive = '0'
				--Update
				--	TblT_UserAuthorized
				--SET
				--	IsActive = '1'
				--Where 
				--	PersonNumber = @personnumber
				--	and 
				--	IsActive = '0'

				IF (SELECT COUNT(IDProjectInitApprovalRole) FROM TblT_ProjectInitApprovalRole WHERE Username = @newusername) > 0 BEGIN
					UPDATE TblT_ProjectInitApprovalRole
					SET IsActive = 0,
						UpdatedBy = @createby,
						UpdatedDate = GETDATE()
					WHERE IDProjectInitApprovalRole IN (SELECT IDProjectInitApprovalRole FROM TblT_ProjectInitApprovalRole WHERE Username = @newusername);
				END;

				--------------------------------------------------------------------------------------------
				--Mapping Role , Project , Program Terhadap User Takait	
				--------------------------------------------------------------------------------------------
				
				INSERT INTO TblT_ProjectInitApprovalRole
					(
						[IDProjectHeader],
						[IDRoleGroup],
						[Username],
						[Email],
						[CreatedDate],
						[CreatedBy],
						[IsEnabled],
						[IsActive]
					)
				SELECT TT.IDProjectHeader,
					TT.IDRole,
					@newusername,
					@newusername + '@lps.go.id',
					GETDATE(),
					@createby,
					0,
					1
				FROM @TempTable TT;

				--INSERT INTO
				--	TblT_ProjectRoleGroup
				--	(
				--		IDProjectHeader,
				--		IDRoleGroup,
				--		IDProgram,
				--		Username,
				--		CreatedDate,
				--		CreatedBy,
				--		IsActive
				--	)
				--	SELECT 						
				--		TT.IDProjectHeader,
				--		TT.IDRole,
				--		TT.IDProgram,
				--		@newusername,
				--		GETDATE(),
				--		@createby,
				--		'1'
				--	FROM
				--	@TempTable TT

				SET @Status = 'S|Berhasil Menambahkan User 1';

				SELECT @Status;

			END
			ELSE BEGIN
				
				--------------------------------------------------------------------------------------------
				--Check if Employee Have Login Name or No
				--------------------------------------------------------------------------------------------
				
				IF (@newusername IS NOT NULL OR @newusername <> '') BEGIN
					
					--------------------------------------------------------------------------------------------
					--Add New User to Table TblT_UserAuthorized
					--------------------------------------------------------------------------------------------

					--INSERT INTO
					--	TblT_UserAuthorized
					--	(
					--		Username,
					--		PersonNumber,
					--		IDRoleGroup,
					--		CreatedDate,
					--		CreatedBy,
					--		IsActive
					--	)
					--VALUES
					--	(
					--		@newusername,
					--		@personnumber,
					--		@Rolegroupid,
					--		GetDate(),
					--		@createby,
					--		'1'
					--	)
					
					IF (SELECT COUNT(IDProjectInitApprovalRole) FROM TblT_ProjectInitApprovalRole WHERE Username = @newusername) > 0 BEGIN
						UPDATE TblT_ProjectInitApprovalRole
						SET IsActive = 0,
							UpdatedBy = @createby,
							UpdatedDate = GETDATE()
						WHERE IDProjectInitApprovalRole IN (SELECT IDProjectInitApprovalRole FROM TblT_ProjectInitApprovalRole WHERE Username = @newusername);
					END;

					--------------------------------------------------------------------------------------------
					--Mapping Role , Project , Program Terhadap User Takait	
					--------------------------------------------------------------------------------------------

					INSERT INTO TblT_ProjectInitApprovalRole
						(
							[IDProjectHeader],
							[IDRoleGroup],
							[Username],
							[Email],
							[CreatedDate],
							[CreatedBy],
							[IsEnabled],
							[IsActive]
						)
					SELECT TT.IDProjectHeader,
						TT.IDRole,
						@newusername,
						@newusername + '@lps.go.id',
						GETDATE(),
						@createby,
						0,
						1
					FROM @TempTable TT;
						
					--INSERT INTO
					--	TblT_ProjectRoleGroup
					--	(
					--		IDProjectHeader,
					--		IDRoleGroup,
					--		IDProgram,
					--		Username,
					--		CreatedDate,
					--		CreatedBy,
					--		IsActive
					--	)
					--	SELECT 						
					--		TT.IDProjectHeader,
					--		TT.IDRole,
					--		TT.IDProgram,
					--		@newusername,
					--		GETDATE(),
					--		@createby,
					--		'1'
					--	FROM
					--	@TempTable TT

					SET @Status = 'S|Berhasil Menambahkan User 2';

					SELECT @Status;
				
				END
				ELSE BEGIN
					
					SET @Status = 'E|Username tidak ditemukan';

					SELECT @Status;

				END;

			END;

		END;

		COMMIT TRANSACTION tambahuser;

	END TRY
	BEGIN CATCH

		ROLLBACK TRANSACTION tambahuser;

		EXEC Usp_Insert_ErrorLog 'Usp_Get_EmployeeDetail',ERROR_NUMBER,ERROR_MESSAGE, @createby;

	END CATCH;

END;




GO
