USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_EvaluasiCapaianProyek]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Ufn_Get_EvaluasiCapaianProyek]( -- select * from [dbo].[Ufn_Get_EvaluasiCapaianProyek](3,'2019')
	@Month int = null,
	@Year varchar(4) = null
	--@IsTransformasi bit = null,
	--@IDProgram int = null,
	--@IDDirektorat int = null
)
RETURNS @Result TABLE (
	StartYear int,
	EndYear int,
	IDStrategicObjective int,
	IDProgram int,
	IDProjectHeader int,
	DirektoratName varchar(max),
	StrategicObjectiveName varchar(max),
	ProgramName varchar(max),
	ProjectName varchar(max),
	PIC varchar(max),
	Waktu varchar(50),
	ContractIDR decimal(18,2),
	Target varchar(max),
	Realisasi varchar(max),
	Capaian decimal(18,2),
	RealisasiAnggaran decimal(18,2),
	RealisasiKomit decimal(18,2),
	Tren varchar(50),
	IDDirektorat int,
	IsTransfomasi int
)

AS

begin

insert into @Result
select [dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartYear') as StartYear,
	[dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndYear') as EndYear,
	b.IDStrategicObjective,
	b.IDProgram,
	c.IDProjectHeader,
	i.DirektoratName,
	a.StrategicObjectiveName,
	d.ProgramName,
	b.ProjectName,
	e.DepartmentName as PIC,
		
	[dbo].[Ufn_GetTriwulan]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartMonth')) 
	+ ' - ' +
	[dbo].[Ufn_GetTriwulan]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndMonth'))
	as Waktu,
	sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP))
	--case
	--	when sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP)) = 0 or sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP)) is null
	--	then '0.00'
	--	when sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP)) > 999999999999
	--	then ''+cast(cast(sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP))/1000000000000 as decimal(10,2)) as varchar(max))+' T'
	--	when sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP)) > 999999999
	--	then ''+cast(cast(sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP))/1000000000 as decimal(10,2)) as varchar(max))+' M'
	--	when sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP)) > 999999
	--	then ''+cast(cast(sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP))/1000000 as decimal(10,2)) as varchar(max))+' Jt'
	--	else ''+cast(cast(sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP))/1000 as decimal(10,2)) as varchar(max))+' Rb'
	--end
	as ContractIDR,

	null as Target,
	null as Realisasi,

	cast(sum(cast([dbo].[Ufn_GetPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year)as decimal(20,2)))/count(c.IDProjectHeader) as decimal(20,2))
	--case
	--	when c.IDProjectStatus = 2 then isnull(cast(cast(sum(cast([dbo].[Ufn_GetPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year)as decimal(20,2)))/count(c.IDProjectHeader) as decimal(20,2))as nvarchar(max)) + ' %', '0.00 %')
	--	else h.Description
	--end
	as Capaian,

	cast(sum(dbo.Ufn_GetRealisasiAnggaran(g.IDSAP))/sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP))*100 as decimal(20,2)) as RealisasiAnggaran,
	--isnull(cast(cast(sum(dbo.Ufn_GetRealisasiAnggaran(g.IDSAP))/sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP))*100 as decimal(20,2)) as varchar(max)) + ' %', '0.00 %') as RealisasiAnggaran,
	cast(sum(dbo.Ufn_GetRealisasiAnggaran(g.IDSAP))/sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP))*100 as decimal(20,2)) as RealisasiKomit,
	--isnull(cast(cast(sum(dbo.Ufn_GetRealisasiAnggaran(g.IDSAP))/sum(dbo.Ufn_GetTotalAnggaran(g.IDSAP))*100 as decimal(20,2)) as varchar(max)) + ' %', '0.00 %') as RealisasiKomit,
	[dbo].[Ufn_GetTrenPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year)
	as Tren,
	i.IDDirektorat,
	b.IsTransformasi

from TblM_StrategicObjective a
	inner join TblM_Project b on a.IDStrategicObjective = b.IDStrategicObjective and b.IsActive = 1
	inner join TblT_ProjectHeader c on b.IDProject = c.IDProject and c.IsActive = 1
	inner join TblM_Program d on b.IDProgram = d.IDProgram and d.IsActive = 1
	inner join TblM_Department e on b.IDDepartment = e.IDDepartment and e.IsActive = 1
	inner join TblT_ProjectRKAT f on c.IDProjectHeader = f.IDProjectHeader and f.IsActive = 1
	inner join TblSAP_MasterRKAT g on f.IDSAPMasterRKAT = g.IDSAPMasterRKAT
	inner join TblM_ProjectStatus h on c.IDProjectStatus = h.IDProjectStatus and h.IsActive = 1
	inner join TblM_Direktorat i on i.IDDirektorat = e.IDDirektorat and i.IsActive =1

where a.IsActive = 1
	and (
		[dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartYear') = cast(@Year as int)
		or [dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndYear') = cast(@Year as int)
	)
group by b.IDProgram,
	b.IDProject,
	b.ProjectName,
	e.DepartmentName,
	c.IDProjectHeader,
	b.IsTransformasi,
	c.ContractIDR,
	c.IDProjectStatus,
	b.IDStrategicObjective,
	a.IDStrategicObjective,
	a.StrategicObjectiveName,
	h.Description,
	i.IDDirektorat,
	d.ProgramName,
	i.DirektoratName

order by IDStrategicObjective, IDProgram asc;

return;

end

GO
