USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_UserAuthorized]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_UserAuthorized] 
	@username varchar(50)
AS
BEGIN
	DECLARE @isRegistered int
	DECLARE @Status	varchar(20)

	SELECT @isRegistered = count(username) from TblT_UserAuthorized where Username = @username  and IsActive = '1'
	
		IF (@isRegistered = 1 )
		BEGIN
			SET @Status = 'true'
		END
		ELSE
		BEGIN
			SET @Status = 'false'
		END
	
	SELECT @Status
END




GO
