USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_Holiday_New]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Ufn_Get_Holiday_New] ()
RETURNS  @Result TABLE(HolidayDate date NOT NULL, HolidayID int NOT NULL, DayName varchar(30) Not NULL)
AS
begin




		INSERT INTO 
			@Result
		SELECT
			CONVERT(Date,dt.[Date]) , dt.IDDate , dt.Day 
		FROM
		TblM_Date dt
		where
		IsHoliday = '1'

		--DECLARE @startdate NVARCHAR(30) -- database name 
		--DECLARE @enddate NVARCHAR(30) 
		--DECLARE @holidayID int -- path for backup files 
		--DECLARE date_cursor CURSOR FOR 
		--SELECT 
		--	CONVERT(nvarchar(30),h.Start) , CONVERT(nvarchar(30),h.Finish), IDHoliday
		--FROM 
		--TblM_Holiday h

		--OPEN date_cursor  
		--FETCH NEXT FROM 
		--date_cursor 
		--INTO 
		--	@startdate ,  
		--	@enddate ,
		--	@holidayID
		--WHILE @@FETCH_STATUS = 0  
		--BEGIN  
		--		INSERT INTO @Result
		--		SELECT
		--			CONVERT(DATE,dt.DateString,105),
		--			@holidayID,
		--			dt.DateNameString
		--		FROM
		--			Ufn_DateRange_To_Table(@startdate , @enddate) dt
		--		WHERE 
		--		dt.DateNameString NOT IN ('Saturday', 'Sunday')
		--FETCH NEXT FROM date_cursor 
		--INTO @startdate ,  @enddate , @holidayID 
		--END 
		--CLOSE date_cursor  
		--DEALLOCATE date_cursor 

		
    return 

end  
GO
