USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Copy_RealisasiAmandemen]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Copy_RealisasiAmandemen] -- exec [Usp_Copy_RealisasiAmandemen] 231, 'training10'
	-- Add the parameters for the stored procedure here
	@IDProjectHeader int = null,
	@Username varchar(50) = ''

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
	
		begin transaction;

		declare @IDProject int = null;
		declare @IDProjectV1 int = null;
		declare @IDProjectHeaderV1 int = null;

		set @IDProject = (select IDProject from TblT_ProjectHeader where IDProjectHeader = @IDProjectHeader);
		if(@IDProject is not null) set @IDProjectV1 = (select Parent from TblM_Project where IDProject = @IDProject);
		if(@IDProjectV1 is not null) set @IDProjectHeaderV1 = (select IDProjectHeader from TblT_ProjectHeader where IDProject = @IDProjectV1);

		if(@IDProjectHeaderV1 is not null)begin
			
			if exists(select IDProjectHeader from TblT_MPPProjectRealPercentage where IDProjectHeader = @IDProjectHeader)begin

				delete from TblT_MPPProjectRealPercentage where IDProjectHeader = @IDProjectHeader;
				
				insert into TblT_MPPProjectRealPercentage(
					[IDProjectHeader]
					,[TaskID]
					,[Week]
					,[Month]
					,[Year]
					,[RealPercentage]
					,[CompletePercentage]
					,[CreatedDate]
					,[CreatedBy]
					,[UpdatedDate]
					,[UpdatedBy]
					,[IsActive]
				)
				select @IDProjectHeader
					,[TaskID]
					,[Week]
					,[Month]
					,[Year]
					,[RealPercentage]
					,[CompletePercentage]
					,[CreatedDate]
					,[CreatedBy]
					,[UpdatedDate]
					,[UpdatedBy]
					,[IsActive]
				from TblT_MPPProjectRealPercentage
				where IDProjectHeader = @IDProjectHeaderV1
					and IsActive = 1;
				
				delete from TblT_Document where IDProjectHeader = @IDProjectHeader;

				insert into TblT_Document(
					IDDocPhase,
					IDDocType,
					IDProjectHeader,
					DocumentName,
					TaskID,
					CreatedDate,
					CreatedBy,
					IsActive
				)
				select a.IDDocPhase,
					a.IDDocType,
					@IDProjectHeader,
					a.DocumentName,
					a.TaskID,
					CreatedDate,
					CreatedBy,
					a.IsActive
				from TblT_Document a
				where a.IDProjectHeader = @IDProjectHeaderV1
					and IsActive = 1;

				delete from TblT_ProjectConstraint where IDProjectHeader = @IDProjectHeader;

				insert into TblT_ProjectConstraint(
					IDProjectHeader,
					IDConstraintType,
					Description,
					Remarks,
					Problem,
					Status,
					Mitigasi,
					CreatedDate,
					CreatedBy,
					IsActive,
					Year,
					Month,
					Week
				)
				select @IDProjectHeader,
					b.IDConstraintType,
					b.Description,
					b.Remarks,
					b.Problem,
					b.Status,
					b.Mitigasi,
					b.CreatedDate,
					b.CreatedBy,
					b.IsActive,
					b.Year,
					b.Month,
					b.Week
				from TblT_ProjectConstraint b
				where b.IDProjectHeader = @IDProjectHeaderV1
					and IsActive = 1;

				delete from TblT_ProjectExecutionStatus where IDProjectHeaderID = @IDProjectHeader;

				insert into TblT_ProjectExecutionStatus(
					IDProjectHeaderID,
					ProjectStatus,
					Periode,
					CreatedBy,
					CreatedDate,
					UpdateBy,
					UpdateDate,
					IsActive
				)
				select @IDProjectHeader,
					c.ProjectStatus,
					c.Periode,
					c.CreatedBy,
					c.CreatedDate,
					c.UpdateBy,
					c.UpdateDate,
					c.IsActive
				from TblT_ProjectExecutionStatus c
				where c.IDProjectHeaderID = @IDProjectHeaderV1
					and IsActive = 1;

				delete from TblH_ProjectExecutionApprovalHistory where IDProjectHeader = @IDProjectHeader;
				
				insert into TblH_ProjectExecutionApprovalHistory(
					IDProjectHeader,
					ApprovalVersion,
					Type,
					Periode,
					ApprovedBy,
					IsApproved,
					Remarks,
					CreatedDate,
					CreatedBy
				)
				select @IDProjectHeader,
					ApprovalVersion,
					Type,
					Periode,
					ApprovedBy,
					IsApproved,
					Remarks,
					CreatedDate,
					CreatedBy
				from TblH_ProjectExecutionApprovalHistory
				where IDProjectHeader = @IDProjectHeaderV1;
				
				delete from TblT_ProjectExecutionApprovalRole where IDProjectHeader = @IDProjectHeader;
				
				insert into TblT_ProjectExecutionApprovalRole(
					[IDProjectHeader]
					,[IDRoleGroup]
					,[Sequence]
					,[Username]
					,[Email]
					,[PositionCode]
					,[ActiveDate]
					,[EndDate]
					,[Periode]
					,[CreatedDate]
					,[CreatedBy]
					,[UpdatedDate]
					,[UpdatedBy]
					,[IsEnabled]
					,[IsApprove]
					,[IsActive]
				)
				select @IDProjectHeader
					,[IDRoleGroup]
					,[Sequence]
					,[Username]
					,[Email]
					,[PositionCode]
					,[ActiveDate]
					,[EndDate]
					,[Periode]
					,[CreatedDate]
					,[CreatedBy]
					,[UpdatedDate]
					,[UpdatedBy]
					,[IsEnabled]
					,[IsApprove]
					,[IsActive]
				from TblT_ProjectExecutionApprovalRole
				where IDProjectHeader = @IDProjectHeaderV1 and IsActive = 1;
				
				insert into TblT_MPPProjectRealDetail(
					IDMPPProjectPlanDetail,
					Date,
					Year,
					Month,
					Week,
					ParentID,
					TaskID,
					TaskGUID,
					TaskName,
					StartDate,
					EndDate,
					Duration,
					ActualStart,
					ActualEnd,
					Notes,
					PercentageComplete,
					OutlineLevel,
					OutlineNumber,
					IsMilestone,
					CreatedDate,
					CreatedBy,
					UpdatedDate,
					UpdatedBy,
					IsSubmit,
					IsApprove,
					IsActive
				)
				select bm.IDMPPProjectPlanDetail,
					cm.Date,
					cm.Year,
					cm.Month,
					cm.Week,
					cm.ParentID,
					cm.TaskID,
					cm.TaskGUID,
					cm.TaskName,
					cm.StartDate,
					cm.EndDate,
					cm.Duration,
					cm.ActualStart,
					cm.ActualEnd,
					cm.Notes,
					cm.PercentageComplete,
					cm.OutlineLevel,
					cm.OutlineNumber,
					cm.IsMilestone,
					cm.CreatedDate,
					cm.CreatedBy,
					cm.UpdatedDate,
					cm.UpdatedBy,
					cm.IsSubmit,
					cm.IsApprove,
					cm.IsActive
				from (
						select distinct b.IDMPPProjectPlanDetail as IDProjectAwal,
							a.IDMPPProjectPlanDetail,
							a.ProjectHeaderID,
							a.ParentID,
							a.TaskID,
							a.TaskGUID,
							a.TaskName,
							a.StartDate,
							a.EndDate,
							a.Duration,
							a.Notes,
							a.PercentageComplete,
							a.OutlineLevel,
							a.OutlineNumber,
							a.IsMilestone,
							a.CreatedDate,
							a.CreatedBy,
							a.IsActive
						from (
							select *
							from TblT_MPPProjectPlanDetail a
							where ProjectHeaderID = @IDProjectHeader
								and IsActive = 1
						) a
						inner join (
							select *
							from TblT_MPPProjectPlanDetail a
							where ProjectHeaderID = @IDProjectHeaderV1
								and IsActive = 1
						) b on a.TaskID = b.TaskID and a.TaskName = b.TaskName
					) bm
					inner join TblT_MPPProjectRealDetail cm on bm.IDProjectAwal = cm.IDMPPProjectPlanDetail
				where cm.IsActive = 1;

			end
			else begin
			
				insert into TblT_MPPProjectRealPercentage(
					[IDProjectHeader]
					,[TaskID]
					,[Week]
					,[Month]
					,[Year]
					,[RealPercentage]
					,[CompletePercentage]
					,[CreatedDate]
					,[CreatedBy]
					,[UpdatedDate]
					,[UpdatedBy]
					,[IsActive]
				)
				select @IDProjectHeader
					,[TaskID]
					,[Week]
					,[Month]
					,[Year]
					,[RealPercentage]
					,[CompletePercentage]
					,[CreatedDate]
					,[CreatedBy]
					,[UpdatedDate]
					,[UpdatedBy]
					,[IsActive]
				from TblT_MPPProjectRealPercentage
				where IDProjectHeader = @IDProjectHeaderV1
					and IsActive = 1;
					
				insert into TblT_Document(
					IDDocPhase,
					IDDocType,
					IDProjectHeader,
					DocumentName,
					TaskID,
					CreatedDate,
					CreatedBy,
					IsActive
				)
				select a.IDDocPhase,
					a.IDDocType,
					@IDProjectHeader,
					a.DocumentName,
					a.TaskID,
					CreatedDate,
					CreatedBy,
					a.IsActive
				from TblT_Document a
				where a.IDProjectHeader = @IDProjectHeaderV1
					and IsActive = 1;
					
				insert into TblT_ProjectConstraint(
					IDProjectHeader,
					IDConstraintType,
					Description,
					Remarks,
					Problem,
					Status,
					Mitigasi,
					CreatedDate,
					CreatedBy,
					IsActive,
					Year,
					Month,
					Week
				)
				select @IDProjectHeader,
					b.IDConstraintType,
					b.Description,
					b.Remarks,
					b.Problem,
					b.Status,
					b.Mitigasi,
					CreatedDate,
					CreatedBy,
					b.IsActive,
					b.Year,
					b.Month,
					b.Week
				from TblT_ProjectConstraint b
				where b.IDProjectHeader = @IDProjectHeaderV1
					and IsActive = 1;
				
				insert into TblT_ProjectExecutionStatus(
					IDProjectHeaderID,
					ProjectStatus,
					Periode,
					CreatedBy,
					CreatedDate,
					UpdateBy,
					UpdateDate,
					IsActive
				)
				select @IDProjectHeader,
					c.ProjectStatus,
					c.Periode,
					CreatedBy,
					CreatedDate,
					c.UpdateBy,
					c.UpdateDate,
					c.IsActive
				from TblT_ProjectExecutionStatus c
				where c.IDProjectHeaderID = @IDProjectHeaderV1
					and IsActive = 1;

				insert into TblH_ProjectExecutionApprovalHistory(
					IDProjectHeader,
					ApprovalVersion,
					Type,
					Periode,
					ApprovedBy,
					IsApproved,
					Remarks,
					CreatedDate,
					CreatedBy
				)
				select @IDProjectHeader,
					ApprovalVersion,
					Type,
					Periode,
					ApprovedBy,
					IsApproved,
					Remarks,
					CreatedDate,
					CreatedBy
				from TblH_ProjectExecutionApprovalHistory
				where IDProjectHeader = @IDProjectHeaderV1;
				
				insert into TblT_ProjectExecutionApprovalRole(
					[IDProjectHeader]
					,[IDRoleGroup]
					,[Sequence]
					,[Username]
					,[Email]
					,[PositionCode]
					,[ActiveDate]
					,[EndDate]
					,[Periode]
					,[CreatedDate]
					,[CreatedBy]
					,[UpdatedDate]
					,[UpdatedBy]
					,[IsEnabled]
					,[IsApprove]
					,[IsActive]
				)
				select @IDProjectHeader
					,[IDRoleGroup]
					,[Sequence]
					,[Username]
					,[Email]
					,[PositionCode]
					,[ActiveDate]
					,[EndDate]
					,[Periode]
					,[CreatedDate]
					,[CreatedBy]
					,[UpdatedDate]
					,[UpdatedBy]
					,[IsEnabled]
					,[IsApprove]
					,[IsActive]
				from TblT_ProjectExecutionApprovalRole
				where IDProjectHeader = @IDProjectHeaderV1 and IsActive = 1;

				insert into TblT_MPPProjectRealDetail(
					IDMPPProjectPlanDetail,
					Date,
					Year,
					Month,
					Week,
					ParentID,
					TaskID,
					TaskGUID,
					TaskName,
					StartDate,
					EndDate,
					Duration,
					ActualStart,
					ActualEnd,
					Notes,
					PercentageComplete,
					OutlineLevel,
					OutlineNumber,
					IsMilestone,
					CreatedDate,
					CreatedBy,
					UpdatedDate,
					UpdatedBy,
					IsSubmit,
					IsApprove,
					IsActive
				)
				select bm.IDMPPProjectPlanDetail,
					cm.Date,
					cm.Year,
					cm.Month,
					cm.Week,
					cm.ParentID,
					cm.TaskID,
					cm.TaskGUID,
					cm.TaskName,
					cm.StartDate,
					cm.EndDate,
					cm.Duration,
					cm.ActualStart,
					cm.ActualEnd,
					cm.Notes,
					cm.PercentageComplete,
					cm.OutlineLevel,
					cm.OutlineNumber,
					cm.IsMilestone,
					cm.CreatedDate,
					cm.CreatedBy,
					cm.UpdatedDate,
					cm.UpdatedBy,
					cm.IsSubmit,
					cm.IsApprove,
					cm.IsActive
				from (
						select distinct b.IDMPPProjectPlanDetail as IDProjectAwal,
							a.IDMPPProjectPlanDetail,
							a.ProjectHeaderID,
							a.ParentID,
							a.TaskID,
							a.TaskGUID,
							a.TaskName,
							a.StartDate,
							a.EndDate,
							a.Duration,
							a.Notes,
							a.PercentageComplete,
							a.OutlineLevel,
							a.OutlineNumber,
							a.IsMilestone,
							a.CreatedDate,
							a.CreatedBy,
							a.IsActive
						from (
							select *
							from TblT_MPPProjectPlanDetail a
							where ProjectHeaderID = @IDProjectHeader
								and IsActive = 1
						) a
						inner join (
							select *
							from TblT_MPPProjectPlanDetail a
							where ProjectHeaderID = @IDProjectHeaderV1
								and IsActive = 1
						) b on a.TaskID = b.TaskID and a.TaskName = b.TaskName
					) bm
					inner join TblT_MPPProjectRealDetail cm on bm.IDProjectAwal = cm.IDMPPProjectPlanDetail
				where cm.IsActive = 1;

			end;

		end;

		commit transaction;

	end try
	begin catch
		
		rollback transaction;

		declare @ErrMsg varchar(max), @ErrNum int;

		select @ErrMsg = error_message(), @ErrNum = error_number();

		exec Usp_Insert_ErrorLog 'Usp_Copy_RealisasiAmandemen'
			,@ErrNum
			,@ErrMsg
			,@Username;

	end catch;
	
END




GO
