USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblSAP_MasterRKAT]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSAP_MasterRKAT](
	[IDSAPMasterRKAT] [int] IDENTITY(1,1) NOT NULL,
	[DateDownload] [date] NULL,
	[IDSAP] [varchar](20) NULL,
	[ACTIVE] [varchar](20) NULL,
	[COSTCTR] [varchar](20) NULL,
	[EVDESCRIPTION] [varchar](500) NULL,
	[KPI] [varchar](20) NULL,
	[KPI_GROUP] [varchar](20) NULL,
	[LEVEL] [varchar](20) NULL,
	[LONG_DESC] [varchar](500) NULL,
	[PRO_GROUP] [varchar](20) NULL,
	[SCALING] [varchar](20) NULL,
	[STRAT_OBJ] [varchar](20) NULL,
	[UNCONTROLLABLE] [varchar](200) NULL,
	[WORKPLAN_TYPE] [varchar](20) NULL,
	[YEAR] [varchar](4) NULL,
	[PARENT] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TblSAP_RKAT] PRIMARY KEY CLUSTERED 
(
	[IDSAPMasterRKAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
