USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Report_EvaluasiCapaianProyek]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_Report_EvaluasiCapaianProyek] -- exec Usp_Get_Report_EvaluasiCapaianProyek 7, '2019', 1, null, null;
@Month int = null,
@Year varchar(4) = null,
@IsTransformasi bit = null,
@IDProgram int = null,
@IDDirektorat int = null,
@Week int = null
	
AS
BEGIN
	
	declare @Date date = null;
	--declare @Week int = null;

	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	
	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);
	
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday' order by Date desc) end;

	declare @TableProgram table(
		IDProgram int,
		IDProject int,
		Name nvarchar(200),
		PIC nvarchar(200),
		Waktu nvarchar(200),
		ContractIDR varchar(50),
		Target nvarchar(max),
		Realisasi nvarchar(max),
		Capaian nvarchar(max),
		RealisasiAnggaran nvarchar(50),
		RealisasiKomit nvarchar(50),
		Tren nvarchar(max),
		IsTransformasi bit null
	);
	
	--if(@IsTransformasi = 1)begin
	--	if((select top 1 WeekDayName from TblM_Date where Month = @Month and WeekOfMonth = @Week and  Year = @Year order by Date asc) not in('Saturday', 'Sunday')) begin
	--		set @Date = (select top 1 cast(Date as date) from TblM_Date where Date > @Date and WeekDayName = 'Saturday' order by Date asc);
	--	end;
	--end;

	if(@IsTransformasi is null and (@IDDirektorat is null or @IDDirektorat = 0))begin
		
		insert into @TableProgram
		
		select bb.IDProgram,
			bb.IDProjectHeader,
			bb.Name,
			bb.PIC,
			bb.Waktu,
			cast(bb.Anggaran as decimal(18,2)),
			bb.Target,
			bb.Realisasi,

			case
				when (bb.IDProjectStatus = 1
						--or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9)
						or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then
					'<span class="fa fa-circle" style="color:#dcddde">' +
					'</span> Belum Dimulai ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when (bb.IDProjectStatus = 4
						or bb.IDProjectStatus = 12) then
					'<span class="fa fa-circle" style="color:#58595b">' +
					'</span> Completed ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'

				when cast(bb.Pencapaian as decimal(18,2)) > = 110 then
					'<span class="fa fa-circle" style="color:blue">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when cast(bb.Pencapaian as decimal(18,2)) > = 100 then
					'<span class="fa fa-circle" style="color:green">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when cast(bb.Pencapaian as decimal(18,2)) > = 85 then
					'<span class="fa fa-circle" style="color:yellow">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				else
					'<span class="fa fa-circle" style="color:red">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'

			end,

			--cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%',
			cast(cast(isnull(bb.RealisasiAnggaran /nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%',
			cast(cast(isnull(bb.RealisasiKomit/nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%',
			bb.Tren,
			bb.IsTransformasi
		from (
		
			select 'Project' as Tipe,
				a.IDProgram,
				a.IDProjectHeader,
				a.IDDirektorat,
				a.DirektoratName,
				a.ProgramName,
				a.ProjectName,
				a.ProjectName as Name,
				a.DepartmentCode + ' - ' + a.DirektoratCode as PIC,
				isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,--([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartMonth')) + ' - ' + [dbo].[Ufn_GetTriwulan]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndMonth')), '-') as Waktu,
				isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
				null as Target,
				null as Realisasi,
				--isnull(cast([dbo].[Ufn_GetPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year) as float), 0.00)
				a.Pencapaian as Pencapaian,
				--isnull(sum(i.RealValue/1000000), 0.00) 
				case
					when (a.IDProjectStatus = 1
							--or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
							isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00)
					else 0.0
				end as RealisasiAnggaran,
				--sum(isnull(i.RealValue/1000000,0) + isnull(i.KomitValue/1000000,0)) 
				case
					when (a.IDProjectStatus = 1
							--or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
							isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) + isnull(cast(a.KomitAnggaran as numeric)/1000000, 0.00)
					else 0.0
				end as RealisasiKomit,
				--(select [dbo].[Ufn_GetTrenPencapaian](a.IDProjectHeader, a.IsTransformasi, @Month, @Year)) 
				case
					when a.TrenBefore = 'Merah' then
						case
							when a.Tren = 'Merah' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Kuning' then
						case
							when a.Tren = 'Merah' then 'Turun'
							when a.Tren = 'Kuning' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Hijau' then
						case
							when a.Tren = 'Biru' then 'Naik'
							when a.Tren = 'Hijau' then 'Sama'
							else 'Turun'
						end
					when a.TrenBefore = 'Biru' then
						case
							when a.Tren = 'Biru' then 'Sama'
							else 'Turun'
						end
				end as Tren,

				a.IsTransformasi,
				a.IDProjectStatus,
				a.StartYear, a.StartMonth, a.StartDay,
				a.EndYear, a.EndMonth, a.EndDay
		
			from TblD_ListProject a
				--cross apply [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth](a.IDProjectHeader,@Year,@Month) i

			where a.IsActive = 1
				and a.IDProgram = @IDProgram
				and (@Year between a.StartYear and a.EndYear)
				and a.DateDownload = @Date
				and a.IDProjectStatus not in(1, 8, 9, 13)

			union all
			
			select 'Program' as Tipe,
				IDProgram,
				null as IDProjectHeader,
				null as IDDirektorat,
				null as Direktorat,
				ProgramName,
				null as ProjectName,
				ProgramName as Name,
				null as PIC,
				null as Waktu,
				isnull(sum(Anggaran)/1000000, 0.00) as Anggaran,
				null as Target,
				null as Realisasi,

				--isnull(avg(Pencapaian), 0.00) as Pencapaian,
				isnull(
				round(100 * avg(RealPenc) / avg(Planning), 0.00)
				, 0.00)
				as RealisasiPencapaian,

				sum(RealisasiAnggaran/1000000) as RealisasiAnggaran,
				sum(RealisasiKomit/1000000) as RealisasiKomit,
				null as Tren,
				null as IsTransformasi,
				null as IDProjectStatus,

				null as StartYear, null as StartMonth, null as StartDay,
				null as EndYear, null as EndMonth, null as EndDay
		
			from (

				select 'Project' as Tipe,
					a.IDProgram,
					a.IDProjectHeader,
					a.IDDirektorat,
					a.DirektoratName,
					a.ProgramName,
					a.ProjectName,
					a.ProjectName as Name,
					a.DepartmentCode as PIC,
					isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,--([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartMonth')) + ' - ' + [dbo].[Ufn_GetTriwulan]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndMonth')), '-') as Waktu,
					isnull(cast(a.Anggaran as numeric), 0.00) as Anggaran,
					null as Target,
					null as Realisasi,
					--isnull(cast([dbo].[Ufn_GetPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year) as float), 0.00)
					a.Pencapaian as Pencapaian,
					--isnull(sum(i.RealValue), 0.00) 
					case
						when (a.IDProjectStatus = 1
								--or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
								isnull(cast(a.RealisasiAnggaran as numeric), 0.00)
						else 0.0
					end as RealisasiAnggaran,
					--sum(isnull(i.RealValue,0) + isnull(i.KomitValue/1000000,0)) 
					case
						when (a.IDProjectStatus = 1
								--or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
								isnull(cast(a.RealisasiAnggaran as numeric), 0.00) + isnull(cast(a.KomitAnggaran as numeric), 0.00)
						else 0.0
					end as RealisasiKomit,
					--(select [dbo].[Ufn_GetTrenPencapaian](a.IDProjectHeader, a.IsTransformasi, @Month, @Year)) 
					case
						when a.TrenBefore = 'Merah' then
							case
								when a.Tren = 'Merah' then 'Sama'
								else 'Naik'
							end
						when a.TrenBefore = 'Kuning' then
							case
								when a.Tren = 'Merah' then 'Turun'
								when a.Tren = 'Kuning' then 'Sama'
								else 'Naik'
							end
						when a.TrenBefore = 'Hijau' then
							case
								when a.Tren = 'Biru' then 'Naik'
								when a.Tren = 'Hijau' then 'Sama'
								else 'Turun'
							end
						when a.TrenBefore = 'Biru' then
							case
								when a.Tren = 'Biru' then 'Sama'
								else 'Turun'
							end
					end as Tren,

					a.IsTransformasi,
					a.IDProjectStatus,

					a.PlanPencapaian as Planning,
					a.RealisasiPencapaian as RealPenc
		
				from TblD_ListProject a
					--cross apply [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth](a.IDProjectHeader,@Year,@Month) i--(c.IDProjectHeader,@Year,@Month) i

				where a.IsActive = 1
					and a.IDProgram = @IDProgram
					and (@Year between a.StartYear and a.EndYear)
					and a.DateDownload = @Date
					and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
					and a.IDProjectStatus not in(1, 8, 9, 13)

			)zz
			group by IDProgram, ProgramName
			
		)bb 
		order by bb.IDProgram asc,
			(case when bb.IDProjectHeader is null then 0 else 1 end);
	
	end
	else if(@IsTransformasi is null and (@IDDirektorat is not null or @IDDirektorat != 0))begin
		
		insert into @TableProgram
		
		select bb.IDProgram,
			bb.IDProjectHeader,
			bb.Name,
			bb.PIC,
			bb.Waktu,
			cast(bb.Anggaran as decimal(18,2)),
			bb.Target,
			bb.Realisasi,

			case
				when (bb.IDProjectStatus = 1
						--or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9)
						or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then
					'<span class="fa fa-circle" style="color:#dcddde">' +
					'</span> Belum Dimulai ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when (bb.IDProjectStatus = 4
						or bb.IDProjectStatus = 12) then
					'<span class="fa fa-circle" style="color:#58595b">' +
					'</span> Completed ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'

				when cast(bb.Pencapaian as decimal(18,2)) > = 110 then
					'<span class="fa fa-circle" style="color:blue">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when cast(bb.Pencapaian as decimal(18,2)) > = 100 then
					'<span class="fa fa-circle" style="color:green">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when cast(bb.Pencapaian as decimal(18,2)) > = 85 then
					'<span class="fa fa-circle" style="color:yellow">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				else
					'<span class="fa fa-circle" style="color:red">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'

			end,

			--cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%',
			cast(cast(isnull(bb.RealisasiAnggaran /nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%',
			cast(cast(isnull(bb.RealisasiKomit/nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%',
			bb.Tren,
			bb.IsTransformasi
		from (
		
			select 'Project' as Tipe,
				a.IDProgram,
				a.IDProjectHeader,
				a.IDDirektorat,
				a.DirektoratName,
				a.ProgramName,
				a.ProjectName,
				a.ProjectName as Name,
				a.DepartmentCode + ' - ' + a.DirektoratCode as PIC,
				isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,--([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartMonth')) + ' - ' + [dbo].[Ufn_GetTriwulan]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndMonth')), '-') as Waktu,
				isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
				null as Target,
				null as Realisasi,
				--isnull(cast([dbo].[Ufn_GetPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year) as float), 0.00)
				a.Pencapaian as Pencapaian,
				--isnull(sum(i.RealValue/1000000), 0.00) 
				case
					when (a.IDProjectStatus = 1
							--or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
							isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00)
					else 0.0
				end as RealisasiAnggaran,
				--sum(isnull(i.RealValue/1000000,0) + isnull(i.KomitValue/1000000,0)) 
				case
					when (a.IDProjectStatus = 1
							--or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
							isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) + isnull(cast(a.KomitAnggaran as numeric)/1000000, 0.00)
					else 0.0
				end as RealisasiKomit,
				--(select [dbo].[Ufn_GetTrenPencapaian](a.IDProjectHeader, a.IsTransformasi, @Month, @Year)) 
				case
					when a.TrenBefore = 'Merah' then
						case
							when a.Tren = 'Merah' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Kuning' then
						case
							when a.Tren = 'Merah' then 'Turun'
							when a.Tren = 'Kuning' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Hijau' then
						case
							when a.Tren = 'Biru' then 'Naik'
							when a.Tren = 'Hijau' then 'Sama'
							else 'Turun'
						end
					when a.TrenBefore = 'Biru' then
						case
							when a.Tren = 'Biru' then 'Sama'
							else 'Turun'
						end
				end as Tren,

				a.IsTransformasi,
				a.IDProjectStatus,
				a.StartYear, a.StartMonth, a.StartDay,
				a.EndYear, a.EndMonth, a.EndDay
		
			from TblD_ListProject a
				--cross apply [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth](a.IDProjectHeader,@Year,@Month) i

			where a.IsActive = 1
				and a.IDProgram = @IDProgram
				and (@Year between a.StartYear and a.EndYear)
				and a.DateDownload = @Date
				and a.IDDirektorat = @IDDirektorat
				and a.IDProjectStatus not in(1, 8, 9, 13)
			
			union all
			
			select 'Program' as Tipe,
				IDProgram,
				null as IDProjectHeader,
				null as IDDirektorat,
				null as Direktorat,
				ProgramName,
				null as ProjectName,
				ProgramName as Name,
				null as PIC,
				null as Waktu,
				isnull(sum(Anggaran)/1000000, 0.00) as Anggaran,
				null as Target,
				null as Realisasi,

				--isnull(avg(Pencapaian), 0.00) as Pencapaian,
				isnull(
				round(100 * avg(RealPenc) / avg(Planning), 0.00)
				, 0.00)
				as RealisasiPencapaian,

				sum(RealisasiAnggaran)/1000000 as RealisasiAnggaran,
				sum(RealisasiKomit)/1000000 as RealisasiKomit,
				null as Tren,
				null as IsTransformasi,
				null as IDProjectStatus,

				null as StartYear, null as StartMonth, null as StartDay,
				null as EndYear, null as EndMonth, null as EndDay
		
			from (
			
				select 'Project' as Tipe,
					a.IDProgram,
					a.IDProjectHeader,
					a.IDDirektorat,
					a.DirektoratName,
					a.ProgramName,
					a.ProjectName,
					a.ProjectName as Name,
					a.DepartmentCode as PIC,
					isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,--([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartMonth')) + ' - ' + [dbo].[Ufn_GetTriwulan]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndMonth')), '-') as Waktu,
					isnull(cast(a.Anggaran as numeric), 0.00) as Anggaran,
					null as Target,
					null as Realisasi,
					--isnull(cast([dbo].[Ufn_GetPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year) as float), 0.00)
					a.Pencapaian as Pencapaian,
					--isnull(sum(i.RealValue), 0.00) 
					case
						when (a.IDProjectStatus = 1
								--or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
								isnull(cast(a.RealisasiAnggaran as numeric), 0.00)
						else 0.0
					end as RealisasiAnggaran,
					--sum(isnull(i.RealValue,0) + isnull(i.KomitValue/1000000,0)) 
					case
						when (a.IDProjectStatus = 1
								--or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
								isnull(cast(a.RealisasiAnggaran as numeric), 0.00) + isnull(cast(a.KomitAnggaran as numeric), 0.00)
						else 0.0
					end as RealisasiKomit,
					--(select [dbo].[Ufn_GetTrenPencapaian](a.IDProjectHeader, a.IsTransformasi, @Month, @Year)) 
					case
						when a.TrenBefore = 'Merah' then
							case
								when a.Tren = 'Merah' then 'Sama'
								else 'Naik'
							end
						when a.TrenBefore = 'Kuning' then
							case
								when a.Tren = 'Merah' then 'Turun'
								when a.Tren = 'Kuning' then 'Sama'
								else 'Naik'
							end
						when a.TrenBefore = 'Hijau' then
							case
								when a.Tren = 'Biru' then 'Naik'
								when a.Tren = 'Hijau' then 'Sama'
								else 'Turun'
							end
						when a.TrenBefore = 'Biru' then
							case
								when a.Tren = 'Biru' then 'Sama'
								else 'Turun'
							end
					end as Tren,

					a.IsTransformasi,
					a.IDProjectStatus,

					a.PlanPencapaian as Planning,
					a.RealisasiPencapaian as RealPenc
		
				from TblD_ListProject a
					--cross apply [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth](a.IDProjectHeader,@Year,@Month) i--(c.IDProjectHeader,@Year,@Month) i

				where a.IsActive = 1
					and a.IDProgram = @IDProgram
					and (@Year between a.StartYear and a.EndYear)
					and a.DateDownload = @Date
					and a.IDDirektorat = @IDDirektorat
					and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
					and a.IDProjectStatus not in(1, 8, 9, 13)

			)zz
			group by IDProgram, ProgramName
			
		)bb 
		order by bb.IDProgram asc,
			(case when bb.IDProjectHeader is null then 0 else 1 end);
	
	end
	else if(@IsTransformasi is not null and(@IDDirektorat is null or @IDDirektorat = 0)) begin
			
		insert into @TableProgram
		
		select bb.IDProgram,
			bb.IDProjectHeader,
			bb.Name,
			bb.PIC,
			bb.Waktu,
			cast(bb.Anggaran as decimal(18,2)),
			bb.Target,
			bb.Realisasi,

			case
				when (bb.IDProjectStatus = 1
						--or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9)
						or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then
					'<span class="fa fa-circle" style="color:#dcddde">' +
					'</span> Belum Dimulai ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when (bb.IDProjectStatus = 4
						or bb.IDProjectStatus = 12) then
					'<span class="fa fa-circle" style="color:#58595b">' +
					'</span> Completed ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'

				when cast(bb.Pencapaian as decimal(18,2)) > = 110 then
					'<span class="fa fa-circle" style="color:blue">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when cast(bb.Pencapaian as decimal(18,2)) > = 100 then
					'<span class="fa fa-circle" style="color:green">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when cast(bb.Pencapaian as decimal(18,2)) > = 85 then
					'<span class="fa fa-circle" style="color:yellow">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				else
					'<span class="fa fa-circle" style="color:red">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'

			end,

			--cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%',
			cast(cast(isnull(bb.RealisasiAnggaran /nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%',
			cast(cast(isnull(bb.RealisasiKomit/nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%',
			bb.Tren,
			bb.IsTransformasi
		from (
		
			select 'Project' as Tipe,
				a.IDProgram,
				a.IDProjectHeader,
				a.IDDirektorat,
				a.DirektoratName,
				a.ProgramName,
				a.ProjectName,
				a.ProjectName as Name,
				a.DepartmentCode + ' - ' + a.DirektoratCode as PIC,
				isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,--([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartMonth')) + ' - ' + [dbo].[Ufn_GetTriwulan]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndMonth')), '-') as Waktu,
				isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
				null as Target,
				null as Realisasi,
				--isnull(cast([dbo].[Ufn_GetPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year) as float), 0.00)
				a.Pencapaian as Pencapaian,
				--isnull(sum(i.RealValue/1000000), 0.00) 
				case
					when (a.IDProjectStatus = 1
							--or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
							isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00)
					else 0.0
				end as RealisasiAnggaran,
				--sum(isnull(i.RealValue/1000000,0) + isnull(i.KomitValue/1000000,0)) 
				case
					when (a.IDProjectStatus = 1
							--or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
							isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) + isnull(cast(a.KomitAnggaran as numeric)/1000000, 0.00)
					else 0.0
				end as RealisasiKomit,
				--(select [dbo].[Ufn_GetTrenPencapaian](a.IDProjectHeader, a.IsTransformasi, @Month, @Year)) 
				case
					when a.TrenBefore = 'Merah' then
						case
							when a.Tren = 'Merah' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Kuning' then
						case
							when a.Tren = 'Merah' then 'Turun'
							when a.Tren = 'Kuning' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Hijau' then
						case
							when a.Tren = 'Biru' then 'Naik'
							when a.Tren = 'Hijau' then 'Sama'
							else 'Turun'
						end
					when a.TrenBefore = 'Biru' then
						case
							when a.Tren = 'Biru' then 'Sama'
							else 'Turun'
						end
				end as Tren,

				a.IsTransformasi,
				a.IDProjectStatus,
				a.StartYear, a.StartMonth, a.StartDay,
				a.EndYear, a.EndMonth, a.EndDay
		
			from TblD_ListProject a
				
			where a.IsActive = 1
				and a.IDProgram = @IDProgram
				and (@Year between a.StartYear and a.EndYear)
				and a.DateDownload = @Date
				and a.IsTransformasi = @IsTransformasi
				and a.IDProjectStatus not in(1, 8, 9, 13)
			
			union all
			
			select 'Program' as Tipe,
				IDProgram,
				null as IDProjectHeader,
				null as IDDirektorat,
				null as Direktorat,
				ProgramName,
				null as ProjectName,
				ProgramName as Name,
				null as PIC,
				null as Waktu,
				isnull(sum(Anggaran)/1000000, 0.00) as Anggaran,
				null as Target,
				null as Realisasi,

				isnull(
				round(100 * avg(RealPenc) / avg(Planning), 0.00)
				, 0.00)
				as RealisasiPencapaian,

				sum(RealisasiAnggaran)/1000000 as RealisasiAnggaran,
				sum(RealisasiKomit)/1000000 as RealisasiKomit,
				null as Tren,
				null as IsTransformasi,
				null as IDProjectStatus,

				null as StartYear, null as StartMonth, null as StartDay,
				null as EndYear, null as EndMonth, null as EndDay
		
			from (
			
				select 'Project' as Tipe,
					a.IDProgram,
					a.IDProjectHeader,
					a.IDDirektorat,
					a.DirektoratName,
					a.ProgramName,
					a.ProjectName,
					a.ProjectName as Name,
					a.DepartmentCode as PIC,
					isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,--([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartMonth')) + ' - ' + [dbo].[Ufn_GetTriwulan]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndMonth')), '-') as Waktu,
					isnull(cast(a.Anggaran as numeric), 0.00) as Anggaran,
					null as Target,
					null as Realisasi,
					--isnull(cast([dbo].[Ufn_GetPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year) as float), 0.00)
					a.Pencapaian as Pencapaian,
					--isnull(sum(i.RealValue), 0.00) 
					case
						when (a.IDProjectStatus = 1
								--or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
								isnull(cast(a.RealisasiAnggaran as numeric), 0.00)
						else 0.0
					end as RealisasiAnggaran,
					--sum(isnull(i.RealValue,0) + isnull(i.KomitValue/1000000,0)) 
					case
						when (a.IDProjectStatus = 1
								--or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
								isnull(cast(a.RealisasiAnggaran as numeric), 0.00) + isnull(cast(a.KomitAnggaran as numeric), 0.00)
						else 0.0
					end as RealisasiKomit,
					--(select [dbo].[Ufn_GetTrenPencapaian](a.IDProjectHeader, a.IsTransformasi, @Month, @Year)) 
					case
						when a.TrenBefore = 'Merah' then
							case
								when a.Tren = 'Merah' then 'Sama'
								else 'Naik'
							end
						when a.TrenBefore = 'Kuning' then
							case
								when a.Tren = 'Merah' then 'Turun'
								when a.Tren = 'Kuning' then 'Sama'
								else 'Naik'
							end
						when a.TrenBefore = 'Hijau' then
							case
								when a.Tren = 'Biru' then 'Naik'
								when a.Tren = 'Hijau' then 'Sama'
								else 'Turun'
							end
						when a.TrenBefore = 'Biru' then
							case
								when a.Tren = 'Biru' then 'Sama'
								else 'Turun'
							end
					end as Tren,

					a.IsTransformasi,
					a.IDProjectStatus,

					a.PlanPencapaian as Planning,
					a.RealisasiPencapaian as RealPenc
		
				from TblD_ListProject a

				where a.IsActive = 1
					and a.IDProgram = @IDProgram
					and (@Year between a.StartYear and a.EndYear)
					and a.DateDownload = @Date
					and a.IsTransformasi = @IsTransformasi
					and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
					and a.IDProjectStatus not in(1, 8, 9, 13)

			)zz
			group by IDProgram, ProgramName
			
		)bb 
		order by bb.IDProgram asc,
			(case when bb.IDProjectHeader is null then 0 else 1 end);
	
	end
	else if(@IsTransformasi is not null and(@IDDirektorat is not null or @IDDirektorat != 0)) begin
		
		insert into @TableProgram
		
		select bb.IDProgram,
			bb.IDProjectHeader,
			bb.Name,
			bb.PIC,
			bb.Waktu,
			cast(bb.Anggaran as decimal(18,2)),
			bb.Target,
			bb.Realisasi,

			case
				when (bb.IDProjectStatus = 1
						--or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9)
						or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then
					'<span class="fa fa-circle" style="color:#dcddde">' +
					'</span> Belum Dimulai ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when (bb.IDProjectStatus = 4
						or bb.IDProjectStatus = 12) then
					'<span class="fa fa-circle" style="color:#58595b">' +
					'</span> Completed ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'

				when cast(bb.Pencapaian as decimal(18,2)) > = 110 then
					'<span class="fa fa-circle" style="color:blue">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when cast(bb.Pencapaian as decimal(18,2)) > = 100 then
					'<span class="fa fa-circle" style="color:green">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				when cast(bb.Pencapaian as decimal(18,2)) > = 85 then
					'<span class="fa fa-circle" style="color:yellow">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'
				
				else
					'<span class="fa fa-circle" style="color:red">' +
					'</span>   ' + cast(cast(bb.Pencapaian as decimal(18,2)) as varchar(50)) + '%'

			end,

			cast(cast(isnull(bb.RealisasiAnggaran /nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%',
			cast(cast(isnull(bb.RealisasiKomit/nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%',
			bb.Tren,
			bb.IsTransformasi
		from (
		
			select 'Project' as Tipe,
				a.IDProgram,
				a.IDProjectHeader,
				a.IDDirektorat,
				a.DirektoratName,
				a.ProgramName,
				a.ProjectName,
				a.ProjectName as Name,
				a.DepartmentCode + ' - ' + a.DirektoratCode as PIC,
				isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,--([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartMonth')) + ' - ' + [dbo].[Ufn_GetTriwulan]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndMonth')), '-') as Waktu,
				isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
				null as Target,
				null as Realisasi,
				--isnull(cast([dbo].[Ufn_GetPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year) as float), 0.00)
				a.Pencapaian as Pencapaian,
				--isnull(sum(i.RealValue/1000000), 0.00) 
				case
					when (a.IDProjectStatus = 1
							--or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
							isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00)
					else 0.0
				end as RealisasiAnggaran,
				--sum(isnull(i.RealValue/1000000,0) + isnull(i.KomitValue/1000000,0)) 
				case
					when (a.IDProjectStatus = 1
							--or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
							isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) + isnull(cast(a.KomitAnggaran as numeric)/1000000, 0.00)
					else 0.0
				end as RealisasiKomit,
				--(select [dbo].[Ufn_GetTrenPencapaian](a.IDProjectHeader, a.IsTransformasi, @Month, @Year)) 
				case
					when a.TrenBefore = 'Merah' then
						case
							when a.Tren = 'Merah' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Kuning' then
						case
							when a.Tren = 'Merah' then 'Turun'
							when a.Tren = 'Kuning' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Hijau' then
						case
							when a.Tren = 'Biru' then 'Naik'
							when a.Tren = 'Hijau' then 'Sama'
							else 'Turun'
						end
					when a.TrenBefore = 'Biru' then
						case
							when a.Tren = 'Biru' then 'Sama'
							else 'Turun'
						end
				end as Tren,

				a.IsTransformasi,
				a.IDProjectStatus,
				a.StartYear, a.StartMonth, a.StartDay,
				a.EndYear, a.EndMonth, a.EndDay
		
			from TblD_ListProject a

			where a.IsActive = 1
				and a.IDProgram = @IDProgram
				and (@Year between a.StartYear and a.EndYear)
				and a.DateDownload = @Date
				and a.IsTransformasi = @IsTransformasi
				and a.IDDirektorat = @IDDirektorat
				and a.IDProjectStatus not in(1, 8, 9, 13)
			
			union all
			
			select 'Program' as Tipe,
				IDProgram,
				null as IDProjectHeader,
				null as IDDirektorat,
				null as Direktorat,
				ProgramName,
				null as ProjectName,
				ProgramName as Name,
				null as PIC,
				null as Waktu,
				isnull(sum(Anggaran)/1000000, 0.00) as Anggaran,
				null as Target,
				null as Realisasi,

				isnull(
				round(100 * avg(RealPenc) / avg(Planning), 0.00)
				, 0.00)
				as RealisasiPencapaian,

				sum(RealisasiAnggaran)/1000000 as RealisasiAnggaran,
				sum(RealisasiKomit)/1000000 as RealisasiKomit,
				null as Tren,
				null as IsTransformasi,
				null as IDProjectStatus,

				null as StartYear, null as StartMonth, null as StartDay,
				null as EndYear, null as EndMonth, null as EndDay
		
			from (
			
				select 'Project' as Tipe,
					a.IDProgram,
					a.IDProjectHeader,
					a.IDDirektorat,
					a.DirektoratName,
					a.ProgramName,
					a.ProjectName,
					a.ProjectName as Name,
					a.DepartmentCode as PIC,
					isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,--([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartMonth')) + ' - ' + [dbo].[Ufn_GetTriwulan]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndMonth')), '-') as Waktu,
					isnull(cast(a.Anggaran as numeric), 0.00) as Anggaran,
					null as Target,
					null as Realisasi,
					--isnull(cast([dbo].[Ufn_GetPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year) as float), 0.00)
					a.Pencapaian as Pencapaian,
					--isnull(sum(i.RealValue), 0.00) 
					case
						when (a.IDProjectStatus = 1
								--or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
								isnull(cast(a.RealisasiAnggaran as numeric), 0.00)
						else 0.0
					end as RealisasiAnggaran,
					--sum(isnull(i.RealValue,0) + isnull(i.KomitValue/1000000,0)) 
					case
						when (a.IDProjectStatus = 1
								--or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then
								isnull(cast(a.RealisasiAnggaran as numeric), 0.00) + isnull(cast(a.KomitAnggaran as numeric), 0.00)
						else 0.0
					end as RealisasiKomit,
					--(select [dbo].[Ufn_GetTrenPencapaian](a.IDProjectHeader, a.IsTransformasi, @Month, @Year)) 
					case
						when a.TrenBefore = 'Merah' then
							case
								when a.Tren = 'Merah' then 'Sama'
								else 'Naik'
							end
						when a.TrenBefore = 'Kuning' then
							case
								when a.Tren = 'Merah' then 'Turun'
								when a.Tren = 'Kuning' then 'Sama'
								else 'Naik'
							end
						when a.TrenBefore = 'Hijau' then
							case
								when a.Tren = 'Biru' then 'Naik'
								when a.Tren = 'Hijau' then 'Sama'
								else 'Turun'
							end
						when a.TrenBefore = 'Biru' then
							case
								when a.Tren = 'Biru' then 'Sama'
								else 'Turun'
							end
					end as Tren,

					a.IsTransformasi,
					a.IDProjectStatus,

					a.PlanPencapaian as Planning,
					a.RealisasiPencapaian as RealPenc
		
				from TblD_ListProject a
					--cross apply [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth](a.IDProjectHeader,@Year,@Month) i--(c.IDProjectHeader,@Year,@Month) i

				where a.IsActive = 1
					and a.IDProgram = @IDProgram
					and (@Year between a.StartYear and a.EndYear)
					and a.DateDownload = @Date
					and a.IsTransformasi = @IsTransformasi
					and a.IDDirektorat = @IDDirektorat
					and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
					and a.IDProjectStatus not in(1, 8, 9, 13)

			)zz
			group by IDProgram, ProgramName
			
		)bb 
		order by bb.IDProgram asc,
			(case when bb.IDProjectHeader is null then 0 else 1 end);
	
	end;

	select *
	from @TableProgram
	order by IDProgram asc,
		(case when IDProject is null then 0 else 1 end);

	select @Month as Bulan, @Year as Year, @IsTransformasi as IsTransformasi;

END




GO
