USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiMilestonesDetail]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiMilestonesDetail] -- [Usp_Get_ProjectEksekusiMilestonesDetail] 49, 30
@ProjectHeaderID int,
@TaskID bigint
as
BEGIN

declare @ProjectHeaderIDRoot int;
set @ProjectHeaderIDRoot = (select [dbo].[Ufn_GetProjectHeaderRoot](@ProjectHeaderID));

	select MPPPD.TaskID as ID, 
		MPPPD.TaskName as Milestones, 
		CAST(DAY(MPPPD.StartDate) as varchar(4)) + ' ' +[dbo].[Ufn_GetMonthName_Indonesia](MONTH(MPPPD.StartDate)) + ' ' + CAST(YEAR(MPPPD.StartDate) as varchar(4)) as Selesai ,
		CASE 			
		WHEN	
			(
				SELECT COUNT(*) FROM
				TblT_MPPMilestoneDocument MMD
				where
				MMD.ProjectHeaderID = @ProjectHeaderID
				and
				MMD.TaskID = MPPPD.TaskID
				and
				MMD.IsActive = '1'
			) = 0
		THEN
			(	
				CASE
				WHEN
					GETDATE() > DATEADD(dd, 0 , MPPPD.StartDate)
				THEN
					'LATE'
				ELSE
					'ONGOING'
				END
			)
		ELSE
			'FINISH'
		END
		as Status,
		CASE
		WHEN
			(Convert(varchar(4),DATEPART(YYYY,MPPPD.StartDate))+RIGHT('00'+CONVERT(varchar(2),DATEPART(MM,MPPPD.StartDate)),2))
			 <=
			(Convert(varchar(4),DATEPART(YYYY,GETDATE()))+RIGHT('00'+CONVERT(varchar(2),DATEPART(MM,GETDATE())),2))
		THEN
			'1'
		ELSE
			'0'
		END
		as Button
	FROM
	TblT_MPPProjectPlanDetail MPPPD
	where
	MPPPD.IsActive = '1'
	and
	(
		MPPPD.TaskName LIKE '%milestone%' 
		OR
		MPPPD.IsMilestone = '1'
	)
	and
	MPPPD.ProjectHeaderID = @ProjectHeaderID
	and
	MPPPD.TaskID = @TaskID
	ORDER BY
	MPPPD.StartDate DESC

SELECT 
	MPD.DocumentName , DT.Description as IDDocumentType , MPD.IDDocument as IDDocumentMilestone , MPD.CreatedDate
FROM
TblT_Document MPD
INNER JOIN
TblM_DocumentType DT
ON
DT.IDDocType 
=
MPD.IDDocType
where
MPD.IDProjectHeader = @ProjectHeaderIDRoot--@ProjectHeaderID
and
MPD.TaskID = @TaskID
and
MPD.IsActive = 1
and
MPD.DocumentName not like '%.mpp'
-- add by Christina Eka
order by CreatedDate

select case
			when b.description = 'Closed Amandemen' then 'Closed'
			else b.description
		end as ProjectStatus from TblT_ProjectHeader a
	left join TblM_ProjectStatus b on b.IDProjectStatus = a.IDProjectStatus
	where a.IdProjectHeader = @ProjectHeaderID and a.isactive = 1

END




GO
