USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_List_EvaluasiCapaianProyek]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_List_EvaluasiCapaianProyek] -- exec Usp_Get_List_EvaluasiCapaianProyek 1,'2019',1
@Month int = null,
@Year varchar(4) = null,
@IsTransformasi bit = null,
@IDDirektorat int = null,
@Week int = null
	
AS
BEGIN
	
	declare @Date date = null;

	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());

	--if(@Week is null) set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);
	
	--if(
	--	@Year = (select Year from TblM_Date where Date = @Date)
	--	and @Month = (select Month from TblM_Date where Date = @Date)
	--	and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	--) begin set @Date = getdate() end
	--else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday' order by Date desc) end;

	if(@IsTransformasi = 1) begin 
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);
		if(
			@Year = (select Year from TblM_Date where Date = @Date)
			and @Month = (select Month from TblM_Date where Date = @Date)
			and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
		) begin set @Date = getdate() end
		else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday' order by Date desc) end;
	end
	else begin
		if(
			@Year = (select Year from TblM_Date where Date = @Date)
			and @Month = (select Month from TblM_Date where Date = @Date)
		) begin set @Date = getdate() end
		else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc) end;
	end;

	if(@IsTransformasi is null) begin
		if(@IDDirektorat = 0 or @IDDirektorat is null) begin
			
			select row_number() over (
					order by a.ProgramName asc
				) as NoUrut,
				a.IDProgram,
				a.ProgramName,
				a.ProgramNo,
				null as Description,
				@Year as Year,
				@IsTransformasi as IsTransformasi,
				@Month as Month
			from TblD_ListProject a
			where a.IsActive = 1
				and (@Year between a.StartYear and a.EndYear)
				and a.DateDownload = @Date
			group by a.IDProgram,
				a.ProgramName,
				a.ProgramNo

		end
		else begin
		
			select row_number() over (
					order by a.ProgramName asc
				) as NoUrut,
				a.IDProgram,
				a.ProgramName,
				a.ProgramNo,
				null as Description,
				@Year as Year,
				@IsTransformasi as IsTransformasi,
				@Month as Month
			from TblD_ListProject a
			where a.IsActive = 1
				and (@Year between a.StartYear and a.EndYear)
				and a.IDDirektorat = @IDDirektorat
				and a.DateDownload = @Date
			group by a.IDProgram,
				a.ProgramName,
				a.ProgramNo

		end;
	end
	else begin
		if(@IDDirektorat = 0 or @IDDirektorat is null) begin
			
			select row_number() over (
					order by a.ProgramName asc
				) as NoUrut,
				a.IDProgram,
				a.ProgramName,
				a.ProgramNo,
				null as Description,--a.Description,
				@Year as Year,--b.Year,
				@IsTransformasi as IsTransformasi,--b.IsTransformasi,
				@Month as Month--c.StartMonth as Month
			from TblD_ListProject a
			where a.IsActive = 1
				and (@Year between a.StartYear and a.EndYear) 
				and a.IsTransformasi = @IsTransformasi
				and a.DateDownload = @Date
			group by a.IDProgram,
				a.ProgramName,
				a.ProgramNo
				--a.Description;

		end
		else begin
		
			select row_number() over (
					order by a.ProgramName asc
				) as NoUrut,
				a.IDProgram,
				a.ProgramName,
				a.ProgramNo,
				null as Description,
				@Year as Year,
				@IsTransformasi as IsTransformasi,
				@Month as Month
			from TblD_ListProject a
			where a.IsActive = 1
				and (@Year between a.StartYear and a.EndYear)
				and a.IsTransformasi = @IsTransformasi
				and a.IDDirektorat = @IDDirektorat
				and a.DateDownload = @Date
			group by a.IDProgram,
				a.ProgramName,
				a.ProgramNo

		end;
	end;
	
END



GO
