USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_ProjectConstraintType]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_ProjectConstraintType](
	[IDConstraintType] [int] NULL,
	[Code] [varchar](50) NULL,
	[ConstraintType] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
