USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Generate_ProjectKPI3]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Generate_ProjectKPI3]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @Year int = Year(GetDate());
	declare @kpival table(idproject int,tw1 float,tw2 float,tw3 float,tw4 float,twyear int);
	declare @TW varchar(5) =  [dbo].[Ufn_GetTriwulan](Month(GetDate()));
	declare @YearTW varchar(6) = cast(cast(@Year as varchar(4)) + substring(@TW,3,1) as int)
	
	insert into @kpival
	select x.IDProject,Max(x.TW1) as tw1,Max(x.TW2) as tw2,Max(x.TW3) as tw3,Max(x.TW4) as tw4,@Year as Year
	from(
	select 
		bb.IDProject,
		case
			when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian > 100 then 100
			when bb.IsTransformasi = 1 and bb.Capaian > 105 then 105
			when bb.IsTransformasi = 0 and bb.Capaian > 100 then 100
			else bb.Capaian
		end as TW1,
		0 as TW2,
		0 as TW3,
		0 as TW4
	from
		(
		select Distinct
			tmppTemp.IDProject,
				round(
					Case 
						when tmppTemp.PlanPercentage is null Or tmppTemp.PlanPercentage = 0 then 0
						else (
								ISNULL(
									(
										select top 1 MPP.CompletePercentage
										from TblT_MPPProjectRealPercentage MPP
										where MPP.IDProjectHeader = tmppTemp.IDProjectHeader
											and MPP.TaskID = tmppTemp.TaskID
											and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
												<= cast(cast(tmppTemp.Year as varchar(5)) + '-' + Cast(tmppTemp.Month as varchar(3)) + '-' + Cast(tmppTemp.Week as varchar(2)) as date)
											and MPP.IsActive = 1
										order by MPP.Year desc, MPP.Month desc, MPP.Week desc
									), 0
								)
							/ISNULL(tmppTemp.PlanPercentage,0)) * 100
					end
			,0) as Capaian,
			tmppTemp.IsTransformasi,
			tmppTemp.Parent
		from
		(
			select TOP 1 with ties tmpp.IDProjectHeader,tmpp.TaskID,tmpp.Year,tmpp.Month,tmpp.week,PlanPercentage,tp.IsTransformasi,tp.Parent,tp.IDProject
			from TblT_MPPProjectPlanPercentage tmpp
			JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
			JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
			JOIN TblM_Project tp on tp.IDProject = tph.IDProject
			left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
			where [dbo].[Ufn_GetTriwulan](Month) = 'TW1' and tmpp.isActive = 1  and tmpd.ParentId = 0 and tmpd.IsActive = 1 and tph.IsActive = 1  
			and tp.IsActive = 1 and cast(cast(tmpp.Year as varchar(4)) + substring([dbo].[Ufn_GetTriwulan](tmpp.Month),3,1) as int) <= @YearTW
			order by row_number() over (partition by tmpp.IDProjectHeader,tmpp.TaskID order by tmpp.Year desc,tmpp.Month desc,tmpp.Week desc)
		) tmppTemp
		--LEFT JOIN TblT_MPPProjectRealPercentage tmrp on tmppTemp.IDProjectHeader = tmrp.IDProjectHeader and tmppTemp.TaskID = tmrp.TaskID and tmppTemp.week = tmrp.week and tmppTemp.Month = tmrp.Month and tmppTemp.Year = tmrp.Year and tmrp.IsActive = 1
	) bb
	
	union all
		
	select 
		bb.IDProject,
		0 as TW1,
		case
			when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian > 100 then 100
			when bb.IsTransformasi = 1 and bb.Capaian > 105 then 105
			when bb.IsTransformasi = 0 and bb.Capaian > 100 then 100
			else bb.Capaian
		end as TW2,
		0 as TW3,
		0 as TW4
	from
		(
		select Distinct
			tmppTemp.IDProject,
				round(
					Case 
						when tmppTemp.PlanPercentage is null Or tmppTemp.PlanPercentage = 0 then 0
						else (
								ISNULL(
									(
										select top 1 MPP.CompletePercentage
										from TblT_MPPProjectRealPercentage MPP
										where MPP.IDProjectHeader = tmppTemp.IDProjectHeader
											and MPP.TaskID = tmppTemp.TaskID
											and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
												<= cast(cast(tmppTemp.Year as varchar(5)) + '-' + Cast(tmppTemp.Month as varchar(3)) + '-' + Cast(tmppTemp.Week as varchar(2)) as date)
											and MPP.IsActive = 1
										order by MPP.Year desc, MPP.Month desc, MPP.Week desc
									), 0
								)
							/ISNULL(tmppTemp.PlanPercentage,0)) * 100
					end
			,0) as Capaian,
			tmppTemp.IsTransformasi,
			tmppTemp.Parent
		from
		(
			select TOP 1 with ties tmpp.IDProjectHeader,tmpp.TaskID,tmpp.Year,tmpp.Month,tmpp.week,PlanPercentage,tp.IsTransformasi,tp.Parent,tp.IDProject
			from TblT_MPPProjectPlanPercentage tmpp
			JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
			JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
			JOIN TblM_Project tp on tp.IDProject = tph.IDProject
			left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
			where [dbo].[Ufn_GetTriwulan](Month) = 'TW2' and tmpp.isActive = 1  and tmpd.ParentId = 0 and tmpd.IsActive = 1 and tph.IsActive = 1  
			and tp.IsActive = 1 and cast(cast(tmpp.Year as varchar(4)) + substring([dbo].[Ufn_GetTriwulan](tmpp.Month),3,1) as int) <= @YearTW
			order by row_number() over (partition by tmpp.IDProjectHeader,tmpp.TaskID order by tmpp.Year desc,tmpp.Month desc,tmpp.Week desc)
		) tmppTemp
		--LEFT JOIN TblT_MPPProjectRealPercentage tmrp on tmppTemp.IDProjectHeader = tmrp.IDProjectHeader and tmppTemp.TaskID = tmrp.TaskID and tmppTemp.week = tmrp.week and tmppTemp.Month = tmrp.Month and tmppTemp.Year = tmrp.Year and tmrp.IsActive = 1
	) bb
	
	union all
	
	select 
		bb.IDProject,
		0 as TW1,
		0 as TW2,
		case
			when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian > 100 then 100
			when bb.IsTransformasi = 1 and bb.Capaian > 105 then 105
			when bb.IsTransformasi = 0 and bb.Capaian > 100 then 100
			else bb.Capaian
		end as TW3,
		0 as TW4
	from
		(
		select Distinct
			tmppTemp.IDProject,
				round(
					Case 
						when tmppTemp.PlanPercentage is null Or tmppTemp.PlanPercentage = 0 then 0
						else (
								ISNULL(
									(
										select top 1 MPP.CompletePercentage
										from TblT_MPPProjectRealPercentage MPP
										where MPP.IDProjectHeader = tmppTemp.IDProjectHeader
											and MPP.TaskID = tmppTemp.TaskID
											and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
												<= cast(cast(tmppTemp.Year as varchar(5)) + '-' + Cast(tmppTemp.Month as varchar(3)) + '-' + Cast(tmppTemp.Week as varchar(2)) as date)
											and MPP.IsActive = 1
										order by MPP.Year desc, MPP.Month desc, MPP.Week desc
									), 0
								)
							/ISNULL(tmppTemp.PlanPercentage,0)) * 100
					end
			,0) as Capaian,
			tmppTemp.IsTransformasi,
			tmppTemp.Parent
		from
		(
			select TOP 1 with ties tmpp.IDProjectHeader,tmpp.TaskID,tmpp.Year,tmpp.Month,tmpp.week,PlanPercentage,tp.IsTransformasi,tp.Parent,tp.IDProject
			from TblT_MPPProjectPlanPercentage tmpp
			JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
			JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
			JOIN TblM_Project tp on tp.IDProject = tph.IDProject
			left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
			where [dbo].[Ufn_GetTriwulan](Month) = 'TW3' and tmpp.isActive = 1  and tmpd.ParentId = 0 and tmpd.IsActive = 1 and tph.IsActive = 1  
			and tp.IsActive = 1 and cast(cast(tmpp.Year as varchar(4)) + substring([dbo].[Ufn_GetTriwulan](tmpp.Month),3,1) as int) <= @YearTW
			order by row_number() over (partition by tmpp.IDProjectHeader,tmpp.TaskID order by tmpp.Year desc,tmpp.Month desc,tmpp.Week desc)
		) tmppTemp
		--LEFT JOIN TblT_MPPProjectRealPercentage tmrp on tmppTemp.IDProjectHeader = tmrp.IDProjectHeader and tmppTemp.TaskID = tmrp.TaskID and tmppTemp.week = tmrp.week and tmppTemp.Month = tmrp.Month and tmppTemp.Year = tmrp.Year and tmrp.IsActive = 1
	) bb
	
	union all
	
	select 
		bb.IDProject,
		0 as TW1,
		0 as TW2,
		0 as TW3,
		case
			when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian > 100 then 100
			when bb.IsTransformasi = 1 and bb.Capaian > 105 then 105
			when bb.IsTransformasi = 0 and bb.Capaian > 100 then 100
			else bb.Capaian
		end as TW4
	from
		(
		select Distinct
			tmppTemp.IDProject,
				round(
					Case 
						when tmppTemp.PlanPercentage is null Or tmppTemp.PlanPercentage = 0 then 0
						else (
								ISNULL(
									(
										select top 1 MPP.CompletePercentage
										from TblT_MPPProjectRealPercentage MPP
										where MPP.IDProjectHeader = tmppTemp.IDProjectHeader
											and MPP.TaskID = tmppTemp.TaskID
											and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
												<= cast(cast(tmppTemp.Year as varchar(5)) + '-' + Cast(tmppTemp.Month as varchar(3)) + '-' + Cast(tmppTemp.Week as varchar(2)) as date)
											and MPP.IsActive = 1
										order by MPP.Year desc, MPP.Month desc, MPP.Week desc
									), 0
								)
							/ISNULL(tmppTemp.PlanPercentage,0)) * 100
					end
			,0) as Capaian,
			tmppTemp.IsTransformasi,
			tmppTemp.Parent
		from
		(
			select TOP 1 with ties tmpp.IDProjectHeader,tmpp.TaskID,tmpp.Year,tmpp.Month,tmpp.week,PlanPercentage,tp.IsTransformasi,tp.Parent,tp.IDProject
			from TblT_MPPProjectPlanPercentage tmpp
			JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
			JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
			JOIN TblM_Project tp on tp.IDProject = tph.IDProject
			left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
			where [dbo].[Ufn_GetTriwulan](Month) = 'TW4' and tmpp.isActive = 1  and tmpd.ParentId = 0 and tmpd.IsActive = 1 and tph.IsActive = 1  
			and tp.IsActive = 1 and cast(cast(tmpp.Year as varchar(4)) + substring([dbo].[Ufn_GetTriwulan](tmpp.Month),3,1) as int) <= @YearTW
			order by row_number() over (partition by tmpp.IDProjectHeader,tmpp.TaskID order by tmpp.Year desc,tmpp.Month desc,tmpp.Week desc)
		) tmppTemp
		--LEFT JOIN TblT_MPPProjectRealPercentage tmrp on tmppTemp.IDProjectHeader = tmrp.IDProjectHeader and tmppTemp.TaskID = tmrp.TaskID and tmppTemp.week = tmrp.week and tmppTemp.Month = tmrp.Month and tmppTemp.Year = tmrp.Year and tmrp.IsActive = 1
	) bb
	)x
	group by IDProject
	
	declare inskpicur cursor for
	select * from @kpival
	
	declare @idproject int, @tw1 float,@tw2 float,@tw3 float,@tw4 float,@twyear int;
	open inskpicur;
	fetch next from inskpicur into @idproject, @tw1, @tw2, @tw3, @tw4, @twyear
	while @@fetch_status = 0
	begin
		exec Usp_Insert_MasterKPIValue2 @idproject, @tw1, @tw2, @tw3, @tw4, @twyear
	
		fetch next from inskpicur into @idproject, @tw1, @tw2, @tw3, @tw4, @twyear
	end
	close inskpicur
	deallocate inskpicur
	
	SELECT 'S|Success'

END



GO
