USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblD_OverAllProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblD_OverAllProject](
	[IDOverAllProject] [int] IDENTITY(1,1) NOT NULL,
	[DateDownload] [date] NULL,
	[IDDirektorat] [int] NULL,
	[IDDepartment] [int] NULL,
	[IDStrategicObjective] [int] NULL,
	[DirektoratCode] [nvarchar](max) NULL,
	[DepartmentCode] [nvarchar](max) NULL,
	[StrategicObjectiveCode] [nvarchar](max) NULL,
	[DirektoratName] [nvarchar](max) NULL,
	[DepartmentName] [nvarchar](max) NULL,
	[StrategicObjectiveName] [nvarchar](max) NULL,
	[IsTransformasi] [bit] NULL,
	[StartYear] [nvarchar](4) NULL,
	[EndYear] [nvarchar](4) NULL,
	[UpdaedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblD_OverAllProject] PRIMARY KEY CLUSTERED 
(
	[IDOverAllProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
