USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_TransaksiClosingProjectHeader_ByID]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:	Mendapatkan master program yang aktif
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_TransaksiClosingProjectHeader_ByID] -- exec Usp_Get_TransaksiClosingProjectHeader_ByID 219
	-- Add the parameters for the stored procedure here
	@IDProjectHeader int = null

AS
BEGIN
	
	/*
	SET NOCOUNT ON added to prevent extra result sets from
	interfering with SELECT statements.
	*/
	
	set nocount on;

	select a.ProjectName,
		b.IDProjectHeader,
		
		c.IDProjectClosing,
		case
			when c.ClosingDate is not null then c.ClosingDate
			else 
			(
				SELECT TOP (1) g.Date
				FROM TblT_MPPProjectPlanDetail f
					left join TblT_MPPProjectRealDetail g on f.IDMPPProjectPlanDetail = g.IDMPPProjectPlanDetail and c.IsActive = 1
				where f.ProjectHeaderID = b.IDProjectHeader and f.IsActive = 1
				order by g.Date desc
			)
		end as ClosingDate,
		c.Remarks,
		c.WhatWorkWell,
		c.WhatDidNotWorkWell,
		c.WhatCanBeImproved,
		c.CreatedDate,
		c.CreatedBy,
		c.UpdatedDate,
		c.UpdatedBy,
		c.IsActive,

		case
			when d.StatusName = 'CLOSE CR' then 'CLOSE'
			else d.StatusName
		end as StatusName

	from TblM_Project a
		left join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IsActive = 1
		left join TblT_ProjectClosing c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1
		left join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus
	where b.IDProjectHeader = @IDProjectHeader and a.IsActive = 1;
	
	select doc.IDDocument as [ID],
		doc.DocumentName as [DocName],
		dt.Description as [DocType]
	from TblT_Document doc
		inner join TblM_DocumentType dt on doc.IDDocType = dt.IDDocType
	where IDProjectHeader = (select dbo.Ufn_GetProjectHeaderRoot(@IDProjectHeader))--@IDProjectHeader
		and IDDocPhase = '3'
		and doc.IsActive = '1'
		and doc.DocumentName not like '%.mpp'
	order by doc.CreatedDate desc;
	
END




GO
