USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_Project_ExecutionList]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_Project_ExecutionList] --exec Usp_Insert_Project_ExecutionList 100, 'training10';
	-- Add the parameters for the stored procedure here
	@IDProjectHeader int = null,
	@Username varchar(4) = ''

AS
BEGIN

	/*
	SET NOCOUNT ON added to prevent extra result sets from
	interfering with SELECT statements.
	*/
	
	set nocount on;

	begin try
	
		begin transaction;
		
		declare @year varchar(4) , @month int , @week int, @date date, @lastDay varchar(20), @lastWeek int;
		
		select @date = convert(Date, dateadd(wk,-1,getdate()));

		select @year = D.Year , @month = D.Month , @week = D.WeekOfMonth 
		from TblM_Date D
		where D.Date = @date;

		select top 1 @lastDay = WeekDayName, @lastWeek = WeekOfMonth
		from TblM_Date
		where Year = @year and Month = @month
		order by Date desc;
		
		if (@lastDay not like 'Saturday' and @Week = @lastWeek) begin
				
			select @year = D.Year , @month = D.Month , @week = 1
			from TblM_Date D
			where D.Date = cast(getdate() as date);

		end;

		if exists (select IDProjectHeader from TblG_Project_ExecutionList where IDProjectHeader = @IDProjectHeader) begin
			
			delete from TblG_Project_ExecutionList where IDProjectHeader = @IDProjectHeader;

			insert into TblG_Project_ExecutionList
			(
				IDProject,
				IDProjectHeader,
				ProjectName,
				StartDate,
				EndDate,
				TaskID,
				Realisasi,
				Planning,
				Pencapaian,
				IsTransformasi,
				LastUpdateBy,
				LastUpdateDate
			)
			select distinct
				PH.IDProject,
				PH.IDProjectHeader,
				PROJ.ProjectName,
				PPD.StartDate,
				PPD.EndDate,
				PPD.TaskID,
				
				isnull(
					(
						select top 1 CompletePercentage
						from TblT_MPPProjectRealPercentage PRP
						where PRP.TaskID = PPD.TaskID
							and PRP.IDProjectHeader = PH.IDProjectHeader
							and PRP.IsActive = '1'
						order by cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)),2) + '-' + cast(PRP.Week as varchar(1)) as date) desc
					),0
				) as Realisasi,

				case
					when Proj.IsTransformasi = '1'
					then isnull(
						(
							select top 1 PlanPercentage
							from TblT_MPPProjectPlanPercentage PRP
							where PRP.TaskID = PPD.TaskID
								and PRP.IDProjectHeader = PH.IDProjectHeader
								and PRP.IsActive = '1'
								and cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)), 2) + '-' + cast(PRP.Week as varchar(1)) as date)
									<=
									cast(cast(@year as varchar(4)) + '-' + right('00' + cast(@month as varchar(2)), 2) + '-' + cast(@week as varchar(1)) as date)
							order by cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + CAST(PRP.Month as varchar(2)), 2) + '-' + cast(PRP.Week as varchar(1)) as date) desc
						), 0
					)
					else isnull(
						(
							select top 1 max(PlanPercentage) 
							from TblT_MPPProjectPlanPercentage PRP
							where PRP.TaskID = PPD.TaskID
								and PRP.IDProjectHeader = PH.IDProjectHeader
								and PRP.IsActive = '1'
								and cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)),2) + '-1' as date)
									<=
									cast(cast(@year as varchar(4)) + '-' + right('00' + cast(@month as varchar(2)),2) + '-1' as date)
							group by PRP.Year, PRP.Week, PRP.Month
							order by cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)),2) + '-' + cast(PRP.week as varchar(1)) as date) desc
						), 0
					) 
				end as Planning,
				
				null as Pencapaian,
				PROJ.IsTransformasi,
				
				(
					select top 1  UG.User_LoginName 
					from TblT_ProjectExecutionApprovalRole PEAR
						inner join TblDW_Usergroup UG on PEAR.Username = UG.User_LoginName
						inner join TblDW_Employee Em on UG.Usergroup_Pernr = Em.PersonalNumber
					where PEAR.IDProjectHeader = PH.IDProjectHeader
						and PEAR.IsApprove = '1'
						and PEAR.IsActive = '1'		
					order by PEAR.UpdatedDate desc
				) as LastUpdateBy,
				
				(
					select top 1 PEAR.UpdatedDate
					from TblT_ProjectExecutionApprovalRole PEAR
						inner join TblDW_Usergroup UG on PEAR.Username = UG.User_LoginName
						inner join TblDW_Employee Em on UG.Usergroup_Pernr = Em.PersonalNumber
					where PEAR.IDProjectHeader = PH.IDProjectHeader
						and PEAR.IsApprove = '1'
						and PEAR.IsActive = '1'		
					order by PEAR.UpdatedDate desc	
				) as LastUpdateDate
			from TblM_Project PROJ
				inner join TblT_ProjectHeader PH on PROJ.IDProject = PH.IDProject
				inner join TblT_MPPProjectPlanDetail PPD on PH.IDProjectHeader = PPD.ProjectHeaderID and PPD.ParentID = 0 and PPD.IsActive = '1' and
					PPD.TaskID =  (
						select top 1 MPD.TaskID
						from TblT_MPPProjectPlanDetail MPD
						where MPD.ProjectHeaderID = PH.IDProjectHeader
							and MPD.IsActive = '1'
							and MPD.ParentID = 0
						order by TaskID ASC
					)
			where PROJ.IsActive = '1'
				and PH.IDProjectStatus in( '2','4','7','10','11' )
				and IDProjectHeader = @IDProjectHeader;

		end
		else if (@IDProjectHeader is null) begin
		
			delete from TblG_Project_ExecutionList;

			insert into TblG_Project_ExecutionList
			(
				IDProject,
				IDProjectHeader,
				ProjectName,
				StartDate,
				EndDate,
				TaskID,
				Realisasi,
				Planning,
				Pencapaian,
				IsTransformasi,
				LastUpdateBy,
				LastUpdateDate
			)
			select distinct
				PH.IDProject,
				PH.IDProjectHeader,
				PROJ.ProjectName,
				PPD.StartDate,
				PPD.EndDate,
				PPD.TaskID,
				
				isnull(
					(
						select top 1 CompletePercentage
						from TblT_MPPProjectRealPercentage PRP
						where PRP.TaskID = PPD.TaskID
							and PRP.IDProjectHeader = PH.IDProjectHeader
							and PRP.IsActive = '1'
						order by cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)),2) + '-' + cast(PRP.Week as varchar(1)) as date) desc
					),0
				) as Realisasi,

				case
					when Proj.IsTransformasi = '1'
					then isnull(
						(
							select top 1 PlanPercentage
							from TblT_MPPProjectPlanPercentage PRP
							where PRP.TaskID = PPD.TaskID
								and PRP.IDProjectHeader = PH.IDProjectHeader
								and PRP.IsActive = '1'
								and cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)), 2) + '-' + cast(PRP.Week as varchar(1)) as date)
									<=
									cast(cast(@year as varchar(4)) + '-' + right('00' + cast(@month as varchar(2)), 2) + '-' + cast(@week as varchar(1)) as date)
							order by cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + CAST(PRP.Month as varchar(2)), 2) + '-' + cast(PRP.Week as varchar(1)) as date) desc
						), 0
					)
					else isnull(
						(
							select top 1 max(PlanPercentage) 
							from TblT_MPPProjectPlanPercentage PRP
							where PRP.TaskID = PPD.TaskID
								and PRP.IDProjectHeader = PH.IDProjectHeader
								and PRP.IsActive = '1'
								and cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)),2) + '-1' as date)
									<=
									cast(cast(@year as varchar(4)) + '-' + right('00' + cast(@month as varchar(2)),2) + '-1' as date)
							group by PRP.Year, PRP.Week, PRP.Month
							order by cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)),2) + '-' + cast(PRP.week as varchar(1)) as date) desc
						), 0
					) 
				end as Planning,
				
				null as Pencapaian,
				PROJ.IsTransformasi,
				
				(
					select top 1  UG.User_LoginName 
					from TblT_ProjectExecutionApprovalRole PEAR
						inner join TblDW_Usergroup UG on PEAR.Username = UG.User_LoginName
						inner join TblDW_Employee Em on UG.Usergroup_Pernr = Em.PersonalNumber
					where PEAR.IDProjectHeader = PH.IDProjectHeader
						and PEAR.IsApprove = '1'
						and PEAR.IsActive = '1'		
					order by PEAR.UpdatedDate desc
				) as LastUpdateBy,
				
				(
					select top 1 PEAR.UpdatedDate
					from TblT_ProjectExecutionApprovalRole PEAR
						inner join TblDW_Usergroup UG on PEAR.Username = UG.User_LoginName
						inner join TblDW_Employee Em on UG.Usergroup_Pernr = Em.PersonalNumber
					where PEAR.IDProjectHeader = PH.IDProjectHeader
						and PEAR.IsApprove = '1'
						and PEAR.IsActive = '1'		
					order by PEAR.UpdatedDate desc	
				) as LastUpdateDate
			from TblM_Project PROJ
				inner join TblT_ProjectHeader PH on PROJ.IDProject = PH.IDProject
				inner join TblT_MPPProjectPlanDetail PPD on PH.IDProjectHeader = PPD.ProjectHeaderID and PPD.ParentID = 0 and PPD.IsActive = '1' and
					PPD.TaskID =  (
						select top 1 MPD.TaskID
						from TblT_MPPProjectPlanDetail MPD
						where MPD.ProjectHeaderID = PH.IDProjectHeader
							and MPD.IsActive = '1'
							and MPD.ParentID = 0
						order by TaskID ASC
					)
			where PROJ.IsActive = '1'
				and PH.IDProjectStatus in( '2','4','7','10','11' );

		end
		else begin
			
			insert into TblG_Project_ExecutionList
			(
				IDProject,
				IDProjectHeader,
				ProjectName,
				StartDate,
				EndDate,
				TaskID,
				Realisasi,
				Planning,
				Pencapaian,
				IsTransformasi,
				LastUpdateBy,
				LastUpdateDate
			)
			select distinct
				PH.IDProject,
				PH.IDProjectHeader,
				PROJ.ProjectName,
				PPD.StartDate,
				PPD.EndDate,
				PPD.TaskID,
				
				isnull(
					(
						select top 1 CompletePercentage
						from TblT_MPPProjectRealPercentage PRP
						where PRP.TaskID = PPD.TaskID
							and PRP.IDProjectHeader = PH.IDProjectHeader
							and PRP.IsActive = '1'
						order by cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)),2) + '-' + cast(PRP.Week as varchar(1)) as date) desc
					),0
				) as Realisasi,

				case
					when Proj.IsTransformasi = '1'
					then isnull(
						(
							select top 1 PlanPercentage
							from TblT_MPPProjectPlanPercentage PRP
							where PRP.TaskID = PPD.TaskID
								and PRP.IDProjectHeader = PH.IDProjectHeader
								and PRP.IsActive = '1'
								and cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)), 2) + '-' + cast(PRP.Week as varchar(1)) as date)
									<=
									cast(cast(@year as varchar(4)) + '-' + right('00' + cast(@month as varchar(2)), 2) + '-' + cast(@week as varchar(1)) as date)
							order by cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + CAST(PRP.Month as varchar(2)), 2) + '-' + cast(PRP.Week as varchar(1)) as date) desc
						), 0
					)
					else isnull(
						(
							select top 1 max(PlanPercentage) 
							from TblT_MPPProjectPlanPercentage PRP
							where PRP.TaskID = PPD.TaskID
								and PRP.IDProjectHeader = PH.IDProjectHeader
								and PRP.IsActive = '1'
								and cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)),2) + '-1' as date)
									<=
									cast(cast(@year as varchar(4)) + '-' + right('00' + cast(@month as varchar(2)),2) + '-1' as date)
							group by PRP.Year, PRP.Week, PRP.Month
							order by cast(cast(PRP.Year as varchar(4)) + '-' + right('00' + cast(PRP.Month as varchar(2)),2) + '-' + cast(PRP.week as varchar(1)) as date) desc
						), 0
					) 
				end as Planning,
				
				null as Pencapaian,
				PROJ.IsTransformasi,
				
				(
					select top 1  UG.User_LoginName 
					from TblT_ProjectExecutionApprovalRole PEAR
						inner join TblDW_Usergroup UG on PEAR.Username = UG.User_LoginName
						inner join TblDW_Employee Em on UG.Usergroup_Pernr = Em.PersonalNumber
					where PEAR.IDProjectHeader = PH.IDProjectHeader
						and PEAR.IsApprove = '1'
						and PEAR.IsActive = '1'		
					order by PEAR.UpdatedDate desc
				) as LastUpdateBy,
				
				(
					select top 1 PEAR.UpdatedDate
					from TblT_ProjectExecutionApprovalRole PEAR
						inner join TblDW_Usergroup UG on PEAR.Username = UG.User_LoginName
						inner join TblDW_Employee Em on UG.Usergroup_Pernr = Em.PersonalNumber
					where PEAR.IDProjectHeader = PH.IDProjectHeader
						and PEAR.IsApprove = '1'
						and PEAR.IsActive = '1'		
					order by PEAR.UpdatedDate desc	
				) as LastUpdateDate
			from TblM_Project PROJ
				inner join TblT_ProjectHeader PH on PROJ.IDProject = PH.IDProject and PH.IDProjectHeader = @IDProjectHeader
				inner join TblT_MPPProjectPlanDetail PPD on PH.IDProjectHeader = PPD.ProjectHeaderID and PPD.ParentID = 0 and PPD.IsActive = '1' and
					PPD.TaskID =  (
						select top 1 MPD.TaskID
						from TblT_MPPProjectPlanDetail MPD
						where MPD.ProjectHeaderID = PH.IDProjectHeader
							and MPD.IsActive = '1'
							and MPD.ParentID = 0
						order by TaskID ASC
					)
			where PROJ.IsActive = '1'
				and PH.IDProjectStatus in ( '2','4' );

		end;

		commit transaction;

	end try
	begin catch

		rollback;

		declare @ErrMsg varchar(max),
			@ErrNum int;

		select @ErrMsg = error_message(),
			@ErrNum = error_number();

		exec Usp_Insert_ErrorLog 'Usp_Insert_Project_ExecutionList'
			,@ErrNum
			,@ErrMsg
			,@Username;

		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;

	end catch;

END




GO
