USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_File]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_File] 
	@ProjectHeaderID int,
	@Phase int
AS
BEGIN
	SELECT 
		doc.IDDocument as ID , doc.DocumentName as [Name]
	FROM
	TblT_Document doc
	where
	IDProjectHeader = @ProjectHeaderID
	and 
	IDDocPhase = @Phase
END




GO
