USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_ProjectConstraint]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_ProjectConstraint] AS TABLE(
	[IDProjectConstraint] [int] NULL,
	[IDProjectHeader] [int] NULL,
	[IDConstraintType] [int] NULL,
	[Description] [varchar](max) NULL,
	[Remarks] [varchar](max) NULL,
	[Problem] [varchar](max) NULL
)
GO
