USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[mobile_dashboard_sumamry]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mobile_dashboard_sumamry] -- exec mobile_dashboard_sumamry Direktorat
@filter nvarchar(255) -- Unit Kerja, Direktorat,Strategic Objective
as

declare @year nvarchar(30)
declare @month nvarchar(30)
declare @week nvarchar(30)

select @year = Year from TblM_Date where Date = CAST(GETDATE() as date)
select @month = Month from TblM_Date where Date = CAST(GETDATE() as date)
select @week = WeekOfMonth from TblM_Date where Date = CAST(GETDATE() as date)
exec dbo.Get_DashboardSummary @year, @month, @filter, @week




GO
