USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_UserAuthorizedList_BAK]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_UserAuthorizedList_BAK] 
AS
BEGIN
	SELECT 
	   EMP.Nama, EMP.Posisi,  
	   (
		SELECT ISNULL(Proj.ProjectNo,0)+ ' - ' + Proj.ProjectName + '; '
		FROM 
			TblT_ProjectRoleGroup PRS
		INNER JOIN
			TblT_UserAuthorized UAs
		ON
			PRS.Username = UAs.Username
		INNER JOIN
			TblM_RoleGroup RG
		ON
			PRS.IDRoleGroup = RG.IDRoleGroup
		INNER JOIN
			TblT_ProjectHeader PH
		ON
			PRS.IDProjectHeader = PH.IDProjectHeader
		INNER JOIN 
			TblM_Project Proj
		ON
			PH.IDProject = Proj.IDProject
		where
			PRS.Username = UA.Username
			AND
			PRS.IsActive = '1'
			AND
			UAs.IsActive = '1'
			AND
				PH.IsActive = '1'
		GROUP BY ISNULL(Proj.ProjectNo,0) , Proj.ProjectName
		FOR XML PATH('')

		) Project ,
		(
			SELECT RG.Description + '( ' + Proj.ProjectName +' )'+ '; '
			FROM 
				TblT_ProjectRoleGroup PRS
			INNER JOIN
				TblT_UserAuthorized UAs
			ON
				PRS.Username = UAs.Username
			INNER JOIN
				TblM_RoleGroup RG
			ON
				PRS.IDRoleGroup = RG.IDRoleGroup
			INNER JOIN
				TblT_ProjectHeader PH
			ON
				PRS.IDProjectHeader = PH.IDProjectHeader
			INNER JOIN 
				TblM_Project Proj
			ON
				PH.IDProject = Proj.IDProject
			where
				PRS.Username = UA.Username
				AND
				PRS.IsActive = '1'
				AND
				UAs.IsActive = '1'
				AND
				PH.IsActive = '1'
			FOR XML PATH('')

			--SELECT TOP 1 RG.Description FROM
			--TblT_ProjectRoleGroup PRG
			--INNER JOIN 
			--TblM_RoleGroup RG
			--ON
			--PRG.IDRoleGroup
			--= 
			--RG.IDRoleGroup
			--WHERE
			--PRG.Username
			--=  UA.Username
			--ORDER BY
			--PRG.IDProjectRoleGroup DESC

			--SELECT rg.Description FROM 
			--TblT_UserAuthorized uaa
			--INNER JOIN 
			--TblM_RoleGroup rg
			--on
			--uaa.IDRoleGroup = rg.IDRoleGroup
			--where
			--uaa.PersonNumber = UA.PersonNumber
		) Roles , UA.PersonNumber as PersonNumber
	FROM TblT_UserAuthorized UA
	INNER JOIN
		TblDW_Usergroup UG
	ON UA.Username = UG.User_LoginName
	INNER JOIN
	   TblDW_Employee EMP
	ON EMP.PersonalNumber = UA.PersonNumber
	WHERE
	IsActive = '1'
	GROUP BY EMP.Nama , EMP.Posisi, UA.Username,  UA.PersonNumber
END




GO
