USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Report_DetailAnggaran_Header]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_Report_DetailAnggaran_Header] -- exec [dbo].[Usp_Get_Report_DetailAnggaran_Header] null
	-- Add the parameters for the stored procedure here
	@IDDirektorat int = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if(@IDDirektorat is null) set @IDDirektorat = 0;
	--if(@IDDepartment is null) set @IDDepartment = 0;

	if(@IDDirektorat = 0) begin
		
		select IDDepartment, DepartmentCode, DepartmentName
		from TblM_Department
		where IsActive = 1;

	end
	else if(@IDDirektorat <> 0) begin
		
		select IDDepartment, DepartmentCode, DepartmentName
		from TblM_Department
		where IsActive = 1
			and IDDirektorat = @IDDirektorat;

	end;
END




GO
