USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_StringRKAT_ByID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_StringRKAT_ByID]
	-- Add the parameters for the stored procedure here
	-- exec [Usp_Get_StringRKAT_ByID] '424' 
	@IDProjectHeader int
AS
BEGIN
	SET NOCOUNT ON;

  
select KodeMataAnggaran = STUFF(
                 (SELECT ', ' + cast(a.IDSAP as varchar(500)) from TblSAP_MasterRKAT a
		left join TblT_ProjectRKAT b on a.IDSAPMasterRKAT = b.IDSAPMasterRKAT
		left join TblT_ProjectHeader c on b.IDProjectHeader = c.IDProjectHeader
		left join TblM_Project d on c.IDProject = d.IDProject
	where b.IsActive = 1 and c.IsActive = 1 and d.IsActive = 1 and d.IDProject = @IDProjectHeader FOR XML PATH ('')), 1, 2, '')  
		 
END
GO
