USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_MPPTaskDetailReal]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_MPPTaskDetailReal] AS TABLE(
	[IDPlanning] [bigint] NULL,
	[taskID] [varchar](6) NULL,
	[taskName] [varchar](300) NULL,
	[taskGUID] [varchar](max) NULL,
	[taskStart] [datetime] NULL,
	[taskEnd] [datetime] NULL,
	[taskCompleted] [varchar](max) NULL,
	[taskDuration] [varchar](max) NULL,
	[taskParent] [varchar](max) NULL,
	[taskOutlineNumber] [varchar](max) NULL,
	[taskOutlineLevel] [varchar](max) NULL,
	[taskPredecessor] [varchar](max) NULL,
	[taskSuccessor] [varchar](max) NULL,
	[taskNotes] [varchar](max) NULL,
	[taskType] [varchar](1) NULL
)
GO
