USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_New_ManajemenAkun]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_New_ManajemenAkun] --50000278
	@PersonNumber varchar(50) =  null
AS
BEGIN

	declare @username varchar(50);

	if @PersonNumber = 'RIN' begin
		SET @username = 'Training10'
	end
	else begin
		select @username = User_LoginName
		from TblDW_Usergroup
		where Usergroup_Pernr = @PersonNumber
	end;

	select b.IDProjectHeader,
		c.ProgramName,
		a.ProjectNo,
		a.ProjectName,
		
		case
			when mm.[9] is null or mm.[9] = 0 then '<input type="checkbox" value="9" id="'+ convert(varchar(3), b.IDPRojectHeader) + '_9" name="rolenm" >'
			else '<input type="checkbox" value="9" id="' + convert(varchar(3), b.IDPRojectHeader) + '_9" checked = "true" name="rolenm" class="ceklis">'
		end as ProjectTeam,
		
		case
			when mm.[2] is null or mm.[2] = 0 then '<input type="checkbox" value="2" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_2" name="rolenm">'
			else '<input type="checkbox" value="2" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_2"checked = "true" name="rolenm" class="ceklis">'
		end as ProjectAdmin,

		case
			when mm.[3] is null or mm.[3] = 0 then '<input type="checkbox" value="3" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_3" name="rolenm">'
			else '<input type="checkbox" value="3" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_3" checked = "true" name="rolenm" class="ceklis">'
		end as ProjectManager,

		case
			when mm.[4] is null or mm.[4] = 0 then '<input type="checkbox" value="4" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_4" name="rolenm">'
			else '<input type="checkbox" value="4" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_4" checked = "true" name="rolenm" class="ceklis">'
		end as AdminPMO,

		case
			when mm.[5] is null or mm.[5] = 0 then '<input type="checkbox" value="5" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_5" name="rolenm">'
			else '<input type="checkbox" value="5" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_5" checked = "true" name="rolenm" class="ceklis">'
		end as PMO,

		case
			when mm.[6] is null or mm.[6] = 0 then '<input type="checkbox" value="6" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_6" name="rolenm">'
			else '<input type="checkbox" value="6" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_6" checked = "true" name="rolenm" class="ceklis">'
		end as HeadOfPMO,

		case
			when mm.[7] is null or mm.[7] = 0 then '<input type="checkbox" value="7" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_7" name="rolenm">'
			else '<input type="checkbox" value="7" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_7" checked = "true" name="rolenm" class="ceklis">'
		end as ProjectOwner,

		case
			when mm.[8] is null or mm.[8] = 0 then '<input type="checkbox" value="8" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_8" name="rolenm">'
			else '<input type="checkbox" value="8" id="'+ convert(varchar(3),b.IDPRojectHeader) +'_8" checked = "true" name="rolenm" class="ceklis">'
		end as ProjectSponsor
	
	from TblM_Project a
		inner join TblT_ProjectHeader b on a.IDProject = b.IDProject
		inner join TblM_Program c on a.IDProgram = c.IDProgram
		inner join TblM_Department d on a.IDDepartment = d.IDDepartment
		left join (
			select *
			from (
				select IDProjectHeader as PID, IDRoleGroup
				from TblT_ProjectInitApprovalRole
				where Username = @username 
					and IsActive = 1
			) as Roles
		pivot (count(IDRoleGroup)
			for IDRoleGroup IN ([9] , [2] , [3], [4],[5],[6],[7],[8]))
	as PVT
	) mm
	ON
	b.IDProjectHeader = mm.PID
	WHERE
	a.IsActive = 1
	AND
	c.IsActive = 1
	AND
	d.IsActive = 1
	ORDER BY
	mm.[9]  DESC,
	mm.[2] DESC, 
	mm.[3] DESC, 
	mm.[4] DESC, 
	mm.[5] DESC, 
	mm.[6] DESC, 
	mm.[7] DESC, 
	mm.[8] DESC
END





GO
