USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Migrate_InsertRealiasiFix]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Migrate_InsertRealiasiFix]
	@IDProjectHeader int ,
	@Week int ,
	@Month int , 
	@Year int
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION			
			INSERT INTO TblT_MPPProjectRealPercentage
			(
				 [IDProjectHeader]
				,[TaskID]
				,[Week]
				,[Month]
				,[Year]
				,[RealPercentage]
				,[CompletePercentage]
				,[CreatedDate]
				,[CreatedBy]
				,[UpdatedDate]
				,[UpdatedBy]
				,[IsActive]
			)
			SELECT 
				 a.ProjectHeaderID
				,b.[TaskID]
				,b.[Week]
				,b.[Month]
				,b.[Year]
				,null
				,b.PercentageComplete
				,b.[CreatedDate]
				,b.[CreatedBy]
				,b.[UpdatedDate]
				,b.[UpdatedBy]
				,b.[IsActive]
			FROM
			TblT_MPPProjectPlanDetail a
			INNER JOIN 
			TblT_MPPProjectRealDetail b
			ON
			a.IDMPPProjectPlanDetail = b.IDMPPProjectPlanDetail
			WHERE
			a.ProjectHeaderID = @IDProjectHeader
			AND
			b.Week = @Week
			AND
			b.Month = @Month
			AND
			b.Year = @Year
			AND
			b.ParentID = 0

			DECLARE @Periode varchar(max) = CONVERT(varchar(max) , @Year) + '-' +   CONVERT(varchar(max) , @Month) + '-' +  CONVERT(varchar(max) , @Week) 

			INSERT INTO 
				TblT_ProjectExecutionStatus
				(
					[IDProjectHeaderID],
					[ProjectStatus],
					[Periode],
					[CreatedBy],
					[CreatedDate],
					[IsActive]
				)
				VALUES 
				(
					@IDProjectHeader,
					'Approved',
					@Periode,
					'System',
					GETDATE(),
					'1'
				)
				 
			SELECT 'SUCCESS'
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT ERROR_MESSAGE()
	END CATCH
END





GO
