USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Scheduller_Get_Email_DataNonTrans2]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- Perubahan pada kolom status dan penambahan flagging status project 3(cancel) tanggal 11/5/2020
-- Updated by : Septian Yuda Prakasa
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Scheduller_Get_Email_DataNonTrans2]
	-- Add the parameters for the stored procedure here
	@username varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @Week int = null;
	declare @NTcurrentDate date = (select dateadd(month, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 0), cast(getdate() as date)));	
	declare @Year int = Year(@NTcurrentDate)
	declare @Month int = Month(@NTcurrentDate) 

	select distinct
	tmpd.ProjectHeaderId as IDProjectHeader,
	tp.ProjectName,
	round((isnull(x.CompletePercentage, 0) / ISNULL(tmpp.PlanPercentage,0)) * 100,0) as Pencapaian,
	CASE 
		WHEN
		((round(isnull(x.CompletePercentage, 0),0) / round(ISNULL(tmpp.PlanPercentage,0),0)) * 100) >= 110 --and ((round(isnull(x.CompletePercentage, 0),0) / round(ISNULL(tmpp.PlanPercentage,0),0)) * 100) < 100
		THEN
			--'Di atas Target'
			'background-color : blue;'
			--'<div style="height: 10px; width: 10px;background-color: green;"></div>'
		WHEN
		((round(isnull(x.CompletePercentage, 0),0) / round(ISNULL(tmpp.PlanPercentage,0),0)) * 100) >= 100 --and ((round(isnull(x.CompletePercentage, 0),0) / round(ISNULL(tmpp.PlanPercentage,0),0)) * 100) < 100
		THEN
			--'Sesuai Target'
			'background-color : green;'
			--'<div style="height: 10px; width: 10px;background-color: green;"></div>'
		WHEN
		((round(isnull(x.CompletePercentage, 0),0) / round(ISNULL(tmpp.PlanPercentage,0),0)) * 100) >= 85 --and ((round(isnull(x.CompletePercentage, 0),0) / round(ISNULL(tmpp.PlanPercentage,0),0)) * 100) < 100
		THEN
			--'Sedikit dibawah Target'
			'background-color : Yellow;'
			--'<div style="height: 10px; width: 10px;background-color: yellow;"></div>'
		ELSE
			'background-color : Red;'
			--'<div style="height: 10px; width: 10px;background-color: red;"></div>'
			--'Jauh dibawah Target'
		END
	as [Status]	,
	PIAR.Username,
	CONVERT(varchar(max),round(isnull(x.CompletePercentage, 0),0)) + ' %'  as Realisasi ,
	CONVERT(varchar(max),round(ISNULL(tmpp.PlanPercentage,0),0)) + ' %' as Planing ,
	CONVERT(varchar(11) ,CONVERT(DATE,tpe.LastUpdateDate) , 106)  as LastUpdate,
	cast(tp.IsTransformasi as int) as IsTransformasi
	from TblT_MPPProjectPlanDetail tmpd
	join
	(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
		from TblT_MPPProjectPlanPercentage
		where Month = @Month and Year = @Year 
		and isActive = 1 
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
	JOIN (
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
		from TblT_MPPProjectRealPercentage
		where  Year <= @Year and Month <= @Month
		and isActive = 1
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
	join Tblt_ProjectHeader tph on tmpd.ProjectHeaderId = tph.IdProjectHeader
	join TblM_Project tp on tp.IDProject = tph.IDProject
	join TblM_ProjectStatus tps on tps.IDProjectStatus = tph.IDProjectStatus
	join TblG_Project_ExecutionList tpe on tpe.IDProject = tp.IDProject
	join TblT_ProjectInitApprovalRole piar on tmpd.ProjectHeaderId = piar.IDProjectHeader
	where 
	tmpd.IsActive = 1
	and tph.IsActive = 1
	and tp.IsActive = 1
	and tmpd.ParentId = 0
	and tps.IDProjectStatus not in(3,4, 12, 13)
	and tp.IsTransformasi = 0
	and PIAR.IsActive = 1 
	and PIAR.IDRoleGroup = 2
	and 1 =case
			when exists(
				select TOP 1 PES.IDProjectHeaderID
				from TblT_ProjectExecutionStatus PES
				where  (PES.ProjectStatus = 'Approved' or PES.ProjectStatus = 'Submit')
					and PES.IDProjectHeaderID = tmpd.ProjectHeaderID
					and PES.IsActive = 1
					and PES.Periode = convert(varchar, tmpp.Year) + '-' + convert(varchar, tmpp.month) + '-' + convert(varchar, tmpp.week)
			) then 0
			else 1
		end	
	and PIAR.Username = @Username;

	SELECT NULL 

	SELECT Template FROM TblM_EmailTemplate
	WHERE
	EmailType IN ( 5 , 10 )
	ORDER BY 
	EmailTemplateID DESC

	SELECT a.empl_mast_Name FROM 
	TblDW_EmployeeMapping a
	WHERE
	a.empl_mast_username = @username
END




GO
