USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblSAP_CarryOver]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSAP_CarryOver](
	[IDSAPCarryOver] [int] IDENTITY(1,1) NOT NULL,
	[DateDownload] [date] NULL,
	[ACCT_CODE] [nvarchar](20) NULL,
	[AST_TYP] [nvarchar](20) NULL,
	[AUDITTRAIL] [nvarchar](20) NULL,
	[CATEGORY] [nvarchar](20) NULL,
	[COSTCTR] [nvarchar](20) NULL,
	[DRIVER] [nvarchar](20) NULL,
	[FLOW] [nvarchar](20) NULL,
	[RENCANA_KERJA] [nvarchar](20) NULL,
	[RPTCURRENCY] [nvarchar](20) NULL,
	[STD_BIAYA] [nvarchar](20) NULL,
	[STRAT_OBJ] [nvarchar](20) NULL,
	[TIME] [nvarchar](20) NULL,
	[SIGNEDDATA] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](20) NULL,
 CONSTRAINT [PK_TblSAP_CarryOver] PRIMARY KEY CLUSTERED 
(
	[IDSAPCarryOver] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_TblSAP_CarryOver_58_306100131__K11_K2_K3_K4_K5_K6_K7_K8_K9_K10_K12_K13_K14_1]    Script Date: 07/07/2025 14:26:30 ******/
CREATE NONCLUSTERED INDEX [_dta_index_TblSAP_CarryOver_58_306100131__K11_K2_K3_K4_K5_K6_K7_K8_K9_K10_K12_K13_K14_1] ON [dbo].[TblSAP_CarryOver]
(
	[RPTCURRENCY] ASC,
	[DateDownload] ASC,
	[ACCT_CODE] ASC,
	[AST_TYP] ASC,
	[AUDITTRAIL] ASC,
	[CATEGORY] ASC,
	[COSTCTR] ASC,
	[DRIVER] ASC,
	[FLOW] ASC,
	[RENCANA_KERJA] ASC,
	[STD_BIAYA] ASC,
	[STRAT_OBJ] ASC,
	[TIME] ASC
)
INCLUDE([IDSAPCarryOver]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
