USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectMilestonePlan]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectMilestonePlan](
	[IDProjectMilestonePlan] [int] NOT NULL,
	[IDProjectHeader] [int] NOT NULL,
	[Milestone] [varchar](50) NULL,
	[TargetDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblT_ProjectMilestonePlan] PRIMARY KEY CLUSTERED 
(
	[IDProjectMilestonePlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblT_ProjectMilestonePlan]  WITH CHECK ADD  CONSTRAINT [FK_TblT_ProjectMilestonePlan_TblT_ProjectHeader] FOREIGN KEY([IDProjectHeader])
REFERENCES [dbo].[TblT_ProjectHeader] ([IDProjectHeader])
GO
ALTER TABLE [dbo].[TblT_ProjectMilestonePlan] CHECK CONSTRAINT [FK_TblT_ProjectMilestonePlan_TblT_ProjectHeader]
GO
