USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_UserAuthorizedList]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_UserAuthorizedList] 
AS
BEGIN
	SELECT 
	   EMP.Nama, EMP.Posisi,  
	   (
		SELECT ISNULL(Proj.ProjectNo,0)+ ' - ' + Proj.ProjectName + '; '
			FROM 
				TblT_ProjectInitApprovalRole PIAR
			INNER JOIN
				TblT_UserAuthorized UAs
			ON
				PIAR.Username = UAs.Username
			INNER JOIN
				TblM_RoleGroup RG
			ON
				PIAR.IDRoleGroup = RG.IDRoleGroup
			INNER JOIN
				TblT_ProjectHeader PH
			ON
				PIAR.IDProjectHeader = PH.IDProjectHeader
			INNER JOIN 
				TblM_Project Proj
			ON
				PH.IDProject = Proj.IDProject
			where
				PIAR.Username = UA.Username
				AND
				PIAR.IsActive = '1'
				AND
				UAs.IsActive = '1'
				AND
				PH.IsActive = '1'
		GROUP BY ISNULL(Proj.ProjectNo,0) , Proj.ProjectName
		FOR XML PATH('')

		) Project ,
		(
			SELECT RG.Description + '( ' + Proj.ProjectName +' )'+ '; '
			FROM 
				TblT_ProjectInitApprovalRole PIAR
			INNER JOIN
				TblT_UserAuthorized UAs
			ON
				PIAR.Username = UAs.Username
			INNER JOIN
				TblM_RoleGroup RG
			ON
				PIAR.IDRoleGroup = RG.IDRoleGroup
			INNER JOIN
				TblT_ProjectHeader PH
			ON
				PIAR.IDProjectHeader = PH.IDProjectHeader
			INNER JOIN 
				TblM_Project Proj
			ON
				PH.IDProject = Proj.IDProject
			where
				PIAR.Username = UA.Username
				AND
				PIAR.IsActive = '1'
				AND
				UAs.IsActive = '1'
				AND
				PH.IsActive = '1'
			FOR XML PATH('')
		) Roles , UA.PersonNumber as PersonNumber
	FROM TblT_UserAuthorized UA
	INNER JOIN
		TblDW_Usergroup UG
	ON UA.Username = UG.User_LoginName
	INNER JOIN
	   TblDW_Employee EMP
	ON EMP.PersonalNumber = UA.PersonNumber
	WHERE
	IsActive = '1'
	GROUP BY EMP.Nama , EMP.Posisi, UA.Username,  UA.PersonNumber
END




GO
