USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MPPProjectEksekusi_OLD]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_MPPProjectEksekusi_OLD]
@ProjectHeaderID int 
AS
BEGIN
	   SELECT
			MPP.IDMPPProjectPlanDetail as id,
			MPP.IDMPPProjectPlanDetail	as idMPP,
			--MPP.ProjectHeaderID	,
			MPP.ParentID as parent,
			--MPP.TaskID ,
			MPP.TaskGUID ,
			MPP.TaskName as text,
			Convert(varchar,CONVERT(date,MPP.StartDate),105) as start_date,
			Convert(varchar,CONVERT(date,MPP.EndDate),105)	as end_date,
			MPP.Duration as durasi,
			MPP.Notes as notes,
			CASE 
			WHEN
			(
				SELECT PlanPercentage FROM
				TblT_MPPProjectPlanPercentage 
				where			
				IDProjectHeader = MPP.ProjectHeaderID
				and 
				TaskID = MPP.TaskID
				and
				IsActive = 1 
				and
				Week = DATEPART(wk, GETDATE())
				and
				Month = DATEPART(m,GETDATE())
				and
				YEAR = DATEPART(YYYY,GETDATE())
			) <> NULL
			THEN
				(
				SELECT PlanPercentage FROM
				TblT_MPPProjectPlanPercentage 
				where			
				IDProjectHeader = MPP.ProjectHeaderID
				and 
				TaskID = MPP.TaskID
				and
				IsActive = 1 
				and
				Week = DATEPART(wk, GETDATE())
				and
				Month = DATEPART(m,GETDATE())
				and
				YEAR = DATEPART(YYYY,GETDATE())
				)
			ELSE
				(
					select TOP 1  PlanPercentage from TblT_MPPProjectPlanPercentage
					WHERE
					IDProjectHeader = MPP.ProjectHeaderID and TaskID = MPP.TaskID 
					and 
					CAST(Year AS VARCHAR(4)) 
					+  
					RIGHT('00'+CAST(Month AS Varchar(2)),2) 
					+ 
					CAST (Week as Varchar(1)) <= CAST(DATEPART(YYYY, GETDATE()) as Varchar(4)) 
					+ 
					RIGHT('00'+CAST(DATEPART(MM, GETDATE()) AS Varchar(2)),2) 
					+ 
					CAST (DATEPART(YYYY, GETDATE()) as Varchar(1))
					order by CAST(Year AS VARCHAR(4)) +  RIGHT('00'+CAST(Month AS Varchar(2)),2) + CAST(Week as Varchar(1))  desc
				) 
			END
			as PlaningPercentage
			,
			CASE
			WHEN
				(
					SELECT COUNT(*) FROM TblT_MPPProjectRealDetail MPPR 
					where
					MPPR.IDMPPProjectPlanDetail = MPP.PercentageComplete 
				)
				> 0
			THEN
				(
					SELECT TOP 1 MPPR.PercentageComplete FROM TblT_MPPProjectRealDetail MPPR 
						where
					MPPR.IDMPPProjectPlanDetail = MPP.PercentageComplete 
					ORDER BY
					MPPR.Date DESC
				)
			ELSE
				MPP.PercentageComplete
			END as percentcomplate,
			MPP.OutlineLevel ,
			MPP.OutlineNumber ,
			CASE when MPP.IsMilestone = '1' 
			THEN
			'Milestone'
			ELSE
			'Task'	
			END
			as type
		FROM 
		TblT_MPPProjectPlanDetail MPP
		WHERE
		MPP.ProjectHeaderID = @ProjectHeaderID
	
END




GO
