USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_GrafikCapaianFisikHeader]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_GrafikCapaianFisikHeader]  
	-- Add the parameters for the stored procedure here
	@Month int = null,
	@Year varchar(4) = null,
	@Category varchar(30) = null,
	@IsTransformasi int = null,
	@IDDirektorat int = null,
	@Week int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @Date date = null;
	--declare @Week int = null;

	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());

	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);
	
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday' order by Date desc) end;

	--select dbo.Ufn_GetMonthName_Indonesia(@Month) as Bulan,
	--	@Year as Year,
	--	case
	--		when @IsTransformasi = 1 then 'Transformasi'
	--		when @IsTransformasi = 0 then 'Non Transformasi'
	--		else ''
	--	end as IsTransformasi,
	--	(select top 1 DirektoratName from TblM_Direktorat where IDDirektorat = @IDDirektorat) as Direktorat;

	if(@Category = 'SO') begin
		
		select
			bb.StrategicObjectiveCode as Id,
			bb.StrategicObjectiveCode as Name,
			bb.StrategicObjectiveName as Description,
			cast(Round(AVG(bb.RealisasiPencapaian),0) as decimal(18,0)) as RataRataCapaian
		from (
			select 'Project' as Tipe,
				a.IDStrategicObjective,
				a.StrategicObjectiveCode,
				a.IDProgram,
				a.ProgramNo,
				a.IDProjectHeader,
				a.ProjectNo,
				a.IDDirektorat,
				a.DirektoratName,
				a.StrategicObjectiveName,
				a.ProgramName,
				a.ProjectName,
				a.ProjectName as Name,
				a.DepartmentCode + ' - ' + a.DirektoratCode as PIC,

				case
					when ([dbo].[Ufn_GetTriwulan](a.StartMonth) = [dbo].[Ufn_GetTriwulan](a.EndMonth) and a.StartYear = a.EndYear) then
						isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear, '-')
					else isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-')
				end as Waktu,
				a.Pencapaian as RealisasiPencapaian,
				a.IsTransformasi,
				a.IDProjectStatus,
				a.StartYear,
				a.StartMonth,
				a.StartDay
		
			from TblD_ListProject a

			where a.IsActive = 1
				and a.DateDownload = @Date
				and (@Year between a.StartYear and a.EndYear)
				and a.IDProjectStatus not in(1, 8, 9, 13)
		)bb
		group by 
			bb.IDStrategicObjective,
			bb.StrategicObjectiveCode,
			bb.StrategicObjectiveName
		order by StrategicObjectiveCode asc;		
	end
	else if(@Category = 'Direktorat') begin
		select 
		bb.Name as Id,
		bb.Name,
		null as Description,
		cast(Round(AVG(bb.RealisasiPencapaian),0) as decimal(18,0)) as RataRataCapaian
		from
		(			
			select 		
				case
					when IDDirektorat = 1 then a.IDDepartment
					else a.IDDirektorat
				end as Id,					
				case
					when IDDirektorat = 1 then a.DepartmentName
					else a.DirektoratName
				end as Name,						
				a.RealisasiPencapaian									
			from TblD_ListProject a				
			where a.IsActive = 1
				and a.DateDownload = @Date
				and (@Year between a.StartYear and a.EndYear)
		)bb
		group by 
			Id,Name
		order by Name asc;
	end
	else if(@Category = 'KategoriProyek') begin
		select 
		bb.Name as Id,
		bb.Name,
		null as Description,
		cast(Round(AVG(bb.RealisasiPencapaian),0) as decimal(18,0)) as RataRataCapaian	
		from (		
				select 											
					a.Pencapaian as RealisasiPencapaian,
					d.KategoriName as Name,
					d.IDKategoriProject as Id
					from TblD_ListProject a
					join TblT_ProjectHeader b on b.IDProjectHeader = a.IDProjectHeader
					JOIN tblm_project c on b.IDProject = c.IDProject
					JOIN tblm_KategoriProject d on d.IDKategoriProject = c.IDKategoriProject
					where a.IsActive = 1
					and a.DateDownload = @Date
					and (@Year between a.StartYear and a.EndYear)
					and b.IsActive = 1 and c.IsActive = 1
			)bb 
			group by 
				Id,Name
			order by Name asc;
		end
	else if(@Category = 'Kpi') begin
			select 
				bb.Id,
				bb.Id as Name,
				null as Description,
				cast(Round(AVG(bb.RealisasiPencapaian),0) as decimal(18,0)) as RataRataCapaian
			from (		
				select
					a.Pencapaian as RealisasiPencapaian,
					c.KPIName as Name,
					c.KPICode as Id
					from TblD_ListProject a
					join TblT_ProjectKPIOrganization b on b.IDProjectHeader = a.IDProjectHeader and b.IsActive = 1 and b.IDProjectHeader is not null
					join TblM_KPIOrganization c on c.IDKPIOrganization = b.IDKPIOrganization
					where a.IsActive = 1
					and a.DateDownload = @Date
					and (@Year between a.StartYear and a.EndYear)				
			)bb 
			group by 
				Id,Name
			order by Name asc;
		end
	else if(@Category = 'JenisProyek') begin
	    select 
			bb.Name as Id,
			bb.Name,
			null as Description,
			cast(Round(AVG(bb.RealisasiPencapaian),0) as decimal(18,0)) as RataRataCapaian
		From
		(
			select 
				a.IDProjectHeader,	
				a.ProjectNo,
				a.ProjectName,			
				case
					when a.IsTransformasi = 1 then 'Transformasi'
					else 'NonTransformasi'
				end as Id,					
				case
					when a.IsTransformasi = 1 then 'Transformasi'
					else 'Non Transformasi'
				end as Name,	
				isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,						
				a.RealisasiPencapaian,						
				a.IsTransformasi			
			from TblD_ListProject a				
			where a.IsActive = 1
				and a.DateDownload = @Date
				and (@Year between a.StartYear and a.EndYear)
		)bb
		group by 
			Id,Name
		order by Name asc;	
		end
END




GO
