USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Update_NewUser]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================================
-- Author:		Andre Ibrahim Latief
-- Create date: 25-12-2018
-- Description: Update User And Mapping His/Her Project , Program and Role's
-- ========================================================================
CREATE PROCEDURE [dbo].[Usp_Update_NewUser]
	@personnumber varchar(50),
	@ProgramProjectRole Udt_MappingProgramProjectRoles READONLY  ,
	@createby varchar(50)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION tambahuser
			
			--------------------------------------------------------------------------------------------
			--Declare Variable and Temporary Table 
			--------------------------------------------------------------------------------------------
			DECLARE @newusername varchar(50)
			DECLARE @Status varchar (50)
			DECLARE @rincung varchar(50)
			DECLARE @rin int
			DECLARE @rins int
			DECLARE @IDRoleGroup int

			SELECT @IDRoleGroup = RoleID  FROM  @ProgramProjectRole

			SELECT @rincung = COUNT(UA.PersonNumber)  FROM TblT_UserAuthorized UA where UA.PersonNumber = @personnumber and IsActive = '0'
			SELECT @rins = COUNT(UA.PersonNumber)  FROM TblT_UserAuthorized UA where UA.PersonNumber = @personnumber and IsActive = '0'

			SELECT @newusername = ug.User_LoginName 
			FROM TblDW_Employee emp
			INNER JOIN
				TblDW_Usergroup ug
			ON emp.PersonalNumber = ug.Usergroup_Pernr
			WHERE PersonalNumber = @personnumber 
			
			DECLARE @TempTable table (IDProgram int, IDProjectHeader int,  IDRole int)

			INSERT INTO 
				@TempTable
			SELECT 
				Proj.IDProgram , PH.IDProjectHeader , PPR.RoleID 
			FROM
				@ProgramProjectRole PPR
				INNER JOIN
				TblT_ProjectHeader PH
				ON PPR.ProjectID = PH.IDProject
				INNER JOIN
				TblM_Project Proj
				ON PPR.ProjectID = Proj.IDProject

			SELECT @rin = 1 --COUNT(tt.IDProgram) 
			FROM @TempTable tt
			--------------------------------------------------------------------------------------------
			--Check if Project Header IS NULL
			--------------------------------------------------------------------------------------------
			IF @rin = 0 
			BEGIN
					SET @Status = 'E|Project Belum Terdaftar'
					SELECT @Status
			END
			ELSE
			BEGIN
			--------------------------------------------------------------------------------------------
			--Check if Employee Already Been Registered or No
			--------------------------------------------------------------------------------------------
				IF @rincung > 0 
				BEGIN
						SET @Status = 'E|User Belum Terdaftar'
						SELECT @Status
				END
				ELSE
				BEGIN
			--------------------------------------------------------------------------------------------
			--Check if Employee Have Login Name or No
			--------------------------------------------------------------------------------------------
						IF (@newusername IS NOT NULL OR @newusername <> '')
						BEGIN 
			--------------------------------------------------------------------------------------------
			--Mapping Role , Project , Program Terhadap User Takait	
			--------------------------------------------------------------------------------------------
								--Update
								--	TblT_ProjectRoleGroup
								--set
								--	IsActive = '0',
								--	UpdatedBy = @createby,
								--	UpdatedDate = GETDATE()
								--where
								--	Username = @newusername
								IF ( 
									SELECT COUNT(IDProjectInitApprovalRole) FROM TblT_ProjectInitApprovalRole
									WHERE Username = @newusername
								) > 0
								BEGIN
									UPDATE TblT_ProjectInitApprovalRole
									SET 
										IsActive = 0 ,
										UpdatedBy = @createby ,
										UpdatedDate = GETDATE()
									WHERE
									IDProjectInitApprovalRole IN (
										SELECT IDProjectInitApprovalRole FROM TblT_ProjectInitApprovalRole
										WHERE Username = @newusername
									)
								END
								
								INSERT INTO 
								TblT_ProjectInitApprovalRole
								(
									   [IDProjectHeader]
									  ,[IDRoleGroup]
									  ,[Username]
									  ,[Email]
									  ,[CreatedDate]
									  ,[CreatedBy]
									  ,[IsEnabled]
									  ,[IsActive]
								)
								SELECT 
									TT.IDProjectHeader,
									TT.IDRole,
									@newusername,
									@newusername + '@lps.go.id',
									GETDATE(),
									@createby,
									1,
									1
								FROM
								@TempTable TT

								--INSERT INTO
								--TblT_ProjectRoleGroup
								--(
								--	IDProjectHeader,
								--	IDRoleGroup,
								--	IDProgram,
								--	Username,
								--	CreatedDate,
								--	CreatedBy,
								--	IsActive
								--)
								--SELECT 						
								--	TT.IDProjectHeader,
								--	TT.IDRole,
								--	TT.IDProgram,
								--	@newusername,
								--	GETDATE(),
								--	@createby,
								--	'1'
								--FROM
								--@TempTable TT

								SET @Status = 'S|Berhasil Merubah Roles User'
								SELECT @Status
					
						END
						ELSE
						BEGIN
							SET @Status = 'E|Username tidak ditemukan'
							SELECT @Status			
						END
					END
				END
		COMMIT TRANSACTION tambahuser
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION tambahuser
		EXEC Usp_Insert_ErrorLog 'Usp_Update_NewUser',ERROR_NUMBER,ERROR_MESSAGE, @createby
	END CATCH

END




GO
