USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_MasterProgram]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_MasterProgram] -- exec [Usp_Insert_MasterProgram]
	-- Add the parameters for the stored procedure here
	@IDProgram int = null,
	@ProgramNo nvarchar(50) = null,
	@ProgramName nvarchar(max) = null,
	@Description nvarchar(max) = null,
	@User varchar(50) = null,

	-- Type Transaction --
	@TypeTransaction varchar(10) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		begin transaction;
		
		declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @User);
		
		if(@Username = null) begin set @Username = '-'; end;

		if(@TypeTransaction = 'Insert')begin
			if not exists(select * from TblM_Program where ProgramNo = @ProgramNo)begin
				if(@ProgramNo is not null) begin
					if(@ProgramName is not null) begin
						insert into TblM_Program (
							ProgramNo,
							ProgramName,
							Description,
							CreatedDate,
							CreatedBy,
							IsActive
						) values (
							@ProgramNo,
							@ProgramName,
							@Description,
							getdate(),
							@Username,
							1
						);
					select 'S|Sukses';
					end
					else begin select 'F|Nama program harus di isi'; end;
				end
				else begin select 'F|Kode Program harus diisi'; end;
			end
			else begin select 'F|Kode Program sudah terdaftar'; end;
		end
		else if(@TypeTransaction = 'Update')begin
			if exists(select * from TblM_Program where IDProgram = @IDProgram and IsActive = 1)begin
				if((select count(*) from TblM_Program where ProgramNo = @ProgramNo and IsActive = 1) <= 1)begin
					if(@ProgramNo is not null) begin
						if(@ProgramName is not null) begin
							update TblM_Program
							set ProgramNo = @ProgramNo,
								ProgramName = @ProgramName,
								Description = @Description,
								UpdatedDate = getdate(),
								UpdatedBy = @Username
							where IDProgram = @IDProgram and IsActive = 1;
							select 'S|Sukses';
						end
						else begin select 'F|Nama program harus di isi'; end;
					end
					else begin select 'F|Kode Program harus diisi'; end;
				end
				else begin select 'F|Kode Program sudah terdaftar'; end;
			end
			else begin select 'F|ID Program tidak tersedia'; end;
		end
		else if(@TypeTransaction = 'Delete')begin
			if exists(select * from TblM_Program where IDProgram = @IDProgram and IsActive = 1)begin
				if not exists(select * from TblM_Program a inner join TblM_Project b on a.IDProgram = b.IDProgram where a.IDProgram = @IDProgram) begin
					delete from TblM_Program where IDProgram = @IDProgram;
					select 'S|Sukses';
				end
				else begin select 'F|Program tidak dapat di hapus karena sudah terikat dengan project lain'; end
				--update TblM_Program
				--set IsActive = 0
				--where IDProgram = @IDProgram and IsActive = 1;
			end
			else begin select 'F|ID Program tidak tersedia'; end;
		end
		else begin
			select 'F|Tipe transaksi tidak tersedia';
		end;

		commit;
	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_MasterProgram', @ErrNum, @ErrMsg, @Username;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch

END




GO
