USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiReportForecast]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiReportForecast]
	-- Add the parameters for the stored procedure here
	@IDProjectHeader INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select A.Periode,B.Reals as Realisasi
From
(
	SELECT 
		 MPPP.IDProjectHeader,
		 MPPP.Periode        ,
		 MPPP.Keys           ,
		 MPPP.Plans          ,
		 MPPP.Reals          ,
		 MPPP.year			 ,
		 MPPP.Month			 ,
		 MPPP.Week  
	FROM [Ufn_Get_TrendEkseksiPerPeriodeALL](@IDProjectHeader) MPPP
) as A
LEFT JOIN
(
  SELECT 
	  zz.IDProjectHeader,
	  zz.Periode        ,
	  zz.Keys           ,
	  zz.Plans          ,
	  zz.Reals                
FROM 
(
 SELECT TOP 99.99999 PERCENT
  row_number() over (ORDER BY
	        Cast(MPPP.year AS VARCHAR(4)) 
		  + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) 
		  + Cast(MPPP.week AS VARCHAR(1)) DESC 
	    
	  ) as rnum,
	 MPPP.IDProjectHeader,
	 MPPP.Periode        ,
	 MPPP.Keys           ,
	 MPPP.Plans          ,
	 MPPP.Reals          ,
	 MPPP.Approval       ,
	 MPPP.UpdateDate     ,
	 MPPP.Status         ,
	 MPPP.vars           
FROM [Ufn_Get_TrendEkseksiPerPeriode](@IDProjectHeader) MPPP
 )zz
 WHERE
 zz.rnum <> 1
) as B on B.Periode = A.Periode
ORDER  BY Cast(A.year AS VARCHAR(4)) 
	 + RIGHT('00' + Cast(A.month AS VARCHAR(2)), 2) 
	 + Cast(A.week AS VARCHAR(1)) ASC
END




GO
