USE [PROMISE]
GO
/****** Object:  View [dbo].[VW_MONITORING_PROJ_DASHBOARD]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_MONITORING_PROJ_DASHBOARD]
AS
SELECT        TOP (100) PERCENT A.DateDownload, A.IDProjectStatus, A.IDDirektorat, A.IDDepartment, A.IDStrategicObjective, A.IDProgram, A.DirektoratCode, A.DepartmentCode, A.StrategicObjectiveCode, A.ProgramNo, A.ProjectNo, 
                         A.DirektoratName, A.DepartmentName, A.StrategicObjectiveName, A.ProgramName, A.ProjectName, A.IsTransformasi, A.PlanPencapaian, A.RealisasiPencapaian, A.Pencapaian, CAST(CASE WHEN ISNULL([Pencapaian], 0) 
                         >= 100 THEN 'On Schedule' ELSE 'Behind Schedule' END AS char) AS Schedule, CASE WHEN [Pencapaian] >= 110 THEN '1 Di Atas' WHEN [Pencapaian] >= 100 AND 
                         [Pencapaian] <= 109 THEN '2 Sesuai' WHEN [Pencapaian] >= 85 AND [Pencapaian] <= 99 THEN '3 Sedikit di Bawah' WHEN [Pencapaian] < 85 THEN '4 Jauh di Bawah' ELSE '5 Unknown' END AS KategoriPencapaian, A.StartDay, 
                         A.StartMonth, A.StartYear, A.EndDay, A.EndMonth, A.EndYear, A.UpdatedDate, A.Anggaran, A.RealisasiAnggaran, A.KomitAnggaran, A.NamaProjectManager, A.Kendala, A.RencanaAksi, MPPP.IDProjectHeader, 
                         CAST(CASE WHEN A.isTransformasi = 0 THEN ([dbo].[Ufn_getmonthname_indonesia](MPPP.month) + ' ' + CAST(MPPP.year AS VARCHAR(4))) ELSE ('Minggu ke' + ' ' + CONVERT(VARCHAR, MPPP.week) 
                         + ', ' + [dbo].[Ufn_getmonthname_indonesia](MPPP.month) + ' ' + CAST(MPPP.year AS VARCHAR(4))) END AS char) AS Periode,
                             (SELECT        TOP (1) Milestones
                               FROM            dbo.Ufn_CheckProjectIsFinish_Report(MPPP.idprojectheader) AS Ufn_CheckProjectIsFinish_Report_1
                               WHERE        (Month <= MPPP.Month) AND (Year <= MPPP.Year)
                               ORDER BY Year, Month DESC) AS Target,
                             (SELECT        TOP (1) Notes
                               FROM            dbo.Ufn_Get_Notes(MPPP.idprojectheader) AS a
                               WHERE        (Month <= MPPP.Month) AND (Year <= MPPP.Year)
                               ORDER BY Year, Month DESC) AS Realisasi, ISNULL
                             ((SELECT        TOP (1) Em.Nama
                                 FROM            dbo.TblT_ProjectExecutionApprovalRole AS PEAR INNER JOIN
                                                          dbo.TblDW_Usergroup AS UG ON PEAR.Username = UG.User_LoginName INNER JOIN
                                                          dbo.TblDW_Employee AS Em ON UG.Usergroup_Pernr = Em.PersonalNumber INNER JOIN
                                                          dbo.TblT_ProjectExecutionStatus AS PES ON PEAR.IDProjectHeader = PES.IDProjectHeaderID
                                 WHERE        (PEAR.IDProjectHeader = MPPP.IDProjectHeader) AND (PEAR.Periode = CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MAX(MPPP.Week))) AND 
                                                          (PEAR.IsEnabled = '1') AND (PEAR.IsApprove IS NULL OR
                                                          PEAR.IsApprove = '0') AND (PEAR.IsActive = '1') AND (PES.ProjectStatus = 'Submit') AND (PES.Periode = CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, 
                                                          MAX(MPPP.Week)))
                                 ORDER BY PEAR.IDRoleGroup), '-') AS Approval, CASE WHEN EXISTS
                             (SELECT        TOP 1 PES.IDProjectHeaderID
                               FROM            TblT_ProjectExecutionStatus PES
                               WHERE        PES.ProjectStatus = 'Approved' AND PES.IDProjectHeaderID = MPPP.idprojectheader AND PES.IsActive = 1 AND PES.Periode = CONVERT(VARCHAR, MPPP.year) + '-' + CONVERT(VARCHAR, MPPP.month) 
                                                         + '-' + CONVERT(VARCHAR, MAX(MPPP.week))) THEN 'Completed' WHEN EXISTS
                             (SELECT        TOP 1 PES.IDProjectHeaderID
                               FROM            TblT_ProjectExecutionStatus PES
                               WHERE        PES.ProjectStatus = 'Submit' AND PES.IDProjectHeaderID = MPPP.idprojectheader AND PES.IsActive = 1 AND PES.Periode = CONVERT(VARCHAR, MPPP.year) + '-' + CONVERT(VARCHAR, MPPP.month) 
                                                         + '-' + CONVERT(VARCHAR, MAX(MPPP.week))) THEN 'Waiting For Approval' ELSE 'Not Active' END AS Status, A.IsTransformasi AS Expr1, MAX(MPPP.Week) AS MaxWeek, MPPP.Week AS Rweek, 
                         MPPP.Month AS RMonth, MPPP.Year AS RYear
FROM            dbo.TblT_MPPProjectPlanPercentage AS MPPP LEFT OUTER JOIN
                         dbo.TblD_ListProject AS A ON MPPP.IDProjectHeader = A.IDProjectHeader AND A.DateDownload =
                             (SELECT        TOP (1) Date
                               FROM            dbo.TblM_Date
                               WHERE        (Year = MPPP.Year) AND (Month = MPPP.Month) AND (WeekDayName = 'SaturDay')
                               ORDER BY Date DESC)
WHERE        (MPPP.IsActive = 1) AND (A.IsActive = 1) AND (CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2) <= CAST(DATEPART(YYYY, GETDATE()) AS VARCHAR(4)) 
                         + RIGHT('00' + CAST(DATEPART(MM, GETDATE()) AS VARCHAR(2)), 2)) AND (MPPP.TaskID = 1)
GROUP BY MPPP.Month, MPPP.Year, MPPP.Week, MPPP.IDProjectHeader, MPPP.TaskID, A.IsTransformasi, A.DateDownload, A.IDProjectStatus, A.IDDirektorat, A.IDDepartment, A.IDStrategicObjective, A.IDProgram, A.DirektoratCode, 
                         A.DepartmentCode, A.StrategicObjectiveCode, A.ProgramNo, A.ProjectNo, A.DirektoratName, A.DepartmentName, A.StrategicObjectiveName, A.ProgramName, A.ProjectName, A.IsTransformasi, A.PlanPencapaian, 
                         A.RealisasiPencapaian, A.Pencapaian, A.StartDay, A.StartMonth, A.StartYear, A.EndDay, A.EndMonth, A.EndYear, A.UpdatedDate, A.Anggaran, A.RealisasiAnggaran, A.KomitAnggaran, A.NamaProjectManager, A.Kendala, 
                         A.RencanaAksi
ORDER BY MPPP.IDProjectHeader
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MPPP"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 298
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "A"
            Begin Extent = 
               Top = 6
               Left = 336
               Bottom = 136
               Right = 569
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_MONITORING_PROJ_DASHBOARD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_MONITORING_PROJ_DASHBOARD'
GO
