USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiReportPerPeriodeWithOutCurrent]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [Usp_Get_ProjectEksekusiReportPerPeriode] '677' , '0'
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiReportPerPeriodeWithOutCurrent]
	@IDProjectHeader INT
   ,@Tipe INT --- istransformasi
AS
BEGIN
	 
  SELECT 
	  zz.IDProjectHeader,
	  zz.Periode        ,
	  zz.Keys           ,
	  zz.Plans          ,
	  zz.Reals          ,
	  zz.Approval       ,
	  zz.UpdateDate     ,
	  zz.Status         ,
	  zz.vars           
   FROM 
  (
  SELECT TOP 99.99999 PERCENT
   row_number() over (ORDER BY
	        Cast(MPPP.year AS VARCHAR(4)) 
		  + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) 
		  + Cast(MPPP.week AS VARCHAR(1)) DESC 
	    
	  ) as rnum,
	 MPPP.IDProjectHeader,
	 MPPP.Periode        ,
	 MPPP.Keys           ,
	 MPPP.Plans          ,
	 MPPP.Reals          ,
	 MPPP.Approval       ,
	 MPPP.UpdateDate     ,
	 MPPP.Status         ,
	 MPPP.vars           
 FROM [Ufn_Get_TrendEkseksiPerPeriode](@IDProjectHeader) MPPP
 --ORDER  BY Cast(MPPP.year AS VARCHAR(4)) 
 -- + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) 
 -- + Cast(MPPP.week AS VARCHAR(1)) DESC 
  )zz
  WHERE
  zz.rnum <> 1
END



GO
