USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardProjectStatus]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sena Putra
-- Create date: January 14, 2018
-- Description:	EXEC [dbo].[Get_DashboardProjectStatus] '', '', '', '', '', '', ''
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardProjectStatus]
	-- Add the parameters for the stored procedure here
	@CurrentMonth int,
	@CurrentYear int
	--@ProjectSponsor nvarchar(25),
	--@ProjectCategory nvarchar(25),
	--@ProgramManager nvarchar(100),
	--@ProjectPriority nvarchar(100),
	--@ProjectManager nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @CurrentMonth = 0 BEGIN SELECT @CurrentMonth = '' END
	IF @CurrentYear = 0 BEGIN SELECT @CurrentMonth = '' END
	--IF @ProjectSponsor = 'ALL' BEGIN SELECT @CurrentMonth = '' END
	--IF @ProjectCategory = 'ALL' BEGIN SELECT @CurrentMonth = '' END
	--IF @ProgramManager = 'ALL' BEGIN SELECT @CurrentMonth = '' END
	--IF @ProjectPriority = 'ALL' BEGIN SELECT @CurrentMonth = '' END
	--IF @ProjectManager = 'ALL' BEGIN SELECT @CurrentMonth = '' END

    -- Insert statements for procedure here
	--CREATE TABLE #NotStarted (
	--TotalNotStarted int
	--)
	--INSERT INTO #NotStarted
	--SELECT COUNT(A.IDProjectHeader) As CNotStarted FROM TblT_ProjectHeader A
	--INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	--INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
	--INNER JOIN TblM_Program D ON B.IDProgram  = D.IDProgram
	--INNER JOIN TblM_StrategicObjective E ON B.IDStrategicObjective = E.IDStrategicObjective
	--INNER JOIN TblM_ProjectPriority F ON B.IDProjectPriority = F.IDProjectPriority
	--INNER JOIN TblM_Department G ON B.IDDepartment = G.IDDepartment
	--WHERE A.IDProjectStatus = 0

	--CREATE TABLE #Active (
	--TotalActive int
	--)
	--INSERT INTO #Active
	--SELECT COUNT(A.IDProjectHeader) As CActive FROM TblT_ProjectHeader A
	--INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	--INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
	--INNER JOIN TblM_Program D ON B.IDProgram  = D.IDProgram
	--INNER JOIN TblM_StrategicObjective E ON B.IDStrategicObjective = E.IDStrategicObjective
	--INNER JOIN TblM_ProjectPriority F ON B.IDProjectPriority = F.IDProjectPriority
	--INNER JOIN TblM_Department G ON B.IDDepartment = G.IDDepartment
	--WHERE A.IDProjectStatus = 1

	--CREATE TABLE #Canceled (
	--TotalCanceled int
	--)
	--INSERT INTO #Canceled
	--SELECT COUNT(A.IDProjectHeader) As CCanceled FROM TblT_ProjectHeader A
	--INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	--INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
	--INNER JOIN TblM_Program D ON B.IDProgram  = D.IDProgram
	--INNER JOIN TblM_StrategicObjective E ON B.IDStrategicObjective = E.IDStrategicObjective
	--INNER JOIN TblM_ProjectPriority F ON B.IDProjectPriority = F.IDProjectPriority
	--INNER JOIN TblM_Department G ON B.IDDepartment = G.IDDepartment
	--WHERE A.IDProjectStatus = 2

	--CREATE TABLE #Completed (
	--TotalCompleted int
	--)
	--INSERT INTO #Completed
	--SELECT COUNT(A.IDProjectHeader) As CCompleted FROM TblT_ProjectHeader A
	--INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	--INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
	--INNER JOIN TblM_Program D ON B.IDProgram  = D.IDProgram
	--INNER JOIN TblM_StrategicObjective E ON B.IDStrategicObjective = E.IDStrategicObjective
	--INNER JOIN TblM_ProjectPriority F ON B.IDProjectPriority = F.IDProjectPriority
	--INNER JOIN TblM_Department G ON B.IDDepartment = G.IDDepartment
	--WHERE A.IDProjectStatus = 3

	--CREATE TABLE #NotActive (
	--TotalNotActive int
	--)
	--INSERT INTO #NotActive
	--SELECT COUNT(A.IDProjectHeader) As CNotActive FROM TblT_ProjectHeader A
	--INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	--INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
	--INNER JOIN TblM_Program D ON B.IDProgram  = D.IDProgram
	--INNER JOIN TblM_StrategicObjective E ON B.IDStrategicObjective = E.IDStrategicObjective
	--INNER JOIN TblM_ProjectPriority F ON B.IDProjectPriority = F.IDProjectPriority
	--INNER JOIN TblM_Department G ON B.IDDepartment = G.IDDepartment
	--WHERE A.IDProjectStatus = 4

	--CREATE TABLE #Pending (
	--TotalPending int
	--)
	--INSERT INTO #Pending
	--SELECT COUNT(A.IDProjectHeader) As CPending FROM TblT_ProjectHeader A
	--INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	--INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
	--INNER JOIN TblM_Program D ON B.IDProgram  = D.IDProgram
	--INNER JOIN TblM_StrategicObjective E ON B.IDStrategicObjective = E.IDStrategicObjective
	--INNER JOIN TblM_ProjectPriority F ON B.IDProjectPriority = F.IDProjectPriority
	--INNER JOIN TblM_Department G ON B.IDDepartment = G.IDDepartment
	--WHERE A.IDProjectStatus = 5

	--SELECT A.TotalActive, CAST((A.TotalActive/A.TotalProject) * 100 As decimal (18,2)) As TotalPercentActive,
	--A.TotalCanceled, CAST((A.TotalCanceled/A.TotalProject) * 100 As decimal (18,2)) As TotalPercentCanceled,
	--A.TotalCompleted, CAST((A.TotalCompleted/A.TotalProject) * 100 As decimal (18,2)) As TotalPercentCompleted,
	--A.TotalNotActive, CAST((A.TotalNotActive/A.TotalProject) * 100 As decimal (18,2)) As TotalPercentNotActive,
	--A.TotalNotStarted, CAST((A.TotalNotStarted/A.TotalProject) * 100 As decimal (18,2)) As TotalPercentNotStarted,
	--A.TotalPending, CAST((A.TotalPending/A.TotalProject) * 100 As decimal (18,2)) As TotalPercentPending
	--FROM (
	--SELECT TotalActive, TotalCanceled, TotalCompleted, TotalNotActive, TotalNotStarted, TotalPending,
	--CAST(TotalActive + TotalCanceled + TotalCompleted + TotalNotActive + TotalNotStarted + TotalPending As decimal(18,2)) As TotalProject
	--  FROM #Active, #Canceled, #Completed, #NotActive, #NotStarted, #Pending
	--  ) A

	--DROP TABLE #Active
	--DROP TABLE #Canceled
	--DROP TABLE #Completed
	--DROP TABLE #NotActive
	--DROP TABLE #NotStarted
	--DROP TABLE #Pending

	CREATE TABLE #TOTALPROJECT (
	TotalProject decimal(18,2)
	)
	INSERT INTO #TOTALPROJECT
	SELECT COUNT(IDProjectHeader) FROM TblT_ProjectHeader

	CREATE TABLE #FINAL (
	StatusName nvarchar(25),
	Percentase decimal(18,2)
	)
	INSERT INTO #FINAL
	SELECT R.StatusName, CAST((R.TotalStatus / T.TotalProject) * 100 As decimal(18,2)) As Percentase 
	FROM (
		SELECT  B.StatusName, COUNT(B.StatusName) As TotalStatus FROM TblT_ProjectHeader A
		INNER JOIN TblM_ProjectStatus B ON A.IDProjectStatus = B.IDProjectStatus
		GROUP BY B.StatusName
	) R, #TOTALPROJECT As T

	SELECT * FROM #FINAL

	DROP TABLE #TOTALPROJECT
	DROP TABLE #FINAL
END





GO
