USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_max_smalldatetime]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_max_smalldatetime] ()
RETURNS varchar(max)
AS 
    BEGIN
        RETURN '2079-06-09'
    END
GO
