USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_Date_2022]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_Date_2022](
	[DateKey] [int] NULL,
	[Date] [date] NULL,
	[Day] [tinyint] NULL,
	[DaySuffix] [varchar](2) NULL,
	[Weekday] [tinyint] NULL,
	[WeekDayName] [varchar](10) NULL,
	[IsWeekend] [bit] NULL,
	[IsHoliday] [bit] NULL,
	[HolidayText] [varchar](64) NULL,
	[DOWInMonth] [tinyint] NULL,
	[DayOfYear] [smallint] NULL,
	[WeekOfMonth] [tinyint] NULL,
	[WeekOfYear] [tinyint] NULL,
	[ISOWeekOfYear] [tinyint] NULL,
	[Month] [tinyint] NULL,
	[MonthName] [varchar](10) NULL,
	[Quarter] [tinyint] NULL,
	[QuarterName] [varchar](6) NULL,
	[Year] [int] NULL,
	[Semester] [tinyint] NULL,
	[MMYYYY] [varchar](6) NULL,
	[MonthYear] [varchar](7) NULL,
	[FirstDayOfMonth] [date] NULL,
	[LastDayOfMonth] [date] NULL,
	[FirstDayOfQuarter] [date] NULL,
	[LastDayOfQuarter] [date] NULL,
	[FirstDayOfYear] [date] NULL,
	[LastDayOfYear] [date] NULL,
	[FirstDayOfNextMonth] [date] NULL,
	[FirstDayOfNextYear] [date] NULL
) ON [PRIMARY]
GO
