USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiReportPerPeriodeCurrent]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [Usp_Get_ProjectEksekusiReportPerPeriodeCurrent] '677' , '0'
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiReportPerPeriodeCurrent]
	@IDProjectHeader INT
   ,@Tipe INT --- istransformasi
AS
BEGIN

 --DECLARE @Status DATE 

 --SELECT @Status = EndDate FROM 
 --TblT_MPPProjectPlanDetail
 --WHERE
 --ParentID = 0
 --AND
 --IsActive = 1
 --AND
 --ProjectHeaderID = @IDProjectHeader

 --IF (CONVERT(DATE,GETDATE()) > @Status)
 --BEGIN
	-- SELECT 
	-- MPPP.IDProjectHeader,
	-- MPPP.Periode        ,
	-- MPPP.Keys           ,
	-- MPPP.Plans          ,
	-- MPPP.Reals          ,
	-- MPPP.Approval       ,
	-- MPPP.UpdateDate     ,
	-- MPPP.Status         ,
	-- MPPP.vars           
 --FROM [Ufn_Get_TrendEkseksiPerPeriodeCurrent](@IDProjectHeader) MPPP
 --ORDER  BY Cast(MPPP.year AS VARCHAR(4)) 
 -- + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) 
 -- + Cast(MPPP.week AS VARCHAR(1)) DESC 
 --END
 --ELSE
 --BEGIN

	 SELECT 
	 	TOP 1
	 MPPP.IDProjectHeader,
	 MPPP.Periode        ,
	 MPPP.Keys           ,
	 MPPP.Plans          ,
	 MPPP.Reals          ,
	 MPPP.Approval       ,
	 MPPP.UpdateDate     ,
	 MPPP.Status         ,
	 MPPP.vars           
 FROM [Ufn_Get_TrendEkseksiPerPeriode](@IDProjectHeader) MPPP
 --WHERE
 --MPPP.Status <> 'Completed'
 ORDER  BY Cast(MPPP.year AS VARCHAR(4)) 
  + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) 
  + Cast(MPPP.week AS VARCHAR(1)) DESC 
 --END
END



GO
