USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetEmailTemplate]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_GetEmailTemplate] -- 3 , 243 , '2019-3-4'
	@Type int = NULL,
	@IDProjectHeader int = NULL,
	@Periode varchar(10) = NULL
AS
BEGIN
	SELECT Template  FROM
	TblM_EmailTemplate ET
	where
	ET.EmailType = @Type

	DECLARE @FullName varchar(max)
	DECLARE @Username varchar(50)
	DECLARE @Notes varchar(max)

		DECLARE @year int , @month int, @week int 
		DECLARE @Period varchar(50)

		DECLARE @SplitString TABLE (rownumber int , val varchar(max))

		INSERT INTO @SplitString
		SELECT  ROW_NUMBER() OVER(ORDER BY (SELECT NULL)), * FROM dbo.Ufn_SplitString(@Periode,'-')

		DECLARE @isTransformasi bit

		SELECT @isTransformasi = Proj.IsTransformasi FROM TblT_ProjectHeader PH INNER JOIN TblM_Project Proj ON PH.IDProject = PROJ.IDProject

		SELECT @year = val FROM @SplitString
		where rownumber = 1
		SELECT @month = val FROM @SplitString
		where rownumber = 2
		SELECT @week = val FROM @SplitString
		where rownumber = 3


		SELECT @Period = 
		CASE 
			WHEN	
				@isTransformasi = 1
			THEN
				'W'+ CONVERT(varchar,@week) + ' ' + dbo.Ufn_GetMonthName_Indonesia(@month) + ' ' + CONVERT(varchar,@year)
			ELSE
				dbo.Ufn_GetMonthName_Indonesia(@month) + ' ' + CONVERT(varchar,@year)
		END

	IF @Type = 1 -- Approval Inisasi
	BEGIN
	

		select @Username =
			case
				when (select count(*) from TblT_ProjectInitApprovalRole c where c.IsActive = 1 and c.IDProjectHeader = a.IDProjectHeader) > 0 then
			
					(
						select TOP 1 e.User_LoginName
						from [dbo].[TblT_ProjectInitApprovalRole] d
							left join TblDW_Usergroup e on d.Username = e.User_LoginName
						where d.IsActive = 1 and ( d.isApprove = 0 or d.IsApprove is NULL) and IsEnabled = 1 and d.IDProjectHeader = a.IDProjectHeader order by Sequence desc
					)			
				else NULL
			end 
		from TblT_ProjectHeader a
			left join TblM_ProjectStatus b on a.IDProjectStatus = b.IDProjectStatus
		where a.IsActive = 1 and b.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader;





			IF  @Username IS NULL
			BEGIN
				SELECT 'E|Tidak Ada Penerima Email Berikutnya'
			END
			ELSE
			BEGIN

				 SET @FullName = (
					SELECT b.Nama FROM 
					TblDW_Usergroup a
					INNER JOIN 
					TblDW_Employee b
					ON
					a.Usergroup_Pernr = b.PersonalNumber
					WHERE
					a.User_LoginName = @Username
				)

				SELECT 
				@Username as Username ,	Proj.ProjectName , CASE WHEN Proj.IsTransformasi = 1 THEN 'Transformasi' ELSE 'Non Transformasi' END  as Tipe  ,
				@FullName as FullName
				FROM
				TblT_ProjectHeader PH
					INNER JOIN
				TblM_Project Proj
				ON
				PH.IDProject = Proj.IDProject
				where
				PH.IDProjectHeader = @IDProjectHeader
			END
	END
	ELSE IF @Type = 2 -- Approval Exsekusi
	BEGIN

		 SELECT TOP 1 @Username = Username FROM TblT_ProjectExecutionApprovalRole
					WHERE
					IDProjectHeader = @IDProjectHeader
					AND IsActive = 1
					AND ( IsApprove is null or IsApprove = '0')
					AND Periode = @Periode 
					order by IDRoleGroup ASC
		IF  @Username IS NULL
			BEGIN
				SELECT 'E|Tidak Ada Penerima Email Berikutnya'
			END
			ELSE
			BEGIN
				 SET @FullName = (
					SELECT b.Nama FROM 
					TblDW_Usergroup a
					INNER JOIN 
					TblDW_Employee b
					ON
					a.Usergroup_Pernr = b.PersonalNumber
					WHERE
					a.User_LoginName = @Username
				)

				SELECT 
					@Username as Username , Proj.ProjectName , CASE WHEN Proj.IsTransformasi = 1 THEN 'Transformasi' ELSE 'Non Transformasi' END as Tipe , @Period as Periode
					, @FullName as FullName
				FROM 
				TblT_ProjectHeader PH
					INNER JOIN
				TblM_Project Proj
				ON
				PH.IDProject = Proj.IDProject
				where
				PH.IDProjectHeader = @IDProjectHeader
		END
	END
	ELSE IF @Type = 3 -- Revisi Exsekusi
	BEGIN
	--	SELECT @Username = SELECT

		SELECT @Notes = Remarks FROM
		TblH_ProjectExecutionApprovalHistory 
		WHERE
		IDProjectHeader = @IDProjectHeader 
		and
		Periode = @Periode

		--IF  @Username IS NULL
		--	BEGIN
		--		SELECT 'E|Tidak Ada Penerima Email Berikutnya'
		--	END
		--	ELSE
			BEGIN
				-- SET @FullName = (
				--	SELECT b.Nama FROM 
				--	TblDW_Usergroup a
				--	INNER JOIN 
				--	TblDW_Employee b
				--	ON
				--	a.Usergroup_Pernr = b.PersonalNumber
				--	WHERE
				--	a.User_LoginName = @Username
				--)
				SELECT 
				DISTINCT
					PERR.Username as Username , 
					Proj.ProjectName , 
					CASE WHEN Proj.IsTransformasi = 1 THEN 'Transformasi' ELSE 'Non Transformasi' END as Tipe , 
					@Period as Periode ,
					@Notes as Notes,
					Emp.Nama as FullName
				FROM 
					TblT_ProjectHeader PH
						INNER JOIN
					TblM_Project Proj
					ON
					PH.IDProject = Proj.IDProject
						INNER JOIN 
					TblT_ProjectExecutionApprovalRole PERR
					ON
					PH.IDProjectHeader = PERR.IDProjectHeader 
					AND
					PERR.Periode = @Periode	
					AND
					PERR.IsActive = 1
					AND
					PERR.IDRoleGroup IN ( 3 )
					AND 
					PERR.IsApprove = 1
					INNER JOIN 
					TblDW_Usergroup UG
					ON
					PERR.Username = UG.User_LoginName
					INNER JOIN 
					TblDW_Employee Emp
					ON			
					UG.Usergroup_Pernr = Emp.PersonalNumber
				where
					PH.IDProjectHeader = @IDProjectHeader

				UNION ALL

				SELECT 
				DISTINCT
					Username as Username , 
					c.ProjectName , 
					CASE WHEN c.IsTransformasi = 1 THEN 'Transformasi' ELSE 'Non Transformasi' END as Tipe , 
					@Period as Periode ,
					@Notes as Notes,
					Emp.Nama as FullName
				FROM 
				TblT_ProjectInitApprovalRole a
				INNER JOIN 
				TblT_ProjectHeader b
				ON
				a.IDProjectHeader = b.IDProjectHeader
				INNER JOIN 
				TblM_Project c
				ON
				b.IDProject = c.IDProject
				INNER JOIN 
					TblDW_Usergroup UG
					ON
					a.Username = UG.User_LoginName
					INNER JOIN 
					TblDW_Employee Emp
					ON			
					UG.Usergroup_Pernr = Emp.PersonalNumber
				WHERE
				a.IDProjectHeader = @IDProjectHeader
				AND
				a.IsActive = 1
		END
	END
	ELSE IF @Type = 4 -- Revisi Inisiasi
	BEGIN
		SELECT @Username = NULL

		SELECT @Notes = Remarks FROM
		TblH_ProjectExecutionApprovalHistory 
		WHERE
		IDProjectHeader = @IDProjectHeader 
		and
		Periode = @Periode

		IF  @Username IS NULL
			BEGIN
				SELECT 'E|Tidak Ada Penerima Email Berikutnya'
			END
			ELSE
			BEGIN
				 SET @FullName = (
					SELECT b.Nama FROM 
					TblDW_Usergroup a
					INNER JOIN 
					TblDW_Employee b
					ON
					a.Usergroup_Pernr = b.PersonalNumber
					WHERE
					a.User_LoginName = @Username
				)

				SELECT 
					@Username as Username , 
					Proj.ProjectName , 
					CASE WHEN Proj.IsTransformasi = 1 THEN 'Transformasi' ELSE 'Non Transformasi' END as Tipe , 
					@Notes as Notes,
					@FullName as FullName
				FROM 
					TblT_ProjectHeader PH
						INNER JOIN
					TblM_Project Proj
				ON
					PH.IDProject = Proj.IDProject
				where
					PH.IDProjectHeader = @IDProjectHeader
		END
	END

END




GO
