USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_MappingProgramProjectRoles]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_MappingProgramProjectRoles] AS TABLE(
	[ProgramID] [int] NULL,
	[ProjectID] [int] NULL,
	[RoleID] [int] NULL
)
GO
