USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_GrafikCapaianKpiDetail]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_GrafikCapaianKpiDetail]
	-- Add the parameters for the stored procedure here
	@Year varchar(4) = null,
	@Category varchar(30) = null,
	@TW varchar(5) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
if(@Category = 'SO') begin
	select
		bb.IDProjectHeader,
		bb.ProjectNo,
		bb.ProjectName,
		bb.IDStrategicObjective as Id,
		bb.StrategicObjectiveCode as Name,
		--bb.Periode,
		Case
			when @TW = 'TW1' then cast(bb.TW1 as  varchar(10)) + '%'
			when @TW = 'TW2' then cast(bb.TW2 as  varchar(10)) + '%'
			when @TW = 'TW3' then cast(bb.TW3 as  varchar(10)) + '%'
			when @TW = 'TW4' then cast(bb.TW4 as  varchar(10)) + '%' 
		End as RealisasiPencapaian,
		bb.IsTransformasi,
		bb.Poin,
		round(cast(bb.Poin as float)/bb.TotalPoin,4) as Bobot 
	from (
		select Distinct
			a.IDStrategicObjective,
			a.StrategicObjectiveCode,
			a.IDProjectHeader,
			a.ProjectNo,
			a.StrategicObjectiveName,
			a.ProjectName,
			a.ProjectName as Name,
			a.IsTransformasi,
			--a.DateDownload,
			--[dbo].[Ufn_GetTriwulan](Month(a.DateDownload)) as Periode,
			IsNull(d.TW1,0) as TW1,
			IsNull(d.TW2,0) as TW2,
			IsNull(d.TW3,0) as TW3,
			IsNull(d.TW4,0) as TW4,
			IsNull(c.Poin,0) as Poin,
			(select  SUM(z.POIN)
				from
				(select Distinct
					at.IDStrategicObjective,
					at.StrategicObjectiveCode,
					at.ProjectNo,
					at.ProjectName,
					isNull(ct.Poin,0) as Poin
					from TblD_ListProject at
					join TblT_ProjectHeader bt on bt.IDProjectHeader = at.IDProjectHeader
					JOIN tblm_project ct on bt.IDProject = ct.IDProject
					left join TblM_KPIValue dt on ct.IDProject = dt.IDProject and dt.TWYear = @Year
					where at.IsActive = 1
						and Year(at.DateDownload) = @Year
						and (@Year between at.StartYear and at.EndYear)
						and at.IDProjectStatus not in(1, 8, 9, 13)
						and [dbo].[Ufn_GetTriwulan](Month(at.DateDownload)) = @TW
						and bt.IsActive = 1 and ct.IsActive = 1
						and at.IDStrategicObjective = a.IDStrategicObjective
			) z) as TotalPoin
		from TblD_ListProject a
		join TblT_ProjectHeader b on b.IDProjectHeader = a.IDProjectHeader
		JOIN tblm_project c on b.IDProject = c.IDProject
		left join TblM_KPIValue d on c.IDProject = d.IDProject and d.TWYear = @Year
		where a.IsActive = 1
			and Year(a.DateDownload) = @Year
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 8, 9, 13)
			and [dbo].[Ufn_GetTriwulan](Month(a.DateDownload)) = @TW
			and b.IsActive = 1 and c.IsActive = 1
	)bb		
	order by Name asc;		
end
else if(@Category = 'Direktorat') begin
		select 
		bb.IDProjectHeader,
		bb.ProjectNo,
		bb.ProjectName,
		bb.Id,
		bb.Name,
		--bb.Periode,
		Case
			when @TW = 'TW1' then cast(bb.TW1 as  varchar(10)) + '%'
			when @TW = 'TW2' then cast(bb.TW2 as  varchar(10)) + '%'
			when @TW = 'TW3' then cast(bb.TW3 as  varchar(10)) + '%'
			when @TW = 'TW4' then cast(bb.TW4 as  varchar(10)) + '%' 
		End as RealisasiPencapaian,
		bb.IsTransformasi,
		bb.Poin,
		round(cast(bb.Poin as float)/bb.TotalPoin,4) as Bobot
		from			
		(select distinct 
			a.IDProjectHeader,	
			a.ProjectNo,
			a.ProjectName,			
			case
				when IDDirektorat = 1 then a.IDDepartment
				else a.IDDirektorat
			end as Id,					
			case
				when IDDirektorat = 1 then a.DepartmentName
				else a.DirektoratName
			end as Name,												
			a.IsTransformasi,
			IsNull(d.TW1,0) as TW1,
			IsNull(d.TW2,0) as TW2,
			IsNull(d.TW3,0) as TW3,
			IsNull(d.TW4,0) as TW4,
			IsNull(c.Poin,0) as Poin,
			case
					when IDDirektorat = 1 then								
					(
						select Sum(z.Poin)
						from
						(
							select distinct 
							at.ProjectName,
							at.ProjectNo,			
							case
								when at.IDDirektorat = 1 then at.IDDepartment
								else at.IDDirektorat
							end as Id,					
							case
								when at.IDDirektorat = 1 then at.DepartmentName
								else at.DirektoratName
							end as Name,										
							IsNull(ct.Poin,0) as Poin		
							from TblD_ListProject at
							join TblT_ProjectHeader bt on bt.IDProjectHeader = at.IDProjectHeader
							JOIN tblm_project ct on bt.IDProject = ct.IDProject
							left join TblM_KPIValue dt on ct.IDProject = dt.IDProject and dt.TWYear = @Year
							where at.IsActive = 1
								and Year(at.DateDownload) = @Year
								and (@Year between at.StartYear and at.EndYear)
								and at.IDProjectStatus not in(1, 8, 9, 13)
								and [dbo].[Ufn_GetTriwulan](Month(at.DateDownload)) = @TW
								and bt.IsActive = 1 and ct.IsActive = 1
								and (at.IDDepartment = a.IDDepartment)
							) as z)
					else 
					(
					select Sum(z.Poin)
					from
					(
						select distinct 
						at.ProjectName,
						at.ProjectNo,			
						case
							when at.IDDirektorat = 1 then at.IDDepartment
							else at.IDDirektorat
						end as Id,					
						case
							when at.IDDirektorat = 1 then at.DepartmentName
							else at.DirektoratName
						end as Name,										
						IsNull(ct.Poin,0) as Poin		
						from TblD_ListProject at
						join TblT_ProjectHeader bt on bt.IDProjectHeader = at.IDProjectHeader
						JOIN tblm_project ct on bt.IDProject = ct.IDProject
						left join TblM_KPIValue dt on ct.IDProject = dt.IDProject and dt.TWYear = @Year
						where at.IsActive = 1
							and Year(at.DateDownload) = @Year
							and (@Year between at.StartYear and at.EndYear)
							and at.IDProjectStatus not in(1, 8, 9, 13)
							and [dbo].[Ufn_GetTriwulan](Month(at.DateDownload)) = @TW
							and bt.IsActive = 1 and ct.IsActive = 1
							and (at.IDDirektorat = a.IDDirektorat)
					) as z)
			end as TotalPoin			
		from TblD_ListProject a
		join TblT_ProjectHeader b on b.IDProjectHeader = a.IDProjectHeader
		JOIN tblm_project c on b.IDProject = c.IDProject
		left join TblM_KPIValue d on c.IDProject = d.IDProject and d.TWYear = @Year
		where a.IsActive = 1
			and Year(a.DateDownload) = @Year
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 8, 9, 13)
			and [dbo].[Ufn_GetTriwulan](Month(a.DateDownload)) = @TW
			and b.IsActive = 1 and c.IsActive = 1
		)bb
		order by 
			bb.Name asc,
			bb.Id desc;
	end;
else if(@Category = 'KategoriProyek') begin
		select
		bb.IDProjectHeader,
		bb.ProjectNo,
		bb.ProjectName,
		bb.Id,
		bb.Name,
		--bb.Periode,
		Case
			when @TW = 'TW1' then cast(bb.TW1 as  varchar(10)) + '%'
			when @TW = 'TW2' then cast(bb.TW2 as  varchar(10)) + '%'
			when @TW = 'TW3' then cast(bb.TW3 as  varchar(10)) + '%'
			when @TW = 'TW4' then cast(bb.TW4 as  varchar(10)) + '%' 
		End as RealisasiPencapaian,
		bb.IsTransformasi,
		bb.Poin,
		round(cast(bb.Poin as float)/bb.TotalPoin,4) as Bobot 				
		from (		
			select distinct 
				a.IDProjectHeader,
				a.ProjectName,
				a.ProjectNo,									
				a.IsTransformasi,
				e.KategoriName as Name,
				e.IDKategoriProject as Id,
				IsNull(d.TW1,0) as TW1,
				IsNull(d.TW2,0) as TW2,
				IsNull(d.TW3,0) as TW3,
				IsNull(d.TW4,0) as TW4	,
				IsNull(c.Poin,0) as Poin,
								(
					select SUM(z.Poin)
					from
						(
							select Distinct
								at.ProjectName,
								at.ProjectNo,									
								et.KategoriName as Name,
								et.IDKategoriProject as Id,
								IsNull(ct.Poin,0) as Poin		
							from TblD_ListProject at
							join TblT_ProjectHeader bt on bt.IDProjectHeader = at.IDProjectHeader
							JOIN tblm_project ct on bt.IDProject = ct.IDProject
							left join TblM_KPIValue dt on ct.IDProject = dt.IDProject and dt.TWYear = @Year
							JOIN tblm_KategoriProject et on et.IDKategoriProject = ct.IDKategoriProject
							where at.IsActive = 1
								and Year(at.DateDownload) = @Year
								and [dbo].[Ufn_GetTriwulan](Month(at.DateDownload)) = @TW
								and (@Year between at.StartYear and at.EndYear)
								and et.IsActive = 1 and ct.IsActive = 1 and bt.IsActive = 1 and dt.IsActive = 1
								and et.IDKategoriProject = e.IDKategoriProject
						) z
				) as TotalPoin								
			from TblD_ListProject a
			join TblT_ProjectHeader b on b.IDProjectHeader = a.IDProjectHeader
			JOIN tblm_project c on b.IDProject = c.IDProject
			left join TblM_KPIValue d on c.IDProject = d.IDProject and d.TWYear = @Year
			JOIN tblm_KategoriProject e on e.IDKategoriProject = c.IDKategoriProject
			where a.IsActive = 1
				and Year(a.DateDownload) = @Year
				and [dbo].[Ufn_GetTriwulan](Month(a.DateDownload)) = @TW
				and (@Year between a.StartYear and a.EndYear)
				--and a.IDProjectStatus not in(1, 8, 9, 13)
				and e.IsActive = 1 and c.IsActive = 1 and b.IsActive = 1 and d.IsActive = 1
		)bb 
		order by 
		bb.Name asc,
		bb.Id desc;
	end;
else if(@Category = 'Kpi') begin
		select 
		bb.IDProjectHeader,
		bb.ProjectNo,
		bb.ProjectName,
		bb.Id,
		bb.Id as Name,
		Case
			when @TW = 'TW1' then cast(bb.TW1 as  varchar(10)) + '%'
			when @TW = 'TW2' then cast(bb.TW2 as  varchar(10)) + '%'
			when @TW = 'TW3' then cast(bb.TW3 as  varchar(10)) + '%'
			when @TW = 'TW4' then cast(bb.TW4 as  varchar(10)) + '%' 
		End as RealisasiPencapaian,
		bb.IsTransformasi,
		bb.Poin,
		round(cast(bb.Poin as float)/bb.TotalPoin,4) as Bobot 	
		from (		
				select distinct
					a.IDProjectHeader,
					a.ProjectName,
					a.ProjectNo,			
					a.IsTransformasi,
					c.KPIName as Name,
					c.KPICode as Id,
					IsNull(f.TW1,0) as TW1,
					IsNull(f.TW2,0) as TW2,
					IsNull(f.TW3,0) as TW3,
					IsNull(f.TW4,0) as TW4,
					IsNull(e.Poin,0) as Poin,
					(
						select SUM(z.Poin)
						from
							(
							select distinct
								at.ProjectName,
								at.ProjectNo,
								ct.KPIName as Name,
								ct.KPICode as Id,
								et.Poin	
								from TblD_ListProject at
								join TblT_ProjectKPIOrganization bt on bt.IDProjectHeader = at.IDProjectHeader and bt.IDProjectHeader is not null
								join TblM_KPIOrganization ct on ct.IDKPIOrganization = bt.IDKPIOrganization
								join TblT_ProjectHeader dt on dt.IDProjectHeader = at.IDProjectHeader
								JOIN tblm_project et on dt.IDProject = et.IDProject
								left join TblM_KPIValue ft on et.IDProject = ft.IDProject and ft.TWYear = @Year
								where at.IsActive = 1
							and Year(at.DateDownload) = @Year
							and [dbo].[Ufn_GetTriwulan](Month(at.DateDownload)) = @TW
							and (@Year between at.StartYear and at.EndYear)
							and bt.IsActive = 1 and ct.IsActive = 1 and dt.IsActive = 1 and ft.IsActive = 1
							and ct.KPICode = c.KPICode
							) as z
					) as TotalPoin	
					from TblD_ListProject a
					join TblT_ProjectKPIOrganization b on b.IDProjectHeader = a.IDProjectHeader and b.IsActive = 1 and b.IDProjectHeader is not null
					join TblM_KPIOrganization c on c.IDKPIOrganization = b.IDKPIOrganization
					join TblT_ProjectHeader d on d.IDProjectHeader = a.IDProjectHeader
					JOIN tblm_project e on d.IDProject = e.IDProject
					left join TblM_KPIValue f on e.IDProject = f.IDProject and f.TWYear = @Year
					where a.IsActive = 1
				and Year(a.DateDownload) = @Year
				and [dbo].[Ufn_GetTriwulan](Month(a.DateDownload)) = @TW
				and (@Year between a.StartYear and a.EndYear)
				and b.IsActive = 1 and c.IsActive = 1 and d.IsActive = 1 and f.IsActive = 1				
			)bb 
			order by 
			bb.Name asc,
			bb.Id desc;
		end
else if(@Category = 'JenisProyek') begin
	select distinct
	a.IDProjectHeader,
	a.ProjectNo,
	a.ProjectName,
	case
		when a.IsTransformasi = 1 then 'Transformasi'
		else 'NonTransformasi'
	end as Id,					
	case
		when a.IsTransformasi = 1 then 'Transformasi'
		else 'Non Transformasi'
	end as Name,	
	--bb.Periode,
	Case
		when @TW = 'TW1' then cast(d.TW1 as  varchar(10)) + '%'
		when @TW = 'TW2' then cast(d.TW2 as  varchar(10)) + '%'
		when @TW = 'TW3' then cast(d.TW3 as  varchar(10)) + '%'
		when @TW = 'TW4' then cast(d.TW4 as  varchar(10)) + '%' 
	End as RealisasiPencapaian,
	a.IsTransformasi,
	IsNull(c.Poin,0) as Poin,
		Round((
			select cast(IsNull(c.Poin,0) as float)/Sum(z.Poin)
			from 
			(
				select distinct
			at.ProjectNo,
			at.ProjectName,
			at.IsTransformasi,	
			--bb.Periode,		
			IsNull(ct.Poin,0) as Poin			
			from TblD_ListProject at	
			join TblT_ProjectHeader bt on bt.IDProjectHeader = at.IDProjectHeader
			JOIN tblm_project ct on bt.IDProject = ct.IDProject
			left join TblM_KPIValue dt on ct.IDProject = dt.IDProject and dt.TWYear = @Year			
			where at.IsActive = 1
				and Year(at.DateDownload) = @Year
				and [dbo].[Ufn_GetTriwulan](Month(at.DateDownload)) = @TW
				and (@Year between at.StartYear and at.EndYear)
				and ct.IsActive = 1 and bt.IsActive = 1 and dt.IsActive = 1	
				and at.IsTransformasi = a.IsTransformasi	
			) as z
		),4) as Bobot			
	from TblD_ListProject a	
	join TblT_ProjectHeader b on b.IDProjectHeader = a.IDProjectHeader
	JOIN tblm_project c on b.IDProject = c.IDProject
	left join TblM_KPIValue d on c.IDProject = d.IDProject	and d.TWYear = @Year		
	where a.IsActive = 1
		and Year(a.DateDownload) = @Year
		and [dbo].[Ufn_GetTriwulan](Month(a.DateDownload)) = @TW
		and (@Year between a.StartYear and a.EndYear)
		and c.IsActive = 1 and b.IsActive = 1 and d.IsActive = 1
	order by 
		IsTransformasi asc;		
	end
END




GO
