USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_Grafik_Periode]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_Grafik_Periode] 
	-- Add the parameters for the stored procedure here
	@Filter nvarchar(50)='Proyek', --Proyek, Anggaran, Fisik, KPI
	@Year int = null
AS
BEGIN
	if (@Filter='Proyek') begin
		select 
		z.Periode,
				sum (case when z.IDProjectStatus in (2,7,10,11) and z.PlanPencapaian!=0 then 1 else 0 end) as Hasil,
				sum (case when z.IDProjectStatus in (2,7,10,11) and z.PlanPencapaian=0 then 1 else 0 end) as BelumMulai,
				sum(case when z.IDProjectStatus in (4,12) and z.RealisasiPencapaian=100 then 1 else 0 end) as Complete
		from
		(
			select distinct
			DLP.IDProjectHeader,
			DLP.Periode,
			DLP.IDProjectStatus,
			DLP.PlanPencapaian,
			DLP.DateDownload,
			DLP.RealisasiPencapaian		
			from TblD_ListProject DLP 
			inner join TblT_ProjectHeader b on DLP.IDProjectHeader=b.IDProjectHeader	
			where DLP.IsActive = 1
				and DLP.DateDownload in(
					--select Date from TblM_Date where WeekDayName = 'Saturday' and Year = @Year
					select Date from TblM_Date where WeekDayName = 'Wednesday' and Year = @Year
				)
				and (@Year between DLP.StartYear and DLP.EndYear) and b.IsActive=1 
		)z
		group by z.Periode,
			z.DateDownload
		order by z.Periode asc;
	end
	else if (@Filter='Anggaran') begin
		select DLP.Periode, sum(cast(Anggaran as float)) as Hasil,
		0 as BelumMulai,
		0 as Complete
		
		from (select distinct DLP.IDProjectHeader, DLP.Periode, DLP.Anggaran, DLP.DateDownload from TblD_ListProject DLP
		
		where DLP.IsActive = 1
			and DLP.DateDownload in(
				--select Date from TblM_Date where WeekDayName = 'Saturday' and Year = @Year
				select Date from TblM_Date where WeekDayName = 'Wednesday' and Year = @Year
			)
			and (@Year between DLP.StartYear and DLP.EndYear)
			and IDProjectStatus not in(1, 3, 8, 9, 13)) DLP
		
		group by DLP.Periode,
			DLP.DateDownload
		order by DLP.DateDownload asc;
	end
	else if (@Filter='Fisik') begin
		select DLP.Periode, avg(DLP.RealisasiPencapaian) as Hasil,
		0 as BelumMulai,
		0 as Complete
		
		from TblD_ListProject DLP
		
		where DLP.IsActive = 1
			and DLP.DateDownload in(
				--select Date from TblM_Date where WeekDayName = 'Saturday' and Year = @Year
				select Date from TblM_Date where WeekDayName = 'Wednesday' and Year = @Year
			)
			and (@Year between DLP.StartYear and DLP.EndYear)
			and IDProjectStatus not in(1, 3, 8, 9, 13)
		
		group by DLP.Periode,
			DLP.DateDownload
		order by DLP.DateDownload asc;

	end
	else if (@Filter='KPI') begin
		select Periode, Hasil,0 as BelumMulai,
		0 as Complete from (select avg(tw1) as tw1, avg(tw2) as tw2, avg(tw3) as tw3, avg(tw4) as tw4 from TblM_KPIValue where TWYEAR=@Year) p
		unpivot(
			Hasil for Periode in (tw1,tw2,tw3,tw4)
		) as u;
	end;
END



GO
