USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_MasterKategoriProject]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_MasterKategoriProject]
	-- Add the parameters for the stored procedure here
	@IDKategoriProject int = null,
	@KategoriName nvarchar(max) = null,
	@Description nvarchar(max) = null,
	@User varchar(50) = null,

	-- Type Transaction --
	@TypeTransaction varchar(10) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	begin try
		begin transaction;
		declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @User);	
		if(@Username = null) begin set @Username = '-'; end;

		if(@TypeTransaction = 'Insert')begin
			if(@KategoriName is not null) begin
				insert into TblM_KategoriProject (
					KategoriName,
					Description,
					CreatedDate,
					CreatedBy,
					IsActive
				) values (
					@KategoriName,
					@Description,
					getdate(),
					@Username,
					1
				);
				select 'S|Sukses';
			end
			else begin select 'F|Nama kategori harus di isi'; end;			
		end
		else if(@TypeTransaction = 'Update') begin
			if exists(select * from TblM_KategoriProject where IDKategoriProject = @IDKategoriProject and IsActive = 1) begin
				if(@KategoriName is not null) begin
					update TblM_KategoriProject
					set KategoriName = @KategoriName,
						Description = @Description,
						UpdatedDate = getdate(),
						UpdatedBy = @Username
					where IDKategoriProject = @IDKategoriProject and IsActive = 1;
					select 'S|Sukses';
				end
				else begin select 'F|Nama program harus di isi'; end;
			end
			else begin select 'F|ID Program tidak tersedia'; end;
		end 
		else if(@TypeTransaction = 'Delete') begin
			if exists(select * from TblM_KategoriProject where IDKategoriProject = @IDKategoriProject and IsActive = 1) begin
			--	if not exists(select * from TblM_Program a inner join TblM_Project b on a.IDProgram = b.IDProgram where a.IDProgram = @IDProgram) begin
					delete from TblM_KategoriProject where IDKategoriProject = @IDKategoriProject;
					select 'S|Sukses';
			--	end
				--else begin select 'F|Program tidak dapat di hapus karena sudah terikat dengan project lain'; end
			end
			else begin select 'F|IDKategori tidak tersedia'; end;
		end

		commit;
	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_MasterKategoriProject', @ErrNum, @ErrMsg, @Username;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch

    
END




GO
