USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblDW_Usergroup]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDW_Usergroup](
	[IDUserGroup] [int] IDENTITY(1,1) NOT NULL,
	[User_LoginName] [varchar](30) NULL,
	[Usergroup_GroupName] [varchar](50) NULL,
	[Usergroup_Pernr] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nchar](10) NULL,
 CONSTRAINT [PK_TblM_Usergroup] PRIMARY KEY CLUSTERED 
(
	[IDUserGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
