USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterDirektorat]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:	Mendapatkan master program yang aktif
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MasterDirektorat]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SELECT *,row_number() OVER (
			ORDER BY a.DirektoratName
		) AS NoUrut
		,a.IDDirektorat
		,a.DirektoratCode
		,a.DirektoratName
		,a.Description
		,a.CreatedDate
		,a.CreatedBy
		,a.UpdatedDate
		,a.IsActive
	FROM TblM_Direktorat a
	WHERE a.IsActive = 1;

END




GO
