USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Calculate_DelayedProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[Usp_Calculate_DelayedProject]
	
	@ProjectHeaderID int ,
	@Tipe int ,
	@Username varchar(100)

	AS
	BEGIN
	DECLARE @wk int ,@mm int ,@yr varchar(4)

	DECLARE @endwk int , @endmm int, @endyr varchar(4)
	DECLARE @endtime datetime

	SELECT @wk = WeekOfMonth , @mm = Month , @yr = Year FROM
	TblM_Date 
	Where
	Date = CONVERT(date,GETDATE())

	DECLARE
	@WeekTable TABLE 
	(
		ProjectHeaderID int, 
		TaskID int,
		TaskName varchar(max),
		StartDate date,
		EndDate date,
		DurationInDays int,
		ParentID int,
		IsParent bit,
		ElapseDays int,
		PlanedPerecentage decimal(20,2),
		Year varchar(4),
		Month int,
		Week int
	)

	SELECT @endtime = EndDate FROM
	TblT_MPPProjectPlanDetail  MPDD
	WHERE
	MPDD.IsActive = '1'
	and
	MPDD.ParentID = 0
	and
	MPDD.ProjectHeaderID = @ProjectHeaderID

	SELECT @endwk = WeekOfMonth , @endmm = Month , @endyr = Year FROM
	TblM_Date 
	Where
	Date = CONVERT(date,@endtime)

	IF ( (@yr + RIGHT('00' + CAST(@mm AS VARCHAR(2)), 2) + CAST(@wk AS VARCHAR(1)) 
	      >= CAST(@endyr AS VARCHAR(4)) + RIGHT('00' + CAST(@endmm AS VARCHAR(2)), 2) + CAST(@endwk AS VARCHAR(1))) )
	BEGIN
		DECLARE @TempTT TABLE(Year varchar(4), Month int , Week int , Plans int)
		DECLARE @tdate datetime
		IF @Tipe = 1
		BEGIN
			SET @tdate = GETDATE()
		END
		ELSE
		BEGIN
			SELECT
				@tdate = Date
			FROM
			TblM_Date D
			Where
			D.Year = @yr
			and
			D.Month = @mm
			ORDER BY
			WeekOfMonth ASC
		END
		

		DECLARE @TempDate TABLE
			(
				StartDate Date , EndDate Date
			)

			INSERT INTO 
			@TempDate
			(
				StartDate,
				EndDate
			)
			SELECT
				mm.StartDate,
				mm.EndDate
			FROM
			[dbo].[Ufn_Calculate_WeekendwithMargin](@endtime , @tdate) mm

			DECLARE @EndDate date , @StartDate date
			DECLARE Cursor_Calculate
			CURSOR FOR
				SELECT EndDate, StartDate FROM
				@TempDate 

			OPEN Cursor_Calculate;
			FETCH NEXT FROM Cursor_Calculate INTO @EndDate, @StartDate;
			WHILE @@FETCH_STATUS = 0  
			BEGIN  
					DECLARE @Year varchar(4) , @Month int , @Week int

					SELECT @Year = Year , @Month = Month, @Week = WeekOfMonth FROM 
					TblM_Date dt
					WHERE 
					dt.Date =  @EndDate
		 
					INSERT INTO @WeekTable
					SELECT
					* , 
					@Year,@Month,@Week
					FROM 
					[Ufn_Get_PlanningPercentage_PerProject](@ProjectHeaderID,@EndDate)
		
				   --Do stuff with scalar values

				  FETCH NEXT FROM Cursor_Calculate INTO @EndDate, @StartDate;
			END;
			CLOSE Cursor_Calculate;
			DEALLOCATE Cursor_Calculate;


			MERGE [TblT_MPPProjectPlanPercentage] as T
			USING
			@WeekTable as S
			ON
			(
				T.IDProjectHeader = S.ProjectHeaderID 
				AND
				T.TaskID = S.TaskID 
				AND
				T.Week = S.Week
				AND
				T.Month = S.Month
				AND
				T.Year = CONVERT(int,S.Year)

			)
			WHEN NOT MATCHED BY TARGET
			THEN
			INSERT
				(
					[IDProjectHeader],
					[TaskID],
					[Week],
					[Month],
					[Year],
					[PlanPercentage],
					[CompletePercentage],
					[CreatedDate],
					[CreatedBy],
					[IsActive]
				)
			VALUES
				(
						S.ProjectHeaderID ,
						S.TaskID,
						S.Week,
						S.Month,
						CONVERT(int,S.Year),
						S.PlanedPerecentage,
						NULL,
						GETDATE(),
						@Username,
						'1'
				);

			INSERT INTO [dbo].[TblT_MPPProjectPlanPercentage]
			SELECT  
				WT.ProjectHeaderID ,
				WT.TaskID,
				WT.Week,
				WT.Month,
				CONVERT(int,WT.Year),
				WT.PlanedPerecentage,
				NULL,
				GETDATE(),
				@Username,
				NULL,
				NULL,
				'1'
			FROM 
			@WeekTable WT
	END
	END




GO
