USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_DropdownProgramAndRoles]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:     
-- Create date:  
-- Description:   
-- ============================================= 
CREATE PROCEDURE [dbo].[Usp_Get_DropdownProgramAndRoles]
AS
BEGIN
	SELECT Prog.idprogram
		,Prog.programno + ' - ' + Prog.programname AS ProgramName
	FROM tblm_program Prog
	WHERE Isnull(isactive, 0) = 1

	SELECT Roles.idrolegroup
		,description AS RoleGroupName
	FROM tblm_rolegroup Roles
	WHERE Isnull(isactive, 0) = 1
	ORDER BY LEVEL ASC
END




GO
