USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_ProjectHeaderCost]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_ProjectHeaderCost] AS TABLE(
	[IDProjectHeaderCost] [int] NULL,
	[IDProjectHeader] [int] NULL,
	[IDProjectCost] [int] NULL,
	[Value] [numeric](20, 2) NULL
)
GO
