USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_MPPRealPercentage]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_MPPRealPercentage](
	[IDMPPProjectPlanPercentage] [bigint] NOT NULL,
	[IDProjectHeader] [int] NULL,
	[TaskID] [bigint] NULL,
	[Week] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[CompletePercentage] [float] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]
GO
