USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_ProjectInformation_PlanReal]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_ProjectInformation_PlanReal]  -- exec Get_ProjectInformation_PlanReal '413', '4', '5', '2021'
	@ProjectHeaderID int,
	@week int = null,
	@month int = null,
	@year int = null
AS
BEGIN

	--declare @IsTransformasi varchar(20);

	--select @IsTransformasi = Proj.IsTransformasi
	--from TblT_ProjectHeader ProjH
	--	inner join TblM_Project Proj on ProjH.IDProject = Proj.IDProject
	--where ProjH.IDProjectHeader = @ProjectHeaderID;

	--if @IsTransformasi = 0 begin
	--	select @week = max(a.WeekOfMonth)
	--	from TblM_Date a
	--	where a.Month = @month 
	--		and a.Year = @year;
	--end;


	------------------------------------- Plan Realization -------------------------------------	

		select top 1 round(EL.Reals,0) as ProjReal, round(EL.Plans,0) as ProjPlan --, isnull(round((round(EL.Reals,0) / round(EL.Plans,0)) * 100,0),0) as Pencapaian 
		from [dbo].Ufn_Get_TrendEkseksiPerPeriode(@ProjectHeaderID) EL
		where EL.IDProjectHeader = @ProjectHeaderID
			--and EL.month <= @month
			--and EL.year <= @year
			--and EL.week <= @week
			and cast(cast(EL.year as varchar(4)) + '-' + cast(EL.month as varchar(2)) + '-' + cast(EL.week as varchar(2)) as date)
				<=
				cast(cast(@year as varchar(4)) + '-' + cast(@month as varchar(2)) + '-' + cast(@week as varchar(2)) as date)
		order by cast(cast(EL.year as varchar(4)) + '-' + cast(EL.month as varchar(2)) + '-' + cast(EL.week as varchar(2)) as date) desc;


END
GO
