USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_Direktorat]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_Direktorat](
	[IDDirektorat] [int] IDENTITY(1,1) NOT NULL,
	[RefID] [nvarchar](max) NULL,
	[DirektoratCode] [nvarchar](max) NULL,
	[DirektoratName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblM_Direktorat] PRIMARY KEY CLUSTERED 
(
	[IDDirektorat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
