USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectInisiasiMilestones]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_ProjectInisiasiMilestones]
	-- Add the parameters for the stored procedure here
	@ProjectHeaderID Int
AS
BEGIN


	SELECT 
		MPPPD.TaskID as ID, MPPPD.TaskName as Milestone, [dbo].[Ufn_GetMonthName_Indonesia](MONTH(MPPPD.StartDate)) + ' ' + CAST(YEAR(MPPPD.StartDate) as varchar(4)) as Selesai 
	FROM
	TblT_MPPProjectPlanDetail MPPPD
	where
	MPPPD.IsActive = '1'
	and
	MPPPD.TaskName LIKE '%milestone%'
	and
	MPPPD.ProjectHeaderID = @ProjectHeaderID


END




GO
