USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_ListProject_20210108bef]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_ListProject_20210108bef]
	-- Add the parameters for the stored procedure here
	@Date date = null,
	@Year varchar(4) = null,
	@Month int = null,
	@Day int = null,
	@Week int = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	

    -- Insert statements for procedure here
	begin try

		begin transaction InsertListProject;

		if @Date is null set @Date = getdate();
		if @Year is null set @Year = year(@Date);
		if @Month is null set @Month = month(@Date);
		if @Day is null set @Day = day(@Date);
		if @Week is null set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = @Date);
		
		if exists(select * from [dbo].[TblD_ListProject] where DateDownload = @Date and IsActive = 1) begin
			
			delete [TblD_ListProject] where DateDownload = @Date;

		end;
		
		declare @CTyear int, @CTmonth int, @CTweek int;
		declare @TcurrentDate date;
		declare @CTPeriode varchar(50);	
		set @TcurrentDate = (select dateadd(week, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 1), @Date));
		select @CTyear = year(@TcurrentDate);
		select @CTmonth = month(@TcurrentDate);
		select @CTweek = (select top 1 WeekOfMonth from TblM_Date where Date = cast(@TcurrentDate as date));
		if(@CTweek = (select top 1 WeekOfMonth from TblM_Date where Year = @CTyear and Month = @CTmonth order by Date desc) 
			and (select top 1 WeekDayName from TblM_Date  where Year = @CTyear and Month = @CTmonth order by Date desc) != 'Saturday')begin
				set @CTweek = 1;
				set @CTmonth = @CTmonth + 1;
				if(@CTmonth = 13) begin set @CTyear = @CTyear + 1; set @CTmonth = 1 end;
		end;
		set @CTPeriode = cast(@CTyear as varchar(5)) + '-' + cast(@CTmonth as varchar(3)) + '-' + cast(@CTweek as varchar(2));
		
		declare @CNTyear int, @CNTmonth int,@CNTWeek int,@CNTPeriode varchar(50);
		declare @NTcurrentDate date = (select dateadd(month, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 1), @Date));
		select @CNTyear = year(@NTcurrentDate);
		select @CNTmonth = month(@NTcurrentDate);
		select @CNTweek = (select top 1 WeekOfMonth from TblM_Date where Year = @CNTyear and Month = @CNTmonth order by Date desc);
		set @CNTPeriode = cast(@CNTyear as varchar(5)) + '-' + cast(@CNTmonth as varchar(3)) + '-' + cast(@CNTweek as varchar(2));

		declare @Periode varchar(50) = @Year + '-' + cast(@Month as varchar(2)) + '-' + cast(@Week as varchar(1));

		DECLARE @MaxDatePergeseran DATETIME 
		DECLARE @MaxDateReal DATETIME 
		DECLARE @MaxDateKomit DATETIME
		declare @MaxDateHangus datetime
		
		SET @MaxDatePergeseran = (SELECT TOP 1  DateDownload FROM TblSAP_Pergeseran WHERE DateDownload <= 
		(SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date
		WHERE year = @Year and month = @Month)
		ORDER BY DateDownload DESC)
		
		SET @MaxDateReal = (SELECT TOP 1 DateDownload FROM TblSAP_Realisasi WHERE DateDownload <= 
		(SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date
		WHERE year = @Year and month = @Month) 
		ORDER BY DateDownload DESC)
		
		SET @MaxDateKomit = (SELECT TOP 1  DateDownload FROM TblSAP_Komitmen WHERE DateDownload <= 
		(SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date
		WHERE year = @Year and month = @Month)
		ORDER BY DateDownload DESC)
		
		SET @MaxDateHangus = (SELECT TOP 1  DateDownload FROM TblSAP_Hangus WHERE DateDownload <= 
		(SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date
		WHERE year = @Year and month = @Month)
		ORDER BY DateDownload DESC)

		set ANSI_WARNINGS  ON;
		--set ANSI_WARNINGS  OFF;
		
		insert into [dbo].[TblD_ListProject](
			DateDownload,
			-- ID
			IDProjectStatus,
			IDDirektorat,
			IDDepartment,
			IDStrategicObjective,
			IDProgram,
			IDProjectHeader,

			-- Code
			DirektoratCode,
			DepartmentCode,
			StrategicObjectiveCode,
			ProgramNo,
			ProjectNo,

			-- Name
			DirektoratName,
			DepartmentName,
			StrategicObjectiveName,
			ProgramName,
			ProjectName,

			-- Data
			IsTransformasi,
			PlanPencapaian,
			RealisasiPencapaian,
			Pencapaian,
			StartDay,
			StartMonth,
			StartYear,
			EndDay,
			EndMonth,
			EndYear,
			UpdatedDate,
			IsActive,

			-- Anggaran
			Anggaran,
			RealisasiAnggaran,
			KomitAnggaran,

			-- Nama Project Manager
			NamaProjectManager,

			-- Kendala Aksi
			Kendala,
			RencanaAksi,

			-- Tren
			Tren,
			TrenBefore,
			
			-- NewField
			LastUpdated,
			StatusProject,
			NextApproval,
			Periode,
			NamaProgramManager,
			UsernameProgramManager,
			UsernameProjectManager

		)
		
		select 
		bb.DateDownload,
		--ID
		bb.IDProjectStatus,
		bb.IDDirektorat,
		bb.IDDepartment,
		bb.IDStrategicObjective,
		bb.IDProgram,
		bb.IDProjectHeader,
		--Code
		bb.DirektoratCode,
		bb.DepartmentCode,
		bb.StrategicObjectiveCode,
		bb.ProgramNo,
		bb.ProjectNo,
		-- Name
		bb.DirektoratName,
		bb.DepartmentName,
		bb.StrategicObjectiveName,
		bb.ProgramName,
		bb.ProjectName,
		
		-- Data
		bb.IsTransformasi,
		Round(Avg(bb.PlanPencapaian),0) PlanPencapaian,
		Round(Avg(bb.RealisasiPencapaian),0) RealisasiPencapaian,
		Round(Avg(bb.Pencapaian),0) as Pencapaian,
		--Date
		bb.StartDay,
		bb.StartMonth,
		bb.StartYear,
		bb.EndDay,
		bb.EndMonth,
		bb.EndYear,
		
		bb.UpdateDate,
		bb.IsActive,
		(
			select SUM(isnull(temp.value,0))
			from
			(
				select distinct
					(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_RKATFinal c WHERE c.RENCANA_KERJA = b.IDSAP )
					+ isnull((SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Pergeseran f WHERE f.RENCANA_KERJA = b.IDSAP and DateDownload = @MaxDatePergeseran),0)
					+ isnull((SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Hangus f WHERE f.RENCANA_KERJA = b.IDSAP and DateDownload = @MaxDateHangus),0) as Value
				FROM TblT_ProjectRKAT  a 
				JOIN TblSAP_MasterRKAT b ON a.IDSAPMasterRKAT = b.IDSAPMasterRKAT
				where IDProjectHeader = bb.IDProjectHeader and a.IsActive = 1
			)temp
		) as Anggaran,
		(
			select SUM(isnull(temp.value,0))
			from
			(
				select distinct
				(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Realisasi d WHERE d.RENCANA_KERJA = b.IDSAP AND DateDownload = @MaxDateReal) value
				FROM TblT_ProjectRKAT  a 
				JOIN TblSAP_MasterRKAT b ON a.IDSAPMasterRKAT = b.IDSAPMasterRKAT
				where IDProjectHeader = bb.IDProjectHeader and a.IsActive = 1
			)temp
		) as RealisasiAnggaran,
		(
			select SUM(isnull(temp.value,0))
			from
			(
				select distinct
				(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Komitmen e WHERE e.RENCANA_KERJA = b.IDSAP AND DateDownload = @MaxDateKomit ) value
				FROM TblT_ProjectRKAT  a 
				JOIN TblSAP_MasterRKAT b ON a.IDSAPMasterRKAT = b.IDSAPMasterRKAT
				where IDProjectHeader = bb.IDProjectHeader and a.IsActive = 1
			)temp
		) as KomitAnggaran,
		
		bb.NamaProjectManager,
		
		bb.Kendala,
		bb.Aksi,
		Case
			when Round(Avg(bb.Pencapaian),0) >= 110 then 'Biru'
			when Round(Avg(bb.Pencapaian),0) >= 100 then 'Hijau'
			when Round(Avg(bb.Pencapaian),0) >= 85 then 'Kuning'
			else 'Merah'
		End Tren,
		Case
			when round(avg(bb.CapaianBefore),0) >= 110 then 'Biru'
			when round(avg(bb.CapaianBefore),0) >= 100 then 'Hijau'
			when round(avg(bb.CapaianBefore),0) >= 85 then 'Kuning'
			else 'Merah'
		End TrenBefore,
		bb.LastUpdated,
		bb.StatusProject,
		bb.NextApproval,
		bb.Periode,
		bb.NamaProgramManager,
		bb.UsernameProgramManager,
		bb.UsernameProjectManager
		from
		(
		select distinct @Date as DateDownload,
			 --ID,
			c.IDProjectStatus,
			f.IDDirektorat,
			e.IDDepartment,
			d.IDStrategicObjective,
			a.IDProgram,
			c.IDProjectHeader,
		
			-- Code
			f.DirektoratCode,
			e.DepartmentCode,
			d.StrategicObjectiveCode,
			a.ProgramNo,
			b.ProjectNo,
		
			-- Name
			f.DirektoratName,
			e.DepartmentName,
			d.StrategicObjectiveName,
			a.ProgramName,
			b.ProjectName,
		
			-- Data
			b.IsTransformasi,
			round(Isnull(tmpp.PlanPercentage,0),0) as PlanPencapaian,
			round(IsNull(x.CompletePercentage,0),0) as RealisasiPencapaian,
			round(
					Case 
						when ISNULL(tmpp.PlanPercentage,0) = 0 then 0
						else (
								round(IsNull(x.CompletePercentage,0),0) / round(Isnull(tmpp.PlanPercentage,0),0)) * 100
					end
			,0) as Pencapaian,
			(
				select top 1 day(StartDate)
				from TblT_MPPProjectPlanDetail
				where ProjectHeaderID = tmpd.ProjectHeaderID
					and IsActive = 1
					and ParentID = 0
				order by TaskID asc
			) StartDay,
			(
				select top 1 month(StartDate)
				from TblT_MPPProjectPlanDetail
				where ProjectHeaderID = tmpd.ProjectHeaderID
					and IsActive = 1
				order by StartDate asc
			) StartMonth,
			(
				select top 1 year(StartDate)
				from TblT_MPPProjectPlanDetail
				where ProjectHeaderID = tmpd.ProjectHeaderID
					and IsActive = 1
				order by StartDate asc
			) StartYear,
			(
				select top 1 day(EndDate)
				from TblT_MPPProjectPlanDetail
				where ProjectHeaderID = tmpd.ProjectHeaderID
					and IsActive = 1
					and ParentID = 0
				order by TaskID asc
			) EndDay,
			(
				select top 1 month(EndDate)
				from TblT_MPPProjectPlanDetail
				where ProjectHeaderID = tmpd.ProjectHeaderID
					and IsActive = 1
				order by EndDate desc
			) EndMonth,
			(
				select top 1 year(StartDate)
				from TblT_MPPProjectPlanDetail
				where ProjectHeaderID = tmpd.ProjectHeaderID
					and IsActive = 1
				order by StartDate desc
			) EndYear,
			getdate() UpdateDate,
			1 IsActive,
		
			---- Data
			NamaProjectManager = STUFF(
				(
					SELECT ',' + y.empl_mast_Name
					FROM TblT_ProjectInitApprovalRole x
						left join TblDW_EmployeeMapping y on x.Username = y.empl_mast_username
					where x.IDRoleGroup = 3
						and x.IDProjectHeader = c.IDProjectHeader
						and x.IsActive = 1
					FOR XML PATH ('')
				), 1, 1, ''
		    ),
		
			---- Kendala Aksi
			(
				select 
					stuff(
						(
							select ',' + t1.Description
							from TblT_ProjectConstraint t1
							where t1.IDProjectHeader = tmpd.ProjectHeaderID
								and t1.IsActive = 1
							for xml path('')
						), 1, 1, ''
					)
			) Kendala,
			(
				select 
					stuff(
						(
							select ',' + t1.Remarks
							from TblT_ProjectConstraint t1
							where t1.IDProjectHeader = tmpd.ProjectHeaderID
								and t1.IsActive = 1
							for xml path('')
						), 1, 1, ''
					)
			) Aksi,	
			Case
				when b.IsTransformasi = 1 then 
					case
						when 
							(
								round(isnull(
										(select TOP 1 PlanPercentage
										from TblT_MPPProjectPlanPercentage
										where cast(cast(Year as varchar(4)) + '-' + right('00' + cast(Month as varchar(2)),2) + '-' + cast(Week as varchar(1)) as date) <= cast(@CTPeriode as date) and isActive = 1 
										and IDProjectHeader = tmpd.ProjectHeaderId and TaskId = tmpd.TaskId
										order by Year desc,Month desc,Week desc)
								,0),0)
							) = 0 then 0
						else
							round(100*(
								isnull(
										(select TOP 1 round(CompletePercentage,0)
										from TblT_MPPProjectRealPercentage
										where cast(cast(Year as varchar(4)) + '-' + right('00' + cast(Month as varchar(2)),2) + '-' + cast(Week as varchar(1)) as date) <= cast(@CTPeriode as date) and isActive = 1 
										and IDProjectHeader = tmpd.ProjectHeaderId and TaskId = tmpd.TaskId
										order by Year desc,Month desc,Week desc)
								,0)
							)/
							(
								isnull(
										(select TOP 1 round(PlanPercentage,0)
										from TblT_MPPProjectPlanPercentage
										where cast(cast(Year as varchar(4)) + '-' + right('00' + cast(Month as varchar(2)),2) + '-' + cast(Week as varchar(1)) as date) <= cast(@CTPeriode as date) and isActive = 1 
										and IDProjectHeader = tmpd.ProjectHeaderId and TaskId = tmpd.TaskId
										order by Year desc,Month desc,Week desc)
								,0)
							),0)
					end
				else
					case
						when 
							(
								round(isnull(
										(select TOP 1 PlanPercentage
										from TblT_MPPProjectPlanPercentage
										where cast(cast(Year as varchar(4)) + '-' + right('00' + cast(Month as varchar(2)),2) + '-' + cast(Week as varchar(1)) as date) <= cast(@CNTPeriode as date) and isActive = 1 
										and IDProjectHeader = tmpd.ProjectHeaderId and TaskId = tmpd.TaskId
										order by Year desc,Month desc,Week desc)
								,0),0)
							) = 0 then 0
						else
							round(100*(
								isnull(
										(select TOP 1 round(CompletePercentage,0)
										from TblT_MPPProjectRealPercentage
										where cast(cast(Year as varchar(4)) + '-' + right('00' + cast(Month as varchar(2)),2) + '-' + cast(Week as varchar(1)) as date) <= cast(@CNTPeriode as date) and isActive = 1 
										and IDProjectHeader = tmpd.ProjectHeaderId and TaskId = tmpd.TaskId
										order by Year desc,Month desc,Week desc)
								,0)
							)/
							(
								isnull(
										(select TOP 1 round(PlanPercentage,0)
										from TblT_MPPProjectPlanPercentage
										where cast(cast(Year as varchar(4)) + '-' + right('00' + cast(Month as varchar(2)),2) + '-' + cast(Week as varchar(1)) as date) <= cast(@CNTPeriode as date) and isActive = 1 
										and IDProjectHeader = tmpd.ProjectHeaderId and TaskId = tmpd.TaskId
										order by Year desc,Month desc,Week desc)
								,0)
							),0)
					end
			end as CapaianBefore,
			
			---- NewField
			convert (
						datetime, (
							select top 1 PEAR.updateddate
							from tblt_projectexecutionapprovalrole PEAR
								inner join tbldw_usergroup UG on PEAR.username = UG.user_loginname 
								inner join tbldw_employee Em on UG.usergroup_pernr = Em.personalnumber 
							where PEAR.idprojectheader = tmpd.ProjectheaderId
								and PEAR.periode = convert(varchar, tmpp.year) + '-' + convert(varchar, tmpp.month) + '-' + convert(varchar, (tmpp.week))
								and PEAR.isactive = '1'
							order by PEAR.updateddate desc
						), 106
				) as LastUpdated,
			case
				when exists (
					select top 1 PES.IDProjectHeaderID
					from TblT_ProjectExecutionStatus PES
					where PES.IDProjectHeaderID = tmpd.ProjectHeaderID
						and PES.IsActive = 1
						and PES.Periode = convert(varchar, tmpp.year) + '-' + convert(varchar, tmpp.month) + '-' + convert(varchar, (tmpp.week))
						and PES.ProjectStatus = 'Approved'
				) then 'Completed'
				when exists
					(
						select top 1 PES.IDProjectHeaderID
						from TblT_ProjectExecutionStatus PES
						where PES.IDProjectHeaderID = tmpd.ProjectHeaderID
							and PES.IsActive = 1
							and PES.Periode = convert(varchar, tmpp.year) + '-' + convert(varchar, tmpp.month) + '-' + convert(varchar, (tmpp.week)) 
							and PES.ProjectStatus = 'Submit'
					) then 'Waiting for Approval' 
				else 'No realisation on this week' 
			end as StatusProject,
			isnull(
					(
						select top 1 Em.nama 
						from tblt_projectexecutionapprovalrole PEAR 
							inner join tbldw_usergroup UG on PEAR.username = UG.user_loginname 
							inner join tbldw_employee Em on UG.usergroup_pernr = Em.personalnumber 
							inner join tblt_projectexecutionstatus PES on PEAR.idprojectheader = PES.idprojectheaderid 
						where PEAR.idprojectheader = tmpd.ProjectheaderID
							and PEAR.periode = convert(varchar, tmpp.year) + '-' + convert(varchar, tmpp.month) + '-' + convert(varchar, tmpp.week) 
							and PEAR.IsEnabled = '1'
							and (
								PEAR.isapprove is null or PEAR.isapprove = '0'
							)
							and PEAR.isactive = '1' 
							and PES.projectstatus = 'Submit'
							and PES.Periode = convert(varchar, tmpp.year) + '-' + convert(varchar, tmpp.month) + '-' + convert(varchar, tmpp.week)
						order by IDRoleGroup asc
					), '-'
			) as NextApproval,
			--------------------------
			@Periode as Periode,
			NamaProgramManager = STUFF(
				(
					SELECT ',' + y.empl_mast_Name
					FROM TblT_ProjectInitApprovalRole x
						left join TblDW_EmployeeMapping y on x.Username = y.empl_mast_username
					where x.IDRoleGroup = 5
						and x.IDProjectHeader = c.IDProjectHeader
						and x.IsActive = 1
					FOR XML PATH ('')
				), 1, 1, ''
		    ),
			UsernameProgramManager = STUFF(
				(
					SELECT ',' + y.empl_mast_username
					FROM TblT_ProjectInitApprovalRole x
						left join TblDW_EmployeeMapping y on x.Username = y.empl_mast_username
					where x.IDRoleGroup = 5
						and x.IDProjectHeader = c.IDProjectHeader
						and x.IsActive = 1
					FOR XML PATH ('')
				), 1, 1, ''
		    ),
			UsernameProjectManager = STUFF(
				(
					SELECT ',' + y.empl_mast_username
					FROM TblT_ProjectInitApprovalRole x
						left join TblDW_EmployeeMapping y on x.Username = y.empl_mast_username
					where x.IDRoleGroup = 3
						and x.IDProjectHeader = c.IDProjectHeader
						and x.IsActive = 1
					FOR XML PATH ('')
				), 1, 1, ''
		    )
		
		from TblM_Program a
			inner join TblM_Project b on a.IDProgram = b.IDProgram and b.IsActive = 1
			inner join TblT_ProjectHeader c on b.IDProject = c.IDProject and b.IsActive = 1
			inner join TblM_StrategicObjective d on B.IDStrategicObjective = d.IDStrategicObjective and d.IsActive = 1
			inner join TblM_Department e on b.IDDepartment = e.IDDepartment and e.IsActive = 1
			inner join TblM_Direktorat f on e.IDDirektorat = f.IDDirektorat and f.IsActive = 1
			JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = c.IDProjectHeader
			left join
			(
				select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
				from TblT_MPPProjectPlanPercentage
				where cast(cast(Year as varchar(4)) + '-' + right('00' + cast(Month as varchar(2)),2) + '-' + cast(Week as varchar(1)) as date) <= cast(@Periode as date)--Month <= @Month and Year <= @Year
				and isActive = 1 
				order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
			) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
			LEFT JOIN (
				select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
				from TblT_MPPProjectRealPercentage
				where  cast(cast(Year as varchar(4)) + '-' + right('00' + cast(Month as varchar(2)),2) + '-' + cast(Week as varchar(1)) as date) <= cast(@Periode as date)
				and isActive = 1
				order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
			) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
		where a.IsActive = 1 and
			tmpd.IsActive = 1 and 
			tmpd.ParentId = 0
		)bb
		Group by 
		bb.DateDownload,
		bb.IDProjectStatus,
		bb.IDDirektorat,
		bb.IDDepartment,
		bb.IDStrategicObjective,
		bb.IDProgram,
		bb.IDProjectHeader,
		bb.DirektoratCode,
		bb.DepartmentCode,
		bb.StrategicObjectiveCode,
		bb.ProgramNo,
		bb.ProjectNo,
		bb.DirektoratName,
		bb.DepartmentName,
		bb.StrategicObjectiveName,
		bb.ProgramName,
		bb.ProjectName,
		bb.IsTransformasi,
		bb.StartDay,
		bb.StartMonth,
		bb.StartYear,
		bb.EndDay,
		bb.EndMonth,
		bb.EndYear,
		bb.UpdateDate,
		bb.IsActive,
		bb.NamaProjectManager,
		bb.Kendala,
		bb.Aksi,
		bb.LastUpdated,
		bb.StatusProject,
		bb.NextApproval,
		bb.Periode,
		bb.NamaProgramManager,
		bb.UsernameProgramManager,
		bb.UsernameProjectManager
		order by bb.IDProjectHeader

		
		commit transaction InsertListProject;
		set ANSI_WARNINGS  ON;
		
		select 'S|Sukses' as Result;

	end try
	begin catch
		--rollback transaction InsertListProject;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_ListProject', @ErrNum, @ErrMsg, 'System';
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg as Result;
		rollback transaction InsertListProject;
		
	end catch;
	
END




GO
