USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_RoleMapping]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_RoleMapping](
	[IDRoleMapping] [int] NOT NULL,
	[IDRoleGroup] [int] NULL,
	[IDRole] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TblT_RoleMapping] PRIMARY KEY CLUSTERED 
(
	[IDRoleMapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblT_RoleMapping] ADD  CONSTRAINT [DF_TblT_RoleMapping_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TblT_RoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_TblT_RoleMapping_TblM_Role] FOREIGN KEY([IDRole])
REFERENCES [dbo].[TblM_Role] ([IDRole])
GO
ALTER TABLE [dbo].[TblT_RoleMapping] CHECK CONSTRAINT [FK_TblT_RoleMapping_TblM_Role]
GO
ALTER TABLE [dbo].[TblT_RoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_TblT_RoleMapping_TblM_RoleGroup] FOREIGN KEY([IDRoleGroup])
REFERENCES [dbo].[TblM_RoleGroup] ([IDRoleGroup])
GO
ALTER TABLE [dbo].[TblT_RoleMapping] CHECK CONSTRAINT [FK_TblT_RoleMapping_TblM_RoleGroup]
GO
