USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_BerandaProjectHeader]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_BerandaProjectHeader] -- exec [dbo].[Get_BerandaProjectHeader] '2019','12','16'
	-- Add the parameters for the stored procedure here 
	@Year int = null,
	@Month int = null,
	@Day int = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	-- updated by Christina Eka
	--declare @Date datetime = (select top 1 Date from TblM_Date where Date < getdate() and WeekDayName = 'Saturday' order by Date desc);
	declare @Date datetime = (select top 1 UpdatedDate from TblD_ListProject order by UpdatedDate desc)
	
	if(@Year is null)set @Year = year(@Date);
	if(@Month is null)set @Month = month(@Date);
	if(@Day is null)set @Day = day(@Date);
	
	declare @LastDayName nvarchar(20) = (select top 1 WeekDayName from TblM_Date where Year = @Year and Month = @Month order by Date desc);
	declare @CurrentDay int = day(getdate());

	--declare @LastUpdatedDate datetime = (select top 1 UpdatedDate from TblD_ListProject order by UpdatedDate desc);

	-- add by Christina Eka
	if (@Month = month(getdate()) and @Year = year(getdate())) set @Day = @CurrentDay

	select
		
		--cast(day(@LastUpdatedDate) as varchar(2))
		--	+ '-' + dbo.Ufn_GetMonthName_Indonesia(month(@LastUpdatedDate))
		--	+ '-' + cast(year(@LastUpdatedDate) as varchar(4)) as Date,

		--convert(varchar, @LastUpdatedDate, 8) as Time,

		cast(@Day as varchar(2))
			+ '-' + dbo.Ufn_GetMonthName_Indonesia(@Month)
			+ '-' + cast(@Year as varchar(4)) as Date,

		convert(varchar, @Date, 8) as Time,

		(select top 1 Year from TblM_Date where Year = @Year) as Year,
		
		(select top 1 Month from TblM_Date where Month = @Month) as Month,
		
		@Day as Day,
	
		(select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and Day = @Day) as Week,

		/*
		Update by Ageng: 
		Pengecekan JumlahWeek diubah dari 'Saturday' menjadi 'Wednesday', 
		karena ada kasus seperti Juli 2020 tanggal 26-31 dianggap minggu ke-1 Agustus soalnya hari sabtu masuk ke bulan agustus.

		*/
		(select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Wednesday' order by Date desc) as JumlahWeek;
END




GO
