USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_LapM_ProjectTimeSeries]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Septian c>
-- Create date: <07 Juli 2023>
-- Description:	<Laporan Mingguan untuk Grafik time series>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_LapM_ProjectTimeSeries]
--exec Usp_Get_LapM_ProjectTimeSeries '2021/06/04'
	@Date date
AS
BEGIN
	declare @Year as varchar(4);
	declare @Year2 as varchar(4);
	declare @Month as int;
	declare @Week as int;



	set @Year = year(@Date);
	set @Month = month(@Date);
	set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = @Date);

	set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Wednesday');

	
		select DLP.Periode,
			avg(DLP.PlanPencapaian) as Target,
			avg(DLP.RealisasiPencapaian) as Realisasi
		
		from TblD_ListProject DLP
		
		where DLP.IsActive = 1
			and DLP.DateDownload in(
				--select Date from TblM_Date where WeekDayName = 'Saturday' and Year = @Year
				select Date from TblM_Date where WeekDayName = 'Wednesday' and Year = @Year
			)
			and (@Year between DLP.StartYear and DLP.EndYear)
			and IDProjectStatus not in(1, 3, 8, 9, 13)
			and DLP.IsTransformasi = 1
		
		group by DLP.Periode,
			DLP.DateDownload
END




GO
