USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_MPPProjectPlanDetail]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_MPPProjectPlanDetail](
	[IDMPPProjectPlanDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectHeaderID] [int] NULL,
	[ParentID] [bigint] NULL,
	[TaskID] [bigint] NULL,
	[TaskGUID] [varchar](max) NULL,
	[TaskName] [varchar](max) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Duration] [varchar](10) NULL,
	[Notes] [varchar](300) NULL,
	[PercentageComplete] [float] NULL,
	[OutlineLevel] [varchar](100) NULL,
	[OutlineNumber] [varchar](100) NULL,
	[IsMilestone] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[kpi] [varchar](15) NULL,
 CONSTRAINT [PK_TblT_MPPProjectDetail] PRIMARY KEY CLUSTERED 
(
	[IDMPPProjectPlanDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblT_MPPProjectPlanDetail]  WITH CHECK ADD  CONSTRAINT [FK_TblT_MPPProjectPlanDetail_TblT_ProjectHeader] FOREIGN KEY([ProjectHeaderID])
REFERENCES [dbo].[TblT_ProjectHeader] ([IDProjectHeader])
GO
ALTER TABLE [dbo].[TblT_MPPProjectPlanDetail] CHECK CONSTRAINT [FK_TblT_MPPProjectPlanDetail_TblT_ProjectHeader]
GO
