USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_NextWorkDay]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_Get_NextWorkDay]
(
	@DATE datetime
)
RETURNS date
AS
BEGIN
	DECLARE @NextDay datetime

	SELECT 
	@NextDay =
	CASE
		WHEN
			dt.IsWeekend = 1 
		THEN
			(
				CASE
				WHEN
					dt.WeekDayName = 'Saturday'
				THEN
					DATEADD(dy,2,@DATE)
				ELSE
					DATEADD(dy,1,@DATE)
				END
			)
		WHEN
			dt.IsHoliday = 1
		THEN
			(
				CASE
				WHEN
					dt.WeekDayName = 'Saturday'
				THEN
					DATEADD(dy,2,@DATE)
				ELSE
					DATEADD(dy,1,@DATE)
				END	
			)
		ELSE
			DATEADD(dy,1,@DATE)
	END
	FROM 
	TblM_Date Dt
	WHERE
	[Date] = @DATE

RETURN CONVERT(date,@NextDay)
END
GO
