USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblDW_Employee]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDW_Employee](
	[IDDWEmployee] [int] IDENTITY(1,1) NOT NULL,
	[PersonalNumber] [varchar](20) NOT NULL,
	[NIK] [varchar](20) NULL,
	[Asses] [varchar](20) NULL,
	[Nama] [varchar](50) NULL,
	[JenisKelamin] [varchar](6) NULL,
	[TempatLahir] [varchar](20) NULL,
	[Birthdate] [date] NULL,
	[EntryDate] [date] NULL,
	[PensiunDate] [date] NULL,
	[Status] [int] NULL,
	[Leaving] [date] NULL,
	[KodeUnitKerja] [int] NULL,
	[TanggalDiPosisi] [date] NULL,
	[Posisi] [varchar](50) NULL,
	[KodePosisi] [int] NULL,
	[TanggalDiJabatan] [date] NULL,
	[Jabatan] [varchar](50) NULL,
	[TanggalDiPangkat] [date] NULL,
	[Pangkat] [varchar](50) NULL,
	[KodePangkat] [varchar](10) NULL,
	[Pendidikan] [varchar](10) NULL,
	[Institusi] [varchar](150) NULL,
	[Agama] [varchar](20) NULL,
	[TanggalDiangakt] [date] NULL,
	[StatusKerja] [varchar](20) NULL,
	[StatusPerkawinan] [varchar](6) NULL,
	[JumlahAnak] [int] NULL,
	[Alamat] [text] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TblM_Employee] PRIMARY KEY CLUSTERED 
(
	[IDDWEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
