USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Validate_UserForAddingRealitation]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Usp_Validate_UserForAddingRealitation] 
	@personnumber int,
	@projectheaderID int
as
begin

	declare @Plans int;
	declare @Status varchar(max);
	declare @Reals int;
	declare @Role int;
	declare @username varchar(30);

	select top 1 @Plans = MPPP.Plans,
		@Reals = MPPP.Reals,
		@Status = MPPP.Status         
	from [Ufn_Get_TrendEkseksiPerPeriode](@projectheaderID) MPPP
	order by cast(MPPP.year as varchar(4))
		+ right('00' + cast(MPPP.month as varchar(2)), 2) 
		+ cast(MPPP.week as varchar(1)) desc;

	select @username = a.User_LoginName
	from TblDW_Usergroup a
	where a.Usergroup_Pernr = @personnumber;

	select @Role = IDRoleGroup
	from TblT_UserAuthorized
	where Username = @username;

	if(@Role = 1 or @Role = 4) and (@Plans = 100 and @Reals <> 100 
	--and @Status = 'Completed'
	)
	begin
		select 'Y'
	end
	else
	begin
		select 'N'
	end;

end;




GO
