USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_TransaksiProjectHeader]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:	Mendapatkan master program yang aktif
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_TransaksiProjectHeader] -- exec Usp_Get_TransaksiProjectHeader '100010'
	-- Add the parameters for the stored procedure here
	@PersonalNumber varchar(50) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	declare @Username varchar(50);
	select @Username = b.User_LoginName
	from TblDW_Employee a
		left join TblDW_Usergroup b on a.PersonalNumber = b.Usergroup_Pernr
	where PersonalNumber = @PersonalNumber;

	declare @IDRoleGroup int;
	select @IDRoleGroup = IDRoleGroup
	from TblT_UserAuthorized where Username = @Username and IsActive = 1;

	declare @UnitKerja varchar(20);
	select top 1 @UnitKerja = b.org_unit_mast_Code
	from TblDW_Usergroup a
		inner join TblDW_EmployeeMapping b on a.User_LoginName = b.empl_mast_username
	where a.Usergroup_Pernr = @PersonalNumber;

	if(@IDRoleGroup = 1 or @IDRoleGroup = 10 or @IDRoleGroup = 13 or(@IDRoleGroup = 4 and @UnitKerja = 'GPSO')) --Administrator, Internal Auditor, Management
	begin
	
		select
			row_number() over (order by
				case
					when (b.UpdatedDate is null) then b.CreatedDate
					else b.UpdatedDate
				end
			desc) as NoUrut,
			a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,

			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartDay') as varchar(4)) + ' ' +
			--[dbo].[Ufn_GetMonthName_Indonesia]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartMonth')) + ' ' +
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartYear') as varchar(4))
			--as StartYear,

			(select top 1 StartDate
			from TblT_MPPProjectPlanDetail
			where ProjectHeaderID = b.IdProjectHeader
				and IsActive = 1
				and ParentID = 0
			order by TaskId asc) as StartYear,

			--b.StartYear,
			b.StartMonth,
			
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndDay') as varchar(4)) + ' ' +
			--[dbo].[Ufn_GetMonthName_Indonesia]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndMonth')) + ' ' +
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndYear') as varchar(4))
			--as EndYear,

			(select top 1 EndDate
			from TblT_MPPProjectPlanDetail
			where ProjectHeaderID = b.IdProjectHeader
				and IsActive = 1
				and ParentID = 0
			order by TaskId asc) as EndYear,

			--b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			
			case
				when (b.UpdatedDate is null) then b.CreatedDate
				else b.UpdatedDate
			end
			as UpdatedDate,
			
			cast(day(case when b.UpdatedDate IS NULL then b.CreatedDate else b.UpdatedDate END) AS VARCHAR(4)) +
				' ' +
				[dbo].[Ufn_GetMonthName_Indonesia](
					month(CASE 
						WHEN b.UpdatedDate IS NULL THEN b.CreatedDate
						ELSE b.UpdatedDate END
					)
				) +
				' ' +
				cast(
					year(
						CASE 
							WHEN b.UpdatedDate IS NULL THEN b.CreatedDate
							ELSE b.UpdatedDate
						END
					) AS VARCHAR(4)
				) +
				' ' +
				convert(
					varchar, ISNULL(b.UpdatedDate,b.CreatedDate), 108
				) AS UpdatedDateString,

			CASE WHEN (
			case
				when (b.UpdatedBy is null) then b.CreatedBy
				else b.UpdatedBy
			end ) = 'training10'
			THEN 'Administrator'
			ELSE
			(
			case
				when (b.UpdatedBy is null) then b.CreatedBy
				else b.UpdatedBy
			end
			)
			END
			as UpdatedBy,

			b.IsActive,

			case
				when b.IDProjectStatus = 9 then
					d.Description + ' ' +
					(SELECT top 1 x.Username
						FROM TblT_ProjectInitApprovalRole x
						WHERE x.IsActive = 1
							AND x.IsEnabled = 1
							and (x.IsApprove = 0 or x.IsApprove is null)
							AND x.IDProjectHeader = b.IDProjectHeader
						ORDER BY x.Sequence DESC)
				else d.Description
			end as StatusName,

			case
				when (select COUNT(*) from [dbo].[TblT_ProjectInitApprovalRole] where IsActive = 1 and IDProjectHeader = b.IDProjectHeader) > 0 then
					(select TOP 1 Username from [dbo].[TblT_ProjectInitApprovalRole] where IsActive = 1 and IDProjectHeader = b.IDProjectHeader and isApprove = 1 order by Sequence asc)
				else null
			end as ApprovedBy,

			a.IsTransformasi

		from TblM_Project a
			inner join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IsActive = 1
			--left join TblT_ProjectRoleGroup c on b.IDProjectHeader = c.IDProjectHeader
			inner join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus and d.IsActive = 1
			--left join TblT_UserAuthorized e on c.Username = e.Username
		where a.IsActive = 1
			and d.IDProjectStatus in (1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13);

	end;

	else if(@IDRoleGroup = 4 and @UnitKerja = 'GPTF')
	begin
	
		select
			row_number() over (order by
				case
					when (b.UpdatedDate is null) then b.CreatedDate
					else b.UpdatedDate
				end
			desc) as NoUrut,
			a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,

			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartDay') as varchar(4)) + ' ' +
			--[dbo].[Ufn_GetMonthName_Indonesia]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartMonth')) + ' ' +
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartYear') as varchar(4))
			--as StartYear,

			(select top 1 StartDate
			from TblT_MPPProjectPlanDetail
			where ProjectHeaderID = b.IdProjectHeader
				and IsActive = 1
				and ParentID = 0
			order by TaskId asc) as StartYear,

			--b.StartYear,
			b.StartMonth,
			
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndDay') as varchar(4)) + ' ' +
			--[dbo].[Ufn_GetMonthName_Indonesia]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndMonth')) + ' ' +
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndYear') as varchar(4))
			--as EndYear,

			(select top 1 EndDate
			from TblT_MPPProjectPlanDetail
			where ProjectHeaderID = b.IdProjectHeader
				and IsActive = 1
				and ParentID = 0
			order by TaskId Desc) as EndYear,

			--b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			
			case
				when (b.UpdatedDate is null) then b.CreatedDate
				else b.UpdatedDate
			end
			as UpdatedDate,
			
			cast(day(case when b.UpdatedDate IS NULL then b.CreatedDate else b.UpdatedDate END) AS VARCHAR(4)) +
				' ' +
				[dbo].[Ufn_GetMonthName_Indonesia](
					month(CASE 
						WHEN b.UpdatedDate IS NULL THEN b.CreatedDate
						ELSE b.UpdatedDate END
					)
				) +
				' ' +
				cast(
					year(
						CASE 
							WHEN b.UpdatedDate IS NULL THEN b.CreatedDate
							ELSE b.UpdatedDate
						END
					) AS VARCHAR(4)
				) +
				' ' +
				convert(
					varchar, ISNULL(b.UpdatedDate,b.CreatedDate), 108
				) AS UpdatedDateString,

			CASE WHEN (
			case
				when (b.UpdatedBy is null) then b.CreatedBy
				else b.UpdatedBy
			end ) = 'training10'
			THEN 'Administrator'
			ELSE
			(
			case
				when (b.UpdatedBy is null) then b.CreatedBy
				else b.UpdatedBy
			end
			)
			END
			as UpdatedBy,

			b.IsActive,

			case
				when b.IDProjectStatus = 9 then
					d.Description + ' ' +
					(SELECT top 1 x.Username
						FROM TblT_ProjectInitApprovalRole x
						WHERE x.IsActive = 1
							AND x.IsEnabled = 1
							and (x.IsApprove = 0 or x.IsApprove is null)
							AND x.IDProjectHeader = b.IDProjectHeader
						ORDER BY x.Sequence DESC)
				else d.Description
			end as StatusName,

			case
				when (select COUNT(*) from [dbo].[TblT_ProjectInitApprovalRole] where IsActive = 1 and IDProjectHeader = b.IDProjectHeader) > 0 then
					(select TOP 1 Username from [dbo].[TblT_ProjectInitApprovalRole] where IsActive = 1 and IDProjectHeader = b.IDProjectHeader and isApprove = 1 order by Sequence asc)
				else null
			end as ApprovedBy,

			a.IsTransformasi

		from TblM_Project a
			inner join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IsActive = 1
			--left join TblT_ProjectRoleGroup c on b.IDProjectHeader = c.IDProjectHeader
			inner join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus and d.IsActive = 1
			--left join TblT_UserAuthorized e on c.Username = e.Username
			inner join TblM_Department f on a.IDDepartment = f.IDDepartment
		where a.IsActive = 1
			and d.IDProjectStatus in (1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13)
			and (a.IsTransformasi = 1 or f.DepartmentCode = @UnitKerja);

	end;

	else if(@IDRoleGroup = 11 or @IDRoleGroup = 4) --Group Admin, Admin PMO
	begin
	
		select
			row_number() over (order by
				case
					when (b.UpdatedDate is null) then b.CreatedDate
					else b.UpdatedDate
				end
			desc) as NoUrut,
			a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,
			
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartDay') as varchar(4)) + ' ' +
			--[dbo].[Ufn_GetMonthName_Indonesia]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartMonth')) + ' ' +
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartYear') as varchar(4))
			--as StartYear,

			(select top 1 StartDate
			from TblT_MPPProjectPlanDetail
			where ProjectHeaderID = b.IdProjectHeader
				and IsActive = 1
				and ParentID = 0
			order by TaskId asc) as StartYear,

			--b.StartYear,
			b.StartMonth,
			
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndDay') as varchar(4)) + ' ' +
			--[dbo].[Ufn_GetMonthName_Indonesia]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndMonth')) + ' ' +
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndYear') as varchar(4))
			--as EndYear,

			(select top 1 EndDate
			from TblT_MPPProjectPlanDetail
			where ProjectHeaderID = b.IdProjectHeader
				and IsActive = 1
				and ParentID = 0
			order by TaskId Desc) as EndYear,

			--b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			
			case
				when (b.UpdatedDate is null) then b.CreatedDate
				else b.UpdatedDate
			end
			as UpdatedDate,
			
			cast(day(case when b.UpdatedDate IS NULL then b.CreatedDate else b.UpdatedDate END) AS VARCHAR(4)) +
				' ' +
				[dbo].[Ufn_GetMonthName_Indonesia](
					month(CASE 
						WHEN b.UpdatedDate IS NULL THEN b.CreatedDate
						ELSE b.UpdatedDate END
					)
				) +
				' ' +
				cast(
					year(
						CASE 
							WHEN b.UpdatedDate IS NULL THEN b.CreatedDate
							ELSE b.UpdatedDate
						END
					) AS VARCHAR(4)
				) +
				' ' +
				convert(
					varchar, ISNULL(b.UpdatedDate,b.CreatedDate), 108
				) AS UpdatedDateString,
			CASE WHEN (
			case
				when (b.UpdatedBy is null) then b.CreatedBy
				else b.UpdatedBy
			end ) = 'training10'
			THEN 'Administrator'
			ELSE
			(
			case
				when (b.UpdatedBy is null) then b.CreatedBy
				else b.UpdatedBy
			end
			)
			END
			as UpdatedBy,

			b.IsActive,

			case
				when b.IDProjectStatus = 9 then
					d.Description + ' ' +
					(SELECT top 1 x.Username
						FROM TblT_ProjectInitApprovalRole x
						WHERE x.IsActive = 1
							AND x.IsEnabled = 1
							and (x.IsApprove = 0 or x.IsApprove is null)
							AND x.IDProjectHeader = b.IDProjectHeader
						ORDER BY x.Sequence DESC)
				else d.Description
			end as StatusName,

			case
				when (select COUNT(*) from [dbo].[TblT_ProjectInitApprovalRole] where IsActive = 1 and IDProjectHeader = b.IDProjectHeader) > 0 then
					(select TOP 1 Username from [dbo].[TblT_ProjectInitApprovalRole] where IsActive = 1 and IDProjectHeader = b.IDProjectHeader and isApprove = 1 order by Sequence asc)
				else null
			end as ApprovedBy,

			a.IsTransformasi

		from TblM_Project a
			inner join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IsActive = 1
			--left join TblT_ProjectRoleGroup c on b.IDProjectHeader = c.IDProjectHeader
			inner join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus and d.IsActive = 1
			--left join TblT_UserAuthorized e on c.Username = e.Username
			inner join TblM_Department f on a.IDDepartment = f.IDDepartment and f.IsActive = 1
			inner join TblDW_EmployeeMapping g on f.DepartmentCode = g.org_unit_mast_Code and g.empl_mast_username = @Username
		where a.IsActive = 1
			and d.IDProjectStatus in (1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13);

	end;

	else begin

		select
			row_number() over (order by
				case
					when (b.UpdatedDate is null) then b.CreatedDate
					else b.UpdatedDate
				end
			desc) as NoUrut,
			a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,
			
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartDay') as varchar(4)) + ' ' +
			--[dbo].[Ufn_GetMonthName_Indonesia]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartMonth')) + ' ' +
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'StartYear') as varchar(4))
			--as StartYear,

			(select top 1 StartDate
			from TblT_MPPProjectPlanDetail
			where ProjectHeaderID = b.IdProjectHeader
				and IsActive = 1
				and ParentID = 0
			order by TaskId asc) as StartYear,

			--b.StartYear,
			b.StartMonth,
			
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndDay') as varchar(4)) + ' ' +
			--[dbo].[Ufn_GetMonthName_Indonesia]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndMonth')) + ' ' +
			--cast([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](b.IDProjectHeader, 'EndYear') as varchar(4))
			--as EndYear,

			(select top 1 EndDate
			from TblT_MPPProjectPlanDetail
			where ProjectHeaderID = b.IdProjectHeader
				and IsActive = 1
				and ParentID = 0
			order by TaskId Desc) as EndYear,

			--b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			
			case
				when (b.UpdatedDate is null) then b.CreatedDate
				else b.UpdatedDate
			end
			as UpdatedDate,
			
			cast(day(case when b.UpdatedDate IS NULL then b.CreatedDate else b.UpdatedDate END) AS VARCHAR(4)) +
				' ' +
				[dbo].[Ufn_GetMonthName_Indonesia](
					month(CASE 
						WHEN b.UpdatedDate IS NULL THEN b.CreatedDate
						ELSE b.UpdatedDate END
					)
				) +
				' ' +
				cast(
					year(
						CASE 
							WHEN b.UpdatedDate IS NULL THEN b.CreatedDate
							ELSE b.UpdatedDate
						END
					) AS VARCHAR(4)
				) +
				' ' +
				convert(
					varchar, ISNULL(b.UpdatedDate,b.CreatedDate), 108
				) AS UpdatedDateString,

				CASE WHEN (
			case
				when (b.UpdatedBy is null) then b.CreatedBy
				else b.UpdatedBy
			end ) = 'training10'
			THEN 'Administrator'
			ELSE
			(
			case
				when (b.UpdatedBy is null) then b.CreatedBy
				else b.UpdatedBy
			end
			)
			END
			as UpdatedBy,

			b.IsActive,
			
			case
				when b.IDProjectStatus = 9 then
					d.Description + ' ' +
					(SELECT top 1 x.Username
						FROM TblT_ProjectInitApprovalRole x
						WHERE x.IsActive = 1
							AND x.IsEnabled = 1
							and (x.IsApprove = 0 or x.IsApprove is null)
							AND x.IDProjectHeader = b.IDProjectHeader
						ORDER BY x.Sequence DESC)
				else d.Description
			end as StatusName,

			case
				when (select COUNT(*) from [dbo].[TblT_ProjectInitApprovalRole] where IsActive = 1 and IDProjectHeader = b.IDProjectHeader) > 0 then
					(select TOP 1 Username from [dbo].[TblT_ProjectInitApprovalRole] where IsActive = 1 and IDProjectHeader = b.IDProjectHeader and isApprove = 1 order by Sequence asc)
				else null
			end as ApprovedBy,

			a.IsTransformasi

		from TblM_Project a
			inner join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IsActive = 1
			inner join TblT_ProjectInitApprovalRole c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1 and c.Username = @Username
			inner join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus and d.IsActive = 1
		where a.IsActive = 1
			and d.IDProjectStatus in (1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13)
		group by a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,
			b.StartYear,
			b.StartMonth,
			b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			b.UpdatedDate,
			b.UpdatedBy,
			b.IsActive,
			d.Description,
			a.IsTransformasi;

	end;
	
END




GO
