USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_SAPRencana_Kerja]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andre Ibrahim Latief
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_SAPRencana_Kerja]
	@ID              varchar(20),
	@ACTIVE          varchar(20),
	@COSTCTR         varchar(20),
	@EVDESCRIPTION   varchar(20),
	@KPI             varchar(20),
	@KPI_GROUP       varchar(20),
	@LEVEL           varchar(20),
	@LONG_DESC       varchar(20),
	@PRO_GROUP       varchar(20),
	@SCALING         varchar(20),
	@STRAT_OBJ       varchar(20),
	@UNCONTROLLABLE  varchar(20),
	@WORKPLAN_TYPE   varchar(20),
	@YEAR		     varchar(20),
	@PARENTH1        varchar(20)

AS
BEGIN
	DECLARE @errm varchar(max) , @errn int, @count int
	BEGIN TRY
		BEGIN TRANSACTION CarryOver
			
				IF NOT EXISTS ( SELECT [IDSAP] FROM TblSAP_MasterRKAT WHERE [IDSAP] =  @ID )
				BEGIN
				INSERT INTO 
				[dbo].[TblSAP_MasterRKAT]
				(
					  [DateDownload]
					 ,IDSAP         
					 ,ACTIVE         
					 ,COSTCTR        
					 ,EVDESCRIPTION  
					 ,KPI            
					 ,KPI_GROUP      
					 ,LEVEL          
					 ,LONG_DESC      
					 ,PRO_GROUP      
					 ,SCALING        
					 ,STRAT_OBJ      
					 ,UNCONTROLLABLE 
					 ,WORKPLAN_TYPE  
					 ,YEAR		    
					 ,PARENT      
					 ,[CreatedDate]
					 ,[CreatedBy]
				)
				VALUES
				(
					  CONVERT(date,GETDATE())  
					  ,@ID            
					  ,@ACTIVE        
					  ,@COSTCTR       
					  ,@EVDESCRIPTION 
					  ,@KPI           
					  ,@KPI_GROUP     
					  ,@LEVEL         
					  ,@LONG_DESC     
					  ,@PRO_GROUP     
					  ,@SCALING       
					  ,@STRAT_OBJ     
					  ,@UNCONTROLLABLE
					  ,@WORKPLAN_TYPE 
					  ,@YEAR		   
					  ,@PARENTH1     
					  ,GETDATE()                
					  ,'System.Scheduler'		
				)			 	
					SELECT 'S|Success Inserting [TblSAP_MasterRKAT] With ID Mata Anggaran : ' + @ID 
				END
				ELSE				
				BEGIN
					UPDATE [TblSAP_MasterRKAT] SET [DateDownload] = CAST(GETDATE() AS DATE)
					        
					 ,ACTIVE = @ACTIVE        
					 ,COSTCTR = @COSTCTR    
					 ,EVDESCRIPTION  = @EVDESCRIPTION
					 ,KPI            = @KPI
					 ,KPI_GROUP      = @KPI_GROUP
					 ,LEVEL          = @LEVEL
					 ,LONG_DESC      = @LONG_DESC
					 ,PRO_GROUP      = @PRO_GROUP
					 ,SCALING        = @SCALING
					 ,STRAT_OBJ      = @STRAT_OBJ
					 ,UNCONTROLLABLE =@UNCONTROLLABLE
					 ,WORKPLAN_TYPE  =@WORKPLAN_TYPE
					 ,YEAR		    =@YEAR
					 ,PARENT      =@PARENTH1
					 ,[CreatedDate] = GETDATE()
					 ,[CreatedBy] = 'System.Scheduler'
					 WHERE [IDSAP] =  @ID 
					SELECT 'S|Success Inserting [TblSAP_MasterRKAT] With ID Mata Anggaran : ' + @ID 
				END
		
		COMMIT TRANSACTION CarryOver
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION CarryOver			
		SELECT @errm = ERROR_MESSAGE(), @errn = ERROR_NUMBER()

		EXEC Usp_Insert_ErrorLog 'Usp_Insert_SAPRKATFINAL' , @errn , @errm , 'System.Scheduler'

		SELECT 'E|Error Inserting [TblSAP_MasterRKAT] With ID Mata Anggaran : ' + @ID
	END CATCH
END




GO
