USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Revise_ProjectEksekusiPerPeriode]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Revise_ProjectEksekusiPerPeriode]
	 @IDProjectHeader INT = NULL
	,@Persnum VARCHAR(50) = NULL
	,@Periode varchar(50) = NULL
	,@Description varchar(max) = null
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION Revise
			DECLARE @Username VARCHAR(50) = (
				SELECT TOP 1 User_LoginName
				FROM TblDW_Usergroup
				WHERE Usergroup_Pernr = @Persnum
				);

			DECLARE @IDRoleGroup varchar = (
				SELECT TOP 1 IDRoleGroup FROM
				[TblT_ProjectExecutionApprovalRole] a
				where
				a.Username = @Username
				and
				(a.IsApprove is null or a.IsApprove = '0')
				and
				a.IsActive = '1'
				ORDER BY
				IDRoleGroup ASC
			)

			Update 
				TblT_ProjectExecutionApprovalRole
			SET
				IsApprove = '0',
				--IsEnabled = '0',
				UpdatedBy = @Username,
				UpdatedDate = GETDATE()
			WHERE
				IDProjectHeader = @IDProjectHeader
				and
				Periode = @Periode
			
			insert into [TblT_ProjectExecutionReviseRole](
				IDProjectHeader,
				IDRoleGroup,
				Periode,
				Username,
				Deskripsi,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			values(
				@IDProjectHeader,
				@IDRoleGroup,
				@Periode,
				@Username,
				@Description,
				getdate(),
				@Username,
				1
			);

			insert into TblH_ProjectExecutionApprovalHistory(
					IDProjectHeader,
					Periode,
					Type,
					Remarks,
					CreatedDate,
					CreatedBy
			)values(
				@IDProjectHeader,
				@Periode,
				'Revise',
				@Description,
				getdate(),
				@Username
			);		

			Update 
				[dbo].[TblT_ProjectExecutionStatus]	
			SET
				ProjectStatus = 'Save',
				UpdateDate = GETDATE(),
				UpdateBy = @Username
			WHERE
				IDProjectHeaderID = @IDProjectHeader
				and
				Periode = @Periode

			SELECT 'S|Sukses';

				
		COMMIT TRANSACTION Revise
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION Revise
	END CATCH
END




GO
