USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetTren]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
create FUNCTION [dbo].[Ufn_GetTren] -- select [dbo].[Ufn_GetTren](211,1,6,2019)
(
	-- Add the parameters for the function here
	@IDProjectHeader int,
	@IsTransformasi bit,
	@Month int,
	@Year varchar(4)

)
RETURNS varchar(10)
AS
BEGIN
	
	declare @Result varchar(10) = '';

	if(cast([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @Month, @Year) as float) >= 110)begin
		set @Result = 'Biru';
	end
	else if(cast([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @Month, @Year) as float) >= 100)begin
		set @result = 'Hijau';
	end
	else if(cast([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @Month, @Year) as float) >= 85)begin
		set @result = 'Kuning';
	end
	else begin
		set @result = 'Merah';
	end;

	return @Result;
END

GO
