USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetProjectHeaderRoot]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_GetProjectHeaderRoot] --261
		@ProjectHeaderID INT = null
AS
BEGIN
	DECLARE @childID INT 

	SELECT @childID = b.IDProject FROM
	TblT_ProjectHeader a
	INNER JOIN 
	TblM_Project b
	ON
	a.IDProject = b.IDProject
	WHERE
	IDProjectHeader = @ProjectHeaderID

	;WITH RCTE AS
	(
		SELECT *, 1 AS Lvl FROM TblM_Project 
		WHERE IDProject = @childID

		UNION ALL

		SELECT rh.*, Lvl+1 AS Lvl FROM dbo.TblM_Project rh
		INNER JOIN RCTE rc ON rh.IDProject = rc.Parent
	)

	SELECT TOP 1
	PH.IDProjectHeader  
	FROM 
		RCTE r
		INNER JOIN 
		TblT_ProjectHeader PH
		on
		r.IDProject = ph.IDProject
		ORDER BY Lvl DESC
END



GO
