USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Approve_TransaksiProjectHeader]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Approve_TransaksiProjectHeader]
	-- Add the parameters for the stored procedure here
	@IDProjectHeader INT = NULL
	,@Deskripsi nvarchar(max) = null
	,@User VARCHAR(50) = NULL
	,@TypeTransaction varchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	BEGIN TRY
		BEGIN TRANSACTION;
		
		DECLARE @Username VARCHAR(50) = (
			SELECT TOP 1 User_LoginName
			FROM TblDW_Usergroup
			WHERE Usergroup_Pernr = @User
		);

		declare @IDRoleGroup int;
		select @IDRoleGroup = IDRoleGroup
		from TblT_ProjectInitApprovalRole
		where IsActive = 1 and IDProjectHeader = @IDProjectHeader and Username = @Username

		DECLARE @NextSequence INT = NULL;
		Declare @LastSequence int = null;
		
		declare @IDProjectParent int = null;
		declare @IDProjectHeaderParent int = null;
		
		select top 1 @IDProjectParent = a.Parent
		from TblM_Project a
			inner join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IDProjectHeader = @IDProjectHeader and  b.IsActive = 1
		where a.IsActive = 1;
		
		select top 1 @IDProjectHeaderParent = IDProjectHeader
		from TblT_ProjectHeader
		where IsActive = 1 and IDProject = @IDProjectParent;

		if(@TypeTransaction = 'Approve' or @TypeTransaction is null) begin
			
			if exists(
				select PES.ProjectStatus
				from TblT_ProjectExecutionStatus PES
				where PES.IDProjectHeaderID = @IDProjectHeaderParent
					and PES.IsActive = '1'
					and PES.ProjectStatus = 'Submit'
			)begin
				select 'F|Masih terdapat Periode realisasi yang menunggu Approval pada versi project sebelumnya.'
			end
			else begin
			
				IF (@Username = NULL)
				BEGIN
					SET @Username = '-';
				END;

				DECLARE @Sequence INT = (
						SELECT TOP 1 a.Sequence
						FROM TblT_ProjectInitApprovalRole a
						LEFT JOIN TblT_ProjectHeader b ON a.IDProjectHeader = b.IDProjectHeader
						WHERE a.IsActive = 1
							AND b.IsActive = 1
							AND a.IsApprove = 1
							AND b.IDProjectHeader = @IDProjectHeader
						);

				IF NOT EXISTS (
						SELECT TOP 1 a.Sequence
						FROM TblT_ProjectInitApprovalRole a
						LEFT JOIN TblT_ProjectHeader b ON a.IDProjectHeader = b.IDProjectHeader
						WHERE a.IsActive = 1
							AND b.IsActive = 1
							AND a.IsApprove = 1
							AND b.IDProjectHeader = @IDProjectHeader
						)
				BEGIN
					SET @NextSequence = (
							SELECT TOP 1 a.Sequence
							FROM TblT_ProjectInitApprovalRole a
							LEFT JOIN TblT_ProjectHeader b ON a.IDProjectHeader = b.IDProjectHeader
							WHERE a.IsActive = 1
								AND b.IsActive = 1
								AND b.IDProjectHeader = @IDProjectHeader
								AND a.IsEnabled = 1
							ORDER BY a.Sequence DESC
							);
							
					set @LastSequence = (
						select top 1 a.Sequence
						from TblT_ProjectInitApprovalRole a
						left join TblT_ProjectHeader b on a.IDProjectHeader = b.IDProjectHeader
						where a.IsActive = 1
							and b.IsActive = 1
							and b.IDProjectHeader = @IDProjectHeader
							and a.IsEnabled = 1
						ORDER BY a.Sequence asc
					);
		
					if(@NextSequence = @LastSequence) begin
						update TblT_ProjectHeader set IDProjectStatus = 2 where IDProjectHeader = @IDProjectHeader;
						
						if(@IDProjectHeaderParent is not null) begin
							update TblT_ProjectHeader set IDProjectStatus = 13 where IDProjectHeader = @IDProjectHeaderParent;
						end;

						exec Usp_Insert_Project_ExecutionList @IDProjectHeader, @Username;

						exec Usp_Copy_RealisasiAmandemen @IDProjectHeader, @Username;

					end;

					UPDATE TblT_ProjectInitApprovalRole
					SET IsApprove = 1
						,UpdatedBy = @Username
						,UpdatedDate = getdate()
					WHERE Sequence = @NextSequence
						AND IDProjectHeader = @IDProjectHeader
						AND IsActive = 1;

					insert into TblH_ProjectInitApproval(
						IDProjectHeader,
						Type,
						Remarks,
						CreatedDate,
						CreatedBy
					)values(
						@IDProjectHeader,
						@TypeTransaction,
						'-',
						getdate(),
						@Username
					);

				END
				ELSE
				BEGIN
					SET @NextSequence = (
							SELECT TOP 1 a.Sequence
							FROM TblT_ProjectInitApprovalRole a
							LEFT JOIN TblT_ProjectHeader b ON a.IDProjectHeader = b.IDProjectHeader
							WHERE a.IsActive = 1
								AND b.IsActive = 1
								AND b.IDProjectHeader = @IDProjectHeader
								AND a.IsEnabled = 1
								AND (a.IsApprove is null or a.IsApprove = 0)
								AND a.Sequence < @Sequence
							ORDER BY a.Sequence DESC
							);
		
					set @LastSequence = (
						select top 1 a.Sequence
						from TblT_ProjectInitApprovalRole a
						left join TblT_ProjectHeader b on a.IDProjectHeader = b.IDProjectHeader
						where a.IsActive = 1
							and b.IsActive = 1
							and b.IDProjectHeader = @IDProjectHeader
							and a.IsEnabled = 1
						ORDER BY a.Sequence asc
					);
		
					if(@NextSequence = @LastSequence) begin
						update TblT_ProjectHeader set IDProjectStatus = 2 where IDProjectHeader = @IDProjectHeader;
						
						if(@IDProjectHeaderParent is not null) begin
							update TblT_ProjectHeader set IDProjectStatus = 13 where IDProjectHeader = @IDProjectHeaderParent;
						end;

						exec Usp_Insert_Project_ExecutionList @IDProjectHeader, @Username;
						
						exec Usp_Copy_RealisasiAmandemen @IDProjectHeader, @Username;

					end;

					UPDATE TblT_ProjectInitApprovalRole
					SET IsApprove = 1
						,UpdatedBy = @Username
						,UpdatedDate = getdate()
					WHERE Sequence = @NextSequence
						AND IDProjectHeader = @IDProjectHeader
						AND IsActive = 1;
						
					insert into TblH_ProjectInitApproval(
						IDProjectHeader,
						Type,
						Remarks,
						CreatedDate,
						CreatedBy
					)values(
						@IDProjectHeader,
						@TypeTransaction,
						'-',
						getdate(),
						@Username
					);

				END;

				update TblT_ProjectHeader
				set UpdatedDate = getdate(),
					UpdatedBy = @Username
				where IDProjectHeader = @IDProjectHeader
				
				SELECT 'S|Sukses';

			end;

		end
		else if(@TypeTransaction = 'Revise') begin
			
			update TblT_ProjectHeader
			set IDProjectStatus = 8,
				UpdatedDate = getdate(),
				UpdatedBy = @Username
			where IDProjectHeader = @IDProjectHeader;

			update TblT_ProjectInitApprovalRole
			set IsApprove = 0
			where IDProjectHeader = @IDProjectHeader and IsActive = 1;

			insert into TblT_ProjectInitReviseRole(
				IDProjectHeader,
				IDRoleGroup,
				Username,
				Deskripsi,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			values(
				@IDProjectHeader,
				@IDRoleGroup,
				@Username,
				@Deskripsi,
				getdate(),
				@Username,
				1
			);
			
			insert into TblH_ProjectInitApproval(
				IDProjectHeader,
				Type,
				Remarks,
				CreatedDate,
				CreatedBy
			)values(
				@IDProjectHeader,
				@TypeTransaction,
				@Deskripsi,
				getdate(),
				@Username
			);

			SELECT 'S|Sukses';
		end
		else begin
			select 'F|Tipe transaksi tidak terdaftar';
		end;

		COMMIT;
	END TRY

	BEGIN CATCH
		ROLLBACK;

		DECLARE @ErrMsg VARCHAR(max)
			,@ErrNum INT;

		SELECT @ErrMsg = error_message()
			,@ErrNum = error_number();

		EXEC Usp_Insert_ErrorLog 'Usp_Approve_TransaksiProjectHeader'
			,@ErrNum
			,@ErrMsg
			,@Username;

		SELECT 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	END CATCH;
END




GO
