USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_ChgApvProjectHeader]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_ChgApvProjectHeader]
	-- Add the parameters for the stored procedure here

	-- Header param
	@IDProjectHeader int null,
	@IDProject int null,
	@Sequence int null,
	@IDProjectStatus int null,
	@StartYear varchar(4) null,
	@StartMonth int null,
	@EndYear varchar(4) null,
	@EndMonth int null,
	@NoKontrak varchar(20) null,

	-- Approval initiation param
	@Udt_ProjectInitApprovalRole Udt_ProjectInitApprovalRole null readonly,

	-- Project role group
	@Udt_ProjectRoleGroup Udt_ProjectRoleGroup null readonly,

	-- Secondary param
	@TypeTransaction varchar(20) null,
	@User varchar(50) null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		begin transaction;
		
		declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @User);

		if(@Username = null) begin set @Username = '-'; end;

		declare @IDProgram int;
		declare @ScopeIDProjectHeader int;
		declare @ScopeIDProject int;

		if(@TypeTransaction = 'Save')
		begin
			if exists(select * from TblT_ProjectHeader where IsAcTive = 1 and IDProjectHeader = @IDProjectHeader) 
			begin
				
				--update TblT_ProjectInitApprovalRole set IsActive = 0 where IDProjectHeader = @IDProjectHeader;
				update TblT_ProjectInitApprovalRole set IsActive = 0 where IDProjectHeader = @IDProjectHeader and IsActive is null;
				update TblT_ProjectRoleGroup set IsActive = 0 where IDProjectHeader = @IDProjectHeader and IsActive is null;

				insert into TblT_ProjectInitApprovalRole (
					IDProjectHeader,
					IDRoleGroup,
					Sequence,
					Username,
					Email,
					PositionCode,
					ActiveDate,
					EndDate,
					IsEnabled,
					CreatedDate,
					CreatedBy,
					IsActive
				)
				select @IDProjectHeader,
					a.IDRoleGroup,
					a.Sequence,
					a.Username,
					a.Username + '@lps.go.id',
					c.KodePosisi,
					getdate(),--a.ActiveDate,
					getdate(),--a.EndDate,
					a.IsEnabled,
					getdate(),
					@Username,
					null
				from @Udt_ProjectInitApprovalRole a
					left join TblDW_Usergroup b on a.Username = b.User_LoginName
					left join TblDW_Employee c on b.Usergroup_Pernr = c.PersonalNumber;
				
				--update TblT_ProjectRoleGroup set IsActive = 0 where IDProjectHeader = @IDProjectHeader;

				set @IDProgram = (
					select top 1 IDProgram 
					from TblM_Project a
						left join TblT_ProjectHeader b on a.IDProject = b.IDProject
					where a.IsActive = 1 and b.IsActive = 1 and b.IDProjectHeader = @IDProjectHeader
				);

				insert into TblT_ProjectRoleGroup (
					IDProjectHeader,
					IDRoleGroup,
					IDProgram,
					Username,
					CreatedBy,
					CreatedDate,
					IsActive
				)
				select @IDProjectHeader,
					IDRoleGroup,
					@IDProgram,
					Username,
					@Username,
					getdate(),
					null
				from @Udt_ProjectRoleGroup;
				
				insert into TblH_ProjectInitApproval(
						IDProjectHeader,
						Type,
						Remarks,
						CreatedDate,
						CreatedBy
					)values(
						@IDProjectHeader,
						'Updated',
						'-',
						getdate(),
						@Username
					);

				select 'S|Sukses';

			end
			else begin select 'F|ID Project Header tidak tersedia'; end;
		end;
		
		if (@TypeTransaction = 'Revise')
		begin
			if exists(select * from TblT_ProjectHeader where IsAcTive = 1 and IDProjectHeader = @IDProjectHeader)
			begin 
				update TblT_ProjectInitApprovalRole set IsActive = 0 where IDProjectHeader = @IDProjectHeader and IsActive is null;
				update TblT_ProjectRoleGroup set IsActive = 0 where IDProjectHeader = @IDProjectHeader and IsActive is null;

				select 'S|Sukses';
			end 
			else 
			begin select 'F|ID Project Header tidak tersedia'; end;
		end;

		if (@TypeTransaction = 'Approve')
		begin
			if exists(select * from TblT_ProjectHeader where IsAcTive = 1 and IDProjectHeader = @IDProjectHeader)
			begin 
				update TblT_ProjectInitApprovalRole set IsActive = 0 where IDProjectHeader = @IDProjectHeader and IsActive = 1;
				update TblT_ProjectRoleGroup set IsActive = 0 where IDProjectHeader = @IDProjectHeader and IsActive = 1;

				update TblT_ProjectInitApprovalRole set IsActive = 1 where IDProjectHeader = @IDProjectHeader and IsActive is null;
				update TblT_ProjectRoleGroup set IsActive = 1 where IDProjectHeader = @IDProjectHeader and IsActive is null;

				select 'S|Sukses';
			end 
			else 
			begin select 'F|ID Project Header tidak tersedia'; end;
		end;		

		commit;

	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_ChgApvProjectHeader', @ErrNum, @ErrMsg, @Username;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch
END




GO
