USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_ProjectConstraint_ByProjectHeaderID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_Get_ProjectConstraint_ByProjectHeaderID]
(	
	-- Add the parameters for the function here
	@ProjectHeaderID int

)
RETURNS @Result TABLE (
	IDProjectHeader int,
	Problem nvarchar(max),
	Remarks nvarchar(max)
)
AS
begin
	
	insert into @Result
	select t2.IDProjectHeader,
		Problem =
			stuff(
				(
					select ',' + t1.Description
					from TblT_ProjectConstraint t1
					where t1.IDProjectHeader = t2.IDProjectHeader
						and t1.IsActive = 1
					for xml path('')
				), 1, 1, ''
			),
		Remarks =
			stuff(
				(
					select ',' + t1.Remarks
					from TblT_ProjectConstraint t1
					where t1.IDProjectHeader = t2.IDProjectHeader
						and t1.IsActive = 1
					for xml path('')
				), 1, 1, ''
			)
	from TblT_ProjectConstraint t2
	where t2.IDProjectHeader = @ProjectHeaderID
		and t2.IsActive = 1
	group by IDProjectHeader;
	
	return;
end;
GO
