USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_UserSystemRole]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Insert_UserSystemRole]
	@NewUserPersnum varchar(50),
	@RoleID int,
	@CreateByPersnum varchar(50)
AS
BEGIN
	DECLARE @CreateByUsername varchar(50)
	DECLARE @NewName varchar(60)
	DECLARE @RoleName varchar(30)


	SELECT @RoleName = Description FROM
	TblM_RoleGroup
	where
	IDRoleGroup = @RoleID
	SELECT @CreateByUsername = Username FROM 
		TblT_UserAuthorized 
		where
		PersonNumber = @CreateByPersnum


	DECLARE @NewUserName varchar(50)

				SELECT 
					@NewUserName = UG.User_LoginName , @NewName = Em.Nama
				FROM
				TblDW_Employee Em
				INNER JOIN
				TblDW_Usergroup UG
					ON
					Em.PersonalNumber = UG.Usergroup_Pernr
				WHERE
					Em.PersonalNumber = @NewUserPersnum

	BEGIN TRY
		BEGIN TRANSACTION TransUser		
			-- CHECK IF User Is Exist 
			IF EXISTS(
				SELECT Username FROM 
				TblT_UserAuthorized 
				where
				PersonNumber = @NewUserPersnum
			)
			BEGIN
				-- CHECK If User Is Deleted OR Not
				IF (
					SELECT IsActive FROM 
					TblT_UserAuthorized 
					where
					PersonNumber = @NewUserPersnum
				) = 0
				BEGIN				
					-- Set User Active
					UPDATE TblT_UserAuthorized
					SET 
						IsActive = 1,
						IDRoleGroup = @RoleID,
						UpdatedBy = @CreateByUsername,
						UpdatedDate = GetDate()
					WHERE
					PersonNumber = @NewUserPersnum
					SELECT 'S|Success for Adding ' + @NewName + ' as ' + @RoleName
				END
				ELSE 
				BEGIN
					IF	
					EXISTS
					(
						SELECT IsActive FROM 
						TblT_UserAuthorized 
						where
						PersonNumber = @NewUserPersnum
						and
						IDRoleGroup = @RoleID
					)
					BEGIN
						SELECT 'E|User Already Registered'
					END
					ELSE
						UPDATE TblT_UserAuthorized
						SET 
							IDRoleGroup = @RoleID,
							UpdatedBy = @CreateByUsername,
							UpdatedDate = GetDate()
						WHERE
						PersonNumber = @NewUserPersnum
						SELECT 'S|Success for Adding ' + @NewName + ' as ' + @RoleName
					END			
				
			END
			ELSE
			BEGIN
				-- GET New User , Username
				

				INSERT INTO TblT_UserAuthorized
				(
					[IDRoleGroup],
					[Username],
					[PersonNumber],
					[CreatedDate],
					[CreatedBy],
					[IsActive]
				)
				VALUES
				(
					@RoleID,
					@NewUserName,
					@NewUserPersnum,
					GetDate(),
					@CreateByUsername,
					'1'
				)

				SELECT 'S|Success for Registering New User'
			END
		COMMIT TRANSACTION TransUser
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION TransUser
		DECLARE @Errm varchar(max) , @Errn int
		SELECT @Errm = ERROR_MESSAGE() , @Errn = ERROR_NUMBER()
		EXEC Usp_Insert_ErrorLog 'Usp_Insert_UserSystemRole' , @Errn , @Errm , @CreateByUsername
	END CATCH
END




GO
