USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetWeek_ByDate]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Ufn_GetWeek_ByDate] (@Date DATETIME)
RETURNS INT 
AS 
    BEGIN

        DECLARE @int INT
		SET @Int = datediff(week, dateadd(week, datediff(week, 0, dateadd(month, datediff(month, 0, @date), 0)), 0), @date- 1) + 1

	RETURN @int
    END



	--select datediff(week, dateadd(week, datediff(week, 0, dateadd(month, datediff(month, 0, @date), 0)), 0), @date - 1) + 1
GO
