USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_Karyawan_new]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_Karyawan_new] AS TABLE(
	[PersonalNumber] [varchar](max) NULL,
	[NIK] [varchar](max) NULL,
	[Username] [varchar](max) NULL,
	[Org_Unit_Mast_Code] [varchar](max) NULL,
	[Asses] [varchar](max) NULL,
	[Nama] [varchar](max) NULL,
	[JenisKelamin] [varchar](max) NULL,
	[TempatLahir] [varchar](max) NULL,
	[BirthDate] [varchar](max) NULL,
	[EntryDate] [varchar](max) NULL,
	[PensiunDate] [varchar](max) NULL,
	[Status] [varchar](max) NULL,
	[Leaving] [varchar](max) NULL,
	[KodeUnitKerja] [varchar](max) NULL,
	[TanggalDiPosisi] [varchar](max) NULL,
	[PosisiDirektur] [varchar](max) NULL,
	[KodePosisi] [varchar](max) NULL,
	[TanggalDiJabatan] [varchar](max) NULL,
	[JabatanDirektur] [varchar](max) NULL,
	[TanggalDiPangkat] [varchar](max) NULL,
	[Pangkat] [varchar](max) NULL,
	[KodePangkat] [varchar](max) NULL,
	[Pendidikan] [varchar](max) NULL,
	[Institusi] [varchar](max) NULL,
	[Agama] [varchar](max) NULL,
	[TanggalDiangkat] [varchar](max) NULL,
	[StatusKerja] [varchar](max) NULL,
	[StatusPerkawinan] [varchar](max) NULL,
	[JumlahAnak] [varchar](max) NULL,
	[Alamat] [varchar](max) NULL,
	[User_LoginName] [varchar](max) NULL,
	[Usergroup_GroupName] [varchar](max) NULL,
	[Usergroup_Pernr] [varchar](max) NULL,
	[empl_mast_ID] [varchar](100) NULL,
	[empl_mast_Username] [varchar](max) NULL,
	[empl_mast_NIP] [varchar](max) NULL,
	[empl_mast_Name] [varchar](max) NULL,
	[org_unit_mast_ID] [varchar](max) NULL,
	[org_unit_mast_Name] [varchar](max) NULL,
	[empl_title_mast_Name] [varchar](max) NULL,
	[empl_Title_mast_ID] [varchar](max) NULL,
	[empl_mast_ActiveStatus] [varchar](max) NULL,
	[empl_mast_IsContract] [varchar](max) NULL,
	[org_unit_struc_mast_ParentID] [varchar](max) NULL
)
GO
