USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Upload_FileMilestone]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Upload_FileMilestone]
	-- Add the parameters for the stored procedure here
	@IDDocumentType int = 1,
	@ProjectHeaderID int,
	@TaskID bigint ,
	@DocumentName varchar(max),
	@DocumentType varchar(max)

AS
BEGIN
	INSERT INTO
	TblT_MPPMilestoneDocument
	(
		[IDDocumentType],
		[ProjectHeaderID],
		[TaskID],
		[DocumentName],
		[DocumentType],
		[CreatedDate],
		[CreatedBy],
		[IsActive]
	)
	VALUES 
	(
		@IDDocumentType,
		@ProjectHeaderID,
		@TaskID,
		@DocumentName,
		@DocumentType,
		GETDATE(),
		'',
		'1'
	)


END




GO
