USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_PlanningPercentage_PerProject_backup_20210427]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[Ufn_Get_PlanningPercentage_PerProject_backup_20210427] ( @ProjectHeaderID int, @TodayDate nvarchar(30))

-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
Returns @result TABLE 
(
	ProjectHeaderID int, 
	TaskID int,
	TaskName varchar(max),
	StartDate date,
	EndDate date,
	DurationInDays int,
	ParentID int,
	IsParent bit,
	ElapseDays int,
	PlanedPerecentage decimal(20,2)
)
AS

begin
DECLARE @TempTable TABLE
(
	ProjectHeaderID int , 
	TaskID int, 
	TaskName varchar(max), 
	StartDate date, 
	EndDate date, 
	DurationInDays int, 
	ParentID int, 
	IsParent bit, 
	ElapseDay int
)

DECLARE @TableWithElapseDay TABLE
(
	ProjectHeaderID int , 
	TaskID int, 
	TaskName varchar(max), 
	StartDate date, 
	EndDate date, 
	DurationInDays int, 
	ParentID int, 
	IsParent bit, 
	ElapseDay int
)

DECLARE @TableWithElapseDayRes TABLE
(
	ProjectHeaderID int , 
	TaskID int, 
	TaskName varchar(max), 
	StartDate date, 
	EndDate date, 
	DurationInDays int, 
	ParentID int, 
	IsParent bit, 
	ElapseDay int
)

DECLARE @TableWithElapseDayFix TABLE
(
	ProjectHeaderID int , 
	TaskID int, 
	TaskName varchar(max), 
	StartDate date, 
	EndDate date, 
	DurationInDays int, 
	ParentID int, 
	IsParent bit, 
	ElapseDay int
)

INSERT INTO @TempTable
SELECT 
	dt.ProjectHeaderID , 
	dt.TaskID, 
	dt.TaskName, 
	dt.StartDate , 
	dt.EndDate, 
	dt.DurationInDays, 
	dt.ParentID, 
	dt.IsParent, 
	CASE WHEN 
		dt.TaskName LIKE '%Milestone%' 
	THEN
		0
	ELSE
		[dbo].[Ufn_GetProjectElapseDay_New](StartDate, EndDate, @TodayDate)
	END
	as ElapseDay
FROM
Ufn_Get_DurationInDays_PerProject(@ProjectHeaderID) dt

INSERT INTO @TableWithElapseDay
SELECT 
	tt.ProjectHeaderID , 
	tt.TaskID, 
	tt.TaskName, 
	tt.StartDate , 
	tt.EndDate, 
	tt.DurationInDays, 
	tt.ParentID, 
	tt.IsParent, 
CASE
WHEN
	tt.IsParent = 1
THEN
	(
		SELECT SUM(ElapseDay)
		FROM
		@TempTable tti
		where
		tti.ParentID = tt.TaskID
	)
ELSE
	tt.ElapseDay
END as ElapseDay
FROM 
@TempTable tt

INSERT INTO @TableWithElapseDayRes
SELECT 
	tt.ProjectHeaderID , 
	tt.TaskID, 
	tt.TaskName, 
	tt.StartDate , 
	tt.EndDate, 
	tt.DurationInDays, 
	tt.ParentID, 
	tt.IsParent, 
CASE
WHEN
	tt.IsParent = 1
THEN
	(
		SELECT SUM(ElapseDay)
		FROM
		@TableWithElapseDay tti
		where
		tti.ParentID = tt.TaskID
	)
ELSE
	tt.ElapseDay
END as ElapseDay
FROM 
@TableWithElapseDay tt

	INSERT INTO @TableWithElapseDayFix
	SELECT 
		tt.ProjectHeaderID , 
		tt.TaskID, 
		tt.TaskName, 
		tt.StartDate , 
		tt.EndDate, 
		tt.DurationInDays, 
		tt.ParentID, 
		tt.IsParent, 
	CASE
	WHEN
		tt.ParentID = 0
	THEN
		(
			SELECT SUM(ElapseDay)
			FROM
			@TableWithElapseDayRes tti
			where
			tti.ParentID = tt.TaskID
		)
	ELSE
		tt.ElapseDay
	END as ElapseDay
	FROM 
	@TableWithElapseDayRes tt







INSERT INTO @result
SELECT 
	TWED.ProjectHeaderID ,
	TWED.TaskID, 
	TWED.TaskName, 
	TWED.StartDate , 
	TWED.EndDate, 
	TWED.DurationInDays, 
	TWED.ParentID, 
	TWED.IsParent, 
	TWED.ElapseDay,
	CASE WHEN CONVERT(DECIMAL(20,2), ROUND((CONVERT(decimal,TWED.ElapseDay) /NULLIF(CONVERT(decimal,TWED.DurationInDays),0)) * 100 , 2)) > 100 THEN 100 ELSE 
	CONVERT(DECIMAL(20,2), ROUND((CONVERT(decimal,TWED.ElapseDay) /NULLIF(CONVERT(decimal,TWED.DurationInDays),0)) * 100 , 2)) END as PlanedPerecentage
FROM
@TableWithElapseDayFix TWED

    return

end  
GO
