USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_BerandaProjectTask]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_BerandaProjectTask]
	@IDProject int,
	@Year varchar(4) = '',
	@Month varchar(2) = '',
	@Week varchar(2) = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT TOP 10 TaskName as Name, '30' as [Plan], '20' as [Real]
	FROM TblT_MPPProjectPlanDetail
END




GO
