USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Report_SummaryPerSO]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- EXEC Usp_Get_Report_SummaryPerSO '0', '3' , '2019'
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_Report_SummaryPerSO]
	@week int = null,
	@month int,
	@year int
AS
BEGIN
	declare @Date date = null;
	DECLARE @IsTransformasi int = 0

	set @Date = getdate();

	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	if( @Year = (select Year from TblM_Date where Date = @Date) and @Month = (select Month from TblM_Date where Date = @Date)) 
		begin set @Date = getdate() end
	else 
		begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc) end;

	DECLARE @MaxDatePergeseran DATETIME 
	DECLARE @MaxDateReal DATETIME 
	DECLARE @MaxDateKomit DATETIME
	declare @MaxDateHangus datetime

	SET @MaxDatePergeseran = (SELECT TOP 1  DateDownload FROM TblSAP_Pergeseran 
							  WHERE DateDownload <= (SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date WHERE year = @Year and month = @Month) 
							  ORDER BY DateDownload DESC)

	SET @MaxDateReal = (SELECT TOP 1 DateDownload FROM TblSAP_Realisasi 
						WHERE DateDownload <= (SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date WHERE year = @Year and month = @Month) 
						ORDER BY DateDownload DESC)

	SET @MaxDateKomit = (SELECT TOP 1  DateDownload FROM TblSAP_Komitmen 
						WHERE DateDownload <= (SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date WHERE year = @Year and month = @Month)
						ORDER BY DateDownload DESC)

	SET @MaxDateHangus = (SELECT TOP 1  DateDownload FROM TblSAP_Hangus 
						  WHERE DateDownload <= (SELECT TOP 1 CAST(LastDayOfMonth AS DATE) FROM TblM_Date WHERE year = @Year and month = @Month)
						  ORDER BY DateDownload DESC)
		
		SELECT 
			StrategicObjectiveName as NamaSO ,
			CONVERT(DOUBLE PRECISION,RealisasiPencapaian) as RataPencapain ,
			FORMAT(Anggaran,'#,0.00') as TotalAnggaran ,
			CASE
				WHEN ROUND(RealisasiPencapaian,2) >= 110 THEN '<div class="circle" style="background : blue"></div>'
				WHEN ROUND(RealisasiPencapaian,2) BETWEEN 100 and 109 THEN '<div class="circle" style="background : green"></div>'
				WHEN ROUND(RealisasiPencapaian,2) BETWEEN 85 and 99 THEN '<div class="circle" style="background : yellow"></div>'
				ELSE
				(   CASE WHEN RealisasiPencapaian = 0 
					THEN '<div class="circle" style="background : grey"></div>' ELSE '<div class="circle" style="background : red"></div>' END
				)
			END as Status,
			CONVERT(DOUBLE PRECISION,ROUND((( RealisasiAnggaran / Anggaran ) * 100),2)) as Realisasi,
			CONVERT(DOUBLE PRECISION,ROUND((( RealisasiKomit / Anggaran ) * 100),2)) as RealKomit
		FROM (
			select 				
				IDStrategicObjective,
				StrategicObjectiveName,
				isnull(sum(Anggaran)/1000000, 0.00) as Anggaran,
				isnull(
				round(100 * avg(RealPenc) / avg(Planning), 2)
				, 0)
				as RealisasiPencapaian,
				sum(RealisasiAnggaran)/1000000 as RealisasiAnggaran,
				sum(RealisasiKomit)/1000000 as RealisasiKomit		
			from (
				select 'Project' as Tipe,
					a.IDStrategicObjective,
					a.StrategicObjectiveName,
					a.IDProgram,
					a.IDProjectHeader,
					a.IDDirektorat,
					a.DirektoratName,
					a.ProgramName,
					a.ProjectName,
					a.ProjectName as Name,
					a.DepartmentCode as PIC,
					isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,--([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartMonth')) + ' - ' + [dbo].[Ufn_GetTriwulan]([dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndMonth')), '-') as Waktu,
					isnull(sum(i.RKATValue), 0.00) as Anggaran,
					null as Target,
					null as Realisasi,
					--isnull(cast([dbo].[Ufn_GetPencapaian](c.IDProjectHeader, b.IsTransformasi, @Month, @Year) as float), 0.00)
					a.Pencapaian as Pencapaian,
					isnull(sum(i.RealValue), 0.00) as RealisasiAnggaran,
					sum(isnull(i.RealValue,0) + isnull(i.KomitValue/1000000,0)) as RealisasiKomit,
					--(select [dbo].[Ufn_GetTrenPencapaian](a.IDProjectHeader, a.IsTransformasi, @Month, @Year)) as Tren,
					a.IsTransformasi,
					a.IDProjectStatus,
					a.PlanPencapaian as Planning,
					a.RealisasiPencapaian as RealPenc
				from TblD_ListProject a
				join (	select distinct 
								a.IDProjectHeader, 
								--a.IDSAPMasterRKAT,
								--b.EVDESCRIPTION as RKAT,
								--b.IDSAP as RKATCode,
								(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_RKATFinal c WHERE c.RENCANA_KERJA = b.IDSAP )
									+ isnull((SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Pergeseran f WHERE f.RENCANA_KERJA = b.IDSAP and DateDownload = @MaxDatePergeseran),0)
									+ isnull((SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Hangus f WHERE f.RENCANA_KERJA = b.IDSAP and DateDownload = @MaxDateHangus),0) as RKATValue,
								(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Realisasi d WHERE d.RENCANA_KERJA = b.IDSAP AND d.DateDownload = @MaxDateReal) as RealValue,
								(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Komitmen e WHERE e.RENCANA_KERJA = b.IDSAP AND e.DateDownload = @MaxDateKomit ) as KomitValue
						FROM TblT_ProjectRKAT  a 
						JOIN TblSAP_MasterRKAT b ON a.IDSAPMasterRKAT = b.IDSAPMasterRKAT
						where a.IsActive = 1
					) i ON a.IDProjectHeader = i.IDProjectHeader
					--cross apply [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderIDYearMonth](a.IDProjectHeader,@Year,@Month) i
				where a.IsActive = 1
					and (@Year between a.StartYear and a.EndYear)
					and a.DateDownload = @Date
					and a.IDProjectStatus <> 1
					and a.IDProjectStatus <> 7
					and a.IDProjectStatus <> 8
					and a.IDProjectStatus <> 9
					and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
				group by a.IDProgram,
					a.IDProjectHeader,
					a.IDDirektorat,
					a.DirektoratName,
					a.ProgramName,
					a.ProjectName,
					a.ProjectName,
					a.DepartmentCode,
					a.IsTransformasi,
					a.StartMonth,
					a.EndMonth,
					a.Pencapaian,
					a.StartYear,
					a.EndYear,
					a.IDProjectStatus,
					a.PlanPencapaian, a.RealisasiPencapaian,
					a.IDStrategicObjective,
				    a.StrategicObjectiveName,
					a.Tren
			)zz
			group by IDStrategicObjective, StrategicObjectiveName
			)RX
			

END




GO
