USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_DWEmployee]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Insert_DWEmployee]
	  @PersonalNumber varchar(max) ,
	  @NIK varchar(max) ,
	  @Username varchar(max) ,
	  @Org_Unit_Mast_Code varchar(max) ,
	  @Nama varchar(max) ,
	  @JenisKelamin varchar(max) ,
	  @TempatLahir varchar(max) ,
	  @BirthDate datetime ,
	  @EntryDate datetime ,
	  @PensiunDate datetime ,
	  @Status varchar(max) ,
	  @Leaving varchar(max) ,
	  @KodeUnitKerja varchar(max) ,
	  @TanggalDiPosisi datetime ,
	  @Posisi varchar(max) ,
	  @KodePosisi varchar(max) ,
	  @TanggalDiJabatan datetime ,
	  @Jabatan varchar(max) ,
	  @JabatanDirektur varchar(max) ,
	  @TanggalDiPangkat datetime ,
	  @Pangkat varchar(max) ,
	  @KodePangkat varchar(max) ,
	  @Pendidikan varchar(max) ,
	  @Institusi varchar(max) ,
	  @Agama varchar(max) ,
	  @TanggalDiangkat datetime ,
	  @StatusKerja varchar(max) ,
	  @StatusPerkawinan varchar(max) ,
	  @JumlahAnak varchar(max) ,
	  @Alamat varchar(max) ,
	  @empl_mast_ID varchar(100) ,
	  @empl_mast_Username varchar(max) ,
	  @empl_mast_NIP varchar(max) ,
	  @empl_mast_Name varchar(max) ,
	  @org_unit_mast_ID varchar(max) ,
	  @org_unit_mast_Name varchar(max) ,
	  @empl_mast_ActiveStatus varchar(max) ,
	  @empl_mast_IsContract varchar(max) 
AS
BEGIN
	DECLARE @ERRM varchar(max), @ERRN int
	BEGIN TRY
		BEGIN TRANSACTION
			IF EXISTS(
				SELECT IDDWEmployee FROM TblDW_Employee
				WHERE
				 NIK =					 @NIK AND
				 PersonalNumber =	@PersonalNumber
			)
			BEGIN
				 UPDATE TblDW_Employee
				   SET				
				   PensiunDate  =			 @PensiunDate ,
				   Status   =				 CONVERT(int , @Status) ,
				   Leaving   =				 CAST(@Leaving as date) ,
				   KodeUnitKerja   =		 CAST(@KodeUnitKerja as int)   ,
				   TanggalDiPosisi   =		 @TanggalDiPosisi ,
				   KodePosisi   =			 CAST(@KodePosisi as int) ,
				   TanggalDiJabatan  =		 @TanggalDiJabatan ,
				   TanggalDiPangkat   =		 @TanggalDiPangkat ,
				   Pangkat   =				 @Pangkat  ,
				   KodePangkat   =			 @KodePangkat  ,
				   Pendidikan  =			 @Pendidikan ,
				   Institusi   =			 @Institusi  ,
				   Agama  =					 @Agama ,
				   StatusKerja   =			 @StatusKerja  ,
				   StatusPerkawinan   =		 @StatusPerkawinan  ,
				   JumlahAnak   =			 CAST(@JumlahAnak as int)  ,
				   Alamat  =				 CAST(@Alamat as text),
				   Posisi  =				 @Posisi ,
				   Jabatan =				 @Jabatan ,
				   [UpdatedBy] = 'System',
				   [UpdatedDate] =	GETDATE()
				WHERE
					PersonalNumber = @PersonalNumber
					and
					NIK = @NIK
					and
					StatusKerja NOT LIKE '%Dekom%'

				UPDATE
				TblDW_EmployeeMapping
				SET
					empl_mast_NIP  =	  @empl_mast_NIP  ,
					empl_mast_Name  =	  @empl_mast_Name  ,
					org_unit_mast_ID  =  @org_unit_mast_ID  ,
					org_unit_mast_Name  =	  @org_unit_mast_Name  ,
					empl_mast_ActiveStatus  =	  Convert(bit,@empl_mast_ActiveStatus)  ,
					empl_mast_IsContract  =	  Convert(bit,@empl_mast_IsContract ),
					[org_unit_mast_Code] = 
					case when LEN(@Org_Unit_Mast_Code) < 4 and LEN(@Org_Unit_Mast_Code) > 0  then 'G'+@Org_Unit_Mast_Code 
					else @Org_Unit_Mast_Code end 
				WHERE
					empl_mast_username = @empl_mast_Username
					AND
					empl_mast_ID =  @empl_mast_ID
					AND
					empl_mast_Username  =  @empl_mast_Username
					AND
					@StatusKerja NOT LIKE '%Dekom%'

				SELECT 'S|Success Updating ' + @Nama + ' Data';
			END
			ELSE
			BEGIN
				INSERT INTO
				TblDW_Employee
				(
					PersonalNumber  ,
					NIK  ,
					Nama  ,
					JenisKelamin  ,
					TempatLahir  ,
					BirthDate  ,
					EntryDate  ,
					PensiunDate  ,
					Status  ,
					Leaving  ,
					KodeUnitKerja  ,
					TanggalDiPosisi  ,
					Posisi  ,
					KodePosisi  ,
					TanggalDiJabatan  ,
					Jabatan  ,
					TanggalDiPangkat  ,
					Pangkat  ,
					KodePangkat  ,
					Pendidikan  ,
					Institusi  ,
					Agama  ,
					StatusKerja  ,
					StatusPerkawinan  ,
					JumlahAnak  ,
					Alamat  ,
					CreatedBy,
					CreatedDate
				)
				VALUES
				(
					@PersonalNumber  ,
					@NIK  ,
					@Nama  ,
					@JenisKelamin  ,
					@TempatLahir  ,
					@BirthDate  ,
					@EntryDate  ,
					@PensiunDate  ,
					@Status  ,
					@Leaving  ,
					@KodeUnitKerja  ,
					@TanggalDiPosisi  ,
					@Posisi  ,
					@KodePosisi  ,
					@TanggalDiJabatan  ,
					@Jabatan  ,
					@TanggalDiPangkat  ,
					@Pangkat  ,
					@KodePangkat  ,
					@Pendidikan  ,
					@Institusi  ,
					@Agama  ,
					@StatusKerja  ,
					@StatusPerkawinan  ,
					@JumlahAnak  ,
					@Alamat  ,
					'System',
					GETDATE()
				)


				INSERT INTO TblDW_Usergroup
				(
					[User_LoginName],
					[Usergroup_Pernr]
				)
				VALUES
				(
					@Username  ,
					Convert(int,@PersonalNumber)  
				)

				INSERT INTO
				TblDW_EmployeeMapping
				(
					empl_mast_ID,
					empl_mast_Username  ,
					empl_mast_NIP  ,
					empl_mast_Name  ,
					org_unit_mast_ID  ,
					org_unit_mast_Name  ,
					empl_mast_ActiveStatus  ,
					empl_mast_IsContract  ,
					org_unit_mast_Code
				)
				VALUES( 
					@empl_mast_ID,
					@empl_mast_Username  ,
					@empl_mast_NIP  ,
					@empl_mast_Name  ,
					@org_unit_mast_ID  ,
					@org_unit_mast_Name  ,
					Convert(bit,@empl_mast_ActiveStatus)  ,
					Convert(bit,@empl_mast_IsContract ) ,
					case when LEN(@Org_Unit_Mast_Code) < 4 and LEN(@Org_Unit_Mast_Code) > 0  then 'G'+@Org_Unit_Mast_Code 
					else @Org_Unit_Mast_Code end 
				)
				SELECT 'S|Success Adding ' + @Nama + 'As New Employee'
			END
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		
	END CATCH
END




GO
