USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_SAPRKAT_ByDESCRIPTION]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_SAPRKAT_ByDESCRIPTION]-- 'a'
	-- Add the parameters for the stored procedure here
	@DESCRIPTION varchar(200) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select row_number() over (order by a.IDSAPMasterRKAT asc) as NoUrut,
		a.IDSAPMasterRKAT as IDSAPRKAT,
		a.EVDESCRIPTION as DESCRIPTION,
		a.IDSAP,
		a.ACTIVE,
		a.COSTCTR,
		a.KPI,
		a.LEVEL,
		a.SCALING,
		a.STRAT_OBJ,
		a.WORKPLAN_TYPE,
		a.YEAR,
		a.PARENT,
		a.LONG_DESC,
		a.EVDESCRIPTION,
		a.KPI_GROUP,
		a.PRO_GROUP,
		a.UNCONTROLLABLE,
		dbo.Ufn_GetTotalAnggaran(a.IDSAP) AS Value
	from TblSAP_MasterRKAT a
		left join TblT_ProjectRKAT b on a.IDSAPMasterRKAT <> b.IDSAPMasterRKAT and b.IsActive = 1
		--inner join TblT_ProjectHeader c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1
	where (LONG_DESC like '%' + @DESCRIPTION + '%' or a.IDSAP like '%' + @DESCRIPTION + '%') --and PARENT is null
		and ACTIVE = 'Y'
		and YEAR != 'TETA'
		and (CAST(YEAR AS INT) >= YEAR(GETDATE()) - 2)
	group by a.IDSAPMasterRKAT,
		a.EVDESCRIPTION,
		a.IDSAP,
		a.ACTIVE,
		a.COSTCTR,
		a.KPI,
		a.LEVEL,
		a.SCALING,
		a.STRAT_OBJ,
		a.WORKPLAN_TYPE,
		a.YEAR,
		a.PARENT,
		a.LONG_DESC,
		a.EVDESCRIPTION,
		a.KPI_GROUP,
		a.PRO_GROUP,
		a.UNCONTROLLABLE;

END




GO
