USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_ProjectInformation_Milestone]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_ProjectInformation_Milestone]  -- exec Get_DashboardProjectDetail '413'
	@ProjectHeaderID int
AS
BEGIN

	------------------------------------- Milestone -------------------------------------

	select TaskID as id,
		Milestones as MilestoneTask,
		selesai as Selesai,
		case 
			when statuss = 'LATE' then 'Due' 
			when statuss = 'Ongoing' then 'Ongoing' 
			else 'Completed' 
		end as MilestoneProgress 
	from 
		Ufn_CheckProjectIsFinish(@ProjectHeaderID); -- Table[1]
	

END




GO
