USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_UserAuthorizedDetail_ByID_BAK]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Andre Ibrahim Latief
-- Create date: 17-12-2018
-- Description:	Showing Detail For User Management by ID
-- Exec Usp_Get_UserAuthorizedDetail_ByID '20000149'
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_UserAuthorizedDetail_ByID_BAK] 
	@personnumber varchar(30)
AS
BEGIN
	---------------------------------------------------------
	---------------------------------------------------------
	-- Table Structure ( May be Change In Near Future )    --
	---------------------------------------------------------
	---------------------------------------------------------
	-- Table User Detail								   --
	-- Table User ALL's									   --
	---------------------------------------------------------
	---------------------------------------------------------


	--DECLARE VARIABLE MIGHT BE USED LATER
	--------------------------------------------------------------------------------------------------------------------------
	DECLARE @username varchar(30)
	DECLARE @Persnumber varchar(30) 
	SET @Persnumber = @personnumber

	if @personnumber = 'RIN'
	BEGIN 
		SET @Persnumber = '0000000'
	END

	SELECT @username = User_LoginName FROM TblDW_Usergroup where  Usergroup_Pernr = @persnumber


	--SHOWING REGISTERED USER DETAIL
	--------------------------------------------------------------------------------------------------------------------------
	SELECT 
	  Emp.NIK , 
	  Emp.Nama , 
	  Emp.Posisi , 
	  'Lembaga Penjamin Simpanan' as Perusahaan,
	  Emp.KodeUnitKerja as Departement,
	  @username + '@lps.go.id' as Email,
	  Emp.Alamat 
	FROM 
		TblDW_Employee Emp
	WHERE
	PersonalNumber = @Persnumber

	-- SHOWING USER ROLES
	----------------------------------------------------------------------------------
			SELECT DISTINCT
			Prog.IDProgram as IDProgram ,
			Prog.ProgramNo + ' - ' + Prog.ProgramName as ProgramName ,
			ProjM.IDProject as IDProject, 
			ISNULL(ProjM.ProjectNo,0) + ' - ' + ProjM.ProjectName as ProjectName,
			(
					SELECT CONVERT(Varchar(3),RG.IDRoleGroup) +'|'
					FROM 
						TblT_ProjectRoleGroup PRS
					INNER JOIN
						TblT_UserAuthorized UAs
					ON
						PRS.Username = UAs.Username
					INNER JOIN
						TblM_RoleGroup RG
					ON
						PRS.IDRoleGroup = RG.IDRoleGroup
					INNER JOIN
						TblT_ProjectHeader PH
					ON
						PRS.IDProjectHeader = PH.IDProjectHeader
					INNER JOIN 
						TblM_Project Proj
					ON
						PH.IDProject = Proj.IDProject
					where
						PRS.Username = @username
						AND
						PRS.IsActive = '1'
						AND
						UAs.IsActive = '1'
						AND
						PRS.IDProgram = Prog.IDProgram
						AND
						PROJ.IDProject = ProjM.IDProject
					FOR XML PATH('')
				) RolesID, 
				(
					SELECT RG.Description + ', '
					FROM 
						TblT_ProjectRoleGroup PRS
					INNER JOIN
						TblT_UserAuthorized UAs
					ON
						PRS.Username = UAs.Username
					INNER JOIN
						TblM_RoleGroup RG
					ON
						PRS.IDRoleGroup = RG.IDRoleGroup
					INNER JOIN
						TblT_ProjectHeader PH
					ON
						PRS.IDProjectHeader = PH.IDProjectHeader
					INNER JOIN 
						TblM_Project Proj
					ON
						PH.IDProject = Proj.IDProject
					where
						PRS.Username = @username
						AND
						PRS.IsActive = '1'
						AND
						UAs.IsActive = '1'
						AND
						PRS.IDProgram = Prog.IDProgram
						AND
						PROJ.IDProject = ProjM.IDProject
					FOR XML PATH('')
				) Roles 
		FROM
			TblT_ProjectRoleGroup PRG
			INNER JOIN 
			TblT_ProjectHeader ProjHead
			ON
			PRG.IDProjectHeader = ProjHead.IDProjectHeader
			INNER JOIN
			TblM_Project ProjM
			ON
			ProjHead.IDProject = ProjM.IDProject
			INNER JOIN
			TblM_Program Prog
			ON
			ProjM.IDProgram = Prog.IDProgram
		where 
		PRG.Username = @username
		and prg.IsActive = '1'
END




GO
