USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardSummaryHeader]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sena Putra
-- Create date: January 20, 2018
-- Description:	EXEC [dbo].[Get_DashboardSOChart]
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardSummaryHeader] -- exec Get_DashboardSummaryHeader '2019', 4, 'Unit Kerja', 1, 'GKPT'
	@Year varchar(4) = null,
	@Month int = null,
	@Filter varchar(max) = 'Strategic Objective',
	@Week int = null,
	@ID varchar(max) = null

AS
BEGIN
	
	declare @Date date;
	if(
		(select WeekOfMonth from TblM_Date where Date = cast(getdate() as date)) = @Week
		and year(getdate()) = @Year
		and month(getdate()) = @Month
	) set @Date = cast(getdate() as date)
	--else set @Date = (select Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday');
	else set @Date = (select Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Wednesday');

	if(@Filter = 'Strategic Objective') begin
	
		select
			case
				when a.IsTransformasi = 0 then 'Non Transformasi'
				else 'Transformasi'
			end as Tipe,
			count(*) as Total
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1 
			and a.StrategicObjectiveCode = @ID 
			and a.DateDownload = @Date 
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 3, 8, 9, 13)
		group by a.IsTransformasi
		order by a.IsTransformasi desc;
		
		select a.IDStrategicObjective,
			a.StrategicObjectiveName,
			a.IDProgram,
			a.ProgramName,
			a.IDProjectHeader,
			a.ProjectName,
			a.ProjectNo,
		
			a.StartDay + ' - ' + a.StartMonth + ' - ' + a.StartYear as StartDate,
			a.EndDay + ' - ' + a.EndMonth + ' - ' + a.EndYear as EndDate,
		
			case
				when (
					@Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
				) then '<span class="fa fa-circle" style="color:grey" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   0.00%'
				
				when (
					a.IDProjectStatus = 4
					or a.IDProjectStatus = 12
				) then '<span class="fa fa-circle" style="color:black" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   100.00%'

				when isnull(a.Pencapaian, 0.00) < 85 then
					'<span class="fa fa-circle" style="color:red" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0.00) < 100 then
					'<span class="fa fa-circle" style="color:yellow" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0.00) < 110 then
					'<span class="fa fa-circle" style="color:green" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				else
					'<span class="fa fa-circle" style="color:blue" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
			end as RealisasiPencapaian,

			a.Pencapaian as Pencapaian,
			a.IsTransformasi as IsTransformasi
		
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1 
			and a.StrategicObjectiveCode = @ID 
			and a.DateDownload = @Date 
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 3, 8, 9, 13);

	end

	else if(@Filter = 'Direktorat') begin
	
		select
			case
				when a.IsTransformasi = 0 then 'Non Transformasi'
				else 'Transformasi'
			end as Tipe,
			count(*) as Total
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1 
			and a.DirektoratCode = @ID 
			and a.DateDownload = @Date 
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 3, 8, 9, 13)
		group by a.IsTransformasi
		order by a.IsTransformasi desc;
		
		select a.IDStrategicObjective,
			a.StrategicObjectiveName,
			a.IDProgram,
			a.ProgramName,
			a.IDProjectHeader,
			a.ProjectName,
			a.ProjectNo,
		
			a.StartDay + ' - ' + a.StartMonth + ' - ' + a.StartYear as StartDate,
			a.EndDay + ' - ' + a.EndMonth + ' - ' + a.EndYear as EndDate,
		
			case
				when (
					@Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
				) then '<span class="fa fa-circle" style="color:grey" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   0.00%'
				
				when (
					a.IDProjectStatus = 4
					or a.IDProjectStatus = 12
				) then '<span class="fa fa-circle" style="color:black" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   100.00%'

				when isnull(a.Pencapaian, 0.00) < 85 then
					'<span class="fa fa-circle" style="color:red" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0.00) < 100 then
					'<span class="fa fa-circle" style="color:yellow" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0.00) < 110 then
					'<span class="fa fa-circle" style="color:green" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				else
					'<span class="fa fa-circle" style="color:blue" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
			end as RealisasiPencapaian,

			a.Pencapaian as Pencapaian,
			a.IsTransformasi as IsTransformasi
		
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1 
			and a.DirektoratCode = @ID 
			and a.DateDownload = @Date 
			and (@Year between a.StartYear 
			and a.EndYear)
			and a.IDProjectStatus not in(1, 3, 8, 9, 13);

	end
	
	else if(@Filter = 'Unit Kerja') begin
	
		select
			case
				when a.IsTransformasi = 0 then 'Non Transformasi'
				else 'Transformasi'
			end as Tipe,
			count(*) as Total
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1 
			and a.DepartmentCode = @ID 
			and a.DateDownload = @Date 
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 3, 8, 9, 13)
		group by a.IsTransformasi
		order by a.IsTransformasi desc;
		
		select a.IDStrategicObjective,
			a.StrategicObjectiveName,
			a.IDProgram,
			a.ProgramName,
			a.IDProjectHeader,
			a.ProjectName,
			a.ProjectNo,
		
			a.StartDay + ' - ' + a.StartMonth + ' - ' + a.StartYear as StartDate,
			a.EndDay + ' - ' + a.EndMonth + ' - ' + a.EndYear as EndDate,
		
			case
				when (
					@Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
				) then '<span class="fa fa-circle" style="color:grey" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   0.00%'
				
				when (
					a.IDProjectStatus = 4
					or a.IDProjectStatus = 12
				) then '<span class="fa fa-circle" style="color:black" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   100.00%'

				when isnull(a.Pencapaian, 0.00) < 85 then
					'<span class="fa fa-circle" style="color:red" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0.00) < 100 then
					'<span class="fa fa-circle" style="color:yellow" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0.00) < 110 then
					'<span class="fa fa-circle" style="color:green" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				else
					'<span class="fa fa-circle" style="color:blue" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
			end as RealisasiPencapaian,

			a.Pencapaian as Pencapaian,
			a.IsTransformasi as IsTransformasi
		
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1 
			and a.DepartmentCode = @ID 
			and a.DateDownload = @Date 
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 3, 8, 9, 13);

	end
	
	else if(@Filter = 'All') begin
	
		select
			case
				when a.IsTransformasi = 0 then 'Non Transformasi'
				else 'Transformasi'
			end as Tipe,
			count(*) as Total
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1 
			and a.DateDownload = @Date 
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 3, 8, 9, 13)
		group by a.IsTransformasi
		order by a.IsTransformasi desc;
		
		select a.IDStrategicObjective,
			a.StrategicObjectiveName,
			a.IDProgram,
			a.ProgramName,
			a.IDProjectHeader,
			a.ProjectName,
			a.ProjectNo,
		
			a.StartDay + ' - ' + a.StartMonth + ' - ' + a.StartYear as StartDate,
			a.EndDay + ' - ' + a.EndMonth + ' - ' + a.EndYear as EndDate,
		
			case
				when (
					@Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
				) then '<span class="fa fa-circle" style="color:grey" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   0.00%'
				
				when (
					a.IDProjectStatus = 4
					or a.IDProjectStatus = 12
				) then '<span class="fa fa-circle" style="color:black" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   100.00%'

				when isnull(a.Pencapaian, 0.00) < 85 then
					'<span class="fa fa-circle" style="color:red" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0.00) < 100 then
					'<span class="fa fa-circle" style="color:yellow" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0.00) < 110 then
					'<span class="fa fa-circle" style="color:green" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				else
					'<span class="fa fa-circle" style="color:blue" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
			end as RealisasiPencapaian,

			a.Pencapaian as Pencapaian,
			a.IsTransformasi as IsTransformasi
		
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1 
			and a.DateDownload = @Date 
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 3, 8, 9, 13);

	end;

END





GO
