USE [PROMISE]
GO
/****** Object:  View [dbo].[vw_rekap_kendala]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_rekap_kendala] AS

WITH Vals AS (
        SELECT  a.Description , a.IDConstraintType , a.IDProjectHeader,	CONVERT(DATE,DATEADD(DAY, (7-DATEPART(dw, a.CreatedDate))%7, a.CreatedDate)) as SaturdayDate	, 
		remarks, Problem , mitigasi,
        ROW_NUMBER() OVER(PARTITION BY Description , IDProjectHeader ORDER BY CONVERT(DATE,DATEADD(DAY, (7-DATEPART(dw, a.CreatedDate))%7, a.CreatedDate)) DESC) RowID , IsActive , status
        FROM
		TblT_ProjectConstraint a
) , Vals1 AS (
        SELECT  a.Description , a.IDConstraintType , a.IDProjectHeader,	CONVERT(DATE,DATEADD(DAY, (7-DATEPART(dw, a.CreatedDate))%7, a.CreatedDate)) as SaturdayDate	, 
		remarks, Problem , mitigasi,
        ROW_NUMBER() OVER(PARTITION BY Description , IDProjectHeader ORDER BY CONVERT(DATE,DATEADD(DAY, (7-DATEPART(dw, a.CreatedDate))%7, a.CreatedDate))) RowID , IsActive , status
        FROM
		TblT_ProjectConstraint a
)


SELECT DISTINCT a.* , zz.SaturdayDate as StartFrom,
(
	SELECT WeekOfMonth FROM 
	TblM_Date WHERE
	Date = a.SaturdayDate
) as Week ,
(
	SELECT Year FROM 
	TblM_Date WHERE
	Date = a.SaturdayDate
)  as Year ,
(
	SELECT Month FROM 
	TblM_Date WHERE
	Date = a.SaturdayDate
) Month 
FROm    Vals a INNER JOIN 
(
SELECT  * 
FROm    Vals1
WHERE 
Status = 'Ongoing'
AND RowID = 1
)zz
ON
a.IDProjectHeader = zz.IDProjectHeader
WHERE 
a.Status = 'Ongoing'
and
a.IsActive = 1










GO
