USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectResources_ByProjectHeaderID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Usp_Get_ProjectResources_ByProjectHeaderID 1
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_ProjectResources_ByProjectHeaderID]
	@ProjectHeaderID int
AS
BEGIN
	--SELECT DISTINCT
	--	UG.Usergroup_Pernr as 'key' , 
	--	EMP.Nama as label
	--FROM
	--	TblT_ProjectRoleGroup PRG
	--INNER JOIN
	--	TblDW_Usergroup UG
	--ON
	--	PRG.Username = UG.User_LoginName
	--INNER JOIN	
	--	TblDW_Employee EMP
	--ON
	--	UG.Usergroup_Pernr = EMP.PersonalNumber
	--INNER JOIN 

	--where
	--PRG.IDProjectHeader = @ProjectHeaderID
	--and
	--PRG.IsActive = '1'	
	SELECT
		MPR.ResourceID as 'key',
		MPR.ResourceName as label
	FROM
		TblT_MPPProjectResources MPR
	WHERE
	MPR.ProjectHeaderID = @ProjectHeaderID
	and
	MPR.IsActive = '1'	
	and 
	MPR.ResourceName IS NOT NULL

END




GO
