USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardSOChart]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sena Putra
-- Create date: January 20, 2018
-- Description:	EXEC [dbo].[Get_DashboardSOChart]
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardSOChart]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--CREATE TABLE #TotalSO (
	--TotalSO int
	--)
	--INSERT INTO #TotalSO
	--SELECT COUNT(IDStrategicObjective) FROM TblM_StrategicObjective

	--CREATE TABLE #TotalSOUsed (
	--TotalSOUsed int
	--)
	--INSERT INTO #TotalSOUsed
	--SELECT	COUNT(R.StrategicObjectiveCode)
	--FROM (
	--	SELECT DISTINCT C.StrategicObjectiveCode FROM TblT_ProjectHeader A
	--	INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	--	INNER JOIN TblM_StrategicObjective C ON B.IDStrategicObjective = C.IDStrategicObjective
	--) R

	--CREATE TABLE #SOTransformation (
	--TotalTransformation int
	--)
	--INSERT INTO #SOTransformation
	--SELECT SUM(CountProj)
	--FROM (
	--	SELECT COUNT(B.ProjectNo) As CountProj FROM TblT_ProjectHeader A
	--	INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	--	INNER JOIN TblM_StrategicObjective C ON B.IDStrategicObjective = C.IDStrategicObjective
	--	WHERE B.IsTransformasi = 1
	--	GROUP BY B.ProjectNo
	--) R

	--CREATE TABLE #SONonTransformation (
	--TotalNonTransformation int
	--)
	--INSERT INTO #SONonTransformation
	--SELECT COUNT(ProjectNo)
	--FROM (
	--	SELECT ISNULL(B.ProjectNo, 0) As ProjectNo FROM TblT_ProjectHeader A
	--	INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	--	INNER JOIN TblM_StrategicObjective C ON B.IDStrategicObjective = C.IDStrategicObjective
	--	WHERE B.IsTransformasi = 0
	--) R

	----SELECT TotalTransformation, TotalNonTransformation, TotalSO - TotalSOUsed As Unused FROM #SOTransformation, #SONonTransformation, #TotalSO, #TotalSOUsed

	--CREATE TABLE #FINAL (
	--Type nvarchar(25),
	--Value int,
	--Color nvarchar(25)
	--)
	--INSERT INTO #FINAL
	--SELECT 'Transformation', TotalTransformation, '#da8824' FROM #SOTransformation

	--INSERT INTO #FINAL
	--SELECT 'Non Transformation', TotalNonTransformation, '#efd31c' FROM #SONonTransformation

	--INSERT INTO #FINAL
	--SELECT 'Unused', TotalSO - TotalSOUsed, 'dcddde' FROM #TotalSO, #TotalSOUsed

	--SELECT * FROM #FINAL
	
	--DROP TABLE #TotalSO
	--DROP TABLE #TotalSOUsed
	--DROP TABLE #SOTransformation
	--DROP TABLE #SONonTransformation

	SELECT DISTINCT(R.StrategicObjectiveCode), SUM(R.Counts) As TotalUsedSO
	FROM (
		SELECT B.StrategicObjectiveCode, count(A.IDProject) As Counts FROM TblM_Project A 
		INNER JOIN TblM_StrategicObjective B ON A.IDStrategicObjective = B.IDStrategicObjective
		GROUP BY B.StrategicObjectiveCode, A.IDProject
	) R
	GROUP BY R.StrategicObjectiveCode, R.Counts

END





GO
