USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Approve_ProjectEksekusiPerPeriode_20200806]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Usp_Approve_ProjectEksekusiPerPeriode_20200806]
	 @IDProjectHeader int = null,
	 @Persnum varchar(50) = null,
	 @Periode varchar(50) = null
as
begin
	
	begin try

		begin transaction;
		
		declare @roleuser int;
		declare @NextSequence int = null;
		declare @roleuserlogin int;
		declare @roleapp int;
	  
		declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @Persnum);
			
		declare @SelectPersn varchar(50), @SelectUsername varchar(50);

		select @SelectPersn = b.Usergroup_Pernr, @SelectUsername = b.User_LoginName
		from [TblT_ProjectExecutionApprovalRole] a
			left join TblDW_Usergroup b on a.Username = b.User_LoginName
		where(IsApprove is null or IsApprove = 0)
			and IsEnabled = 1
			and IsActive = 1
			and a.IDProjectHeader = @IDProjectHeader
			and a.Periode = @Periode 
			and IDRoleGroup = (
				select top 1 z.IDRoleGroup
				from [TblT_ProjectExecutionApprovalRole] z
				where z.IDProjectHeader = @IDProjectHeader 
					and z.Periode = @Periode
					and(z.IsApprove is null or z.IsApprove = 0 )
					and z.IsEnabled = 1
					and z.IsActive = 1
				order by IDRoleGroup asc
			)
		order by a.IDRoleGroup asc;
		
		if (@Username = null) begin set @Username = '-'; end;
		
		select top 1 @roleuserlogin = IDRoleGroup
		from TblT_ProjectExecutionApprovalRole
		where IDProjectHeader = @IDProjectHeader
			and IsActive = 1
			and ( IsApprove is null or IsApprove = '0')
			and Periode = @Periode 
			and IsEnabled = 1
			and Username = @Username
		order by IDRoleGroup asc;
		
		select top 1 @roleapp = a.IDRoleGroup from TblT_UserAuthorized a;
		
		select top 1 @roleuser = IDRoleGroup
		from TblT_ProjectExecutionApprovalRole
		where IDProjectHeader = @IDProjectHeader
			and IsActive = 1
			and ( IsApprove is null or IsApprove = '0')
			and Periode = @Periode 
			and IsEnabled = 1
		order by IDRoleGroup asc;
		
		if @roleapp = 1 or	@roleuser = @roleuserlogin begin
			
			update TblT_ProjectExecutionApprovalRole
			set IsApprove = 1
				,UpdatedBy = @Username
				,UpdatedDate = getdate()
			where --Sequence = @NextSequence
				IDProjectHeader = @IDProjectHeader
				and IsActive = 1
				and Periode = @Periode
				and IDRoleGroup = @roleuser;
			
			if not exists (
				select a.Sequence
				from TblT_ProjectExecutionApprovalRole a
					left join TblT_ProjectHeader b on a.IDProjectHeader = b.IDProjectHeader
				where a.IsActive = 1
					and b.IsActive = 1
					and b.IDProjectHeader = @IDProjectHeader
					and a.IsEnabled = 1
					and (a.IsApprove is null or a.IsApprove = '0')
					and a.Periode = @Periode
			) begin

				/*
				======================
				== DECLARE VARIABLE ==
				======================
				*/
				declare @year int , @month int, @week int;
				declare @SplitString table (rownumber int , val varchar(max));

				/*
				============================================
				== GET YEAR, MONTH AND WEEK from @Periode ==
				============================================
				*/
				insert into @SplitString
					select  row_number() over(order by (select null)), *
					from dbo.Ufn_SplitString(@Periode,'-');
				
				select @year = val from @SplitString where rownumber = 1;
				select @month = val from @SplitString where rownumber = 2;
				select @week = val from @SplitString where rownumber = 3;
				
				update TblT_MPPProjectRealDetail
					set TblT_MPPProjectRealDetail.IsApprove = '1'
					from TblT_MPPProjectRealDetail as MRD
						inner join TblT_MPPProjectPlanDetail as MPD on MRD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
					where MPD.ProjectHeaderID = @IDProjectHeader
						and MPD.IsActive = '1'
						and [Year]  = @year
						and [Month] = @month
						and [Week] = @week
						and MRD.IsSubmit = '1';
				
				/*
				====================================================================
				== Insert into TblT_MPPRealPercentage After All Approver Aprroved ==
				====================================================================
				*/
				declare @tempTable table (
							IDProjectHeader int,
							TaskID bigint,
							Week int,
							Month int,
							Year int,
							CompletePercentage float,
							CreatedDate datetime,
							CreatedBy varchar(max),
							IsActive bit
						);
				
				insert into @tempTable (
							[IDProjectHeader],
							[TaskID],
							[Week],
							[Month],
							[Year],
							[CompletePercentage],
							[CreatedDate],
							[CreatedBy],
							[IsActive]
						)
					select 
						@IDProjectHeader,
						MRD.TaskID,
						@week,
						@month,
						@year,
						MRD.PercentageComplete,
						getdate(),
						@Username,
						'1'
					from TblT_MPPProjectPlanDetail MPD
						inner join TblT_MPPProjectRealDetail MRD on MPD.IDMPPProjectPlanDetail = MRD.IDMPPProjectPlanDetail
					where MPD.ProjectHeaderID = @IDProjectHeader
						and MPD.IsActive = '1'
						and MRD.Year  = @year
						and MRD.Month = @month
						and MRD.Week= @week
						and MRD.IsSubmit = '1'
						and MRD.IsApprove = '1';
					
				merge into TblT_MPPProjectRealPercentage as target
					using @tempTable as source on
						target.[Week] = source.[Week]	
						and target.[Month] = source.[Month]	
						and target.[Year] = source.[Year]	
						and target.[TaskID] = source.[TaskID]
						and target.[IDProjectHeader] = source.[IDProjectHeader]
					when matched then
						update set target.[CompletePercentage] = source.[CompletePercentage],
							target.[UpdatedBy] = @Username ,
							target.[UpdatedDate] = getdate()
					when not matched by target then
						insert (
								[IDProjectHeader],
								[TaskID],
								[Week],
								[Month],
								[Year],
								[CompletePercentage],
								[CreatedDate],
								[CreatedBy],
								[IsActive]
							)
						values (
								source.[IDProjectHeader],
								source.[TaskID],
								source.[Week],
								source.[Month],
								source.[Year],
								source.[CompletePercentage],
								source.[CreatedDate],
								source.[CreatedBy],
								source.[IsActive]
							);
					
				declare @TotalMilestone int , @TotalFinish int;
				
				select @TotalMilestone = (select count(TaskID) from Ufn_CheckProjectIsFinish(@IDProjectHeader));
				select @TotalFinish = (select count(TaskID) from Ufn_CheckProjectIsFinish(@IDProjectHeader) where statuss = 'FINISH');
				
				if @TotalMilestone = @TotalFinish begin
					update TblT_ProjectHeader
						set IDProjectStatus = 4,
							UpdatedBy = @Username,
							UpdatedDate = getdate()
						where IDProjectHeader = @IDProjectHeader
				end;
				
				Update TblT_ProjectExecutionStatus
				set ProjectStatus = 'Approved',
					UpdateBy = @Username,
					UpdateDate = getdate()
				where IsActive = 1
					and IDProjectHeaderID = @IDProjectHeader
					and Periode = @Periode;

			end;
			
			if(@SelectPersn != @Persnum)begin
						
				insert into TblH_ProjectExecutionApprovalHistory(
					IDProjectHeader,
					Periode,
					Type,
					Remarks,
					CreatedDate,
					CreatedBy
				)values(
					@IDProjectHeader,
					@Periode,
					'Approved',
					'PJS (a/n ' + @SelectUsername + ')',
					getdate(),
					@Username
				);
				
			end
			else begin
					
				insert into TblH_ProjectExecutionApprovalHistory(
					IDProjectHeader,
					Periode,
					Type,
					Remarks,
					CreatedDate,
					CreatedBy
				)values(
					@IDProjectHeader,
					@Periode,
					'Approved',
					'-',
					getdate(),
					@Username
				);
				
			end;
					
			exec Usp_insert_Project_ExecutionList @IDProjectHeader, @Username;

		end;
		
		select 'S|Berhasil';

		commit;

	end try

	begin catch
		
		rollback;
		
		declare @ErrMsg varchar(max), @ErrNum int, @ErrLine int;
		select @ErrMsg = error_message(), @ErrNum = error_number(), @ErrLine = error_Line();

		exec Usp_insert_ErrorLog 'Usp_Approve_TransaksiProjectHeader', @ErrNum, @ErrMsg, @Username;

		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg + ' ' + convert(varchar,@ErrLine);

	end catch;

end;
GO
