USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectInitApprovalRole]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectInitApprovalRole](
	[IDProjectInitApprovalRole] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NULL,
	[IDRoleGroup] [int] NULL,
	[Sequence] [int] NULL,
	[Username] [varchar](30) NULL,
	[Email] [varchar](50) NULL,
	[PositionCode] [varchar](20) NULL,
	[ActiveDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsEnabled] [int] NULL,
	[IsApprove] [bit] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblT_ProjectInitApproval] PRIMARY KEY CLUSTERED 
(
	[IDProjectInitApprovalRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblT_ProjectInitApprovalRole] ADD  CONSTRAINT [DF_TblT_ProjectInitApprovalRole_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[TblT_ProjectInitApprovalRole]  WITH CHECK ADD  CONSTRAINT [FK_TblT_ProjectInitApprovalRole_TblT_ProjectHeader] FOREIGN KEY([IDProjectHeader])
REFERENCES [dbo].[TblT_ProjectHeader] ([IDProjectHeader])
GO
ALTER TABLE [dbo].[TblT_ProjectInitApprovalRole] CHECK CONSTRAINT [FK_TblT_ProjectInitApprovalRole_TblT_ProjectHeader]
GO
