USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[mobile_listproject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mobile_listproject] -- exec mobile_listproject
@date nvarchar(200)
as
select DirektoratName as Dir,DepartmentName as Grup,isnull(NamaProjectManager,'') as PM,StartYear as start,ProjectNo as projectNo,
ProjectName as NamaProyek,format(DateDownload,'dd-MMM-yy') as ProgressDate, PlanPencapaian as target,RealisasiPencapaian as realisasi,
Pencapaian as pencapaian from TblD_ListProject where DateDownload = @date and IsActive = 1





GO
