USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblSAP_Account]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSAP_Account](
	[IDSAPAccount] [int] IDENTITY(1,1) NOT NULL,
	[DateDownload] [date] NULL,
	[ID] [varchar](20) NULL,
	[ACCTYPE] [varchar](20) NULL,
	[ASSUM_TYPE] [varchar](20) NULL,
	[DIMLIST_CF] [varchar](20) NULL,
	[EVDESCRIPTION] [varchar](200) NULL,
	[FS] [varchar](20) NULL,
	[PLANNING] [varchar](20) NULL,
	[RATETYPE] [varchar](20) NULL,
	[REF_ACCOUNT] [varchar](20) NULL,
	[SCALING] [varchar](20) NULL,
	[PARENTH1] [varchar](50) NULL,
	[PARENTH2] [varchar](50) NULL,
	[PARENTH3] [varchar](50) NULL,
	[PARENTH4] [varchar](50) NULL,
	[PARENTH5] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](30) NULL,
 CONSTRAINT [PK_TblSAP_Account] PRIMARY KEY CLUSTERED 
(
	[IDSAPAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
