USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Reminder_Getby_id]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<Author,,Septian c>
-- Create date: <11 Juli 2023>
-- Description:	<Laporan Mingguan untuk grafik poin 1c>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Reminder_Getby_id]
--exec Usp_SLA_Getby_id 1
@Id INT
AS
BEGIN
	select
	Id
      ,TipeTransaksi
      ,NamaReminder
      ,IdProyek
	  ,Penerima
	  ,JangkaWaktu
      ,Interval
      ,TipeHari
      ,Bulan
      ,Tanggal
      ,Hari
      ,JamKirim
      ,SubjectEmail
      ,CcEmail
      ,BodyEmail
      ,StatusReminder
      ,CreateBy
      ,CreateDate
      ,UpdateBy
      ,UpdateDate
	from TblM_Reminder
	where id=@id

	select 0 Value, 'ALL' Text union all
	select IDProject Value,ProjectName Text from TblM_Project where IsActive=1 and [Year]=Year(CURRENT_TIMESTAMP)
	
	select IDRoleGroup Value, Description Text from TblM_RoleGroup where IsActive=1

END




GO
