USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetRealitationBeforeByProjectHeaderID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Ufn_GetRealitationBeforeByProjectHeaderID] (
 @year INT ,
 @month INT ,
 @week INT ,
 @ProjectHeaderID BIGINT
)
RETURNS FLOAT
AS 
	BEGIN
	DECLARE @value FLOAT
    SET @value = (
	    SELECT TOP 1 
		CASE WHEN CompletePercentage > 99 AND CompletePercentage < 100 THEN 99 ELSE CompletePercentage END 
		from TblT_MPPProjectRealPercentage a JOIN TblT_MPPProjectPlanDetail b ON a.IDProjectHeader = b.ProjectHeaderID and a.TaskID = b.TaskID 
		where IDProjectHeader = @ProjectHeaderID and b.IsActive = 1 and ParentID = 0 AND 
		CAST(year AS VARCHAR(4))+RIGHT('0'+CAST(month AS VARCHAR(2)),2)+RIGHT('0'+CAST(Week AS VARCHAR(2)),2) <= 
		CAST(@year AS VARCHAR(4))+RIGHT('0'+CAST(@month AS VARCHAR(2)),2)+RIGHT('0'+CAST(@week AS VARCHAR(2)),2)
		ORDER by year DESC,month DESC, Week DESC, A.TaskID ASC)
	RETURN ROUND(ISNULL(@value,0),0)
    END
GO
