USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ReportGptf]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_ReportGptf] 
	-- Add the parameters for the stored procedure here
	@Year varchar(5) = null,
	@Month int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
declare @Date date = null;
declare @Week int = null; 
declare @LastDay varchar(10) = null;
declare @SumOfFirstWeek int = null;

declare @TableHeader table(ProjectHeaderId int,TaskId int)
declare @Table_ProjectStatus table (IDProjectHeader int,IDProjectStatus int)

set @LastDay = (select top 1 WeekDayName from TblM_Date where Year = @Year  and Month =  @Month order by Date desc);
set @SumOfFirstWeek = (select Sum(WeekOfMonth) from TblM_Date where Year = @Year  and Month =  (@Month + 1) and WeekDayName = 'Saturday' and WeekOfMonth = 1 Group By WeekOfMonth);
if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month != 12) begin
	if(@SumOfFirstWeek = 1) begin
		set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = (@Month + 1) and WeekDayName = 'Saturday' order by Date asc)
		set @Year = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = (@Month + 1) and WeekDayName = 'Saturday' order by Date asc);	
		end;
	else begin
		set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
		set @Year = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
		end;
	end;
else if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month = 12) begin
	set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
	set @Year = year(@Date);
	set @Month = month(@Date);
	set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
	end;
else begin 
	set @Date = (select top 1 Date from TblM_Date where Year = @Year  and Month =  @Month and WeekDayName = 'Saturday' order by Date desc)
	set @Year = year(@Date);
	set @Month = month(@Date);
	set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);	
	end;

insert into @Table_ProjectStatus
select TOP 1 with ties IDProjectHeader,IDProjectStatus
from TblD_ListProject where DateDownload <= @Date and IsActive = 1 and IsTransformasi = 1
order by row_number() over (partition by IDProjectHeader order by DateDownload desc);

insert into @TableHeader
select distinct
tmpd.ProjectHeaderId,tmpd.TaskId
from TblT_MPPProjectPlanDetail tmpd
LEFT join
(
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week
	from TblT_MPPProjectPlanPercentage
	where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1
	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
JOIN TblM_Project tp on tp.IDProject = tph.IDProject
JOIN @Table_ProjectStatus tps on tps.IDProjectHeader = tmpd.ProjectHeaderId
where 
tmpd.IsActive = 1
and tp.IsTransformasi = 1
and tmpd.ParentId != 0
and tmpd.OutlineLEvel = 2
and tp.IsActive=1
and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
and tps.IDProjectStatus in (1,2,4,12,7,10, 11,12);
--------------------------------------------------------------------------------------------------------------------------

select bb.* from
(
select top 1 with ties
tmpd.ProjectHeaderId,
tmpd.TaskID,
tp.ProjectNo,
tp.ProjectName,
isnull([dbo].[Ufn_GetTriwulan](Month(tmpd.StartDate)) + ' ' + Cast(Year(tmpd.StartDate) as varchar(4)) + ' - ' + [dbo].[Ufn_GetTriwulan](Month(tmpd.EndDate)) + ' ' + Cast(Year(tmpd.EndDate) as varchar(4)), '-') as Waktu,
tpr.Approach,
case
	when y.CompletePercentage is not null then
	Round(
			(
				select TOP 1 PlanPercentage
				from TblT_MPPProjectPlanPercentage tmpp2 
				where 
				tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
				and tmpp2.TaskId = tmpd.TaskId
				and cast(cast(tmpp2.Year as varchar(4)) + '-' + cast(tmpp2.Month as varchar(2)) + '-' + cast(tmpp2.Week as varchar(1)) as date) = cast(cast(y.Year as varchar(4)) + '-' + cast(y.Month as varchar(2)) + '-' + cast(y.Week as varchar(1)) as date)
				and tmpp2.isActive = 1 
			),0)
	else round(ISNULL(tmpp.PlanPercentage,0),0)
end as PlanPercentage,
--round(ISNULL(tmpp.PlanPercentage,0),0) as PlanPercentage,
round(isnull(x.CompletePercentage, 0),0) as CompletePercentage,
round(
		Case 
			when ISNULL(tmpp.PlanPercentage,0) = 0 then 0
			when
			y.CompletePercentage is not null then
			Round(10000/
			(
				select TOP 1 PlanPercentage
				from TblT_MPPProjectPlanPercentage tmpp2 
				where 
				tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
				and tmpp2.TaskId = tmpd.TaskId
				and cast(cast(tmpp2.Year as varchar(4)) + '-' + cast(tmpp2.Month as varchar(2)) + '-' + cast(tmpp2.Week as varchar(1)) as date) = cast(cast(y.Year as varchar(4)) + '-' + cast(y.Month as varchar(2)) + '-' + cast(y.Week as varchar(1)) as date)
				and tmpp2.isActive = 1 
			),0)
			else (
					ISNULL(x.CompletePercentage,0)/ISNULL(tmpp.PlanPercentage,0)) * 100
		end
,0) as Capaian,
case
	when 
		round(
		Case 
			when ISNULL(tmpp.PlanPercentage,0) = 0 then 0
			else (
					ISNULL(x.CompletePercentage,0)/ISNULL(tmpp.PlanPercentage,0)
					) * 100
		end
,0) > = 110 then
		'<span class="fa fa-circle" style="color:blue">'
	when 
	round(
		Case 
			when ISNULL(tmpp.PlanPercentage,0) = 0 then 0
			else (
					ISNULL(x.CompletePercentage,0)/ISNULL(tmpp.PlanPercentage,0)
					) * 100
		end
,0) > = 100 then
		'<span class="fa fa-circle" style="color:green">'
	when 
		round(
		Case 
			when ISNULL(tmpp.PlanPercentage,0) = 0 then 0
			else (
				ISNULL(x.CompletePercentage,0)/ISNULL(tmpp.PlanPercentage,0)) * 100
		end
,0) > = 85 then
		'<span class="fa fa-circle" style="color:yellow">'	
	else
		'<span class="fa fa-circle" style="color:red">'
end as Status,
Tbl_Kendala.Kendala,
tp.IDProject,
tp.Parent,
tps.IDProjectStatus,
tph.IDProjectStatus as IDProjectStatusLast 
from TblT_MPPProjectPlanDetail tmpd
left join TblT_MPPProjectPlanPercentage tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID and tmpp.IsActive =1
JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
JOIN TblM_Project tp on tp.IDProject = tph.IDProject
JOIN TblT_ProjectRisk tpr on tpr.IDProjectHeader = tmpd.ProjectHeaderID
JOIN @Table_ProjectStatus tps on tps.IDProjectHeader = tmpd.ProjectHeaderId
LEFT JOIN (
select TOP 1 with ties IDProjectHeader,TaskID,CompletePercentage
	from TblT_MPPProjectRealPercentage
	where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1
	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
LEFT JOIN (
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
	from TblT_MPPProjectRealPercentage
	where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1 and CompletePercentage >= 100
	order by row_number() over (partition by IDProjectHeader,TaskID order by Year asc,Month asc,Week asc)
) y on tmpd.ProjectHeaderID = y.IDProjectHeader and tmpd.TaskID = y.TaskID
LEFT JOIN 
(
	select distinct t1.IDProjectHeader,
	STUFF((SELECT distinct '\n' + '-' + t2.Description
         from TblT_ProjectConstraint t2
         where t1.IDProjectHeader = t2.IDProjectHeader and t2.IsActive = 1 and t2.Status = 'Ongoing' and t2.Description != '-'
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,2,'') Kendala
	from TblT_ProjectConstraint t1
	where t1.IsActive = 1 and t1.Status = 'Ongoing' and t1.Description != '-'
) as Tbl_Kendala on Tbl_kendala.IDProjectHeader = tmpd.ProjectHeaderID 
where 
tmpd.IsActive = 1
and tp.IsTransformasi = 1
and tmpd.ParentId = 0
and tp.IsActive=1
and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
and cast(cast(tmpp.Year as varchar(4)) + '-' + cast(tmpp.Month as varchar(2)) + '-' + cast(tmpp.Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
and tps.IDProjectStatus in (1,2,4,12,7,10, 11,12)
order by row_number() over (Partition by tmpd.ProjectHeaderId order by tmpp.PlanPercentage desc)
) bb
where 1 = (
	case
		when bb.Parent is null then 
			case
				when (select Top 1 Parent from Tblm_Project where Parent = bb.IDProject and IsActive = 1) is not null then
					case
						when (select TOP 1 IDProjectStatus from Tbld_ListProject where IDProjectHeader = bb.ProjectHeaderId and IsActive = 1 and DateDownload <= @Date order by DateDownload desc) = 13 then 0
						when (select TOP 1 IDProjectStatus from Tbld_ListProject where IDProjectHeader = bb.ProjectHeaderId and IsActive = 1 and DateDownload <= @Date order by DateDownload desc) = 7
							and (select TOP 1 IDProjectStatus from Tbld_ListProject where IDProjectHeader = bb.ProjectHeaderId and IsActive = 1 order by DateDownload desc) = 13 then 0
						else 1
					end
				else 1
			end
		else
			case
				when (
						select TOP 1 tlp.IDProjectStatus from Tblm_Project tpp
						JOIN Tblt_ProjectHeader tphh on tpp.Parent = tphh.IDProject
						JOIN Tbld_ListProject tlp on tlp.IDProjectHeader = tphh.IDProjectHeader
						where tpp.IsActive = 1 and tphh.IsActive = 1 and tpp.IDProject = bb.IDProject
						and tlp.IsActive = 1 and DateDownload <= @Date order by DateDownload desc
				) = 13 then 1
				when (
						select TOP 1 tlp.IDProjectStatus from Tblm_Project tpp
						JOIN Tblt_ProjectHeader tphh on tpp.Parent = tphh.IDProject
						JOIN Tbld_ListProject tlp on tlp.IDProjectHeader = tphh.IDProjectHeader
						where tpp.IsActive = 1 and tphh.IsActive = 1 and tpp.IDProject = bb.IDProject
						and tlp.IsActive = 1 and DateDownload <= @Date order by DateDownload desc
				) = 7 and
				 (
						select TOP 1 tlp.IDProjectStatus from Tblm_Project tpp
						JOIN Tblt_ProjectHeader tphh on tpp.Parent = tphh.IDProject
						JOIN Tbld_ListProject tlp on tlp.IDProjectHeader = tphh.IDProjectHeader
						where tpp.IsActive = 1 and tphh.IsActive = 1 and tpp.IDProject = bb.IDProject
						and tlp.IsActive = 1  order by DateDownload desc
				) = 13 then 1
				else 0
			end
	end
)

--------------------------------------------------------------------------------------------------------------------------
select distinct
tmpd.ProjectHeaderId,
tmpd.ParentId,
tmpd.TaskName,
tmpd.TaskID,
tmpd.OutlineNumber,
tmpd.StartDate,
tmpd.EndDate
from TblT_MPPProjectPlanDetail tmpd
join
(
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week
	from TblT_MPPProjectPlanPercentage
	where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
JOIN TblM_Project tp on tp.IDProject = tph.IDProject
JOIN TblT_ProjectRisk tpr on tpr.IDProjectHeader = tmpd.ProjectHeaderID
JOIN @Table_ProjectStatus tps on tps.IDProjectHeader = tmpd.ProjectHeaderId
JOIN @TableHeader t on t.ProjectHeaderId = tmpd.ProjectHeaderId
where 
tmpd.IsActive = 1
and tp.IsTransformasi = 1
and tmpd.ParentId != 0
and tmpd.OutlineLEvel = 2
and tp.IsActive=1
and tph.IsActive=1
and tmpd.StartDate <= @Date
and tps.IDProjectStatus in (1,2,4,12,7,10, 11,12)
order by tmpd.ProjectHeaderID,tmpd.OutlineNumber;
------------------------------------------------------------------------------------------------------------------------

select distinct
tmpd.ProjectHeaderId,
tmpd.ParentId,
tmpd.TaskID,
tmpd.TaskName,
tmpd.Notes,
case
	when cast(@Year + '-' + right('00' + @Month, 2) + '-' + cast(@week as varchar(2)) as date)
					>= cast(
						cast(
								(
									select Year
									from TblM_Date
									where DATE = convert(DATE, dateadd(day, (7-datepart(dw, tmpd.StartDate))%7, tmpd.StartDate))
								) as varchar(4)
							)
						+ '-' + right(
								'00' + cast(
									(
										select Month
										from TblM_Date
										where DATE = convert(DATE, dateadd(DAY, (7-datepart(dw, tmpd.StartDate))%7, tmpd.StartDate))
									) as varchar(2)
								), 2
							)
						+ '-' + cast(
								(
									select WeekOfMonth
									from TblM_Date
									where DATE = convert(DATE, dateadd(day, (7-datepart(dw, tmpd.StartDate))%7, tmpd.StartDate))
								) as varchar(1)
							)
						as date
					)
			then 100
			else
				round(ISNULL(tmpp.PlanPercentage,0),0)
end  as PlanPercentage,
round(isnull(x.CompletePercentage, 0),0) as CompletePercentage,
tmpd.OutlineNumber
from TblT_MPPProjectPlanDetail tmpd
join
(
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
	from TblT_MPPProjectPlanPercentage
	where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1 
	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
JOIN (
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
	from TblT_MPPProjectRealPercentage
	where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1
	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
JOIN TblM_Project tp on tp.IDProject = tph.IDProject
JOIN TblT_ProjectRisk tpr on tpr.IDProjectHeader = tmpd.ProjectHeaderID
JOIN @Table_ProjectStatus tps on tps.IDProjectHeader = tmpd.ProjectHeaderId
JOIN @TableHeader t on t.ProjectHeaderId = tmpd.ProjectHeaderId and tmpd.ParentId = t.TaskId
where 
tmpd.IsActive = 1
and tp.IsTransformasi = 1
and tp.IsActive=1
and tmpd.ParentId != 0
and tmpd.OutlineLEvel = 3
and tmpd.IsMileStone = 1
and tps.IDProjectStatus in (1,2,4,12,7,10, 11,12)
and tmpd.StartDate <= @Date
order by tmpd.ProjectHeaderID,tmpd.OutlineNumber;
-----------------------------------------------------------------------------------------------------------------------
select distinct
tmpd.ProjectHeaderId,
tmpd.ParentId,
tmpd.TaskID,
tmpd.TaskName,
tmpd.Notes,
round(ISNULL(tmpp.PlanPercentage,0),0) as PlanPercentage,
round(isnull(x.CompletePercentage, 0),0) as CompletePercentage,
tmpd.OutlineNumber
from TblT_MPPProjectPlanDetail tmpd
join
(
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
	from TblT_MPPProjectPlanPercentage
	where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1 
	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
JOIN (
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
	from TblT_MPPProjectRealPercentage
	where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1
	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
JOIN TblM_Project tp on tp.IDProject = tph.IDProject
JOIN TblT_ProjectRisk tpr on tpr.IDProjectHeader = tmpd.ProjectHeaderID
JOIN @Table_ProjectStatus tps on tps.IDProjectHeader = tmpd.ProjectHeaderId
JOIN @TableHeader t on t.ProjectHeaderId = tmpd.ProjectHeaderId and tmpd.ParentId = t.TaskId
where 
tmpd.IsActive = 1
and tp.IsTransformasi = 1
and tp.IsActive=1
and tmpd.ParentId != 0
and tmpd.OutlineLEvel = 3
and tmpd.IsMileStone = 0
and tps.IDProjectStatus in (1,2,4,12,7,10, 11,12)
and tmpd.StartDate <= @Date
order by tmpd.ProjectHeaderID,tmpd.OutlineNumber;
END



GO
