USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiList_BAK]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [Usp_Get_ProjectEksekusiList] '1'
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiList_BAK] @personnumber VARCHAR(20)
AS
BEGIN
	SELECT IDProjectHeader AS ProyekPK
		,ProjectName AS NamaProyek
		,CONVERT(DATE, (
				SELECT TOP 1 StartDate
				FROM TblT_MPPProjectPlanDetail
				WHERE ProjectHeaderID = Main.IDProjectHeader
					AND IsActive = '1'
					AND TaskID > 0
				)) AS TanggalMulaiProyek
		,CONVERT(DATE, (
				SELECT TOP 1 EndDate
				FROM TblT_MPPProjectPlanDetail
				WHERE ProjectHeaderID = Main.IDProjectHeader
					AND IsActive = '1'
					AND TaskID > 0
				)) AS TanggalTutupProyek
		,CASE 
			WHEN (
					SELECT COUNT(*)
					FROM TblT_MPPProjectRealDetail MPPRD
					INNER JOIN (
						SELECT TOP 1 *
						FROM TblT_MPPProjectPlanDetail
						WHERE ProjectHeaderID = Main.IDProjectHeader
							AND IsActive = '1'
							AND TaskID > 0
						) aa ON MPPRD.IDMPPProjectPlanDetail = aa.IDMPPProjectPlanDetail
					) > 0
				THEN ISNULL((
						SELECT TOP 1 CAST(MPPRD.CompletePercentage as NUMERIC(12,2))
						FROM
						TblT_MPPProjectRealPercentage MPPRD
						where
						IDProjectHeader = Main.IDProjectHeader
						and
						IsActive = 1
						and
						TaskID > 0
						order by MPPRD.TaskID asc , MPPRD.CreatedDate Desc
						-- TblT_MPPProjectRealDetail MPPRD
						--INNER JOIN (
						--	SELECT TOP 1 *
						--	FROM TblT_MPPProjectPlanDetail
						--	WHERE ProjectHeaderID = Main.IDProjectHeader
						--		AND IsActive = '1'
						--		AND TaskID > 0
						--	) aa ON MPPRD.IDMPPProjectPlanDetail = aa.IDMPPProjectPlanDetail
						),0)
			ELSE (
					SELECT TOP 1 PercentageComplete
					FROM TblT_MPPProjectPlanDetail
					WHERE ProjectHeaderID = Main.IDProjectHeader
						AND IsActive = '1'
						AND TaskID > 0
					)
			END AS PersentaseKomplit
		,(
			SELECT TOP 1 Duration
			FROM TblT_MPPProjectPlanDetail
			WHERE ProjectHeaderID = Main.IDProjectHeader
				AND IsActive = '1'
				AND TaskID > 0
			) AS Durasi
		,NULL AS TerakhirDirubahOleh
		,GETDATE() AS TerakhirDirubahPada
		,NULL AS STATUS
		,CASE 
			WHEN Transformasi = 1
				THEN 1
			ELSE 0
			END AS isTransformasi
	FROM (
		SELECT PH.IDProjectHeader AS IDProjectHeader
			,Proj.ProjectName AS ProjectName
			,Proj.IsTransformasi AS Transformasi
		FROM TblT_ProjectHeader PH
		--INNER JOIN TblT_ProjectInitApprovalRole PIAR ON PH.IDProjectHeader = PIAR.IDProjectHeader
		INNER JOIN TblM_Project Proj ON PH.IDProject = Proj.IDProject
		--WHERE PIAR.Sequence IN (
		--		SELECT Seq
		--		FROM (
		--			SELECT R.IDProjectHeader
		--				,MIN(R.Sequence) AS Seq
		--			FROM TblT_ProjectInitApprovalRole R
		--			WHERE R.IsApprove = 1
		--				AND R.IsActive = 1
		--			GROUP BY R.IDProjectHeader
		--			) zz
		--		)
			--AND PIAR.IsApprove = 1
			--AND PIAR.IsActive = 1
			WHERE PH.IsActive = 1
			AND (SELECT 1 FROM TblT_ProjectInitApprovalRole WHERE IDProjectHeader = PH.IDProjectHeader AND Sequence = 1 AND IsApprove = 1 AND IsActive = 1 AND IsEnabled = 1) = 1
		) Main
END




GO
