USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetKomitmenAnggaran]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetKomitmenAnggaran]
(
	-- Add the parameters for the function here
	@RENCANA_KERJA VARCHAR(20)
)
RETURNS DECIMAL(30,0)
AS
BEGIN

	declare @Result decimal(30,0);
	declare @DateDownload date;
	
	select Top 1 @DateDownload = DateDownload
	from TblSAP_Komitmen
	where RENCANA_KERJA = @RENCANA_KERJA
	order by DateDownload desc;

	set @Result = (
		select top 1 sum(cast(SIGNEDDATA as decimal(30,0))) 
		from TblSAP_Komitmen 
		where RENCANA_KERJA = @RENCANA_KERJA 
		group by DateDownload 
		order by DateDownload desc
	);

	return @Result;

END
GO
