USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Scheduller_GetEmailBulkApprovalPending]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Scheduller_GetEmailBulkApprovalPending] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @CTyear int, @CTmonth int, @CTweek int;
	declare @TcurrentDate date = cast(getdate() as date);
	declare @CTPeriode varchar(50);
	declare @CNTyear int, @CNTmonth int;
	declare @NTcurrentDate date = (select dateadd(month, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 0), cast(getdate() as date)));	
	set @TcurrentDate = (select dateadd(week, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 1), @TcurrentDate));
	select @CTyear = year(@TcurrentDate);
	select @CTmonth = month(@TcurrentDate);
	select @CTweek = (select top 1 WeekOfMonth from TblM_Date where Date = cast(@TcurrentDate as date));

	if(@CTweek = (select top 1 WeekOfMonth from TblM_Date where Year = @CTyear and Month = @CTmonth order by Date desc) 
		and (select top 1 WeekDayName from TblM_Date  where Year = @CTyear and Month = @CTmonth order by Date desc) != 'Saturday')begin
			set @CTweek = 1;
			set @CTmonth = @CTmonth + 1;
			if(@CTmonth = 13) begin set @CTyear = @CTyear + 1; set @CTmonth = 1 ; end
	end;
	set @CTPeriode = cast(@CTyear as varchar(5)) + '-' + cast(@CTmonth as varchar(3)) + '-' + cast(@CTweek as varchar(2));	

	select
		bb.Username
	from
	(	select top 1 with ties 
		t1.IDProjectHeader,IDRoleGroup,t1.email,t1.periode,t1.username,t1.sequence,cast(t1.periode as date) as periodeCast 
		from TblT_ProjectExecutionApprovalRole t1 
		JOIN TblT_ProjectExecutionStatus t2 on t1.IDProjectHeader = t2.IDProjectHeaderID and t1.Periode = t2.Periode
		join tbldw_usergroup UG on t1.username = UG.user_loginname 
		join tbldw_employee Em on UG.usergroup_pernr = Em.personalnumber 
		where t2.ProjectStatus = 'Submit' and t2.IsActive = 1 and t1.IsActive = 1 and (t1.IsApprove is null or t1.IsApprove = 0) and t1.IsEnabled = 1  
		Group by t1.IDProjectHeader,IDRoleGroup,t1.email,t1.periode,t1.sequence,t1.IDProjectExecutionApprovalRole,t1.username
		order by ROW_NUMBER() OVER(PARTITION BY t1.IDProjectHeader,t1.Periode ORDER BY t1.IDProjectHeader,IDRoleGroup,t1.sequence)
	)bb
	JOIN Tblt_ProjectHeader tph on bb.IDProjectHeader = tph.IDProjectHeader and tph.IsActive = 1
	Join Tblm_Project tp on tp.IDproject = tph.IDProject and tp.IsActive = 1 and tph.IsActive = 1
	left join TblM_ProjectStatus tps on tps.IDProjectStatus = tph.IDProjectStatus 
	Where (tps.IDProjectStatus not in(3,4, 12, 13)) and
	 1 = Case
			when tp.IsTransformasi = 0 and Year(bb.periodeCast) = Year(@NTcurrentDate) and Month(bb.periodeCast) = Month(@NTcurrentDate) then 1
			when tp.IsTransformasi = 1 and bb.periodeCast >= cast(@CTPeriode as Date) then 1
			else 0 
		end 
	Group by bb.Username
	order by bb.Username;
END




GO
