USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_LapM_RealisasiAnggaran]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Septian c>
-- Create date: <07 Juli 2023>
-- Description:	<Laporan Mingguan untuk poin 1a>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_LapM_RealisasiAnggaran]
--exec Usp_Get_LapM_RealisasiAnggaran '2021/06/04'
	@Date date
AS
BEGIN
	declare @Year as varchar(4);
	declare @Year2 as varchar(4);
	declare @Month as int;
	declare @Week as int;
	declare @IsTransformasi as int;
	declare @date2 as date;

	declare @Pencapaian as decimal(18,2);
	declare @Target as decimal(18,2);
	declare @Realisasi as decimal(18,2);
	declare @PencapaianLalu as decimal(18,2);

	set @Year = year(@Date);
	set @Month = month(@Date);
	set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = @Date);
	
	set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Wednesday');

	declare @DateDownload date = null;
	select top 1 @DateDownload = DateDownload from Tbld_ListProject where DateDownload <= @Date order by DateDownload desc

	
select 	sum(cast(Anggaran as float)) Anggaran,
				sum(cast(RealisasiAnggaran as float)) Realisasi,
				sum(cast(KomitAnggaran as float)) KomitAnggaran,
				sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) Jumlah,
				(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/sum(cast(Anggaran as float))) * 100 Persentase
			from TblD_ListProject obj
			where obj.IsActive = 1
				and obj.IsTransformasi = 1
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13);
END




GO
