USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiList_BAKK]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [Usp_Get_ProjectEksekusiList_BAKK] '20000099'
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiList_BAKK] @personnumber VARCHAR(20)
AS
BEGIN
	DECLARE @usern varchar(max), @role int,  @group varchar(6)
	
	SELECT @usern = UA.Username, @role = Ua.IDRoleGroup FROM TblT_UserAuthorized UA where
	UA.PersonNumber = @personnumber

	SELECT 
		@group = EM.org_unit_mast_Code
	FROM
	TblDW_Usergroup UG
	INNER JOIN
	TblDW_EmployeeMapping EM
	ON
	UG.User_LoginName = EM.empl_mast_username
	WHERE
	UG.Usergroup_Pernr = @personnumber
	

	--SELECT @role
	IF @role = 1 OR @role = 10
	BEGIN
			SELECT
			EL.IDProjectHeader as ProyekPK , 
			EL.ProjectName as NamaProyek ,
			EL.StartDate as TanggalMulaiProyek,
			EL.EndDate as TanggalTutupProyek,
			ISNULL(ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0),0) as PersentaseKomplit,
			ROUND(EL.Planning,0) as Targets,
			'Rp.' --+CONVERT(VARCHAR(MAX),FORMAT(ISNULL(dbo.Ufn_GetRealisasiAnggaranPerProject(EL.IDProjectHeader),0),'#,0'))
			--ROUND(EL.Realisasi,0) 
			as Realisasi ,
			(
				SELECT TOP 1 
					DurationInDays
				FROM
				dbo.Ufn_Get_DurationInDays_PerProject(EL.IDProjectHeader)
				WHERE ParentID = 0
				AND TaskID > 0
			  ) as Durasi,
			EL.LastUpdateBy as TerakhirDirubahOleh,
			CONVERT(varchar(2),DAY(EL.LastUpdateDate)) + ' '+ [dbo].[Ufn_GetMonthName_Indonesia](MONTH(EL.LastUpdateDate)) + ' '+ CONVERT(varchar(4),YEAR(EL.LastUpdateDate))
			+ ' ' + CONVERT(varchar, EL.LastUpdateDate, 108) as TerakhirDirubahPada,
			--CASE
			--WHEN
			--ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) >= 110
			--THEN
			-- '<div class="circle" style="background : blue"></div>'
			--WHEN
			--ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) BETWEEN 100 and 109
			--THEN
			-- '<div class="circle" style="background : green"></div>'
			--WHEN
			--ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) BETWEEN 85 and 99
			--THEN
			-- '<div class="circle" style="background : yellow"></div>'
			--ELSE
			-- '<div class="circle" style="background : red"></div>'
			--END as Stasus,
			CONVERT(int,EL.IsTransformasi) as IsTransformasi
		FROM
		dbo.Ufn_Get_Project_ExecutionList() EL
		ORDER BY
		CONVERT(int,EL.IsTransformasi) DESC , EL.StartDate ASC 
			
	END
	ELSE IF @role = 11 OR @role = 4
	BEGIN
		IF @group = 'GPSO'
		BEGIN
						SELECT
			EL.IDProjectHeader as ProyekPK , 
			EL.ProjectName as NamaProyek ,
			EL.StartDate as TanggalMulaiProyek,
			EL.EndDate as TanggalTutupProyek,
			ISNULL(ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0),0) as PersentaseKomplit,
			ROUND(EL.Planning,0) as Targets,
			'Rp.' --+CONVERT(VARCHAR(MAX),FORMAT(ISNULL(dbo.Ufn_GetRealisasiAnggaranPerProject(EL.IDProjectHeader),0),'#,0'))
			--ROUND(EL.Realisasi,0) 
			as Realisasi ,
			(
				SELECT TOP 1 
					DurationInDays
				FROM
				dbo.Ufn_Get_DurationInDays_PerProject(EL.IDProjectHeader)
				WHERE ParentID = 0
				AND TaskID > 0
			  ) as Durasi,
			EL.LastUpdateBy as TerakhirDirubahOleh,
			CONVERT(varchar(2),DAY(EL.LastUpdateDate)) + ' '+ [dbo].[Ufn_GetMonthName_Indonesia](MONTH(EL.LastUpdateDate)) + ' '+ CONVERT(varchar(4),YEAR(EL.LastUpdateDate))
			+ ' ' + CONVERT(varchar, EL.LastUpdateDate, 108) as TerakhirDirubahPada,
			CASE
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) >= 110
			THEN
			 '<div class="circle" style="background : blue"></div>'
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) BETWEEN 100 and 109
			THEN
			 '<div class="circle" style="background : green"></div>'
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) BETWEEN 85 and 99
			THEN
			 '<div class="circle" style="background : yellow"></div>'
			ELSE
			 '<div class="circle" style="background : red"></div>'
			END as Stasus,
			CONVERT(int,EL.IsTransformasi) as IsTransformasi
		FROM
		dbo.Ufn_Get_Project_ExecutionList() EL
		ORDER BY
		CONVERT(int,EL.IsTransformasi) DESC , EL.StartDate ASC 
		END
		ELSE IF @group = 'GPTF'
		BEGIN
					SELECT
			EL.IDProjectHeader as ProyekPK , 
			EL.ProjectName as NamaProyek ,
			EL.StartDate as TanggalMulaiProyek,
			EL.EndDate as TanggalTutupProyek,
			ISNULL(ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0),0) as PersentaseKomplit,
			ROUND(EL.Planning,0) as Targets,
			'Rp.' --+CONVERT(VARCHAR(MAX),FORMAT(ISNULL(dbo.Ufn_GetRealisasiAnggaranPerProject(EL.IDProjectHeader),0),'#,0'))
			--ROUND(EL.Realisasi,0) 
			as Realisasi ,
			(
				SELECT TOP 1 
					DurationInDays
				FROM
				dbo.Ufn_Get_DurationInDays_PerProject(EL.IDProjectHeader)
				WHERE ParentID = 0
				AND TaskID > 0
			  ) as Durasi,
			EL.LastUpdateBy as TerakhirDirubahOleh,
			CONVERT(varchar(2),DAY(EL.LastUpdateDate)) + ' '+ [dbo].[Ufn_GetMonthName_Indonesia](MONTH(EL.LastUpdateDate)) + ' '+ CONVERT(varchar(4),YEAR(EL.LastUpdateDate))
			+ ' ' + CONVERT(varchar, EL.LastUpdateDate, 108) as TerakhirDirubahPada,
			CASE
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) >= 110
			THEN
			 '<div class="circle" style="background : blue"></div>'
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) BETWEEN 100 and 109
			THEN
			 '<div class="circle" style="background : green"></div>'
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) BETWEEN 85 and 99
			THEN
			 '<div class="circle" style="background : yellow"></div>'
			ELSE
			 '<div class="circle" style="background : red"></div>'
			END as Stasus,
			CONVERT(int,EL.IsTransformasi) as IsTransformasi
		FROM
		dbo.Ufn_Get_Project_ExecutionList() EL
		WHERE
		EL.IsTransformasi = 1
		ORDER BY
		CONVERT(int,EL.IsTransformasi) DESC , EL.StartDate ASC
		END
		ELSE
		BEGIN
					SELECT
			EL.IDProjectHeader as ProyekPK , 
			EL.ProjectName as NamaProyek ,
			EL.StartDate as TanggalMulaiProyek,
			EL.EndDate as TanggalTutupProyek,
			ISNULL(ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0),0) as PersentaseKomplit,
			ROUND(EL.Planning,0) as Targets,
			ROUND(EL.Realisasi,0) as Realisasi ,
			(
				SELECT TOP 1 
					DurationInDays
				FROM
				dbo.Ufn_Get_DurationInDays_PerProject(EL.IDProjectHeader)
				WHERE ParentID = 0
				AND TaskID > 0
			  ) as Durasi,
			EL.LastUpdateBy as TerakhirDirubahOleh,
			CONVERT(varchar(2),DAY(EL.LastUpdateDate)) + ' '+ [dbo].[Ufn_GetMonthName_Indonesia](MONTH(EL.LastUpdateDate)) + ' '+ CONVERT(varchar(4),YEAR(EL.LastUpdateDate))
			+ ' ' + CONVERT(varchar, EL.LastUpdateDate, 108) as TerakhirDirubahPada,
			CASE
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) >= 110
			THEN
			 '<div class="circle" style="background : blue"></div>'
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) BETWEEN 100 and 109
			THEN
			 '<div class="circle" style="background : green"></div>'
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) BETWEEN 85 and 99
			THEN
			 '<div class="circle" style="background : yellow"></div>'
			ELSE
			 '<div class="circle" style="background : red"></div>'
			END as Stasus,
			CONVERT(int,EL.IsTransformasi) as IsTransformasi
		FROM
		dbo.Ufn_Get_Project_ExecutionList() EL 
		INNER JOIN
		TblM_Project Proj 
		ON
		EL.IDProject = Proj.IDProject
		INNER JOIN
		TblM_Department Dept
		ON
		Proj.IDDepartment = Dept.IDDepartment
		WHERE
		Dept.DepartmentCode = @group
		ORDER BY
		CONVERT(int,EL.IsTransformasi) DESC , EL.StartDate ASC 
		END
	END
	ELSE 
	BEGIN
			SELECT
			EL.IDProjectHeader as ProyekPK , 
			EL.ProjectName as NamaProyek ,
			EL.StartDate as TanggalMulaiProyek,
			EL.EndDate as TanggalTutupProyek,
			ISNULL(ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0),0) as PersentaseKomplit,
			ROUND(EL.Planning,0) as Targets,
			'Rp.'+CONVERT(VARCHAR(MAX),FORMAT(ISNULL(dbo.Ufn_GetRealisasiAnggaranPerProject(EL.IDProjectHeader),0),'#,0')) as Realisasi,
			--ROUND(EL.Realisasi,0) as Realisasi ,
			(
				SELECT TOP 1 
					DurationInDays
				FROM
				dbo.Ufn_Get_DurationInDays_PerProject(EL.IDProjectHeader)
				WHERE ParentID = 0
				AND TaskID > 0
			) as Durasi,
			EL.LastUpdateBy as TerakhirDirubahOleh,
			CONVERT(varchar(2),DAY(EL.LastUpdateDate)) + ' '+ [dbo].[Ufn_GetMonthName_Indonesia](MONTH(EL.LastUpdateDate)) + ' '+ CONVERT(varchar(4),YEAR(EL.LastUpdateDate))
			+ ' ' + CONVERT(varchar, EL.LastUpdateDate, 108) as TerakhirDirubahPada,
			CASE
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) >= 110
			THEN

			 '<div class="circle" style="background : blue;"></div>'
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) BETWEEN 100 and 109
			THEN
			 '<div class="circle" style="background : green"></div>'
			WHEN
			ROUND(((ROUND(EL.Realisasi,0) / ROUND(NULLIF(EL.Planning,0),0))*100),0) BETWEEN 85 and 99
			THEN
			 '<div class="circle" style="background : yellow"></div>'
			ELSE
			 '<div class="circle" style="background : red"></div>'
			END as Stasus,
			CONVERT(int,EL.IsTransformasi) as IsTransformasi
		FROM
		dbo.Ufn_Get_Project_ExecutionList() EL
		WHERE
		EL.IDProjectHeader IN (
			SELECT a.IDProjectHeader FROM TblT_ProjectRoleGroup a
			WHERE
			a.Username = @usern
			UNION
			SELECT DISTINCT b.IDProjectHeader FROM (
				select Username, IsActive, IDProjectHeader from TblT_ProjectExecutionApprovalRole where IsActive = 1
				union all 
				select Username, IsActive, IDProjectHeader from TblT_ProjectInitApprovalRole where IsActive = 1
			) b
			where
			b.Username = @usern
			and
			b.IsActive = 1

		)
		ORDER BY
		CONVERT(int,EL.IsTransformasi) DESC , EL.StartDate ASC 
			
	END
END




GO
