USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetPencapaian]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetPencapaian] -- select [dbo].[Ufn_GetPencapaian](112,0,1,'2019');
(
	-- Add the parameters for the function here
	@IDProjectHeader int,
	@IsTransformasi bit,
	@Month int,
	@Year varchar(4)
)

RETURNS varchar(max)
AS
BEGIN
	
	if(cast(@Year as int) > dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@IDProjectHeader, 'EndYear')) begin
		set @Year = cast(dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@IDProjectHeader, 'EndYear') as varchar(4));
		if(@Month > dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@IDProjectHeader, 'EndMonth')) begin
			set @Month = dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@IDProjectHeader, 'EndMonth');
		end;
	end;

	declare @ProjectEksekusi table(
		IDProjectHeader int,
		Periode varchar(max),
		Keys varchar(max),
		Plans varchar(max),
		Reals varchar(max)
	);
	
	insert into @ProjectEksekusi (
		IDProjectHeader,
		Periode,
		Keys,
		Plans,
		Reals
	)
	select IDProjectHeader,Periode, Keys, Plans, Reals
	from [dbo].[Ufn_Get_TrendEkseksiPerPeriode](@IDProjectHeader);


	declare @result varchar(max);

	if exists(
			select *
			from @ProjectEksekusi a
			where Keys like @Year + '-' + convert(varchar(4), @Month) + '-%'
		)begin
			set @result = (
				select top(1) convert(varchar(max), round(convert(float, a.Reals),0) * 100 / nullif(round(a.Plans,0),0)) as Capaian
				from @ProjectEksekusi a
				where Keys like @Year + '-' + convert(varchar(4), @Month) + '-%'
				order by Keys desc
			);
		end
		else begin
			set @result = (
				select top(1) convert(varchar(max), round(convert(float, a.Reals),0) * 100 / nullif(round(a.Plans,0),0)) as Capaian
				from @ProjectEksekusi a
				where Keys like @Year + '-%'
				order by Keys desc
			);
		end;
	
	return @result;
	
END
GO
