USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_ProjectInformation_Constraint]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_ProjectInformation_Constraint]  -- exec Get_ProjectInformation_Constraint '413'
	@ProjectHeaderID int
AS
BEGIN
	------------------------------------- Constraint -------------------------------------	
	select Description, 
		Remarks, 
		Problem, 
		Status, 
		Mitigasi, 
		CreatedDate
	from TblT_ProjectConstraint PC
	where PC.IDProjectHeader = @ProjectHeaderID
		and PC.IsActive = '1'; -- Table[3]
	

END
GO
