USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetProjectDuration]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetProjectDuration]
(
	@minDate_Str NVARCHAR(30), @maxDate_Str NVARCHAR(30)
)
RETURNS int
AS
BEGIN
	DECLARE @dur int
	DECLARE @minDate DATE, @maxDate DATE
    SET @minDate = CONVERT(date, @minDate_Str)
    SET @maxDate = CONVERT(date, @maxDate_Str)
	---- Declare the return variable here
	-- SELECT @dur =
	-- (DATEDIFF(dd, @minDate, @maxDate) + 1)
 --   -(DATEDIFF(wk, @minDate, @maxDate) * 2)
 --   -(CASE WHEN DATENAME(dw, @minDate) = 'Sunday' THEN 1 ELSE 0 END)
 --   -(CASE WHEN DATENAME(dw, @minDate) = 'Saturday' THEN 1 ELSE 0 END)
 --   -(SELECT COUNT(*) FROM Ufn_Get_Holiday() h where h.HolidayDate BETWEEN @minDate and @maxDate)
		SELECT @dur = Count(m.Date)
		FROM 
		TblM_Date m
		where 
		m.Date between @minDate and @maxDate
		and
		IsHoliday <> '1'
		and
		IsWeekend = '0'
		return @dur

END
GO
