USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Generate_ProjectKPIPeriode]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Generate_ProjectKPIPeriode]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @Year int = Year(GetDate());
	declare @kpival table(idproject int,tw1 float,tw2 float,tw3 float,tw4 float,twyear int);
	declare @TW varchar(5) =  [dbo].[Ufn_GetTriwulan](Month(GetDate()));
	
	declare @Month int = null;
	declare @Date date = null;
	declare @DateStart date = null;
	declare @Week int = null; 
	declare @LastDay varchar(10) = null;
	declare @FirstDay varchar(10) = null;
	declare @TableHeader table(ProjectHeaderId int)
	declare @SumOfFirstWeek int = null;
	if(@Year is null)set @Year = year(getdate());
	if(@TW = 'TW1') begin
		set @Month = 3 end;
	else if(@TW = 'TW2') begin
		set @Month = 6 end;
	else if(@TW = 'TW3') begin
		set @Month = 9 end;
	else if(@TW = 'TW4') begin
		set @Month = 12 end
	
	set @LastDay = (select top 1 WeekDayName from TblM_Date where Year = @Year  and Month =  @Month order by Date desc);
	set @SumOfFirstWeek = (select Sum(WeekOfMonth) from TblM_Date where Year = @Year  and Month =  (@Month + 1) and WeekDayName = 'Saturday' and WeekOfMonth = 1 Group By WeekOfMonth);
	if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month != 12) begin
		if(@SumOfFirstWeek = 1) begin
			set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = (@Month + 1) and WeekDayName = 'Saturday' order by Date asc)
			set @Year = year(@Date);
			set @Month = month(@Date);
			set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = (@Month + 1) and WeekDayName = 'Saturday' order by Date asc);	
			end;
		else begin
			set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
			set @Year = year(@Date);
			set @Month = month(@Date);
			set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
			end;
		end;
	else if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month = 12) begin
		set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
		set @Year = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
		end;
	else begin 
		set @Date = (select top 1 Date from TblM_Date where Year = @Year  and Month =  @Month and WeekDayName = 'Saturday' order by Date desc)
		set @Year = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);	
		end;


	If(@TW = 'TW1')
	begin
		insert into @kpival
		select 
		bb.IDProject,
		case
			when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian > 100 then 100
			when bb.IsTransformasi = 1 and bb.Capaian > 105 then 105
			when bb.IsTransformasi = 0 and bb.Capaian > 100 then 100
			else bb.Capaian
		end as TW1,
		(select TW2 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW2,
		(select TW3 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW3,
		(select TW4 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW4,
		bb.Year
		from
		(
			select Distinct
			tp.IDProject,
				round(
					Case 
						when tmpp.PlanPercentage is null Or tmpp.PlanPercentage = 0 then 0
						else (
								ISNULL(
										(
											select top 1 MPP.CompletePercentage
											from TblT_MPPProjectRealPercentage MPP
											where MPP.IDProjectHeader = tmpp.IDProjectHeader
												and MPP.TaskID = tmpp.TaskID
												and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
													<= cast(cast(tmpp.Year as varchar(5)) + '-' + Cast(tmpp.Month as varchar(3)) + '-' + Cast(tmpp.Week as varchar(2)) as date)
												--and MPP.IsActive = 1
											order by MPP.Year desc, MPP.Month desc, MPP.Week desc
										), 0
									)	
							/ISNULL(tmpp.PlanPercentage,0)) * 100
					end
			,0) as Capaian,
			tp.IsTransformasi,
			tp.Parent,
			tmpp.Year
			from
			TblT_MPPProjectPlanDetail tmpd
			join
			(
				select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
				from TblT_MPPProjectPlanPercentage
				where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
				and isActive = 1 and [dbo].[Ufn_GetTriwulan](Month) = 'TW1' and Year = @Year
				order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
			) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
			JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
			JOIN TblM_Project tp on tp.IDProject = tph.IDProject
			left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
			where 
			tmpd.IsActive = 1 and 
			tph.IsActive = 1 and 
			tp.IsActive = 1 and
			tmpd.ParentId = 0
		)bb
	end
	
	else If(@TW = 'TW2')
	begin
		insert into @kpival
		select 
		bb.IDProject,
		(select TW1 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW1,
		case
			when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian > 100 then 100
			when bb.IsTransformasi = 1 and bb.Capaian > 105 then 105
			when bb.IsTransformasi = 0 and bb.Capaian > 100 then 100
			else bb.Capaian
		end as TW2,
		(select TW3 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW3,
		(select TW4 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW4,
		bb.Year
		from
			(
			select Distinct
			tp.IDProject,
				round(
					Case 
						when tmpp.PlanPercentage is null Or tmpp.PlanPercentage = 0 then 0
						else (
								ISNULL(
										(
											select top 1 MPP.CompletePercentage
											from TblT_MPPProjectRealPercentage MPP
											where MPP.IDProjectHeader = tmpp.IDProjectHeader
												and MPP.TaskID = tmpp.TaskID
												and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
													<= cast(cast(tmpp.Year as varchar(5)) + '-' + Cast(tmpp.Month as varchar(3)) + '-' + Cast(tmpp.Week as varchar(2)) as date)
												--and MPP.IsActive = 1
											order by MPP.Year desc, MPP.Month desc, MPP.Week desc
										), 0
									)	
							/ISNULL(tmpp.PlanPercentage,0)) * 100
					end
			,0) as Capaian,
			tp.IsTransformasi,
			tp.Parent,
			tmpp.Year
			from
			TblT_MPPProjectPlanDetail tmpd
			join
			(
				select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
				from TblT_MPPProjectPlanPercentage
				where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
				and isActive = 1 and [dbo].[Ufn_GetTriwulan](Month) = 'TW2' and Year = @Year
				order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
			) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
			JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
			JOIN TblM_Project tp on tp.IDProject = tph.IDProject
			left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
			where 
			tmpd.IsActive = 1 and 
			tph.IsActive = 1 and 
			tp.IsActive = 1 and
			tmpd.ParentId = 0
		)bb
	end

	else If(@TW = 'TW3')
	begin
		insert into @kpival
		select 
		bb.IDProject,
		(select TW1 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW1,
		(select TW2 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW2,
		case
			when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian > 100 then 100
			when bb.IsTransformasi = 1 and bb.Capaian > 105 then 105
			when bb.IsTransformasi = 0 and bb.Capaian > 100 then 100
			else bb.Capaian
		end as TW3,
		(select TW4 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW4,
		bb.Year
		from
			(
			select Distinct
			tp.IDProject,
				round(
					Case 
						when tmpp.PlanPercentage is null Or tmpp.PlanPercentage = 0 then 0
						else (
								ISNULL(
										(
											select top 1 MPP.CompletePercentage
											from TblT_MPPProjectRealPercentage MPP
											where MPP.IDProjectHeader = tmpp.IDProjectHeader
												and MPP.TaskID = tmpp.TaskID
												and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
													<= cast(cast(tmpp.Year as varchar(5)) + '-' + Cast(tmpp.Month as varchar(3)) + '-' + Cast(tmpp.Week as varchar(2)) as date)
												--and MPP.IsActive = 1
											order by MPP.Year desc, MPP.Month desc, MPP.Week desc
										), 0
									)	
							/ISNULL(tmpp.PlanPercentage,0)) * 100
					end
			,0) as Capaian,
			tp.IsTransformasi,
			tp.Parent,
			tmpp.Year
			from
			TblT_MPPProjectPlanDetail tmpd
			join
			(
				select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
				from TblT_MPPProjectPlanPercentage
				where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
				and isActive = 1 and [dbo].[Ufn_GetTriwulan](Month) = 'TW3' and Year = @Year
				order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
			) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
			JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
			JOIN TblM_Project tp on tp.IDProject = tph.IDProject
			left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
			where 
			tmpd.IsActive = 1 and 
			tph.IsActive = 1 and 
			tp.IsActive = 1 and
			tmpd.ParentId = 0
		)bb
	end
	else
	begin
		insert into @kpival
		select 
		bb.IDProject,
		(select TW1 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW1,
		(select TW2 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW2,
		(select TW3 from Tblm_KpiValue where IsActive = 1 and IDProject = bb.IDProject and Year = @Year) as TW3,
		case
			when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian > 100 then 100
			when bb.IsTransformasi = 1 and bb.Capaian > 105 then 105
			when bb.IsTransformasi = 0 and bb.Capaian > 100 then 100
			else bb.Capaian
		end as TW4,
		bb.Year
		from
			(
			select Distinct
			tp.IDProject,
				round(
					Case 
						when tmpp.PlanPercentage is null Or tmpp.PlanPercentage = 0 then 0
						else (
								ISNULL(
										(
											select top 1 MPP.CompletePercentage
											from TblT_MPPProjectRealPercentage MPP
											where MPP.IDProjectHeader = tmpp.IDProjectHeader
												and MPP.TaskID = tmpp.TaskID
												and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
													<= cast(cast(tmpp.Year as varchar(5)) + '-' + Cast(tmpp.Month as varchar(3)) + '-' + Cast(tmpp.Week as varchar(2)) as date)
												--and MPP.IsActive = 1
											order by MPP.Year desc, MPP.Month desc, MPP.Week desc
										), 0
									)	
							/ISNULL(tmpp.PlanPercentage,0)) * 100
					end
			,0) as Capaian,
			tp.IsTransformasi,
			tp.Parent,
			tmpp.Year
			from
			TblT_MPPProjectPlanDetail tmpd
			join
			(
				select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
				from TblT_MPPProjectPlanPercentage
				where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
				and isActive = 1 and [dbo].[Ufn_GetTriwulan](Month) = 'TW4' and Year = @Year
				order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
			) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
			JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
			JOIN TblM_Project tp on tp.IDProject = tph.IDProject
			left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
			where 
			tmpd.IsActive = 1 and 
			tph.IsActive = 1 and 
			tp.IsActive = 1 and
			tmpd.ParentId = 0
		)bb
	end;

	declare inskpicur cursor for
	select * from @kpival
	
	declare @idproject int, @tw1 float,@tw2 float,@tw3 float,@tw4 float,@twyear int;
	open inskpicur;
	fetch next from inskpicur into @idproject, @tw1, @tw2, @tw3, @tw4, @twyear
	while @@fetch_status = 0
	begin
		exec Usp_Insert_MasterKPIValue2 @idproject, @tw1, @tw2, @tw3, @tw4, @twyear
		fetch next from inskpicur into @idproject, @tw1, @tw2, @tw3, @tw4, @twyear
	end
	close inskpicur
	deallocate inskpicur
	
	SELECT 'S|Success'
END



GO
