USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_TableProjectDepartment]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		SENA PUTRA
-- Create date: January 25, 2019
-- Description:	EXEC [dbo].[Get_TableProjectDepartment]
-- =============================================
CREATE PROCEDURE [dbo].[Get_TableProjectDepartment]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    CREATE TABLE #TRANSFORMATION (
	Type nvarchar(25),
	GP int,
	GSPO int,
	GSTF int,
	TES2 int,
	TESqwer int,
	dfg int,
	asdfgh int,
	asd int
	)
	INSERT INTO #TRANSFORMATION
	SELECT 'Transformation' As ProjectType ,ISNULL(GP,0) AS GP, ISNULL(GPSO,0) AS GPSO, ISNULL(GPTF,0) AS GPTF,ISNULL(TES2,0) AS TES2, ISNULL(TESqwer,0) AS TESqwer,ISNULL(dfg,0) AS dfg, ISNULL(asdfgh,0) AS asdfgh, ISNULL(asd,0) AS asd
	FROM(
		SELECT DISTINCT C.DepartmentName, ISNULL(COUNT(B.IDDepartment),0) As Total FROM TblT_ProjectHeader A
		INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
		RIGHT JOIN TblM_Department C ON B.IDDepartment = C.IDDepartment
		WHERE B.IsTransformasi = 1
		GROUP BY C.DepartmentName, B.IDDepartment
	) AS R
	PIVOT
	(
	 SUM(Total)
	FOR [DepartmentName] IN (GP, GPSO, GPTF, TES2, TESqwer, dfg, asdfgh, asd)
	) AS pvt

	CREATE TABLE #NONTRANSFORMATION (
	Type nvarchar(25),
	GP int,
	GSPO int,
	GSTF int,
	TES2 int,
	TESqwer int,
	dfg int,
	asdfgh int,
	asd int
	)
	INSERT INTO #NONTRANSFORMATION
	SELECT 'Non Transformation' As ProjectType ,ISNULL(GP,0) AS GP, ISNULL(GPSO,0) AS GPSO, ISNULL(GPTF,0) AS GPTF,ISNULL(TES2,0) AS TES2, ISNULL(TESqwer,0) AS TESqwer,ISNULL(dfg,0) AS dfg, ISNULL(asdfgh,0) AS asdfgh, ISNULL(asd,0) AS asd
	FROM(
		SELECT DISTINCT C.DepartmentName, ISNULL(COUNT(B.IDDepartment),0) As Total FROM TblT_ProjectHeader A
		INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
		RIGHT JOIN TblM_Department C ON B.IDDepartment = C.IDDepartment
		WHERE B.IsTransformasi = 0
		GROUP BY C.DepartmentName, B.IDDepartment
	) AS R
	PIVOT
	(
	 SUM(Total)
	FOR [DepartmentName] IN (GP, GPSO, GPTF, TES2, TESqwer, dfg, asdfgh, asd)
	) AS pvt

	SELECT * FROM #TRANSFORMATION
	UNION ALL
	SELECT * FROM #NONTRANSFORMATION

	DROP TABLE #TRANSFORMATION
	DROP TABLE #NONTRANSFORMATION

END





GO
