USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Report_Summary]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_Report_Summary] -- exec Usp_Get_Report_Summary 2,'2019'
@Month int = null,
@Year varchar(4) = null

AS
BEGIN
	
	--declare @Date date = null;

	--set @Date = getdate();
	--if(@Year is null)set @Year = year(getdate());
	--if(@Month is null)set @Month = month(getdate());
	--if(
	--	@Year = (select Year from TblM_Date where Date = @Date)
	--	and @Month = (select Month from TblM_Date where Date = @Date)
	--) begin set @Date = getdate() end
	--else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc) end;



	
	declare @Date date = null;
	declare @Week int = null;

	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc) end;





	select obj.IDStrategicObjective,
		obj.StrategicObjectiveName,
		
		count(case when obj.Progress = 'Draft' and obj.IsTransformasi = 1 then 1 end) as BelumDimulai_T,
		count(case when obj.Progress = 'Completed' and obj.IsTransformasi = 1 then 1 end) as Selesai_T,
		count(case when obj.Progress = 'Jauh dibawah target' and obj.IsTransformasi = 1 then 1 end) as JauhDibawahTarget_T,
		count(case when obj.Progress = 'Dibawah target' and obj.IsTransformasi = 1 then 1 end) as DibawahTarget_T,
		count(case when obj.Progress = 'Sesuai target' and obj.IsTransformasi = 1 then 1 end) as SesuaiTarget_T,
		count(case when obj.Progress = 'Diatas target' and obj.IsTransformasi = 1 then 1 end) as DiatasTarget_T,
		
		count(case when obj.Progress = 'Draft' and obj.IsTransformasi = 0 then 1 end) as BelumDimulai_NT,
		count(case when obj.Progress = 'Completed' and obj.IsTransformasi = 0 then 1 end) as Selesai_NT,
		count(case when obj.Progress = 'Jauh dibawah target' and obj.IsTransformasi = 0 then 1 end) as JauhDibawahTarget_NT,
		count(case when obj.Progress = 'Dibawah target' and obj.IsTransformasi = 0 then 1 end) as DibawahTarget_NT,
		count(case when obj.Progress = 'Sesuai target' and obj.IsTransformasi = 0 then 1 end) as SesuaiTarget_NT,
		count(case when obj.Progress = 'Diatas target' and obj.IsTransformasi = 0 then 1 end) as DiatasTarget_NT,

		count(obj.Progress) as JumlahProject
	from (
		select a.IDStrategicObjective,
			--d.StrategicObjectiveName,
			a.StrategicObjectiveName as StrategicObjectiveName,
			case
				when (a.IDProjectStatus = 1
					or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9)
					or getdate() < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Draft'
				when (a.IDProjectStatus = 4
					or a.IDProjectStatus = 12) then 'Completed'
				when (a.Pencapaian < 85) then 'Jauh dibawah target'
				when (a.Pencapaian < 100) then 'Dibawah target'
				when (a.Pencapaian < 110) then 'Sesuai target'
				else 'Diatas target'
			end as Progress,
			a.IsTransformasi
		from TblD_ListProject a
			--TblM_Program a
			--inner join TblM_Project b on a.IDProgram = b.IDProgram and a.IsActive = 1
			--inner join TblT_ProjectHeader c on b.IDProject = c.IDProject and b.IsActive = 1
			--inner join TblM_StrategicObjective d on B.IDStrategicObjective = d.IDStrategicObjective and d.IsActive = 1
			--inner join TblM_Department e on b.IDDepartment = e.IDDepartment and e.IsActive = 1
			--inner join TblM_Direktorat f on e.IDDirektorat = f.IDDirektorat and f.IsActive = 1
			--left join Ufn_Get_Project_ExecutionList() g on c.IDProjectHeader = g.IDProjectHeader
			--left join TblM_ProjectStatus h on c.IDProjectStatus = h.IDProjectStatus and h.IsActive = 1
		where a.IsActive = 1
			and a.DateDownload = @Date
			and (
				@Year 
				between a.StartYear--[dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'StartYear')
				and a.EndYear--[dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID](c.IDProjectHeader, 'EndYear')
			)
	) as obj
	group by obj.IDStrategicObjective, obj.StrategicObjectIveName;
		
END




GO
