USE [PROMISE]
GO
/****** Object:  Table [dbo].[Anggaran_Realisasi]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anggaran_Realisasi](
	[Anggaran] [decimal](18, 2) NULL,
	[Realisasi] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
