USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectRoleGroup]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectRoleGroup](
	[IDProjectRoleGroup] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NULL,
	[IDRoleGroup] [int] NULL,
	[IDProgram] [int] NULL,
	[Username] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblT_ProjectRoleGroup] PRIMARY KEY CLUSTERED 
(
	[IDProjectRoleGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
