USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MPPProjectEksekusi]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- description:	<description,,> exec Usp_Get_MPPProjectEksekusi '234' , '2019-9-5'
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MPPProjectEksekusi]
	-- Add the parameters for the stored procedure here
	@ProjectHeaderID int,
	@Periode varchar(10)
AS
begin

	declare @year varchar(5), @month varchar(3), @week varchar(2);
	declare @SplitString table(rownumber int, val varchar(max));
	
	insert into @SplitString
	select row_number() over(order by (select null)), *
	from dbo.Ufn_SplitString(@Periode, '-');
	
	select @year = val from @SplitString where rownumber = 1;
	select @month = val from @SplitString where rownumber = 2;
	select @week = val from @SplitString where rownumber = 3;
	
	select distinct
	tmpd.TaskId as id,
	tmpd.IDMPPProjectPlanDetail as idMPP,
	tmpd.ParentId as parent,
	tmpd.TaskName as text,
	convert(varchar,convert(date,tmpd.StartDate),23) as start_date,
	convert(varchar,convert(date,tmpd.EndDate),23) as end_date,
	--cast(tmpd.StartDate as Date) as start_date,
	--cast(tmpd.EndDate as Date) as end_date,
	isnull(DiD.DurationInDays,0) as durasi,
	case
		when (tmpd.IsMilestone = '1' or tmpd.TaskName like '%milestone%') and
				 cast(@Year + '-' + right('00' + @Month, 2) + '-' + cast(@week as varchar(2)) as date)
						>= cast(
							cast(
									(
										select Year
										from TblM_Date
										where DATE = convert(DATE, dateadd(day, (7-datepart(dw, tmpd.StartDate))%7, tmpd.StartDate))
									) as varchar(4)
								)
							+ '-' + right(
									'00' + cast(
										(
											select Month
											from TblM_Date
											where DATE = convert(DATE, dateadd(DAY, (7-datepart(dw, tmpd.StartDate))%7, tmpd.StartDate))
										) as varchar(2)
									), 2
								)
							+ '-' + cast(
									(
										select WeekOfMonth
										from TblM_Date
										where DATE = convert(DATE, dateadd(day, (7-datepart(dw, tmpd.StartDate))%7, tmpd.StartDate))
									) as varchar(1)
								)
							as date
						)
				then 100
				else
					round(ISNULL(tmpp.PlanPercentage,0),0)
	end  as PlaningPercentage,
	--round(isnull(x.CompletePercentage, 0),0) as percentcomplate,
	round(isnull(
	(
		select Top 1 
		case 
			when PercentageComplete > 99 and PercentageComplete < 100 then 99
			else PercentageComplete 
		end 
		from TblT_MPPProjectRealDetail 
		where IDMPPProjectPlanDetail = tmpd.IDMPPProjectPlanDetail
		and  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
		and isActive = 1 
		order by Year desc,Month desc,Week desc
	), 	
	0),0) as percentcomplate,
	tmpd.OutlineLevel,
	tmpd.OutlineNumber,
	case
		when tmpd.IsMilestone = '1' or tmpd.TaskName like '%milestone%' then 'milestone'
		else 'task'
	end as type,
	(
		select TOP 1 Notes
		from TblT_MPPProjectRealDetail
		where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
		and isActive = 1 and IDMPPProjectPlanDetail = tmpd.IDMPPProjectPlanDetail
		order by Year desc,Month desc,Week desc
		--order by row_number() over (partition by IDMPPProjectPlanDetail order by Year desc,Month desc,Week desc)
	) as notes,
	(
		select TOP 1 --ActualStart
		case
			when Try_Convert(date,ActualStart,105) is not null then cast(Convert(date,ActualStart,105) as varchar(15)) 
			when Try_Convert(date,ActualStart,23) is not null then	cast(Convert(date,ActualStart,23)  as varchar(15)) 
			when Try_Convert(date,ActualStart,100) is not null then cast(Convert(date,ActualStart,100) as varchar(15)) 
		End ActualStart
		from TblT_MPPProjectRealDetail
		where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
		and isActive = 1 and IDMPPProjectPlanDetail = tmpd.IDMPPProjectPlanDetail
		order by Year desc,Month desc,Week desc
		--order by row_number() over (partition by IDMPPProjectPlanDetail order by Year desc,Month desc,Week desc)
	) as actual_start,
	(
		select TOP 1 
		case
			when Try_Convert(date,ActualEnd,105) is not null then cast(Convert(date,ActualEnd,105) as varchar(15))
			when Try_Convert(date,ActualEnd,23) is not null then  cast(Convert(date,ActualEnd,23)  as varchar(15))
			when Try_Convert(date,ActualEnd,100) is not null then cast(Convert(date,ActualEnd,100) as varchar(15))
		end ActualEnd
		from TblT_MPPProjectRealDetail
		where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
		and isActive = 1 and IDMPPProjectPlanDetail = tmpd.IDMPPProjectPlanDetail
		order by Year desc,Month desc,Week desc
		--order by row_number() over (partition by IDMPPProjectPlanDetail order by Year desc,Month desc,Week desc)
	) as actual_end,
	tmpd.kpi
	from TblT_MPPProjectPlanDetail tmpd
	left join
	(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
		from TblT_MPPProjectPlanPercentage
		where Month = @Month and Year = @Year and Week = @Week and IDProjectHeader = @ProjectHeaderID
		and isActive = 1 
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
	--LEFT JOIN (
	--select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
	--	from TblT_MPPProjectRealPercentage
	--	where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	--	and isActive = 1 and IDProjectHeader = @ProjectHeaderID
	--	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	--) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
	inner join [Ufn_Get_DurationInDays_PerProject](@ProjectHeaderID) DiD on tmpd.TaskID = DiD.TaskID
	where 
	tmpd.IsActive = 1
	and tmpd.ProjectHeaderID = @ProjectHeaderID
	order by tmpd.IDMPPProjectPlanDetail;

	--select MPD.TaskID as id,
	--	MPD.IDMPPProjectPlanDetail as idMPP,
	--	MPD.ParentID as parent,
	--	MPD.TaskName as text,
		
	--	convert(varchar,convert(date,MPD.StartDate),23) as start_date,
	--	convert(varchar,convert(date,MPD.EndDate),23) as end_date,
	--	isnull(DiD.DurationInDays,0) as durasi,

	--	case 
	--		when (MPD.IsMilestone = '1' or MPD.TaskName like '%milestone%')
	--			and cast(@year + '-' + right('00' + @month, 2) + '-' + @week as date)
	--				>= cast(
	--					cast(
	--							(
	--								select Year
	--								from TblM_Date
	--								where DATE = convert(DATE, dateadd(day, (7-datepart(dw, MPD.StartDate))%7, MPD.StartDate))
	--							) as varchar(4)
	--						)
	--					+ '-' + right(
	--							'00' + cast(
	--								(
	--									select Month
	--									from TblM_Date
	--									where DATE = convert(DATE, dateadd(DAY, (7-datepart(dw, MPD.StartDate))%7, MPD.StartDate))
	--								) as varchar(2)
	--							), 2
	--						)
	--					+ '-' + cast(
	--							(
	--								select WeekOfMonth
	--								from TblM_Date
	--								where DATE = convert(DATE, dateadd(day, (7-datepart(dw, MPD.StartDate))%7, MPD.StartDate))
	--							) as varchar(1)
	--						)
	--					as date
	--				)
	--		then 100
	--		else round(
	--				isnull(
	--					(
	--						select top 1 MPP.PlanPercentage
	--						from TblT_MPPProjectPlanPercentage MPP
	--						where MPP.IDProjectHeader = MPD.ProjectHeaderID
	--							and MPP.TaskID = MPD.TaskID
	--							and IsActive = 1
	--							and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
	--								<= cast(@year + '-' + @month + '-' + @week as date)
	--						order by MPP.Year desc, MPP.Month desc, MPP.Week desc
	--					), 0
	--				), 0
	--			)
	--	end as PlaningPercentage,
		
	--	case 
	--		when isnull(
	--				(
	--					select top 1 MPP.CompletePercentage
	--					from TblT_MPPProjectRealPercentage MPP
	--					where MPP.IDProjectHeader = MPD.ProjectHeaderID
	--						and MPP.TaskID = MPD.TaskID
	--						and MPP.Week = @week
	--						and MPP.Month = @month
	--						and MPP.Year = @year
	--						and MPP.IsActive = 1
	--				), 0
	--			) > 0
	--		then isnull(
	--				(
	--					select top 1 MPP.CompletePercentage
	--					from TblT_MPPProjectRealPercentage MPP
	--					where MPP.IDProjectHeader = MPD.ProjectHeaderID
	--						and MPP.TaskID = MPD.TaskID
	--						and MPP.Week = @week
	--						and MPP.Month = @month
	--						and MPP.Year = @year
	--						and MPP.IsActive = 1
	--				), 0
	--			)

	--		when isnull(
	--				(
	--					select top 1
	--						case
	--							when MPP.PercentageComplete > 99 and  MPP.PercentageComplete < 100 then 99
	--							else MPP.PercentageComplete
	--						end PercentageComplete
	--					from TblT_MPPProjectRealDetail MPP
	--					where MPP.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
	--						and MPP.TaskID = MPD.TaskID
	--						and MPP.Year = @year
	--						and MPP.Month = @month
	--						and MPP.Week = @week
	--						and MPP.IsActive = 1
	--				), 0
	--			) > 0
	--		then isnull(
	--				(
	--					select top 1
	--						case
	--							when MPP.PercentageComplete > 99 and  MPP.PercentageComplete < 100 then 99
	--							else MPP.PercentageComplete
	--						end PercentageComplete
	--					from TblT_MPPProjectRealDetail MPP
	--					where MPP.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
	--						and MPP.TaskID = MPD.TaskID
	--						and MPP.Year = @year
	--						and MPP.Month = @month
	--						and MPP.Week = @week
	--						and MPP.IsActive = 1
	--				), 0
	--			)

	--		else isnull(
	--				(
	--					select top 1 MPP.CompletePercentage
	--					from TblT_MPPProjectRealPercentage MPP
	--					where MPP.IDProjectHeader = MPD.ProjectHeaderID
	--						and MPP.TaskID = MPD.TaskID
	--						and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
	--							<= cast(@year + '-' + @month + '-' + @week as date)
	--						and MPP.IsActive = 1
	--					order by MPP.Year desc, MPP.Month desc, MPP.Week desc
	--				), 0
	--			)

	--	end	as percentcomplate,

	--	MPD.OutlineLevel,
	--	MPD.OutlineNumber,
		
	--	case
	--		when MPD.IsMilestone = '1' or MPD.TaskName like '%milestone%' then 'milestone'
	--		else 'task'
	--	end as type,
		
	--	(
	--		case
	--			when exists(
	--					select top 1 MRDD.Notes
	--					from TblT_MPPProjectRealDetail MRDD
	--					where MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
	--						and MRDD.Week = @week 
	--						and MRDD.Year = @year
	--						and MRDD.Month = @month
	--						and MRDD.IsActive = 1
	--				)
	--			then(
	--					select top 1 MRDD.Notes
	--					from TblT_MPPProjectRealDetail MRDD
	--					where MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
	--						and MRDD.Week = @week 
	--						and MRDD.Year = @year
	--						and MRDD.Month = @month
	--						and MRDD.IsActive = 1
	--					order by MRDD.Date desc
	--				)
	--			else(
	--					select top 1 MRDD.Notes
	--					from TblT_MPPProjectRealDetail MRDD
	--					where MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
	--						and MRDD.IsActive = 1
	--					order by MRDD.Date desc		
	--				)
	--				END
							
	--			)			
	--			 as notes,
		
	--	convert(
	--		varchar(max),(
	--			case
	--				when(
	--						select top 1 MRDD.ActualStart
	--						from TblT_MPPProjectRealDetail MRDD
	--						where MRDD.IDMPPProjectPlanDetail =MPD.IDMPPProjectPlanDetail
	--							and MRDD.Week = @week 
	--							and MRDD.Year = @year
	--							and MRDD.Month = @month
	--							and MRDD.IsActive = 1
	--					) is not null
	--				then(
	--						select top 1
	--							case
	--								when MRDD.ActualStart is null then null
	--								when len(MRDD.ActualStart) = 16 then convert(date, substring(MRDD.ActualStart, 0, 11), 103) 
	--								else MRDD.ActualStart
	--							end 
	--						from TblT_MPPProjectRealDetail MRDD
	--						where MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
	--							and MRDD.Week = @week
	--							and MRDD.Year = @year
	--							and MRDD.Month = @month
	--							and MRDD.IsActive = 1
	--						order by MRDD.Date	desc
	--					)
	--				else(			
	--						select top 1 
	--							case
	--								when MRDD.ActualStart is null then null
	--								when len(MRDD.ActualStart) = 16 then convert(date, substring(MRDD.ActualStart, 0, 11), 103)
	--								else MRDD.ActualStart
	--							end 
	--						from TblT_MPPProjectRealDetail MRDD
	--						where MRDD.IsActive = 1
	--							and MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
	--							and cast(cast(MRDD.Year as varchar(4)) + '-'+ cast(MRDD.Month as varchar(2)) +'-'+ cast(MRDD.Week as varchar(1)) as date)
	--								< cast(@year + '-'+ @month +'-'+ @week as date)
	--						order by MRDD.year desc, MRDD.Month desc, MRDD.Week desc
	--					)
	--			end
	--		)
	--	) as actual_start,
		
	--	convert(
	--		varchar(max),(
	--			case
	--				when(
	--					select top 1 MRDD.ActualEnd
	--					from TblT_MPPProjectRealDetail MRDD
	--					where MRDD.IDMPPProjectPlanDetail =MPD.IDMPPProjectPlanDetail
	--						and MRDD.Week = @week 
	--						and MRDD.Year = @year
	--						and MRDD.Month = @month
	--						and MRDD.IsActive = 1
	--					) is not null
	--				then(
	--						select top 1
	--							case
	--								when MRDD.ActualEnd is null then null
	--								when len(MRDD.ActualEnd) = 16 then convert(date, substring(MRDD.ActualEnd, 0, 11), 103)
	--								else MRDD.ActualEnd
	--							end 
	--						from TblT_MPPProjectRealDetail MRDD
	--						where MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
	--							and MRDD.Week = @week 
	--							and MRDD.Year = @year
	--							and MRDD.Month = @month
	--							and MRDD.IsActive = 1
	--						order by MRDD.Date	desc
	--					)
	--				else(			
	--						select top 1 
	--							case
	--								when MRDD.ActualEnd is null then null
	--								when len(MRDD.ActualEnd) = 16 then convert(date, substring(MRDD.ActualEnd, 0, 11), 103) 
	--								else MRDD.ActualEnd
	--							end 
	--						from TblT_MPPProjectRealDetail MRDD
	--						where MRDD.IsActive = 1
	--							and MRDD.IDMPPProjectPlanDetail = MPD.IDMPPProjectPlanDetail
	--							and cast(cast(MRDD.Year as varchar(4)) + '-'+ cast(MRDD.Month as varchar(2)) +'-'+ cast(MRDD.Week as varchar(1)) as date)
	--								< cast(@year + '-'+ @month +'-'+ @week as date)
	--						order by MRDD.year desc, MRDD.Month desc, MRDD.Week desc
	--					)
	--			end		
	--		)
	--	) as actual_end,
	--	MPD.kpi

	--from TblT_MPPProjectPlanDetail MPD
	--	inner join [Ufn_Get_DurationInDays_PerProject](@ProjectHeaderID) DiD on MPD.TaskID = DiD.TaskID
	--where MPD.ProjectHeaderID = @ProjectHeaderID
	--	and MPD.TaskID > 0
	--	and MPD.IsActive = '1'
	--order by idMPP;

	select row_number() over(order by MPPr.TaskID asc) as id,
		Mppr.PredecessorID as source,
		Mppr.TaskID as target,
		'0' as type 
	from TblT_MPPProjectPredecessor MPPr 
	where MPPr.ProjectHeaderID = @ProjectHeaderID
		and IsActive = '1';

END




GO
