USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_TxPH_ByID_Stakeholder]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_TxPH_ByID_Stakeholder]
	-- Add the parameters for the stored procedure here
	-- [[Usp_Get_TxProjectHeader_ByID]] '2' , '100011'
	@IDProjectHeader int,
	@User varchar(500)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	declare @Username varchar(max);
	select @Username = a.User_LoginName from TblDW_Usergroup a where a.Usergroup_Pernr = @User;

	declare @IDProject int = (select top 1 IDProject from TblT_ProjectHeader where IDProjectHeader = @IDProjectHeader);

	-- Header (table[0])
	select	row_number() over (order by UpdatedDate desc) as NoUrut, * 
	from TblM_Project 
	where IsActive = 1 and IDProject = @IDProject;

	-- Dropdown Program (table[1])
	declare @IDProgram int = (select top 1 IDProgram from TblM_Project where IDProject = @IDProject);
	select
		a.IDProgram,
		a.ProgramName,
		case
			when(a.IDProgram = @IDProgram) then 1
			else 0
		end as IsActive
	from 
		TblM_Program a
	where
		a.IsActive = 1
	order by a.ProgramName asc;

-- Dropdown Department (table[6])
	declare @IDDepartment int = (select top 1 IDDepartment from TblM_Project where IDProject = @IDProject);
	select
		a.IDDepartment,
		a.DepartmentName + ' (' + a.DepartmentCode + ')' as DepartmentName,
		a.CostCenter,
		case
			when(a.IDDepartment = @IDDepartment) then 1
			else 0
		end as IsActive
	from 
		TblM_Department a
	where
		a.IsActive = 1;
		
	-- Table List User Project (table[7])
	if exists (
		select *
		from TblM_Project a
			inner join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IsActive = 1
			inner join TblT_ProjectInitApprovalRole c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1
		where a.IsActive = 1 and a.IDProject = @IDProject
	)begin

		select  row_number() over (
				order by 
					g.Sequence--h.IDRoleGroup
				asc
			) as NoUrut,
			g.Username,
			g.ActiveDate,
			g.EndDate,
			g.IsEnabled,
			e.KodePosisi,
			--e.Jabatan,
			e.Posisi as Jabatan,
			e.Nama,
			e.KodeUnitKerja,
			e.PersonalNumber,
			h.Description as RoleGroupName,
			h.IDRoleGroup,
			g.IsApprove

		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject
			
			--left join TblT_ProjectRoleGroup g on b.IDProjectHeader = g.IDProjectHeader
			left join TblT_ProjectInitApprovalRole g on b.IDProjectHeader = g.IDProjectHeader
			left join TblM_RoleGroup h on g.IDRoleGroup = h.IDRoleGroup

			left join TblDW_Usergroup d on g.Username = d.User_LoginName
			left join TblDW_Employee e on d.Usergroup_Pernr = e.PersonalNumber
			
			--left join TblT_ProjectInitApprovalRole c on g.Username = c.Username and g.IDProjectHeader = c.IDProjectHeader

		where a.IsActive = 1
			and b.IsActive = 1
			--and c.IsActive = 1
			and g.IsActive = 1
			and h.IsActive = 1
			and b.IDProject = @IDProject
		
		group by g.Username,
			g.ActiveDate,
			g.EndDate,
			g.IsEnabled,
			e.KodePosisi,
			--e.Jabatan,
			e.Posisi,
			e.Nama,
			e.KodeUnitKerja,
			e.PersonalNumber,
			h.Description,--RoleGroupName,
			h.IDRoleGroup,
			g.Sequence,
			g.IsApprove;

	end
	else begin
		
		select row_number() over (
				order by 
					d.Level--h.IDRoleGroup
				desc
			) as NoUrut,
			c.Username,
			getdate() as ActiveDate,
			getdate() as EndDate,
			1 as IsEnabled,
			f.KodePosisi,
			--f.Jabatan,
			f.Posisi as Jabatan,
			f.Nama,
			f.KodeUnitKerja,
			f.PersonalNumber,
			d.Description as RoleGroupName,
			d.IDRoleGroup,
			0 as IsApprove
		from TblM_Project a
			inner join TblT_ProjectHeader b on a.IDProject  = b.IDProject and b.IsActive = 1
			inner join TblT_ProjectRoleGroup c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1
			inner join TblM_RoleGroup d on c.IDRoleGroup = d.IDRoleGroup and d.IsActive = 1
			left join TblDW_Usergroup e on c.Username = e.User_LoginName
			left join TblDW_Employee f on e.Usergroup_Pernr = f.PersonalNumber
		where a.IsActive = 1 and a.IDProject = @IDProject;

	end;

	-- Table Master Role Group (table[8])

	select * from TblM_RoleGroup where IsActive = 1 and IDRoleGroup <> 1 and IDRoleGroup <> 10 and IDRoleGroup <> 12 and IDRoleGroup <> 4 and IDRoleGroup <> 11 and IDRoleGroup <> 13;


	-- Table Transaksi ProjectHeader (table[9])
	select a.*, b.StatusName,

		case
			when (select a.IDRoleGroup from TblT_UserAuthorized a where a.Username = @Username and IsActive = 1) = 1 then '1|1'
				
				--(
				--	select TOP 1 cast(e.Usergroup_Pernr as nvarchar(50)) +'|1'
				--	from [dbo].[TblT_ProjectInitApprovalRole] d
				--		left join TblDW_Usergroup e on d.Username = e.User_LoginName
				--	where d.IsActive = 1 and ( d.isApprove = 0 or d.IsApprove is NULL) and IsEnabled = 1 and d.IDProjectHeader = a.IDProjectHeader order by Sequence desc
				--)
			
			when (select a.IDRoleGroup from TblT_UserAuthorized a where a.Username = @Username and IsActive = 1) = 4 then --'4'
			
				(
					select TOP 1 cast(e.Usergroup_Pernr as nvarchar(50)) + '|4'
					from [dbo].[TblT_ProjectInitApprovalRole] d
						left join TblDW_Usergroup e on d.Username = e.User_LoginName
					where d.IsActive = 1 and ( d.isApprove = 0 or d.IsApprove is NULL) and IsEnabled = 1 and d.IDProjectHeader = a.IDProjectHeader order by Sequence desc
				)
			
			when (select count(*) from TblT_ProjectInitApprovalRole c where c.IsActive = 1 and c.IDProjectHeader = a.IDProjectHeader) > 0 then
			
				(
					select TOP 1 cast(e.Usergroup_Pernr as nvarchar(50)) + '|0'
					from [dbo].[TblT_ProjectInitApprovalRole] d
						left join TblDW_Usergroup e on d.Username = e.User_LoginName
					where d.IsActive = 1 and ( d.isApprove = 0 or d.IsApprove is NULL) and IsEnabled = 1 and d.IDProjectHeader = a.IDProjectHeader order by Sequence desc
				)
			
			else '0|0'
		end as NeedApproval

	from TblT_ProjectHeader a
		left join TblM_ProjectStatus b on a.IDProjectStatus = b.IDProjectStatus
	where a.IsActive = 1 and b.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader;

	-- Select Role User In Project (table[19])
	if((select a.IDRoleGroup from TblT_UserAuthorized a where a.Username = @Username and IsActive = 1) = 1)begin
		select RoleName as RoleInProject
		from TblM_Role
		where IsActive = 1;
	end
	else if((select a.IDRoleGroup from TblT_UserAuthorized a where a.Username = @Username and IsActive = 1) = 11)begin
		select RoleName as RoleInProject
		from TblM_Role
		where IsActive = 1;
	end
	else begin
		select d.RoleName as RoleInProject
		from TblT_ProjectHeader a
			left join TblT_ProjectInitApprovalRole b on a.IDProjectHeader = b.IDProjectHeader and b.IsActive = 1
			left join TblT_RoleMapping c on b.IDRoleGroup = c.IDRoleGroup and c.IsActive = 1
			left join TblM_Role d on c.IDRole = d.IDRole and d.IsActive = 1
		where a.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader and b.Username = @Username;
	end;
	

END




GO
