USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_TrendEkseksiPerPeriode_backup_20210428]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author		: Andre Ibrahim Latief
-- Create date	: -
-- Description	: -
-- ============================================= 
-- ============================================= 
-- Author		: Fadhil Ikhsan Nurcahyo
-- Update date	: 28/Oktober/2019
-- Description	: Merapihkan SP
-- ============================================= 
CREATE function [dbo].[Ufn_Get_TrendEkseksiPerPeriode_backup_20210428] (@IDProjectHeader int) 
returns @Result table(
	IDProjectHeader int,
	Periode varchar(max),
	Keys varchar(max), 
	Plans float, 
	Reals float, 
	Approval varchar(max), 
	UpdateDate datetime, 
	Status varchar(max), 
	vars varchar(max),
	week int,
	month int,
	year int
) 
as
begin
	
	declare @wk int,
		@mm int,
		@yr varchar(4),
		@Tipe int,
		@EndDate datetime,
		@wkEnd int

	select @wk = weekofmonth,
		@mm = month,
		@yr = year
	from tblm_date
	where date = convert(date, getdate());

	SELECT @EndDate = cast(EOMONTH(getDate()) as date);

	select @wkEnd = weekofmonth
	from tblm_date
	where date = convert(date, @EndDate);

	if(@wk = @wkEnd)
		begin
			if((select top 1 WeekDayName from TblM_Date where Date = @EndDate) != 'Saturday')
			begin
				--set @mm = @mm + 1;
				--set @wk = 1;
				-- Add By Christina Eka
				if (@mm = 12)
				begin
					set @mm = 1;
					set @wk = 1;
					set @yr = @yr + 1;
				end
				else
				begin
					set @mm = @mm + 1;
					set @wk = 1;
				end
		end
	end
	
	select @Tipe = Proj.istransformasi
	from tblm_project Proj
		inner join tblt_projectheader PH on Proj.idproject = PH.idproject
	where PH.idprojectheader = @IDProjectHeader

----------------------------------------------------------------------------------------------------------------------------
	if @Tipe = 0 begin

		insert into @Result

        select MPPP.idprojectheader,
			[dbo].[Ufn_getmonthname_indonesia](MPPP.month) + ' ' + Cast(MPPP.year as varchar(4)) as Periode,
            convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, Max(MPPP.week))as Keys,
            max(MPPP.planpercentage) as Plans,
			dbo.Ufn_getrealitationbeforebyprojectheaderid(MPPP.year, MPPP.month, max(MPPP.week), @IDProjectHeader) as Reals,

			isnull(
				(
					select top 1 Em.nama 
					from tblt_projectexecutionapprovalrole PEAR 
						inner join tbldw_usergroup UG on PEAR.username = UG.user_loginname 
						inner join tbldw_employee Em on UG.usergroup_pernr = Em.personalnumber 
						inner join tblt_projectexecutionstatus PES on PEAR.idprojectheader = PES.idprojectheaderid 
					where PEAR.idprojectheader = MPPP.idprojectheader
						and PEAR.periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, Max(MPPP.week)) 
						and PEAR.IsEnabled = '1'
						and (
							PEAR.isapprove is null or PEAR.isapprove = '0'
						)
						and PEAR.isactive = '1' 
						and PES.projectstatus = 'Submit'
						and PES.Periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, max(MPPP.week))
					order by IDRoleGroup asc
				), '-'
			) as Approval,

			convert(
				datetime, (
					select top 1 PEAR.updateddate
					from tblt_projectexecutionapprovalrole PEAR
						inner join tbldw_usergroup UG on PEAR.username = UG.user_loginname
						inner join tbldw_employee Em on UG.usergroup_pernr = Em.personalnumber 
						inner join tblt_projectexecutionstatus PES on PEAR.idprojectheader = PES.idprojectheaderid 
					where PEAR.idprojectheader = MPPP.idprojectheader 
						and PEAR.periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, max(MPPP.week)) 
						and PEAR.isactive = '1' 
						and PES.projectstatus = 'Submit'
					order by PEAR.updateddate desc
				), 106
			) as UpdateDate,

			case
				when exists(
					select TOP 1 PES.IDProjectHeaderID
					from TblT_ProjectExecutionStatus PES
					where PES.ProjectStatus = 'Approved'
						and PES.IDProjectHeaderID = @IDProjectHeader
						and PES.IsActive = 1
						and PES.Periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, Max(MPPP.week))
				) then 'Completed'
				when exists(
					select top 1 PES.IDProjectHeaderID
					from TblT_ProjectExecutionStatus PES
					where PES.ProjectStatus = 'Submit'
						and PES.IDProjectHeaderID = @IDProjectHeader
						and PES.IsActive = 1
						and PES.Periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, Max(MPPP.week)) 
				) then 'Waiting For Approval'
				else 'No realisation on this month'
			end as Status,

			'' as vars ,
			Max(MPPP.week),
			MPPP.Month,
			MPPP.Year

		from tblt_mppprojectplanpercentage MPPP

		where MPPP.isactive = 1
			and MPPP.idprojectheader = @IDProjectHeader
			and MPPP.year <= @yr
			and (
				cast(MPPP.year AS varchar(4)) + right('00' + Cast(MPPP.month AS varchar(2)), 2)
			)
			<= ( @yr + right('00' + cast(@mm as varchar(2)), 2) )
			and MPPP.taskid = (
				select top 1 MPPC.taskid
				from tblt_mppprojectplanpercentage MPPC
					inner join tblt_mppprojectplandetail MPD on MPPC.idprojectheader = MPD.projectheaderid and MPD.taskid = MPPC.taskid
				where idprojectheader = @IDProjectHeader
					and parentid = 0
					and MPD.Isactive = 1
					and MPPC.Isactive = 1
			)

		group by MPPP.month,
			MPPP.year,
			MPPP.idprojectheader,
			MPPP.taskid

		order by cast(MPPP.year as varchar(4)) + right('00' + cast(MPPP.month as varchar(2)), 2) + cast(max(MPPP.week) as varchar(1)) desc;

	end

	else begin

		insert into @Result

		select distinct MPPP.idprojectheader,
			'Minggu ke' + ' ' + convert(varchar, MPPP.week) + ', ' + [dbo].[Ufn_getmonthname_indonesia](MPPP.month) + ' ' + Cast(MPPP.year AS varchar(4)) as Periode,
			convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, MPPP.week) as Keys,
			MPPP.planpercentage as Plans,
			dbo.Ufn_getrealitationbeforebyprojectheaderid(MPPP.year, MPPP.month, MPPP.week, @IDProjectHeader) as Reals,
			
			isnull(
				(
					select top 1 Em.nama 
					from tblt_projectexecutionapprovalrole PEAR 
						inner join tbldw_usergroup UG on PEAR.username = UG.user_loginname 
						inner join tbldw_employee Em on UG.usergroup_pernr = Em.personalnumber
						inner join tblt_projectexecutionstatus PES on PEAR.idprojectheader = PES.idprojectheaderid
					where  PEAR.idprojectheader = MPPP.idprojectheader and PEAR.periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, MPPP.week) 
						and PEAR.IsEnabled = '1'
						and (PEAR.isapprove is null or PEAR.isapprove = '0') 
						and PEAR.isactive = '1' 
						and PES.ProjectStatus = 'Submit'
						and PES.Periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, MPPP.week)
					order by IDRoleGroup asc
				), '-'
			) as Approval,

			convert (
				datetime, (
					select top 1 PEAR.updateddate
					from tblt_projectexecutionapprovalrole PEAR
						inner join tbldw_usergroup UG on PEAR.username = UG.user_loginname 
						inner join tbldw_employee Em on UG.usergroup_pernr = Em.personalnumber 
					where PEAR.idprojectheader = MPPP.idprojectheader
						and PEAR.periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, (MPPP.week))
						and PEAR.isactive = '1'
					order by PEAR.updateddate desc
				), 106
			) as UpdateDate,
			
			case
				when exists (
					select top 1 PES.IDProjectHeaderID
					from TblT_ProjectExecutionStatus PES
					where PES.IDProjectHeaderID = @IDProjectHeader
						and PES.IsActive = 1
						and PES.Periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, (MPPP.week)) 
						and PES.ProjectStatus = 'Approved'
				) then 'Completed' 
				when exists (
					select top 1 PES.IDProjectHeaderID
					from TblT_ProjectExecutionStatus PES
					where PES.IDProjectHeaderID = @IDProjectHeader
						and PES.IsActive = 1
						and PES.Periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, (MPPP.week)) 
						and PES.ProjectStatus = 'Submit'
				) then 'Waiting for Approval' 
				else 'No realisation on this week'
			end as Status,
			
			cast(MPPP.year as varchar(4)) + RIGHT('00' + Cast(MPPP.month AS varchar(2)), 2) + Cast(MPPP.week AS varchar(1)) as vars,

			MPPP.Week,
			MPPP.Month,
			MPPP.Year
			
		from tblt_mppprojectplanpercentage MPPP
			left join tblt_mppprojectrealpercentage MPRP on MPPP.idprojectheader = MPRP.idprojectheader 
				and MPPP.taskid = MPRP.taskid 
				and MPPP.year = MPRP.year 
				and MPPP.month = MPRP.month 
				and MPPP.week = MPRP.week
		where MPPP.isactive = 1 
			and MPPP.idprojectheader = @IDProjectHeader
			and (
				cast(MPPP.year as varchar(4))
					+ right('00' + cast(MPPP.month AS varchar(2)), 2) 
					+ Cast(MPPP.week as varchar(1)) 
			) <= (
				@yr + right('00' + Cast(@mm AS varchar(2)), 2)
					+ cast(@wk as varchar(1)) 
			)
			and MPPP.taskid = (
				select top 1 MPPC.taskid
				from tblt_mppprojectplanpercentage MPPC 
					inner join tblt_mppprojectplandetail MPD on MPPC.idprojectheader = MPD.projectheaderid and MPD.taskid = MPPC.taskid
				where  idprojectheader = @IDProjectHeader 
					and parentid = 0
					and MPD.Isactive = 1
					and MPPC.Isactive = 1
			)
			order by cast(MPPP.year as varchar(4)) + RIGHT('00' + cast(MPPP.month as varchar(2)), 2) + cast(MPPP.week as varchar(1)) desc;
	end;
	
	return;
	
end;

GO
