USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetRealisasiKomitPercentageByProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetRealisasiKomitPercentageByProject]
(
	@ProjectHeaderID int
)
RETURNS  DECIMAL(30,2)
AS
BEGIN
	DECLARE @Result DECIMAL(30,2);

	SELECT @Result = ROUND((((SUM(RealValue) + SUM(KomitValue)) / SUM(RKATValue)) * 100 ),2) FROM 
	[Ufn_GetTotalAnggaran_ByProjectHeaderID](@ProjectHeaderID) P

	RETURN @Result
END
GO
