USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_MIgration_RealPercentage]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Insert_MIgration_RealPercentage]
AS
BEGIN
	SELECT 
	c.IDProjectHeader, 1 , 
	(
		SELECT MAX(DM.WeekOfMonth) FROM 
		APP_Dev_New..TblM_Date DM
		WHERE
		DM.Year = a.eval_proj_rlzn_TargetYear
		AND
		DM.Month = a.eval_proj_rlzn_TargetMonth
	) , 
	a.eval_proj_rlzn_TargetMonth,
	a.eval_proj_rlzn_TargetYear,
	NULL,
	a.eval_proj_rlzn_RealPercent,
	GETDATE(),
	'Migration2',
	NULL,
	NULL,
	1 
	FROM 
	VW_PROJ_MONITORING_MIGRATE_HOVIS a
	INNER JOIN 
	APP_Dev_New..TblM_Project b
	ON 
	a.proj_mast_No = b.ProjectNo
	AND
	b.IsTransformasi = 0
	AND
	b.Year = 2019
	INNER JOIN 
	APP_Dev_New..TblT_ProjectHeader c
	ON
	b.IDProject = c.IDProject
END



GO
