USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_CheckProjectIsFinish_NoMilestone]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE function [dbo].[Ufn_CheckProjectIsFinish_NoMilestone]
( 
	@ProjectHeaderID int
)
returns @Result table(
	TaskID int, 
	Milestones varchar(max), 
	selesai varchar(max), 
	statuss varchar(max), 
	button int
)
begin
	
	--set @ProjectHeaderID = (select dbo.Ufn_GetProjectHeaderRoot (@ProjectHeaderID));
	declare @ProjectHeaderIDRoot int = (select dbo.Ufn_GetProjectHeaderRoot (@ProjectHeaderID));

	insert into @Result
	select MPPPD.TaskID as ID, 
		MPPPD.TaskName as Milestones, 
		[dbo].[Ufn_GetMonthName_Indonesia](month(MPPPD.StartDate)) + ' ' + cast(year(MPPPD.StartDate) as varchar(4)) as Selesai,

		case
			when  (	
					select top 1 CompletePercentage 
					from TblT_MPPProjectRealPercentage MRPP 
					where
						MRPP.TaskID = MPPPD.TaskID
						and MRPP.IDProjectHeader = @ProjectHeaderID
					order by cast(MRPP.Year as varchar(4)) +  right('00'+cast(MRPP.Month as varchar(2)),2) + cast(MRPP.Week as varchar(1)) desc
				) = 100
				then 'FINISH'
			
			else (	
					case
						when getdate() > dateadd(dd, 0 , MPPPD.StartDate) then 'LATE'
						else 'ONGOING'
					end
				)
		end as Status,
		
		case
			when (
					convert(varchar(4), datepart(YYYY, MPPPD.StartDate))
						+ right('00' + convert(varchar(2), datepart(MM, MPPPD.StartDate)), 2)
				) <= (
					convert(varchar(4), datepart(YYYY, getdate()))
						+ right('00' + convert(varchar(2), datepart(MM, getdate())), 2)
				) then '1'
			else '1'
		end as Button

	from TblT_MPPProjectPlanDetail MPPPD
	where MPPPD.IsActive = '1'
		and MPPPD.ProjectHeaderID = @ProjectHeaderID
	order by MPPPD.TaskID asc, MPPPD.StartDate asc;

	return;

end;
GO
