USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Notifikasi_ECM]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_Notifikasi_ECM]   -- exec [Usp_Get_Notifikasi] '20000007'  [Usp_Get_Notifikasi_ECM] 'vivi' 
	@namauser varchar(50)

AS
BEGIN
	DECLARE @PersonNumber varchar(30)
	DECLARE @Username varchar(30) 
	DECLARE @Namee varchar(100)

	SET @Username = @namauser

	SELECT @PersonNumber = UG.Usergroup_Pernr FROM TblDW_Usergroup UG
	WHERE
	UG.User_LoginName = @namauser
	

	SELECT @Namee = EM.Nama FROM TblDW_Usergroup UG
	INNER JOIN 
	TblDW_Employee EM 
	ON
	UG.Usergroup_Pernr = EM.PersonalNumber
	WHERE
	UG.Usergroup_Pernr = @PersonNumber
	
	-- INITIATION
	
	select initiation.ProjectName,
		initiation.IDProject,
		'' as Category,
		'Initiation and Planning' as Phase,
		'-' as Periode,
		'-' as Keys,
		'/Proyek/ProjectInitiationCreate?IDProjectHeader=' +  CONVERT(varchar(max),initiation.IDProject) as URI
	from (
		select Proj.ProjectName,
			PH.IDProjectHeader as IDProject, 
			(
				select top 1 x.Username
				from TblT_ProjectInitApprovalRole x
				where x.IsActive = 1
					and x.IsEnabled = 1
					and (x.IsApprove = 0 or x.IsApprove is null)
					and x.IDProjectHeader = PH.IDProjectHeader
				order by x.Sequence desc
			) as Username
		from TblT_ProjectHeader PH
			inner join TblM_Project Proj on PH.IDProject = Proj.IDProject and Proj.IsActive = 1
		where PH.IsActive = 1 and PH.IDProjectStatus = 9
	) as initiation
	where initiation.Username = @Username
	
	union all 
	
	select 'Revisi ' + initiation.ProjectName,
		initiation.IDProject,
		'' as Category,
		'Initiation and Planning' as Phase,
		'-' as Periode,
		'-' as Keys,
		'/Proyek/ProjectInitiationCreate?IDProjectHeader=' +  CONVERT(varchar(max),initiation.IDProject) as URI

	from (
		select Proj.ProjectName,
			PH.IDProjectHeader as IDProject, 
			PIAR.Username
		from TblT_ProjectHeader PH
			inner join TblM_Project Proj on PH.IDProject = Proj.IDProject and Proj.IsActive = 1
			inner join TblT_ProjectInitApprovalRole PIAR on PH.IDProjectHeader = PIAR.IDProjectHeader and PIAR.IsActive = 1 and PIAR.IDRoleGroup = 2
		where PH.IsActive = 1 and PH.IDProjectStatus = 8
	) as initiation
	where initiation.Username = @Username

	union all 
	
	select distinct Proj.ProjectName, 
		PH.IDProjectHeader as IDProject, 
		'' as Catergory, 
		'Execution' as Phase,
		'' as Periode, 
		'' as Keys  ,
		'/Proyek/ProjectExecutionReport?ProjectHeaderID='+ CONVERT(varchar(max), PH.IDProjectHeader) + '&IsTransformasi=' + CONVERT(varchar(max),Proj.IsTransformasi)   as URI
	from TblT_ProjectHeader PH
		inner join TblM_Project Proj on PH.IDProject = Proj.IDProject and Proj.IsActive = 1
		left join Ufn_Get_AprovalEkseksiPerPeriode() TE on PH.IDProjectHeader = TE.IDProjectHeader
	where PH.IDProjectStatus --in (2, 10, 11, 13, 7)
		not in(1, 3, 4, 8, 9, 12, 13)
		and (TE.Approval <> '-' and TE.Approval is not null)
		and TE.Approval = @Namee
		
	union all

	select distinct 'Revisi ' + Proj.ProjectName, 
		PH.IDProjectHeader as IDProject, 
		'' as Catergory, 
		'Execution' as Phase,
		'' as Periode, 
		PEAH.Periode as Keys  ,
		'/Proyek/ProjectExecutionReport?ProjectHeaderID='+ CONVERT(varchar(max), PH.IDProjectHeader) +'&IsTransformasi=' + CONVERT(varchar(max),Proj.IsTransformasi)  as URI
	from TblT_ProjectHeader PH
		inner join TblM_Project Proj on PH.IDProject = Proj.IDProject and Proj.IsActive = 1
		inner join TblT_ProjectInitApprovalRole PIAR on PH.IDProjectHeader = PIAR.IDProjectHeader and PIAR.IsActive = 1 and PIAR.IDRoleGroup = 2 and PIAR.Username = @Username
		inner join (
		
			select *
			from (
				select x.IDProjectHeader,
					max(x.createddate) as createddate,
					x.Periode,
					x.Type,
					row_number() over (partition by x.idprojectheader, x.periode order by x.createddate desc) as RowRank
				from TblH_ProjectExecutionApprovalHistory x
				group by x.IDProjectHeader,
					x.Periode,
					x.Type,
					x.CreatedDate 
			) y
			where Rowrank = 1
		
		) PEAH on PEAH.IDProjectHeader = PH.IDProjectHeader and PEAH.Type = 'Revise'
	where PH.IDProjectStatus --in (2, 10, 11, 13, 7)
	not in(1, 3, 4, 8, 9, 12, 13)
	
	union all

	select Amandemen.ProjectName,
		Amandemen.IDProject,
		'' as Category,
		'Changes' as Phase,
		'-' as Periode,
		'-' as Keys,
		'/Proyek/ChangeManagementDetail?IDProjectHeader=' + CONVERT(varchar(max), Amandemen.IDProject) as URI
	from (
		select Proj.ProjectName,
			PH.IDProjectHeader as IDProject, 
			(
				select top 1 x.Username
				from TblT_ProjectChangesApprovalRole x
				where x.IsActive = 1
					and x.IsEnabled = 1
					and (x.IsApprove = 0 or x.IsApprove is null)
					and x.IDProjectChangeManagement = PCM.IDProjectChangeManagement
				order by x.Sequence desc
			) as Username
		from TblT_ProjectHeader PH
			inner join TblM_Project Proj on PH.IDProject = Proj.IDProject and Proj.IsActive = 1
			inner join TblT_ProjectChangeManagement PCM on PCM.IDProjectHeader = PH.IDProjectHeader and PCM.IsActive = 1
		where PH.IsActive = 1 and PH.IDProjectStatus = 10
	) as Amandemen
	where Amandemen.Username = @Username

	union all

	select distinct zz.ProjectName,
		zz.IDProjectHeader,
		'',
		'Execution' as Phase,
		'',
		'',
        '/Proyek/ProjectExecutionReport?ProjectHeaderID='+ CONVERT(varchar(max), zz.IDProjectHeader) + '&IsTransformasi=' + CONVERT(varchar(max),zz.IsTransformasi)    as URI
	from (
		select distinct b.IDProjectHeader,
			'(Milestone Deadline) ' + c.ProjectName as ProjectName,
			a.TaskName,
			a.EndDate,
			d.Username,
			c.IsTransformasi
		from TblT_MPPProjectPlanDetail a
			inner join TblT_ProjectHeader b on a.ProjectHeaderID = b.IDProjectHeader
			inner join TblM_Project c on c.IDProject = b.IDProject
			inner join TblT_ProjectInitApprovalRole d on d.IDProjectHeader = b.IDProjectHeader
		where a.IsActive = 1
			and IsMilestone = 1
			and c.IsTransformasi = 1
			and c.IsActive = 1
			and d.IDRoleGroup = 2
			and d.IsActive = 1
			and a.EndDate-2 <= getdate()
			and b.IDProjectStatus
			not in(1, 3, 4, 8, 9, 12, 13)
			and 100 != (select top 1 CompletePercentage
					from TblT_MPPProjectRealPercentage MRPP 
					where MRPP.TaskID = a.TaskID
						and MRPP.IDProjectHeader = b.IDProjectHeader
					order by cast(MRPP.Year as varchar(4)) +  RIGHT('00'+cast(MRPP.Month as varchar(2)),2) + cast(MRPP.Week as varchar(1)) desc
					)
			--and a.EndDate <=  DATEADD(DD, -2 , a.EndDate) 
	)zz
	where zz.Username = @Username

	order by IDProject;

END



GO
