USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_MasterDepartment]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_MasterDepartment]
	-- Add the parameters for the stored procedure here
	@IDDepartment int = null,
	@IDDirektorat int = null,
	@DepartmentCode varchar(4) = null,
	@CostCenter varchar(20) = null,
	@DepartmentName varchar(50) = null,
	@Description nvarchar(max) = null,
	@User varchar(50) = null,

	-- Type CRUD --
	@TypeTransaction varchar(10) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		begin transaction;
		
		declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @User);
		
		if(@Username = null) begin set @Username = '-'; end;

		if(@TypeTransaction = 'Insert')begin
			if(@DepartmentName is null) begin select 'F|Nama unit kerja belum di isi'; end
			else if exists(select DepartmentName from TblM_Department where DepartmentName like @DepartmentName and IsActive = 1) begin select 'F|Nama unit kerja tidak boleh sama'; end
			else if(@DepartmentCode is null) begin select 'F|Kode unit kerja belum di isi'; end
			else if exists(select DepartmentCode from TblM_Department where DepartmentCode like @DepartmentCode and IsActive = 1) begin select 'F|Kode unit kerja tidak boleh sama'; end
			else if(@CostCenter is null) begin select 'F|Cost center belum di isi'; end
			else begin
				insert into TblM_Department (
					DepartmentCode,
					IDDirektorat,
					CostCenter,
					DepartmentName,
					Description,
					CreatedDate,
					CreatedBy,
					IsActive
				)
				values(
					@DepartmentCode,
					@IDDirektorat,
					@CostCenter,
					@DepartmentName,
					@Description,
					getdate(),
					@Username,
					1
				);
				select 'S|Sukses';
			end;
		end
		else if(@TypeTransaction = 'Update')begin
			if(@DepartmentName is null) begin select 'F|Nama unit kerja belum di isi'; end
			else if(@DepartmentCode is null)begin select 'F|Kode unit kerja belum di isi'; end
			else if(@CostCenter is null) begin select 'F|Cost center belum di isi'; end
			else begin
				if exists(select * from TblM_Department where IDDepartment = @IDDepartment and IsActive = 1)begin
					update TblM_Department
					set DepartmentCode = @DepartmentCode,
						IDDirektorat = @IDDirektorat,
						CostCenter = @CostCenter,
						DepartmentName  =@DepartmentName,
						Description = @Description,
						UpdatedDate = getdate(),
						UpdatedBy = @Username
					where IDDepartment = @IDDepartment and IsActive = 1;
						select 'S|Sukses';
				end
				else begin select 'F|ID unit kerja tidak tersedia'; end;
			end;
		end
		else if(@TypeTransaction = 'Delete')begin
			if exists(select * from TblM_Department where IDDepartment = @IDDepartment and IsActive = 1)begin
				update TblM_Department
				set IsActive = 0
				where IDDepartment = @IDDepartment and IsActive = 1;
				select 'S|Sukses';
			end
			else begin select 'F|ID unit kerja tidak tersedia'; end;
		end
		else begin
			select 'F|Tipe transaksi tidak tersedia';
		end

		commit;
	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_MasterDepartment', @ErrNum, @ErrMsg, @Username;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch

END




GO
