USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_InisiasiProjectMPP]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andre Ibrahim Latief
-- Create date: 02 - 01 - 2019
-- Description:	Store Procedure For Insert data From MPP File
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_InisiasiProjectMPP]
	 @ProjectHeaderID int,
	 @DtTask Udt_MPPTaskDetailRev2 READONLY,
	 @DtResources Udt_MPPTaskResources READONLY,
	 @DtResourcesAssigment Udt_MPPTaskResourcesAssigment READONLY,
	 @DtLink Udt_MPPTaskResourcesTaskMapping READONLY,
	 @PersonNumber varchar(50)
AS
BEGIN
	-----------------------------------------------------------------------
	-- Declare Variable Username 
	-----------------------------------------------------------------------
	DECLARE @username varchar(30)
	DECLARE @ProjectHeadeID int
	SELECT @username = Username FROM TblT_UserAuthorized where PersonNumber = @PersonNumber

	-----------------------------------------------------------------------
	-- Begin Inserting Data to Table
	-----------------------------------------------------------------------
	BEGIN TRY
		BEGIN TRANSACTION insertMPPInisiasi
			
	-----------------------------------------------------------------------
	-- Insert data For table TblT_MPPProjectPlan
	-----------------------------------------------------------------------
			--INSERT INTO TblT_MPPProjectPlan
			--(
			--	[IDProjectHeader],
			--	[Year],
			--	[Month],
			--	[Date],
			--	[CreatedDate],
			--	[CreatedBy],
			--	[IsActive]
			--) 
			--SELECT
			--TOP 1 
			--	@ProjectHeaderID,
			--	CONVERT(varchar(4),YEAR(dtTask.taskStart)),
			--	MONTH(CAST(dtTask.taskStart as datetime)),
			--	DAY(CAST(dtTask.taskStart as datetime)),
			--	GETDATE(),
			--	@username,
			--	'1'
			--FROM
			--@DtTask dtTask

	-----------------------------------------------------------------------
	-- Insert data For table TblT_MPPProjectPlanDetail
	-----------------------------------------------------------------------
			INSERT INTO TblT_MPPProjectPlanDetail  			
			(
				[ProjectHeaderID],
				[ParentID],
				[TaskID],
				[TaskGUID],
				[TaskName],
				[StartDate],
				[EndDate],
				[Duration],
				[PercentageComplete],
				[OutlineLevel],
				[OutlineNumber],
				[CreatedDate],
				[CreatedBy],
				[IsActive],
				[Notes],
				[IsMilestone]
			)
			SELECT
				@ProjectHeaderID,
				cast(dtTask.taskParent as bigint),
				cast(dtTask.taskID as bigint),
				dtTask.taskGUID,
				dtTask.taskName,
				dtTask.taskStart,
				CONVERT(date, dtTask.taskEnd) taskEnd,
				dtTask.taskDuration,
				dtTask.taskCompleted,
				dtTask.taskOutlineLevel,
				dtTask.taskOutlineNumber,
				GETDATE(),
				@username,
				'1',
				dtTask.taskNotes,
				dtTask.taskType
			FROM
			@DtTask dtTask

		-- SET @ProjectHeadeID = SCOPE_IDENTITY()
	-----------------------------------------------------------------------
	-- Insert data For table TblT_MPPProjectResources
	-----------------------------------------------------------------------
		INSERT INTO TblT_MPPProjectResources
		(
			[ProjectHeaderID],
			[ResourceName],
			[ResourceID],
			[ResourceEmail],
			[CreatedDate],
			[CreatedBy],
			[IsActive]
		) 
		SELECT
			@ProjectHeaderID,
			dtResources.ResourceName,
			Cast(dtResources.ResourceID as int),
			dtResources.Email,
			GETDATE(),
			@username,
			'1'
		FROM 
		@DtResources dtResources

	-----------------------------------------------------------------------
	-- Insert data For table TblT_MPPProjectResourcesAssignment
	-----------------------------------------------------------------------
		INSERT INTO TblT_MPPProjectResourcesAssignment
		(
			[ProjectHeaderID],
			[ResourceID],
			[ResourceEmail],
			[TaskID],
			[Unit],
			[CreatedDate],
			[CreatedBy],
			[IsActive]
		)
		SELECT
			@ProjectHeaderID,
			cast(dtResourcesAssigment.ResourceID as int),
			dtResourcesAssigment.ResourceEmail,
			cast(dtResourcesAssigment.TaskID as int),
			dtResourcesAssigment.Unit,
			GETDATE(),
			@username,
			'1'
		FROM 
		@DtResourcesAssigment dtResourcesAssigment

	-----------------------------------------------------------------------
	-- Insert data For table TblT_MPPProjectPredecessor
	-----------------------------------------------------------------------
		INSERT INTO TblT_MPPProjectPredecessor
		(
			[ProjectHeaderID],
			[TaskID],
			[PredecessorID],
			[CreatedDate],
			[CreatedBy],
			[IsActive]
		)
		SELECT
			@ProjectHeaderID,
			dtLink.target ,
			dtLink.source ,
			GETDATE(),
			@username,
			'1'
		FROM
		@DtLink dtLink

		--EXEC Usp_Calculate_PercentagePlan @ProjectHeaderID , @Username

		EXEC Usp_Calculate_PlanPerncentageFix @ProjectHeaderID , @Username
		SELECT 'S|FILE MPP BERHASIL DI UPLOAD'
		COMMIT TRANSACTION insertMPPInisiasi
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION insertMPPInisiasi
		DECLARE @ERRMsg varchar(max), @ERRnum int
		SELECT @ERRMsg = ERROR_MESSAGE() , @ERRnum = ERROR_NUMBER()
		
		EXEC Usp_Insert_ErrorLog 'insert mpp', @ERRnum ,@ERRMsg, @username
	END CATCH
END




GO
