USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiReportPerPeriode_19032019]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [Usp_Get_ProjectEksekusiReportPerPeriode] '176' , '0'
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiReportPerPeriode_19032019]
	@IDProjectHeader INT
   ,@Tipe INT --- istransformasi
AS
BEGIN
	DECLARE @wk int ,@mm int ,@yr varchar(4)

	SELECT @wk = WeekOfMonth , @mm = Month , @yr = Year FROM
	TblM_Date 
	Where
	Date = CONVERT(date,GETDATE())
	IF @Tipe = 0
	BEGIN
		SELECT  
			
			MPPP.IDProjectHeader,
			[dbo].[Ufn_GetMonthName_Indonesia](MPPP.Month) + ' ' + CAST(MPPP.Year AS VARCHAR(4)) AS Periode
			,CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MAX(MPPP.Week)) AS Keys
			,MAX(MPPP.PlanPercentage) AS Plans
			,ROUND(ISNULL(
			(
				ISNULL
				(
					(
						SELECT TOP 1  CAST(SUBSTRING(CAST(MPRP.CompletePercentage as varchar),1,4)as DECIMAL(20,2)) FROM 
						TblT_MPPProjectRealPercentage MPRP 
						WHERE
						MPPP.IDProjectHeader = MPRP.IDProjectHeader 
						AND MPPP.TaskID = MPRP.TaskID  
						AND MPPP.YEar = MPRP.Year 
						AND MPPP.Month = MPRP.Month 
						AND MAX(MPPP.Week) = MPRP.Week 
					) , 

					(
						SELECT TOP 1  CAST(SUBSTRING(CAST(MPRP.CompletePercentage as varchar),1,4)as DECIMAL(20,2)) FROM 
						TblT_MPPProjectRealPercentage MPRP 
						WHERE
						MPPP.IDProjectHeader = MPRP.IDProjectHeader 
						AND MPPP.TaskID = MPRP.TaskID  
						--AND MPPP.YEar = MPRP.Year 
						--AND MPPP.Month = MPRP.Month 
						--AND MAX(MPPP.Week) = MPRP.Week 
						ORDER BY
						CreatedDate DESC
						
					) 
				) 
			), 0),0) AS Reals
			--,ISNULL(MPRP.RealPercentage, 0) AS Reals
			,
			ISNULL(
			(
				SELECT TOP 1  Em.Nama FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = MPPP.IDProjectHeader
				AND
				PEAR.Periode =
				CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MAX(MPPP.Week))
				AND
				(PEAR.IsApprove IS NULL or PEAR.IsApprove = '0' )
				AND
				PEAR.IsActive = '1'				
			) , '-' )
	
			as Approval
			,
			CONVERT ( datetime,
			(
				SELECT TOP 1  PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = MPPP.IDProjectHeader
				AND
				PEAR.Periode =
				CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MAX(MPPP.Week))
				AND
				PEAR.IsActive = '1'		
				ORDER BY PEAR.UpdatedDate DESC		
			),106) as UpdateDate,
			CASE
			WHEN
			EXISTS
			(
				SELECT TOP 1  PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = MPPP.IDProjectHeader
				AND
				PEAR.Periode =
				CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MAX(MPPP.Week))
				AND
				(PEAR.IsApprove = '1')
				AND
				PEAR.IsActive = '1'				
			) 
			THEN
			'Completed'
			WHEN
			EXISTS
			(
				SELECT TOP 1 PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = MPPP.IDProjectHeader
				AND
				PEAR.Periode =
				CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MAX(MPPP.Week))
				AND
				(PEAR.IsApprove IS NULL or PEAR.IsApprove = '0' )
				AND
				PEAR.IsActive = '1'				
			)
			THEN
			'Waiting for Approval'
			ELSE
			'Not Active'
			END
			as Status,
		'' as vars
		FROM TblT_MPPProjectPlanPercentage MPPP
		WHERE MPPP.IsActive = 1
			AND MPPP.IDProjectHeader = @IDProjectHeader
			AND MPPP.Year <= @yr--DATEPART(YYYY, GETDATE())
			AND 
			(CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2))-- + CAST(MPPP.Week AS VARCHAR(1))) 
			<= (@yr + RIGHT('00' + CAST(@mm AS VARCHAR(2)), 2))-- + CAST(@wk AS VARCHAR(1)))
			--AND MPPP.Week = (
			--	SELECT TOP 1 MC.Week FROM TblT_MPPProjectPlanPercentage MC 
			--	where
			--	MC.Month = MPPP.Month
			--	AND
			--	MC.Year = MPPP.Year
			--	ORDER BY MC.Week DESC
			--)
			AND MPPP.TaskID = (
				SELECT TOP 1 MPPC.TaskID
				FROM TblT_MPPProjectPlanPercentage MPPC
				INNER JOIN 
				TblT_MPPProjectPlanDetail MPD
				ON 
				MPPC.IDProjectHeader
				=
				MPD.ProjectHeaderID
				and
				MPD.TaskID
				=
				MPPC.TaskID
				WHERE IDProjectHeader = @IDProjectHeader
				and
				ParentID = 0
				-- ORDER BY TaskID ASC
				)
		GROUP BY MPPP.Month, MPPP.Year, MPPP.IDProjectHeader, MPPP.TaskID

		ORDER BY CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2) + CAST(MAX(MPPP.Week) AS VARCHAR(1)) DESC
	END

	IF @Tipe = 1
	BEGIN
		SELECT 
		DISTINCT
			MPPP.IDProjectHeader
			,'Minggu ke' + ' ' + CONVERT(VARCHAR, MPPP.Week) + ', ' + [dbo].[Ufn_GetMonthName_Indonesia](MPPP.Month) + ' ' + CAST(MPPP.Year AS VARCHAR(4)) AS Periode
			,CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MPPP.Week) AS Keys
			,MPPP.PlanPercentage AS Plans
			, ROUND(CAST(SUBSTRING(CAST(MPRP.CompletePercentage as varchar),1,4)as DECIMAL(20,2)),0) AS Reals,
			ISNULL((
				SELECT TOP 1  Em.Nama FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = MPPP.IDProjectHeader
				AND
				PEAR.Periode =
				CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, MPPP.Week)
				AND
				(PEAR.IsApprove IS NULL or PEAR.IsApprove = '0' )
				AND
				PEAR.IsActive = '1'				
			) , '-' )
	
			as Approval
			,
			CONVERT ( datetime,
			(
				SELECT TOP 1  PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = MPPP.IDProjectHeader
				AND
				PEAR.Periode =
				CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, (MPPP.Week))
				AND
				PEAR.IsActive = '1'		
				ORDER BY PEAR.UpdatedDate DESC		
			),106) as UpdateDate,
			CASE
			WHEN
			EXISTS
			(
				SELECT TOP 1  PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = MPPP.IDProjectHeader
				AND
				PEAR.Periode =
				CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, (MPPP.Week))
				AND
				(PEAR.IsApprove = '1')
				AND
				PEAR.IsActive = '1'				
			) 
			THEN
			'Completed'
			WHEN
			EXISTS
			(
				SELECT TOP 1  PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = MPPP.IDProjectHeader
				AND
				PEAR.Periode =
				CONVERT(VARCHAR, MPPP.Year) + '-' + CONVERT(VARCHAR, MPPP.Month) + '-' + CONVERT(VARCHAR, (MPPP.Week))
				AND
				(PEAR.IsApprove IS NULL or PEAR.IsApprove = '0' )
				AND
				PEAR.IsActive = '1'				
			)
			THEN
			'Waiting for Approval'
			ELSE
			'Not Active'
			END
			as Status, 
			CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2) + CAST(MPPP.Week AS VARCHAR(1)) as vars
			FROM TblT_MPPProjectPlanPercentage MPPP
			LEFT JOIN 
			TblT_MPPProjectRealPercentage MPRP 
			ON MPPP.IDProjectHeader = MPRP.IDProjectHeader AND MPPP.TaskID = MPRP.TaskID  AND MPPP.YEar = MPRP.Year AND MPPP.Month = MPRP.Month AND MPPP.Week = MPRP.Week  
			WHERE MPPP.IsActive = 1
			AND MPPP.IDProjectHeader = @IDProjectHeader
			--AND CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2) + CAST(MPPP.Week AS VARCHAR(1)) <=
			----and
			----MPPP.Year <= DATEPART(YYYY,GETDATE())
			----AND
			----(CAST(MPPP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(MPPP.Month AS Varchar(2)),2) + CAST(MPPP.Week as Varchar(1))) <= 
			--(CAST(DATEPART(YYYY, GETDATE()) AS VARCHAR(4)) + RIGHT('00' + CAST(DATEPART(MM, GETDATE()) AS VARCHAR(2)), 2) + CAST(DATEPART(wk, GETDATE()) AS VARCHAR(1)))
			AND 
			(CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2) + CAST(MPPP.Week AS VARCHAR(1))) 
			<= (@yr + RIGHT('00' + CAST(@mm AS VARCHAR(2)), 2) + CAST(@wk AS VARCHAR(1)))
			AND MPPP.TaskID = (
				--SELECT TOP 1 MPPC.TaskID
				--FROM TblT_MPPProjectPlanPercentage MPPC
				--WHERE IDProjectHeader = @IDProjectHeader
				--ORDER BY TaskID ASC
				SELECT TOP 1 MPPC.TaskID
				FROM TblT_MPPProjectPlanPercentage MPPC
				INNER JOIN 
				TblT_MPPProjectPlanDetail MPD
				ON 
				MPPC.IDProjectHeader
				=
				MPD.ProjectHeaderID
				and
				MPD.TaskID
				=
				MPPC.TaskID
				WHERE IDProjectHeader = @IDProjectHeader
				and
				ParentID = 0
			)
		ORDER BY CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2) + CAST(MPPP.Week AS VARCHAR(1)) DESC
	END
END




GO
