USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_Scheduler_Log]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_Scheduler_Log]
	-- Add the parameters for the stored procedure here
	@SchedulerName VARCHAR(20),
	
          @ErrDescription VARCHAR(500),
         @Star DATETIME,
         @End DATETIME
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from


INSERT INTO [dbo].[TblH_SchedulerLog]
           ([SchedulerName]
           ,[Description]
           ,[Start]
           ,[End]
           ,[ElapsedTime])
     VALUES
	 (
			@SchedulerName,
          @ErrDescription,
         @Star,
         @End,
		 DATEDIFF(s, @Star, @End)
		 )
       END




GO
