USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetStartDateEndDate_ByProjectHeaderID]
(
	-- Add the parameters for the function here
	@ProjectHeaderID int,
	@Type varchar(20)
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	declare @Result int;

	-- Add the T-SQL statements to compute the return value here
	if(@Type = 'StartYear') begin
		select top 1 @Result = year(StartDate)
		from TblT_MPPProjectPlanDetail
		where ProjectHeaderID = @ProjectHeaderID
			and IsActive = 1
		order by StartDate asc
	end
	else if (@Type = 'EndYear')begin
		select top 1 @Result = year(StartDate)
		from TblT_MPPProjectPlanDetail
		where ProjectHeaderID = @ProjectHeaderID
			and IsActive = 1
		order by StartDate desc
	end
	else if (@Type = 'StartMonth')begin
		select top 1 @Result = month(StartDate)
		from TblT_MPPProjectPlanDetail
		where ProjectHeaderID = @ProjectHeaderID
			and IsActive = 1
		order by StartDate asc
	end
	else if (@Type = 'EndMonth')begin
		select top 1 @Result = month(EndDate)
		from TblT_MPPProjectPlanDetail
		where ProjectHeaderID = @ProjectHeaderID
			and IsActive = 1
		order by EndDate desc
	end;
	else if (@Type = 'StartDay')begin
		select top 1 @Result = day(StartDate)
		from TblT_MPPProjectPlanDetail
		where ProjectHeaderID = @ProjectHeaderID
			and IsActive = 1
			and ParentID = 0
		order by TaskID asc
	end
	else if (@Type = 'EndDay')begin
		select top 1 @Result = day(EndDate)
		from TblT_MPPProjectPlanDetail
		where ProjectHeaderID = @ProjectHeaderID
			and IsActive = 1
			and ParentID = 0
		order by TaskID asc
	end;

	-- Return the result of the function
	RETURN @Result

END
GO
