USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterKPIValue]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MasterKPIValue]
	-- Add the parameters for the stored procedure here
	@PersonNumber varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	--select row_number() OVER ( ORDER BY ProjectNo DESC ) as NoUrut,
	--	b.IDKPIValue,
	--	a.IDProject,
	--	a.ProjectName,
	--	a.ProjectNo,
	--	b.TW1,
	--	b.TW2,
	--	b.TW3,
	--	b.TW4
	--from TblM_Project a
	--	left join TblM_KPIValue b on a.IDProject = b.IDProject and b.IsActive = 1
	--where a.IsActive = 1;

	select row_number() OVER ( ORDER BY ProjectNo DESC ) as NoUrut,bb.*
	from
	(
		select TOP 1 with ties
			b.IDKPIValue,
			a.IDProject,
			a.ProjectName,
			a.ProjectNo,
			b.TW1,
			b.TW2,
			b.TW3,
			b.TW4
		from TblM_Project a
			join TblM_KPIValue b on a.IDProject = b.IDProject and b.IsActive = 1
		where a.IsActive = 1 
		order by row_number() over (partition by a.IDProject order by b.TWYear desc)
	)bb

END




GO
