USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_BerandaProjectMileStone]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_BerandaProjectMileStone]
	@IDProject int,
	@Year varchar(4) = '',
	@Month varchar(2) = '',
	@Week varchar(2) = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TaskName as Name, CONVERT(NVARCHAR, EndDate, 106) as TargetDate, case PercentageComplete WHEN 0 THEN 0 WHEN 100 THEN 2 ELSE 1 END as [Status]
	FROM TblT_MPPProjectPlanDetail WHERE ProjectHeaderID = 11
END




GO
