USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Report_WeeklyMonitoring]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_Report_WeeklyMonitoring] -- exec Usp_Get_Report_WeeklyMonitoring '2019', 10, 2
	@Year varchar(4) = null,
	@Month int = null,
	@Week int = null,
	@IsTransformasi int = 0,
	@UnitKerja varchar(10) = '0',
	@UsernamePMO varchar(50) = '0',
	@UsernameOwner varchar(50) = '0',
	@UsernameSponsor varchar(50) = '0'

AS
BEGIN
	
	declare @Date date = null;

	if(@UsernamePMO = '0')begin select @UsernamePMO = ''; end;
	if(@UsernameOwner = '0')begin select @UsernameOwner = ''; end;
	if(@UsernameSponsor = '0')begin select @UsernameSponsor = ''; end;
	
	set @Date = getdate();
	if(@Year is null)set @Year = year(@Date);
	if(@Month is null)set @Month = month(@Date);
	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = convert(date, @Date));
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday') end;
	
	declare @DateFriday date = dateadd(day, -1, @Date);

	select *
	from (
		
		select 'Project' as Tipe,
			'-' as No,
			a.IDStrategicObjective,
			a.StrategicObjectiveCode,
			a.IDProgram,
			a.ProgramNo,
			a.IDProjectHeader,
			a.ProjectNo,
			a.IDDirektorat,
			a.DirektoratName,
			a.StrategicObjectiveName,
			a.ProgramName,
			a.ProjectName,
			a.DepartmentCode,
			a.NamaProjectManager,

			'' as StartDate,
			'' as EndDate,

			a.Pencapaian,
			a.PlanPencapaian,
			a.RealisasiPencapaian,
			a.Kendala,
			a.RencanaAksi,

			'0' as Anggaran,
			'0' as RealisasiAnggaran,
			'0' as KomitAnggaran,

			'' as Target,
			'' as Realisasi,
			
			a.IsTransformasi,
			a.IDProjectStatus,
			day(@DateFriday) as Tanggal,

			KPICode = stuff(
				(
					select ',' + t2.KPICode 
					from TblT_ProjectKPIOrganization t1
						inner join TblM_KPIOrganization t2 on t1.IDKPIOrganization = t2.IDKPIOrganization and t2.IsActive = 1
					where t1.IsActive = 1 and t1.IDProjectHeader = a.IDProjectHeader
					for xml path (''))
		         , 1, 1, ''
			),

			(
				isnull(
					(
						select top 1 Em.nama
						from tblt_projectexecutionapprovalrole PEAR
							inner join tbldw_usergroup UG on PEAR.username = UG.user_loginname
							inner join tbldw_employee Em on UG.usergroup_pernr = Em.personalnumber
							inner join tblt_projectexecutionstatus PES on PEAR.idprojectheader = PES.idprojectheaderid 
						where  PEAR.idprojectheader = a.IDProjectHeader
							and PEAR.periode = a.Periode
							and PEAR.IsEnabled = '1'
							and ( PEAR.isapprove is null or PEAR.isapprove = '0' )
							and PEAR.isactive = '1'
							and PES.ProjectStatus = 'Submit'
							and PES.Periode = a.Periode
						order by IDRoleGroup asc
					), '-'
				)
			) as LastUpdated,
			
			(
				case
					when exists (
						select top 1 PES.IDProjectHeaderID
						from TblT_ProjectExecutionStatus PES
						where PES.IDProjectHeaderID = a.IDProjectHeader
							and PES.IsActive = 1
							and PES.Periode = a.Periode
							and PES.ProjectStatus = 'Approved'
					) then 'Completed'
					when exists
						(
							select top 1 PES.IDProjectHeaderID
							from TblT_ProjectExecutionStatus PES
							where PES.IDProjectHeaderID = a.IDProjectHeader
								and PES.IsActive = 1
								and PES.Periode = a.Periode
								and PES.ProjectStatus = 'Submit'
						) then 'Waiting for Approval' 
					else 'No realisation on this week' 
				end
			) as StatusProject,
			
			a.NamaProgramManager,
			a.Periode,

			UsernameProjectOwner = stuff(
				(
					select ',' + y.empl_mast_username
					from TblT_ProjectInitApprovalRole x
						left join TblDW_EmployeeMapping y on x.Username = y.empl_mast_username
					where x.IDRoleGroup = 7
						and x.IDProjectHeader = a.IDProjectHeader
						and x.IsActive = 1
					for xml path('')
				), 1, 1, ''
			),

			NamaProjectOwner = stuff(
				(
					select ',' + y.empl_mast_Name
					from TblT_ProjectInitApprovalRole x
						left join TblDW_EmployeeMapping y on x.Username = y.empl_mast_username
					where x.IDRoleGroup = 7
						and x.IDProjectHeader = a.IDProjectHeader
						and x.IsActive = 1
					for xml path('')
				), 1, 1, ''
			),
			
			UsernameProjectSponsor = stuff(
				(
					select ',' + y.empl_mast_username
					from TblT_ProjectInitApprovalRole x
						left join TblDW_EmployeeMapping y on x.Username = y.empl_mast_username
					where x.IDRoleGroup = 8
						and x.IDProjectHeader = a.IDProjectHeader
						and x.IsActive = 1
					for xml path('')
				), 1, 1, ''
			),

			NamaProjectSponsor = stuff(
				(
					select ',' + y.empl_mast_Name
					from TblT_ProjectInitApprovalRole x
						left join TblDW_EmployeeMapping y on x.Username = y.empl_mast_username
					where x.IDRoleGroup = 8
						and x.IDProjectHeader = a.IDProjectHeader
						and x.IsActive = 1
					for xml path('')
				), 1, 1, ''
			)

		from TblD_ListProject a

		where a.IsActive = 1
			and a.IsTransformasi = 1
			and a.DateDownload = @Date
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 3, 8, 9, 12, 13)--not in(1, 8, 9, 13)
			and isnull(a.UsernameProgramManager, '') like '%' + @UsernamePMO + '%'
			and ((@UnitKerja != '0' and a.IDDepartment = @UnitKerja)or @UnitKerja = '0' and 1 = 1)


		group by a.IDStrategicObjective,
			a.StrategicObjectiveCode,
			a.IDProgram,
			a.ProgramNo,
			a.IDProjectHeader,
			a.ProjectNo,
			a.IDDirektorat,
			a.DirektoratName,
			a.StrategicObjectiveName,
			a.ProgramName,
			a.ProjectName,
			a.DepartmentCode,
			a.NamaProjectManager,
			a.StartDay,a.StartMonth,a.StartYear,
			a.EndDay,a.EndMonth,a.EndYear,
			a.Pencapaian,
			a.PlanPencapaian,
			a.RealisasiPencapaian,
			a.Kendala,
			a.RencanaAksi,
			a.Anggaran,
			a.IDProjectStatus,
			a.RealisasiAnggaran,
			a.KomitAnggaran,
			a.IsTransformasi,
			a.NextApproval,
			a.StatusProject,
			a.NamaProgramManager,
			a.Periode

	) as obj
	
	where isnull(obj.UsernameProjectOwner, '') like '%' + @UsernameOwner + '%'
		and isnull(obj.UsernameProjectSponsor, '') like '%' + @UsernameSponsor + '%'
	
	order by obj.StatusProject desc, obj.StrategicObjectiveCode asc, obj.ProgramNo asc, obj.ProjectNo asc;

END




GO
