USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Delete_AuthorizedUser]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Delete_AuthorizedUser] @PersonNumber VARCHAR(20)
	,@Username VARCHAR(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION DeleteUser

		DECLARE @usernamae VARCHAR(30)

		SELECT @usernamae = UA.Username
		FROM TblT_UserAuthorized UA
		WHERE PersonNumber = @PersonNumber

		UPDATE TblT_UserAuthorized
		SET IsActive = '0'
			,UpdatedDate = GETDATE()
			,UpdatedBy = @Username
		WHERE PersonNumber = @PersonNumber

		UPDATE TblT_ProjectRoleGroup
		SET IsActive = '0'
			,UpdatedDate = GETDATE()
			,UpdatedBy = @Username
		WHERE Username = @usernamae

		UPDATE TblT_ProjectInitApprovalRole
		SET IsActive = '0'
			,UpdatedDate = GETDATE()
			,UpdatedBy = @Username
		WHERE Username = @usernamae

		--UPDATE TblT_ProjectExecutionApprovalRole
		--SET IsActive = '0'
		--	,UpdatedDate = GETDATE()
		--	,UpdatedBy = @Username
		--WHERE 
		--Username = @usernamae
		--AND
		--( IsApprove = 0 OR IsApprove IS NULL )

		SELECT 'S|User Berhasil Di-Non-Atifkan'

		COMMIT TRANSACTION DeleteUser
	END TRY

	BEGIN CATCH
		ROLLBACK TRANSACTION DeleteUser

		EXEC Usp_Insert_ErrorLog 'Usp_Delete_AuthorizedUser'
			,ERROR_NUMBER
			,ERROR_MESSAGE
			,@Username
	END CATCH
END




GO
