USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_MKU]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_MKU](
	[IdMku] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NOT NULL,
	[IdDepartment] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblM_MKU]  WITH CHECK ADD FOREIGN KEY([IdDepartment])
REFERENCES [dbo].[TblM_Department] ([IDDepartment])
GO
