USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_AprovalEkseksiPerPeriode]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:     
-- Create date:  
-- Description:   
-- ============================================= 
CREATE FUNCTION [dbo].[Ufn_Get_AprovalEkseksiPerPeriode] () 

returns @Result table ( 
	IDProjectHeader int, 
	Periode varchar(max), 
	Keys varchar(max), 
	Approval varchar(max)
) 

as begin
	
	declare @wk int, @mm int, @yr varchar(4), @Tipe int;
	
	select @wk = weekofmonth,
		@mm = month,
		@yr = year
	from tblm_date
	where date = convert(date, getdate());
	

	
	-----------------------------------------------------------------------
	
		insert into @Result
		select MPPP.idprojectheader,
			[dbo].[Ufn_getmonthname_indonesia](MPPP.month) + ' ' + Cast(MPPP.year as varchar(4)) as Periode,

			convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, Max(MPPP.week)) as Keys,
			isnull(
				(
					select top 1 Em.nama 
					from tblt_projectexecutionapprovalrole PEAR 
					     inner join tbldw_usergroup UG				on PEAR.username = UG.user_loginname 
					     inner join tbldw_employee Em				on UG.usergroup_pernr = Em.personalnumber 
					     inner join tblt_projectexecutionstatus PES on PEAR.idprojectheader = PES.idprojectheaderid 
					where PEAR.idprojectheader = MPPP.idprojectheader
						and PEAR.periode = convert(varchar, MPPP.year) + '-' + convert(varchar, MPPP.month) + '-' + convert(varchar, Max(MPPP.week)) 
						and PEAR.IsEnabled = '1'
					    and ( PEAR.isapprove is null or PEAR.isapprove = '0' ) 
					    and PEAR.isactive = '1' 
					    and PES.projectstatus = 'Submit'
						and PES.Periode =
							convert(varchar, MPPP.year) + '-'
							+ convert(varchar, MPPP.month) + '-'
							+ convert(varchar, max(MPPP.week))
					order by IDRoleGroup asc
				), '-'
			) as Approval
		
		from tblt_mppprojectplanpercentage MPPP 
		join tblt_projectheader PH ON MPPP.idprojectheader = PH.idprojectheader
		join tblm_project Proj ON PH.idproject = Proj.idproject
		join tblt_mppprojectplandetail MPD on MPPP.idprojectheader = MPD.projectheaderid AND MPPP.taskid = MPD.TaskID
		where MPPP.isactive = 1 
			AND Proj.IsTransformasi = 0
			AND MPD.parentid = 0
			and MPD.Isactive = 1
			and MPPP.year <= @yr
			and ( Cast(MPPP.year AS varchar(4)) + right('00' + Cast(MPPP.month AS varchar(2)), 2) ) <= ( @yr + right('00' + Cast(@mm AS varchar(2)), 2) )
		group by MPPP.idprojectheader,
			MPPP.taskid,
			MPPP.Year,
			MPPP.Month
	union all
            select distinct MPPP.idprojectheader, 
                            'Minggu ke' + ' ' + convert(varchar, MPPP.week) 
                            + ', ' 
                            + [dbo].[Ufn_getmonthname_indonesia](MPPP.month) 
                            + ' ' + Cast(MPPP.year AS varchar(4)) 
                            AS 
                            Periode, 
                            convert(varchar, MPPP.year) + '-' 
                            + convert(varchar, MPPP.month) + '-' 
                            + convert(varchar, MPPP.week) 
                            AS 
                            Keys, 

  Isnull((select top 1 Em.nama 
          from   tblt_projectexecutionapprovalrole PEAR 
                 inner join tbldw_usergroup UG 
                         ON PEAR.username = 
                            UG.user_loginname 
                 inner join tbldw_employee Em 
                         ON UG.usergroup_pernr = 
                            Em.personalnumber 
							 inner join tblt_projectexecutionstatus PES 
                             ON PEAR.idprojectheader = 
                                PES.idprojectheaderid 
          where  PEAR.idprojectheader = MPPP.idprojectheader 
                 and PEAR.periode = convert(varchar, 
                                    MPPP.year) + 
                                    '-' 
                                    + convert(varchar, 
                                    MPPP.month) 
                                    + '-' 
                                    + convert(varchar, 
                                    MPPP.week) 
				 and PEAR.IsEnabled = '1'
                 and ( PEAR.isapprove is null 
                        OR PEAR.isapprove = '0' ) 
                 and PEAR.isactive = '1' 
				 and
				 PES.ProjectStatus = 'Submit'
				  and
					 PES.Periode = convert(varchar, 
								   MPPP.year) + 
								   '-' 
								   + convert(varchar, 
								   MPPP.month) 
                                   + '-' 
                                   + convert(varchar, 
                                   MPPP.week) 
				 ORDER BY IDRoleGroup ASC), '-') 
  AS 
  Approval
  from   tblt_mppprojectplanpercentage MPPP
  join tblt_projectheader PH ON MPPP.idprojectheader = PH.idprojectheader
  join tblm_project Proj ON PH.idproject = Proj.idproject
	join tblt_mppprojectplandetail MPD on MPPP.idprojectheader = MPD.projectheaderid AND MPPP.taskid = MPD.TaskID
  LEFT JOIN tblt_mppprojectrealpercentage MPRP 
	  ON MPPP.idprojectheader = MPRP.idprojectheader 
	   and MPPP.taskid = MPRP.taskid 
	   and MPPP.year = MPRP.year 
	   and MPPP.month = MPRP.month 
	   and MPPP.week = MPRP.week 
  where  MPPP.isactive = 1 
	  and Proj.IsTransformasi = 1
	  and ( Cast(MPPP.year AS varchar(4)) 
	  + right('00' + Cast(MPPP.month AS varchar(2)), 2) 
	  + Cast(MPPP.week AS varchar(1)) ) <= ( 
	  @yr 
	  + right('00' + Cast(@mm AS varchar(2)), 
	  2) 
	  + Cast(@wk AS varchar(1)) ) 
	  AND  MPD.parentid = 0  and MPD.Isactive = 1

      RETURN 
  END 

GO
