USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_Project_ExecutionByIDProjectHeader]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE FUNCTION [dbo].[Ufn_Get_Project_ExecutionByIDProjectHeader] (@IDProjectHeader BIGINT)
-- SELECT * FROM [Ufn_Get_Project_ExecutionList] ()
-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
RETURNS @result TABLE (
  IDProject int,
  IDProjectHeader int,
  ProjectName varchar(max),
  StartDate datetime,
  EndDate datetime,
  TaskID bigint,
  Realisasi float,
  Planning float,
  Pencapaian float,
  IsTransformasi bit,
  LastUpdateBy varchar(20),
  LastUpdateDate datetime
)
AS

BEGIN
  DECLARE @year varchar(4),
          @month int,
          @week int

  SELECT
    @year = D.Year,
    @month = D.Month,
    @week = D.WeekOfMonth
  FROM TblM_Date D
  WHERE D.Date = CONVERT(date, GETDATE())

  INSERT INTO @result
    SELECT
    DISTINCT
      PH.IDProject,
      PH.IDProjectHeader,
      PROJ.ProjectName,
      PPD.StartDate,
      PPD.EndDate,
      PPD.TaskID,
      ISNULL((SELECT TOP 1
        CompletePercentage
      FROM TblT_MPPProjectRealPercentage PRP
      WHERE PRP.TaskID = PPD.TaskID
      AND PRP.IDProjectHeader = PH.IDProjectHeader
      AND PRP.IsActive = '1'
      ORDER BY CAST(PRP.Year AS varchar(4)) + RIGHT('00' + CAST(PRP.Month AS varchar(2)), 2) + CAST(PRP.Week AS varchar(1)) DESC), 0) AS Realisasi,
      CASE
        WHEN
          Proj.IsTransformasi = '1' THEN ISNULL((SELECT TOP 1
            PlanPercentage
          FROM TblT_MPPProjectPlanPercentage PRP
          WHERE PRP.TaskID = PPD.TaskID
          AND PRP.IDProjectHeader = PH.IDProjectHeader
          AND PRP.IsActive = '1'
          AND CAST(PRP.Year AS varchar(4)) + RIGHT('00' + CAST(PRP.Month AS varchar(2)), 2) + CAST(PRP.Week AS varchar(1))
          <=
          CAST(@year AS varchar(4)) + RIGHT('00' + CAST(@month AS varchar(2)), 2) + CAST(@week AS varchar(1))
          ORDER BY CAST(PRP.Year AS varchar(4)) + RIGHT('00' + CAST(PRP.Month AS varchar(2)), 2) + CAST(PRP.Week AS varchar(1)) DESC), 0)
        ELSE ISNULL((SELECT TOP 1
            PlanPercentage
          FROM TblT_MPPProjectPlanPercentage PRP
          WHERE PRP.TaskID = PPD.TaskID
          AND PRP.IDProjectHeader = PH.IDProjectHeader
          AND PRP.IsActive = '1'
          AND CAST(PRP.Year AS varchar(4)) + RIGHT('00' + CAST(PRP.Month AS varchar(2)), 2)
          <=
          CAST(@year AS varchar(4)) + RIGHT('00' + CAST(@month AS varchar(2)), 2)
          ORDER BY CAST(PRP.Year AS varchar(4)) + RIGHT('00' + CAST(PRP.Month AS varchar(2)), 2) + CAST(PRP.Week AS varchar(1)) DESC), 0)
      END
      AS Planning,
      ROUND(
      (
      (
      ROUND(
      ISNULL((SELECT TOP 1
        CompletePercentage
      FROM TblT_MPPProjectRealPercentage PRP
      WHERE PRP.TaskID = PPD.TaskID
      AND PRP.IDProjectHeader = PH.IDProjectHeader
      AND PRP.IsActive = '1'
      ORDER BY CAST(PRP.Year AS varchar(4)) + RIGHT('00' + CAST(PRP.Month AS varchar(2)), 2) + CAST(PRP.Week AS varchar(1)) DESC), 0), 0
      ) /
      NULLIF(
      ROUND(
      ISNULL((SELECT TOP 1
        PlanPercentage
      FROM TblT_MPPProjectPlanPercentage PRP
      WHERE PRP.TaskID = PPD.TaskID
      AND PRP.IDProjectHeader = PH.IDProjectHeader
      AND PRP.IsActive = '1'
      AND CAST(PRP.Year AS varchar(4)) + RIGHT('00' + CAST(PRP.Month AS varchar(2)), 2) + CAST(PRP.Week AS varchar(1))
      <=
      CAST(@year AS varchar(4)) + RIGHT('00' + CAST(@month AS varchar(2)), 2) + CAST(@week AS varchar(1))
      ORDER BY CAST(PRP.Year AS varchar(4)) + RIGHT('00' + CAST(PRP.Month AS varchar(2)), 2) + CAST(PRP.Week AS varchar(1)) DESC), 0), 0), 0)
      ) * 100), 0)
      AS Pencapaian,
      PROJ.IsTransformasi,
      (SELECT TOP 1
        UG.User_LoginName
      FROM TblT_ProjectExecutionApprovalRole PEAR
      INNER JOIN TblDW_Usergroup UG
        ON PEAR.Username = UG.User_LoginName
      INNER JOIN TblDW_Employee Em
        ON UG.Usergroup_Pernr = Em.PersonalNumber
      WHERE PEAR.IDProjectHeader = PH.IDProjectHeader
      AND PEAR.IsApprove = '1'
      AND PEAR.IsActive = '1'
      ORDER BY PEAR.UpdatedDate DESC)
      AS LastUpdateBy,
      (SELECT TOP 1
        PEAR.UpdatedDate
      FROM TblT_ProjectExecutionApprovalRole PEAR
      INNER JOIN TblDW_Usergroup UG
        ON PEAR.Username = UG.User_LoginName
      INNER JOIN TblDW_Employee Em
        ON UG.Usergroup_Pernr = Em.PersonalNumber
      WHERE PEAR.IDProjectHeader = PH.IDProjectHeader
      AND PEAR.IsApprove = '1'
      AND PEAR.IsActive = '1'
      ORDER BY PEAR.UpdatedDate DESC)
      AS LastUpdateDate
    FROM TblM_Project PROJ
    INNER JOIN TblT_ProjectHeader PH
      ON PROJ.IDProject = PH.IDProject
    INNER JOIN TblT_MPPProjectPlanDetail PPD
      ON PH.IDProjectHeader = PPD.ProjectHeaderID
      AND PPD.ParentID = 0
      AND PPD.IsActive = '1'
      AND PPD.TaskID = (SELECT TOP 1
        MPD.TaskID
      FROM TblT_MPPProjectPlanDetail MPD
      WHERE MPD.ProjectHeaderID = PH.IDProjectHeader
      AND MPD.IsActive = '1'
      AND MPD.ParentID = 0
      ORDER BY TaskID ASC)
    WHERE  PH.IDProjectHeader = @IDProjectHeader
	AND PROJ.IsActive = 1
    AND PH.IDProjectStatus IN (2,4)
	
  --PH.IDProjectHeader IN 
  --(
  --	SELECT 
  --		IDProjectHeader 
  --	FROM 
  --	TblT_ProjectInitApprovalRole PIAR WHERE 
  --	PIAR.Sequence = 1 AND PIAR.IsApprove = 1 AND 
  --	PIAR.IsActive = 1 AND PIAR.IsEnabled = 1			
  --)


  RETURN

END
GO
