USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_MPPProjectPlan]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_MPPProjectPlan](
	[IDMPPProjectPlan] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NULL,
	[Year] [varchar](4) NULL,
	[Month] [int] NULL,
	[Week] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblT_MPPProjectPlan] PRIMARY KEY CLUSTERED 
(
	[IDMPPProjectPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblT_MPPProjectPlan]  WITH CHECK ADD  CONSTRAINT [FK_TblT_MPPProjectPlan_TblT_ProjectHeader] FOREIGN KEY([IDMPPProjectPlan])
REFERENCES [dbo].[TblT_ProjectHeader] ([IDProjectHeader])
GO
ALTER TABLE [dbo].[TblT_MPPProjectPlan] CHECK CONSTRAINT [FK_TblT_MPPProjectPlan_TblT_ProjectHeader]
GO
