USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Report_SummaryTransformasiNonTransformasi]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- EXEC Usp_Get_Report_SummaryTransformasiNonTransformasi '0', '5' , '2019', 0
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_Report_SummaryTransformasiNonTransformasi]
	@week int = null,
	@month int,
	@year int,
	@tipe int = null
AS
BEGIN


	declare @Date date = null;

	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc) end;




	--declare @Date date = null;
	----DECLARE @Year int = 2019;
	----DECLARE @Month int = 3
	DECLARE @IsTransformasi int = @tipe

	--set @Date = getdate();

	--if(@Year is null)set @Year = year(getdate());
	--if(@Month is null)set @Month = month(getdate());
	--if(
	--	@Year = (select Year from TblM_Date where Date = @Date)
	--	and @Month = (select Month from TblM_Date where Date = @Date)
	--) begin set @Date = getdate() end
	--else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc) end;

	IF @tipe = 2
	BEGIN
	
		select convert(varchar(max),  format (row_number() over(order by StrategicObjectiveCode, ProgramNo), '0#')) + ' - ' + ProgramName as NamaProgram,
			convert(varchar(max),CONVERT(DOUBLE PRECISION,RealisasiPencapaian)) as RataPencapain ,
			FORMAT(Anggaran,'#,0') as TotalAnggaran ,
			CASE
			WHEN
			ROUND(RealisasiPencapaian,2) >= 110
			THEN
			 '<div class="circle" style="background : blue"></div>'
			WHEN
			ROUND(RealisasiPencapaian,2) BETWEEN 100 and 109
			THEN
			 '<div class="circle" style="background : green"></div>'
			WHEN
			ROUND(RealisasiPencapaian,2) BETWEEN 85 and 99
			THEN
			 '<div class="circle" style="background : yellow"></div>'
			ELSE
			(
				CASE WHEN RealisasiPencapaian = 0 
				THEN
				 '<div class="circle" style="background : grey"></div>'
				ELSE
				 '<div class="circle" style="background : red"></div>'
				END
			)
			
			END as Status,
			ISNULL(convert(varchar(max),CONVERT(DOUBLE PRECISION, CAST(100 * (RealisasiAnggaran / NULLIF(Anggaran,0))  as decimal(18,2))  )),0) as Realisasi,
			cast(cast(isnull(RealisasiKomit/nullif(Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50))  as RealKomit
		FROM (
			select 				
				IDProgram,
				ProgramName,
				ProgramNo,
				StrategicObjectiveCode,  
				isnull(sum(Anggaran)/1000000, 0.00) as Anggaran,
				isnull(
				round(100 * avg(RealPenc) / avg(Planning), 2)
				, 0)
				as RealisasiPencapaian,
				sum(RealisasiAnggaran)/1000000 as RealisasiAnggaran,
				sum(RealisasiKomit)/1000000 as RealisasiKomit		
			from (
				select a.IDStrategicObjective,
					a.StrategicObjectiveCode,
					a.IDProgram,
					a.ProgramNo,
					a.StrategicObjectiveName,
					isnull(cast(a.RealisasiAnggaran as numeric),0) as RealisasiAnggaran,
					isnull(cast(a.RealisasiAnggaran as numeric),0) + isnull(cast(a.KomitAnggaran as numeric),0) as RealisasiKomit,
					a.ProgramName,
					cast(a.Anggaran as numeric) as Anggaran,
					a.ProjectName,
					a.Pencapaian as Realisasi,

					case
						when a.IDProjectStatus <> 1
							and a.IDProjectStatus <> 7
							and a.IDProjectStatus <> 8
							and a.IDProjectStatus <> 9
							and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.PlanPencapaian
						else null
					end as Planning,
					
					case
						when a.IDProjectStatus <> 1
							and a.IDProjectStatus <> 7
							and a.IDProjectStatus <> 8
							and a.IDProjectStatus <> 9
							and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.RealisasiPencapaian
						else null
					end as RealPenc,

					a.IDProjectStatus,
					a.StartYear,
					a.StartMonth,
					a.StartDay

				from TblD_ListProject a

				where a.IsActive = 1
					-- and a.IsTransformasi = @IsTransformasi
					-- and a.IDDirektorat = @IDDirektorat
					and a.DateDownload = @Date
					and (@Year between a.StartYear and a.EndYear)

			)zz
			group by IDProgram, ProgramName, IDStrategicObjective, StrategicObjectiveName, StrategicObjectiveCode, ProgramNo
			)RX 

			UNION ALL

			SELECT 
			'Total' as NamaProgram ,		
			convert(varchar(max),CONVERT(DOUBLE PRECISION,			
			(round(100 * avg(RealPenc) / avg(Planning), 2))					
			)) as RataPencapain ,
			FORMAT(SUM(Anggaran),'#,0') as TotalAnggaran ,
			NULL as Status,
			ISNULL(convert(varchar(max),CONVERT(DOUBLE PRECISION, CAST(100 * (SUM(RealisasiAnggaran) / NULLIF(SUM(Anggaran),0))  as decimal(18,2))  )),0) as Realisasi,
			cast(cast(isnull(SUM(RealisasiKomit)/nullif(SUM(Anggaran), 0)*100, 0.00) as decimal(18,2)) as varchar(50))  as RealKomit
		FROM (
			select 				
				IDProgram,
				ProgramName,
				ProgramNo,
				StrategicObjectiveCode,
				Planning ,   RealPenc,
				isnull(sum(Anggaran)/1000000, 0.00) as Anggaran,
				isnull(
				round(100 * avg(RealPenc) / avg(Planning), 2)
				, 0)
				as RealisasiPencapaian,
				sum(RealisasiAnggaran)--/1000000 
				as RealisasiAnggaran,
				sum(RealisasiKomit)--/1000000 
				as RealisasiKomit		
			from (
				select a.IDStrategicObjective,
					a.StrategicObjectiveCode,
					a.IDProgram,
					a.ProgramNo,
					a.StrategicObjectiveName,
					isnull(cast(a.RealisasiAnggaran as numeric),0) as RealisasiAnggaran,
					isnull(cast(a.RealisasiAnggaran as numeric),0) + isnull(cast(a.KomitAnggaran as numeric),0) as RealisasiKomit,
					a.ProgramName,
					cast(a.Anggaran as numeric) as Anggaran,
					a.ProjectName,
					a.Pencapaian as Realisasi,

					case
						when a.IDProjectStatus <> 1
							and a.IDProjectStatus <> 7
							and a.IDProjectStatus <> 8
							and a.IDProjectStatus <> 9
							and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.PlanPencapaian
						else null
					end as Planning,
					
					case
						when a.IDProjectStatus <> 1
							and a.IDProjectStatus <> 7
							and a.IDProjectStatus <> 8
							and a.IDProjectStatus <> 9
							and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.RealisasiPencapaian
						else null
					end as RealPenc,

					a.IDProjectStatus,
					a.StartYear,
					a.StartMonth,
					a.StartDay

				from TblD_ListProject a

				where a.IsActive = 1
					-- and a.IsTransformasi = @IsTransformasi
					-- and a.IDDirektorat = @IDDirektorat
					and a.DateDownload = @Date
					and (@Year between a.StartYear and a.EndYear)

			)zz
			group by IDProgram, ProgramName, IDStrategicObjective, StrategicObjectiveName, StrategicObjectiveCode, ProgramNo, 				Planning ,   RealPenc
			)RX 


		
		--	SELECT 
		--	CONVERT(VARCHAR(max),  format (ROW_NUMBER() OVER (ORDER BY  StrategicObjectiveCode, ProgramNo),'0#'))  + ' - ' +
		--	ProgramName as NamaProgram ,
		
		--	convert(varchar(max),CONVERT(DOUBLE PRECISION,RealisasiPencapaian)) as RataPencapain ,
		--	FORMAT(Anggaran,'#,0') as TotalAnggaran ,
		--	CASE
		--	WHEN
		--	ROUND(RealisasiPencapaian,2) >= 110
		--	THEN
		--	 '<div class="circle" style="background : blue"></div>'
		--	WHEN
		--	ROUND(RealisasiPencapaian,2) BETWEEN 100 and 109
		--	THEN
		--	 '<div class="circle" style="background : green"></div>'
		--	WHEN
		--	ROUND(RealisasiPencapaian,2) BETWEEN 85 and 99
		--	THEN
		--	 '<div class="circle" style="background : yellow"></div>'
		--	ELSE
		--	(
		--		CASE WHEN RealisasiPencapaian = 0 
		--		THEN
		--		 '<div class="circle" style="background : grey"></div>'
		--		ELSE
		--		 '<div class="circle" style="background : red"></div>'
		--		END
		--	)
			
		--	END as Status,
		--	ISNULL(convert(varchar(max),CONVERT(DOUBLE PRECISION, CAST(100 * (RealisasiAnggaran / NULLIF(Anggaran,0))  as decimal(18,2))  )),0) as Realisasi,
		--	cast(cast(isnull(RealisasiKomit/nullif(Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50))  as RealKomit
		--FROM (
		--	select 				
		--		IDProgram,
		--		ProgramName,
		--		ProgramNo,
		--		StrategicObjectiveCode,  
		--		isnull(sum(Anggaran)/1000000, 0.00) as Anggaran,
		--		isnull(
		--		round(100 * avg(RealPenc) / avg(Planning), 2)
		--		, 0)
		--		as RealisasiPencapaian,
		--		sum(RealisasiAnggaran)/1000000 as RealisasiAnggaran,
		--		sum(RealisasiKomit)/1000000 as RealisasiKomit		
		--	from (
		--		select a.IDStrategicObjective,
		--			a.StrategicObjectiveCode,
		--			a.IDProgram,
		--			a.ProgramNo,
		--			a.StrategicObjectiveName,
		--			isnull(cast(a.RealisasiAnggaran as numeric),0) as RealisasiAnggaran,
		--			isnull(cast(a.RealisasiAnggaran as numeric),0) + isnull(cast(a.KomitAnggaran as numeric),0) as RealisasiKomit,
		--			a.ProgramName,
		--			cast(a.Anggaran as numeric) as Anggaran,
		--			a.ProjectName,
		--			a.Pencapaian as Realisasi,

		--			case
		--				when a.IDProjectStatus <> 1
		--					and a.IDProjectStatus <> 7
		--					and a.IDProjectStatus <> 8
		--					and a.IDProjectStatus <> 9
		--					and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.PlanPencapaian
		--				else null
		--			end as Planning,
					
		--			case
		--				when a.IDProjectStatus <> 1
		--					and a.IDProjectStatus <> 7
		--					and a.IDProjectStatus <> 8
		--					and a.IDProjectStatus <> 9
		--					and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.RealisasiPencapaian
		--				else null
		--			end as RealPenc,

		--			a.IDProjectStatus,
		--			a.StartYear,
		--			a.StartMonth,
		--			a.StartDay

		--		from TblD_ListProject a

		--		where a.IsActive = 1
		--			-- and a.IsTransformasi = @IsTransformasi
		--			-- and a.IDDirektorat = @IDDirektorat
		--			and a.DateDownload = @Date
		--			and (@Year between a.StartYear and a.EndYear)

		--	)zz
		--	group by IDProgram, ProgramName, IDStrategicObjective, StrategicObjectiveName, StrategicObjectiveCode, ProgramNo
		--	)RX 

		--	UNION ALL

		--	SELECT 
		--	'Total' as NamaProgram ,		
		--	convert(varchar(max),CONVERT(DOUBLE PRECISION,			
		--	(round(100 * avg(RealPenc) / avg(Planning), 2))					
		--	)) as RataPencapain ,
		--	FORMAT(SUM(Anggaran),'#,0') as TotalAnggaran ,
		--	NULL as Status,
		--	ISNULL(convert(varchar(max),CONVERT(DOUBLE PRECISION, CAST(100 * (SUM(RealisasiAnggaran) / NULLIF(SUM(Anggaran),0))  as decimal(18,2))  )),0) as Realisasi,
		--	cast(cast(isnull(SUM(RealisasiKomit)/nullif(SUM(Anggaran), 0)*100, 0.00) as decimal(18,2)) as varchar(50))  as RealKomit
		--FROM (
		--	select 				
		--		IDProgram,
		--		ProgramName,
		--		ProgramNo,
		--		StrategicObjectiveCode,
		--		Planning ,   RealPenc,
		--		isnull(sum(Anggaran)/1000000, 0.00) as Anggaran,
		--		isnull(
		--		round(100 * avg(RealPenc) / avg(Planning), 2)
		--		, 0)
		--		as RealisasiPencapaian,
		--		sum(RealisasiAnggaran)/1000000 as RealisasiAnggaran,
		--		sum(RealisasiKomit)/1000000 as RealisasiKomit		
		--	from (
		--		select a.IDStrategicObjective,
		--			a.StrategicObjectiveCode,
		--			a.IDProgram,
		--			a.ProgramNo,
		--			a.StrategicObjectiveName,
		--			isnull(cast(a.RealisasiAnggaran as numeric),0) as RealisasiAnggaran,
		--			isnull(cast(a.RealisasiAnggaran as numeric),0) + isnull(cast(a.KomitAnggaran as numeric),0) as RealisasiKomit,
		--			a.ProgramName,
		--			cast(a.Anggaran as numeric) as Anggaran,
		--			a.ProjectName,
		--			a.Pencapaian as Realisasi,

		--			case
		--				when a.IDProjectStatus <> 1
		--					and a.IDProjectStatus <> 7
		--					and a.IDProjectStatus <> 8
		--					and a.IDProjectStatus <> 9
		--					and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.PlanPencapaian
		--				else null
		--			end as Planning,
					
		--			case
		--				when a.IDProjectStatus <> 1
		--					and a.IDProjectStatus <> 7
		--					and a.IDProjectStatus <> 8
		--					and a.IDProjectStatus <> 9
		--					and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.RealisasiPencapaian
		--				else null
		--			end as RealPenc,

		--			a.IDProjectStatus,
		--			a.StartYear,
		--			a.StartMonth,
		--			a.StartDay

		--		from TblD_ListProject a

		--		where a.IsActive = 1
		--			-- and a.IsTransformasi = @IsTransformasi
		--			-- and a.IDDirektorat = @IDDirektorat
		--			and a.DateDownload = @Date
		--			and (@Year between a.StartYear and a.EndYear)

		--	)zz
		--	group by IDProgram, ProgramName, IDStrategicObjective, StrategicObjectiveName, StrategicObjectiveCode, ProgramNo, 				Planning ,   RealPenc
		--	)RX 
	END
	ELSE
	BEGIN	
			-- EXEC Usp_Get_Report_SummaryTransformasiNonTransformasi '0', '3' , '2019', 0
			SELECT 
			CONVERT(VARCHAR(max),  format (ROW_NUMBER() OVER (ORDER BY  StrategicObjectiveCode, ProgramNo ),'0#'))  + ' - ' +
			ProgramName as NamaProgram ,
			convert(varchar(max),CONVERT(DOUBLE PRECISION,RealisasiPencapaian)) as RataPencapain ,
			FORMAT(Anggaran,'#,0') as TotalAnggaran ,
			CASE
			WHEN
			ROUND(RealisasiPencapaian,2) >= 110
			THEN
			 '<div class="circle" style="background : blue"></div>'
			WHEN
			ROUND(RealisasiPencapaian,2) BETWEEN 100 and 109
			THEN
			 '<div class="circle" style="background : green"></div>'
			WHEN
			ROUND(RealisasiPencapaian,2) BETWEEN 85 and 99
			THEN
			 '<div class="circle" style="background : yellow"></div>'
			ELSE
			 '<div class="circle" style="background : red"></div>'
			END as Status,
				ISNULL(convert(varchar(max),CONVERT(DOUBLE PRECISION, CAST(100 * (RealisasiAnggaran / NULLIF(Anggaran,0))  as decimal(18,2))  )),0) as Realisasi,
				cast(cast(isnull(RealisasiKomit/nullif(Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50))  as RealKomit
		FROM (
			select 				
			IDStrategicObjective, StrategicObjectiveName, 
				IDProgram,
				ProgramName,
				ProgramNo,
				StrategicObjectiveCode,  
				isnull(sum(Anggaran)/1000000, 0.00) as Anggaran,
				isnull(
				round(100 * avg(RealPenc) / avg(Planning), 2)
				, 0)
				as RealisasiPencapaian,
				sum(RealisasiAnggaran)/1000000 as RealisasiAnggaran,
				sum(RealisasiKomit)/1000000 as RealisasiKomit		
			from (
				select a.IDStrategicObjective,
					a.StrategicObjectiveCode,
					a.IDProgram,
					a.ProgramNo,
					a.StrategicObjectiveName,
					isnull(cast(a.RealisasiAnggaran as numeric),0) as RealisasiAnggaran,
					isnull(cast(a.RealisasiAnggaran as numeric),0) + isnull(cast(a.KomitAnggaran as numeric),0) as RealisasiKomit,
					a.ProgramName,
					cast(a.Anggaran as numeric) as Anggaran,
					a.ProjectName,
					a.Pencapaian as Realisasi,

					case
						when a.IDProjectStatus <> 1
							and a.IDProjectStatus <> 7
							and a.IDProjectStatus <> 8
							and a.IDProjectStatus <> 9
							and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.PlanPencapaian
						else null
					end as Planning,
					
					case
						when a.IDProjectStatus <> 1
							and a.IDProjectStatus <> 7
							and a.IDProjectStatus <> 8
							and a.IDProjectStatus <> 9
							and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.RealisasiPencapaian
						else null
					end as RealPenc,

					a.IDProjectStatus,
					a.StartYear,
					a.StartMonth,
					a.StartDay

				from TblD_ListProject a

				where a.IsActive = 1
					and a.IsTransformasi = @IsTransformasi
					-- and a.IDDirektorat = @IDDirektorat
					and a.DateDownload = @Date
					and (@Year between a.StartYear and a.EndYear)

			)zz
			group by IDProgram, ProgramName, IDStrategicObjective, StrategicObjectiveName, StrategicObjectiveCode, ProgramNo
			)RX
	
			UNION ALL

			SELECT 
		    'Total' as NamaProgram ,	
			convert(varchar(max),CONVERT(DOUBLE PRECISION,			
			(round(100 * avg(RealPenc) / avg(Planning), 2))					
			)) as RataPencapain ,
			FORMAT(SUM(Anggaran),'#,0') as TotalAnggaran ,
			NULL as Status,
			ISNULL(convert(varchar(max),CONVERT(DOUBLE PRECISION, CAST(100 * (SUM(RealisasiAnggaran) / NULLIF(SUM(Anggaran),0))  as decimal(18,2))  )),0) as Realisasi,
			cast(cast(isnull(SUM(RealisasiKomit)/nullif(SUM(Anggaran), 0)*100, 0.00) as decimal(18,2)) as varchar(50))  as RealKomit
		FROM (
			select 				
				IDProgram,
				ProgramName,
				ProgramNo,
				StrategicObjectiveCode,
				Planning ,   RealPenc,
				isnull(sum(Anggaran)/1000000, 0.00) as Anggaran,
				isnull(
				round(100 * avg(RealPenc) / avg(Planning), 2)
				, 0)
				as RealisasiPencapaian,
				sum(RealisasiAnggaran)/1000000 as RealisasiAnggaran,
				sum(RealisasiKomit)/1000000 as RealisasiKomit		
			from (
				select a.IDStrategicObjective,
					a.StrategicObjectiveCode,
					a.IDProgram,
					a.ProgramNo,
					a.StrategicObjectiveName,
					isnull(cast(a.RealisasiAnggaran as numeric),0) as RealisasiAnggaran,
					isnull(cast(a.RealisasiAnggaran as numeric),0) + isnull(cast(a.KomitAnggaran as numeric),0) as RealisasiKomit,
					a.ProgramName,
					cast(a.Anggaran as numeric) as Anggaran,
					a.ProjectName,
					a.Pencapaian as Realisasi,

					case
						when a.IDProjectStatus <> 1
							and a.IDProjectStatus <> 7
							and a.IDProjectStatus <> 8
							and a.IDProjectStatus <> 9
							and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.PlanPencapaian
						else null
					end as Planning,
					
					case
						when a.IDProjectStatus <> 1
							and a.IDProjectStatus <> 7
							and a.IDProjectStatus <> 8
							and a.IDProjectStatus <> 9
							and @Date >= cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then a.RealisasiPencapaian
						else null
					end as RealPenc,

					a.IDProjectStatus,
					a.StartYear,
					a.StartMonth,
					a.StartDay

				from TblD_ListProject a

				where a.IsActive = 1
					and a.IsTransformasi = @IsTransformasi
					-- and a.IDDirektorat = @IDDirektorat
					and a.DateDownload = @Date
					and (@Year between a.StartYear and a.EndYear)

			)zz
			group by IDProgram, ProgramName, IDStrategicObjective, StrategicObjectiveName, StrategicObjectiveCode, ProgramNo, 				Planning ,   RealPenc
			)RX 

	end
			
END




GO
