USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiDetail_Newst0309]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiDetail_Newst0309] -- [Usp_Get_ProjectEksekusiDetail] '100' , '2019-9-1' , '20000099' 
	@ProjectHeaderID int,
	@Periode varchar(10),
	@Persnum varchar(30)
AS
BEGIN
	DECLARE @Username VARCHAR(50) = (
				SELECT TOP 1 User_LoginName
				FROM TblDW_Usergroup
				WHERE Usergroup_Pernr = @Persnum
				);
	/*	
		======================================================================================
		== GET PROJECT MILESTONE IF EXIST
		======================================================================================
	*/

	DECLARE @isTransformasi bit

	SELECT @isTransformasi = Proj.IsTransformasi FROM TblT_ProjectHeader PH INNER JOIN TblM_Project Proj ON PH.IDProject = PROJ.IDProject
	WHERE 
	PH.IDProjectHeader = @ProjectHeaderID

	DECLARE @year int , @month int, @week int 
	DECLARE @Period varchar(50)

	DECLARE @SplitString TABLE (rownumber int , val varchar(max))

	DECLARE @PrevPeriod varchar(50)

	INSERT INTO @SplitString
	SELECT  ROW_NUMBER() OVER(ORDER BY (SELECT NULL)), * FROM dbo.Ufn_SplitString(@Periode,'-')

	SELECT @year = val FROM @SplitString
	where rownumber = 1
	SELECT @month = val FROM @SplitString
	where rownumber = 2
	SELECT @week = val FROM @SplitString
	where rownumber = 3


	SELECT @Period = 
	CASE 
		WHEN	
			@isTransformasi = 1
		THEN
			'W'+ CONVERT(varchar,@week) + ' ' + dbo.Ufn_GetMonthName_Indonesia(@month) + ' ' + CONVERT(varchar,@year)
		ELSE
			dbo.Ufn_GetMonthName_Indonesia(@month) + ' ' + CONVERT(varchar,@year)
	END

	SELECT TOP 1 
	@PrevPeriod = Periode 
	FROM
				TblT_ProjectExecutionApprovalRole
				where
				IsActive = 1 
				and 
				IDProjectHeader = 100
				and
				REPLACE(Periode,'-','')  <= REPLACE(@Periode,'-','') 
				ORDER BY
				CASE WHEN 
	LEN(Periode) < 9
	THEN
	REPLACE(LEFT(Periode,5) + '0' + RIGHT(Periode,3),'-','')	
	ELSE
	REPLACE(Periode,'-','')	
	END DESC

	SELECT 
		MPPPD.TaskID as ID, 
		MPPPD.TaskName as Milestones, 
		[dbo].[Ufn_GetMonthName_Indonesia](MONTH(MPPPD.StartDate)) + ' ' + CAST(YEAR(MPPPD.StartDate) as varchar(4)) as Selesai ,
		CASE 			
		WHEN	
			EXISTS (
				SELECT IDDocument FROM
				TblT_Document MMD
				where
				MMD.IDProjectHeader = @ProjectHeaderID
				and
				MMD.TaskID = MPPPD.TaskID
				and
				MMD.IsActive = '1'
			)  
			AND  
			(	
				SELECT TOP 1 CompletePercentage FROM TblT_MPPProjectRealPercentage MRPP 
				WHERE
					MRPP.TaskID = MPPPD.TaskID
					and 
					MRPP.IDProjectHeader = @ProjectHeaderID
					ORDER BY 
					CAST(MRPP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(MRPP.Month AS Varchar(2)),2) + CAST(MRPP.Week as Varchar(1)) DESC
			) = 100
		THEN
		'FINISH'
		
		ELSE
		    (	
				CASE
				WHEN
					GETDATE() > DATEADD(dd, 0 , MPPPD.StartDate)
				THEN
					'LATE'
				ELSE
					'ONGOING'
				END
			)
		END
		as Status,
		CASE
		WHEN
			(Convert(varchar(4),DATEPART(YYYY,MPPPD.StartDate))+RIGHT('00'+CONVERT(varchar(2),DATEPART(MM,MPPPD.StartDate)),2))
			 <=
			(Convert(varchar(4),DATEPART(YYYY,GETDATE()))+RIGHT('00'+CONVERT(varchar(2),DATEPART(MM,GETDATE())),2))
		THEN
			'1'
		ELSE
			'1'
		END
		as Button
	FROM
	TblT_MPPProjectPlanDetail MPPPD
	where
	MPPPD.IsActive = '1'
	and
	(
		MPPPD.TaskName LIKE '%milestone%' 
		OR
		MPPPD.IsMilestone = '1'
	)
	and
	MPPPD.ProjectHeaderID = @ProjectHeaderID
	ORDER BY
	MPPPD.TaskID ASC ,
	MPPPD.StartDate asc
	/*
		======================================================================================
		== GET PROJECT PLAN IF EXIST
		======================================================================================
	*/

	    --   SELECT
		--	MPP.IDMPPProjectPlanDetail	,
		--	MPP.ProjectHeaderID	,
		--	MPP.ParentID ,
		--	MPP.TaskID ,
		--	MPP.TaskGUID ,
		--	MPP.TaskName ,
		--	MPP.StartDate ,
		--	MPP.EndDate	,
		--	MPP.Duration ,
		--	MPP.Notes ,
		--	CASE
		--	WHEN
		--		(
		--			SELECT COUNT(*) FROM TblT_MPPProjectRealDetail MPPR 
		--			where
		--			MPPR.IDMPPProjectPlanDetail = MPP.PercentageComplete 
		--		)
		--		> 0
		--	THEN
		--		(
		--			SELECT TOP 1 MPPR.PercentageComplete FROM TblT_MPPProjectRealDetail MPPR 
		--				where
		--			MPPR.IDMPPProjectPlanDetail = MPP.PercentageComplete 
		--			ORDER BY
		--			MPPR.Date DESC
		--		)
		--	ELSE
		--		MPP.PercentageComplete
		--	END as PercentageComplete,
		--	MPP.OutlineLevel ,
		--	MPP.OutlineNumber ,
		--	MPP.IsMilestone	
		--FROM 
		--TblT_MPPProjectPlanDetail MPP
		--WHERE
		--MPP.ProjectHeaderID = @ProjectHeaderID
	
	/*
		======================================================================================
		== GET PROJECT CONSTRAIN 
		======================================================================================
	*/

		SELECT
			PC.IDProjectConstraint,
			PC.IDConstraintType,
			CT.ConstraintName,
			PC.Description,
			PC.Remarks,
			PC.Problem,
			PC.Status,
			PC.Mitigasi
		FROM
			TblT_ProjectConstraint PC
		LEFT JOIN
			TblM_ConstraintType CT
		ON
			PC.IDConstraintType = CT.IDConstraintType
		WHERE
		PC.IsActive = '1'
		and
		PC.IDProjectHeader = @ProjectHeaderID

		DECLARE @today varchar(max)

		SELECT 
			@today = CONVERT(varchar(2), d.day) + ' ' + dbo.Ufn_GetMonthName_Indonesia(d.Month) + ' ' +d.Year  
		FROM 
		TbLM_Date d
		where
		d.Date = CONVERT(date,GETDATE())
		SELECT 
			@Period	as Periode , @today as Tanggal , Proj.ProjectName as Nama
		FROM
			TblM_Project PROJ 
		INNER JOIN 
			TblT_ProjectHeader PH
		ON
			PROJ.IDProject = PH.IDProject
		where
		PH.IDProjectHeader = @ProjectHeaderID
		

	-- GetApproval From Project Initiation
	IF NOT EXISTS (
		SELECT IDProjectHeader FROM
		TblT_ProjectExecutionApprovalRole
		where
		IsActive = 1 
		and 
		IDProjectHeader = @ProjectHeaderID
		and
		Periode = @Periode
	)
	BEGIN

		IF NOT EXISTS (
		SELECT IDProjectHeader FROM
			TblT_ProjectExecutionApprovalRole
			where
			IsActive = 1 
			and 
			IDProjectHeader = @ProjectHeaderID
			and
			Periode = @PrevPeriod
		)
		BEGIN
			  select  row_number() over (
			order by 
				g.Sequence
			asc
		) as NoUrut,
			g.Username,
			ISNULL(
			g.ActiveDate, GETDATE()) as ActiveDate,
			ISNULL(g.EndDate, DATEADD(month, 12, GETDATE())) as EndDate  ,
			g.IsEnabled,
			e.KodePosisi,
			e.Jabatan,
			e.Nama,
			e.KodeUnitKerja,
			e.PersonalNumber,
			h.Description as RoleGroupName,
			h.IDRoleGroup
		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject
			left join TblT_ProjectInitApprovalRole g on b.IDProjectHeader = g.IDProjectHeader
			left join TblM_RoleGroup h on g.IDRoleGroup = h.IDRoleGroup
			left join TblDW_Usergroup d on g.Username = d.User_LoginName
			left join TblDW_Employee e on d.Usergroup_Pernr = e.PersonalNumber
		where a.IsActive = 1
			and b.IsActive = 1
			and g.IsActive = 1
			and h.IsActive = 1
			and b.IDProjectHeader = @ProjectHeaderID
			and h.IDRoleGroup IN (3,4,5)
		group by 
			g.Username,
			g.ActiveDate,
			g.EndDate,
			g.IsEnabled,
			e.KodePosisi,
			e.Jabatan,
			e.Nama,
			e.KodeUnitKerja,
			e.PersonalNumber,
			h.Description,--RoleGroupName,
			h.IDRoleGroup,
			g.Sequence
		END
		ELSE
		BEGIN 
			select 
			row_number() 
			over (
				order by 
					g.Sequence--h.IDRoleGroup
				asc
			) as NoUrut,
			g.Username,
			ISNULL(
			g.ActiveDate, GETDATE()) as ActiveDate,
			ISNULL(g.EndDate, DATEADD(month, 3, GETDATE())) as EndDate  ,
			g.IsEnabled,
			e.KodePosisi,
			e.Jabatan,
			e.Nama,
			e.KodeUnitKerja,
			e.PersonalNumber,
			h.Description as RoleGroupName,
			h.IDRoleGroup

		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject
		
			--left join TblT_ProjectRoleGroup g on b.IDProjectHeader = g.IDProjectHeader
			left join TblT_ProjectExecutionApprovalRole g on b.IDProjectHeader = g.IDProjectHeader
			left join TblM_RoleGroup h on g.IDRoleGroup = h.IDRoleGroup

			left join TblDW_Usergroup d on g.Username = d.User_LoginName
			left join TblDW_Employee e on d.Usergroup_Pernr = e.PersonalNumber
		
			--left join TblT_ProjectExecutionApprovalRole c on g.Username = c.Username and g.IDProjectHeader = c.IDProjectHeader
		where a.IsActive = 1
			and b.IsActive = 1
			and g.IsActive = 1
			and g.IsActive = 1
			and h.IsActive = 1
			and b.IDProjectHeader = @ProjectHeaderID
			and h.IDRoleGroup IN (3,4,5)
			and g.Periode = @PrevPeriod
		group by g.Username,
			g.ActiveDate,
			g.EndDate,
			g.IsEnabled,
			e.KodePosisi,
			e.Jabatan,
			e.Nama,
			e.KodeUnitKerja,
			e.PersonalNumber,
			h.Description,--RoleGroupName,
			h.IDRoleGroup,
			g.Sequence;
			
		END
		--select  row_number() over (
		--	order by 
		--		g.Sequence--h.IDRoleGroup
		--	asc
		--) as NoUrut,
		--c.Username,
		--c.ActiveDate,
		--c.EndDate,
		--c.IsEnabled,
		--e.KodePosisi,
		--e.Jabatan,
		--e.Nama,
		--e.KodeUnitKerja,
		--e.PersonalNumber,
		--h.Description as RoleGroupName,
		--h.IDRoleGroup

	--from TblM_Project a
	--	left join TblT_ProjectHeader b on a.IDProject = b.IDProject
		
	--	--left join TblT_ProjectRoleGroup g on b.IDProjectHeader = g.IDProjectHeader
	--	left join TblT_ProjectInitApprovalRole g on b.IDProjectHeader = g.IDProjectHeader
	--	left join TblM_RoleGroup h on g.IDRoleGroup = h.IDRoleGroup

	--	left join TblDW_Usergroup d on g.Username = d.User_LoginName
	--	left join TblDW_Employee e on d.Usergroup_Pernr = e.PersonalNumber
		
	--left join TblT_ProjectInitApprovalRole c on g.Username = c.Username and g.IDProjectHeader = c.IDProjectHeader
	--where a.IsActive = 1
	--	and b.IsActive = 1
	--	and c.IsActive = 1
	--	and g.IsActive = 1
	--	and h.IsActive = 1
	--	and b.IDProjectHeader = @ProjectHeaderID
	--	and h.IDRoleGroup IN (3,4,5)
	--group by c.Username,
	--	c.ActiveDate,
	--	c.EndDate,
	--	c.IsEnabled,
	--	e.KodePosisi,
	--	e.Jabatan,
	--	e.Nama,
	--	e.KodeUnitKerja,
	--	e.PersonalNumber,
	--	h.Description,--RoleGroupName,
	--	h.IDRoleGroup,
	--	g.Sequence;
	END
	ELSE
	BEGIN
		select 
		row_number() 
		over (
			order by 
				g.Sequence--h.IDRoleGroup
			asc
		) as NoUrut,
		g.Username,
		ISNULL(
		g.ActiveDate, GETDATE()) as ActiveDate,
		ISNULL(g.EndDate, DATEADD(month, 3, GETDATE())) as EndDate  ,
		g.IsEnabled,
		e.KodePosisi,
		e.Jabatan,
		e.Nama,
		e.KodeUnitKerja,
		e.PersonalNumber,
		h.Description as RoleGroupName,
		h.IDRoleGroup

	from TblM_Project a
		left join TblT_ProjectHeader b on a.IDProject = b.IDProject
		
		--left join TblT_ProjectRoleGroup g on b.IDProjectHeader = g.IDProjectHeader
		left join TblT_ProjectExecutionApprovalRole g on b.IDProjectHeader = g.IDProjectHeader
		left join TblM_RoleGroup h on g.IDRoleGroup = h.IDRoleGroup

		left join TblDW_Usergroup d on g.Username = d.User_LoginName
		left join TblDW_Employee e on d.Usergroup_Pernr = e.PersonalNumber
		
		--left join TblT_ProjectExecutionApprovalRole c on g.Username = c.Username and g.IDProjectHeader = c.IDProjectHeader
	where a.IsActive = 1
		and b.IsActive = 1
		and g.IsActive = 1
		and g.IsActive = 1
		and h.IsActive = 1
		and b.IDProjectHeader = @ProjectHeaderID
		and h.IDRoleGroup IN (3,4,5)
		and g.Periode = @Periode
	group by g.Username,
		g.ActiveDate,
		g.EndDate,
		g.IsEnabled,
		e.KodePosisi,
		e.Jabatan,
		e.Nama,
		e.KodeUnitKerja,
		e.PersonalNumber,
		h.Description,--RoleGroupName,
		h.IDRoleGroup,
		g.Sequence;
	END


	-- APPROVAL ROLE VALIDATION
  select-- top 1 
  b.Usergroup_Pernr
	--case when b.Usergroup_Pernr = @Persnum then '1'
	--else '0'
	--end 
	as Approval
  from [TblT_ProjectExecutionApprovalRole] a
	left join TblDW_Usergroup b on a.Username = b.User_LoginName
  where ( IsApprove is null or IsApprove = 0 ) and  
		IsEnabled = 1 and
		IsActive = 1 and
		--b.Usergroup_Pernr = @Persnum and 
		a.IDProjectHeader = @ProjectHeaderID and 
		a.Periode = @Periode 
		and
		IDRoleGroup = (
			SELECT TOP 1 z.IDRoleGroup FROM [TblT_ProjectExecutionApprovalRole] z
			where
			z.IDProjectHeader = @ProjectHeaderID 
			and
			z.Periode = @Periode
			and
			(z.IsApprove is null or z.IsApprove = 0 )
			and
			z.IsEnabled = 1
			and 
			z.IsActive = 1
			ORDER BY IDRoleGroup ASC
		)
  order by a.IDRoleGroup asc;

 --SELECT TOP 1
 --ISNULL(
	--(	
	--SELECT CASE
	--		WHEN
	--			z.IsApprove IS NULL OR z.IsApprove = 0
	--		THEN
	--		'1'
	--		ELSE
	--		'0'
	--		END
	--FROM 
	--  [TblT_ProjectExecutionApprovalRole] z
	--  left join TblDW_Usergroup x on z.Username = x.User_LoginName
	--   where ( z.IsApprove is null or z.IsApprove = 0 ) and  
	--		z.IsEnabled = 1 and
	--		z.IsActive = 1 and
	--		x.Usergroup_Pernr = @Persnum and 
	--		z.IDProjectHeader = @ProjectHeaderID and 
	--		z.Periode = @Periode
	--		and z.IDRoleGroup = a.IDRoleGroup
	--),0) as Approval
 -- FROM 
 -- [TblT_ProjectExecutionApprovalRole] a
 -- left join TblDW_Usergroup b on a.Username = b.User_LoginName
 --  where ( IsApprove is null or IsApprove = 0 ) and  
	--	IsEnabled = 1 and
	--	IsActive = 1 and
	--	b.Usergroup_Pernr = @Persnum and 
	--	a.IDProjectHeader = @ProjectHeaderID and 
	--	a.Periode = @Periode
 -- order by a.IDRoleGroup asc;

 -- [Usp_Get_ProjectEksekusiDetail] '95' , '2019-2-4' , '100012' 
	--SELECT COUNT(*) 
	--FROM int,
	--TblT_ProjectExecutionApprovalRole PEAR
	--where
	--PEAR.IDProjectHeader = @ProjectHeaderID
	--AND
	--PEAR.Periode = @Periode
	--AND
	--PEAR.Username = @Username


	-- Approval List

	select 
       ROW_NUMBER() OVER(ORDER BY (SELECT NULL) ) as NoUrut
	  ,[IDRoleGroup]
      ,[RoleGroupName]
      ,[Description]
      ,[Level]
      ,[CreatedDate]
      ,[CreatedBy]
      ,[UpdatedDate]
      ,[UpdatedBy]
      ,[IsActive]
	from TblM_RoleGroup 
		where 
			IsActive = 1 
				and 
			IDRoleGroup IN (3,4,5);

	-- Revisi 
	SELECT TOP 1 a.Username as Dari , a.Deskripsi as Description FROM
	[TblT_ProjectExecutionReviseRole] a
	where
	IDProjectHeader = @ProjectHeaderID
	and
	Periode = @Periode
	ORDER BY CreatedDate DESC
	-- History
	SELECT [Type] as Tipe , 
	Remarks as Keterangan , 
	CreatedBy as Nama , 
	CreatedDate as Tanggal FROM
	TblH_ProjectExecutionApprovalHistory
	where
	IDProjectHeader = @ProjectHeaderID
	and
	Periode = @Periode
	ORDER BY CreatedDate DESC

	-- Project Role
	SELECT RG.Description as Roles FROM
	TblT_ProjectInitApprovalRole PIAR
	INNER JOIN
	TblM_RoleGroup RG
	on
	PIAR.IDRoleGroup = RG.IDRoleGroup
	WHERE
		PIAR.IDProjectHeader = @ProjectHeaderID
		and
		PIAR.Username = @username
		ORDER BY RG.IDRoleGroup ASC
	
	-- System Role
	SELECT TOP 1 RG.Description as SysRole FROM
	TblT_UserAuthorized UA
	INNER JOIN
	TblM_RoleGroup RG
	ON 
	UA.IDRoleGroup = RG.IDRoleGroup
	where
	UA.PersonNumber = @Persnum	

	--- Project Status
	SELECT 
	 TOP 1 PES.ProjectStatus as Status
	FROM
	TblT_ProjectExecutionStatus PES
	WHERE
	PES.IDProjectHeaderID = @ProjectHeaderID
	and
	PES.Periode = @Periode
	and
	PES.IsActive = '1'
	ORDER BY 
	CreatedDate DESC

END




GO
