USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_MPPProjectPlanDetail_backup1]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_MPPProjectPlanDetail_backup1](
	[IDMPPProjectPlanDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectHeaderID] [int] NULL,
	[ParentID] [bigint] NULL,
	[TaskID] [bigint] NULL,
	[TaskGUID] [varchar](max) NULL,
	[TaskName] [varchar](max) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Duration] [varchar](10) NULL,
	[Notes] [varchar](300) NULL,
	[PercentageComplete] [float] NULL,
	[OutlineLevel] [varchar](100) NULL,
	[OutlineNumber] [varchar](100) NULL,
	[IsMilestone] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
