USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_MappingProgramProjectRolesActual]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_MappingProgramProjectRolesActual] AS TABLE(
	[ProgramID] [int] NULL,
	[ProjectID] [int] NULL,
	[RoleID] [varchar](max) NULL
)
GO
