USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_Migration_RealDetailFix]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	
	CREATE PROCEDURE [dbo].[Usp_Insert_Migration_RealDetailFix]
	AS
	BEGIN
	--INSERT INTO APP_Dev_New..TblT_MPPProjectRealDetail
	SELECT DISTINCT 
		RR.IDMPPProjectPlanDetail ,
		GETDATE(),
		RR.year,
		RR.month,
		RR.week,
		RR.ParentID,
		RR.TaskID,
		RR.TaskGUID,
		RR.TaskName,
		RR.StartDate,
		RR.EndDate,
		0,
		NULL,
		NULL,
		xx.eval_proj_rlzn_RealDesc,
		RR.PlanPercentage,
		RR.OutlineLevel,
		RR.OutlineNumber,
		RR.IsMilestone,
		GETDATE(),
		'Migration3',
		NULL,
		NULL,
		1 ,
		1,
		1
	 FROM (
		SELECT 
		ParentID,
		IDMPPProjectPlanDetail,
		IDProjectHeader,
		TaskID,
		TaskGUID,
		TaskName,
		week,
		month,
		year, 
		CASE WHEN CM.Reals >= CM.Plans THEN 100 ELSE 0 END as PlanPercentage, 
		NULL as a , 
		GETDATE() as b, 
		'Migration' as c, 
		NULL as d, 
		NULL as e, 
		1 as f,
		StartDate,
		EndDate,
		OutlineLevel,
		OutlineNumber,
		IsMilestone
		FROM 
		(
		SELECT 
		a.IDMPPProjectPlanDetail,
			b.IDProjectHeader , 
			a.ParentID , 
			a.TaskID , 
			a.TaskGUID ,
			a.TaskName,
			a.StartDate,
			a.EndDate,
			a.OutlineLevel,
			a.OutlineNumber,
			a.IsMilestone,
			(	
				SELECT
					MAX(WeekOFMonth)
				FROM 
				APP_Dev_New..TblM_Date DM
				WHERE
				DM.Month 
				= 
				e.proj_output_Month
				AND
				DM.YEAR = e.proj_output_Year
			) AS week, 
			(	
				SELECT
					TOP 1 Month
				FROM 
				APP_Dev_New..TblM_Date DM
				WHERE
				DM.Month 
				= 
				e.proj_output_Month
				AND
				DM.YEAR =e.proj_output_Year
			) AS month,
			(	
				SELECT
				TOP 1
					Year
				FROM 
				APP_Dev_New..TblM_Date DM
				WHERE
				DM.Month 
				= 
				e.proj_output_Month
				AND
				DM.YEAR = e.proj_output_Year
			) AS year,
			e.proj_output_Month,
			e.proj_output_Year,
			Cast(
			(
				SELECT
					Year
				FROM 
				APP_Dev_New..TblM_Date DM
				WHERE
				CONVERT(DATE,DM.Date) 
				= 
				CONVERT(DATE,a.EndDate)
			)
			AS VARCHAR(4)) 
			+ 
			RIGHT('00' + Cast((
				SELECT
					Month
				FROM 
				APP_Dev_New..TblM_Date DM
				WHERE
				CONVERT(DATE,DM.Date) 
				= 
				CONVERT(DATE,a.EndDate)
			) AS VARCHAR(2)), 2) as Plans,
			Cast(e.proj_output_Year AS VARCHAR(4)) 
			+ RIGHT('00' + Cast(e.proj_output_Month AS VARCHAR(2)), 2) as Reals
		FROM 
		APP_Dev_New..TblT_MPPProjectPlanDetail a
		INNER JOIN 
		APP_Dev_New..TblT_ProjectHeader b
		ON
		a.ProjectHeaderID = b.IDProject
		INNER JOIN 
		APP_Dev_New..TblM_Project c
		ON
		b.IDProject = c.IDProject
		INNER JOIN 
		PROJ_MAST d
		INNER JOIN
		PROJ_OUTPUT e
		ON
		d.proj_mast_ID = e.proj_mast_ID
		ON
		c.ProjectNo = d.proj_mast_No
		WHERE
		--a.ProjectHeaderID = 4
		--and 
		a.IsActive = 1
		and
		a.ParentID <> 0
		and
		c.IsTransformasi = 0
		and
		c.Year = 2019
		)CM 
	)RR INNER JOIN 
	(
		SELECT 
			c.IDProjectHeader, 1 as TaskID , 
			(
				SELECT MAX(DM.WeekOfMonth) FROM 
				APP_Dev_New..TblM_Date DM
				WHERE
				DM.Year = a.eval_proj_rlzn_TargetYear
				AND
				DM.Month = a.eval_proj_rlzn_TargetMonth
			) as Week, 
			a.eval_proj_rlzn_TargetMonth,
			a.eval_proj_rlzn_TargetYear,
			NULL as Notes,
			a.eval_proj_rlzn_RealPercent,
			a.eval_proj_rlzn_RealDesc,
			GETDATE() as a,
			'Migration2' as b,
			NULL as c,
			NULL as d,
			1 as e 
			,
			a.proj_output_Deliverable
		FROM 
		VW_PROJ_MONITORING_MIGRATE_HOVIS a
		INNER JOIN 
		APP_Dev_New..TblM_Project b
		ON 
		a.proj_mast_No = b.ProjectNo
		AND
		b.IsTransformasi = 0
		AND
		b.Year = 2019
		INNER JOIN 
		APP_Dev_New..TblT_ProjectHeader c
		ON
		b.IDProject = c.IDProject
		INNER JOIN 
		APP_Dev_New..TblT_MPPProjectPlanDetail e
		on
		e.ProjectHeaderID = c.IDProjectHeader
		AND
		e.TaskID = 1
	) xx
	ON
	RR.IDProjectHeader = xx.IDProjectHeader
	and
	RR.week = xx.Week
	AND
	rr.month = xx.eval_proj_rlzn_TargetMonth
	and
	rr.year = xx.eval_proj_rlzn_TargetYear
	AND
	rr.TaskName = xx.proj_output_Deliverable
	ORDER BY
	RR.IDMPPProjectPlanDetail , RR.month , RR.year 
	END



GO
