USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Reminder_GetAll]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<Author,,Septian c>
-- Create date: <14 Mei 2025>
-- Description:	<Getdata Reminder config>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Reminder_GetAll]
--Usp_Reminder_GetAll

AS
BEGIN
	select
	row_number() OVER (
			ORDER BY 
					CreateDate DESC
			) AS NoUrut,
	Id
      ,TipeTransaksi
      ,NamaReminder
      ,IdProyek
	  ,case IdProyek when 0 then 'All' else (select x.ProjectName from TblM_Project x where x.IDProject=IdProyek) end ProyekStr
      ,Interval
      ,TipeHari
      ,Bulan
      ,Tanggal
      ,Hari
      ,JamKirim
      ,SubjectEmail
      ,CcEmail
      ,BodyEmail
      ,StatusReminder
      ,CreateBy
      ,CreateDate
      ,UpdateBy
      ,UpdateDate
	from TblM_Reminder a
	where isdelete=0
	order by CreateDate

END




GO
