USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_AllStatusDashboard]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		SENA PUTRA
-- Create date: January 25, 2018
-- Description:	EXEC [dbo].[Get_AllStatusDashboard]
-- =============================================
CREATE PROCEDURE [dbo].[Get_AllStatusDashboard]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT C.StatusName, COUNT(StatusCode) As Total FROM TblT_ProjectHeader A
	INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	RIGHT JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
	GROUP BY C.StatusName, C.StatusCode
END





GO
