USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Calculate_Weekend_CutOFF]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Ufn_Calculate_Weekend_CutOFF] ( @minDate_Str NVARCHAR(30), @maxDate_Str NVARCHAR(30))

-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
RETURNS  @Result TABLE(StartDate Date , StartDateName NVARCHAR(30) NOT NULL, EndDate date , EndDateName NVARCHAR(30) NOT NULL)
AS

begin

    DECLARE @minDate DATETIME, @maxDate DATETIME
    SET @minDate = CONVERT(date, @minDate_Str)
    SET @maxDate = CONVERT(date, @maxDate_Str)

	INSERT INTO
	@Result
	SELECT cast(RetVal as date) as StartDate, DATENAME(dw,cast(RetVal as date)) as StartDateName,
	cast(RetVal + 5 as date) as EndDate, DATENAME(dw,cast(RetVal + 5 as date)) as EndDateName
     -- ,WeekEnd = cast(RetVal+6 as date), 
	FROM dbo.Ufn_Range_Date(@minDate , @maxDate , 'dd', 1 )
	WHERE DATENAME(dw,cast(RetVal as date)) = 'Monday'

    return

end  
GO
