USE [PROMISE]
GO
/****** Object:  View [dbo].[vw_role_mapping]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_role_mapping]
AS
SELECT       a.IDRole, a.RoleName, a.Description AS RoleDescription, b.IDRoleGroup, c.RoleGroupName
FROM            dbo.TblM_Role a INNER JOIN
                         dbo.TblT_RoleMapping b ON a.IDRole = b.IDRole INNER JOIN
                         dbo.TblM_RoleGroup c ON b.IDRoleGroup = c.IDRoleGroup
GO
