USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[mobile_mjproject_progress]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mobile_mjproject_progress] -- exec mobile_mjproject_progress '','NonTransformasi','','','',''
@date nvarchar(90), @filter nvarchar(255), @dir nvarchar(255), @grup nvarchar(255), @SO nvarchar(255),
@progress nvarchar(255)
as
set @date = ISNULL(@date,GETDATE())
set @dir = ISNULL(@dir,'')
set @grup = ISNULL(@grup,'')
set @SO = ISNULL(@SO,'')
set @progress = ISNULL(@progress,'')

declare @dateToday datetime
select @dateToday = GETDATE()


--- Transformasi dan Non Transformasi
-- exec mobile_mjproject_progress '','NonTransformasi','','','',''
IF @filter = 'Transformasi'
BEGIN
SELECT * FROM (
select ProjectName,DirektoratName,DepartmentName, IsTransformasi,  Pencapaian, Kendala, RencanaAksi,Tren,
StartYear, EndYear, DateDownload as lastupdate, case 
when (IDProjectStatus = 1 or IDProjectStatus = 7 or IDProjectStatus = 8 
or IDProjectStatus = 9) or @dateToday < cast(StartYear + '-' + StartMonth + '-' + StartDay 
as datetime) then 'Belum Dimulai' when (IDProjectStatus = 4 
or IDProjectStatus = 12) then 'Completed'
when (Pencapaian < 85) then 'Jauh dibawah target'
when (Pencapaian < 100) then 'Dibawah target'
when (Pencapaian < 110) then 'Sesuai target'
else 'Diatas target' end as Progress from TblD_ListProject
where DateDownload = @date
) a where a.IsTransformasi = 1 
END

IF @filter = 'NonTransformasi'
BEGIN
SELECT * FROM (
select ProjectName,DirektoratName,DepartmentName, IsTransformasi,  Pencapaian, Kendala, RencanaAksi,Tren,
StartYear, EndYear, DateDownload as lastupdate, case 
when (IDProjectStatus = 1 or IDProjectStatus = 7 or IDProjectStatus = 8 
or IDProjectStatus = 9) or @dateToday < cast(StartYear + '-' + StartMonth + '-' + StartDay 
as datetime) then 'Belum Dimulai' when (IDProjectStatus = 4 
or IDProjectStatus = 12) then 'Completed'
when (Pencapaian < 85) then 'Jauh dibawah target'
when (Pencapaian < 100) then 'Dibawah target'
when (Pencapaian < 110) then 'Sesuai target'
else 'Diatas target' end as Progress from TblD_ListProject
where DateDownload = @date
) a where a.IsTransformasi = 0
END





GO
