USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectConstraint]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectConstraint](
	[IDProjectConstraint] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NOT NULL,
	[IDConstraintType] [int] NOT NULL,
	[Description] [varchar](max) NULL,
	[Remarks] [varchar](max) NULL,
	[Problem] [varchar](max) NULL,
	[Status] [varchar](10) NULL,
	[Mitigasi] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[Year] [int] NULL,
	[Week] [int] NULL,
	[Month] [int] NULL,
 CONSTRAINT [PK_TblT_ProjectConstraint] PRIMARY KEY CLUSTERED 
(
	[IDProjectConstraint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblT_ProjectConstraint]  WITH CHECK ADD  CONSTRAINT [FK_TblT_ProjectConstraint_TblT_ProjectHeader] FOREIGN KEY([IDProjectHeader])
REFERENCES [dbo].[TblT_ProjectHeader] ([IDProjectHeader])
GO
ALTER TABLE [dbo].[TblT_ProjectConstraint] CHECK CONSTRAINT [FK_TblT_ProjectConstraint_TblT_ProjectHeader]
GO
