USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_SOUsed]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		SENA PUTRA
-- Create date: January 25, 2018
-- Description:	EXEC [dbo].[Get_SOUsed]
-- =============================================
CREATE PROCEDURE [dbo].[Get_SOUsed]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	CREATE TABLE #TRANSFORMATION (
	Type nvarchar(25),
	Total int
	)

	INSERT INTO #TRANSFORMATION
	SELECT 'Transformation', COUNT(R.IDStrategicObjective) AS Total
	FROM (
		SELECT DISTINCT C.IDStrategicObjective FROM TblT_ProjectHeader A
		INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
		INNER JOIN TblM_StrategicObjective C ON B.IDStrategicObjective = C.IDStrategicObjective
		WHERE B.IsTransformasi = 1
	) R

	CREATE TABLE #NONTRANSFORMATION (
	Type nvarchar(25),
	Total int
	)

	INSERT INTO #NONTRANSFORMATION
	SELECT 'Non Transformation', COUNT(R.IDStrategicObjective) AS Total
	FROM (
		SELECT DISTINCT C.IDStrategicObjective FROM TblT_ProjectHeader A
		INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
		INNER JOIN TblM_StrategicObjective C ON B.IDStrategicObjective = C.IDStrategicObjective
		WHERE B.IsTransformasi = 0
	) R

	SELECT * FROM #TRANSFORMATION
	UNION ALL
	SELECT * FROM #NONTRANSFORMATION

	DROP TABLE #TRANSFORMATION
	DROP TABLE #NONTRANSFORMATION
END





GO
