USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_MasterProject]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Usp_Insert_MasterProject]
	-- Add the parameters for the stored procedure here
	-- Master Project --
	@IDProject int = null,
	@IDProgram int = null,
	@IDStrategicObjective int = null,
	@IDProjectPriority int = null,
	@IDDepartment int = null,
	@ProjectNo nvarchar(30) = null,
	@Year varchar(4) = null,
	@ProjectName nvarchar(max) = null,
	@Weight float = null,
	@IsTransformasi bit = null,

	-- Multi Data --
	@IDKPIOrganization varchar(100) = null,
	@IDSAPRKAT varchar(100) = null,

	-- Role Group
	@Udt_ProjectRoleGroup Udt_ProjectRoleGroup null readonly,

	-- Support Data --
	@User varchar(50) = null,
	@TypeTransaction varchar(10) = null
	,@IDKategoriProject int = null,
	@Poin float = null,
	@IDMKU varchar(100) = null
as
begin
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	set nocount on;

    -- Insert statements for procedure here
	begin try
		begin transaction;
		
		declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @User);
		declare @IDProjectStatus int = 0;
		declare @IDProjectStatusBefore int = 0;
		
		if(@Username = null) begin set @Username = '-'; end;
		
		if(@TypeTransaction = 'Insert') begin

			if(@IDProgram = null or @IDProgram = 0) select 'F|Pilih Program terlebih dahulu|0';
			else if(@IDStrategicObjective = null or @IDStrategicObjective = 0) select 'F|Pilih SO terlebih dahulu|0';
			else if(@IDProjectPriority = null or @IDProjectPriority = 0) select 'F|Pilih Project priority terlebih dahulu|0';
			else if(@IDDepartment = null or @IDDepartment = 0) select 'F|Pilih Unit Kerja  terlebih dahulu|0';
			else if(@Username = null) select 'F|User tidak diketahui|0';
			else if(@ProjectName is null) select 'F|Isi Nama Project terlebih dahulu|0';
			else if(@ProjectNo is null) select 'F|Isi Kode project terlebih dahulu|0';
			else begin
			
				insert into TblM_Project (
					IDProgram,
					IDStrategicObjective,
					IDProjectPriority,
					IDDepartment,
					ProjectNo,
					Year,
					ProjectName,
					Weight,
					CreatedDate,
					CreatedBy,
					IsTransformasi,
					IsActive
					,IDKategoriProject,
					Poin
				)
				values (
					@IDProgram,
					@IDStrategicObjective,
					@IDProjectPriority,
					@IDDepartment,
					@ProjectNo,
					@Year,
					@ProjectName,
					@Weight,
					getdate(),
					@Username,
					@IsTransformasi,
					1
					,@IDKategoriProject,
					@Poin
				);

				set @IDProject = scope_identity();
				
				insert into TblT_ProjectHeader (
					IDProject,
					IDProjectStatus,
					CreatedDate,
					CreatedBy,
					IsActive
				)
				values(
					@IDProject,
					1,
					getdate(),
					@Username,
					1
				);

				declare @IDProjectHeaderInsert int = scope_identity();

				insert into TblT_ProjectKPIOrganization (
					IDProjectHeader,
					IDKPIOrganization,
					CreatedDate,
					CreatedBy,
					IsActive
				)
				select
					@IDProjectHeaderInsert,
					SplitResult,
					getdate(),
					@Username,
					1
				from Ufn_SplitString(@IDKPIOrganization,'|');

				if(@IDMKU is not null) begin
					insert into TblM_MKU (
						IDProjectHeader,
						IdDepartment,
						CreatedDate,
						CreatedBy,
						IsActive
					)
					select
						@IDProjectHeaderInsert,
						SplitResult,
						getdate(),
						@Username,
						1
					from Ufn_SplitString(@IDMKU,'|');
				End

				insert into TblT_ProjectRKAT (
					IDProjectHeader,
					IDSAPMasterRKAT,
					CreatedDate,
					CreatedBy,
					IsActive
				)
				select
					@IDProjectHeaderInsert,
					SplitResult,
					getdate(),
					@Username,
					1
				from Ufn_SplitString(@IDSAPRKAT,'|');

				insert into TblT_ProjectRoleGroup (
					IDProjectHeader,
					IDRoleGroup,
					IDProgram,
					Username,
					CreatedDate,
					CreatedBy,
					IsActive
				)
				select @IDProjectHeaderInsert,
					IDRoleGroup,
					@IDProgram,
					Username,
					getdate(),
					@Username,
					1
				from TblT_UserAuthorized
				where Username = @Username;

				select 'S|Sukses|' + Convert(varchar(max),@IDProjectHeaderInsert);

			end;
		end
		else if(@TypeTransaction = 'Update') begin

			if(@IDProject = null) select 'F|ID Project tidak di suplai';
			else if(@IDProgram = null or @IDProgram = 0) select 'F|Pilih Program terlebih dahulu';
			else if(@IDStrategicObjective = null or @IDStrategicObjective = 0) select 'F|Pilih SO terlebih dahulu';
			else if(@IDProjectPriority = null or @IDProjectPriority = 0) select 'F|Pilih Project priority terlebih dahulu';
			else if(@IDDepartment = null or @IDDepartment = 0) select 'F|Pilih Unit Kerja  terlebih dahulu';
			else if(@Username = null) select 'F|User tidak diketahui';
			else if(@ProjectName is null) select 'F|Isi Nama Project terlebih dahulu';
			else if(@ProjectNo is null) select 'F|Isi Kode project terlebih dahulu';
			else begin
				
				if exists(select * from TblM_Project where IDProject = @IDProject and IsActive = 1) begin
					update TblM_Project
					set IDProgram = @IDProgram,
						IDStrategicObjective = @IDStrategicObjective,
						IDProjectPriority = @IDProjectPriority,
						IDDepartment = @IDDepartment,
						ProjectNo = @ProjectNo,
						Year = @Year,
						ProjectName = @ProjectName,
						Weight = @Weight,
						UpdatedDate = getdate(),
						UpdatedBy = @Username,
						IsTransformasi = @IsTransformasi
						,IDKategoriProject = @IDKategoriProject,
						Poin = @Poin
					where IDProject = @IDProject and IsActive = 1;

					declare @IDProjectHeader int = (select top 1 IDProjectHeader from TblT_ProjectHeader where IDProject = @IDProject);

					update TblT_ProjectKPIOrganization
					set IsActive = 0
					where IDProjectHeader = @IDProjectHeader;

					insert into TblT_ProjectKPIOrganization (
						IDProjectHeader,
						IDKPIOrganization,
						CreatedDate,
						CreatedBy,
						IsActive
					)
					select
						@IDProjectHeader,
						SplitResult,
						getdate(),
						@Username,
						1
					from Ufn_SplitString(@IDKPIOrganization,'|');

					update TblT_ProjectRKAT
					set IsActive = 0
					where IDProjectHeader = @IDProjectHeader;

					insert into TblT_ProjectRKAT (
						IDProjectHeader,
						IDSAPMasterRKAT,
						CreatedDate,
						CreatedBy,
						IsActive
					)
					select
						@IDProjectHeader,
						SplitResult,
						getdate(),
						@Username,
						1
					from Ufn_SplitString(@IDSAPRKAT,'|');
				
					update TblM_MKU
					set IsActive = 0
					where IDProjectHeader = @IDProjectHeader;

					if(@IDMKU is not null) begin
						insert into TblM_MKU (
							IDProjectHeader,
							IdDepartment,
							CreatedDate,
							CreatedBy,
							IsActive
						)
						select
							@IDProjectHeader,
							SplitResult,
							getdate(),
							@Username,
							1
						from Ufn_SplitString(@IDMKU,'|');
					End

					update TblT_ProjectRoleGroup
					set IDProgram = @IDProgram
					where IDProjectHeader = @IDProjectHeader
						and IsActive = 1;

					select 'S|Sukses';
				end
				else begin select 'F|ID Project tidak tersedia'; end;
				
			end;
		end
		else if(@TypeTransaction = 'Delete') begin
			if exists(select * from TblM_Project where IDProject = @IDProject and IsActive = 1) begin
				update TblM_Project
				set IsActive = 0
				where IDProject = @IDProject and IsActive = 1;
				select 'S|Sukses';
			end
			else begin
				select 'F|ID Project tidak tersedia atau sudah di non aktifkan';
			end
		end
		else if(@TypeTransaction = 'Canceled') begin
			if exists(select * from TblM_Project where IDProject = @IDProject and IsActive = 1) begin
				
				set @IDProjectStatus = (
					select top 1 IDProjectStatus
					from TblT_ProjectHeader
					where IDProject = @IDProject and IsActive = 1
				);

				update TblT_ProjectHeader
				set IDProjectStatus = 3,
					IDProjectStatusBefore = @IDProjectStatus
				where IDProject = @IDProject and IsActive = 1;

				select 'S|Sukses';
			end
			else begin
				select 'F|ID Project tidak tersedia atau sudah di non aktifkan';
			end
		end
		else if(@TypeTransaction = 'Activated') begin
			if exists(select * from TblM_Project where IDProject = @IDProject and IsActive = 1) begin
				
				set @IDProjectStatusBefore = (
					select top 1 IDProjectStatusBefore
					from TblT_ProjectHeader
					where IDProject = @IDProject and IsActive = 1
				);

				update TblT_ProjectHeader
				set IDProjectStatus = @IDProjectStatusBefore
				where IDProject = @IDProject and IsActive = 1;

				select 'S|Sukses';
			end
			else begin
				select 'F|ID Project tidak tersedia atau sudah di non aktifkan';
			end
		end
		else begin select 'F|Tipe transaksi tidak tersedia'; end;
		
		commit;
	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_MasterProject', @ErrNum, @ErrMsg, @Username;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch;

end;




GO
