USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_GrafikCapaianKpiDetail2]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_GrafikCapaianKpiDetail2] 
	-- Add the parameters for the stored procedure here
	@Year varchar(4) = null,
	@Category varchar(30) = null,
	@TW varchar(5) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

declare @Month int = null;
declare @Date date = null;
declare @DateStart date = null;
declare @Week int = null; 
declare @LastDay varchar(10) = null;
declare @FirstDay varchar(10) = null;
declare @TableHeader table(ProjectHeaderId int)
declare @SumOfFirstWeek int = null;
if(@Year is null)set @Year = year(getdate());
if(@TW = 'TW1') begin
	set @Month = 3 end;
else if(@TW = 'TW2') begin
	set @Month = 6 end;
else if(@TW = 'TW3') begin
	set @Month = 9 end;
else if(@TW = 'TW4') begin
	set @Month = 12 end

set @LastDay = (select top 1 WeekDayName from TblM_Date where Year = @Year  and Month =  @Month order by Date desc);
set @SumOfFirstWeek = (select Sum(WeekOfMonth) from TblM_Date where Year = @Year  and Month =  (@Month + 1) and WeekDayName = 'Saturday' and WeekOfMonth = 1 Group By WeekOfMonth);
if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month != 12) begin
		set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
		set @Year = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
	end;
else if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month = 12) begin
	set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
	set @Year = year(@Date);
	set @Month = month(@Date);
	set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
	end;
else begin 
	set @Date = (select top 1 Date from TblM_Date where Year = @Year  and Month =  @Month and WeekDayName = 'Saturday' order by Date desc)
	set @Year = year(@Date);
	set @Month = month(@Date);
	set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);	
	end;

if(@Category = 'SO') begin
	select distinct
		bb.IDProjectHeader,
		bb.ProjectNo,
		bb.ProjectName,
		bb.IDStrategicObjective as Id,
		bb.StrategicObjectiveCode as Name,
		Case
			when 'TW1' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW1,0) 
			when 'TW2' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW2,0) 
			when 'TW3' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW3,0) 
			when 'TW4' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW4,0)  
		End as RealisasiPencapaian,
		bb.IsTransformasi,
		bb.Poin
	from (
		select TOP 1 with ties
			a.IDStrategicObjective,
			a.StrategicObjectiveCode,
			a.IDProjectHeader,
			a.ProjectNo,
			a.StrategicObjectiveName,
			a.ProjectName,
			a.ProjectName as Name,
			a.IsTransformasi,
			IsNull(d.TW1,0) as TW1,
			IsNull(d.TW2,0) as TW2,
			IsNull(d.TW3,0) as TW3,
			IsNull(d.TW4,0) as TW4,
			IsNull(c.Poin,0) as Poin
		from TblD_ListProject a
		join TblT_ProjectHeader b on b.IDProjectHeader = a.IDProjectHeader
		JOIN tblm_project c on b.IDProject = c.IDProject
		left join TblM_KPIValue d on c.IDProject = d.IDProject and d.TWYear = @Year
		where a.IsActive = 1
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 8, 9, 13)
			and b.IsActive = 1 and c.IsActive = 1
			and a.DateDownload <= @Date
		order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)
	)bb
	JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = bb.IDProjectHeader
	join
	(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week
		from TblT_MPPProjectPlanPercentage
		where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID 
	where tmpd.IsActive = 1
		and tmpd.StartDate <= @Date
		and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
		and tmpd.ParentId = 0		
	order by Name asc;		
end
else if(@Category = 'Direktorat') begin
		select distinct
		bb.IDProjectHeader,
		bb.ProjectNo,
		bb.ProjectName,
		bb.Id,
		bb.Name,
		Case
			when 'TW1' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW1,0) 
			when 'TW2' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW2,0) 
			when 'TW3' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW3,0) 
			when 'TW4' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW4,0)  
		End as RealisasiPencapaian,
		bb.IsTransformasi,
		bb.Poin
		from			
		(select Top 1 with ties 
			a.IDProjectHeader,	
			a.ProjectNo,
			a.ProjectName,			
			case
				when IDDirektorat = 1 then a.IDDepartment
				else a.IDDirektorat
			end as Id,					
			case
				when IDDirektorat = 1 then a.DepartmentName
				else a.DirektoratName
			end as Name,												
			a.IsTransformasi,
			IsNull(d.TW1,0) as TW1,
			IsNull(d.TW2,0) as TW2,
			IsNull(d.TW3,0) as TW3,
			IsNull(d.TW4,0) as TW4,
			IsNull(c.Poin,0) as Poin			
		from TblD_ListProject a
		join TblT_ProjectHeader b on b.IDProjectHeader = a.IDProjectHeader
		JOIN tblm_project c on b.IDProject = c.IDProject
		left join TblM_KPIValue d on c.IDProject = d.IDProject and d.TWYear = @Year
		where a.IsActive = 1
			and (@Year between a.StartYear and a.EndYear)
			and a.IDProjectStatus not in(1, 8, 9, 13)
			and b.IsActive = 1 and c.IsActive = 1
			and a.DateDownload <= @Date
		order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)
		)bb
		JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = bb.IDProjectHeader
		join
		(
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week
			from TblT_MPPProjectPlanPercentage
			where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID 
		where tmpd.IsActive = 1
			and tmpd.StartDate <= @Date
			and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
			and tmpd.ParentId = 0
		order by 
			bb.Name asc,
			bb.Id desc;
	end;
else if(@Category = 'KategoriProyek') begin
		select distinct
		bb.IDProjectHeader,
		bb.ProjectNo,
		bb.ProjectName,
		bb.Id,
		bb.Name,
		Case
			when 'TW1' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW1,0) 
			when 'TW2' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW2,0) 
			when 'TW3' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW3,0) 
			when 'TW4' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW4,0)   
		End as RealisasiPencapaian,
		bb.IsTransformasi,
		bb.Poin 				
		from (		
			select TOP 1 with ties 
				a.IDProjectHeader,
				a.ProjectName,
				a.ProjectNo,									
				a.IsTransformasi,
				e.KategoriName as Name,
				e.IDKategoriProject as Id,
				IsNull(d.TW1,0) as TW1,
				IsNull(d.TW2,0)	as TW2,
				IsNull(d.TW3,0)	as TW3,
				IsNull(d.TW4,0)	as TW4,
				IsNull(c.Poin,0) as Poin															
			from TblD_ListProject a
			join TblT_ProjectHeader b on b.IDProjectHeader = a.IDProjectHeader
			JOIN tblm_project c on b.IDProject = c.IDProject
			left join TblM_KPIValue d on c.IDProject = d.IDProject and d.TWYear = @Year
			JOIN tblm_KategoriProject e on e.IDKategoriProject = c.IDKategoriProject
			where a.IsActive = 1
				and (@Year between a.StartYear and a.EndYear)
				and a.IDProjectStatus not in(1, 8, 9, 13)
				and e.IsActive = 1 and c.IsActive = 1 and b.IsActive = 1 and d.IsActive = 1
				and a.DateDownload <= @Date
			order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)
		)bb 
		JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = bb.IDProjectHeader
		join
		(
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week
			from TblT_MPPProjectPlanPercentage
			where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID 
		where tmpd.IsActive = 1
		and tmpd.StartDate <= @Date
		and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
		and tmpd.ParentId = 0
		order by 
		bb.Name asc,
		bb.Id desc;
	end;
else if(@Category = 'Kpi') begin
		select distinct
		bb.IDProjectHeader,
		bb.ProjectNo,
		bb.ProjectName,
		bb.Id,
		bb.Id as Name,
		Case
			when 'TW1' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW1,0) 
			when 'TW2' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW2,0) 
			when 'TW3' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW3,0) 
			when 'TW4' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(bb.TW4,0)   
		End as RealisasiPencapaian,
		bb.IsTransformasi,
		bb.Poin	
		from (		
				select top 1 with ties
					a.IDProjectHeader,
					a.ProjectName,
					a.ProjectNo,			
					a.IsTransformasi,
					c.KPIName as Name,
					c.KPICode as Id,
					IsNull(f.TW1,0) as TW1,
					IsNull(f.TW2,0) as TW2,
					IsNull(f.TW3,0) as TW3,
					IsNull(f.TW4,0) as TW4,
					IsNull(e.Poin,0) as Poin
					from TblD_ListProject a
					join TblT_ProjectKPIOrganization b on b.IDProjectHeader = a.IDProjectHeader and b.IsActive = 1 and b.IDProjectHeader is not null
					join TblM_KPIOrganization c on c.IDKPIOrganization = b.IDKPIOrganization
					join TblT_ProjectHeader d on d.IDProjectHeader = a.IDProjectHeader
					JOIN tblm_project e on d.IDProject = e.IDProject
					left join TblM_KPIValue f on e.IDProject = f.IDProject and f.TWYear = @Year
					where a.IsActive = 1
				and a.IDProjectStatus not in(1, 8, 9, 13)
				and (@Year between a.StartYear and a.EndYear)
				and b.IsActive = 1 and c.IsActive = 1 and d.IsActive = 1 and f.IsActive = 1	
				and a.DateDownload <= @Date
			order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)			
			)bb 
			JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = bb.IDProjectHeader
			join
			(
				select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week
				from TblT_MPPProjectPlanPercentage
				where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
				order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
			) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID 
			where tmpd.IsActive = 1
			and tmpd.StartDate <= @Date
			and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
			and tmpd.ParentId = 0
			order by 
			Name asc,
			bb.Id desc;
		end
else if(@Category = 'JenisProyek') begin
	select * 
	from(
		select TOP 1 with ties
		a.IDProjectHeader,
		a.ProjectNo,
		a.ProjectName,
		case
			when a.IsTransformasi = 1 then 'Transformasi'
			else 'NonTransformasi'
		end as Id,					
		case
			when a.IsTransformasi = 1 then 'Transformasi'
			else 'Non Transformasi'
		end as Name,
		Case
			when 'TW1' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(d.TW1,0) 
			when 'TW2' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(d.TW2,0) 
			when 'TW3' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(d.TW3,0) 
			when 'TW4' = [dbo].[Ufn_GetTriwulan](tmpp.Month) then IsNull(d.TW4,0)   
		End as RealisasiPencapaian,
		a.IsTransformasi,
		IsNull(c.Poin,0) as Poin			
		from TblD_ListProject a	
		JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderID = a.IDProjectHeader
		join
		(
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week
			from TblT_MPPProjectPlanPercentage
			where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID 
		join TblT_ProjectHeader b on b.IDProjectHeader = a.IDProjectHeader
		JOIN tblm_project c on b.IDProject = c.IDProject
		left join TblM_KPIValue d on c.IDProject = d.IDProject	and d.TWYear = @Year		
		where a.IsActive = 1
			and (@Year between a.StartYear and a.EndYear)
			and c.IsActive = 1 
			and b.IsActive = 1 
			and d.IsActive = 1
			and a.IDProjectStatus not in(1, 8, 9, 13)
			and tmpd.IsActive = 1
			and tmpd.StartDate <= @Date
			and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
			and tmpd.ParentId = 0
			and a.DateDownload <= @Date
			order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)
		)bb
	order by 
		IsTransformasi asc;		
	end


END



GO
