USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetTotalAnggaran]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetTotalAnggaran]
(
	-- Add the parameters for the function here
	@RENCANA_KERJA VARCHAR(20)
)
RETURNS DECIMAL(30,0)
AS
BEGIN

	declare @Result decimal(30,0);
	set @Result = (
		select sum(cast(SIGNEDDATA as decimal(30,0)))
		from TblSAP_RKATFinal
		where RENCANA_KERJA = @RENCANA_KERJA
	);

	return @Result;

END
GO
