USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_ProjectStatus]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_ProjectStatus](
	[IDProjectStatus] [int] NOT NULL,
	[StatusCode] [varchar](20) NULL,
	[StatusName] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[Color] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TblM_ProjectStatus] PRIMARY KEY CLUSTERED 
(
	[IDProjectStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
