USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblG_Project_ExecutionList]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblG_Project_ExecutionList](
	[IDProject] [int] NULL,
	[IDProjectHeader] [int] NULL,
	[ProjectName] [varchar](max) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[TaskID] [bigint] NULL,
	[Realisasi] [float] NULL,
	[Planning] [float] NULL,
	[Pencapaian] [float] NULL,
	[IsTransformasi] [bit] NULL,
	[LastUpdateBy] [varchar](20) NULL,
	[LastUpdateDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
