USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_SAPRKAT]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_SAPRKAT] AS TABLE(
	[IDSAP] [int] NULL,
	[ACTIVE] [varchar](20) NULL,
	[COSTCTR] [varchar](20) NULL,
	[KPI] [varchar](20) NULL,
	[LEVEL] [varchar](20) NULL,
	[SCALING] [varchar](20) NULL,
	[STRAT_OBJ] [varchar](20) NULL,
	[WORKPLAN_TYPE] [varchar](20) NULL,
	[YEAR] [varchar](4) NULL,
	[PARENT] [varchar](20) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[LONG_DESC] [varchar](max) NULL,
	[EVDESCRIPTION] [varchar](200) NULL,
	[KPI_GROUP] [varchar](20) NULL,
	[PRO_GROUP] [varchar](20) NULL,
	[UNCONTROLLABLE] [varchar](200) NULL
)
GO
