USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblSAP_Komitmen]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSAP_Komitmen](
	[IDSAPKomitmen] [int] IDENTITY(1,1) NOT NULL,
	[DateDownload] [date] NULL,
	[ACCT_CODE] [nvarchar](20) NULL,
	[AST_TYP] [nvarchar](20) NULL,
	[AUDITTRAIL] [nvarchar](20) NULL,
	[CATEGORY] [nvarchar](20) NULL,
	[COSTCTR] [nvarchar](20) NULL,
	[DRIVER] [nvarchar](20) NULL,
	[FLOW] [nvarchar](20) NULL,
	[RENCANA_KERJA] [nvarchar](20) NULL,
	[RPTCURRENCY] [nvarchar](20) NULL,
	[STD_BIAYA] [nvarchar](20) NULL,
	[STRAT_OBJ] [nvarchar](20) NULL,
	[TIME] [nvarchar](20) NULL,
	[SIGNEDDATA] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](20) NULL,
 CONSTRAINT [PK_TblSAP_Komitmen] PRIMARY KEY CLUSTERED 
(
	[IDSAPKomitmen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
