USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ReportProjectCharter_BAK]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Usp_Get_ReportProjectCharter 707
*/


CREATE Procedure [dbo].[Usp_Get_ReportProjectCharter_BAK] --662
	@ProjectHeaderID int
AS
BEGIN

SELECT
	Proj.ProjectName as Nama ,
	Proj.ProjectNo as Nomor,
	
	dbo.Ufn_GetMonthName_Indonesia(dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@ProjectHeaderID,'StartMonth')) + ' ' + Convert(varchar, dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@ProjectHeaderID,'StartYear')) as Mulai,
	dbo.Ufn_GetMonthName_Indonesia(dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@ProjectHeaderID,'EndMonth')) + ' ' + Convert(varchar, dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@ProjectHeaderID,'EndYear')) as Selesai,
	REPLACE(REPLACE(REPLACE(PD.Background,';line-height: 115%',''),';line-height:115%',''),'line-height','LPS') as LatarBelakang , 
	REPLACE(REPLACE(REPLACE(PD.Objective,';line-height: 115%',''),';line-height:115%','') ,'line-height','LPS')as TujuanProject , 
	REPLACE(REPLACE(PD.ScopeOfWork,';line-height:115%',''),'line-height','LPS') as RuangLingkup,	
	REPLACE(REPLACE(PD.BudgetDescription,';line-height:115%',''),'line-height','LPS') as Budget,
	DATEDIFF(MM,(Convert(varchar, dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@ProjectHeaderID,'StartMonth'))+'-01-' +  Convert(varchar, dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@ProjectHeaderID,'StartYear'))),
	(Convert(varchar,dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@ProjectHeaderID,'EndMonth'))+'-01-' +  Convert(varchar, dbo.Ufn_GetStartDateEndDate_ByProjectHeaderID(@ProjectHeaderID,'EndYear')))) + 1 as TotalBulan ,
	(
		SELECT TOP 1 dbo.Ufn_GetMonthName_Indonesia(Month(PA.CreatedDate)) + ' ' + CONVERT(varchar(4),Year(PA.CreatedDate)) FROM 
		TblH_ProjectInitApproval PA
		where
		PA.IDProjectHeader = @ProjectHeaderID
		and
		PA.Type = 'Submit'
		ORDER BY CreatedDate DESC
	) as Tanggal
FROM
TblT_ProjectDetail PD
INNER JOIN
TblT_ProjectHeader PH
ON
PD.IDProjectHeader = PH.IDProjectHeader
INNER JOIN
TblM_Project Proj
ON
PH.IDProject = Proj.IDProject
WHERE
PD.IDProjectHeader = @ProjectHeaderID
and
PD.IsActive = '1'

SELECT
 RG.Description as RoleName ,	Emp.Posisi as Position , Emp.Nama as StakeHolder
FROM
TblT_ProjectRoleGroup PRG
INNER JOIN
TblT_ProjectHeader PH
ON
PRG.IDProjectHeader = PH.IDProjectHeader
INNER JOIN
TblM_RoleGroup RG
ON
RG.IDRoleGroup = PRG.IDRoleGroup
INNER JOIN
TblDW_Usergroup UG
ON
PRG.Username = UG.User_LoginName
INNER JOIN
TblDW_Employee Emp
ON
UG.Usergroup_Pernr = Emp.PersonalNumber
WHERE
PRG.IDProjectHeader = @ProjectHeaderID
and
PRG.IsActive = 1
and
RG.IDRoleGroup IN (
	2  ,
	3  ,
	4  ,
	5  ,
	6  ,
	7  ,
	8  ,
	11 ,
	9
)
ORDER BY
RG.Level DESC


SELECT
	CASE WHEN 
		MPD.TaskName 
		LIKE '%milestone%' 
	THEN 
		NULL 
	ELSE 	MPD.OutlineNumber
	END
	as No, TaskName as Aktivitas , 
	CONVERT(varchar, MPD.Duration) + ' HK' as Durasi,  
	CONVERT(varchar,StartDate,106) as Mulai , 
	CONVERT(varchar,EndDate,106) as Selesai ,
	--CASE WHEN 
	--(
	--	SELECT COUNT(TaskID) TaskCount 
	--	FROM TblT_MPPProjectPlanDetail a 
	--	WHERE a.ParentID = MPD.TaskID 
	--	and 
	--	a.ProjectHeaderID = MPD.ProjectHeaderID
	--) > 1 
	--THEN 'True' 
	--ELSE 'False' 
	--END 
	--AS [Bold],
	CASE
	WHEN	
		MPD.OutlineLevel = 1
	THEN
		'#f2dcdb'
	WHEN
	(
		SELECT COUNT(TaskID) TaskCount 
		FROM TblT_MPPProjectPlanDetail a 
		WHERE a.ParentID = MPD.TaskID 
		and 
		a.ProjectHeaderID = MPD.ProjectHeaderID and 
		a.OutlineLevel
		NOT IN (1)
	) > 1 		
	THEN
		'#e6b8b7'
	ELSE
		'#ffffff'
	END
	as BGColor,
	CASE WHEN 
		MPD.TaskName 
		LIKE '%milestone%' 
	THEN 
		'#ff0000' 
	ELSE 	
		'#000000' 
	END
	as 
	FontColor,
	CASE WHEN 
	(
		SELECT COUNT(TaskID) TaskCount 
		FROM TblT_MPPProjectPlanDetail a 
		WHERE a.ParentID = MPD.TaskID 
		and 
		a.ProjectHeaderID = MPD.ProjectHeaderID
	) > 1 OR 	
	MPD.TaskName 
	LIKE '%milestone%' 
	THEN 
		'Bold' 
	ELSE 
		'Normal' 
	END 
	AS 
	FontWeight
FROM 
TblT_MPPProjectPlanDetail MPD
where
MPD.ProjectHeaderID = @ProjectHeaderID
AND
MPD.TaskID != 0
and
MPD.IsActive = '1'


-- PROJECT MILESTONE

SELECT
	ROW_NUMBER() OVER(ORDER BY(SELECT NULL)) 
	as No, 
	TaskName as Aktivitas , 
	dbo.Ufn_GetMonthName_Indonesia(DATEPART(M,EndDate))+' '+CONVERT(Varchar, DATEPART(YYYY,EndDate)) as Selesai ,
	CASE
	WHEN	
		MPD.OutlineLevel = 1
	THEN
		'#f2dcdb'
	WHEN
	(
		SELECT COUNT(TaskID) TaskCount 
		FROM TblT_MPPProjectPlanDetail a 
		WHERE a.ParentID = MPD.TaskID 
		and 
		a.ProjectHeaderID = MPD.ProjectHeaderID and 
		a.OutlineLevel
		NOT IN (1)
	) > 1 		
	THEN
		'#e6b8b7'
	ELSE
		'#ffffff'
	END
	as BGColor,
	CASE WHEN 
		MPD.TaskName 
		LIKE '%milestone%' 
	THEN 
		'#ff0000' 
	ELSE 	
		'#000000' 
	END
	as 
	FontColor,
	CASE WHEN 
	(
		SELECT COUNT(TaskID) TaskCount 
		FROM TblT_MPPProjectPlanDetail a 
		WHERE a.ParentID = MPD.TaskID 
		and 
		a.ProjectHeaderID = MPD.ProjectHeaderID
	) > 1 OR 	
	(
		MPD.TaskName 
		LIKE '%milestone%'
		OR
		MPD.IsMilestone = 1
	) 
	THEN 
		'Bold' 
	ELSE 
		'Normal' 
	END 
	AS 
	FontWeight
FROM 
TblT_MPPProjectPlanDetail MPD
where
MPD.ProjectHeaderID = @ProjectHeaderID
AND
MPD.TaskID != 0
and
MPD.IsActive = '1'
and
(
	MPD.TaskName 
	LIKE '%milestone%'
	OR
	MPD.IsMilestone = 1
) 


-- Kendala Asumsi Resiko

SELECT
	'Constrains' as [Type], REPLACE(REPLACE(PR.Constraints,';line-height:115%',''),'line-height','lps') as [Value]
FROM
	TblT_ProjectRisk PR
WHERE
	PR.IDProjectHeader = @ProjectHeaderID
	
UNION ALL
SELECT
	'Assumptions' as [Type], REPLACE(REPLACE(PR.Assumptions,';line-height:115%',''),'line-height','lps') as [Value]
FROM
	TblT_ProjectRisk PR
WHERE
	PR.IDProjectHeader = @ProjectHeaderID

UNION ALL
SELECT
	'Risks and Dependencies' as [Type], REPLACE(REPLACE(PR.Risk,';line-height:115%',''),'line-height','lps') as [Value]
FROM
	TblT_ProjectRisk PR
WHERE
	PR.IDProjectHeader = @ProjectHeaderID
UNION ALL
SELECT
	'Approach' as [Type], REPLACE(REPLACE(PR.Approach,';line-height:115%',''),'line-height','lps') as [Value]
FROM
	TblT_ProjectRisk PR
WHERE
	PR.IDProjectHeader = @ProjectHeaderID


-- Prowjek Sponsor
SELECT
 RG.Description as RoleName ,	Emp.Posisi as Position , Emp.Nama as StakeHolder
FROM
TblT_ProjectRoleGroup PRG
INNER JOIN
TblT_ProjectHeader PH
ON
PRG.IDProjectHeader = PH.IDProjectHeader
INNER JOIN
TblM_RoleGroup RG
ON
RG.IDRoleGroup = PRG.IDRoleGroup
INNER JOIN
TblDW_Usergroup UG
ON
PRG.Username = UG.User_LoginName
INNER JOIN
TblDW_Employee Emp
ON
UG.Usergroup_Pernr = Emp.PersonalNumber
WHERE
PRG.IDProjectHeader = @ProjectHeaderID
and
PRG.IsActive = 1
and
PRG.IDRoleGroup = 8
ORDER BY
RG.IDRoleGroup DESC

-- Prowjek Owner
SELECT
 RG.Description as RoleName ,	Emp.Posisi as Position , Emp.Nama as StakeHolder
FROM
TblT_ProjectRoleGroup PRG
INNER JOIN
TblT_ProjectHeader PH
ON
PRG.IDProjectHeader = PH.IDProjectHeader
INNER JOIN
TblM_RoleGroup RG
ON
RG.IDRoleGroup = PRG.IDRoleGroup
INNER JOIN
TblDW_Usergroup UG
ON
PRG.Username = UG.User_LoginName
INNER JOIN
TblDW_Employee Emp
ON
UG.Usergroup_Pernr = Emp.PersonalNumber
WHERE
PRG.IDProjectHeader = @ProjectHeaderID
and
PRG.IsActive = 1
and
PRG.IDRoleGroup = 7
ORDER BY
RG.IDRoleGroup DESC

-- Project Head of PMO
SELECT
 RG.Description as RoleName ,	Emp.Posisi as Position , Emp.Nama as StakeHolder
FROM
TblT_ProjectRoleGroup PRG
INNER JOIN
TblT_ProjectHeader PH
ON
PRG.IDProjectHeader = PH.IDProjectHeader
INNER JOIN
TblM_RoleGroup RG
ON
RG.IDRoleGroup = PRG.IDRoleGroup
INNER JOIN
TblDW_Usergroup UG
ON
PRG.Username = UG.User_LoginName
INNER JOIN
TblDW_Employee Emp
ON
UG.Usergroup_Pernr = Emp.PersonalNumber
WHERE
PRG.IDProjectHeader = @ProjectHeaderID
and
PRG.IsActive = 1
and
PRG.IDRoleGroup = 6
ORDER BY
RG.IDRoleGroup DESC

-- Project Manager
SELECT
	RG.Description as RoleName ,	Emp.Posisi as Position , Emp.Nama as StakeHolder
FROM
	TblT_ProjectRoleGroup PRG
	INNER JOIN
	TblT_ProjectHeader PH
ON
PRG.IDProjectHeader = PH.IDProjectHeader
INNER JOIN
TblM_RoleGroup RG
ON
RG.IDRoleGroup = PRG.IDRoleGroup
INNER JOIN
TblDW_Usergroup UG
ON
PRG.Username = UG.User_LoginName
INNER JOIN
TblDW_Employee Emp
ON
UG.Usergroup_Pernr = Emp.PersonalNumber
WHERE
PRG.IDProjectHeader = @ProjectHeaderID
and
PRG.IsActive = 1
and
PRG.IDRoleGroup = 3
ORDER BY
RG.IDRoleGroup DESC

-- PMO Manager
SELECT
	'Program Manager' as RoleName ,	Emp.Posisi as Position , Emp.Nama as StakeHolder
FROM
	TblT_ProjectRoleGroup PRG
	INNER JOIN
	TblT_ProjectHeader PH
ON
PRG.IDProjectHeader = PH.IDProjectHeader
INNER JOIN
TblM_RoleGroup RG
ON
RG.IDRoleGroup = PRG.IDRoleGroup
INNER JOIN
TblDW_Usergroup UG
ON
PRG.Username = UG.User_LoginName
INNER JOIN
TblDW_Employee Emp
ON
UG.Usergroup_Pernr = Emp.PersonalNumber
WHERE
PRG.IDProjectHeader = @ProjectHeaderID
and
PRG.IsActive = 1
and
PRG.IDRoleGroup = 5
ORDER BY
RG.IDRoleGroup DESC
END





GO
