USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Ufn_GetTotalAnggaran_ByProjectHeaderID] ( @IDProjectHeader BIGINT)

-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
RETURNS  @tempRKAT TABLE
(
	IDProjectHeader BIGINT,
	IDSAPMasterRKAT BIGINT,
	RKAT VARCHAR(MAX),
	RKATCode VARCHAR(MAX),
	RKATValue NUMERIC,
	RealValue NUMERIC,
	KomitValue NUMERIC
)
AS

BEGIN
--DECLARE @IDProjectHeader BIGINT = 156

INSERT INTO @tempRKAT (IDProjectHeader,IDSAPMasterRKAT,RKAT,RKATCode,RKATValue,RealValue,KomitValue)
select distinct a.IDProjectHeader, a.IDSAPMasterRKAT,b.EVDESCRIPTION,b.IDSAP,
		(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_RKATFinal c WHERE c.RENCANA_KERJA = b.IDSAP),
		(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Realisasi d WHERE d.RENCANA_KERJA = b.IDSAP),
		(SELECT SUM(ISNULL(CAST(SIGNEDDATA AS NUMERIC),0)) FROM TblSAP_Komitmen e WHERE e.RENCANA_KERJA = b.IDSAP)
	FROM TblT_ProjectRKAT  a 
	 JOIN TblSAP_MasterRKAT b ON a.IDSAPMasterRKAT = b.IDSAPMasterRKAT
	 --JOIN TblSAP_RKATFinal c ON b.IDSAP  = c.RENCANA_KERJA
where IDProjectHeader = @IDProjectHeader and a.IsActive = 1

--UPDATE @tempRKAT SET RKATValue = SUM(CAST(SIGNEDDATA AS numeric)) FROM @tempRKAT a JOIN TblSAP_RKATFinal b ON a.RKATCode = b.IDSAPRKATFinal
--SELECT * FROM @tempRKAT


--select * From TblT_ProjectRKAT WHERE IDProjectHeader = @IDProjectHeader
return

end  
GO
