USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblD_ListProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblD_ListProject](
	[IDListProject] [int] IDENTITY(1,1) NOT NULL,
	[DateDownload] [date] NULL,
	[IDProjectStatus] [int] NULL,
	[IDDirektorat] [int] NULL,
	[IDDepartment] [int] NULL,
	[IDStrategicObjective] [int] NULL,
	[IDProgram] [int] NULL,
	[IDProjectHeader] [int] NULL,
	[DirektoratCode] [nvarchar](max) NULL,
	[DepartmentCode] [nvarchar](max) NULL,
	[StrategicObjectiveCode] [nvarchar](max) NULL,
	[ProgramNo] [nvarchar](max) NULL,
	[ProjectNo] [nvarchar](max) NULL,
	[DirektoratName] [nvarchar](max) NULL,
	[DepartmentName] [nvarchar](max) NULL,
	[StrategicObjectiveName] [nvarchar](max) NULL,
	[ProgramName] [nvarchar](max) NULL,
	[ProjectName] [nvarchar](max) NULL,
	[IsTransformasi] [bit] NULL,
	[PlanPencapaian] [decimal](18, 2) NULL,
	[RealisasiPencapaian] [decimal](18, 2) NULL,
	[Pencapaian] [decimal](18, 2) NULL,
	[StartDay] [nvarchar](50) NULL,
	[StartMonth] [nvarchar](50) NULL,
	[StartYear] [nvarchar](50) NULL,
	[EndDay] [nvarchar](50) NULL,
	[EndMonth] [nvarchar](50) NULL,
	[EndYear] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[Anggaran] [nvarchar](50) NULL,
	[RealisasiAnggaran] [nvarchar](50) NULL,
	[KomitAnggaran] [nvarchar](50) NULL,
	[NamaProjectManager] [nvarchar](max) NULL,
	[Kendala] [nvarchar](max) NULL,
	[RencanaAksi] [nvarchar](max) NULL,
	[TrenBefore] [varchar](10) NULL,
	[Tren] [varchar](10) NULL,
	[TrenPencapaian] [varchar](10) NULL,
	[LastUpdated] [datetime] NULL,
	[StatusProject] [varchar](50) NULL,
	[Periode] [varchar](50) NULL,
	[NamaProgramManager] [varchar](max) NULL,
	[UsernameProgramManager] [varchar](max) NULL,
	[UsernameProjectManager] [varchar](max) NULL,
	[NextApproval] [varchar](max) NULL,
 CONSTRAINT [PK_TblD_ListProject] PRIMARY KEY CLUSTERED 
(
	[IDListProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_TblD_ListProject]    Script Date: 07/07/2025 14:26:30 ******/
CREATE NONCLUSTERED INDEX [IX_TblD_ListProject] ON [dbo].[TblD_ListProject]
(
	[IsActive] DESC,
	[DateDownload] DESC,
	[IDProjectStatus] ASC
)
INCLUDE([IDProjectHeader]) 
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
