USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[mobile_summary_header]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[mobile_summary_header] -- exec [mobile_summary_header] '20190722','Direktorat','NonDir'
@date nvarchar(90), @filter nvarchar(255),@subfilter nvarchar(255) -- Unit Kerja, Direktorat,Strategic Objective
as

declare @year nvarchar(30)
declare @month nvarchar(30)
declare @week nvarchar(30)

select @year = Year from TblM_Date where DateKey = @date
select @month = Month from TblM_Date where DateKey = @date
select @week = WeekOfMonth from TblM_Date where DateKey = @date

exec dbo.Get_DashboardSummaryHeader @year, @month, @filter, @week, @subfilter

-- filter = Unit Kerja, Direktorat,Strategic Objective

-- Direktorat = NonDir KMSPK DRSP DKRB DHUK DKEU DSDA
-- Unit Kerja =  GAKT GPBN GRIS GSSK GPEB GKPT GINV GPRB GLIK GPKL GSTI GLUM GPOP GSDM GMRL GPKB GPTF GAIN SEKL GAMR GMAS GHIN GPSO
-- Strategic Obj = SO.04-I SO.03-I SO.01-S SO.07-L SO.08-L SO.10-F SO.09-L



GO
