USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ReportKendala]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_ReportKendala]
	@Year varchar(4) , 
	@Week int = null ,
	@Month int
AS
BEGIN	
	DECLARE @Date date

	SET @Date = 
	(
		SELECT TOP 1 DATE FROM 
		TblM_Date
		WHERE
		@Year = Year 
		AND
		@Month = Month
		ORDER BY DATE DESC
	)


END



GO
