USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_EmployeeDetail]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:    Andre Ibrahim Latief 
-- Create date: 17-12-2018 
-- Description:  Showing Detail For Session 
-- Exec [Usp_Get_EmployeeDetail] 'Training11' 
-- ============================================= 
CREATE PROCEDURE [dbo].[Usp_Get_EmployeeDetail] @username VARCHAR(50)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION getemployeelogindetail

		DECLARE @rincung INT
		DECLARE @temptable TABLE (
			Username VARCHAR(max)
			,personalnumber VARCHAR(max)
			,nama VARCHAR(max)
			,jabatan VARCHAR(max)
			,posisi VARCHAR(max)
			,pangkat VARCHAR(max)
			,Company VARCHAR(max)
			,alamat VARCHAR(max)
			,Departement VARCHAR(max)
			,RoleSystem VARCHAR(max)
			)
		DECLARE @Persn VARCHAR(20)

		SELECT @Persn = US.PersonNumber
		FROM TblT_UserAuthorized US
		WHERE US.Username = @username

		UPDATE tblt_userauthorized
		SET lastlogin = Getdate()
		WHERE username = @username

		INSERT INTO tblh_loginlog (
			username
			,logindate
			)
		VALUES (
			@username
			,Getdate()
			)

		SELECT @rincung = COUNT(checks.Username)
		FROM (
			SELECT Ug.user_loginname AS Username
				,Emp.personalnumber
				,Emp.nama
				,Emp.jabatan
				,Emp.posisi
				,Emp.pangkat
				,'Lembaga Penjamin Simpanan' AS Company
				,Emp.alamat
				,Emp.kodeunitkerja AS Departement
			FROM tbldw_employee Emp
			INNER JOIN tbldw_usergroup Ug ON Emp.personalnumber = Ug.usergroup_pernr
			WHERE Ug.user_loginname = @username
			) checks

		IF @rincung > 0
		BEGIN
			INSERT INTO @temptable
			SELECT Ug.user_loginname AS Username
				,Emp.personalnumber
				,Emp.nama
				,Emp.jabatan
				,Emp.posisi
				,Emp.pangkat
				,'Lembaga Penjamin Simpanan' AS Company
				,Emp.alamat
				,Emp.kodeunitkerja AS Departement
				,UA.IDRoleGroup
			FROM tbldw_employee Emp
			INNER JOIN tbldw_usergroup Ug ON Emp.personalnumber = Ug.usergroup_pernr
			INNER JOIN 
			TblT_UserAuthorized UA 
			ON
			Ug.User_LoginName = UA.Username
			WHERE Ug.user_loginname = @username
		END
		ELSE
		BEGIN
			INSERT INTO @temptable
			SELECT @username AS Username
				,@Persn
				,@username
				,'User'
				,'User'
				,'User'
				,'Lembaga Penjamin Simpanan' AS Company
				,''
				,'' AS Departement
				,'' 
		END

		SELECT Username 
			,personalnumber 
			,nama 
			,jabatan 
			,jabatan AS posisi 
			,pangkat 
			,Company 
			,alamat 
			,Departement 
			,RoleSystem
		FROM @temptable

		-------------------------------------------------------------------------------------------------------------------------- 
		--SHOWING ROLE USER PROJECT's                                                                                     -- 
		-------------------------------------------------------------------------------------------------------------------------- 
		--SELECT RG.rolegroupname
		--	,Proj.idproject
		--FROM tblt_projectrolegroup PRS
		--INNER JOIN tblt_userauthorized UAs ON PRS.username = UAs.username
		--INNER JOIN tblm_rolegroup RG ON PRS.idrolegroup = RG.idrolegroup
		--INNER JOIN tblt_projectheader PH ON PRS.idprojectheader = PH.idprojectheader
		--INNER JOIN tblm_project Proj ON PH.idproject = Proj.idproject
		--WHERE PRS.username = @username
		--	AND PRS.IsActive = '1'

		-------------------------------------------------------------------------------------------------------------------------- 
		--SHOWING ROLE USER PROJECT's                                                                                     -- 
		-------------------------------------------------------------------------------------------------------------------------- 

		SELECT
			DISTINCT 
			R.RoleName as RoleGroupName
		FROM
			TblT_UserAuthorized UA
			INNER JOIN
				TblT_RoleMapping RM
			ON
				RM.IDRoleGroup = UA.IDRoleGroup
			INNER JOIN
				TblM_Role R
			ON
				R.IDRole = RM.IDRole
		Where
			UA.Username = @username
			and
			UA.IsActive = '1'
			and
			R.IsActive = '1'
			and
			RM.IsActive = '1'

		COMMIT TRANSACTION getemployeelogindetail
	END TRY

	BEGIN CATCH
		ROLLBACK TRANSACTION getemployeelogindetail

		EXEC Usp_insert_errorlog 'Usp_Get_EmployeeDetail'
			,error_number
			,error_message
			,@username
	END CATCH
END




GO
