USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetTrenBefore]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetTrenBefore] -- select [dbo].[Ufn_GetTrenBefore](234, 0, 9, 2019)
(
	-- Add the parameters for the function here
	@IDProjectHeader int,
	@IsTransformasi bit,
	@Month int,
	@Year varchar(4)

)
RETURNS varchar(10)
AS
BEGIN
	
	declare @PreviousMonth int = @Month - 1;
	declare @Result varchar(max) = '';

	if(@PreviousMonth = 0) begin
		set @Month = 12;
		set @Year = cast(@Year as int) - 1;
	end;

	if(cast([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @PreviousMonth, @Year) as float) >= 110.00)begin
		set @Result = 'Biru';
	end
	else if(cast([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @PreviousMonth, @Year) as float) >= 100.00)begin
		set @result = 'Hijau';
	end
	else if(cast([dbo].[Ufn_GetPencapaian](@IDProjectHeader, @IsTransformasi, @PreviousMonth, @Year) as float) >= 85.00)begin
		set @result = 'Kuning';
	end
	else begin
		set @result = 'Merah';
	end;

	return @Result;
END
GO
