USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Upload_File]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Upload_File]
	@personnumber varchar(20),
	@documentname varchar(max),
	@doctype int,
	@docphase int,
	@ProjectHeaderID int,
	@TaskID bigint
AS
BEGIN
	DECLARE	
		@errm varchar(max),
		@errn int,
		@username varchar(50)

	BEGIN TRY
		BEGIN TRANSACTION uploadtransaction
		
		-----------------------------------------------------------------------
		--- GET USER NAME                                                   ---
		-----------------------------------------------------------------------	
			SELECT @username = ug.User_LoginName 
			FROM TblDW_Employee emp
			INNER JOIN
				TblDW_Usergroup ug
			ON emp.PersonalNumber = ug.Usergroup_Pernr
			WHERE PersonalNumber = @personnumber  

		-----------------------------------------------------------------------
		--- UPLOAD DOCUMENT                                                 ---
		-----------------------------------------------------------------------	
		INSERT INTO
		TblT_Document
		(
			[IDDocPhase],
			[IDDocType],
			[DocumentName],
			[IDProjectHeader],
			[CreatedDate],
			[CreatedBy],
			[IsActive],
			[TaskID]
		)
		VALUES
		(
			@docphase,
			@doctype,
			@documentname,
			@ProjectHeaderID,
			GETDATE(),
			@username,
			'1',
			@TaskID
		)


		IF @doctype = 3 AND @docphase = 2
		BEGIN
				DECLARE @TotalMilestone int , @TotalFinish int

				SELECT	@TotalMilestone = (SELECT COUNT (TaskID)FROM Ufn_CheckProjectIsFinish(@ProjectHeaderID)) , 
						@TotalFinish = (SELECT COUNT (TaskID) From Ufn_CheckProjectIsFinish(@ProjectHeaderID) where statuss = 'FINISH')
	
				IF @TotalMilestone = @TotalFinish
				BEGIN
					UPDATE TblT_ProjectHeader
					SET
						IDProjectStatus = 4,
						UpdatedBy = @Username,
						UpdatedDate = GETDATE()
					WHERE
					IDProjectHeader = @ProjectHeaderID
				END
		END

		--SELECT SCOPE_IDENTITY()
		SELECT 'OK';

		COMMIT TRANSACTION uploadtransaction
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION uploadtransaction
		SELECT @errm = ERROR_MESSAGE() , @errn = ERROR_NUMBER()
		EXEC Usp_Insert_ErrorLog 'Usp_Upload_File', @errn , @errm , @username

		--SELECT @errm
	END CATCH
END




GO
