USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectChangesReviseRole]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectChangesReviseRole](
	[IDProjectChangesReviseRole] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectChangeManagement] [int] NULL,
	[IDRoleGroup] [int] NULL,
	[Username] [varchar](30) NULL,
	[Deskripsi] [nvarchar](max) NULL,
	[RevisePhase] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
