USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardTransformationGraph]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sena Putra
-- Create date: January 15, 2018
-- Description:	EXEC [dbo].[Get_DashboardTransformationGraph] '', '', '', '', '', '', ''
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardTransformationGraph]
	-- Add the parameters for the stored procedure here
	--@CurrentMonth int,
	--@CurrentYear int
	--@ProjectSponsor nvarchar(25),
	--@ProjectCategory nvarchar(25),
	--@ProgramManager nvarchar(100),
	--@ProjectPriority nvarchar(100),
	--@ProjectManager nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	--IF @CurrentMonth = 0 BEGIN SELECT @CurrentMonth = '' END
	--IF @CurrentYear = 0 BEGIN SELECT @CurrentMonth = '' END
	--IF @ProjectSponsor = 'ALL' BEGIN SELECT @CurrentMonth = '' END
	--IF @ProjectCategory = 'ALL' BEGIN SELECT @CurrentMonth = '' END
	--IF @ProgramManager = 'ALL' BEGIN SELECT @CurrentMonth = '' END
	--IF @ProjectPriority = 'ALL' BEGIN SELECT @CurrentMonth = '' END
	--IF @ProjectManager = 'ALL' BEGIN SELECT @CurrentMonth = '' END

    -- Insert statements for procedure here
	CREATE TABLE #TOTALALLPROJECT (
	TotalProject decimal(18,2)
	)
	INSERT INTO #TOTALALLPROJECT
	SELECT COUNT(IDProjectHeader) FROM TblT_ProjectHeader

	CREATE TABLE #TOTALPROJECTPERDEPT (
	DepartmentName nvarchar(50),
	TotalProject int
	)
	INSERT INTO #TOTALPROJECTPERDEPT
	SELECT DISTINCT G.DepartmentName, COUNT (DepartmentName) As TotalProject FROM TblT_ProjectHeader A
		INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
		INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
		INNER JOIN TblM_Program D ON B.IDProgram  = D.IDProgram
		INNER JOIN TblM_StrategicObjective E ON B.IDStrategicObjective = E.IDStrategicObjective
		INNER JOIN TblM_ProjectPriority F ON B.IDProjectPriority = F.IDProjectPriority
		INNER JOIN TblM_Department G ON B.IDDepartment = G.IDDepartment
		GROUP BY DepartmentName

	CREATE TABLE #PROJECTTRANSFORMATION (
	DepartmentName nvarchar(50),
	TotalProjectTransformation int
	)
	INSERT INTO #PROJECTTRANSFORMATION
	SELECT G.DepartmentName, COUNT(DepartmentName) As TotalProjectTransformation FROM TblT_ProjectHeader A
		INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
		INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
		INNER JOIN TblM_Program D ON B.IDProgram  = D.IDProgram
		INNER JOIN TblM_StrategicObjective E ON B.IDStrategicObjective = E.IDStrategicObjective
		INNER JOIN TblM_ProjectPriority F ON B.IDProjectPriority = F.IDProjectPriority
		INNER JOIN TblM_Department G ON B.IDDepartment = G.IDDepartment
		WHERE B.IsTransformasi = 1
		GROUP BY DepartmentName

	CREATE TABLE #PROJECTNONTRANSFORMATION (
	DepartmentName nvarchar(50),
	TotalProjectNonTransformation int
	)
	INSERT INTO #PROJECTNONTRANSFORMATION
	SELECT G.DepartmentName, COUNT (DepartmentName) As TotalProjectNonTransformation FROM TblT_ProjectHeader A
		INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
		INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
		INNER JOIN TblM_Program D ON B.IDProgram  = D.IDProgram
		INNER JOIN TblM_StrategicObjective E ON B.IDStrategicObjective = E.IDStrategicObjective
		INNER JOIN TblM_ProjectPriority F ON B.IDProjectPriority = F.IDProjectPriority
		INNER JOIN TblM_Department G ON B.IDDepartment = G.IDDepartment
		WHERE B.IsTransformasi = 0
		GROUP BY DepartmentName

	--SELECT A.DepartmentName, a.TotalProject, ISNULL(b.TotalProjectTransformation, 0) As TotalTransformation, 
	--ISNULL(c.TotalProjectNonTransformation, 0) As TotalNonTransformation
	--FROM #TOTALPROJECTPERDEPT A
	--LEFT JOIN #PROJECTTRANSFORMATION B ON A.DepartmentName = B.DepartmentName
	--LEFT JOIN #PROJECTNONTRANSFORMATION C ON A.DepartmentName = C.DepartmentName

	CREATE TABLE #FINAL(
	DepartmentName nvarchar(100),
	TotalTransformation int,
	TotalNonTransformation int,
	Averange decimal(18,2)
	)

	INSERT INTO #FINAL
	SELECT R.DepartmentName, R.TotalTransformation, R.TotalNonTransformation,
	CAST((R.TotalProject / T.TotalProject) As decimal (18,2)) As Averange
	FROM (
		SELECT A.DepartmentName, a.TotalProject, ISNULL(b.TotalProjectTransformation, 0) As TotalTransformation, 
		ISNULL(c.TotalProjectNonTransformation, 0) As TotalNonTransformation
		FROM #TOTALPROJECTPERDEPT A
		LEFT JOIN #PROJECTTRANSFORMATION B ON A.DepartmentName = B.DepartmentName
		LEFT JOIN #PROJECTNONTRANSFORMATION C ON A.DepartmentName = C.DepartmentName
	) R, #TOTALALLPROJECT As T

	SELECT * FROM #FINAL
	
	--DECLARE @cols AS NVARCHAR(MAX),
 --   @query  AS NVARCHAR(MAX),
 --   @colsPivot AS NVARCHAR(MAX)

	--SELECT @colsPivot = 
	--  STUFF((SELECT ', ' + DepartmentName
	--					from TblM_Department
	--				   GROUP BY DepartmentName
	--				   ORDER BY DepartmentName desc
	--			FOR XML PATH(''), TYPE
	--			).value('.', 'NVARCHAR(MAX)') 
	--		,1,1,'')

	--SELECT @cols = STUFF((SELECT distinct ', ' + QUOTENAME(DepartmentName)
	--					from TblM_Department
	--			FOR XML PATH(''), TYPE
	--			).value('.', 'NVARCHAR(MAX)') 
	--		,1,1,'')


	--SET @query 
	--	  = 'SELECT ' + @colsPivot + ' from 
	--		 (
	--			SELECT *
	--			from #FINAL
	--		 ) x
	--		 pivot 
	--		 (
	--			MAX(TotalTransformation)
	--			for DepartmentName in (' + @cols + ')
	--		 ) p '

	--EXECUTE(@query)

	DROP TABLE #TOTALALLPROJECT
	DROP TABLE #TOTALPROJECTPERDEPT
	DROP TABLE #PROJECTTRANSFORMATION
	DROP TABLE #PROJECTNONTRANSFORMATION
	DROP TABLE #FINAL

END





GO
