USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterKPIOrganization_ByKPIName]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:  Mendapatkan master Department berdasarkan ID
-- ============================================= 
CREATE PROCEDURE [dbo].[Usp_Get_MasterKPIOrganization_ByKPIName]
	-- Add the parameters for the stored procedure here 
	@KPIName VARCHAR(150)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON;

	-- Insert statements for procedure here 
	SELECT Row_number() OVER (
			ORDER BY updateddate DESC
			) AS NoUrut
		,*
	FROM TblM_KPIOrganization
	WHERE isactive = 1
		AND (KPIName LIKE '%' + @KPIName + '%' or KPICode like '%' + @KPIName + '%' or Year like '%' + @KPIName + '%');
END




GO
