USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_ProjectConstrain_Rev]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_ProjectConstrain_Rev] AS TABLE(
	[IDConstrain] [int] NULL,
	[IDProjectHeader] [int] NULL,
	[IDConstraintType] [int] NULL,
	[Description] [varchar](max) NULL,
	[Remarks] [varchar](max) NULL,
	[Problem] [varchar](max) NULL
)
GO
