USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterStrategicObjective]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MasterStrategicObjective]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select row_number() over (order by UpdatedDate desc) as NoUrut,
		IDStrategicObjective,
		StrategicObjectiveCode,
		StrategicObjectiveName,
		Description,
		Year,
		CreatedBy,
		CreatedDate,
		case
			when UpdatedBy is null then CreatedBy
			else UpdatedBy
		end as UpdatedBy,
		case
			when UpdatedDate is null then CreatedDate
			else UpdatedDate
		end as UpdatedDate,
		IsActive
	from TblM_StrategicObjective;

END




GO
