USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_TransaksiChangeManagementProjectHeader_ByID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:	Mendapatkan master program yang aktif
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_TransaksiChangeManagementProjectHeader_ByID] --exec [dbo].[Usp_Get_TransaksiChangeManagementProjectHeader_ByID] 99, '121313'
	-- Add the parameters for the stored procedure here
	@IDProjectHeader int = null,
	@User varchar(500) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @Username varchar(max);
	select @Username = a.User_LoginName from TblDW_Usergroup a where a.Usergroup_Pernr = @User;

	declare @IDProjectChangeManagement int;
	select @IDProjectChangeManagement = IDProjectChangeManagement
	from TblT_ProjectHeader a
		left join TblT_ProjectChangeManagement b on a.IDProjectHeader = b.IDProjectHeader and b.IsActive = 1
	where a.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader;

    -- Insert statements for procedure here

	-- Table[0] --
	select a.ProjectName,
		a.ProjectNo,
		b.IDProjectHeader,
		c.IDJenisPerubahan,
		-- tambahan
		c.JenisPerubahan,
		c.TypeOfCR,
		c.SubmitterName,
		Replace(Replace(c.BriefDescriptionOfRequest, '{','<'),'}','>') as BriefDescriptionOfRequest,
		c.DateSubmitted,
		c.DateRequired,
		c.ReasonForChange,
		c.OtherArtifactsImpacted,
		c.AttachmentsOrReferences,
		c.Catatan,
		c.Deskripsi,
		c.AlasanPenyebabLain,

		case
			when c.UpdatedBy is null then c.CreatedBy
			else c.UpdatedBy
		end as UpdatedBy,

		case
			when c.UpdatedDate is null then c.CreatedDate
			else c.UpdatedDate
		end as UpdatedDate,

		d.StatusName,

		case
			when (select a.IDRoleGroup from TblT_UserAuthorized a where a.Username = @Username and IsActive = 1) = 1 then '1'
			when (select count(*) from TblT_ProjectChangesApprovalRole pca where c.IsActive = 1 and pca.IDProjectChangeManagement = c.IDProjectChangeManagement) > 0 then
			
				(
					select TOP 1 e.Usergroup_Pernr
					from TblT_ProjectChangesApprovalRole pca
						left join TblDW_Usergroup e on pca.Username = e.User_LoginName
					where d.IsActive = 1 and ( pca.isApprove = 0 or pca.IsApprove is NULL) and IsEnabled = 1 and pca.IDProjectChangeManagement = c.IDProjectChangeManagement order by Sequence desc
				)
			
			else '0'
		end as NeedApproval

	from TblM_Project a
		left join TblT_ProjectHeader b on a.IDProject = b.IDProject
		left join TblT_ProjectChangeManagement c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1
		left join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus

	where b.IDProjectHeader = @IDProjectHeader and a.IsActive = 1 and b.IsActive = 1;

	-- Table[1] --
	select *
	from TblM_JenisPerubahan
	where IsActive = 1;

	-- Table[2] --
	if exists (select * from TblT_ProjectChangesApprovalRole where IsActive = 1 and IDProjectChangeManagement = @IDProjectChangeManagement) begin

		select row_number() over (
				order by 
					d.Sequence
				asc
			) as NoUrut,
			d.Username,
			d.ActiveDate,
			d.EndDate,
			d.IsEnabled,
			g.KodePosisi,
			g.Jabatan,
			g.Nama,
			g.KodeUnitKerja,
			g.PersonalNumber,
			e.Description as RoleGroupName,
			e.IDRoleGroup,
			d.IsApprove
		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject and b.IsActive = 1
			left join TblT_ProjectChangeManagement c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1
			left join TblT_ProjectChangesApprovalRole d on c.IDProjectChangeManagement = d.IDProjectChangeManagement and d.IsActive = 1
			left join TblM_RoleGroup e on d.IDRoleGroup = e.IDRoleGroup and e.IsActive = 1
			left join TblDW_Usergroup f on d.Username = f.User_LoginName
			left join TblDW_Employee g on f.Usergroup_Pernr = g.PersonalNumber
		where a.IsActive =1
			and b.IDProjectHeader = @IDProjectHeader
		group by d.Sequence,
			d.Username,
			d.ActiveDate,
			d.EndDate,
			d.IsEnabled,
			g.KodePosisi,
			g.Jabatan,
			g.Nama,
			g.KodeUnitKerja,
			g.PersonalNumber,
			e.Description,
			e.IDRoleGroup,
			d.IsApprove;

	end
	else begin
		
		select row_number() over (
				order by 
					d.Level--h.IDRoleGroup
				desc
			) as NoUrut,
			c.Username,
			getdate() as ActiveDate,
			getdate() as EndDate,
			1 as IsEnabled,
			f.KodePosisi,
			f.Jabatan,
			f.Nama,
			f.KodeUnitKerja,
			f.PersonalNumber,
			d.Description as RoleGroupName,
			d.IDRoleGroup,
			0 as IsApprove
		from TblM_Project a
			inner join TblT_ProjectHeader b on a.IDProject  = b.IDProject and b.IsActive = 1
			inner join TblT_ProjectInitApprovalRole c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1
			inner join TblM_RoleGroup d on c.IDRoleGroup = d.IDRoleGroup and d.IsActive = 1
			left join TblDW_Usergroup e on c.Username = e.User_LoginName
			left join TblDW_Employee f on e.Usergroup_Pernr = f.PersonalNumber
		where a.IsActive = 1
			and b.IDProjectHeader = @IDProjectHeader
			and (d.IDRoleGroup = 3 or d.IDRoleGroup = 4 or d.IDRoleGroup = 5);

	end;

	-- Table[3] --
	select row_number() over (order by a.CreatedDate desc) as NoUrut,
		a.IDProjectChangeApprovalHistory,
		a.IDProjectChangeManagement,
		a.Remarks,
		a.Type,
		a.CreatedBy,
		a.CreatedDate
	from TblH_ProjectChangeApproval a
	where a.IDProjectChangeManagement = @IDProjectChangeManagement;

	-- Table[4] --
	select doc.IDDocument as [ID],
		doc.DocumentName as [DocName],
		dt.Description as [DocType]
	from TblT_Document doc
		inner join TblM_DocumentType dt on doc.IDDocType = dt.IDDocType
	where IDProjectHeader = (select dbo.Ufn_GetProjectHeaderRoot(@IDProjectHeader))
		and IDDocPhase = '4'
		and doc.IsActive = '1'
		and doc.DocumentName not like '%.mpp'
	order by doc.CreatedDate desc;

	-- Table[5] --
	select *
	from TblM_AlasanPerubahan
	where IsActive = 1;

END




GO
