USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_MasterKPIValue]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_MasterKPIValue] 
	-- Add the parameters for the stored procedure here
	@IDProject int = null,
	@TW1 float = null,
	@TW2 float = null,
	@TW3 float = null,
	@TW4 float = null,
	@PersonNumber varchar(50) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	declare @Username varchar(50) = (select top 1 isnull(User_LoginName, '-') from TblDW_Usergroup where Usergroup_Pernr = @PersonNumber);
	declare @Twyear int = null;

	begin try
		set @Twyear = (select TOP 1 TWYEAR from TblM_KPIValue where IDProject = @IDProject and IsActive = 1 order by TWYEAR desc);
		begin transaction;

		if exists(select * from TblM_KPIValue where IDProject = @IDProject and IsActive = 1 and TWYEAR = @TWYear) begin
			
			update TblM_KPIValue
			set TW1 = @TW1,
				TW2 = @TW2,
				TW3 = @TW3,
				TW4 = @TW4,
				UpdatedDate = getdate(),
				UpdatedBy = @Username
			where IDProject = @IDProject
				and IsActive = 1;

			insert into TblM_KPIValue_His (IDKPIValue,IDProject,TW1,TW2,TW3,TW4,UpdatedDate,UpdatedBy,CreatedDate,CreatedBy,IsActive,TWYEAR,GenerateDate)
			select IDKPIValue,IDProject,TW1,TW2,TW3,TW4,UpdatedDate,@Username,CreatedDate,@Username,IsActive,TWYEAR,getdate() as GenerateDate
			from TblM_KPIValue where IDProject = @IDProject and IsActive = 1;

			select 'S|Sukses';

		end
		else begin

			insert into TblM_KPIValue (
				IDProject,
				TW1,
				TW2,
				TW3,
				TW4,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			values (
				@IDProject,
				@TW1,
				@TW2,
				@TW3,
				@TW4,
				getdate(),
				@Username,
				1
			);
			
			select 'S|Sukses';

		end;

		commit;

	end try
	begin catch

		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_MasterKPIValue', @ErrNum, @ErrMsg, @Username;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;

	end catch;

END




GO
