USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_TransaksiClosingProjectHeader]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:	Mendapatkan master program yang aktif
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_TransaksiClosingProjectHeader]
	-- Add the parameters for the stored procedure here
	@PersonalNumber varchar(50) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	declare @Username varchar(50);
	select @Username = b.User_LoginName
	from TblDW_Employee a
		left join TblDW_Usergroup b on a.PersonalNumber = b.Usergroup_Pernr
	where PersonalNumber = @PersonalNumber;

	declare @IDRoleGroup int;
	select @IDRoleGroup = IDRoleGroup
	from TblT_UserAuthorized where Username = @Username and IsActive = 1;

	
	if(@IDRoleGroup = 1 or @IDRoleGroup = 10 or @IDRoleGroup = 13) --Administrator, Internal Auditor, Management
	begin
	
		select
			row_number() over (
				order by 
					b.UpdatedDate
				desc
			) as NoUrut,
			a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,
			b.StartYear,
			b.StartMonth,
			b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			b.UpdatedDate,

			cast(
				day(
					isnull(b.UpdatedDate,b.CreatedDate)
				) as varchar(4)
			) + ' ' +
			[dbo].[Ufn_GetMonthName_Indonesia](
				month(isnull(b.UpdatedDate,b.CreatedDate))
			) + ' ' +
			cast(
				year(isnull(b.UpdatedDate,b.CreatedDate)) AS VARCHAR(4)
			) + ' ' +
			convert(varchar,  ISNULL(b.UpdatedDate,b.CreatedDate), 108) AS UpdatedDateString,

			b.UpdatedBy,
			b.IsActive,
			d.Description as StatusName,
			a.IsTransformasi
			
		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject
			--left join TblT_ProjectRoleGroup c on b.IDProjectHeader = c.IDProjectHeader
			left join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus
			--left join TblT_UserAuthorized e on c.Username = e.Username
		where a.IsActive = 1
			and b.IsActive = 1
			and d.IsActive = 1 
			and d.IDProjectStatus in(4, 12, 13);

	end
	else if(@IDRoleGroup = 11 or @IDRoleGroup = 4) --Group Admin, Admin PMO
	begin
	
		select
			row_number() over (
				order by 
					b.UpdatedDate
				desc
			) as NoUrut,
			a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,
			b.StartYear,
			b.StartMonth,
			b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			b.UpdatedDate,

			cast(
				day(
					isnull(b.UpdatedDate,b.CreatedDate)
				) as varchar(4)
			) + ' ' +
			[dbo].[Ufn_GetMonthName_Indonesia](
				month(isnull(b.UpdatedDate,b.CreatedDate))
			) + ' ' +
			cast(
				year(isnull(b.UpdatedDate,b.CreatedDate)) AS VARCHAR(4)
			) + ' ' +
			convert(varchar,  ISNULL(b.UpdatedDate,b.CreatedDate), 108) AS UpdatedDateString,

			b.UpdatedBy,
			b.IsActive,
			d.Description as StatusName,
			a.IsTransformasi
			
		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject
			left join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus
			inner join TblM_Department f on a.IDDepartment = f.IDDepartment and f.IsActive = 1
			--inner join TblDW_EmployeeMapping g on f.DepartmentCode = g.org_unit_mast_Code and g.empl_mast_username = @Username
		where a.IsActive = 1 
			and b.IsActive = 1 
			and d.IsActive = 1 
			and d.IDProjectStatus in(4, 12, 13);

	end
	else begin
	
		select
			row_number() over (
				order by 
					b.UpdatedDate
				desc
			) as NoUrut,
			a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,
			b.StartYear,
			b.StartMonth,
			b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			b.UpdatedDate,

			cast(
				day(
					isnull(b.UpdatedDate,b.CreatedDate)
				) as varchar(4)
			) + ' ' +
			[dbo].[Ufn_GetMonthName_Indonesia](
				month(isnull(b.UpdatedDate,b.CreatedDate))
			) + ' ' +
			cast(
				year(isnull(b.UpdatedDate,b.CreatedDate)) AS VARCHAR(4)
			) + ' ' +
			convert(varchar,  ISNULL(b.UpdatedDate,b.CreatedDate), 108) AS UpdatedDateString,

			b.UpdatedBy,
			b.IsActive,
			d.Description as StatusName,
			a.IsTransformasi
			
		from TblM_Project a
			left join TblT_ProjectHeader b on a.IDProject = b.IDProject
			--left join TblT_ProjectRoleGroup c on b.IDProjectHeader = c.IDProjectHeader
			left join TblM_ProjectStatus d on b.IDProjectStatus = d.IDProjectStatus
			--left join TblT_UserAuthorized e on c.Username = e.Username
			inner join TblT_ProjectInitApprovalRole c on b.IDProjectHeader = c.IDProjectHeader and c.IsActive = 1 and c.Username = @Username
		where a.IsActive = 1 
			and b.IsActive = 1 
			and d.IsActive = 1 
			and d.IDProjectStatus in(4, 12, 13)
		group by a.IDProject, 
			a.ProjectNo, 
			a.ProjectName, 
			b.IDProjectHeader,
			b.IDProject,
			b.Sequence,
			b.IDProjectStatus,
			b.StartYear,
			b.StartMonth,
			b.EndYear,
			b.EndMonth,
			b.NoKontrak,
			b.ContractStartDate,
			b.ContractEndDate,
			b.ContractIDR,
			b.ContractUSD,
			b.WeightKPI,
			b.CreatedDate,
			b.CreatedBy,
			b.UpdatedDate,
			b.UpdatedBy,
			b.IsActive,
			d.Description,
			a.IsTransformasi;

	end;

END




GO
