USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Migrate_DeleteRealisation]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Usp_Migrate_DeleteRealisation]
	@IDProjectHeader int ,
	@Week int ,
	@Month int , 
	@Year int
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			DELETE TblT_MPPProjectRealDetail
			WHERE
			IDMPPProjectRealDetail IN 
			(
				SELECT b.IDMPPProjectRealDetail FROM
				TblT_MPPProjectPlanDetail a
				INNER JOIN 
				TblT_MPPProjectRealDetail b
				ON
				a.IDMPPProjectPlanDetail = b.IDMPPProjectPlanDetail
				WHERE
				a.ProjectHeaderID = @IDProjectHeader
				AND
				b.Week = @Week
				AND
				b.Month = @Month
				AND
				b.Year = @Year
			)
			
			DELETE TblT_MPPProjectRealPercentage 
			WHERE
			IDMPPProjectRealPercentage IN (
				SELECT IDMPPProjectRealPercentage FROM 
				TblT_MPPProjectRealPercentage
				WHERE
				IDProjectHeader = @IDProjectHeader
				AND
				Week = @Week
				AND
				Year = @Year 
				AND
				Month = @Month
			)
			

			DECLARE @Periode varchar(max) = CONVERT(varchar(max) , @Year) + '-' +   CONVERT(varchar(max) , @Month) + '-' +  CONVERT(varchar(max) , @Week) 

			DELETE TblT_ProjectExecutionStatus
			WHERE
			IDProjectExecutionStatus IN (
			SELECT IDProjectExecutionStatus FROM 
			TblT_ProjectExecutionStatus
			WHERE
			IDProjectHeaderID = @IDProjectHeader
			AND
			Periode = @Periode
			)

			SELECT 'Success'
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT ERROR_MESSAGE()
	END CATCH
END



GO
