USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_UserRole]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_UserRole]
	@Persnum varchar(20)
AS
BEGIN
IF @Persnum = 'RIN'
BEGIN

	SELECT 'No Role'
END
ELSE
BEGIN
	SELECT RG.Description as Roles FROM 
	TblT_UserAuthorized UA
	INNER JOIN
	TblM_RoleGroup RG
	ON
	UA.IDRoleGroup = RG.IDRoleGroup
	WHERE
	UA.PersonNumber = @Persnum
END
END




GO
