USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardSummaryStatus]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		SENA PUTRA
-- Create date: January 24, 2018
-- Description:	[dbo].[Get_StatusDashboardSO] '2017.SO9', '1'
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardSummaryStatus] -- exec [dbo].[Get_DashboardSummaryStatus] 'Unit Kerja', 'GSTI', '1', 2019, 4, 2
	-- Add the parameters for the stored procedure here
	@Filter varchar(50),
	@Code varchar(max),
	@IsTransformasi nvarchar(3),
	@Year varchar(4) = '2019',
	@Month int = 3,
	@Week int = 1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	declare @Date date;
	if(
		(select WeekOfMonth from TblM_Date where Date = cast(getdate() as date)) = @Week
		and year(getdate()) = @Year
		and month(getdate()) = @Month
	) set @Date = cast(getdate() as date)
	--else set @Date = (select Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday');
	else set @Date = (select Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Wednesday');

	if(@Filter = 'Strategic Objective') begin
		
		select count(case when obj.Progress = 'Draft' then 1 end) as Draft,
			count(case when obj.Progress = 'Completed' then 1 end) as Completed,
			count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
			count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
			count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
			count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget
		from (
			select a.IDStrategicObjective,
				a.StrategicObjectiveCode as StrategicObjectiveName,
				case
					when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Draft'
					when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
					when (isnull(a.Pencapaian, 0) < 85) then 'Jauh dibawah target'
					when (isnull(a.Pencapaian, 0) < 100) then 'Dibawah target'
					when (isnull(a.Pencapaian, 0) < 110) then 'Sesuai target'
					else 'Diatas target'
				end as Progress
			from [dbo].[TblD_ListProject] a
			where a.IsActive = 1
				and (@Year between a.StartYear and a.EndYear)
				and a.DateDownload = @Date
				and a.StrategicObjectiveCode = @Code
				and a.IsTransformasi = @IsTransformasi
				and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			) as obj
		group by obj.IDStrategicObjective, obj.StrategicObjectIveName;
		
		select a.IDStrategicObjective,
			a.StrategicObjectiveName,
			a.IDProgram,
			a.ProgramName,
			a.IDProjectHeader,
			a.ProjectName,
			a.ProjectNo,
		
			a.StartDay + ' - ' + a.StartMonth + ' - ' + a.StartYear as StartDate,
			a.EndDay + ' - ' + a.EndMonth + ' - ' + a.EndYear as EndDate,
		
			case
				when (
					@Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
				) then '<span class="fa fa-circle" style="color:grey" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   0.00%'
				
				when (
					a.IDProjectStatus = 4
					or a.IDProjectStatus = 12
				) then '<span class="fa fa-circle" style="color:black" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   100.00%'

				when isnull(a.Pencapaian, 0) < 85 then
					'<span class="fa fa-circle" style="color:red" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0) < 100 then
					'<span class="fa fa-circle" style="color:yellow" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0) < 110 then
					'<span class="fa fa-circle" style="color:green" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				else
					'<span class="fa fa-circle" style="color:blue" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
			end as RealisasiPencapaian
		
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1
			and (@Year between a.StartYear and a.EndYear)
			and a.DateDownload = @Date
			and a.StrategicObjectiveCode = @Code
			and a.IsTransformasi = @IsTransformasi
			and a.IDProjectStatus not in(1, 3, 8, 9, 13);

	end
	else if(@Filter = 'Direktorat') begin
	
		select count(case when obj.Progress = 'Draft' then 1 end) as Draft,
			count(case when obj.Progress = 'Completed' then 1 end) as Completed,
			count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
			count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
			count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
			count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget
		from (
			select a.IDDirektorat,
				a.DirektoratCode as DirektoratName,
				case
					when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Draft'
					when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
					when (isnull(a.Pencapaian, 0) < 85) then 'Jauh dibawah target'
					when (isnull(a.Pencapaian, 0) < 100) then 'Dibawah target'
					when (isnull(a.Pencapaian, 0) < 110) then 'Sesuai target'
					else 'Diatas target'
				end as Progress
			from [dbo].[TblD_ListProject] a
			where a.IsActive = 1
				and (@Year between a.StartYear and a.EndYear)
				and a.DateDownload = @Date
				and a.DirektoratCode = @Code
				and a.IsTransformasi = @IsTransformasi
				and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			) as obj
		group by obj.IDDirektorat, obj.DirektoratName;
		
		select a.IDStrategicObjective,
			a.StrategicObjectiveName,
			a.IDProgram,
			a.ProgramName,
			a.IDProjectHeader,
			a.ProjectName,
			a.ProjectNo,
		
			a.StartDay + ' - ' + a.StartMonth + ' - ' + a.StartYear as StartDate,
			a.EndDay + ' - ' + a.EndMonth + ' - ' + a.EndYear as EndDate,
		
			case
				when (
					@Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
				) then '<span class="fa fa-circle" style="color:grey" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   0.00%'
				
				when (
					a.IDProjectStatus = 4
					or a.IDProjectStatus = 12
				) then '<span class="fa fa-circle" style="color:black" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   100.00%'

				when isnull(a.Pencapaian, 0) < 85 then
					'<span class="fa fa-circle" style="color:red" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0) < 100 then
					'<span class="fa fa-circle" style="color:yellow" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0) < 110 then
					'<span class="fa fa-circle" style="color:green" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				else
					'<span class="fa fa-circle" style="color:blue" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
			end as RealisasiPencapaian
		
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1
			and (@Year between a.StartYear and a.EndYear)
			and a.DateDownload = @Date
			and a.DirektoratCode = @Code
			and a.IsTransformasi = @IsTransformasi
			and a.IDProjectStatus not in(1, 3, 8, 9, 13);

	end
	else if(@Filter = 'Unit Kerja') begin
	
		select count(case when obj.Progress = 'Draft' then 1 end) as Draft,
			count(case when obj.Progress = 'Completed' then 1 end) as Completed,
			count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
			count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
			count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
			count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget
		from (
			select a.IDDepartment,
				a.DepartmentCode as DepartmentName,
				case
					when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Draft'
					when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
					when (isnull(a.Pencapaian, 0) < 85) then 'Jauh dibawah target'
					when (isnull(a.Pencapaian, 0) < 100) then 'Dibawah target'
					when (isnull(a.Pencapaian, 0) < 110) then 'Sesuai target'
					else 'Diatas target'
				end as Progress
			from [dbo].[TblD_ListProject] a
			where a.IsActive = 1
				and (@Year between a.StartYear and a.EndYear)
				and a.DateDownload = @Date
				and a.DepartmentCode = @Code
				and a.IsTransformasi = @IsTransformasi
				and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			) as obj
		group by obj.IDDepartment, obj.DepartmentName;
		
		select a.IDStrategicObjective,
			a.StrategicObjectiveName,
			a.IDProgram,
			a.ProgramName,
			a.IDProjectHeader,
			a.ProjectName,
			a.ProjectNo,
		
			a.StartDay + ' - ' + a.StartMonth + ' - ' + a.StartYear as StartDate,
			a.EndDay + ' - ' + a.EndMonth + ' - ' + a.EndYear as EndDate,
		
			case
				when (
					 @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
				) then '<span class="fa fa-circle" style="color:grey" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   0.00%'
				
				when (
					a.IDProjectStatus = 4
					or a.IDProjectStatus = 12
				) then '<span class="fa fa-circle" style="color:black" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   100.00%'

				when isnull(a.Pencapaian, 0) < 85 then
					'<span class="fa fa-circle" style="color:red" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0) < 100 then
					'<span class="fa fa-circle" style="color:yellow" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0) < 110 then
					'<span class="fa fa-circle" style="color:green" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				else
					'<span class="fa fa-circle" style="color:blue" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
			end as RealisasiPencapaian
		
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1
			and (@Year between a.StartYear and a.EndYear)
			and a.DateDownload = @Date
			and a.DepartmentCode = @Code
			and a.IsTransformasi = @IsTransformasi
			and a.IDProjectStatus not in(1, 3, 8, 9, 13);

	end
	else if(@Filter = 'All') begin
	
		select count(case when obj.Progress = 'Draft' then 1 end) as Draft,
			count(case when obj.Progress = 'Completed' then 1 end) as Completed,
			count(case when obj.Progress = 'Jauh dibawah target' then 1 end) as JauhDibawahTarget,
			count(case when obj.Progress = 'Dibawah target' then 1 end) as DibawahTarget,
			count(case when obj.Progress = 'Sesuai target' then 1 end) as SesuaiTarget,
			count(case when obj.Progress = 'Diatas target' then 1 end) as DiatasTarget
		from (
			select a.IsTransformasi,
				a.IsTransformasi as Name,
				case
					when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Draft'
					when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
					when (isnull(a.Pencapaian, 0) < 85) then 'Jauh dibawah target'
					when (isnull(a.Pencapaian, 0) < 100) then 'Dibawah target'
					when (isnull(a.Pencapaian, 0) < 110) then 'Sesuai target'
					else 'Diatas target'
				end as Progress
			from [dbo].[TblD_ListProject] a
			where a.IsActive = 1
				and (@Year between a.StartYear and a.EndYear)
				and a.DateDownload = @Date
				--and a.DepartmentCode = @Code
				and a.IsTransformasi = @IsTransformasi
				and a.IDProjectStatus not in(1, 3, 8, 9, 13)
			) as obj
		group by obj.IsTransformasi, obj.Name;
		
		select a.IDStrategicObjective,
			a.StrategicObjectiveName,
			a.IDProgram,
			a.ProgramName,
			a.IDProjectHeader,
			a.ProjectName,
			a.ProjectNo,
		
			a.StartDay + ' - ' + a.StartMonth + ' - ' + a.StartYear as StartDate,
			a.EndDay + ' - ' + a.EndMonth + ' - ' + a.EndYear as EndDate,
		
			case
				when (
					@Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
				) then '<span class="fa fa-circle" style="color:grey" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   0.00%'
				
				when (
					a.IDProjectStatus = 4
					or a.IDProjectStatus = 12
				) then '<span class="fa fa-circle" style="color:black" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')"></span>   100.00%'

				when isnull(a.Pencapaian, 0) < 85 then
					'<span class="fa fa-circle" style="color:red" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0) < 100 then
					'<span class="fa fa-circle" style="color:yellow" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				when isnull(a.Pencapaian, 0) < 110 then
					'<span class="fa fa-circle" style="color:green" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
				
				else
					'<span class="fa fa-circle" style="color:blue" onclick="GetDetailProject(' + cast(a.IDProjectHeader as varchar(20)) + ')">' +
					'</span>   ' + isnull(cast(a.Pencapaian as varchar(50)), '0.00') + '%'
			end as RealisasiPencapaian
		
		from [dbo].[TblD_ListProject] a
		where a.IsActive = 1
			and (@Year between a.StartYear and a.EndYear)
			and a.DateDownload = @Date
			--and a.DepartmentCode = @Code
			and a.IsTransformasi = @IsTransformasi
			and a.IDProjectStatus not in(1, 3, 8, 9, 13);

	end;

END




GO
