USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_TxPHFormulir]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_TxPHFormulir]
	-- Add the parameters for the stored procedure here
	-- Header param
	@IDProjectHeader int null,
	@IDProject int null,
	@Sequence int null,
	@IDProjectStatus int null,
	@StartYear varchar(4) null,
	@StartMonth int null,
	@EndYear varchar(4) null,
	@EndMonth int null,
	@NoKontrak varchar(20) null,
	@ContractIDR numeric(20,2) null,
	@ContractUSD numeric(20,2) null,
	@WeightKPI float null,

	-- Detail param
	@IDProjectDetail int null,
	@Background nvarchar(max) null,
	@Objective nvarchar(max) null,
	@ScopeOfWork nvarchar(max) null,
	@BudgetDescription nvarchar(max) null,
	@OrganizazationChart varbinary(max) null,

	-- Constraint param
	-- @Udt_ProjectConstraint Udt_ProjectConstraint null readonly,

	-- Cost param
	-- @Udt_ProjectHeaderCost Udt_ProjectHeaderCost null readonly,

	-- Risk param
	@Constraints nvarchar(max) null,
	@Assumptions nvarchar(max) null,
	@Risk nvarchar(max) null,
	@Approach nvarchar(max) null,

	-- Approval initiation param
	@Udt_ProjectInitApprovalRole Udt_ProjectInitApprovalRole null readonly,

	-- Project role group
	@Udt_ProjectRoleGroup Udt_ProjectRoleGroup null readonly,

	-- Secondary param
	@TypeTransaction varchar(20) null,
	@User varchar(50) null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		begin transaction;
		
		declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @User);

		if(@Username = null) begin set @Username = '-'; end;

		declare @IDProgram int;
		declare @ScopeIDProjectHeader int;
		declare @ScopeIDProject int;

		if(@TypeTransaction = 'Save')begin
			if exists(select * from TblT_ProjectHeader where IsAcTive = 1 and IDProjectHeader = @IDProjectHeader)begin
				
				update TblT_ProjectHeader
				set IDProjectStatus = 1,
					StartYear = @StartYear,
					StartMonth = @StartMonth,
					EndYear = @EndYear,
					EndMonth = @EndMonth,
					NoKontrak = @NoKontrak,
					--ContractStartDate = @ContractStartDate,
					--ContractEndDate = @ContractEndDate,
					ContractIDR = @ContractIDR,
					ContractUSD = @ContractUSD,
					WeightKPI = @WeightKPI,
					UpdatedBy = @Username,
					UpdatedDate = getdate()
				where IDProjectHeader = @IDProjectHeader;

				if exists(select * from TblT_ProjectDetail where IDProjectHeader = @IDProjectHeader and IsActive = 1) begin
					update TblT_ProjectDetail
					set Background = REPLACE(@Background, 'line-height: 150px', ''),
						Objective = REPLACE(@Objective, 'line-height: 150px', ''),
						ScopeOfWork = REPLACE(@ScopeOfWork, 'line-height: 150px', ''),
						BudgetDescription = REPLACE(@BudgetDescription, 'line-height: 150px', ''),
						OrganizationChart = @OrganizazationChart,
						UpdatedBy = @Username,
						UpdatedDate = getdate()
					where IDProjectHeader = @IDProjectHeader and IsActive = 1;
				end
				else begin
					insert into TblT_ProjectDetail (
						IDProjectHeader,
						Background,
						Objective,
						ScopeOfWork,
						BudgetDescription,
						OrganizationChart,
						CreatedBy,
						CreatedDate,
						IsActive
					)
					values(
						@IDProjectHeader,
						REPLACE(@Background, 'line-height: 150px', ''),
						REPLACE(@Objective, 'line-height: 150px', ''),
						REPLACE(@ScopeOfWork, 'line-height: 150px', ''),
						REPLACE(@BudgetDescription, 'line-height: 150px', ''),
						@OrganizazationChart,
						@Username,
						getdate(),
						1
					);
				end;

				if exists(select * from TblT_ProjectRisk where IsActive = 1 and IDProjectHeader = @IDProjectHeader)begin
					update TblT_ProjectRisk
					set Constraints = REPLACE(@Constraints, 'line-height: 150px', ''),
						Assumptions = REPLACE(@Assumptions, 'line-height: 150px', ''),
						Risk = REPLACE(@Risk, 'line-height: 150px', ''),
						Approach = @Approach,
						UpdatedBy = @Username,
						UpdatedDate = getdate()
					where IsActive = 1 and IDProjectHeader = @IDProjectHeader;
				end
				else begin
					insert into TblT_ProjectRisk(
						IDProjectHeader,
						Constraints,
						Assumptions,
						Risk,
						Approach,
						CreatedBy,
						CreatedDate,
						IsActive
					)
					values(
						@IDProjectHeader,
						REPLACE(@Constraints, 'line-height: 150px', ''),
						REPLACE(@Assumptions, 'line-height: 150px', ''),
						REPLACE(@Risk, 'line-height: 150px', ''),
						@Approach,
						@Username,
						getdate(),
						1
					);
				end

				--update TblT_ProjectInitApprovalRole set IsActive = 0 where IDProjectHeader = @IDProjectHeader;

				--insert into TblT_ProjectInitApprovalRole (
				--	IDProjectHeader,
				--	IDRoleGroup,
				--	Sequence,
				--	Username,
				--	Email,
				--	PositionCode,
				--	ActiveDate,
				--	EndDate,
				--	IsEnabled,
				--	CreatedDate,
				--	CreatedBy,
				--	IsActive
				--)
				--select @IDProjectHeader,
				--	a.IDRoleGroup,
				--	a.Sequence,
				--	a.Username,
				--	a.Username + '@lps.go.id',
				--	c.KodePosisi,
				--	getdate(),--a.ActiveDate,
				--	getdate(),--a.EndDate,
				--	a.IsEnabled,
				--	getdate(),
				--	@Username,
				--	1
				--from @Udt_ProjectInitApprovalRole a
				--	left join TblDW_Usergroup b on a.Username = b.User_LoginName
				--	left join TblDW_Employee c on b.Usergroup_Pernr = c.PersonalNumber;
				
				--update TblT_ProjectRoleGroup set IsActive = 0 where IDProjectHeader = @IDProjectHeader;

				--set @IDProgram = (
				--	select top 1 IDProgram 
				--	from TblM_Project a
				--		left join TblT_ProjectHeader b on a.IDProject = b.IDProject
				--	where a.IsActive = 1 and b.IsActive = 1 and b.IDProjectHeader = @IDProjectHeader
				--);

				--insert into TblT_ProjectRoleGroup (
				--	IDProjectHeader,
				--	IDRoleGroup,
				--	IDProgram,
				--	Username,
				--	CreatedBy,
				--	CreatedDate,
				--	IsActive
				--)
				--select @IDProjectHeader,
				--	IDRoleGroup,
				--	@IDProgram,
				--	Username,
				--	@Username,
				--	getdate(),
				--	1
				--from @Udt_ProjectRoleGroup;
				
				----update TblT_UserAuthorized set IsActive = 0 where Username = '';

				---- ADD BY CHRISTINA EKA
				--insert into TblH_ProjectInitApproval(
				--		IDProjectHeader,
				--		Type,
				--		Remarks,
				--		CreatedDate,
				--		CreatedBy
				--	)values(
				--		@IDProjectHeader,
				--		'Updated',
				--		'-',
				--		getdate(),
				--		@Username
				--	);

				select 'S|Sukses';

			end
			else begin select 'F|ID Project Header tidak tersedia'; end;
		end
		else if(@TypeTransaction = 'Submit') begin
			if exists(select * from TblT_ProjectHeader where IsAcTive = 1 and IDProjectHeader = @IDProjectHeader)begin
				
				if(@Background is null) begin select 'F|Latar belakang belum di isi'; end
				else if(@Objective is null) begin select 'F|Tujuan belum di isi'; end
				else if(@ScopeOfWork is null) begin select 'F|Ruang lingkup belum di isi'; end
				else if(@BudgetDescription is null) begin select 'F|Anggaran belum di isi'; end
				else if(@Constraints is null) begin select 'F|Constraints belum di isi'; end
				else if(@Assumptions is null) begin select 'F|Assumptions belum di isi'; end
				else if(@Risk is null) begin select 'F|Risk belum di isi'; end
				else if(@Approach is null) begin select 'F|Approach belum di pilih'; end
				else begin

					update TblT_ProjectHeader
					set IDProjectStatus = 9,
						StartYear = @StartYear,
						StartMonth = @StartMonth,
						EndYear = @EndYear,
						EndMonth = @EndMonth,
						NoKontrak = @NoKontrak,
						--ContractStartDate = @ContractStartDate,
						--ContractEndDate = @ContractEndDate,
						ContractIDR = @ContractIDR,
						ContractUSD = @ContractUSD,
						WeightKPI = @WeightKPI,
						UpdatedBy = @Username,
						UpdatedDate = getdate()
					where IDProjectHeader = @IDProjectHeader;

					if exists(select * from TblT_ProjectDetail where IDProjectHeader = @IDProjectHeader and IsActive = 1) begin
						update TblT_ProjectDetail
						set Background = REPLACE(@Background, 'line-height: 150px', ''),
							Objective = REPLACE(@Objective, 'line-height: 150px', ''),
							ScopeOfWork = REPLACE(@ScopeOfWork, 'line-height: 150px', ''),
							BudgetDescription = REPLACE(@BudgetDescription, 'line-height: 150px', ''),
							OrganizationChart = @OrganizazationChart,
							UpdatedBy = @Username,
							UpdatedDate = getdate()
						where IDProjectHeader = @IDProjectHeader and IsActive = 1;
					end
					else begin
						insert into TblT_ProjectDetail (
							IDProjectHeader,
							Background,
							Objective,
							ScopeOfWork,
							BudgetDescription,
							OrganizationChart,
							CreatedBy,
							CreatedDate,
							IsActive
						)
						values(
							@IDProjectHeader,
							REPLACE(@Background, 'line-height: 150px', ''),
							REPLACE(@Objective, 'line-height: 150px', ''),
							REPLACE(@ScopeOfWork, 'line-height: 150px', ''),
							REPLACE(@BudgetDescription, 'line-height: 150px', ''),
							@OrganizazationChart,
							@Username,
							getdate(),
							1
						);
					end;

					if exists(select * from TblT_ProjectRisk where IsActive = 1 and IDProjectHeader = @IDProjectHeader)begin
						update TblT_ProjectRisk
						set Constraints = REPLACE(@Constraints, 'line-height: 150px', ''),
							Assumptions = REPLACE(@Assumptions, 'line-height: 150px', ''),
							Risk = REPLACE(@Risk, 'line-height: 150px', ''),
							Approach = @Approach,
							UpdatedBy = @Username,
							UpdatedDate = getdate()
						where IsActive = 1 and IDProjectHeader = @IDProjectHeader;
					end
					else begin
						insert into TblT_ProjectRisk(
							IDProjectHeader,
							Constraints,
							Assumptions,
							Risk,
							Approach,
							CreatedBy,
							CreatedDate,
							IsActive
						)
						values(
							@IDProjectHeader,
							REPLACE(@Constraints, 'line-height: 150px', ''),
							REPLACE(@Assumptions, 'line-height: 150px', ''),
							REPLACE(@Risk, 'line-height: 150px', ''),
							@Approach,
							@Username,
							getdate(),
							1
						);
					end;
					
					update TblT_ProjectInitApprovalRole set IsActive = 0 where IDProjectHeader = @IDProjectHeader;

					insert into TblT_ProjectInitApprovalRole (
						IDProjectHeader,
						IDRoleGroup,
						Sequence,
						Username,
						Email,
						PositionCode,
						ActiveDate,
						EndDate,
						IsEnabled,
						CreatedDate,
						CreatedBy,
						IsActive
					)
					select @IDProjectHeader,
						a.IDRoleGroup,
						a.Sequence,
						a.Username,
						a.Username + '@lps.go.id',
						c.KodePosisi,
						getdate(),--a.ActiveDate,
						getdate(),--a.EndDate,
						a.IsEnabled,
						getdate(),
						@Username,
						1
					from @Udt_ProjectInitApprovalRole a
						left join TblDW_Usergroup b on a.Username = b.User_LoginName
						left join TblDW_Employee c on b.Usergroup_Pernr = c.PersonalNumber;
					
					update TblT_ProjectRoleGroup set IsActive = 0 where IDProjectHeader = @IDProjectHeader;

					set @IDProgram = (
						select top 1 IDProgram 
						from TblM_Project a
							left join TblT_ProjectHeader b on a.IDProject = b.IDProject
						where a.IsActive = 1 and b.IsActive = 1 and b.IDProjectHeader = @IDProjectHeader
					);

					insert into TblT_ProjectRoleGroup (
						IDProjectHeader,
						IDRoleGroup,
						IDProgram,
						Username,
						CreatedBy,
						CreatedDate,
						IsActive
					)
					select @IDProjectHeader,
						IDRoleGroup,
						@IDProgram,
						Username,
						@Username,
						getdate(),
						1
					from @Udt_ProjectRoleGroup;
					
					declare @usrnm varchar(max);

					declare cursor_submit cursor for
					select Username
					from @Udt_ProjectRoleGroup;

					open cursor_submit;

					fetch next from cursor_submit
					into @usrnm;
					while @@fetch_status = 0  
					begin
						
						if exists(select * from TblT_UserAuthorized where Username = @usrnm and IsActive = 0) begin
							update TblT_UserAuthorized
							set IsActive = 1,
								UpdatedDate = getdate(),
								UpdatedBy = @User
							where Username = @usrnm and IsActive = 0;
						end
						else  if not exists(select * from TblT_UserAuthorized where Username = @usrnm and IsActive = 1) begin
							insert into TblT_UserAuthorized(
								Username,
								PersonNumber,
								CreatedBy,
								CreatedDate,
								IsActive
							)
							select User_LoginName,
								Usergroup_Pernr,
								@User,
								getdate(),
								1
							from TblDW_Usergroup
							where User_LoginName = @Usrnm;
						end;
					
						fetch next from cursor_submit
						into @usrnm;
					end;
					close cursor_submit;
					deallocate cursor_submit;
					
					insert into TblH_ProjectInitApproval(
						IDProjectHeader,
						Type,
						Remarks,
						CreatedDate,
						CreatedBy
					)values(
						@IDProjectHeader,
						'Submit',
						'-',
						getdate(),
						@Username
					);

					select 'S|Sukses';

				end;

			end
			else begin select 'F|ID Project Header tidak tersedia'; end;
		end
		else if(@TypeTransaction = 'Copy') begin
			
			insert into TblM_Project (
				IDProgram,
				IDStrategicObjective,
				IDProjectPriority,
				IDDepartment,
				ProjectNo,
				Year,
				ProjectName,
				Weight,
				CreatedDate,
				CreatedBy,
				IsTransformasi,
				IsActive
			) 
			select IDProgram,
				IDStrategicObjective,
				IDProjectPriority,
				IDDepartment,
				ProjectNo,
				Year,
				
				case
					when (select count(*) from TblM_Project b where b.ProjectName like '%' + a.ProjectName + ' - Copy%' and IsActive = 1) > 0 then (select a.ProjectName + ' - Copy (' + convert(varchar(10),(select count(*) from TblM_Project b where b.ProjectName like '%' + a.ProjectName + ' - Copy%' and IsActive = 1)+1) + ')')
					else a.ProjectName + ' - Copy'
				end

				,
				Weight,
				getdate(),
				@Username,
				IsTransformasi,
				1
			from TblM_Project a
			where IsActive = 1
				and IDProject = @IDProject;

			set @ScopeIDProject = scope_identity();
			
			insert into TblT_ProjectHeader (
				IDProject,
				IDProjectStatus,
				StartYear,
				StartMonth,
				EndYear,
				EndMonth,
				NoKontrak,
				ContractIDR,
				ContractUSD,
				WeightKPI,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			select @ScopeIDProject,
				1,
				StartYear,
				StartMonth,
				EndYear,
				EndMonth,
				NoKontrak,
				ContractIDR,
				ContractUSD,
				WeightKPI,
				getdate(),
				@Username,
				1
			from TblT_ProjectHeader
			where IsActive = 1 and IDProjectHeader = @IDProjectHeader;
			
			set @ScopeIDProjectHeader = scope_identity();
			
			insert into TblT_ProjectDetail (
				IDProjectHeader,
				Background,
				Objective,
				ScopeOfWork,
				BudgetDescription,
				OrganizationChart,
				CreatedBy,
				CreatedDate,
				IsActive
			)
			select @ScopeIDProjectHeader,
				Background,
				Objective,
				ScopeOfWork,
				BudgetDescription,
				OrganizationChart,
				@Username,
				getdate(),
				1
			from TblT_ProjectDetail
			where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

			insert into TblT_ProjectRisk(
				IDProjectHeader,
				Constraints,
				Assumptions,
				Risk,
				Approach,
				CreatedBy,
				CreatedDate,
				IsActive
			)
			select @ScopeIDProjectHeader,
				Constraints,
				Assumptions,
				Risk,
				Approach,
				@Username,
				getdate(),
				1
			from TblT_ProjectRisk
			where IsActive = 1 and IDProjectHeader = @IDProjectHeader;
			
			insert into TblT_ProjectInitApprovalRole (
				IDProjectHeader,
				IDRoleGroup,
				Sequence,
				Username,
				Email,
				PositionCode,
				ActiveDate,
				EndDate,
				IsEnabled,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			select @ScopeIDProjectHeader,
				IDRoleGroup,
				Sequence,
				Username,
				Username + '@lps.go.id',
				PositionCode,
				getdate(),--a.ActiveDate,
				getdate(),--a.EndDate,
				IsEnabled,
				getdate(),
				@Username,
				1
			from TblT_ProjectInitApprovalRole
			where IsActive = 1 and IDProjectHeader = @IDProjectHeader;
			
			insert into TblT_ProjectKPIOrganization (
				IDProjectHeader,
				IDKPIOrganization,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			select @ScopeIDProjectHeader,
				IDKPIOrganization,
				getdate(),
				@Username,
				1
			from TblT_ProjectKPIOrganization
			where IsActive = 1
				and IDProjectHeader = @ScopeIDProjectHeader;

			insert into TblT_ProjectRKAT (
				IDProjectHeader,
				IDSAPMasterRKAT,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			select
				@ScopeIDProjectHeader,
				IDSAPMasterRKAT,
				getdate(),
				@Username,
				1
			from TblT_ProjectRKAT
			where IsActive = 1
				and IDProjectHeader = @ScopeIDProjectHeader;

			insert into TblT_ProjectRoleGroup (
				IDProjectHeader,
				IDRoleGroup,
				IDProgram,
				Username,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			select @ScopeIDProjectHeader,
				IDRoleGroup,
				IDProgram,
				Username,
				getdate(),
				@Username,
				1
			from TblT_ProjectRoleGroup
			where IsActive = 1 and IDProjectHeader = @ScopeIDProjectHeader;

			select 'S|Sukses';--+@IDProject+'|'+(Select ProjectName from TblM_Project where IDProject = @IDProject)+')';

		end
		else if(@TypeTransaction = 'Justifikasi')begin
			if exists(select * from TblT_ProjectHeader where IsAcTive = 1 and IDProjectHeader = @IDProjectHeader)begin
				
				update TblT_ProjectHeader
				set --IDProjectStatus = 1,
				--	StartYear = @StartYear,
				--	StartMonth = @StartMonth,
				--	EndYear = @EndYear,
				--	EndMonth = @EndMonth,
				--	NoKontrak = @NoKontrak,
					--ContractStartDate = @ContractStartDate,
					--ContractEndDate = @ContractEndDate,
					--ContractIDR = @ContractIDR,
					--ContractUSD = @ContractUSD,
					--WeightKPI = @WeightKPI,
					UpdatedBy = @Username,
					UpdatedDate = getdate()
				where IDProjectHeader = @IDProjectHeader;

				if exists(select * from TblT_ProjectDetail where IDProjectHeader = @IDProjectHeader and IsActive = 1) begin
					update TblT_ProjectDetail
					set Background = REPLACE(@Background, 'line-height: 150px', ''),
						Objective = REPLACE(@Objective, 'line-height: 150px', ''),
						ScopeOfWork = REPLACE(@ScopeOfWork, 'line-height: 150px', ''),
						BudgetDescription = REPLACE(@BudgetDescription, 'line-height: 150px', ''),
						OrganizationChart = @OrganizazationChart,
						UpdatedBy = @Username,
						UpdatedDate = getdate()
					where IDProjectHeader = @IDProjectHeader and IsActive = 1;
				end
				else begin
					insert into TblT_ProjectDetail (
						IDProjectHeader,
						Background,
						Objective,
						ScopeOfWork,
						BudgetDescription,
						OrganizationChart,
						CreatedBy,
						CreatedDate,
						IsActive
					)
					values(
						@IDProjectHeader,
						REPLACE(@Background, 'line-height: 150px', ''),
						REPLACE(@Objective, 'line-height: 150px', ''),
						REPLACE(@ScopeOfWork, 'line-height: 150px', ''),
						REPLACE(@BudgetDescription, 'line-height: 150px', ''),
						@OrganizazationChart,
						@Username,
						getdate(),
						1
					);
				end;

				if exists(select * from TblT_ProjectRisk where IsActive = 1 and IDProjectHeader = @IDProjectHeader)begin
					update TblT_ProjectRisk
					set Constraints = REPLACE(@Constraints, 'line-height: 150px', ''),
						Assumptions = REPLACE(@Assumptions, 'line-height: 150px', ''),
						Risk = REPLACE(@Risk, 'line-height: 150px', ''),
						Approach = @Approach,
						UpdatedBy = @Username,
						UpdatedDate = getdate()
					where IsActive = 1 and IDProjectHeader = @IDProjectHeader;
				end
				else begin
					insert into TblT_ProjectRisk(
						IDProjectHeader,
						Constraints,
						Assumptions,
						Risk,
						Approach,
						CreatedBy,
						CreatedDate,
						IsActive
					)
					values(
						@IDProjectHeader,
						REPLACE(@Constraints, 'line-height: 150px', ''),
						REPLACE(@Assumptions, 'line-height: 150px', ''),
						REPLACE(@Risk, 'line-height: 150px', ''),
						@Approach,
						@Username,
						getdate(),
						1
					);
				end

				--update TblT_ProjectInitApprovalRole set IsActive = 0 where IDProjectHeader = @IDProjectHeader;

				--insert into TblT_ProjectInitApprovalRole (
				--	IDProjectHeader,
				--	IDRoleGroup,
				--	Sequence,
				--	Username,
				--	Email,
				--	PositionCode,
				--	ActiveDate,
				--	EndDate,
				--	IsEnabled,
				--	CreatedDate,
				--	CreatedBy,
				--	IsActive
				--)
				--select @IDProjectHeader,
				--	a.IDRoleGroup,
				--	a.Sequence,
				--	a.Username,
				--	a.Username + '@lps.go.id',
				--	c.KodePosisi,
				--	getdate(),--a.ActiveDate,
				--	getdate(),--a.EndDate,
				--	a.IsEnabled,
				--	getdate(),
				--	@Username,
				--	1
				--from @Udt_ProjectInitApprovalRole a
				--	left join TblDW_Usergroup b on a.Username = b.User_LoginName
				--	left join TblDW_Employee c on b.Usergroup_Pernr = c.PersonalNumber;
				
				--update TblT_ProjectRoleGroup set IsActive = 0 where IDProjectHeader = @IDProjectHeader;

				--set @IDProgram = (
				--	select top 1 IDProgram 
				--	from TblM_Project a
				--		left join TblT_ProjectHeader b on a.IDProject = b.IDProject
				--	where a.IsActive = 1 and b.IsActive = 1 and b.IDProjectHeader = @IDProjectHeader
				--);

				--insert into TblT_ProjectRoleGroup (
				--	IDProjectHeader,
				--	IDRoleGroup,
				--	IDProgram,
				--	Username,
				--	CreatedBy,
				--	CreatedDate,
				--	IsActive
				--)
				--select @IDProjectHeader,
				--	IDRoleGroup,
				--	@IDProgram,
				--	Username,
				--	@Username,
				--	getdate(),
				--	1
				--from @Udt_ProjectRoleGroup;
				
				--update TblT_UserAuthorized set IsActive = 0 where Username = '';

				select 'S|Sukses';

			end
			else begin select 'F|ID Project Header tidak tersedia'; end;
		end
		else begin select 'F|Tipe transaksi belum tersedia'; end;
			
		commit;

	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_TxProjectHeader', @ErrNum, @ErrMsg, @Username;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch
END




GO
