USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Generate_ProjectKPI2]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Generate_ProjectKPI2] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    declare @thn int
	declare @idProj int
	declare @kpival table(idproject int,tw1 float,tw2 float,tw3 float,tw4 float,twyear int)

	declare thncur cursor for
	select IDProject, year from tblt_projectkpi 
	group by  IDProject, year
	order by IDProject, year 

	open thncur;

	fetch next from thncur into @idProj, @thn
	while @@FETCH_STATUS = 0  
	begin
		insert into @kpival
		select idproject, sum(tw1) as tw1,sum(tw2) as tw2,sum(tw3) as tw3,sum(tw4) as tw4, year
		from (
			select * from (
				select top 1 idproject, kpi tw1,0 tw2,0 tw3,0 tw4,  year
				from tblt_projectkpi 
				where tw=1 and year=@thn and idproject=@idProj 
				order by datedownload desc
				)a

			union all

			select * from (
				select top 1 idproject, 0 tw1,kpi tw2,0 tw3,0 tw4,  year
				from tblt_projectkpi 
				where tw=2 and year=@thn and idproject=@idProj 
				order by datedownload desc
				)b

			union all

			select * from (
				select top 1 idproject, 0 tw1,0 tw2,kpi tw3,0 tw4,  year
				from tblt_projectkpi 
				where tw=3 and year=@thn and idproject=@idProj 
				order by datedownload desc
				)c

			union all

			select * from (
				select top 1 idproject, 0 tw1,0 tw2,0 tw3,kpi tw4,  year
				from tblt_projectkpi 
				where tw=4 and year=@thn and idproject=@idProj 
				order by datedownload desc
				)d
		)x
		group by  idproject, year;

	
		fetch next from thncur into @idProj, @thn
	end
	close thncur;
	deallocate thncur;   

	declare @idproject int, @tw1 float,@tw2 float,@tw3 float,@tw4 float,@twyear int

	declare inskpicur cursor for
	select * from @kpival

	open inskpicur;
	fetch next from inskpicur into @idproject, @tw1, @tw2, @tw3, @tw4, @twyear
	while @@fetch_status = 0
	begin
		exec Usp_Insert_MasterKPIValue2 @idproject, @tw1, @tw2, @tw3, @tw4, @twyear

		fetch next from inskpicur into @idproject, @tw1, @tw2, @tw3, @tw4, @twyear
	end
	close inskpicur
	deallocate inskpicur

END




GO
