USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiDasboardReportPerPeriodeALL]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- [Usp_Get_ProjectEksekusiReportPerPeriodeALL] '176' , '0'
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiDasboardReportPerPeriodeALL]
	@IDProjectHeader INT
   ,@Tipe INT --- istransformasi
AS
BEGIN
 SELECT 
	 MPPP.IDProjectHeader,
	 MPPP.Periode        ,
	 MPPP.Keys           ,
	 MPPP.Plans          ,
	 MPPP.Reals          ,
	 MPPP.Approval       ,
	 MPPP.UpdateDate     ,
	 MPPP.Status         ,
	 MPPP.vars           ,
	 (select top 1 isnull(mt.Notes,'') from TblT_MPPProjectRealDetail mt inner join TblT_MPPProjectPlanDetail mp on mt.IDMPPProjectPlanDetail=mp.IDMPPProjectPlanDetail and mp.IsActive=1 where mt.IsActive=1 and mp.ProjectHeaderID=MPPP.IDProjectHeader and mt.Year=MPPP.year and mt.Month=MPPP.month and mt.Week=MPPP.week order by mt.ActualStart desc) Keterangan
 FROM [Ufn_Get_TrendEkseksiPerPeriodeALL](@IDProjectHeader) MPPP
 order by vars
END



GO
