USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_TrendEkseksiPerPeriodeWithOUTCurrent]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:     
-- Create date:  
-- Description:   
-- ============================================= 
CREATE FUNCTION [dbo].[Ufn_Get_TrendEkseksiPerPeriodeWithOUTCurrent] (@IDProjectHeader INT) 
returns @Result TABLE ( 
  IDProjectHeader INT, 
  Periode         VARCHAR(max), 
  Keys            VARCHAR(max), 
  Plans           FLOAT, 
  Reals           FLOAT, 
  Approval        VARCHAR(max), 
  UpdateDate      DATETIME, 
  Status          VARCHAR(max), 
  vars            VARCHAR(max),
  week			  INT,
  month			  INT,
  year			  int  ) 
AS 
  BEGIN 
      DECLARE @wk   INT, 
              @mm   INT, 
              @yr   VARCHAR(4), 
              @Tipe INT 

      SELECT @wk = weekofmonth, 
             @mm = month, 
             @yr = year 
      FROM   tblm_date 
      WHERE  date = CONVERT(DATE, Getdate()) 

      SELECT @Tipe = Proj.istransformasi 
      FROM   tblm_project Proj 
             INNER JOIN tblt_projectheader PH 
                     ON Proj.idproject = PH.idproject 
      WHERE  PH.idprojectheader = @IDProjectHeader 

      ----------------------- 
      IF @Tipe = 0 
        BEGIN 
            INSERT INTO @Result 
            SELECT MPPP.idprojectheader, 
                   [dbo].[Ufn_getmonthname_indonesia](MPPP.month) 
                   + ' ' + Cast(MPPP.year AS VARCHAR(4))                      AS 
                   Periode 
                   , 
                   CONVERT(VARCHAR, MPPP.year) + '-' 
                   + CONVERT(VARCHAR, MPPP.month) + '-' 
                   + CONVERT(VARCHAR, Max(MPPP.week))                         AS 
                   Keys, 
                   Max(MPPP.planpercentage)                                   AS 
                   Plans 
                   , 
      dbo.Ufn_getrealitationbeforebyprojectheaderid(MPPP.year, MPPP.month, 
      Max(MPPP.week), @IDProjectHeader)                          AS Reals, 
      Isnull((SELECT TOP 1 Em.nama 
              FROM   tblt_projectexecutionapprovalrole PEAR 
                     INNER JOIN tbldw_usergroup UG 
                             ON PEAR.username = UG.user_loginname 
                     INNER JOIN tbldw_employee Em 
                             ON UG.usergroup_pernr = Em.personalnumber 
                     INNER JOIN tblt_projectexecutionstatus PES 
                             ON PEAR.idprojectheader = 
                                PES.idprojectheaderid 
              WHERE  PEAR.idprojectheader = MPPP.idprojectheader 
                     AND PEAR.periode = CONVERT(VARCHAR, MPPP.year) + '-' 
                                        + CONVERT(VARCHAR, MPPP.month) + 
                                        '-' 
                                        + CONVERT(VARCHAR, Max(MPPP.week)) 
					AND PEAR.IsEnabled = '1'
                     AND ( PEAR.isapprove IS NULL 
                            OR PEAR.isapprove = '0' ) 
                     AND PEAR.isactive = '1' 
                     AND PES.projectstatus = 'Submit'
					 AND
					 PES.Periode = CONVERT(VARCHAR, 2019) + '-' 
                                        + CONVERT(VARCHAR, 4) + 
                                        '-' 
                                        + CONVERT(VARCHAR, 2) 
					 ORDER BY IDRoleGroup ASC), '-')     AS 
      Approval, 
      CONVERT (DATETIME, (SELECT TOP 1 PEAR.updateddate 
                          FROM   tblt_projectexecutionapprovalrole PEAR 
                                 INNER JOIN tbldw_usergroup UG 
                                         ON PEAR.username = 
                                            UG.user_loginname 
                                 INNER JOIN tbldw_employee Em 
                                         ON UG.usergroup_pernr = 
                                            Em.personalnumber 
                                 INNER JOIN tblt_projectexecutionstatus PES 
                                         ON PEAR.idprojectheader = 
                                            PES.idprojectheaderid 
                          WHERE 
      PEAR.idprojectheader = MPPP.idprojectheader 
      AND PEAR.periode = CONVERT(VARCHAR, MPPP.year) 
                         + '-' 
                         + CONVERT(VARCHAR, 
                         MPPP.month) + 
                         '-' 
                         + CONVERT(VARCHAR, 
                         Max(MPPP.week)) 
      AND PEAR.isactive = '1' 
      AND PES.projectstatus = 'Submit' 
                          ORDER  BY PEAR.updateddate DESC), 106) AS 
      UpdateDate, 
      CASE
		WHEN
			EXISTS(
				SELECT TOP 1 PES.IDProjectHeaderID FROM 
				TblT_ProjectExecutionStatus PES
				WHERE
				PES.ProjectStatus = 'Approved'
				and
				PES.IDProjectHeaderID = @IDProjectHeader
				and
				PES.IsActive = 1
				and
				PES.Periode =  CONVERT(VARCHAR, MPPP.year) + '-' 
                                        + CONVERT(VARCHAR, MPPP.month) + 
                                        '-' 
                                        + CONVERT(VARCHAR, Max(MPPP.week)) 
			) 
		THEN
		'Completed'
		WHEN
			EXISTS(
				SELECT TOP 1 PES.IDProjectHeaderID FROM 
				TblT_ProjectExecutionStatus PES
				WHERE
				PES.ProjectStatus = 'Submit'
				and
				PES.IDProjectHeaderID = @IDProjectHeader
				and
				PES.IsActive = 1
				and
				PES.Periode =  CONVERT(VARCHAR, MPPP.year) + '-' 
                                        + CONVERT(VARCHAR, MPPP.month) + 
                                        '-' 
                                        + CONVERT(VARCHAR, Max(MPPP.week)) 
			) 
		THEN
		'Waiting For Approval'
		ELSE
		'Not Active'
		END
      AS Status, 
      ''                                                         AS vars ,
	  Max(MPPP.week) , MPPP.Month , MPPP.Year
      FROM   tblt_mppprojectplanpercentage MPPP 
      WHERE  MPPP.isactive = 1 
      AND MPPP.idprojectheader = @IDProjectHeader 
      AND MPPP.year <= @yr--DATEPART(YYYY, GETDATE()) 
      AND ( Cast(MPPP.year AS VARCHAR(4)) 
            + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) ) 
          -- + CAST(MPPP.Week AS VARCHAR(1)))  
          < ( @yr 
               + RIGHT('00' + Cast(@mm AS VARCHAR(2)), 2) ) 
      -- + CAST(@wk AS VARCHAR(1))) 
      AND MPPP.taskid = (SELECT TOP 1 MPPC.taskid 
                         FROM   tblt_mppprojectplanpercentage MPPC 
                                INNER JOIN tblt_mppprojectplandetail MPD 
                                        ON MPPC.idprojectheader = 
                                           MPD.projectheaderid 
                                           AND MPD.taskid = MPPC.taskid 
                         WHERE  idprojectheader = @IDProjectHeader 
                                AND parentid = 0
								  AND MPD.Isactive = 1
								 AND MPPC.Isactive = 1) 
      GROUP  BY MPPP.month, 
         MPPP.year, 
         MPPP.idprojectheader, 
         MPPP.taskid 
      ORDER  BY Cast(MPPP.year AS VARCHAR(4)) 
         + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) 
         + Cast(Max(MPPP.week) AS VARCHAR(1)) DESC 
      END 
      ELSE 
        BEGIN 
            INSERT INTO @Result 
            SELECT DISTINCT MPPP.idprojectheader, 
                            'Minggu ke' + ' ' + CONVERT(VARCHAR, MPPP.week) 
                            + ', ' 
                            + [dbo].[Ufn_getmonthname_indonesia](MPPP.month) 
                            + ' ' + Cast(MPPP.year AS VARCHAR(4)) 
                            AS 
                            Periode, 
                            CONVERT(VARCHAR, MPPP.year) + '-' 
                            + CONVERT(VARCHAR, MPPP.month) + '-' 
                            + CONVERT(VARCHAR, MPPP.week) 
                            AS 
                            Keys, 
                            MPPP.planpercentage 
                            AS 
                            Plans, 
  dbo.Ufn_getrealitationbeforebyprojectheaderid(MPPP.year, 
  MPPP.month, MPPP.week, 
  @IDProjectHeader) 
  --  ROUND(CAST(SUBSTRING(CAST(MPRP.CompletePercentage as varchar),1,4)as DECIMAL(20,2)),0) 
  AS 
  Reals, 
  Isnull((SELECT TOP 1 Em.nama 
          FROM   tblt_projectexecutionapprovalrole PEAR 
                 INNER JOIN tbldw_usergroup UG 
                         ON PEAR.username = 
                            UG.user_loginname 
                 INNER JOIN tbldw_employee Em 
                         ON UG.usergroup_pernr = 
                            Em.personalnumber 
							 INNER JOIN tblt_projectexecutionstatus PES 
                             ON PEAR.idprojectheader = 
                                PES.idprojectheaderid 
          WHERE  PEAR.idprojectheader = MPPP.idprojectheader 
                 AND PEAR.periode = CONVERT(VARCHAR, 
                                    MPPP.year) + 
                                    '-' 
                                    + CONVERT(VARCHAR, 
                                    MPPP.month) 
                                    + '-' 
                                    + CONVERT(VARCHAR, 
                                    MPPP.week) 
				 AND PEAR.IsEnabled = '1'
                 AND ( PEAR.isapprove IS NULL 
                        OR PEAR.isapprove = '0' ) 
                 AND PEAR.isactive = '1' 
				 and
				 PES.ProjectStatus = 'Submit'
				  AND
					 PES.Periode = CONVERT(VARCHAR, 2019) + '-' 
                                        + CONVERT(VARCHAR, 4) + 
                                        '-' 
                                        + CONVERT(VARCHAR, 2) 
				 ORDER BY IDRoleGroup ASC), '-') 
  AS 
  Approval, 
  CONVERT (DATETIME, (SELECT TOP 1 PEAR.updateddate 
                      FROM 
  tblt_projectexecutionapprovalrole 
  PEAR 
  INNER JOIN tbldw_usergroup UG 
          ON PEAR.username = 
             UG.user_loginname 
  INNER JOIN tbldw_employee Em 
          ON UG.usergroup_pernr = 
             Em.personalnumber 
                      WHERE 
  PEAR.idprojectheader = MPPP.idprojectheader 
  AND PEAR.periode =   CONVERT(VARCHAR, MPPP.year)  + '-' 
                     + CONVERT(VARCHAR, MPPP.month) + 
                     '-' 
                     + CONVERT(VARCHAR, (MPPP.week)) 
  AND PEAR.isactive = '1' 
                      ORDER  BY PEAR.updateddate DESC), 106) 
  AS 
  UpdateDate, 
  CASE 
    WHEN EXISTS ( SELECT TOP 1 PES.IDProjectHeaderID FROM TblT_ProjectExecutionStatus PES
	where 
	PES.IDProjectHeaderID = @IDProjectHeader
	AND
	PES.IsActive = 1
	AND
	PES.Periode = CONVERT(VARCHAR, 
                  MPPP.year) + '-' 
                  + CONVERT(VARCHAR 
                  , 
                  MPPP.month) + '-' 
                  + CONVERT(VARCHAR 
                  , 
                  ( 
                  MPPP.week)) 
	AND PES.ProjectStatus = 'Approved'
	) THEN 
    'Completed' 
   WHEN EXISTS ( SELECT TOP 1 PES.IDProjectHeaderID FROM TblT_ProjectExecutionStatus PES
	where 
	PES.IDProjectHeaderID = @IDProjectHeader
	AND
	PES.IsActive = 1
	AND
	PES.Periode = CONVERT(VARCHAR, 
                  MPPP.year) + '-' 
                  + CONVERT(VARCHAR 
                  , 
                  MPPP.month) + '-' 
                  + CONVERT(VARCHAR 
                  , 
                  ( 
                  MPPP.week)) 
	AND PES.ProjectStatus = 'Submit'
	) THEN 
    'Waiting for Approval' 
    ELSE 'Not Active' 
  END 
  AS 
  Status, 
  Cast(MPPP.year AS VARCHAR(4)) 
  + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) 
  + Cast(MPPP.week AS VARCHAR(1)) 
  AS 
  vars ,
  MPPP.Week , MPPP.Month , MPPP.Year
  FROM   tblt_mppprojectplanpercentage MPPP 
  LEFT JOIN tblt_mppprojectrealpercentage MPRP 
  ON MPPP.idprojectheader = MPRP.idprojectheader 
   AND MPPP.taskid = MPRP.taskid 
   AND MPPP.year = MPRP.year 
   AND MPPP.month = MPRP.month 
   AND MPPP.week = MPRP.week 
  WHERE  MPPP.isactive = 1 
  AND MPPP.idprojectheader = @IDProjectHeader 
  --AND CAST(MPPP.Year AS VARCHAR(4)) + RIGHT('00' + CAST(MPPP.Month AS VARCHAR(2)), 2) + CAST(MPPP.Week AS VARCHAR(1)) <=
  ----and 
  ----MPPP.Year <= DATEPART(YYYY,GETDATE()) 
  ----AND 
  ----(CAST(MPPP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(MPPP.Month AS Varchar(2)),2) + CAST(MPPP.Week as Varchar(1))) <= 
  --(CAST(DATEPART(YYYY, GETDATE()) AS VARCHAR(4)) + RIGHT('00' + CAST(DATEPART(MM, GETDATE()) AS VARCHAR(2)), 2) + CAST(DATEPART(wk, GETDATE()) AS VARCHAR(1)))
  AND ( Cast(MPPP.year AS VARCHAR(4)) 
  + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) 
  + Cast(MPPP.week AS VARCHAR(1)) ) < ( 
  @yr 
  + RIGHT('00' + Cast(@mm AS VARCHAR(2)), 
  2) 
  + Cast(@wk AS VARCHAR(1)) ) 
  AND MPPP.taskid = ( 
           --SELECT TOP 1 MPPC.TaskID 
           --FROM TblT_MPPProjectPlanPercentage MPPC 
           --WHERE IDProjectHeader = @IDProjectHeader 
           --ORDER BY TaskID ASC 
           SELECT TOP 1 MPPC.taskid 
            FROM   tblt_mppprojectplanpercentage MPPC 
                   INNER JOIN tblt_mppprojectplandetail MPD 
                           ON MPPC.idprojectheader = 
                              MPD.projectheaderid 
                              AND MPD.taskid = MPPC.taskid 
            WHERE  idprojectheader = @IDProjectHeader 
                   AND parentid = 0
				   AND MPD.Isactive = 1
				   AND MPPC.Isactive = 1) 
  ORDER  BY Cast(MPPP.year AS VARCHAR(4)) 
  + RIGHT('00' + Cast(MPPP.month AS VARCHAR(2)), 2) 
  + Cast(MPPP.week AS VARCHAR(1)) DESC 
  END 

      RETURN 
  END 

GO
