USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetTriwulan]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetTriwulan] 
(
	-- Add the parameters for the function here
	@monthnumber int
)
RETURNS varchar(20)
AS
BEGIN
	
	declare @triwulan varchar(20);
	
	if(@monthnumber < 4 and @monthnumber > 0) begin select @triwulan = 'Tw1' end
	else if(@monthnumber < 7 and @monthnumber > 0) begin select @triwulan = 'Tw2' end;
	else if(@monthnumber < 10 and @monthnumber > 0) begin select @triwulan = 'Tw3' end;
	else if(@monthnumber < 13 and @monthnumber > 0) begin select @triwulan = 'Tw4' end;
	else begin select @triwulan = null end;
	
	return @triwulan;

END
GO
