USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_ProjectEksekusi]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Usp_Insert_ProjectEksekusi]
	 @ProjectHeaderID int,
	@dtType Udt_MPPTaskDetailReal_Rev3 readonly,
	 @PersonNumber varchar(50),
	 @dtConstraint [Udt_ProjectConstrain_Rev3] readonly,
	 @Status varchar(20),
	 @Periode varchar(10),
	 @dtApproval Udt_ProjectExecutionApprovalRole readonly,
	 @Year varchar(4) = null,
	 @Month int = null,
	 @Week int = null
as
begin

	declare 
	@IDPlanning bigint,
	@taskID varchar(6),
	@taskName varchar(300),
	@taskGUID varchar(max),
	@taskStart datetime,
	@taskEnd datetime,
	@taskCompleted varchar(max),
	@taskDuration varchar(max),
	@taskParent varchar(max),
	@taskOutlineNumber varchar(max),
	@taskOutlineLevel varchar(max),
	@taskPredecessor varchar(max),
	@taskSuccessor varchar(max),
	@taskNotes varchar(max),
	@taskType varchar(1),
	@taskActual_Start varchar(max),
	@taskActual_End varchar(max);

	declare @username varchar(30);
	declare @Errm varchar(max), @Errn INT;
	declare @dtTemp table(
		[row] int null,
		[IDProjectHeader] [int] null,
		[IDRoleGroup] [int] null,
		[Sequence] [int] null,
		[Username] [varchar](30) null
		,[Email] [varchar](50) null
		,[PositionCode] [varchar](20) null
		,[Periode] [varchar](12) null
		,[ActiveDate] [varchar](max) null
		,[EndDate] [varchar](max) null
		,[IsEnabled] [int] null
	);

	select @username = User_LoginName
	from TblDW_Usergroup
	where Usergroup_Pernr = @PersonNumber;

	begin try
	
		begin transaction Eksekusi;

		insert into @dtTemp
		select row_number() over (order by [PositionCode] desc),
			[IDProjectHeader],
			[IDRoleGroup],
			[Sequence],
			[Username],
			[Email],
			[PositionCode],
			[Periode],
			[ActiveDate],
			
			case
				when [EndDate] = null then getdate()
				else [EndDate]
			end,
			[IsEnabled]
		from @dtApproval;
		
		/*
			+-------------------+
			|SAVE Condition;	|
			+-------------------+
		*/

		if @Status = 'SAVE'
		begin
		
			/*
				+-------------------------------+
				|UPDATE TblT_ProjectConstraint;	|
				+-------------------------------+
			*/

			if exists (select TOP 1 * from @dtConstraint)
			begin

				if exists (select TOP 1 * from TblT_ProjectConstraint where IDProjectHeader = @ProjectHeaderID)
				begin

					update TblT_ProjectConstraint
					set IsActive = '0'
					where IDProjectHeader = @ProjectHeaderID;

				end;

				insert into TblT_ProjectConstraint (
					[IDProjectHeader],
					[IDConstraintType],
					[Description],
					[Problem],
					[Remarks],
					[CreatedDate],
					[CreatedBy],
					[IsActive],
					[Status],
					[Mitigasi]
				)
				select 
					@ProjectHeaderID
					,dtC.[IDProjectHeader]-- NOTE's INI Salah Penamaan Seharunya IDConstrain Type
					,dtC.Description
					,dtC.Problem
					,dtC.Remarks
					,getdate()
					,@username
					,'1'
					,dtC.Status
					,dtC.Mitigasi
				from @dtConstraint dtC;

			end
			else
			begin

				update TblT_ProjectConstraint set IsActive = '0' where IDProjectHeader = @ProjectHeaderID;

			end;
			
			/*
				+-----------------------------------+
				|UPDATE TblT_MPPProjectRealDetail;	|
				+-----------------------------------+
			*/

			declare inskpicur cursor for
			select * from @dtType
		
			open inskpicur;
			fetch next from inskpicur into 
				@IDPlanning,
				@taskID,
				@taskName,
				@taskGUID,
				@taskStart,
				@taskEnd,
				@taskCompleted,
				@taskDuration,
				@taskParent,
				@taskOutlineNumber,
				@taskOutlineLevel,
				@taskPredecessor,
				@taskSuccessor,
				@taskNotes,
				@taskType,
				@taskActual_Start,
				@taskActual_End
			while @@fetch_status = 0
			begin
				if exists
				(
					select TOP 1 IDMPPProjectPlanDetail from [TblT_MPPProjectRealDetail] where 
					[IDMPPProjectPlanDetail] = @IDPlanning
					and [Month] = @Month
					and [Year] = @Year
					and [Week] = @Week
					and [TaskID] = @taskID
					and [isactive] = 1
				) begin
					update [TblT_MPPProjectRealDetail] set 
						PercentageComplete = @taskCompleted,
						IsSubmit = '1' ,
						UpdatedBy = @username, 
						[UpdatedDate] = getdate(),
						[Notes] = @taskNotes,
						--UPDATE RIVAN
						[ActualStart] = @taskActual_Start,
						[ActualEnd] = @taskActual_End
						where
						[IDMPPProjectPlanDetail] = @IDPlanning
						and [Month] = @Month
						and [Year] = @Year
						and [Week] = @Week
						and [TaskID] = @taskID
						and [isactive] = 1
				end
				else begin
					insert into [TblT_MPPProjectRealDetail]
					(
						[IDMPPProjectPlanDetail],
						[Date],
						[ParentID],
						[TaskID],
						[TaskGUID],
						[TaskName],
						[StartDate],
						[EndDate],
						[Duration],
						[Notes],
						[PercentageComplete],
						[OutlineLevel],
						[OutlineNumber],
						[IsMilestone],
						[CreatedDate],
						[CreatedBy],
						[IsSubmit],
						[IsApprove],
						[IsActive],
						Year,
						Month,
						Week,
						[ActualStart],
						[ActualEnd]
					)
					values
					(
						@IDPlanning,
						convert(date, getdate()),
						@taskParent,
						@taskID,
						@taskGUID,
						@taskName,
						@taskStart,
						@taskEnd,
						@taskDuration,
						@taskNotes,
						@taskCompleted,
						@taskOutlineLevel,
						@taskOutlineNumber,
						@taskType,
						getdate(),
						@username,
						'0',
						'0',
						'1',						
						case 
							when @Year is null then year(getdate())
							else @Year
						end,						
						case 
							when @Month is null then month(getdate())
							else @Month
						end,						
						case 
							when @Week is null then datepart(day, datediff(day, 0, getdate()) / 7 * 7) / 7 + 1
							else @Week
						end,						
						@taskActual_Start,
						@taskActual_End
					)
				end;

				fetch next from inskpicur into 
				@IDPlanning,
				@taskID,
				@taskName,
				@taskGUID,
				@taskStart,
				@taskEnd,
				@taskCompleted,
				@taskDuration,
				@taskParent,
				@taskOutlineNumber,
				@taskOutlineLevel,
				@taskPredecessor,
				@taskSuccessor,
				@taskNotes,
				@taskType,
				@taskActual_Start,
				@taskActual_End
			end
			close inskpicur
			deallocate inskpicur

			--merge into [dbo].[TblT_MPPProjectRealDetail] as target
			--using @dtType as source
			--on
			--	target.[IDMPPProjectPlanDetail] = source.IDPlanning
			--	and target.[Month] = @Month
			--	and target.[Year] = @Year
			--	and target.[Week] = @Week
			--	and target.[TaskID] = source.taskID
			--	and target.[isactive] = 1

			--when matched then 
			--	update set 
			--	target.PercentageComplete = source.taskCompleted,
			--	target.IsSubmit = '1' ,
			--	target.UpdatedBy = @username, 
			--	target.[UpdatedDate] = getdate(),
			--	target.[Notes] = source.taskNotes,
			--	--UPDATE RIVAN
			--	target.[ActualStart] = source.taskActual_Start,
			--	target.[ActualEnd] = source.taskActual_End

			--when not matched by target then
			--	insert
			--	(
			--		[IDMPPProjectPlanDetail],
			--		[Date],
			--		[ParentID],
			--		[TaskID],
			--		[TaskGUID],
			--		[TaskName],
			--		[StartDate],
			--		[EndDate],
			--		[Duration],
			--		[Notes],
			--		[PercentageComplete],
			--		[OutlineLevel],
			--		[OutlineNumber],
			--		[IsMilestone],
			--		[CreatedDate],
			--		[CreatedBy],
			--		[IsSubmit],
			--		[IsApprove],
			--		[IsActive],
			--		Year,
			--		Month,
			--		Week,
			--		[ActualStart],
			--		[ActualEnd]
			--	)
			--	values
			--	(
			--		source.IDPlanning,
			--		convert(date, getdate()),
			--		source.taskParent,
			--		source.taskID,
			--		source.taskGUID,
			--		source.taskName,
			--		source.taskStart,
			--		source.taskEnd,
			--		source.taskDuration,
			--		source.taskNotes,
			--		source.taskCompleted,
			--		source.taskOutlineLevel,
			--		source.taskOutlineNumber,
			--		source.taskType,
			--		getdate(),
			--		@username,
			--		'0',
			--		'0',
			--		'1',
					
			--		case 
			--			when @Year is null then year(getdate())
			--			else @Year
			--		end,
					
			--		case 
			--			when @Month is null then month(getdate())
			--			else @Month
			--		end,
					
			--		case 
			--			when @Week is null then datepart(day, datediff(day, 0, getdate()) / 7 * 7) / 7 + 1
			--			else @Week
			--		end,
					
			--		source.taskActual_Start,
			--		source.taskActual_End
			--	);

			/*
				+-------------------------------------------+
				|UPDATE TblT_ProjectExecutionApprovalRole;	|
				+-------------------------------------------+
			*/

			if exists (select TOP 1 * from TblT_ProjectExecutionApprovalRole where IDProjectHeader = @ProjectHeaderID and Periode = @Periode)
			begin

				update TblT_ProjectExecutionApprovalRole
				set IsActive = '0'
				where Periode = @Periode
					and IDProjectHeader = @ProjectHeaderID;

			end;

			insert into TblT_ProjectExecutionApprovalRole (
				[IDProjectHeader],
				[IDRoleGroup],
				[Sequence],
				[Username],
				[Email],
				[PositionCode],
				[ActiveDate],
				[EndDate],
				[Periode],
				[CreatedDate],
				[CreatedBy],
				[IsEnabled],
				[IsActive]
			)
			select @ProjectHeaderID,
				[IDRoleGroup],
				[row],
				[Username],
				[Username] + '@lps.go.id',
				[PositionCode],
				[ActiveDate],
				[EndDate],
				[Periode],
				getdate(),
				@username,
				dtt.IsEnabled,
				'1'
			from @dtTemp dtt;

			if not exists (select TOP 1 IDProjectHeaderID from TblT_ProjectExecutionStatus where [IDProjectHeaderID] = @ProjectHeaderID and [Periode] = @Periode and IsActive = 1)
			begin

				insert into TblT_ProjectExecutionStatus
				(
					[IDProjectHeaderID],
					[ProjectStatus],
					[Periode],
					[CreatedBy],
					[CreatedDate],
					[IsActive]
				)
				values 
				(
					@ProjectHeaderID,
					'Save',
					@Periode,
					@username,
					GETDATE(),
					'1'
				);

			end;

			-- Add by Christina Eka
			/*
				+-----------------------------------------------+
				|UPDATE TblH_ProjectExecutionApprovalHistory;	|
				+-----------------------------------------------+
			*/

			insert into TblH_ProjectExecutionApprovalHistory
			(
				IDProjectHeader,
				Periode,
				Type,
				Remarks,
				CreatedDate,
				CreatedBy
			)
			values
			(
				@ProjectHeaderID,
				@Periode,
				'Updated',
				'-',
				getdate(),
				@Username
			);
			
			select 'S|Success';

		end;
		
		/*
			+-------------------+
			|SUBMIT Condition;	|
			+-------------------+
		*/

		if @Status = 'SUBMIT'
		begin
		
			/*
				+-------------------------------+
				|UPDATE TblT_ProjectConstraint;	|
				+-------------------------------+
			*/

			if exists (select * from @dtConstraint)
			begin

				if exists (select * from TblT_ProjectConstraint where IDProjectHeader = @ProjectHeaderID)
				begin
					update TblT_ProjectConstraint
					set IsActive = '0'
					where IDProjectHeader = @ProjectHeaderID;
				end;

				insert into TblT_ProjectConstraint
				(
					[IDProjectHeader],
					[IDConstraintType],
					[Description],
					[Problem],
					[Remarks],
					[CreatedDate],
					[CreatedBy],
					[IsActive],
					[Status],
					[Mitigasi]
				)
				select @ProjectHeaderID,
					dtC.IDProjectHeader,
					dtC.Description,
					dtC.Problem,
					dtC.Remarks,
					getdate(),
					@username,
					'1',
					dtC.Status,
					dtC.Mitigasi
				from @dtConstraint dtC;

			end
			else
			begin

				update TblT_ProjectConstraint set IsActive = '0' where IDProjectHeader = @ProjectHeaderID;

			end;
			
			/*
				+-----------------------------------+
				|UPDATE TblT_MPPProjectRealDetail;	|
				+-----------------------------------+
			*/

			declare inskpicur cursor for
			select * from @dtType
		
			open inskpicur;
			fetch next from inskpicur into 
				@IDPlanning,
				@taskID,
				@taskName,
				@taskGUID,
				@taskStart,
				@taskEnd,
				@taskCompleted,
				@taskDuration,
				@taskParent,
				@taskOutlineNumber,
				@taskOutlineLevel,
				@taskPredecessor,
				@taskSuccessor,
				@taskNotes,
				@taskType,
				@taskActual_Start,
				@taskActual_End
			while @@fetch_status = 0
			begin
				if exists
				(
					select TOP 1 IDMPPProjectPlanDetail from [TblT_MPPProjectRealDetail] where 
					[IDMPPProjectPlanDetail] = @IDPlanning
					and [Month] = @Month
					and [Year] = @Year
					and [Week] = @Week
					and [TaskID] = @taskID
					and [isactive] = 1
				) begin
					update [TblT_MPPProjectRealDetail] set 
						PercentageComplete = @taskCompleted,
						IsSubmit = 1,
						UpdatedBy = @username, 
						[UpdatedDate] = getdate(),
						[Notes] = @taskNotes,
						--UPDATE RIVAN
						[ActualStart] = @taskActual_Start,
						[ActualEnd] = @taskActual_End
						where
						[IDMPPProjectPlanDetail] = @IDPlanning
						and [Month] = @Month
						and [Year] = @Year
						and [Week] = @Week
						and [TaskID] = @taskID
						and [isactive] = 1
				end
				else begin
					insert into [TblT_MPPProjectRealDetail]
					(
						[IDMPPProjectPlanDetail],
						[Date],
						[ParentID],
						[TaskID],
						[TaskGUID],
						[TaskName],
						[StartDate],
						[EndDate],
						[Duration],
						[Notes],
						[PercentageComplete],
						[OutlineLevel],
						[OutlineNumber],
						[IsMilestone],
						[CreatedDate],
						[CreatedBy],
						[IsSubmit],
						[IsApprove],
						[IsActive],
						Year,
						Month,
						Week,
						[ActualStart],
						[ActualEnd]
					)
					values
					(
						@IDPlanning,
						convert(date, getdate()),
						@taskParent,
						@taskID,
						@taskGUID,
						@taskName,
						@taskStart,
						@taskEnd,
						@taskDuration,
						@taskNotes,
						@taskCompleted,
						@taskOutlineLevel,
						@taskOutlineNumber,
						@taskType,
						getdate(),
						@username,
						'1',
						'0',
						'1',						
						case 
							when @Year is null then year(getdate())
							else @Year
						end,						
						case 
							when @Month is null then month(getdate())
							else @Month
						end,						
						case 
							when @Week is null then datepart(day, datediff(day, 0, getdate()) / 7 * 7) / 7 + 1
							else @Week
						end,						
						@taskActual_Start,
						@taskActual_End
					)
				end;

				fetch next from inskpicur into 
				@IDPlanning,
				@taskID,
				@taskName,
				@taskGUID,
				@taskStart,
				@taskEnd,
				@taskCompleted,
				@taskDuration,
				@taskParent,
				@taskOutlineNumber,
				@taskOutlineLevel,
				@taskPredecessor,
				@taskSuccessor,
				@taskNotes,
				@taskType,
				@taskActual_Start,
				@taskActual_End
			end
			close inskpicur
			deallocate inskpicur


			--merge into [dbo].[TblT_MPPProjectRealDetail] as target
			--using @dtType as source
			--on
			--	target.[IDMPPProjectPlanDetail] = source.IDPlanning	
			--	and target.[Month] = @Month	
			--	and target.[Year] = @Year
			--	and target.[Week] = @Week
			--	and target.[TaskID] = source.taskID 
			--	and target.[isactive] = 1

			--when matched then 
			--	update set
			--	target.PercentageComplete = source.taskCompleted,
			--	target.IsSubmit = '1' ,
			--	target.UpdatedBy = @username, 
			--	target.[UpdatedDate] = getdate(),
			--	target.[Notes] = source.taskNotes,
			--	--UPDATE RIVAN
			--	target.[ActualStart] = source.taskActual_Start,
			--	target.[ActualEnd] = source.taskActual_End
			--when not matched by target then
			--	insert
			--	(
			--		[IDMPPProjectPlanDetail],
			--		[Date],
			--		[ParentID],
			--		[TaskID],
			--		[TaskGUID],
			--		[TaskName],
			--		[StartDate],
			--		[EndDate],
			--		[Duration],
			--		[Notes],
			--		[PercentageComplete],
			--		[OutlineLevel],
			--		[OutlineNumber],
			--		[IsMilestone],
			--		[CreatedDate],
			--		[CreatedBy],
			--		[IsSubmit],
			--		[IsApprove],
			--		[IsActive],
			--		Year,
			--		Month,
			--		Week,
			--		[ActualStart],
			--		[ActualEnd]
			--	)
			--	values 
			--	(
			--		source.IDPlanning,
			--		convert(date, getdate()),
			--		source.taskParent,
			--		source.taskID,
			--		source.taskGUID,
			--		source.taskName,
			--		source.taskStart,
			--		source.taskEnd,
			--		source.taskDuration,
			--		source.taskNotes,
			--		source.taskCompleted,
			--		source.taskOutlineLevel,
			--		source.taskOutlineNumber,
			--		source.taskType,
			--		getdate(),
			--		@username,
			--		'1',
			--		'0',
			--		'1',

			--		case 
			--			when @Year is null then year(getdate())
			--			else @Year
			--		end,
					
			--		case 
			--			when @Month is null then month(getdate())
			--			else @Month
			--		end,
					
			--		case
			--			when @Week is null then datepart(day, datediff(day, 0, getdate()) / 7 * 7) / 7 + 1
			--			else @Week
			--		end,

			--		source.taskActual_Start,
			--		source.taskActual_End
			--	);
				
			/*
				+-------------------------------------------+
				|UPDATE TblT_ProjectExecutionApprovalRole;	|
				+-------------------------------------------+
			*/

			declare @RoleGroup int;
			declare @usern varchar(30);
			declare @i int;

			if exists (select * from TblT_ProjectExecutionApprovalRole where IDProjectHeader = @ProjectHeaderID and Periode = @Periode)
			begin

				update TblT_ProjectExecutionApprovalRole
				set IsActive = '0'
				where Periode = @Periode and IDProjectHeader = @ProjectHeaderID;

			end;

			insert into TblT_ProjectExecutionApprovalRole
			(
				[IDProjectHeader],
				[IDRoleGroup],
				[Sequence],
				[Username],
				[Email],
				[PositionCode],
				[ActiveDate],
				[EndDate],
				[Periode],
				[CreatedDate],
				[CreatedBy],
				[IsEnabled],
				[IsActive]
			)
			select @ProjectHeaderID,
				[IDRoleGroup],
				[row],
				[Username],
				[Username] + '@lps.go.id',
				[PositionCode],
				[ActiveDate],

				case
					when [EndDate] = null then getdate()
					else [EndDate]
				end,

				[Periode],
				getdate(),
				@username,
				dtt.IsEnabled,
				'1'
			from @dtTemp dtt;

			/*
				+---------------------------------------+
				|UPDATE TblT_ProjectExecutionStatus;	|
				+---------------------------------------+
			*/

			if not exists (select IDProjectHeaderID from TblT_ProjectExecutionStatus where [IDProjectHeaderID] = @ProjectHeaderID and [Periode] = @Periode and IsActive = 1)
			begin

				insert into TblT_ProjectExecutionStatus
				(
					[IDProjectHeaderID],
					[ProjectStatus],
					[Periode],
					[CreatedBy],
					[CreatedDate],
					[IsActive]
				)
				values 
				(
					@ProjectHeaderID,
					'Submit',
					@Periode,
					@username,
					getdate(),
					'1'
				);

			end
			else
			begin

				update TblT_ProjectExecutionStatus
				set ProjectStatus = 'Submit',
					UpdateBy = @username,
					UpdateDate = getdate()
				where [IDProjectHeaderID] = @ProjectHeaderID
					and [Periode] = @Periode
					and [ProjectStatus] = 'Save';

			end;
			
			/*
				+-----------------------------------------------+
				|UPDATE TblH_ProjectExecutionApprovalHistory;	|
				+-----------------------------------------------+
			*/

			insert into TblH_ProjectExecutionApprovalHistory
			(
				IDProjectHeader,
				Periode,
				Type,
				Remarks,
				CreatedDate,
				CreatedBy
			)
			values
			(
				@ProjectHeaderID,
				@Periode,
				'Submited',
				'-',
				getdate(),
				@Username
			);

			select 'S|Success';

		end;

		if @Status = 'JUSTIFIKASI'
		begin
		
			/*
				+-------------------------------+
				|UPDATE TblT_ProjectConstraint;	|
				+-------------------------------+
			*/

			if exists(select * from @dtConstraint)
			begin
				if exists(select * from TblT_ProjectConstraint where IDProjectHeader = @ProjectHeaderID )
				begin

					update TblT_ProjectConstraint
					set IsActive = '0'
					where IDProjectHeader = @ProjectHeaderID;

				end;

				insert into TblT_ProjectConstraint
				(
					[IDProjectHeader],
					[IDConstraintType],
					[Description],
					[Problem],
					[Remarks],
					[CreatedDate],
					[CreatedBy],
					[IsActive],
					[Status],
					[Mitigasi]
				)
				select 
					@ProjectHeaderID,
					dtC.[IDProjectHeader],-- NOTE's INI Salah Penamaan Seharunya IDConstrain Type
					dtC.Description,
					dtC.Problem,
					dtC.Remarks,
					getdate(),
					@username,
					'1',
					dtC.Status,
					dtC.Mitigasi
				from @dtConstraint dtC;

			end
			else begin

				update TblT_ProjectConstraint set IsActive = '0' where IDProjectHeader = @ProjectHeaderID;

			end;
			
			/*
				+-----------------------------------+
				|UPDATE TblT_MPPProjectRealDetail;	|
				+-----------------------------------+
			*/

			merge into [dbo].[TblT_MPPProjectRealDetail] as target
			using @dtType as source
			on
				target.[IDMPPProjectPlanDetail] = source.IDPlanning	
				and target.[Month] = @Month	
				and target.[Year] = @Year
				and target.[Week] = @Week
				and target.[TaskID] = source.taskID 
				and target.[isactive] = 1
			when matched then 
				update set 
					target.PercentageComplete = source.taskCompleted,
					target.IsSubmit = '1' ,
					target.UpdatedBy = @username, 
					target.[UpdatedDate] = getdate(),
					target.[Notes] = source.taskNotes,
					target.[ActualStart] = source.[taskActual_Start],
					target.[ActualEnd] = source.[taskActual_End]
			when not matched by target then
				insert
				(
					[IDMPPProjectPlanDetail],
					[Date],
					[ParentID],
					[TaskID],
					[TaskGUID],
					[TaskName],
					[StartDate],
					[EndDate],
					[Duration],
					[Notes],
					[PercentageComplete],
					[OutlineLevel],
					[OutlineNumber],
					[IsMilestone],
					[CreatedDate],
					[CreatedBy],
					[IsSubmit],
					[IsApprove],
					[IsActive],
					Year,
					Month,
					Week,
					[ActualStart],
					[ActualEnd]
				)
				values 
				(
					source.IDPlanning,
					convert(date, getdate()),
					source.taskParent,
					source.taskID,
					source.taskGUID,
					source.taskName,
					source.taskStart,
					source.taskEnd,
					source.taskDuration,
					source.taskNotes,
					source.taskCompleted,
					source.taskOutlineLevel,
					source.taskOutlineNumber,
					source.taskType,
					getdate(),
					@username,
					'1',
					'0',
					'1',

					case 
						when @Year is null then year(getdate())
						else @Year
					end,

					case 
						when @Month is null then MONTH(GETDATE())
						else @Month
					end,

					case 
						when @Week is null then datepart(day, datediff(day, 0, getdate()) / 7 * 7) / 7 + 1
						else @Week
					end,

					source.taskActual_Start,
					source.taskActual_End
				);
					
			/*
				+-----------------------------------------------+
				|UPDATE TblH_ProjectExecutionApprovalHistory;	|
				+-----------------------------------------------+
			*/

			insert into TblH_ProjectExecutionApprovalHistory
			(
				IDProjectHeader,
				Periode,
				Type,
				Remarks,
				CreatedDate,
				CreatedBy
			)
			values
			(
				@ProjectHeaderID,
				@Periode,
				'Justificated',
				'Telah di lakukan Justifikasi',
				getdate(),
				@Username
			);

			select 'S|Success';

		end;

		commit transaction Eksekusi;

	end try

	begin catch

		rollback transaction Eksekusi;

		declare @Eerl int;

		select @Errm = ERROR_MESSAGE()
			,@Errn = ERROR_NUMBER()
			,@Eerl = ERROR_LINE();

		exec [dbo].[Usp_Insert_ErrorLog] 'Usp_Insert_ProjectEksekusi'
			,@Errn
			,@Errm
			,@username;
		
		select @Errm + ' | '+ CONVERT(varchar(max),@Eerl);

	end catch;

end;




GO
