USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_DataIntegrasiIopera]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_DataIntegrasiIopera] 
	-- Add the parameters for the stored procedure here
	@Year varchar(5) = null,
	@TW varchar(5) =  null
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

declare @Month int = null;
declare @Date date = null;
declare @DateStart date = null;
declare @Week int = null; 
declare @LastDay varchar(10) = null;
declare @FirstDay varchar(10) = null;
declare @TableHeader table(ProjectHeaderId int)
declare @SumOfFirstWeek int = null;
declare @SumOfFirstWeekNextYear int = null;
declare @YearPeriode varchar(5) = null;
declare @TableTemp table(
	ProjectHeaderId int,
	KPICode nvarchar(50),
	Poin float
);
declare @Table_ProjectStatus table (IDProjectHeader int,IDProjectStatus int)

if(@Year is null)set @Year = year(getdate());
if(@TW = 'TW1') begin
	set @Month = 3 end;
else if(@TW = 'TW2') begin
	set @Month = 6 end;
else if(@TW = 'TW3') begin
	set @Month = 9 end;
else if(@TW = 'TW4') begin
	set @Month = 12 end

set @LastDay = (select top 1 WeekDayName from TblM_Date where Year = @Year  and Month =  @Month order by Date desc);
set @SumOfFirstWeek = (select Sum(WeekOfMonth) from TblM_Date where Year = @Year  and Month =  (@Month + 1) and WeekDayName = 'Saturday' and WeekOfMonth = 1 Group By WeekOfMonth);
set @SumOfFirstWeekNextYear = (select Sum(WeekOfMonth) from TblM_Date where Year = @Year + 1  and Month =  1 and WeekDayName = 'Saturday' and WeekOfMonth = 1 Group By WeekOfMonth);

if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month != 12) begin
	if(@SumOfFirstWeek = 1) begin
		set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = (@Month + 1) and WeekDayName = 'Saturday' order by Date asc)
		set @YearPeriode = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = (@Month + 1) and WeekDayName = 'Saturday' order by Date asc);	
		end;
	else begin
		set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
		set @YearPeriode = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
		end;
	end;
else if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month = 12) begin
	if(@SumOfFirstWeekNextYear = 1 and (select top 1 Date from TblM_Date where Year = (@Year+1) and Month = 1 and WeekDayName = 'Saturday' order by Date asc) is not null) begin
		set @Date = (select top 1 Date from TblM_Date where Year = (@Year+1) and Month = 1 and WeekDayName = 'Saturday' order by Date asc)
		set @YearPeriode = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @YearPeriode and Month = @Month order by Date asc)
		end;
	else begin	
		set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
		set @YearPeriode = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
		end;
	end;
else if (@LastDay = 'Sunday') begin
		set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
		set @YearPeriode = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
		end;
else begin 
	set @Date = (select top 1 Date from TblM_Date where Year = @Year  and Month =  @Month and WeekDayName = 'Saturday' order by Date desc)
	set @YearPeriode = year(@Date);
	set @Month = month(@Date);
	set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);
	end;

insert into @Table_ProjectStatus
select TOP 1 with ties IDProjectHeader,IDProjectStatus
--from TblD_ListProject where Year(DateDownload) = @Year and DateDownload <= @Date and IsActive = 1
from TblD_ListProject where DateDownload <= @Date and IsActive = 1
order by row_number() over (partition by IDProjectHeader order by DateDownload desc);

insert into @TableTemp
select
	bb.ProjectHeaderId,
	bb.KPICode,
	bb.Poin
	--bb.TW
from 
(
	select distinct
	tmpd.ProjectHeaderId,
	tkpio.KPICode,
	isnull(tp.Poin,0) as Poin
	--Case
	--	--when [dbo].[Ufn_GetTriwulan](tmpp.Month) = 'TW1' then isnull(tkpi.TW1,0)
	--	--when [dbo].[Ufn_GetTriwulan](tmpp.Month) = 'TW2' then isnull(tkpi.TW2,0)
	--	--when [dbo].[Ufn_GetTriwulan](tmpp.Month) = 'TW3' then isnull(tkpi.TW3,0)
	--	--when [dbo].[Ufn_GetTriwulan](tmpp.Month) = 'TW4' then isnull(tkpi.TW4,0)
	--	when @TW = 'TW1' then isnull(tkpi.TW1,0)
	--	when @TW = 'TW2' then isnull(tkpi.TW2,0)
	--	when @TW = 'TW3' then isnull(tkpi.TW3,0)
	--	when @TW = 'TW4' then isnull(tkpi.TW4,0)    
	--end as TW
	from TblT_MPPProjectPlanDetail tmpd
	left join
	(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week
		from TblT_MPPProjectPlanPercentage
		where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + cast(@Month as varchar(2)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
	JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
	JOIN TblM_Project tp on tp.IDProject = tph.IDProject
	Join TblT_ProjectKPIOrganization tpkpio on tpkpio.IDProjectHeader = tmpd.ProjectHeaderId
	Join Tblm_KpiOrganization tkpio on tkpio.IDKPIOrganization = tpkpio.IDKPIOrganization
	JOIN (
		select TOP 1 with ties IDProjectHeader,IDProjectStatus
		--from TblD_ListProject where  Year(DateDownload) = @YearPeriode and DateDownload <= @Date and IsActive = 1
		from TblD_ListProject where DateDownload <= @Date and IsActive = 1
		order by row_number() over (partition by IDProjectHeader order by DateDownload desc)
	) tps on tph.IDProjectHeader = tps.IDProjectHeader
	where 
	tmpd.IsActive = 1 and 
	tph.IsActive = 1 and 
	tp.IsActive = 1
	and tmpd.ParentId = 0
	and tpkpio.IsActive = 1
	and tps.IDProjectStatus in (1,2,4,7,10, 11,12)
	and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
) bb 
order by bb.KPICode,bb.ProjectHeaderID;

select
	bb.ProjectHeaderId,
	bb.ParentId,
	bb.KPICode,
	bb.KodeProyek,
	bb.KPIName,
	bb.BobotKpi, ---
	bb.ProjectNo,
	bb.ProjectName,
	bb.Poin,
	bb.PlanPercentage as PlanPercentage,
	bb.PlanPercentage2,
	bb.CompletePercentage as CompletePercentage,
	bb.CompletePercentage2,
	bb.CapaianProyek,
	Isnull(bb.CapaianKpi,0) as CapaianKpi,
	case
		when ( bb.IDProjectStatus = 1
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9) then
						'Belum dimulai'
		when (bb.IDProjectStatus = 4
				or bb.IDProjectStatus = 12) then
				'Selesai'
		when 
			round(
			bb.CapaianProyek
	,0) > = 110 then
			'Di atas target'
		when 
		round(
			bb.CapaianProyek
	,0) > = 100 then
			'Sesuai target'
		when 
			round(bb.CapaianProyek
	,0) > = 85 then
			'Sedikit di bawah Target'	
	else
			'Jauh di bawah target'
	end as Status,
	null as Deliverable,
	null as Realisasi,
	bb.Pic as Pic,
		(
		select 
		STUFF((SELECT distinct ',' + e2.PersonalNumber
		from TblM_Project a2
			join TblT_ProjectHeader b2 on a2.IDProject = b2.IDProject			
			join TblT_ProjectInitApprovalRole g2 on b2.IDProjectHeader = g2.IDProjectHeader
			join TblM_RoleGroup h2 on g2.IDRoleGroup = h2.IDRoleGroup
			join TblDW_Usergroup d2 on g2.Username = d2.User_LoginName
			join TblDW_Employee e2 on d2.Usergroup_Pernr = e2.PersonalNumber
			where a2.IsActive = 1
			and b2.IsActive = 1
			and g2.IsActive = 1
			and h2.IsActive = 1
			and h2.IDRoleGroup in (2,3)
			and b2.IDProjectHeader = bb.ProjectHeaderId
			and g2.Username is not NULL
			and g2.Username != ''
			    FOR XML PATH(''), TYPE
			    ).value('.', 'NVARCHAR(MAX)') 
			,1,1,'') Pic
	) as PicPerson,
	(
		select 
		STUFF((SELECT distinct ',' + e2.PersonalNumber
		from TblM_Project a2
			join TblT_ProjectHeader b2 on a2.IDProject = b2.IDProject			
			join TblT_ProjectInitApprovalRole g2 on b2.IDProjectHeader = g2.IDProjectHeader
			join TblM_RoleGroup h2 on g2.IDRoleGroup = h2.IDRoleGroup
			join TblDW_Usergroup d2 on g2.Username = d2.User_LoginName
			join TblDW_Employee e2 on d2.Usergroup_Pernr = e2.PersonalNumber
			where a2.IsActive = 1
			and b2.IsActive = 1
			and g2.IsActive = 1
			and h2.IsActive = 1
			and h2.IDRoleGroup =9
			and b2.IDProjectHeader = bb.ProjectHeaderId
			and g2.Username is not NULL
			and g2.Username != ''
			    FOR XML PATH(''), TYPE
			    ).value('.', 'NVARCHAR(MAX)') 
			,1,1,'') Pic
	) as PicMku,
	(
		select distinct
		STUFF((SELECT distinct ',' + te2.DepartmentName
			from TblM_Mku tpa2
			JOIN TblM_Department te2 on te2.IDDepartment = tpa2.IDDepartment
			where 
			tpa2.IsActive = 1 
			and te2.IsActive = 1
			and tpa2.IDProjectHeader = bb.ProjectHeaderID
			    FOR XML PATH(''), TYPE
			    ).value('.', 'NVARCHAR(MAX)') 
			,1,1,'') Mku
	) as Mku,
	bb.Waktu,
	bb.IsTransformasi
from 
(
	select distinct
	tmpd.ProjectHeaderId,
	tmpd.ParentId,
	tkpio.KPICode,
	tpm.ProgramNo as KodeProyek,
	tkpio.KPIName,
	IsNull(tkpio.BobotKpi,0) as BobotKpi, ---
	tp.ProjectNo,
	tp.ProjectName,
	isnull(tp.Poin,0) as Poin,
	round(Isnull(tmpp.PlanPercentage,0),0) as PlanPercentage,
	case
		when y.CompletePercentage is not null then
		Round(
				(
					select TOP 1 PlanPercentage
					from TblT_MPPProjectPlanPercentage tmpp2 
					where 
					tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
					and tmpp2.TaskId = tmpd.TaskId
					and cast(cast(tmpp2.Year as varchar(4)) + '-' + right('00' + cast(tmpp2.Month as varchar(2)),2) + '-' + cast(tmpp2.Week as varchar(1)) as date) <= cast(cast(y.Year as varchar(4)) + '-' + right('00' + cast(y.Month as varchar(2)),2) + '-' + cast(y.Week as varchar(1)) as date)
					and tmpp2.isActive = 1 
					order by tmpp2.Year desc,tmpp2.Month desc,tmpp2.Week desc
				),0)
		else 0
	end as PlanPercentage2,	
	round(IsNull(x.CompletePercentage,0),0) as CompletePercentage,
	round(IsNull(y.CompletePercentage,0),0) as CompletePercentage2,
	round(
			Case 
				when ISNULL(tmpp.PlanPercentage,0) = 0 then 0
				when
				y.CompletePercentage is not null then
				Round(10000/
				Isnull((
					select TOP 1 round(PlanPercentage,0)
					from TblT_MPPProjectPlanPercentage tmpp2 
					where 
					tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
					and tmpp2.TaskId = tmpd.TaskId
					and cast(cast(tmpp2.Year as varchar(4)) + '-' + right('00' + cast(tmpp2.Month as varchar(2)),2) + '-' + cast(tmpp2.Week as varchar(1)) as date) <= cast(cast(y.Year as varchar(4)) + '-' + right('00' + cast(y.Month as varchar(2)),2) + '-' + cast(y.Week as varchar(1)) as date)
					and tmpp2.isActive = 1 
					order by tmpp2.Year desc,tmpp2.Month desc,tmpp2.Week desc
				),0),0)
				else (
						round(IsNull(x.CompletePercentage,0),0) / round(Isnull(tmpp.PlanPercentage,0),0)) * 100
			end
	,0) as CapaianProyek,
	Case
		when @TW = 'TW1' then isnull(tkpi.TW1,0)
		when @TW = 'TW2' then isnull(tkpi.TW2,0)
		when @TW = 'TW3' then isnull(tkpi.TW3,0)
		when @TW = 'TW4' then isnull(tkpi.TW4,0)  
	End as CapaianKpi, ----
	tps.IDProjectStatus,
	null as Deliverable,
	null as Realisasi, 
	tps.DepartmentName as Pic,
	case
		when ([dbo].[Ufn_GetTriwulan](Month(tmpd.StartDate)) = [dbo].[Ufn_GetTriwulan](Month(tmpd.EndDate)) and Cast(Year(tmpd.StartDate) as varchar(4)) = Cast(Year(tmpd.EndDate) as varchar(4))) then
			isnull([dbo].[Ufn_GetTriwulan](Month(tmpd.StartDate)) + ' ' + Cast(Year(tmpd.StartDate) as varchar(4)), '-')
		else isnull([dbo].[Ufn_GetTriwulan](Month(tmpd.StartDate)) + ' ' + Cast(Year(tmpd.StartDate) as varchar(4)) + ' - ' + [dbo].[Ufn_GetTriwulan](Month(tmpd.EndDate)) + ' ' + Cast(Year(tmpd.EndDate) as varchar(4)), '-')
	end as Waktu,
	tmpp.Month as Month,
	tmpp.Week as Week,
	tp.IsTransformasi,
	tp.IDProject,
	tp.Parent
	from TblT_MPPProjectPlanDetail tmpd
	left join
	(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
		from TblT_MPPProjectPlanPercentage
		where cast(cast(Year as varchar(4)) + '-' + right('00' + cast(Month as varchar(2)),2) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + right('00' + Cast(@month as varchar(3)),2) + '-' + Cast(@week as varchar(2)) as date)--Month <= @Month and Year <= @Year
		and isActive = 1 
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
	LEFT JOIN (
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
		from TblT_MPPProjectRealPercentage
		where  cast(cast(Year as varchar(4)) + '-' + right('00' + cast(Month as varchar(2)),2) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + right('00' + Cast(@month as varchar(3)),2) + '-' + Cast(@week as varchar(2)) as date)
		and isActive = 1
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
	LEFT JOIN (
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
		from TblT_MPPProjectRealPercentage
		where  cast(cast(Year as varchar(4)) + '-' + right('00' + cast(Month as varchar(2)),2) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + right('00' + Cast(@month as varchar(3)),2) + '-' + Cast(@week as varchar(2)) as date)
		and isActive = 1 and CompletePercentage >= 100
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year asc,Month asc,Week asc)
	) y on tmpd.ProjectHeaderID = y.IDProjectHeader and tmpd.TaskID = y.TaskID
	JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
	JOIN TblM_Project tp on tp.IDProject = tph.IDProject
	Join Tblm_Program tpm on tpm.IDProgram = tp.IDProgram
	Join TblT_ProjectKPIOrganization tpkpio on tpkpio.IDProjectHeader = tmpd.ProjectHeaderId
	Join Tblm_KpiOrganization tkpio on tkpio.IDKPIOrganization = tpkpio.IDKPIOrganization
	left join TblM_KPIValue tkpi on tkpi.IDProject = tp.IDProject and tkpi.TWYear = @Year
	JOIN (
		select TOP 1 with ties IDProjectHeader,IDProjectStatus,td.DepartmentName
		from TblD_ListProject 
		Join Tblm_Department td on TblD_ListProject.DepartmentCode = td.DepartmentCode 
		--where  Year(DateDownload) = @YearPeriode and DateDownload <= @Date and TblD_ListProject.IsActive = 1
		where  DateDownload <= @Date and TblD_ListProject.IsActive = 1
		order by row_number() over (partition by IDProjectHeader order by DateDownload desc)
	) tps on tph.IDProjectHeader = tps.IDProjectHeader
	where 
	tmpd.IsActive = 1 and 
	tph.IsActive = 1 and 
	tp.IsActive = 1
	and tmpd.ParentId = 0
	and tpkpio.IsActive = 1
	and tps.IDProjectStatus in (1,2,4,7,10, 11,12)
	and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
) bb
where 1 = (
	case
		when bb.Parent is null and bb.IDProjectStatus = 1 then 0 
		when bb.Parent is null then 
			case
				when (select Top 1 Parent from Tblm_Project where Parent = bb.IDProject and IsActive = 1) is not null then
					case
						when (select TOP 1 IDProjectStatus from Tbld_ListProject where IDProjectHeader = bb.ProjectHeaderId and IsActive = 1 and DateDownload <= @Date order by DateDownload desc) = 13 then 0
						when (select TOP 1 IDProjectStatus from Tbld_ListProject where IDProjectHeader = bb.ProjectHeaderId and IsActive = 1 and DateDownload <= @Date order by DateDownload desc) = 7
							and (select TOP 1 IDProjectStatus from Tbld_ListProject where IDProjectHeader = bb.ProjectHeaderId and IsActive = 1 order by DateDownload desc) = 13 then 0
						else 1
					end
				else 1
			end
		else
			case
				when (
						select TOP 1 tlp.IDProjectStatus from Tblm_Project tpp
						JOIN Tblt_ProjectHeader tphh on tpp.Parent = tphh.IDProject
						JOIN Tbld_ListProject tlp on tlp.IDProjectHeader = tphh.IDProjectHeader
						where tpp.IsActive = 1 and tphh.IsActive = 1 and tpp.IDProject = bb.IDProject
						and tlp.IsActive = 1 and DateDownload <= @Date order by DateDownload desc
				) = 13 then 1
				when (
						select TOP 1 tlp.IDProjectStatus from Tblm_Project tpp
						JOIN Tblt_ProjectHeader tphh on tpp.Parent = tphh.IDProject
						JOIN Tbld_ListProject tlp on tlp.IDProjectHeader = tphh.IDProjectHeader
						where tpp.IsActive = 1 and tphh.IsActive = 1 and tpp.IDProject = bb.IDProject
						and tlp.IsActive = 1 and DateDownload <= @Date order by DateDownload desc
				) = 7 and
				 (
						select TOP 1 tlp.IDProjectStatus from Tblm_Project tpp
						JOIN Tblt_ProjectHeader tphh on tpp.Parent = tphh.IDProject
						JOIN Tbld_ListProject tlp on tlp.IDProjectHeader = tphh.IDProjectHeader
						where tpp.IsActive = 1 and tphh.IsActive = 1 and tpp.IDProject = bb.IDProject
						and tlp.IsActive = 1  order by DateDownload desc
				) = 13 then 1
				else 0
			end
	end
) 
order by bb.ProjectHeaderID;

select distinct
tmpd.ProjectHeaderId,
tmpd.ParentId,
tmpd.TaskID,
tmpd.TaskName,
y.Notes,
round(ISNULL(tmpp.PlanPercentage,0),0) as PlanPercentage,
round(isnull(x.CompletePercentage, 0),0) as CompletePercentage,
tmpd.OutlineNumber
from TblT_MPPProjectPlanDetail tmpd
join
	(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
		from TblT_MPPProjectPlanPercentage
		where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + cast(@Month as varchar(2)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
JOIN (
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
	from TblT_MPPProjectRealPercentage
	where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + cast(@Month as varchar(2)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1
	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
JOIN (
	select TOP 1 with ties IDMPPProjectPlanDetail,Notes
	from TblT_MPPProjectRealDetail
	where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1
	order by row_number() over (partition by IDMPPProjectPlanDetail order by Year desc,Month desc,Week desc)
) y on tmpd.IDMPPProjectPlanDetail = y.IDMPPProjectPlanDetail
JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
JOIN TblM_Project tp on tp.IDProject = tph.IDProject
JOIN TblT_ProjectRisk tpr on tpr.IDProjectHeader = tmpd.ProjectHeaderID
JOIN @Table_ProjectStatus tps on tps.IDProjectHeader = tmpd.ProjectHeaderId
JOIN @TableTemp t on t.ProjectHeaderId = tmpd.ProjectHeaderId
where 
tmpd.IsActive = 1 and 
tph.IsActive = 1 and 
tp.IsActive = 1 
and tmpd.ParentId != 0
and tmpd.OutlineLEvel = 2
and tmpd.StartDate <= @Date
and tps.IDProjectStatus in (1,2,4,7,10, 11,12)
order by tmpd.ProjectHeaderID,tmpd.OutlineNumber;

select distinct
tmpd.ProjectHeaderId,
tmpd.ParentId,
tmpd.TaskID,
tmpd.TaskName,
y.Notes,
case
	when cast(@Year + '-' + right('00' + @Month, 2) + '-' + cast(@week as varchar(2)) as date)
					>= 
						(
							select TOP 1 cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(WeekOfMonth as varchar(2)) as date)
							from TblM_Date
							where DATE = convert(DATE, dateadd(day, (7-datepart(dw, tmpd.StartDate))%7, tmpd.StartDate))
						)
					 
					--cast(
					--	cast(
					--			(
					--				select Year
					--				from TblM_Date
					--				where DATE = convert(DATE, dateadd(day, (7-datepart(dw, tmpd.StartDate))%7, tmpd.StartDate))
					--			) as varchar(4)
					--		)
					--	+ '-' + right(
					--			'00' + cast(
					--				(
					--					select Month
					--					from TblM_Date
					--					where DATE = convert(DATE, dateadd(DAY, (7-datepart(dw, tmpd.StartDate))%7, tmpd.StartDate))
					--				) as varchar(2)
					--			), 2
					--		)
					--	+ '-' + cast(
					--			(
					--				select WeekOfMonth
					--				from TblM_Date
					--				where DATE = convert(DATE, dateadd(day, (7-datepart(dw, tmpd.StartDate))%7, tmpd.StartDate))
					--			) as varchar(1)
					--		)
					--	as date
					--)
			then 100
			else
				round(ISNULL(tmpp.PlanPercentage,0),0)
end  as PlanPercentage,
round(isnull(x.CompletePercentage, 0),0) as CompletePercentage,
tmpd.OutlineNumber
from TblT_MPPProjectPlanDetail tmpd
join
	(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
		from TblT_MPPProjectPlanPercentage
		where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + cast(@Month as varchar(2)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
JOIN (
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
	from TblT_MPPProjectRealPercentage
	where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + cast(@Month as varchar(2)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1
	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
JOIN (
	select TOP 1 with ties IDMPPProjectPlanDetail,Notes
	from TblT_MPPProjectRealDetail
	where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1
	order by row_number() over (partition by IDMPPProjectPlanDetail order by Year desc,Month desc,Week desc)
) y on tmpd.IDMPPProjectPlanDetail = y.IDMPPProjectPlanDetail
JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
JOIN TblM_Project tp on tp.IDProject = tph.IDProject
JOIN TblT_ProjectRisk tpr on tpr.IDProjectHeader = tmpd.ProjectHeaderID
JOIN @Table_ProjectStatus tps on tps.IDProjectHeader = tmpd.ProjectHeaderId
JOIN @TableTemp t on t.ProjectHeaderId = tmpd.ProjectHeaderId
where 
tmpd.IsActive = 1 and 
tph.IsActive = 1 and 
tp.IsActive = 1
and tmpd.ParentId != 0
and tmpd.OutlineLEvel = 3
and tmpd.IsMileStone = 1
and tps.IDProjectStatus in (1,2,4,7,10, 11,12)
order by tmpd.ProjectHeaderID,tmpd.TaskId;

select distinct
tmpd.ProjectHeaderId,
tmpd.ParentId,
tmpd.TaskID,
tmpd.TaskName,
y.Notes,
round(ISNULL(tmpp.PlanPercentage,0),0) as PlanPercentage,
round(ISNULL(x.CompletePercentage,0),0) as CompletePercentage
from TblT_MPPProjectPlanDetail tmpd
join
(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
		from TblT_MPPProjectPlanPercentage
		where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + cast(@Month as varchar(2)) + '-' + Cast(@week as varchar(2)) as date) and isActive = 1
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
JOIN (
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
	from TblT_MPPProjectRealPercentage
	where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + cast(@Month as varchar(2)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1
	order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
JOIN (
	select TOP 1 with ties IDMPPProjectPlanDetail,Notes
	from TblT_MPPProjectRealDetail
	where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
	and isActive = 1
	order by row_number() over (partition by IDMPPProjectPlanDetail order by Year desc,Month desc,Week desc)
) y on tmpd.IDMPPProjectPlanDetail = y.IDMPPProjectPlanDetail
JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
JOIN TblM_Project tp on tp.IDProject = tph.IDProject
JOIN TblT_ProjectRisk tpr on tpr.IDProjectHeader = tmpd.ProjectHeaderID
JOIN @Table_ProjectStatus tps on tps.IDProjectHeader = tmpd.ProjectHeaderId
JOIN @TableTemp t on t.ProjectHeaderId = tmpd.ProjectHeaderId
where 
tmpd.IsActive = 1 and 
tph.IsActive = 1 and 
tp.IsActive = 1 
and tmpd.ParentId != 0
and tmpd.OutlineLEvel = 3
and tmpd.IsMileStone = 0
and tps.IDProjectStatus in (1,2,4,7,10, 11,12)
order by tmpd.ProjectHeaderID,tmpd.TaskId;
END


GO
