USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectKPI]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectKPI](
	[IDProjectKPI] [int] IDENTITY(1,1) NOT NULL,
	[IDListProject] [int] NOT NULL,
	[DateDownload] [int] NULL,
	[Year] [int] NULL,
	[IDProject] [int] NULL,
	[IDProjectHeader] [int] NULL,
	[Parent] [int] NULL,
	[PlanPencapaian] [decimal](18, 2) NULL,
	[RealisasiPencapaian] [decimal](18, 2) NULL,
	[Pencapaian] [decimal](18, 2) NULL,
	[IDProjectStatus] [int] NULL,
	[IsTransformasi] [bit] NULL,
	[IsMultiYears] [bit] NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
	[TwDate] [int] NULL,
	[Tw] [int] NULL,
	[kpi] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[Periode] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TblT_ProjectKPI] PRIMARY KEY CLUSTERED 
(
	[IDProjectKPI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
