USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_BerandaProjectStakeholder]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_BerandaProjectStakeholder]
	@IDProject int,
	@Year varchar(4) = '',
	@Month varchar(2) = '',
	@Week varchar(2) = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @stakeholder as table (role varchar(50), name varchar(50))
	INSERT INTO @stakeholder VALUES ('Project Manager', 'Imam Alfian')
	INSERT INTO @stakeholder VALUES ('System Analyst', 'Reza Hovis')
	INSERT INTO @stakeholder VALUES ('Andre','Developer 1')
	INSERT INTO @stakeholder VALUES ('Fadhil', 'Developer 2')
	
	SELECT role, name FROM @stakeholder

	


END




GO
