USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblSAP_Master_ProjectCost]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSAP_Master_ProjectCost](
	[NoUrut] [int] NULL,
	[IDProjectCost] [int] NULL,
	[ProjectCostCode] [nvarchar](50) NULL,
	[ProjectCostName] [nvarchar](300) NULL,
	[Value] [nvarchar](50) NULL,
	[Hangus] [nvarchar](50) NULL,
	[Pergeseran] [nvarchar](50) NULL,
	[Realisasi] [nvarchar](50) NULL,
	[Komitmen] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[ParentCode] [nvarchar](50) NULL,
	[YEAR] [nvarchar](4) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
