USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_Report_TrenPencapaian]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_Report_TrenPencapaian] -- exec Usp_Get_Report_TrenPencapaian
	-- Add the parameters for the stored procedure here
	@Year int = null,
	@Month int = null

AS
BEGIN
	
	declare @Date date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);

	declare @Tbl_Keterangan table (
		Point int,
		Keterangan varchar(100)
	);
	
	declare @Tbl_TrenPencapaian table (
		Keterangan varchar(100),
		TrenPencapaianTrans int,
		TrenPencapaianNonTrans int
	);
	
	insert into @Tbl_Keterangan select '1', 'Tren Turun Kuning ke Merah';
	insert into @Tbl_Keterangan select '2', 'Tren Turun Hijau ke Merah';
	insert into @Tbl_Keterangan select '3', 'Tren Turun Biru ke Merah';
	insert into @Tbl_Keterangan select '4', 'Tren Turun Hijau ke Kuning';
	insert into @Tbl_Keterangan select '5', 'Tren Turun Biru ke Kuning';
	insert into @Tbl_Keterangan select '6', 'Tren Turun Biru ke Hijau';
	insert into @Tbl_Keterangan select '7', 'TOTAL TREN TURUN';
	
	insert into @Tbl_Keterangan select '8', 'Tren Naik Merah ke Biru';
	insert into @Tbl_Keterangan select '9', 'Tren Naik Kuning ke Biru';
	insert into @Tbl_Keterangan select '10', 'Tren Naik Hijau ke Biru';
	insert into @Tbl_Keterangan select '11', 'Tren Naik Merah ke Hijau';
	insert into @Tbl_Keterangan select '12', 'Tren Naik Kuning ke Hijau';
	insert into @Tbl_Keterangan select '13', 'Tren Naik Merah ke Kuning';
	insert into @Tbl_Keterangan select '14', 'TOTAL TREN NAIK';
	
	insert into @Tbl_Keterangan select '15', 'Tren Tetap Merah ke Merah';
	insert into @Tbl_Keterangan select '16', 'Tren Tetap Kuning ke Kuning';
	insert into @Tbl_Keterangan select '17', 'Tren Tetap Hijau ke Hijau';
	insert into @Tbl_Keterangan select '18', 'Tren Tetap Biru ke Biru';
	insert into @Tbl_Keterangan select '19', 'TOTAL TREN TETAP';
	
	insert into @Tbl_Keterangan select '20', 'Selesai';
	insert into @Tbl_Keterangan select '21', 'Belum Dimulai';
	insert into @Tbl_Keterangan select '22', 'GRAND TOTAL';
	
	insert into @Tbl_TrenPencapaian
	
	-----------------------------------------------------------------------------------------------------------------------------
	------------------------------------------------------------TREN-------------------------------------------------------------
	-----------------------------------------------------------------------------------------------------------------------------
	
	select 
		case
			when TrenBefore = 'Merah' then
				case
					when Tren = 'Merah' then 'Tren Tetap Merah ke Merah'
					else 'Tren Naik Merah ke ' + Tren
				end
			when TrenBefore = 'Kuning' then
				case 
					when Tren = 'Merah' then 'Tren Turun Kuning ke Merah'
					when Tren = 'Kuning' then 'Tren Tetap Kuning ke Kuning'
					else 'Tren Naik Merah ke ' + Tren
				end
			when TrenBefore = 'Hijau' then
				case 
					when Tren = 'Biru' then 'Tren Naik Hijau ke Biru'
					when Tren = 'Hijau' then 'Tren Tetap Hijau ke Hijau'
					else 'Tren Turun Kuning ke ' + Tren
				end
			when TrenBefore = 'Biru' then
				case 
					when Tren = 'Biru' then 'Tren Tetap Biru ke Biru'
					else 'Tren Turun Biru ke ' + Tren
				end
		end as Keterangan,
	
		count(case
			when IsTransformasi = 1 then
				case
					when TrenBefore = 'Merah' then
						case
							when Tren = 'Merah' then 'Tren Tetap Merah ke Merah'
							else 'Tren Naik Merah ke ' + Tren
						end
					when TrenBefore = 'Kuning' then
						case 
							when Tren = 'Merah' then 'Tren Turun Kuning ke Merah'
							when Tren = 'Kuning' then 'Tren Tetap Kuning ke Kuning'
							else 'Tren Naik Merah ke ' + Tren
						end
					when TrenBefore = 'Hijau' then
						case 
							when Tren = 'Biru' then 'Tren Naik Hijau ke Biru'
							when Tren = 'Hijau' then 'Tren Tetap Hijau ke Hijau'
							else 'Tren Turun Kuning ke ' + Tren
						end
					when TrenBefore = 'Biru' then
						case 
							when Tren = 'Biru' then 'Tren Tetap Biru ke Biru'
							else 'Tren Turun Biru ke ' + Tren
						end
				end
		end)
		as TrenPencapaianTrans,
		
		count(case
			when IsTransformasi = 0 then
				case
					when TrenBefore = 'Merah' then
						case
							when Tren = 'Merah' then 'Tren Tetap Merah ke Merah'
							else 'Tren Naik Merah ke ' + Tren
						end
					when TrenBefore = 'Kuning' then
						case 
							when Tren = 'Merah' then 'Tren Turun Kuning ke Merah'
							when Tren = 'Kuning' then 'Tren Tetap Kuning ke Kuning'
							else 'Tren Naik Merah ke ' + Tren
						end
					when TrenBefore = 'Hijau' then
						case 
							when Tren = 'Biru' then 'Tren Naik Hijau ke Biru'
							when Tren = 'Hijau' then 'Tren Tetap Hijau ke Hijau'
							else 'Tren Turun Kuning ke ' + Tren
						end
					when TrenBefore = 'Biru' then
						case 
							when Tren = 'Biru' then 'Tren Tetap Biru ke Biru'
							else 'Tren Turun Biru ke ' + Tren
						end
				end
		end)
		as TrenPencapaianNonTrans
	
	from TblD_ListProject
	where DateDownload = @Date
		and year(getdate()) between StartYear and EndYear
		and IsActive = 1
		and (IDProjectStatus not in(1, 7, 8, 9) and @Date >= cast(StartYear + '-' + StartMonth + '-' + StartDay as datetime))
		and IDProjectStatus not in(4, 12)
		and IDProjectStatus not in(1, 3, 8, 9, 13)
	group by Tren, TrenBefore
	
	union all
	
	-----------------------------------------------------------------------------------------------------------------------------
	---------------------------------------------------------TOTAL TREN----------------------------------------------------------
	-----------------------------------------------------------------------------------------------------------------------------
	
	select Total.Keterangan,
		sum(Total.TrenPencapaianTrans),
		sum(Total.TrenPencapaianNonTrans)
	from (
		select 
			case
				when TrenBefore = 'Merah' then
					case
						when Tren = 'Merah' then 'TOTAL TREN TETAP'
						else 'TOTAL TREN NAIK'
					end
				when TrenBefore = 'Kuning' then
					case 
						when Tren = 'Merah' then 'TOTAL TREN TURUN'
						when Tren = 'Kuning' then 'TOTAL TREN TETAP'
						else 'TOTAL TREN NAIK'
					end
				when TrenBefore = 'Hijau' then
					case 
						when Tren = 'Biru' then 'TOTAL TREN NAIK'
						when Tren = 'Hijau' then 'TOTAL TREN TETAP'
						else 'TOTAL TREN TURUN'
					end
				when TrenBefore = 'Biru' then
					case 
						when Tren = 'Biru' then 'TOTAL TREN TETAP'
						else 'TOTAL TREN TURUN'
					end
			end as Keterangan,
		
			count(case
				when IsTransformasi = 1 then
					case
						when TrenBefore = 'Merah' then
							case
								when Tren = 'Merah' then 'TOTAL TREN TETAP'
								else 'TOTAL TREN NAIK'
							end
						when TrenBefore = 'Kuning' then
							case 
								when Tren = 'Merah' then 'TOTAL TREN TURUN'
								when Tren = 'Kuning' then 'TOTAL TREN TETAP'
								else 'TOTAL TREN NAIK'
							end
						when TrenBefore = 'Hijau' then
							case 
								when Tren = 'Biru' then 'TOTAL TREN NAIK'
								when Tren = 'Hijau' then 'TOTAL TREN TETAP'
								else 'TOTAL TREN TURUN'
							end
						when TrenBefore = 'Biru' then
							case 
								when Tren = 'Biru' then 'TOTAL TREN TETAP'
								else 'TOTAL TREN TURUN'
							end
					end
			end)
			as TrenPencapaianTrans,
			
			count(case
				when IsTransformasi = 0 then
					case
						when TrenBefore = 'Merah' then
							case
								when Tren = 'Merah' then 'TOTAL TREN TETAP'
								else 'TOTAL TREN NAIK'
							end
						when TrenBefore = 'Kuning' then
							case 
								when Tren = 'Merah' then 'TOTAL TREN TURUN'
								when Tren = 'Kuning' then 'TOTAL TREN TETAP'
								else 'TOTAL TREN NAIK'
							end
						when TrenBefore = 'Hijau' then
							case 
								when Tren = 'Biru' then 'TOTAL TREN NAIK'
								when Tren = 'Hijau' then 'TOTAL TREN TETAP'
								else 'TOTAL TREN TURUN'
							end
						when TrenBefore = 'Biru' then
							case 
								when Tren = 'Biru' then 'TOTAL TREN TETAP'
								else 'TOTAL TREN TURUN'
							end
					end
			end)
			as TrenPencapaianNonTrans
		
		from TblD_ListProject
		where DateDownload = @Date
			and year(getdate()) between StartYear and EndYear
			and IsActive = 1
			and (IDProjectStatus not in(1, 7, 8, 9) and @Date >= cast(StartYear + '-' + StartMonth + '-' + StartDay as datetime))
			and IDProjectStatus not in(4, 12)
			and IDProjectStatus not in(1, 3, 8, 9, 13)
		group by Tren, TrenBefore
	) as Total
	group by Total.Keterangan
	
	union all
	
	-----------------------------------------------------------------------------------------------------------------------------
	-----------------------------------------------------------SELESAI-----------------------------------------------------------
	-----------------------------------------------------------------------------------------------------------------------------
	
	select 'Selesai' as Keterangan,
		
		count(
		case
			when IsTransformasi = 1 then '1'
		end) as TrenPencapaianTrans,
		
		count(
		case
			when IsTransformasi = 0 then '1'
		end) as TrenPencapaianNonTrans
	
	from TblD_ListProject
	where DateDownload = @Date
		and year(getdate()) between StartYear and EndYear
		and IsActive = 1
		and IDProjectStatus in(4, 12)
		and IDProjectStatus not in(1, 3, 8, 9, 13)
	
	union all
	
	-----------------------------------------------------------------------------------------------------------------------------
	--------------------------------------------------------BELUM DIMULAI--------------------------------------------------------
	-----------------------------------------------------------------------------------------------------------------------------
	
	select 'Belum Dimulai' as Keterangan,
		
		count(
		case
			when IsTransformasi = 1 then '1'
		end) as TrenPencapaianTrans,
		
		count(
		case
			when IsTransformasi = 0 then '1'
		end) as TrenPencapaianNonTrans
	
	from TblD_ListProject
	where DateDownload = @Date
		and year(getdate()) between StartYear and EndYear
		and IsActive = 1
		and (IDProjectStatus in(1, 7, 8, 9) or @Date < cast(StartYear + '-' + StartMonth + '-' + StartDay as datetime))
		and IDProjectStatus not in(1, 3, 8, 9, 13)
	
	union all
	
	-----------------------------------------------------------------------------------------------------------------------------
	---------------------------------------------------------GRAND TOTAL---------------------------------------------------------
	-----------------------------------------------------------------------------------------------------------------------------
	
	select 'GRAND TOTAL' as Keterangan,
		
		count(
		case
			when IsTransformasi = 1 then '1'
		end) as TrenPencapaianTrans,
		
		count(
		case
			when IsTransformasi = 0 then '1'
		end) as TrenPencapaianNonTrans
	
	from TblD_ListProject
	where DateDownload = @Date
		and year(getdate()) between StartYear and EndYear
		and IsActive = 1
		and IDProjectStatus not in(1, 3, 8, 9, 13);
	
	select row_number()over(order by a.Point asc) AS NoUrut,
		a.Point,
		a.Keterangan,
		isnull(b.TrenPencapaianTrans, 0) as TrenPencapaianTrans,
		isnull(b.TrenPencapaianNonTrans, 0) as TrenPencapaianNonTrans
	from @Tbl_Keterangan a
		left join @Tbl_TrenPencapaian b on a.Keterangan = b.Keterangan
	order by a.Point asc;
	
END





GO
