USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_CutOFF_Monthly]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Ufn_Get_CutOFF_Monthly](
	@start datetime,
	@end datetime
)
RETURNS 
	@result TABLE (StartDate Date , StartDateName Varchar(15), EndDate Date, EndDateName varchar(15))
AS
BEGIN

INSERT INTO @result
SELECT 
	CONVERT(Date,@start) , 'N' , D.LastDayOfMonth , 'N'
FROM [dbo].[Ufn_Range_Date](@start,@end,'mm',1) a
INNER JOIN
TblM_Date D
ON
a.RetVal = D.Date
RETURN
END



GO
