USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Approve_TransaksiChangeProjectHeader]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Approve_TransaksiChangeProjectHeader]
	-- Add the parameters for the stored procedure here
	@IDProjectHeader INT = NULL
	,@Deskripsi nvarchar(max) = null
	,@User VARCHAR(50) = NULL
	,@TypeTransaction varchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	BEGIN TRY
		BEGIN TRANSACTION;
		
		DECLARE @Username VARCHAR(50) = (
			SELECT TOP 1 User_LoginName
			FROM TblDW_Usergroup
			WHERE Usergroup_Pernr = @User
		);

		declare @IDProjectChangeManagement int = (
			select b.IDProjectChangeManagement
			from TblT_ProjectHeader a
				left join TblT_ProjectChangeManagement b on a.IDProjectHeader = b.IDProjectHeader and b.IsActive = 1
			where a.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader
		);

		declare @IDRoleGroup int;
		select @IDRoleGroup = IDRoleGroup
		from TblT_ProjectChangesApprovalRole
		where IsActive = 1 and IDProjectChangeManagement = @IDProjectChangeManagement and Username = @Username

		DECLARE @NextSequence INT = NULL;
		Declare @LastSequence int = null;
		declare @ScopeIdentity int = null;
		declare @ScopeIDProjectHeader int = null;
		declare @LS varchar(max) = '-';
		
		declare @IDMPPProjectPlanDetail int;
		declare @ScopeIDMPPProjectPlanDetail int;

		if(@TypeTransaction = 'Approve') begin
		
			IF (@Username = NULL)
			BEGIN
				SET @Username = '-';
			END;

			DECLARE @Sequence INT = (
					SELECT TOP 1 a.Sequence
					FROM TblT_ProjectChangesApprovalRole a
					LEFT JOIN TblT_ProjectChangeManagement b ON a.IDProjectChangeManagement = b.IDProjectChangeManagement
					WHERE a.IsActive = 1
						AND b.IsActive = 1
						AND a.IsApprove = 1
						AND b.IDProjectChangeManagement = @IDProjectChangeManagement
					);

			IF NOT EXISTS (
					SELECT TOP 1 a.Sequence
					FROM TblT_ProjectChangesApprovalRole a
					LEFT JOIN TblT_ProjectChangeManagement b ON a.IDProjectChangeManagement = b.IDProjectChangeManagement
					WHERE a.IsActive = 1
						AND b.IsActive = 1
						AND a.IsApprove = 1
						AND b.IDProjectChangeManagement = @IDProjectChangeManagement
					)
			BEGIN
				SET @NextSequence = (
						SELECT TOP 1 a.Sequence
						FROM TblT_ProjectChangesApprovalRole a
						LEFT JOIN TblT_ProjectChangeManagement b ON a.IDProjectChangeManagement = b.IDProjectChangeManagement
						WHERE a.IsActive = 1
							AND b.IsActive = 1
							AND b.IDProjectChangeManagement = @IDProjectChangeManagement
							AND a.IsEnabled = 1
						ORDER BY a.Sequence DESC
						);
						
				set @LastSequence = (
					select top 1 a.Sequence
					FROM TblT_ProjectChangesApprovalRole a
						LEFT JOIN TblT_ProjectChangeManagement b ON a.IDProjectChangeManagement = b.IDProjectChangeManagement
					where a.IsActive = 1
						and b.IsActive = 1
						AND b.IDProjectChangeManagement = @IDProjectChangeManagement
						and a.IsEnabled = 1
					ORDER BY a.Sequence asc
				);
		
				if(@NextSequence = @LastSequence) begin
					
					if((select IDJenisPerubahan from TblT_ProjectChangeManagement where IDProjectHeader = @IDProjectHeader and IsActive = 1) = 5)begin
						
						update TblT_ProjectHeader
						set IDProjectStatus = 3
						where IDProjectHeader = @IDProjectHeader;
					
					end
					else begin
					
						insert into TblM_Project (
							IDProgram,
							IDStrategicObjective,
							IDProjectPriority,
							IDDepartment,
							ProjectNo,
							Year,
							ProjectName,
							Weight,
							Parent,
							CreatedDate,
							CreatedBy,
							IsTransformasi,
							IsActive,
							IDKategoriProject,
							Poin
						)
						select a.IDProgram,
							a.IDStrategicObjective,
							a.IDProjectPriority,
							a.IDDepartment,
							a.ProjectNo + ' V.' + convert(nvarchar(10),
								(
									select top 1
										case
											when c.Sequence is null or c.Sequence = 0 then 2
											else c.Sequence + 1
										end
									from TblT_ProjectHeader c
									where c.IDProject = a.IDProject
								)
							) as ProjectNo,
							a.Year,

							a.ProjectName + ' Versi ' + convert(nvarchar(10),
								(
									select top 1
										case
											when c.Sequence is null or c.Sequence = 0 then 2
											else c.Sequence + 1
										end
									from TblT_ProjectHeader c
									where c.IDProject = a.IDProject
								)
							) as ProjectName,

							a.Weight,
							a.IDProject,
							getdate(),
							@Username,
							a.IsTransformasi,
							1,
							a.IDKategoriProject,
							a.Poin
						from TblM_Project a
							left join TblT_ProjectHeader b on a.IDProject = b.IDProject
						where a.IsActive = 1
							and b.IsActive = 1
							and b.IDProjectHeader = @IDProjectHeader;

						set @ScopeIdentity = scope_identity();

						--+-----------+--
						--+ IDProject +--
						--+-----------+--

						insert into TblT_ProjectHeader(
							IDProject,
							Sequence,
							IDProjectStatus,
							StartYear,
							StartMonth,
							EndYear,
							EndMonth,
							NoKontrak,
							ContractStartDate,
							ContractEndDate,
							ContractIDR,
							ContractUSD,
							WeightKPI,
							CreatedDate,
							CreatedBy,
							UpdatedDate,
							UpdatedBy,
							IsActive
						)
						select @ScopeIdentity,
							
							case
							when Sequence is null then 1
							else Sequence + 1
							end as Sequence,
							1,
							StartYear,
							StartMonth,
							EndYear,
							EndMonth,
							NoKontrak,
							ContractStartDate,
							ContractEndDate,
							ContractIDR,
							ContractUSD,
							WeightKPI,
							getdate(),
							@Username,
							getdate(),
							@Username,
							1
						from TblT_ProjectHeader
						where IDProjectHeader = @IDProjectHeader and IsActive = 1;
						
						set @ScopeIDProjectHeader = scope_identity();
						
						--+-----------------+--
						--+ IDProjectHeader +--
						--+-----------------+--

						insert into TblT_ProjectRKAT (
							IDProjectHeader,
							IDSAPMasterRKAT,
							CreatedDate,
							CreatedBy,
							IsActive
						)
						select @ScopeIDProjectHeader,
							IDSAPMasterRKAT,
							getdate(),
							@Username,
							1
						from TblT_ProjectRKAT
						where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

						insert into TblT_ProjectKPIOrganization (
							IDProjectHeader,
							IDKPIOrganization,
							Weight,
							CreatedDate,
							CreatedBy,
							IsActive
						)
						select @ScopeIDProjectHeader,
							IDKPIOrganization,
							Weight,
							getdate(),
							@Username,
							1
						from TblT_ProjectKPIOrganization
						where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

						insert into TblT_ProjectDetail (
							IDProjectHeader,
							Background,
							Objective,
							ScopeOfWork,
							BudgetDescription,
							OrganizationChart,
							CreatedDate,
							createdBy,
							IsActive
						)
						select @ScopeIDProjectHeader,
							Background,
							Objective,
							ScopeOfWork,
							BudgetDescription,
							OrganizationChart,
							getdate(),
							@Username,
							1
						from TblT_ProjectDetail 
						where IsActive = 1  and IDProjectHeader = @IDProjectHeader;

						insert into TblT_ProjectRisk (
							IDProjectHeader,
							Constraints,
							Assumptions,
							Risk,
							Approach,
							CreatedDate,
							CreatedBy,
							IsActive
						)
						select @ScopeIDProjectHeader,
							Constraints,
							Assumptions,
							Risk,
							Approach,
							getdate(),
							@Username,
							1
						from TblT_ProjectRisk
						where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

						insert into TblT_ProjectInitApprovalRole (
							IDProjectHeader,
							IDRoleGroup,
							Sequence,
							Username,
							Email,
							PositionCode,
							ActiveDate,
							EndDate,
							CreatedDate,
							CreatedBy,
							IsEnabled,
							IsActive
						)
						select @ScopeIDProjectHeader,
							IDRoleGroup,
							Sequence,
							Username,
							Email,
							PositionCode,
							ActiveDate,
							EndDate,
							getdate(),
							@Username,
							1,
							1
						from TblT_ProjectInitApprovalRole
						where IsActive = 1 and IDProjectHeader = @IDProjectHeader
						
						insert into [dbo].[TblT_MPPProjectPlanDetail] (
							ProjectHeaderID,
							ParentID,
							TaskID,
							TaskGUID,
							TaskName,
							StartDate,
							EndDate,
							Duration,
							Notes,
							PercentageComplete,
							OutlineLevel,
							OutlineNumber,
							IsMilestone,
							CreatedDate,
							CreatedBy,
							IsActive
						)select @ScopeIDProjectHeader,
							ParentID,
							TaskID,
							TaskGUID,
							TaskName,
							StartDate,
							EndDate,
							Duration,
							Notes,
							PercentageComplete,
							OutlineLevel,
							OutlineNumber,
							IsMilestone,
							getdate(),
							@Username,
							1
						from [dbo].[TblT_MPPProjectPlanDetail]
						where ProjectHeaderID = @IDProjectHeader
							and IsActive = 1
						order by IDMPPProjectPlanDetail asc;
						
						set @LS = (select top 1 ProjectName from TblM_Project where IsActive = 1 and IDProject = @ScopeIdentity);

						set @ScopeIdentity = (select IDProject from TblT_ProjectHeader where IDProjectHeader = @IDProjectHeader);

						update TblT_ProjectHeader
						set IDProjectStatus = 7--, IsActive = 1
						where IDProjectHeader = @IDProjectHeader;
					
					end;

				end;

				UPDATE TblT_ProjectChangesApprovalRole
				SET IsApprove = 1
					,UpdatedBy = @Username
					,UpdatedDate = getdate()
				WHERE Sequence = @NextSequence
					AND IDProjectChangeManagement = @IDProjectChangeManagement
					AND IsActive = 1;

				insert into TblH_ProjectChangeApproval(
					IDProjectChangeManagement,
					Type,
					Remarks,
					CreatedDate,
					CreatedBy
				)values(
					@IDProjectChangeManagement,
					@TypeTransaction,
					'-',
					getdate(),
					@Username
				);

			END
			ELSE
			BEGIN
				SET @NextSequence = (
						SELECT TOP 1 a.Sequence
						FROM TblT_ProjectChangesApprovalRole a
						LEFT JOIN TblT_ProjectChangeManagement b ON a.IDProjectChangeManagement = b.IDProjectChangeManagement
						WHERE a.IsActive = 1
							AND b.IsActive = 1
							AND b.IDProjectChangeManagement = @IDProjectChangeManagement
							AND a.IsEnabled = 1
							AND (a.IsApprove is null or a.IsApprove = 0)
							AND a.Sequence < @Sequence
						ORDER BY a.Sequence DESC
						);
		
				set @LastSequence = (
					select top 1 a.Sequence
					FROM TblT_ProjectChangesApprovalRole a
						LEFT JOIN TblT_ProjectChangeManagement b ON a.IDProjectChangeManagement = b.IDProjectChangeManagement
					where a.IsActive = 1
						and b.IsActive = 1
						AND b.IDProjectChangeManagement = @IDProjectChangeManagement
						and a.IsEnabled = 1
					ORDER BY a.Sequence asc
				);
		
				if(@NextSequence = @LastSequence) begin
					
					if((select IDJenisPerubahan from TblT_ProjectChangeManagement where IDProjectHeader = @IDProjectHeader and IsActive = 1) = 5)begin
						
						update TblT_ProjectHeader
						set IDProjectStatus = 3
						where IDProjectHeader = @IDProjectHeader;
					
					end
					else begin
					
						insert into TblM_Project (
							IDProgram,
							IDStrategicObjective,
							IDProjectPriority,
							IDDepartment,
							ProjectNo,
							Year,
							ProjectName,
							Weight,
							Parent,
							CreatedDate,
							CreatedBy,
							IsTransformasi,
							IsActive,
							IDKategoriProject,
							Poin
						)
						select a.IDProgram,
							a.IDStrategicObjective,
							a.IDProjectPriority,
							a.IDDepartment,
							a.ProjectNo + ' V.' + convert(nvarchar(10),
								(
									select top 1
										case
											when c.Sequence is null or c.Sequence = 0 then 2
											else c.Sequence + 1
										end
									from TblT_ProjectHeader c
									where c.IDProject = a.IDProject
								)
							) as ProjectNo,
							a.Year,

							a.ProjectName + ' Versi ' + convert(nvarchar(10),
								(
									select top 1
										case
											when c.Sequence is null or c.Sequence = 0 then 2
											else c.Sequence + 1
										end
									from TblT_ProjectHeader c
									where c.IDProject = a.IDProject
								)
							) as ProjectName,

							a.Weight,
							a.IDProject,
							getdate(),
							@Username,
							a.IsTransformasi,
							1,
							a.IDKategoriProject,
							a.Poin
						from TblM_Project a
							left join TblT_ProjectHeader b on a.IDProject = b.IDProject
						where a.IsActive = 1
							and b.IsActive = 1
							and b.IDProjectHeader = @IDProjectHeader;

						set @ScopeIdentity = scope_identity();

						--+-----------+--
						--+ IDProject +--
						--+-----------+--

						insert into TblT_ProjectHeader(
							IDProject,
							Sequence,
							IDProjectStatus,
							StartYear,
							StartMonth,
							EndYear,
							EndMonth,
							NoKontrak,
							ContractStartDate,
							ContractEndDate,
							ContractIDR,
							ContractUSD,
							WeightKPI,
							CreatedDate,
							CreatedBy,
							UpdatedDate,
							UpdatedBy,
							IsActive
						)
						select @ScopeIdentity,
							
							case
							when Sequence is null then 1
							else Sequence + 1
							end as Sequence,
							1,
							StartYear,
							StartMonth,
							EndYear,
							EndMonth,
							NoKontrak,
							ContractStartDate,
							ContractEndDate,
							ContractIDR,
							ContractUSD,
							WeightKPI,
							getdate(),
							@Username,
							getdate(),
							@Username,
							1
						from TblT_ProjectHeader
						where IDProjectHeader = @IDProjectHeader and IsActive = 1;
						
						set @ScopeIDProjectHeader = scope_identity();
						
						--+-----------------+--
						--+ IDProjectHeader +--
						--+-----------------+--

						insert into TblT_ProjectRKAT (
							IDProjectHeader,
							IDSAPMasterRKAT,
							CreatedDate,
							CreatedBy,
							IsActive
						)
						select @ScopeIDProjectHeader,
							IDSAPMasterRKAT,
							getdate(),
							@Username,
							1
						from TblT_ProjectRKAT
						where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

						insert into TblT_ProjectKPIOrganization (
							IDProjectHeader,
							IDKPIOrganization,
							Weight,
							CreatedDate,
							CreatedBy,
							IsActive
						)
						select @ScopeIDProjectHeader,
							IDKPIOrganization,
							Weight,
							getdate(),
							@Username,
							1
						from TblT_ProjectKPIOrganization
						where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

						insert into TblT_ProjectDetail (
							IDProjectHeader,
							Background,
							Objective,
							ScopeOfWork,
							BudgetDescription,
							OrganizationChart,
							CreatedDate,
							createdBy,
							IsActive
						)
						select @ScopeIDProjectHeader,
							Background,
							Objective,
							ScopeOfWork,
							BudgetDescription,
							OrganizationChart,
							getdate(),
							@Username,
							1
						from TblT_ProjectDetail 
						where IsActive = 1  and IDProjectHeader = @IDProjectHeader;

						insert into TblT_ProjectRisk (
							IDProjectHeader,
							Constraints,
							Assumptions,
							Risk,
							Approach,
							CreatedDate,
							CreatedBy,
							IsActive
						)
						select @ScopeIDProjectHeader,
							Constraints,
							Assumptions,
							Risk,
							Approach,
							getdate(),
							@Username,
							1
						from TblT_ProjectRisk
						where IsActive = 1 and IDProjectHeader = @IDProjectHeader;
						
						insert into TblT_ProjectInitApprovalRole (
							IDProjectHeader,
							IDRoleGroup,
							Sequence,
							Username,
							Email,
							PositionCode,
							ActiveDate,
							EndDate,
							CreatedDate,
							CreatedBy,
							IsEnabled,
							IsActive
						)
						select @ScopeIDProjectHeader,
							IDRoleGroup,
							Sequence,
							Username,
							Email,
							PositionCode,
							ActiveDate,
							EndDate,
							getdate(),
							@Username,
							1,
							1
						from TblT_ProjectInitApprovalRole
						where IsActive = 1 and IDProjectHeader = @IDProjectHeader
						
						insert into [dbo].[TblT_MPPProjectPlanDetail] (
							ProjectHeaderID,
							ParentID,
							TaskID,
							TaskGUID,
							TaskName,
							StartDate,
							EndDate,
							Duration,
							Notes,
							PercentageComplete,
							OutlineLevel,
							OutlineNumber,
							IsMilestone,
							CreatedDate,
							CreatedBy,
							IsActive
						)select @ScopeIDProjectHeader,
							ParentID,
							TaskID,
							TaskGUID,
							TaskName,
							StartDate,
							EndDate,
							Duration,
							Notes,
							PercentageComplete,
							OutlineLevel,
							OutlineNumber,
							IsMilestone,
							getdate(),
							@Username,
							1
						from [dbo].[TblT_MPPProjectPlanDetail]
						where ProjectHeaderID = @IDProjectHeader
							and IsActive = 1
						order by IDMPPProjectPlanDetail asc;
						
						set @LS = (select top 1 ProjectName from TblM_Project where IsActive = 1 and IDProject = @ScopeIdentity);

						set @ScopeIdentity = (select IDProject from TblT_ProjectHeader where IDProjectHeader = @IDProjectHeader);

						update TblT_ProjectHeader
						set IDProjectStatus = 7--, IsActive = 0
						where IDProjectHeader = @IDProjectHeader;

					end;

				end;

				UPDATE TblT_ProjectChangesApprovalRole
				SET IsApprove = 1
					,UpdatedBy = @Username
					,UpdatedDate = getdate()
				WHERE Sequence = @NextSequence
					AND IDProjectChangeManagement = @IDProjectChangeManagement
					AND IsActive = 1;
					
				insert into TblH_ProjectChangeApproval(
					IDProjectChangeManagement,
					Type,
					Remarks,
					CreatedDate,
					CreatedBy
				)values(
					@IDProjectChangeManagement,
					@TypeTransaction,
					'-',
					getdate(),
					@Username
				);

			END;
			
			SELECT 'S|Sukses|'+@LS;

		end
		else if(@TypeTransaction = 'Revise') begin
			
			update TblT_ProjectHeader
			set IDProjectStatus = 2
			where IDProjectHeader = @IDProjectHeader;

			update TblT_ProjectChangesApprovalRole
			set IsApprove = 0
			where IDProjectChangeManagement = @IDProjectChangeManagement and IsActive = 1;

			insert into TblT_ProjectChangesReviseRole(
				IDProjectChangeManagement,
				IDRoleGroup,
				Username,
				Deskripsi,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			values(
				@IDProjectChangeManagement,
				@IDRoleGroup,
				@Username,
				@Deskripsi,
				getdate(),
				@Username,
				1
			);
			
			insert into TblH_ProjectChangeApproval(
				IDProjectChangeManagement,
				Type,
				Remarks,
				CreatedDate,
				CreatedBy
			)values(
				@IDProjectChangeManagement,
				@TypeTransaction,
				@Deskripsi,
				getdate(),
				@Username
			);

			SELECT 'S|Sukses|'+@LS;
		end
		else begin
			select 'F|Tipe transaksi tidak terdaftar|'+@LS;
		end;

		COMMIT;
	END TRY

	BEGIN CATCH
		ROLLBACK;

		DECLARE @ErrMsg VARCHAR(max)
			,@ErrNum INT;

		SELECT @ErrMsg = error_message()
			,@ErrNum = error_number();

		EXEC Usp_Insert_ErrorLog 'Usp_Approve_TransaksiChangeProjectHeader'
			,@ErrNum
			,@ErrMsg
			,@Username;

		SELECT 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	END CATCH;
END




GO
