USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ReportSeriesPerYear]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_ReportSeriesPerYear]
	@thn1 numeric(4),
	@thn2 numeric(4)
AS
BEGIN
	declare @cnt int = (@thn2 - @thn1)
	declare @temp table(tahun numeric(4)) 
	declare @rptseries table(Tahun numeric(4), TotalProject int, TotalAnggaran float, Pencapain float, CapaianKPI float) 
	declare @th numeric(4)

	declare @i int=0
	while(@i<=@cnt)
	begin
		insert into @temp values (@thn1 + @i)
		set @i = @i + 1
	end

	DECLARE thncur CURSOR FOR     
	SELECT tahun    
	FROM @temp
	     
	OPEN thncur;
	    
	FETCH NEXT FROM thncur INTO @th 

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
		 
		insert into @rptseries  
		/*select @th as Tahun, 
				count(*) as TotalProject, 
				case
					when sum(cast(obj.Anggaran as float)) = 0 or sum(cast(obj.Anggaran as float)) is null
					then 0
					else sum(cast(obj.Anggaran as float))/1000
				end as TotalAnggaran, 
				isnull(avg(obj.Pencapaian),0)  as Pencapain
		from  TblD_ListProject obj 
		where obj.IsActive = 1
			and obj.DateDownload = (select top 1 DateDownload from TblD_ListProject order by DateDownload desc)
			and (@th between obj.StartYear and obj.EndYear)
			and IDProjectStatus not in(1, 3, 8, 9, 13)*/

			select @th as Tahun,
			COUNT(*) as TotalProject,
			case
					when sum(cast(c.Anggaran as float)) = 0 or sum(cast(c.Anggaran as float)) is null
					then 0
					else sum(cast(c.Anggaran as float))/1000
				end as TotalAnggaran,
			AVG(c.Pencapaian) as Pencapaian,
			case when sum(d.bobot)=0 then 0 else round((sum(d.bobot*d.capaian))/sum(d.bobot),2) end as CapaianKPI
		from TblM_Project a inner join TblT_ProjectHeader b on a.IDProject=b.IDProject inner join TblD_ListProject c on c.IDProjectHeader=b.IDProjectHeader
		left join (select a.IDProject, 
				  case when @th<year(getdate()) then e.TW4
				  when e.TWNO = 1 then e.TW1
				  when e.TWNO = 2 then e.TW2
				  when e.TWNO = 3 then e.TW3
				  when e.TWNO = 4 then e.TW4
				  end as capaian,
				   case when h.poin=0 then 0 else round(a.Poin/h.Poin*g.BobotKpi,2) end as bobot
				  from TblM_Project a inner join TblT_ProjectHeader b on a.IDProject=b.IDProject 
				  inner join TblD_ListProject c on c.IDProjectHeader=b.IDProjectHeader
				  inner join TblT_ProjectKPIOrganization f on f.IDProjectHeader=b.IDProjectHeader
				  inner join TblM_KPIOrganization g on g.IDKPIOrganization=f.IDKPIOrganization
				  left join TblM_KPIValue e on e.IDProject=a.IDProject
				  left join (select sum(a.Poin) as Poin,KPICode from (select a.IDProject,b.IDProjectHeader,a.ProjectNo,a.ProjectName, 
				   case when a.Poin is null then 0 else a.Poin end as Poin, 
				   c.IDKPIOrganization, d.KPICode
				  from TblM_Project a inner join TblT_ProjectHeader b on a.IDProject=b.IDProject inner join TblT_ProjectKPIOrganization c on b.IDProjectHeader=c.IDProjectHeader
				  inner join TblM_KPIOrganization d on d.IDKPIOrganization=c.IDKPIOrganization
				  where a.IsActive=1 and c.IsActive=1) a group by KPICode) h on h.KPICode=g.KPICode
						where a.IsActive=1 and (c.StartYear=@th or c.EndYear=@th) and b.IDProjectStatus not in (1,3,5,6,8,13) and
						c.DateDownload=(select top 1 DateDownload from TblD_ListProject where convert(varchar(4), DateDownload, 112)=@th 
						and e.TWYear=@th
						order by DateDownload desc) and f.IsActive=1) d on d.IDProject=a.IDProject
		where a.IsActive=1 and (c.StartYear=@th or c.EndYear=@th) and b.IDProjectStatus not in (1,3,5,6,8,13) and 
		c.DateDownload=(select top 1 DateDownload from TblD_ListProject where convert(varchar(4), DateDownload, 112)=@th order by DateDownload desc)
			

		  FETCH NEXT FROM thncur INTO @th 
	END   

	CLOSE thncur;    
	DEALLOCATE thncur;    

	select * from @rptseries

END




GO
