USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectExecutionApprovalRole_20220905]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectExecutionApprovalRole_20220905](
	[IDProjectExecutionApprovalRole] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NULL,
	[IDRoleGroup] [int] NULL,
	[Sequence] [int] NULL,
	[Username] [varchar](30) NULL,
	[Email] [varchar](50) NULL,
	[PositionCode] [varchar](20) NULL,
	[ActiveDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Periode] [varchar](12) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsEnabled] [int] NULL,
	[IsApprove] [bit] NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
