USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_PDF_EvaluasiCapaianProyek_GroupByDirektorat]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_PDF_EvaluasiCapaianProyek_GroupByDirektorat] -- exec [Usp_Get_PDF_EvaluasiCapaianProyek_GroupByDirektorat] 5,'2019',0,0
@Month int = null,
@Year varchar(4) = null,
@IsTransformasi int = null,
@IDDirektorat int = null,
@Week int = null
	
AS
BEGIN
	
	declare @Date date = null;
	--declare @Week int = null;

	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	
	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);
	
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday' order by Date desc) end;

	select dbo.Ufn_GetMonthName_Indonesia(@Month) as Bulan,
		@Year as Year,
		case
			when @IsTransformasi = 1 then 'Transformasi'
			when @IsTransformasi = 0 then 'Non Transformasi'
			else ''
		end as IsTransformasi,
		(select top 1 DirektoratName from TblM_Direktorat where IDDirektorat = @IDDirektorat) as Direktorat;
	
	if(@IsTransformasi = 1)begin
		if((select top 1 WeekDayName from TblM_Date where Month = @Month and WeekOfMonth = @Week and Year = @Year order by Date asc) not in('Saturday', 'Sunday')) begin
			set @Date = (select top 1 cast(Date as date) from TblM_Date where Date > @Date and WeekDayName = 'Saturday' order by Date asc);
		end;
	end;

	if(@IsTransformasi is null and (@IDDirektorat is null or @IDDirektorat = 0)) begin
			
		select bb.Tipe,
			bb.IDStrategicObjective,
			bb.StrategicObjectiveCode,
			bb.IDProgram,
			bb.IDProjectHeader,
			bb.IDDirektorat,
			bb.IDDepartment,
			bb.DirektoratName,
			bb.DepartmentName,
			bb.StrategicObjectiveName,
			bb.ProgramName,
			bb.ProjectName,
			bb.Name,
			bb.PIC,
			bb.Waktu,
			cast(bb.Anggaran as int) as Anggaran,
			
			case
				when (bb.IDProjectStatus = 1
						or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9)
						or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then 'Belum Dimulai'
				else bb.Target
			end as Target,
		
			case
				when (bb.IDProjectStatus = 1
						or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9)
						or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then 'Belum Dimulai'
				else bb.Realisasi
			end as Realisasi,
		
			case
				when (
					bb.IDProjectStatus = 1
						or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9
					) or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then
					'<span class="fa fa-circle" style="color:#dcddde"></span> Belum Dimulai'
						
				when (bb.IDProjectStatus = 4 or bb.IDProjectStatus = 12) then
					'<span class="fa fa-circle" style="color:black"></span> Selesai ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
		
				when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 110 then
					'<span class="fa fa-circle" style="color:blue"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
						
				when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 100 then
					'<span class="fa fa-circle" style="color:green"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
						
				when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 85 then
					'<span class="fa fa-circle" style="color:yellow"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
						
				else '<span class="fa fa-circle" style="color:red"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
			end as RealisasiPencapaian,
			
			bb.Planning,
			cast(cast(isnull(bb.RealisasiAnggaran /nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%' as RealisasiAnggaran,
			cast(cast(isnull(bb.RealisasiKomit/nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%' as RealisasiKomit,
			
			case
				when (bb.IDProjectStatus = 1
						or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9)
						or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then ''
				else bb.Tren
			end as Tren,
		
			bb.IsTransformasi
			
		from (
		
			select 'Project' as Tipe,
				a.IDStrategicObjective,
				a.StrategicObjectiveCode,
				a.IDProgram,
				a.IDProjectHeader,
				
				case
					when IDDirektorat = 1 then a.IDDepartment
					else a.IDDirektorat
				end as IDDirektorat,
		
				a.IDDepartment,
					
				case
					when IDDirektorat = 1 then a.DepartmentName
					else a.DirektoratName
				end as DirektoratName,
					
				a.DepartmentName,
				a.StrategicObjectiveName,
				a.ProgramName,
				a.ProjectName,
				a.ProjectName as Name,
		
				a.DepartmentCode + ' - ' + a.DirektoratCode as PIC,
				isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,
		
				isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
				
				(select top 1 Milestones from [dbo].[Ufn_CheckProjectIsFinish_Report](a.IDProjectHeader) where Month <= @Month and Year <= @year order by Year desc, Month desc, TaskID desc) as Target,
				(select top 1 Notes from [dbo].[Ufn_Get_Notes](a.IDProjectHeader) a where a.Month <= @Month and Year = @Year order by Year, Month desc, TaskID desc) as Realisasi,
		
				a.Pencapaian as RealisasiPencapaian,
				null as Planning,
				isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
				isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit,
				
				case
					when a.TrenBefore = 'Merah' then
						case
							when a.Tren = 'Merah' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Kuning' then
						case
							when a.Tren = 'Merah' then 'Turun'
							when a.Tren = 'Kuning' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Hijau' then
						case
							when a.Tren = 'Biru' then 'Naik'
							when a.Tren = 'Hijau' then 'Sama'
							else 'Turun'
						end
					when a.TrenBefore = 'Biru' then
						case
							when a.Tren = 'Biru' then 'Sama'
							else 'Turun'
						end
				end as Tren,
		
				a.IsTransformasi,
				a.IDProjectStatus,
				a.StartYear,
				a.StartMonth,
				a.StartDay
			
			from TblD_ListProject a
				
			where a.IsActive = 1
				and a.DateDownload = @Date
				and (@Year between a.StartYear and a.EndYear)
		
			union all
				
			select distinct 'Dir' as Tipe,
				null as IDStrategicObjective,
				null as StrategicObjectiveCode,
				null as IDProgram,
				null as IDProjectHeader,
		
				case
					when IDDirektorat = 1 then IDDepartment
					else IDDirektorat
				end as IDDirektorat,
				
				null as IDDepartment,
					
				case
					when IDDirektorat = 1 then DepartmentName
					else DirektoratName
				end as DirektoratName,
					
				null as DepartmentName,
				null as StrategicObjectiveName,
				null as ProgramName,
				null as ProjectName,
				
				case
					when IDDirektorat = 1 then DepartmentName
					else DirektoratName
				end as Name,
				
				null as PIC,
				null as Waktu,
				null as Anggaran,
				null as Target,
				null as Realisasi,
				null as RealisasiPencapaian,
				null as Planning,
				null as RealisasiAnggaran,
				null as RealisasiKomit,
				null as Tren,
				null as IsTransformasi,
				null as IDProjectStatus,
				null as StartYear,
				null as StartMonth,
				null as StartDay
			
			from TblD_ListProject a
		
			where a.IsActive = 1
				and a.DateDownload = @Date
				and (@Year between a.StartYear and a.EndYear)
				
			union all
			
			select 'Total' as Tipe,
				null as IDStrategicObjective,
				null as StrategicObjectiveCode,
				null as IDProgram,
				null as IDProjectHeader,
				null as IDDirektorat,
				null as IDDepartment,
				DirektoratName,
				null as DepartmentName,
				null as StrategicObjectiveName,
				null as ProgramName,
				null as ProjectName,
				Name,
				null as PIC,
				null as Waktu,
				isnull(sum(Anggaran), 0.00) as Anggaran,
				null as Target,
				null as Realisasi,
				round(100 * avg(RealPencapaian) / nullif(avg(PlanPencapaian), 0), 0.00) as RealisasiPencapaian,
				null as Planning,
				isnull(sum(obj.RealisasiAnggaran), 0.00) as RealisasiAnggaran,
				isnull(sum(obj.RealisasiKomit),0.00) as RealisasiKomit,
				null as Tren,
				null as IsTransformasi,
				null as IDProjectStatus,
				null as StartYear,
				null as StartMonth,
				null as StartDay
		
			from (
				select 'Project' as Tipe,
					case
						when IDDirektorat = 1 then a.DepartmentName
						else a.DirektoratName
					end as DirektoratName,
					isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
					case when (
							a.IDProjectStatus = 1
							or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
					else a.PlanPencapaian
					end as PlanPencapaian,
					case 
						when (
								a.IDProjectStatus = 1
								or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
						else a.RealisasiPencapaian
					end as RealPencapaian,
					case
						when IDDirektorat = 1 then DepartmentCode
						else DirektoratCode
					end as Name,
					isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
					isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit
					
				from TblD_ListProject a
		
				where a.IsActive = 1
					and a.DateDownload = @Date
					and (@Year between a.StartYear and a.EndYear)
		
			) obj
		
			group by DirektoratName, Name
				
			union all
			
			select 
				case
					when obj.IsTransformasi = 1 then 'Trans'
					else 'NonTrans'
				end as Tipe,
				null as IDStrategicObjective,
				null as StrategicObjectiveCode,
				null as IDProgram,
				null as IDProjectHeader,
				null as IDDirektorat,
				null as IDDepartment,
				DirektoratName,
				null as DepartmentName,
				null as StrategicObjectiveName,
				null as ProgramName,
				null as ProjectName,
				Name,
				null as PIC,
				null as Waktu,
				isnull(sum(Anggaran), 0.00) as Anggaran,
				null as Target,
				null as Realisasi,
				round(100 * avg(RealPencapaian) / nullif(avg(PlanPencapaian), 0), 0.00) as RealisasiPencapaian,
				null as Planning,
				isnull(sum(obj.RealisasiAnggaran), 0.00) as RealisasiAnggaran,
				isnull(sum(obj.RealisasiKomit),0.00) as RealisasiKomit,
				null as Tren,
				null as IsTransformasi,
				null as IDProjectStatus,
				null as StartYear,
				null as StartMonth,
				null as StartDay
		
			from (
				select 'Project' as Tipe,
					case
						when IDDirektorat = 1 then a.DepartmentName
						else a.DirektoratName
					end as DirektoratName,
					isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
					case when (
							a.IDProjectStatus = 1
							or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
					else a.PlanPencapaian
					end as PlanPencapaian,
					case 
						when (
								a.IDProjectStatus = 1
								or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
						else a.RealisasiPencapaian
					end as RealPencapaian,
					case
						when IDDirektorat = 1 then DepartmentCode
						else DirektoratCode
					end as Name,
					isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
					isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit,
					a.IsTransformasi
					
				from TblD_ListProject a
		
				where a.IsActive = 1
					and a.DateDownload = @Date
					and (@Year between a.StartYear and a.EndYear)
		
			) obj
		
			group by DirektoratName, Name, IsTransformasi
				
		)bb 
		order by DirektoratName asc,
			IDDirektorat desc,
			(case when IDProjectHeader is null then 0 else 1 end);

	end
	else if(@IsTransformasi is not null and (@IDDirektorat is null or @IDDirektorat = 0))begin
				
		select bb.Tipe,
			bb.IDStrategicObjective,
			bb.StrategicObjectiveCode,
			bb.IDProgram,
			bb.IDProjectHeader,
			bb.IDDirektorat,
			bb.IDDepartment,
			bb.DirektoratName,
			bb.DepartmentName,
			bb.StrategicObjectiveName,
			bb.ProgramName,
			bb.ProjectName,
			bb.Name,
			bb.PIC,
			bb.Waktu,
			cast(bb.Anggaran as int) as Anggaran,
			
			case
				when (bb.IDProjectStatus = 1
						or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9)
						or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then 'Belum Dimulai'
				else bb.Target
			end as Target,
		
			case
				when (bb.IDProjectStatus = 1
						or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9)
						or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then 'Belum Dimulai'
				else bb.Realisasi
			end as Realisasi,
		
			case
				when (
					bb.IDProjectStatus = 1
						or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9
					) or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then
					'<span class="fa fa-circle" style="color:#dcddde"></span> Belum Dimulai'
						
				when (bb.IDProjectStatus = 4 or bb.IDProjectStatus = 12) then
					'<span class="fa fa-circle" style="color:black"></span> Selesai ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
		
				when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 110 then
					'<span class="fa fa-circle" style="color:blue"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
						
				when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 100 then
					'<span class="fa fa-circle" style="color:green"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
						
				when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 85 then
					'<span class="fa fa-circle" style="color:yellow"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
						
				else '<span class="fa fa-circle" style="color:red"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
			end as RealisasiPencapaian,
			
			bb.Planning,
			cast(cast(isnull(bb.RealisasiAnggaran /nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%' as RealisasiAnggaran,
			cast(cast(isnull(bb.RealisasiKomit/nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%' as RealisasiKomit,
			
			case
				when (bb.IDProjectStatus = 1
						or bb.IDProjectStatus = 7
						or bb.IDProjectStatus = 8
						or bb.IDProjectStatus = 9)
						or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then ''
				else bb.Tren
			end as Tren,
		
			bb.IsTransformasi
			
		from (
		
			select 'Project' as Tipe,
				a.IDStrategicObjective,
				a.StrategicObjectiveCode,
				a.IDProgram,
				a.IDProjectHeader,
				
				case
					when IDDirektorat = 1 then a.IDDepartment
					else a.IDDirektorat
				end as IDDirektorat,
		
				a.IDDepartment,
					
				case
					when IDDirektorat = 1 then a.DepartmentName
					else a.DirektoratName
				end as DirektoratName,
					
				a.DepartmentName,
				a.StrategicObjectiveName,
				a.ProgramName,
				a.ProjectName,
				a.ProjectName as Name,
		
				a.DepartmentCode + ' - ' + a.DirektoratCode as PIC,
				isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,
		
				isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
				
				(select top 1 Milestones from [dbo].[Ufn_CheckProjectIsFinish_Report](a.IDProjectHeader) where Month <= @Month and Year <= @year order by Year desc, Month desc, TaskID desc) as Target,
				(select top 1 Notes from [dbo].[Ufn_Get_Notes](a.IDProjectHeader) a where a.Month <= @Month and Year = @Year order by Year, Month desc, TaskID desc) as Realisasi,
		
				a.Pencapaian as RealisasiPencapaian,
				null as Planning,
				isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
				isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit,
				
				case
					when a.TrenBefore = 'Merah' then
						case
							when a.Tren = 'Merah' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Kuning' then
						case
							when a.Tren = 'Merah' then 'Turun'
							when a.Tren = 'Kuning' then 'Sama'
							else 'Naik'
						end
					when a.TrenBefore = 'Hijau' then
						case
							when a.Tren = 'Biru' then 'Naik'
							when a.Tren = 'Hijau' then 'Sama'
							else 'Turun'
						end
					when a.TrenBefore = 'Biru' then
						case
							when a.Tren = 'Biru' then 'Sama'
							else 'Turun'
						end
				end as Tren,
		
				a.IsTransformasi,
				a.IDProjectStatus,
				a.StartYear,
				a.StartMonth,
				a.StartDay
			
			from TblD_ListProject a
				
			where a.IsActive = 1
				and a.IsTransformasi = @IsTransformasi
				and a.DateDownload = @Date
				and (@Year between a.StartYear and a.EndYear)
		
			union all
				
			select distinct 'Dir' as Tipe,
				null as IDStrategicObjective,
				null as StrategicObjectiveCode,
				null as IDProgram,
				null as IDProjectHeader,
		
				case
					when IDDirektorat = 1 then IDDepartment
					else IDDirektorat
				end as IDDirektorat,
				
				null as IDDepartment,
					
				case
					when IDDirektorat = 1 then DepartmentName
					else DirektoratName
				end as DirektoratName,
					
				null as DepartmentName,
				null as StrategicObjectiveName,
				null as ProgramName,
				null as ProjectName,
				
				case
					when IDDirektorat = 1 then DepartmentName
					else DirektoratName
				end as Name,
				
				null as PIC,
				null as Waktu,
				null as Anggaran,
				null as Target,
				null as Realisasi,
				null as RealisasiPencapaian,
				null as Planning,
				null as RealisasiAnggaran,
				null as RealisasiKomit,
				null as Tren,
				null as IsTransformasi,
				null as IDProjectStatus,
				null as StartYear,
				null as StartMonth,
				null as StartDay
			
			from TblD_ListProject a
		
			where a.IsActive = 1
				and a.IsTransformasi = @IsTransformasi
				and a.DateDownload = @Date
				and (@Year between a.StartYear and a.EndYear)
				
			union all
			
			select 'Total' as Tipe,
				null as IDStrategicObjective,
				null as StrategicObjectiveCode,
				null as IDProgram,
				null as IDProjectHeader,
				null as IDDirektorat,
				null as IDDepartment,
				DirektoratName,
				null as DepartmentName,
				null as StrategicObjectiveName,
				null as ProgramName,
				null as ProjectName,
				Name,
				null as PIC,
				null as Waktu,
				isnull(sum(Anggaran), 0.00) as Anggaran,
				null as Target,
				null as Realisasi,
				round(100 * avg(RealPencapaian) / nullif(avg(PlanPencapaian), 0), 0.00) as RealisasiPencapaian,
				null as Planning,
				isnull(sum(obj.RealisasiAnggaran), 0.00) as RealisasiAnggaran,
				isnull(sum(obj.RealisasiKomit),0.00) as RealisasiKomit,
				null as Tren,
				null as IsTransformasi,
				null as IDProjectStatus,
				null as StartYear,
				null as StartMonth,
				null as StartDay
		
			from (
				select 'Project' as Tipe,
					case
						when IDDirektorat = 1 then a.DepartmentName
						else a.DirektoratName
					end as DirektoratName,
					isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
					case when (
							a.IDProjectStatus = 1
							or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
					else a.PlanPencapaian
					end as PlanPencapaian,
					case 
						when (
								a.IDProjectStatus = 1
								or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
						else a.RealisasiPencapaian
					end as RealPencapaian,
					case
						when IDDirektorat = 1 then DepartmentCode
						else DirektoratCode
					end as Name,
					isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
					isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit
					
				from TblD_ListProject a
		
				where a.IsActive = 1
					and a.IsTransformasi = @IsTransformasi
					and a.DateDownload = @Date
					and (@Year between a.StartYear and a.EndYear)
		
			) obj
		
			group by DirektoratName, Name
				
			union all
			
			select 
				case
					when obj.IsTransformasi = 1 then 'Trans'
					else 'NonTrans'
				end as Tipe,
				null as IDStrategicObjective,
				null as StrategicObjectiveCode,
				null as IDProgram,
				null as IDProjectHeader,
				null as IDDirektorat,
				null as IDDepartment,
				DirektoratName,
				null as DepartmentName,
				null as StrategicObjectiveName,
				null as ProgramName,
				null as ProjectName,
				Name,
				null as PIC,
				null as Waktu,
				isnull(sum(Anggaran), 0.00) as Anggaran,
				null as Target,
				null as Realisasi,
				round(100 * avg(RealPencapaian) / nullif(avg(PlanPencapaian), 0), 0.00) as RealisasiPencapaian,
				null as Planning,
				isnull(sum(obj.RealisasiAnggaran), 0.00) as RealisasiAnggaran,
				isnull(sum(obj.RealisasiKomit),0.00) as RealisasiKomit,
				null as Tren,
				null as IsTransformasi,
				null as IDProjectStatus,
				null as StartYear,
				null as StartMonth,
				null as StartDay
		
			from (
				select 'Project' as Tipe,
					case
						when IDDirektorat = 1 then a.DepartmentName
						else a.DirektoratName
					end as DirektoratName,
					isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
					case when (
							a.IDProjectStatus = 1
							or a.IDProjectStatus = 7
							or a.IDProjectStatus = 8
							or a.IDProjectStatus = 9
						)
						or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
					else a.PlanPencapaian
					end as PlanPencapaian,
					case 
						when (
								a.IDProjectStatus = 1
								or a.IDProjectStatus = 7
								or a.IDProjectStatus = 8
								or a.IDProjectStatus = 9
							)
							or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
						else a.RealisasiPencapaian
					end as RealPencapaian,
					case
						when IDDirektorat = 1 then DepartmentCode
						else DirektoratCode
					end as Name,
					isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
					isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit,
					a.IsTransformasi
					
				from TblD_ListProject a
		
				where a.IsActive = 1
					and a.IsTransformasi = @IsTransformasi
					and a.DateDownload = @Date
					and (@Year between a.StartYear and a.EndYear)
		
			) obj
		
			group by DirektoratName, Name, IsTransformasi
				
		)bb 
		order by DirektoratName asc,
			IDDirektorat desc,
			(case when IDProjectHeader is null then 0 else 1 end);

	end
	else if(@IsTransformasi is null and @IDDirektorat is not null)begin
		
select bb.Tipe,
	bb.IDStrategicObjective,
	bb.StrategicObjectiveCode,
	bb.IDProgram,
	bb.IDProjectHeader,
	bb.IDDirektorat,
	bb.IDDepartment,
	bb.DirektoratName,
	bb.DepartmentName,
	bb.StrategicObjectiveName,
	bb.ProgramName,
	bb.ProjectName,
	bb.Name,
	bb.PIC,
	bb.Waktu,
	cast(bb.Anggaran as int) as Anggaran,
	
	case
		when (bb.IDProjectStatus = 1
				or bb.IDProjectStatus = 7
				or bb.IDProjectStatus = 8
				or bb.IDProjectStatus = 9)
				or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then 'Belum Dimulai'
		else bb.Target
	end as Target,

	case
		when (bb.IDProjectStatus = 1
				or bb.IDProjectStatus = 7
				or bb.IDProjectStatus = 8
				or bb.IDProjectStatus = 9)
				or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then 'Belum Dimulai'
		else bb.Realisasi
	end as Realisasi,

	case
		when (
			bb.IDProjectStatus = 1
				or bb.IDProjectStatus = 7
				or bb.IDProjectStatus = 8
				or bb.IDProjectStatus = 9
			) or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then
			'<span class="fa fa-circle" style="color:#dcddde"></span> Belum Dimulai'
				
		when (bb.IDProjectStatus = 4 or bb.IDProjectStatus = 12) then
			'<span class="fa fa-circle" style="color:black"></span> Selesai ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'

		when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 110 then
			'<span class="fa fa-circle" style="color:blue"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
				
		when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 100 then
			'<span class="fa fa-circle" style="color:green"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
				
		when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 85 then
			'<span class="fa fa-circle" style="color:yellow"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
				
		else '<span class="fa fa-circle" style="color:red"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
	end as RealisasiPencapaian,
	
	bb.Planning,
	cast(cast(isnull(bb.RealisasiAnggaran /nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%' as RealisasiAnggaran,
	cast(cast(isnull(bb.RealisasiKomit/nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%' as RealisasiKomit,
	
	case
		when (bb.IDProjectStatus = 1
				or bb.IDProjectStatus = 7
				or bb.IDProjectStatus = 8
				or bb.IDProjectStatus = 9)
				or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then ''
		else bb.Tren
	end as Tren,

	bb.IsTransformasi
	
from (

	select 'Project' as Tipe,
		a.IDStrategicObjective,
		a.StrategicObjectiveCode,
		a.IDProgram,
		a.IDProjectHeader,
		
		case
			when IDDirektorat = 1 then a.IDDepartment
			else a.IDDirektorat
		end as IDDirektorat,

		a.IDDepartment,
			
		case
			when IDDirektorat = 1 then a.DepartmentName
			else a.DirektoratName
		end as DirektoratName,
			
		a.DepartmentName,
		a.StrategicObjectiveName,
		a.ProgramName,
		a.ProjectName,
		a.ProjectName as Name,

		a.DepartmentCode + ' - ' + a.DirektoratCode as PIC,
		isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,

		isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
		
		(select top 1 Milestones from [dbo].[Ufn_CheckProjectIsFinish_Report](a.IDProjectHeader) where Month <= @Month and Year <= @year order by Year desc, Month desc, TaskID desc) as Target,
		(select top 1 Notes from [dbo].[Ufn_Get_Notes](a.IDProjectHeader) a where a.Month <= @Month and Year = @Year order by Year, Month desc, TaskID desc) as Realisasi,

		a.Pencapaian as RealisasiPencapaian,
		null as Planning,
		isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
		isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit,
		--(select [dbo].[Ufn_GetTrenPencapaian](a.IDProjectHeader, a.IsTransformasi, @Month, @Year)) as Tren,
		--a.TrenPencapaian as Tren,

		case
			when a.TrenBefore = 'Merah' then
				case
					when a.Tren = 'Merah' then 'Sama'
					else 'Naik'
				end
			when a.TrenBefore = 'Kuning' then
				case
					when a.Tren = 'Merah' then 'Turun'
					when a.Tren = 'Kuning' then 'Sama'
					else 'Naik'
				end
			when a.TrenBefore = 'Hijau' then
				case
					when a.Tren = 'Biru' then 'Naik'
					when a.Tren = 'Hijau' then 'Sama'
					else 'Turun'
				end
			when a.TrenBefore = 'Biru' then
				case
					when a.Tren = 'Biru' then 'Sama'
					else 'Turun'
				end
		end as Tren,

		a.IsTransformasi,
		a.IDProjectStatus,
		a.StartYear,
		a.StartMonth,
		a.StartDay
	
	from TblD_ListProject a
		
	where a.IsActive = 1
		and a.IsTransformasi = @IsTransformasi
		--and a.IDDirektorat = @IDDirektorat
		and a.DateDownload = @Date
		and (@Year between a.StartYear and a.EndYear)

	union all
		
	select distinct 'Dir' as Tipe,
		null as IDStrategicObjective,
		null as StrategicObjectiveCode,
		null as IDProgram,
		null as IDProjectHeader,

		case
			when IDDirektorat = 1 then IDDepartment
			else IDDirektorat
		end as IDDirektorat,
		
		null as IDDepartment,
			
		case
			when IDDirektorat = 1 then DepartmentName
			else DirektoratName
		end as DirektoratName,
			
		null as DepartmentName,
		null as StrategicObjectiveName,
		null as ProgramName,
		null as ProjectName,
		
		case
			when IDDirektorat = 1 then DepartmentName
			else DirektoratName
		end as Name,
		
		null as PIC,
		null as Waktu,
		null as Anggaran,
		null as Target,
		null as Realisasi,
		null as RealisasiPencapaian,
		null as Planning,
		null as RealisasiAnggaran,
		null as RealisasiKomit,
		null as Tren,
		null as IsTransformasi,
		null as IDProjectStatus,
		null as StartYear,
		null as StartMonth,
		null as StartDay
	
	from TblD_ListProject a

	where a.IsActive = 1
		and a.IsTransformasi = @IsTransformasi
		--and a.IDDirektorat = @IDDirektorat
		and a.DateDownload = @Date
		and (@Year between a.StartYear and a.EndYear)
		
	union all
	
	select 'Total' as Tipe,
		null as IDStrategicObjective,
		null as StrategicObjectiveCode,
		null as IDProgram,
		null as IDProjectHeader,
		null as IDDirektorat,
		null as IDDepartment,
		DirektoratName,
		null as DepartmentName,
		null as StrategicObjectiveName,
		null as ProgramName,
		null as ProjectName,
		Name,
		null as PIC,
		null as Waktu,
		isnull(sum(Anggaran), 0.00) as Anggaran,
		null as Target,
		null as Realisasi,
		round(100 * avg(RealPencapaian) / nullif(avg(PlanPencapaian), 0), 0.00) as RealisasiPencapaian,
		null as Planning,
		isnull(sum(obj.RealisasiAnggaran), 0.00) as RealisasiAnggaran,
		isnull(sum(obj.RealisasiKomit),0.00) as RealisasiKomit,
		null as Tren,
		null as IsTransformasi,
		null as IDProjectStatus,
		null as StartYear,
		null as StartMonth,
		null as StartDay

	from (
		select 'Project' as Tipe,
			case
				when IDDirektorat = 1 then a.DepartmentName
				else a.DirektoratName
			end as DirektoratName,
			isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
			case when (
					a.IDProjectStatus = 1
					or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
			else a.PlanPencapaian
			end as PlanPencapaian,
			case 
				when (
						a.IDProjectStatus = 1
						or a.IDProjectStatus = 7
						or a.IDProjectStatus = 8
						or a.IDProjectStatus = 9
					)
					or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
				else a.RealisasiPencapaian
			end as RealPencapaian,
			case
				when IDDirektorat = 1 then DepartmentCode
				else DirektoratCode
			end as Name,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit
			
		from TblD_ListProject a

		where a.IsActive = 1
			and a.IsTransformasi = @IsTransformasi
			--and a.IDDirektorat = @IDDirektorat
			and a.DateDownload = @Date
			and (@Year between a.StartYear and a.EndYear)

	) obj

	group by DirektoratName, Name
		
	union all
	
	select 
		case
			when obj.IsTransformasi = 1 then 'Trans'
			else 'NonTrans'
		end as Tipe,
		null as IDStrategicObjective,
		null as StrategicObjectiveCode,
		null as IDProgram,
		null as IDProjectHeader,
		null as IDDirektorat,
		null as IDDepartment,
		DirektoratName,
		null as DepartmentName,
		null as StrategicObjectiveName,
		null as ProgramName,
		null as ProjectName,
		Name,
		null as PIC,
		null as Waktu,
		isnull(sum(Anggaran), 0.00) as Anggaran,
		null as Target,
		null as Realisasi,
		round(100 * avg(RealPencapaian) / nullif(avg(PlanPencapaian), 0), 0.00) as RealisasiPencapaian,
		null as Planning,
		isnull(sum(obj.RealisasiAnggaran), 0.00) as RealisasiAnggaran,
		isnull(sum(obj.RealisasiKomit),0.00) as RealisasiKomit,
		null as Tren,
		null as IsTransformasi,
		null as IDProjectStatus,
		null as StartYear,
		null as StartMonth,
		null as StartDay

	from (
		select 'Project' as Tipe,
			case
				when IDDirektorat = 1 then a.DepartmentName
				else a.DirektoratName
			end as DirektoratName,
			isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
			case when (
					a.IDProjectStatus = 1
					or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
			else a.PlanPencapaian
			end as PlanPencapaian,
			case 
				when (
						a.IDProjectStatus = 1
						or a.IDProjectStatus = 7
						or a.IDProjectStatus = 8
						or a.IDProjectStatus = 9
					)
					or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
				else a.RealisasiPencapaian
			end as RealPencapaian,
			case
				when IDDirektorat = 1 then DepartmentCode
				else DirektoratCode
			end as Name,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit,
			a.IsTransformasi
			
		from TblD_ListProject a

		where a.IsActive = 1
			and a.IsTransformasi = @IsTransformasi
			--and a.IDDirektorat = @IDDirektorat
			and a.DateDownload = @Date
			and (@Year between a.StartYear and a.EndYear)

	) obj

	group by DirektoratName, Name, IsTransformasi
		
)bb 
order by DirektoratName asc,
	IDDirektorat desc,
	(case when IDProjectHeader is null then 0 else 1 end);

	end
	else if(@IsTransformasi is not null and @IDDirektorat is not null)begin
		
select bb.Tipe,
	bb.IDStrategicObjective,
	bb.StrategicObjectiveCode,
	bb.IDProgram,
	bb.IDProjectHeader,
	bb.IDDirektorat,
	bb.IDDepartment,
	bb.DirektoratName,
	bb.DepartmentName,
	bb.StrategicObjectiveName,
	bb.ProgramName,
	bb.ProjectName,
	bb.Name,
	bb.PIC,
	bb.Waktu,
	cast(bb.Anggaran as int) as Anggaran,
	
	case
		when (bb.IDProjectStatus = 1
				or bb.IDProjectStatus = 7
				or bb.IDProjectStatus = 8
				or bb.IDProjectStatus = 9)
				or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then 'Belum Dimulai'
		else bb.Target
	end as Target,

	case
		when (bb.IDProjectStatus = 1
				or bb.IDProjectStatus = 7
				or bb.IDProjectStatus = 8
				or bb.IDProjectStatus = 9)
				or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then 'Belum Dimulai'
		else bb.Realisasi
	end as Realisasi,

	case
		when (
			bb.IDProjectStatus = 1
				or bb.IDProjectStatus = 7
				or bb.IDProjectStatus = 8
				or bb.IDProjectStatus = 9
			) or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then
			'<span class="fa fa-circle" style="color:#dcddde"></span> Belum Dimulai'
				
		when (bb.IDProjectStatus = 4 or bb.IDProjectStatus = 12) then
			'<span class="fa fa-circle" style="color:black"></span> Selesai ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'

		when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 110 then
			'<span class="fa fa-circle" style="color:blue"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
				
		when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 100 then
			'<span class="fa fa-circle" style="color:green"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
				
		when cast(bb.RealisasiPencapaian as decimal(18,2)) > = 85 then
			'<span class="fa fa-circle" style="color:yellow"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
				
		else '<span class="fa fa-circle" style="color:red"></span>   ' + cast(cast(bb.RealisasiPencapaian as decimal(18,0)) as varchar(50)) + '%'
	end as RealisasiPencapaian,
	
	bb.Planning,
	cast(cast(isnull(bb.RealisasiAnggaran /nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%' as RealisasiAnggaran,
	cast(cast(isnull(bb.RealisasiKomit/nullif(bb.Anggaran, 0)*100, 0.00) as decimal(18,2)) as varchar(50)) + '%' as RealisasiKomit,
	
	case
		when (bb.IDProjectStatus = 1
				or bb.IDProjectStatus = 7
				or bb.IDProjectStatus = 8
				or bb.IDProjectStatus = 9)
				or @Date < cast(bb.StartYear + '-' + bb.StartMonth + '-' + bb.StartDay as datetime) then ''
		else bb.Tren
	end as Tren,

	bb.IsTransformasi
	
from (

	select 'Project' as Tipe,
		a.IDStrategicObjective,
		a.StrategicObjectiveCode,
		a.IDProgram,
		a.IDProjectHeader,
		
		case
			when IDDirektorat = 1 then a.IDDepartment
			else a.IDDirektorat
		end as IDDirektorat,

		a.IDDepartment,
			
		case
			when IDDirektorat = 1 then a.DepartmentName
			else a.DirektoratName
		end as DirektoratName,
			
		a.DepartmentName,
		a.StrategicObjectiveName,
		a.ProgramName,
		a.ProjectName,
		a.ProjectName as Name,

		a.DepartmentCode + ' - ' + a.DirektoratCode as PIC,
		isnull([dbo].[Ufn_GetTriwulan](a.StartMonth) + ' ' + a.StartYear + ' - ' + [dbo].[Ufn_GetTriwulan](a.EndMonth) + ' ' + a.EndYear, '-') as Waktu,

		isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
		
		(select top 1 Milestones from [dbo].[Ufn_CheckProjectIsFinish_Report](a.IDProjectHeader) where Month <= @Month and Year <= @year order by Year desc, Month desc, TaskID desc) as Target,
		(select top 1 Notes from [dbo].[Ufn_Get_Notes](a.IDProjectHeader) a where a.Month <= @Month and Year = @Year order by Year, Month desc, TaskID desc) as Realisasi,

		a.Pencapaian as RealisasiPencapaian,
		null as Planning,
		isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
		isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit,
		--(select [dbo].[Ufn_GetTrenPencapaian](a.IDProjectHeader, a.IsTransformasi, @Month, @Year)) as Tren,
		--a.TrenPencapaian as Tren,

		case
			when a.TrenBefore = 'Merah' then
				case
					when a.Tren = 'Merah' then 'Sama'
					else 'Naik'
				end
			when a.TrenBefore = 'Kuning' then
				case
					when a.Tren = 'Merah' then 'Turun'
					when a.Tren = 'Kuning' then 'Sama'
					else 'Naik'
				end
			when a.TrenBefore = 'Hijau' then
				case
					when a.Tren = 'Biru' then 'Naik'
					when a.Tren = 'Hijau' then 'Sama'
					else 'Turun'
				end
			when a.TrenBefore = 'Biru' then
				case
					when a.Tren = 'Biru' then 'Sama'
					else 'Turun'
				end
		end as Tren,

		a.IsTransformasi,
		a.IDProjectStatus,
		a.StartYear,
		a.StartMonth,
		a.StartDay
	
	from TblD_ListProject a
		
	where a.IsActive = 1
		and a.IsTransformasi = @IsTransformasi
		and a.IDDirektorat = @IDDirektorat
		and a.DateDownload = @Date
		and (@Year between a.StartYear and a.EndYear)

	union all
		
	select distinct 'Dir' as Tipe,
		null as IDStrategicObjective,
		null as StrategicObjectiveCode,
		null as IDProgram,
		null as IDProjectHeader,

		case
			when IDDirektorat = 1 then IDDepartment
			else IDDirektorat
		end as IDDirektorat,
		
		null as IDDepartment,
			
		case
			when IDDirektorat = 1 then DepartmentName
			else DirektoratName
		end as DirektoratName,
			
		null as DepartmentName,
		null as StrategicObjectiveName,
		null as ProgramName,
		null as ProjectName,
		
		case
			when IDDirektorat = 1 then DepartmentName
			else DirektoratName
		end as Name,
		
		null as PIC,
		null as Waktu,
		null as Anggaran,
		null as Target,
		null as Realisasi,
		null as RealisasiPencapaian,
		null as Planning,
		null as RealisasiAnggaran,
		null as RealisasiKomit,
		null as Tren,
		null as IsTransformasi,
		null as IDProjectStatus,
		null as StartYear,
		null as StartMonth,
		null as StartDay
	
	from TblD_ListProject a

	where a.IsActive = 1
		and a.IsTransformasi = @IsTransformasi
		and a.IDDirektorat = @IDDirektorat
		and a.DateDownload = @Date
		and (@Year between a.StartYear and a.EndYear)
		
	union all
	
	select 'Total' as Tipe,
		null as IDStrategicObjective,
		null as StrategicObjectiveCode,
		null as IDProgram,
		null as IDProjectHeader,
		null as IDDirektorat,
		null as IDDepartment,
		DirektoratName,
		null as DepartmentName,
		null as StrategicObjectiveName,
		null as ProgramName,
		null as ProjectName,
		Name,
		null as PIC,
		null as Waktu,
		isnull(sum(Anggaran), 0.00) as Anggaran,
		null as Target,
		null as Realisasi,
		round(100 * avg(RealPencapaian) / nullif(avg(PlanPencapaian), 0), 0.00) as RealisasiPencapaian,
		null as Planning,
		isnull(sum(obj.RealisasiAnggaran), 0.00) as RealisasiAnggaran,
		isnull(sum(obj.RealisasiKomit),0.00) as RealisasiKomit,
		null as Tren,
		null as IsTransformasi,
		null as IDProjectStatus,
		null as StartYear,
		null as StartMonth,
		null as StartDay

	from (
		select 'Project' as Tipe,
			case
				when IDDirektorat = 1 then a.DepartmentName
				else a.DirektoratName
			end as DirektoratName,
			isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
			case when (
					a.IDProjectStatus = 1
					or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
			else a.PlanPencapaian
			end as PlanPencapaian,
			case 
				when (
						a.IDProjectStatus = 1
						or a.IDProjectStatus = 7
						or a.IDProjectStatus = 8
						or a.IDProjectStatus = 9
					)
					or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
				else a.RealisasiPencapaian
			end as RealPencapaian,
			case
				when IDDirektorat = 1 then DepartmentCode
				else DirektoratCode
			end as Name,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit
			
		from TblD_ListProject a

		where a.IsActive = 1
			and a.IsTransformasi = @IsTransformasi
			and a.IDDirektorat = @IDDirektorat
			and a.DateDownload = @Date
			and (@Year between a.StartYear and a.EndYear)

	) obj

	group by DirektoratName, Name
		
	union all
	
	select 
		case
			when obj.IsTransformasi = 1 then 'Trans'
			else 'NonTrans'
		end as Tipe,
		null as IDStrategicObjective,
		null as StrategicObjectiveCode,
		null as IDProgram,
		null as IDProjectHeader,
		null as IDDirektorat,
		null as IDDepartment,
		DirektoratName,
		null as DepartmentName,
		null as StrategicObjectiveName,
		null as ProgramName,
		null as ProjectName,
		Name,
		null as PIC,
		null as Waktu,
		isnull(sum(Anggaran), 0.00) as Anggaran,
		null as Target,
		null as Realisasi,
		round(100 * avg(RealPencapaian) / nullif(avg(PlanPencapaian), 0), 0.00) as RealisasiPencapaian,
		null as Planning,
		isnull(sum(obj.RealisasiAnggaran), 0.00) as RealisasiAnggaran,
		isnull(sum(obj.RealisasiKomit),0.00) as RealisasiKomit,
		null as Tren,
		null as IsTransformasi,
		null as IDProjectStatus,
		null as StartYear,
		null as StartMonth,
		null as StartDay

	from (
		select 'Project' as Tipe,
			case
				when IDDirektorat = 1 then a.DepartmentName
				else a.DirektoratName
			end as DirektoratName,
			isnull(cast(a.Anggaran as numeric) / 1000000, 0.00) as Anggaran,
			case when (
					a.IDProjectStatus = 1
					or a.IDProjectStatus = 7
					or a.IDProjectStatus = 8
					or a.IDProjectStatus = 9
				)
				or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
			else a.PlanPencapaian
			end as PlanPencapaian,
			case 
				when (
						a.IDProjectStatus = 1
						or a.IDProjectStatus = 7
						or a.IDProjectStatus = 8
						or a.IDProjectStatus = 9
					)
					or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then null
				else a.RealisasiPencapaian
			end as RealPencapaian,
			case
				when IDDirektorat = 1 then DepartmentCode
				else DirektoratCode
			end as Name,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000, 0.00) as RealisasiAnggaran,
			isnull(cast(a.RealisasiAnggaran as numeric)/1000000,0) + isnull(cast(a.KomitAnggaran as numeric)/1000000,0) as RealisasiKomit,
			a.IsTransformasi
			
		from TblD_ListProject a

		where a.IsActive = 1
			and a.IsTransformasi = @IsTransformasi
			and a.IDDirektorat = @IDDirektorat
			and a.DateDownload = @Date
			and (@Year between a.StartYear and a.EndYear)

	) obj

	group by DirektoratName, Name, IsTransformasi
		
)bb 
order by DirektoratName asc,
	IDDirektorat desc,
	(case when IDProjectHeader is null then 0 else 1 end);

	end;

END



GO
