USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterProgram]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:	Mendapatkan master program yang aktif
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MasterProgram]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SELECT 	 row_number() OVER (
			ORDER BY 
				CASE WHEN ISNUMERIC(SUBSTRING(a.ProgramNo,0,CHARINDEX('.',a.ProgramNo))) = 1 THEN SUBSTRING(a.ProgramNo,0,CHARINDEX('.',a.ProgramNo)) ELSE 1000 END 
				ASC,a.ProgramNo
					--WHEN a.UpdatedDate IS NOT NULL
					--	THEN a.UpdatedDate
					--ELSE a.CreatedDate
					--END
					--DESC
			) AS NoUrut
		,a.IDProgram
		,a.ProgramNo
		,a.ProgramName
		,a.Description
		,a.CreatedBy
		,a.CreatedDate
		,CASE 
			WHEN a.UpdatedBy IS NULL
				THEN a.CreatedBy
			ELSE a.UpdatedBy
			END AS UpdatedBy
		,CASE 
			WHEN a.UpdatedDate IS NULL
				THEN a.CreatedDate
			ELSE a.UpdatedDate
			END AS UpdatedDate
		,cast(day(CASE 
					WHEN UpdatedDate IS NULL
						THEN CreatedDate
					ELSE UpdatedDate
					END) AS VARCHAR(4)) + ' ' + [dbo].[Ufn_GetMonthName_Indonesia](month(CASE 
					WHEN UpdatedDate IS NULL
						THEN CreatedDate
					ELSE UpdatedDate
					END)) + ' ' + cast(year(CASE 
					WHEN UpdatedDate IS NULL
						THEN CreatedDate
					ELSE UpdatedDate
					END) AS VARCHAR(4)) AS UpdatedDateString
		,a.IsActive
	FROM TblM_Program a
	WHERE IsActive = 1;
END




GO
