USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardProjectTask]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SENA PUTRA
-- Create date: February 04, 2019
-- Description:	EXEC [dbo].[Get_DashboardProjectTask] 4
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardProjectTask]
	-- Add the parameters for the stored procedure here
	@IDProject int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DISTINCT C.TaskName, D.ResourceName As PIC FROM TblT_ProjectHeader A
	INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	INNER JOIN TblT_MPPProjectPlanDetail C ON A.IDProjectHeader = C.ProjectHeaderID
	INNER JOIN TblT_MPPProjectResourcesAssignment E ON C.TaskID = E.TaskID AND A.IDProjectHeader = E.ProjectHeaderID
	INNER JOIN TblT_MPPProjectResources D ON D.ResourceID = E.ResourceID
	WHERE (B.IDProject = @IDProject OR @IDProject = B.IDProject)

	SELECT C.Description FROM TblT_ProjectHeader A
	INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	INNER JOIN TblT_ProjectConstraint C ON A.IDProjectHeader = C.IDProjectHeader
	WHERE (B.IDProject = @IDProject OR @IDProject = B.IDProject)
END




GO
