USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[getProjectProgress]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getProjectProgress] -- exec Get_DashboardProjectProgress null,'2019',4,'All',4
	-- Add the parameters for the stored procedure here
	@Date date = null,
	@Year varchar(4) = null,
	@Month int = null,
	@Filter varchar(max) = 'All',
	@Week int = null
AS
BEGIN
	SET NOCOUNT ON;
	if(@Date is null) set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = convert(date, getdate()));
	
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end

	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday') end;
	
	if(@Filter = 'All') begin
		select obj.Progress,
			count(obj.Progress) as Total,
			obj.Color,
			@Filter as Filter
		from
		(
			select
				case
					when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
					when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
					when (a.Pencapaian < 85) then 'Jauh dibawah target'
					when (a.Pencapaian < 100) then 'Dibawah target'
					when (a.Pencapaian < 110) then 'Sesuai target'
					else 'Diatas target'
				end as Progress,
				case
					when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
					when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
					when (a.Pencapaian < 85) then '#d85d5d'
					when (a.Pencapaian < 100) then '#efd31c'
					when (a.Pencapaian < 110) then '#6dff66'
					else '#6663ff'
				end as Color
			from [dbo].[TblD_ListProject] a
			where a.IsActive = 1 and a.DateDownload = @Date
				and (@Year between a.StartYear and a.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13)
		) as obj
		group by obj.Progress, obj.Color;
			
	end
	else if(@Filter = 'Transformasi') begin
		
		select obj.Progress,
			count(obj.Progress) as Total,
			obj.Color,
			@Filter as Filter
		from
		(
			select
				case
					when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
					when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
					when (a.Pencapaian < 85) then 'Jauh dibawah target'
					when (a.Pencapaian < 100) then 'Dibawah target'
					when (a.Pencapaian < 110) then 'Sesuai target'
					else 'Diatas target'
				end as Progress,
				case
					when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then '#dcddde'
					when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then '#58595b'
					when (a.Pencapaian < 85) then '#d85d5d'
					when (a.Pencapaian < 100) then '#efd31c'
					when (a.Pencapaian < 110) then '#6dff66'
					else '#6663ff'
				end as Color
			from [dbo].[TblD_ListProject] a
			where a.IsActive = 1
				and a.DateDownload = @Date
				and a.IsTransformasi = 1
				and (@Year between a.StartYear and a.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13)
		) as obj
		group by obj.Progress, obj.Color;
			
	end
	else if(@Filter = 'Non Transformasi') begin
		
		select obj.Progress,
			count(obj.Progress) as Total,
			obj.Color,
			@Filter as Filter
		from
		(
			select
				case
					when @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime) then 'Belum Dimulai'
					when (a.IDProjectStatus = 4 or a.IDProjectStatus = 12) then 'Completed'
					when (a.Pencapaian < 85) then 'Jauh dibawah target'
					when (a.Pencapaian < 100) then 'Dibawah target'
					when (a.Pencapaian < 110) then 'Sesuai target'
					else 'Diatas target'
				end as Progress,
				case
					when (a.IDProjectStatus = 1
						--or a.IDProjectStatus = 7
						or a.IDProjectStatus = 8
						or a.IDProjectStatus = 9) 
						or @Date < cast(a.StartYear + '-' + a.StartMonth + '-' + a.StartDay as datetime)
						then '#dcddde'
					when (a.IDProjectStatus = 4
						or a.IDProjectStatus = 12) then '#58595b'
					when (a.Pencapaian < 85) then '#d85d5d'
					when (a.Pencapaian < 100) then '#efd31c'
					when (a.Pencapaian < 110) then '#6dff66'
					else '#6663ff'
				end as Color
				
			from [dbo].[TblD_ListProject] a
			where a.IsActive = 1
				and a.DateDownload = @Date
				and a.IsTransformasi = 0
				and (@Year between a.StartYear and a.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13)
		) as obj
		group by obj.Progress, obj.Color;
			
	end;
END




GO
