USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectHeader]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectHeader](
	[IDProjectHeader] [int] IDENTITY(1,1) NOT NULL,
	[IDProject] [int] NOT NULL,
	[Sequence] [int] NULL,
	[IDProjectStatus] [int] NOT NULL,
	[StartYear] [varchar](4) NULL,
	[StartMonth] [int] NULL,
	[EndYear] [varchar](4) NULL,
	[EndMonth] [int] NULL,
	[NoKontrak] [varchar](20) NULL,
	[ContractStartDate] [datetime] NULL,
	[ContractEndDate] [datetime] NULL,
	[ContractIDR] [numeric](20, 2) NULL,
	[ContractUSD] [numeric](20, 2) NULL,
	[WeightKPI] [float] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[GUID] [uniqueidentifier] NULL,
	[IDProjectStatusBefore] [int] NULL,
 CONSTRAINT [PK_TblT_ProjectHeader] PRIMARY KEY CLUSTERED 
(
	[IDProjectHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblT_ProjectHeader] ADD  CONSTRAINT [DF_TblT_ProjectHeader_Sequence]  DEFAULT ((0)) FOR [Sequence]
GO
ALTER TABLE [dbo].[TblT_ProjectHeader]  WITH CHECK ADD  CONSTRAINT [FK_TblT_ProjectHeader_TblM_ProjectStatus] FOREIGN KEY([IDProjectStatus])
REFERENCES [dbo].[TblM_ProjectStatus] ([IDProjectStatus])
GO
ALTER TABLE [dbo].[TblT_ProjectHeader] CHECK CONSTRAINT [FK_TblT_ProjectHeader_TblM_ProjectStatus]
GO
