USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_DropdownPMO]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_DropdownPMO] -- exec Usp_Get_DropdownPMO '2019', 10, 3
	-- Add the parameters for the stored procedure here
	@Year varchar(4) = null,
	@Month int = null,
	@Week int = null

AS
BEGIN
	
	declare @Date date = null;
	
	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = convert(date, getdate()));
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday') end;
		
	select distinct c.User_LoginName, d.PersonalNumber, d.Nama
	from TblD_ListProject a
		inner join TblT_ProjectInitApprovalRole b on a.IDProjectHeader = b.IDProjectHeader and b.IsActive = 1 and b.IDRoleGroup = 5
		inner join TblDW_Usergroup c on b.Username = c.User_LoginName
		inner join TblDW_Employee d on c.Usergroup_Pernr = d.PersonalNumber
	where a.IsActive = 1
		and (@Year between a.StartYear and a.EndYear)
		and a.IDProjectStatus not in(1, 3, 8, 9, 13)
		and a.DateDownload = @Date
		and a.IsTransformasi = 1;
	
END




GO
