USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectProgress]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	For Testing Only = Usp_Get_ProjectProgress 'ALL',1
*/

CREATE PROCEDURE [dbo].[Usp_Get_ProjectProgress]
	@type varchar(3),
	@projectHeaderID int = null
AS
BEGIN
	if @type = 'ALL'
	BEGIN
		SELECT
			PRP.TaskID , PPD.TaskName  , PRP.IDProjectHeader
		FROM
		TblT_MPPProjectRealPercentage PRP
		LEFT 
		JOIN
		TblT_ProjectHeader PH
		ON
		PRP.IDProjectHeader = PH.IDProjectHeader
		LEFT 
		JOIN
		TblM_Project P
		ON
		PH.IDProject = P.IDProject
		LEFT 
		JOIN
		TblT_MPPProjectPlanDetail PPD
		ON
		PRP.IDProjectHeader = PPD.ProjectHeaderID
		AND
		PRP.TaskID = PPD.TaskID
		
		GROUP BY
		PRP.TaskID , PPD.TaskName  , PRP.IDProjectHeader

	END
	IF @type = 'One'
	BEGIN
		SELECT NULL
	END
END




GO
