USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Scheduller_GetEmailBulkInit_noRealisation]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- Updated by : Septian Candra
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Scheduller_GetEmailBulkInit_noRealisation]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @Week int = null;
	declare @NTcurrentDate date = (select dateadd(month, -1 * (select cast(LockDuration as int) from TblM_LockExecution where IsTransformasi = 0), cast(getdate() as date)));	
	declare @Year int = Year(@NTcurrentDate)
	declare @Month int = Month(@NTcurrentDate) 
	declare @DateNow Date = null;  
	declare @YearNow int = null;
	declare @MonthNow int = null;
	declare @WeekNow int = null;
	declare @DayNow int = null;
	set @DateNow = getdate();
	set @DayNow = Day(@DateNow)
	if (@YearNow is null)set @YearNow = year(getdate());
	if (@MonthNow is null)set @MonthNow = month(getdate());	
	if (@WeekNow is null)set @WeekNow = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and @DayNow = Day order by Date asc);


	select distinct
	PIAR.Username,
	convert(int,tp.IsTransformasi) as IsTransformasi
	from TblT_MPPProjectPlanDetail tmpd
	join
	(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
		from TblT_MPPProjectPlanPercentage
		where Month = @Month and Year = @Year 
		and isActive = 1 
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
	left JOIN (
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
		from TblT_MPPProjectRealPercentage
		where  Year <= @Year and Month <= @Month
		and isActive = 1
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
	join Tblt_ProjectHeader tph on tmpd.ProjectHeaderId = tph.IdProjectHeader
	join TblM_Project tp on tp.IDProject = tph.IDProject
	join TblM_ProjectStatus tps on tps.IDProjectStatus = tph.IDProjectStatus
	join TblG_Project_ExecutionList tpe on tpe.IDProject = tp.IDProject
	join TblT_ProjectInitApprovalRole piar on tmpd.ProjectHeaderId = piar.IDProjectHeader
	where 
	tmpd.IsActive = 1
	and tph.IsActive = 1
	and tp.IsActive = 1
	and tmpd.ParentId = 0
	and tps.IDProjectStatus not in(3,4, 12, 13)
	and tp.IsTransformasi = 0
	and PIAR.IsActive = 1 
	--and piar.IsEnabled=1
	and PIAR.IDRoleGroup = 2
	and piar.Username is not NULL
	and piar.Username != ''
	and 1 =	case
				when exists(
					select TOP 1 PES.IDProjectHeaderID
					from TblT_ProjectExecutionStatus PES
					where  (PES.ProjectStatus = 'Approved' or PES.ProjectStatus = 'Submit')
						and PES.IDProjectHeaderID = tmpd.ProjectHeaderID
						and PES.IsActive = 1
						and PES.Periode = convert(varchar, tmpp.Year) + '-' + convert(varchar, tmpp.month) + '-' + convert(varchar, tmpp.week)
				) then 0
				else 1
			end
	
	Union
	
	select distinct
	PIAR.Username,
	convert(int,tp.IsTransformasi) as IsTransformasi
	from TblT_MPPProjectPlanDetail tmpd
	join
	(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
		from TblT_MPPProjectPlanPercentage
		where Month = @MonthNow and Year = @YearNow and Week = @WeekNow 
		and isActive = 1 
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
	left JOIN (
	select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
		from TblT_MPPProjectRealPercentage
		where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearNow as varchar(5)) + '-' + Cast(@MonthNow as varchar(3)) + '-' + Cast(@WeekNow as varchar(2)) as date)
		and isActive = 1
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
	join Tblt_ProjectHeader tph on tmpd.ProjectHeaderId = tph.IdProjectHeader
	join TblM_Project tp on tp.IDProject = tph.IDProject
	join TblM_ProjectStatus tps on tps.IDProjectStatus = tph.IDProjectStatus
	join TblG_Project_ExecutionList tpe on tpe.IDProject = tp.IDProject
	join TblT_ProjectInitApprovalRole piar on tmpd.ProjectHeaderId = piar.IDProjectHeader
	where 
	tmpd.IsActive = 1
	and tph.IsActive = 1
	and tp.IsActive = 1
	and tmpd.ParentId = 0
	and tps.IDProjectStatus not in(3,4, 12, 13)
	and tp.IsTransformasi = 1
	and PIAR.IsActive = 1 
	--and piar.IsEnabled =1
	and PIAR.IDRoleGroup = 2
	and piar.Username is not NULL
	and piar.Username != ''
	and 1 = 
		case
			when exists(
				select TOP 1 PES.IDProjectHeaderID
				from TblT_ProjectExecutionStatus PES
				where  (PES.ProjectStatus = 'Approved' or PES.ProjectStatus = 'Submit')
					and PES.IDProjectHeaderID = tmpd.ProjectHeaderID
					and PES.IsActive = 1
					and PES.Periode = convert(varchar, tmpp.Year) + '-' + convert(varchar, tmpp.month) + '-' + convert(varchar, tmpp.week)
			) then 0
			else 1
		end;
END




GO
