USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_PlanningPercentage_PerProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[Ufn_Get_PlanningPercentage_PerProject] ( @ProjectHeaderID int, @TodayDate nvarchar(30))

-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
Returns @result TABLE 
(
	ProjectHeaderID int, 
	TaskID int,
	TaskName varchar(max),
	StartDate date,
	EndDate date,
	DurationInDays int,
	ParentID int,
	IsParent bit,
	ElapseDays int,
	PlanedPerecentage decimal(20,2)
)
AS

begin

declare @i int,@level int
DECLARE @TempTable TABLE
(
	ProjectHeaderID int , 
	TaskID int, 
	TaskName varchar(max), 
	StartDate date, 
	EndDate date, 
	DurationInDays int, 
	ParentID int, 
	IsParent bit, 
	ElapseDay int
)

DECLARE @TempTable2 TABLE
(
	ProjectHeaderID int , 
	TaskID int, 
	TaskName varchar(max), 
	StartDate date, 
	EndDate date, 
	DurationInDays int, 
	ParentID int, 
	IsParent bit, 
	ElapseDay int,
	PlanedPerecentage decimal(20,2)
)

DECLARE @TempTable3 TABLE
(
	ProjectHeaderID int , 
	TaskID int, 
	TaskName varchar(max), 
	StartDate date, 
	EndDate date, 
	DurationInDays int, 
	ParentID int, 
	IsParent bit, 
	ElapseDay int,
	PlanedPerecentage decimal(20,2)
)

set @i = 1;
select @level = Max(OutlineLevel) from TblT_MPPProjectPlanDetail where ProjectHeaderID = @ProjectHeaderID and IsActive = 1;

INSERT INTO @TempTable
SELECT 
	dt.ProjectHeaderID , 
	dt.TaskID, 
	dt.TaskName, 
	dt.StartDate , 
	dt.EndDate, 
	dt.DurationInDays, 
	dt.ParentID, 
	dt.IsParent, 
	[dbo].[Ufn_GetProjectElapseDay_New](StartDate, EndDate, @TodayDate) as ElapseDay
FROM
Ufn_Get_DurationInDays_PerProject(@ProjectHeaderID) dt

if @level > 1 begin
	INSERT INTO @TempTable2
	SELECT 
		TWED.ProjectHeaderID ,
		TWED.TaskID, 
		TWED.TaskName, 
		TWED.StartDate , 
		TWED.EndDate, 
		TWED.DurationInDays, 
		TWED.ParentID, 
		TWED.IsParent, 
		TWED.ElapseDay,
		CASE 
		WHEN TWED.DurationInDays = 0 and TWED.ElapseDay = 0 THEN 0
		WHEN TWED.DurationInDays = 0 and TWED.ElapseDay = 1 THEN 100
		WHEN CONVERT(DECIMAL(20,2), ROUND((CONVERT(decimal,TWED.ElapseDay) /NULLIF(CONVERT(decimal,TWED.DurationInDays),0)) * 100 , 2)) > 100 THEN 100
		WHEN (CONVERT(decimal,TWED.ElapseDay) /NULLIF(CONVERT(decimal,TWED.DurationInDays),0)) * 100 > 99 and 
			 (CONVERT(decimal,TWED.ElapseDay) /NULLIF(CONVERT(decimal,TWED.DurationInDays),0)) * 100 < 100 then 99.00 
		ELSE Round(CONVERT(DECIMAL(20,2), ROUND((CONVERT(decimal,TWED.ElapseDay) /NULLIF(CONVERT(decimal,TWED.DurationInDays),0)) * 100 , 2)),0) END as PlanedPerecentage
	FROM
	@TempTable TWED	

	insert into @TempTable3 select * from @TempTable2
	
	while @i < @level begin
		delete from @TempTable2;
		INSERT INTO @TempTable2
		SELECT 
			TWED3.ProjectHeaderID ,
			TWED3.TaskID, 
			TWED3.TaskName, 
			TWED3.StartDate , 
			TWED3.EndDate, 
			TWED3.DurationInDays, 
			TWED3.ParentID, 
			TWED3.IsParent, 
			TWED3.ElapseDay,
			Case 
				When IsParent = 0 then TWED3.PlanedPerecentage
				when IsParent != 0 and TWED3.DurationInDays = 0 then TWED3.PlanedPerecentage
				when (select Sum(DurationInDays) from @TempTable3 where ParentID = TWED3.TaskID) = 0 then
					 (select Sum((PlanedPerecentage) * DurationInDays) from @TempTable3 where ParentID = TWED3.TaskID)
				when (select Sum((PlanedPerecentage) * DurationInDays) from @TempTable3 where ParentID = TWED3.TaskID) / (select Sum(DurationInDays) from @TempTable3 where ParentID = TWED3.TaskID) > 99 and 
					 (select Sum((PlanedPerecentage) * DurationInDays) from @TempTable3 where ParentID = TWED3.TaskID) / (select Sum(DurationInDays) from @TempTable3 where ParentID = TWED3.TaskID) < 100 Then 99
				Else 
					(select Sum((PlanedPerecentage) * DurationInDays) from @TempTable3 where ParentID = TWED3.TaskID) / (select Sum(DurationInDays) from @TempTable3 where ParentID = TWED3.TaskID)
			End PlanedPerecentage
		FROM
		@TempTable3 TWED3
		delete from @TempTable3;
		insert into @TempTable3 
		select * from @TempTable2;
		set @i = @i + 1;
	end
	insert into @result 
	select 
			ProjectHeaderID ,
			TaskID, 
			TaskName, 
			StartDate , 
			EndDate, 
			DurationInDays, 
			ParentID, 
			IsParent, 
			ElapseDay,
			ROUND(PlanedPerecentage,0) PlanedPerecentage
	from @TempTable3
	
end
else begin 
	INSERT INTO @result
	SELECT 
		TWED.ProjectHeaderID ,
		TWED.TaskID, 
		TWED.TaskName, 
		TWED.StartDate , 
		TWED.EndDate, 
		TWED.DurationInDays, 
		TWED.ParentID, 
		TWED.IsParent, 
		TWED.ElapseDay,
		CASE 
		WHEN TWED.DurationInDays = 0 and TWED.ElapseDay = 0 THEN 0
		WHEN TWED.DurationInDays = 0 and TWED.ElapseDay = 1 THEN 100
		WHEN CONVERT(DECIMAL(20,2), ROUND((CONVERT(decimal,TWED.ElapseDay) /NULLIF(CONVERT(decimal,TWED.DurationInDays),0)) * 100 , 2)) > 100 THEN 100
		WHEN (CONVERT(decimal,TWED.ElapseDay) /NULLIF(CONVERT(decimal,TWED.DurationInDays),0)) * 100 > 99 and 
			 (CONVERT(decimal,TWED.ElapseDay) /NULLIF(CONVERT(decimal,TWED.DurationInDays),0)) * 100 < 100 then 99.00 
		ELSE Round(CONVERT(DECIMAL(20,2), ROUND((CONVERT(decimal,TWED.ElapseDay) /NULLIF(CONVERT(decimal,TWED.DurationInDays),0)) * 100 , 2)),0) END as PlanedPerecentage
	FROM
	@TempTable TWED	
end

    return

end  
GO
