USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MPPInitiation]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andre Ibrahim Latief
-- Create date: <Create Date,,>
-- Description:	[Usp_Get_MPPInitiation] 286
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MPPInitiation]--exec Usp_Get_MPPInitiation 248
	@ProjectHeaderID int
AS
BEGIN

		--SELECT 
		--	MPD.IDMPPProjectPlanDetail as idmpp,
		--	MPD.TaskID as id,
		--	MPD.TaskName as text,		 
		--	--MPD.TaskName as text, 
		--	cast(MPD.StartDate as date) as start_date , 
		--	--cast(cast(cast(MPD.StartDate as date) as varchar(20)) + ' 23:59:00.000' as datetime) as start_date,
		--	MPD.Duration as durasi ,
		--	MPD.ParentID as parent , 
		--	(
		--	SELECT			
		--	CAST(MPP.PredecessorID as varchar(max)) + ' ,'
		--	FROM 
		--		TblT_MPPProjectPlanDetail MPD2
		--	INNER JOIN
		--		TblT_MPPProjectPredecessor MPP
		--	ON
		--		MPP.TaskID = MPD2.TaskID and MPP.ProjectHeaderID = MPD2.ProjectHeaderID
		--	where
		--		MPD2.ProjectHeaderID = MPD.ProjectHeaderID
		--		and 
		--		MPD2.TaskID = MPD.TaskID
		--		and
		--		MPD2.IsActive = '1'
		--	FOR XML PATH('')

		--	) as predecessor,
		--	MPD.TaskID as no,				
		--	(
		--	SELECT CASE WHEN 
			
		--	MRA.Unit <> 100 THEN MR.ResourceName + '['+ CAST(MRA.Unit as varchar(max))+'] ,'
		--	ELSE MR.ResourceName + ' ,' END
		--	FROM 
		--		TblT_MPPProjectResourcesAssignment MRA
		--	INNER JOIN
		--		TblT_MPPProjectResources MR
		--	ON 
		--		MRA.ResourceID = MR.ResourceID AND MR.ProjectHeaderID = MRA.ProjectHeaderID
		--	INNER JOIN
		--		TblT_MPPProjectPlanDetail MPD2
		--	ON 
		--		MPD2.TaskID = MRA.TaskID and MPD2.ProjectHeaderID = MRA.ProjectHeaderID
		--	where
		--		MPD2.ProjectHeaderID = MPD.ProjectHeaderID
		--		and 
		--		MPD2.TaskID = MPD.TaskID
		--		and
		--		MPD2.IsActive = '1'
		--	FOR XML PATH('')
		--	) as resources,
		--	MPD.Notes as notes,
		--	cast(cast(cast(MPD.EndDate as date) as varchar(20)) + ' 23:59:00.000' as datetime) as end_date ,
		--	--9 as percentcomplate,
		--	--MPD.PercentageComplete as percentcomplate,
		--	round(ISNULL( 
		--			isnull(
		--					(
		--						select top 1 MPP.CompletePercentage
		--						from TblT_MPPProjectRealPercentage MPP
		--						where --MPP.IDProjectHeader = MPD.ProjectHeaderID
		--						MPP.TaskID = MPD.TaskID
		--						--and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
		--						--	<= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(tmpp.Week as varchar(2)) as date)
		--						and MPP.IsActive = 1
		--						order by MPP.Year desc, MPP.Month desc, MPP.Week desc
		--					), 0
		--	 ),0),0) as percentcomplate ,
		--	CASE
		--	WHEN
		--		MPD.IsMilestone = '1'  
		--		OR
		--		(SELECT COUNT (*) FROM TblT_MPPProjectPlanDetail MR
		--		 where MR.ProjectHeaderID = MPD.ProjectHeaderID and MR.TaskID = MPD.TaskID and MR.TaskGUID = MPD.TaskGUID 
		--		 and MR.TaskName LIKE'%milestone%' AND IsActive = 1) > 0
		--	THEN
		--		'1'
		--	ELSE
		--		'0'
		--	END
		--	--MPD.IsMilestone
		--	 as milestone,



		--	 CASE WHEN EXISTS(
		--		SELECT TaskID FROM
		--		TblT_MPPProjectPlanDetail mm
		--		WHERE
		--		mm.ParentID = MPD.TaskID
		--		and
		--		mm.ProjectHeaderID = @ProjectHeaderID 
		--		and mm.IsActive = '1'
		--	)
		--	THEN
		--	'1'
		--	ELSE
		--	'0'
		--	END
		--	as IsParent

		--FROM
		--	TblT_MPPProjectPlanDetail MPD 
		--where MPD.ProjectHeaderID = @ProjectHeaderID and MPD.TaskID  <> 0
		--and
		--MPD.IsActive = '1'
		---- AAA1
  --      -- Perbaikan data yg ditampilkan nggak ngurut
		--order by idmpp
		----order by start_date, end_date
		---- AAA1

		declare @Date date = GetDate();
		declare @Year int = cast(Year(@Date) as varchar(4));
		declare @Month int = cast(Month(@Date) as varchar(2));
		declare @Week int = (select top 1 WeekOfMonth from TblM_Date where Date = Cast(GetDate() as Date) order by Date asc);
		declare @Periode varchar(20) = null;
		set @Periode =  cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
		
		select distinct
		tmpd.IDMPPProjectPlanDetail as idMPP,
		tmpd.TaskId as id,
		tmpd.TaskName as text,
		convert(varchar,convert(date,tmpd.StartDate),23) as start_date,
		isnull(DiD.DurationInDays,0) as durasi,
		tmpd.ParentId as parent,
		'' as predecessor,
		tmpd.TaskID as no,
		'' as resources,
		'' as notes,
		convert(varchar,convert(date,tmpd.EndDate),23) as end_date,
		round(isnull(
		(	
			select top 1 
				case 
					when CompletePercentage > 99 and CompletePercentage < 100 then 99
					else CompletePercentage 
				end 
			as CompletePercentage
			from TblT_MPPProjectRealPercentage MPP
			where --MPP.IDProjectHeader = MPD.ProjectHeaderID and
			MPP.TaskID = tmpd.TaskID
			--and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
			--	<= cast(cast(@year as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(tmpp.Week as varchar(2)) as date)
			and MPP.IsActive = 1
			order by MPP.Year desc, MPP.Month desc, MPP.Week desc
		), 	
		0),0) as percentcomplate,
		CASE
		WHEN
			tmpd.IsMilestone = '1'  
			OR 	tmpd.TaskName LIKE'%milestone%'
		THEN
			'1'
		ELSE
			'0'
		END
		 as milestone,
		
		CASE WHEN EXISTS(
			SELECT TaskID FROM
			TblT_MPPProjectPlanDetail mm
			WHERE
			mm.ParentID = tmpd.TaskID
			and
			mm.ProjectHeaderID = @ProjectHeaderID 
			and mm.IsActive = '1'
		)
		THEN
		'1'
		ELSE
		'0'
		END
		as IsParent
		from TblT_MPPProjectPlanDetail tmpd
		left join
		(
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
			from TblT_MPPProjectPlanPercentage
			where Month = @Month and Year = @Year and Week = @Week and IDProjectHeader = @ProjectHeaderID
			and isActive = 1 
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
		inner join [Ufn_Get_DurationInDays_PerProject](@ProjectHeaderID) DiD on tmpd.TaskID = DiD.TaskID
		where 
		tmpd.IsActive = 1
		and tmpd.ProjectHeaderID = @ProjectHeaderID
		order by tmpd.IDMPPProjectPlanDetail;

		SELECT 
			ROW_NUMBER() OVER(ORDER BY MPPr.TaskID ASC) as id , 
			Mppr.PredecessorID as source , 
			Mppr.TaskID as target , 
			'0' as type 
		FROM
			TblT_MPPProjectPredecessor MPPr 
		WHERE
			MPPr.ProjectHeaderID = @ProjectHeaderID 
			and 
			IsActive = '1'
END




GO
