USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_TxProjectHeader_ByID2]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_TxProjectHeader_ByID2]
	-- Add the parameters for the stored procedure here
	-- [Usp_Get_TxProjectHeader_ByID2] '2' , '100011'
	@IDProjectHeader int,
	@User varchar(500)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	declare @Username varchar(max);
	select @Username = a.User_LoginName from TblDW_Usergroup a where a.Usergroup_Pernr = @User;

	declare @RoleInProject as varchar(max);
	select @RoleInProject = b.RoleGroupName
	from TblT_ProjectRoleGroup a
		left join TblM_RoleGroup b on a.IDRoleGroup = b.IDRoleGroup and b.IsActive = 1
	where a.IDProjectHeader = @IDProjectHeader and a.IsActive = 1 and a.Username = @Username;

	declare @RoleInAplikasi as varchar(max);
	select @RoleInAplikasi = b.RoleGroupName
	from TblT_UserAuthorized a
		left join TblM_RoleGroup b on a.IDRoleGroup = b.IDRoleGroup and b.IsActive = 1
	where a.Username = @Username;

	declare @IDProject int = (select top 1 IDProject from TblT_ProjectHeader where IDProjectHeader = @IDProjectHeader);

	--Get Table[0] s/d Table[8]
	exec Usp_Get_MasterProject_ByID @IDProject = @IDProject;

	-- Table Transaksi ProjectHeader (table[9])
	select a.*, b.StatusName,

		case
			when (select a.IDRoleGroup from TblT_UserAuthorized a where a.Username = @Username and IsActive = 1) = 1 then '1|1'
				
				--(
				--	select TOP 1 cast(e.Usergroup_Pernr as nvarchar(50)) +'|1'
				--	from [dbo].[TblT_ProjectInitApprovalRole] d
				--		left join TblDW_Usergroup e on d.Username = e.User_LoginName
				--	where d.IsActive = 1 and ( d.isApprove = 0 or d.IsApprove is NULL) and IsEnabled = 1 and d.IDProjectHeader = a.IDProjectHeader order by Sequence desc
				--)
			
			when (select a.IDRoleGroup from TblT_UserAuthorized a where a.Username = @Username and IsActive = 1) = 4 then --'4'
			
				(
					select TOP 1 cast(e.Usergroup_Pernr as nvarchar(50)) + '|4'
					from [dbo].[TblT_ProjectInitApprovalRole] d
						left join TblDW_Usergroup e on d.Username = e.User_LoginName
					where d.IsActive = 1 and ( d.isApprove = 0 or d.IsApprove is NULL) and IsEnabled = 1 and d.IDProjectHeader = a.IDProjectHeader order by Sequence desc
				)
			
			when (select count(*) from TblT_ProjectInitApprovalRole c where c.IsActive = 1 and c.IDProjectHeader = a.IDProjectHeader) > 0 then
			
				(
					select TOP 1 cast(e.Usergroup_Pernr as nvarchar(50)) + '|0'
					from [dbo].[TblT_ProjectInitApprovalRole] d
						left join TblDW_Usergroup e on d.Username = e.User_LoginName
					where d.IsActive = 1 and ( d.isApprove = 0 or d.IsApprove is NULL) and IsEnabled = 1 and d.IDProjectHeader = a.IDProjectHeader order by Sequence desc
				)
			
			else '0|0'
		end as NeedApproval

	from TblT_ProjectHeader a
		left join TblM_ProjectStatus b on a.IDProjectStatus = b.IDProjectStatus
	where a.IsActive = 1 and b.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader;

	-- Table Transaksi Project Detail (table[10])
	select *
	from TblT_ProjectDetail
	where IsActive = 1 and IDProjectHeader = @IDProjectHeader;

	-- Table Transaksi Project Constraint (table[11])
	--select b.*, c.ConstraintName
	--from TblT_ProjectHeader a
	--	left join TblT_ProjectConstraint b on a.IDProjectHeader = b.IDProjectHeader
	--	left join TblM_ConstraintType c on b.IDConstraintType = c.IDConstraintType
	--where a.IsActive = 1 and b.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader;

	-- Dropdownlist Master Constraint Type (table[12])
	--select *
	--from TblM_ConstraintType a
	--where a.IsActive = 1;

	-- Table Transaksi Project Header Cost (table[13])
	--select b.*, c.ProjectCostName, c.ProjectCostCode
	--from TblT_ProjectHeader a
	--	left join TblT_ProjectHeaderCost b on a.IDProjectHeader = b.IDProjectHeader
	--	left join TblM_ProjectCost c on b.IDProjectCost =  c.IDProjectCost
	--where a.IsActive = 1 and b.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader;

	-- SELECT Milestone dari Table MPPPlanDetail (table[14])
	--select MPPPD.TaskID,
	--	MPPPD.TaskName,
	--	[dbo].[Ufn_GetMonthName_Indonesia](month(MPPPD.StartDate)) + ' ' + cast(year(MPPPD.StartDate) as varchar(4)) as StartDateString
	--from TblT_MPPProjectPlanDetail MPPPD
	--where MPPPD.IsActive = '1'
	--	and ( MPPPD.IsMilestone = '1' or MPPPD.TaskName LIKE '%milestone%' )
	--	and MPPPD.ProjectHeaderID = @IDProjectHeader;

	-- Dropdownlist Master Cost (table[15])
	--select *
	--from [dbo].[TblM_ProjectCost] a
	--where a.IsActive = 1;

	-- Select Project Risk (table[16])
	--select b.*
	--from TblT_ProjectHeader a
	--	left join TblT_ProjectRisk b on a.IDProjectHeader = b.IDProjectHeader
	--where a.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader and b.IsActive = 1;


	-- GET DOCUMENT (table[17])
	--SELECT 
	--	TOP 1 doc.IDDocument as [ID] , doc.DocumentName as [DocName]
	--FROM
	--TblT_Document doc
	--where
	--IDProjectHeader = @IDProjectHeader
	--and 
	--IDDocPhase = '1'
	--and 
	--IsActive = '1'
	--and
	--doc.DocumentName LIKE '%.mpp%'
	--ORDER BY
	--doc.CreatedDate DESC

	---- Select Revise Table (table[18])
	--select row_number() over (order by a.CreatedDate desc) as NoUrut,
	--	a.IDProjectInitApprovalHistory,
	--	a.IDProjectHeader,
	--	a.Remarks,
	--	a.Type,
	--	a.CreatedBy + ' (' +
	--	cast(
	--		(
	--			select top 1 c.Description
	--			from TblT_ProjectInitApprovalRole b
	--				inner join TblM_RoleGroup c on b.IDRoleGroup = c.IDRoleGroup
	--			where b.IsActive = 1
	--				and a.CreatedBy = b.Username
	--		)
	--		as varchar(50)
	--	) + ')' as CreatedBy,
	--	a.CreatedDate
	--from TblH_ProjectInitApproval a
	--where a.IDProjectHeader = @IDProjectHeader;

	---- Select Role User In Project (table[19])
	--if((select a.IDRoleGroup from TblT_UserAuthorized a where a.Username = @Username and IsActive = 1) = 1)begin
	--	select RoleName as RoleInProject
	--	from TblM_Role
	--	where IsActive = 1;
	--end
	--else if((select a.IDRoleGroup from TblT_UserAuthorized a where a.Username = @Username and IsActive = 1) = 11)begin
	--	select RoleName as RoleInProject
	--	from TblM_Role
	--	where IsActive = 1;
	--end
	--else begin
	--	select d.RoleName as RoleInProject
	--	from TblT_ProjectHeader a
	--		left join TblT_ProjectInitApprovalRole b on a.IDProjectHeader = b.IDProjectHeader and b.IsActive = 1
	--		left join TblT_RoleMapping c on b.IDRoleGroup = c.IDRoleGroup and c.IsActive = 1
	--		left join TblM_Role d on c.IDRole = d.IDRole and d.IsActive = 1
	--	where a.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader and b.Username = @Username;
	--end;
	
	---- Select Total Anggaran (table[20])
	--select sum(dbo.Ufn_GetTotalAnggaran(c.IDSAP)) as TotalAnggaran
	--from TblT_ProjectHeader a
	--	left join TblT_ProjectRKAT b on b.IDProjectHeader = a.IDProjectHeader and b.IsActive = 1
	--	left join TblSAP_MasterRKAT c on c.IDSAPMasterRKAT = b.IDSAPMasterRKAT
	--where a.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader;

	-- GET DOCUMENT (table[21])
	--SELECT 
	--	doc.IDDocument as [ID] , doc.DocumentName as [DocName] , dt.Description as [DocType]
	--FROM
	--TblT_Document doc
	--INNER JOIN
	--TblM_DocumentType dt
	--ON
	--doc.IDDocType = dt.IDDocType
	--where
	--IDProjectHeader = (select dbo.ufn_GetProjectHeaderRoot(@IDProjectHeader)) --@IDProjectHeader
	--and 
	--IDDocPhase = '1'
	--and 
	--doc.IsActive = '1'
	--and
	--doc.DocumentName NOT LIKE '%.mpp%'
	--ORDER BY
	--doc.CreatedDate DESC
		 
END
-- exec Usp_Get_TransaksiProjectHeader_ByID @IDProjectHeader = 1




GO
