USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_DashboardProjectHeader_Backup]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Update Date : 18-11-2020
-- Update By : Yuda
-- Description:	<Description,,> 
-- =============================================
CREATE PROCEDURE [dbo].[Get_DashboardProjectHeader_Backup] -- exec [dbo].[Get_DashboardProjectHeader] 'All','2019',6,
	-- Add the parameters for the stored procedure here
	@Filter nvarchar(max) = 'All',
	@Year varchar(4) = null,
	@Month int = null,
	@Week int = null,
	@Date date = null,
	@PersonalNumber varchar(max) = null

AS
BEGIN
	
	SET NOCOUNT ON;
	
	set @Date = getdate();
	if(@Year is null)set @Year = year(getdate());
	if(@Month is null)set @Month = month(getdate());
	if(@Week is null)set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = convert(date, getdate()));
	if(
		@Year = (select Year from TblM_Date where Date = @Date)
		and @Month = (select Month from TblM_Date where Date = @Date)
		and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	) begin set @Date = getdate() end
	--else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Saturday') end;
	else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week and WeekDayName = 'Wednesday') end;
	
	--------------------------------------------------------------------------------------------------------------------------------------------------------------

	declare @UnitKerja varchar(20);
	declare @RoleApp varchar(max);

	if @PersonalNumber is null set @PersonalNumber = '100010';

	select top 1 @UnitKerja = b.org_unit_mast_Code
	from TblDW_Usergroup a
		inner join TblDW_EmployeeMapping b on a.User_LoginName = b.empl_mast_username
	where a.Usergroup_Pernr = @PersonalNumber;

	select top 1 @RoleApp = b.RoleGroupName
	from TblT_UserAuthorized a
		inner join TblM_RoleGroup b on a.IDRoleGroup = b.IDRoleGroup and b.IsActive = 1
	where a.IsActive = 1 and a.PersonNumber = @PersonalNumber;
	
	--Updated--
	declare @DateDownload date = null;
	select top 1 @DateDownload = DateDownload from Tbld_ListProject where DateDownload <= @Date order by DateDownload desc

	--------------------------------------------------------------------------------------------------------------------------------------------------------------

	if(@RoleApp = 'ADMINISTRATOR' or @RoleApp = 'MANAGEMENT' or @RoleApp = 'INTERNAL.AUDITOR' or (@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPSO'))begin
		
		if(@Filter = 'All') begin
			
			select count(obj.ProjectName) as TotalProject,
			
				isnull(replace(cast(avg(cast(
					case
						when (
							@Date >= cast(obj.StartYear + '-' + cast(obj.StartMonth as varchar(2)) + '-' + cast(obj.StartDay as varchar(2)) as datetime)
						) then obj.Pencapaian
					end as float
				)) as decimal(10,2)),'.',','), '0,00') as Pencapaian,

				case
					when sum(cast(Anggaran as float)) = 0 or sum(cast(Anggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(Anggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(Anggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(isnull(Anggaran, '0') as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(Anggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Anggaran,
				case
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) = 0 or sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Realisasi,
				
				@Week as Week

			from TblD_ListProject obj
			where obj.IsActive = 1
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13);

		end
		else if(@Filter = 'Transformasi') begin

			select count(obj.ProjectName) as TotalProject,
			
				isnull(replace(cast(avg(cast(
					case
						when (
							@Date >= cast(obj.StartYear + '-' + cast(obj.StartMonth as varchar(2)) + '-' + cast(obj.StartDay as varchar(2)) as datetime)
						) then  obj.Pencapaian
					end as float
				)) as decimal(10,2)),'.',','), '0,00') as Pencapaian,

				case
					when sum(cast(Anggaran as float)) = 0 or sum(cast(Anggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(Anggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(Anggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(isnull(Anggaran, '0') as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(Anggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Anggaran,
				case
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) = 0 or sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Realisasi,
				@Week as Week

			from TblD_ListProject obj
			where obj.IsActive = 1
				and obj.IsTransformasi = 1
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13);
		
		end
		else if(@Filter = 'Non Transformasi') begin

			select count(obj.ProjectName) as TotalProject,
			
				isnull(replace(cast(avg(cast(
					case
						when (
							@Date >= cast(obj.StartYear + '-' + cast(obj.StartMonth as varchar(2)) + '-' + cast(obj.StartDay as varchar(2)) as datetime)
						) then obj.Pencapaian
					end as float
				)) as decimal(10,2)),'.',','), '0,00') as Pencapaian,

				case
					when sum(cast(Anggaran as float)) = 0 or sum(cast(Anggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(Anggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(Anggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(isnull(Anggaran, '0') as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(Anggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Anggaran,
				case
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) = 0 or sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Realisasi,
				@Week as Week

			from TblD_ListProject obj
			where obj.IsActive = 1
				and obj.IsTransformasi = 0
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13);

		end;
		
	end
	else if(@RoleApp = 'ADMIN.PMO' and @UnitKerja = 'GPTF')begin
		
		if(@Filter = 'All')begin
		
			select count(obj.ProjectName) as TotalProject,
				
				isnull(replace(cast(avg(cast(
					case
						when (
							@Date >= cast(obj.StartYear + '-' + cast(obj.StartMonth as varchar(2)) + '-' + cast(obj.StartDay as varchar(2)) as datetime)
						) then obj.Pencapaian
					end as float
				)) as decimal(10,2)),'.',','), '0,00') as Pencapaian,

				case
					when sum(cast(Anggaran as float)) = 0 or sum(cast(Anggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(Anggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(Anggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(isnull(Anggaran, '0') as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(Anggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Anggaran,
				case
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) = 0 or sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Realisasi,
				@Week as Week

			from TblD_ListProject obj
			where obj.IsActive = 1
				and (obj.IsTransformasi = 1 or obj.DepartmentCode = @UnitKerja)
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13);
			
		end
		else if(@Filter = 'Transformasi') begin
		
			select count(obj.ProjectName) as TotalProject,
				
				isnull(replace(cast(avg(cast(
					case
						when (
							@Date >= cast(obj.StartYear + '-' + cast(obj.StartMonth as varchar(2)) + '-' + cast(obj.StartDay as varchar(2)) as datetime)
						) then obj.Pencapaian
					end as float
				)) as decimal(10,2)),'.',','), '0,00') as Pencapaian,

				case
					when sum(cast(Anggaran as float)) = 0 or sum(cast(Anggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(Anggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(Anggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(isnull(Anggaran, '0') as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(Anggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Anggaran,
				case
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) = 0 or sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Realisasi,
				@Week as Week

			from TblD_ListProject obj
			where obj.IsActive = 1
				and (obj.IsTransformasi = 1)
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13);
			
		end
		else if(@Filter = 'Non Transformasi') begin
		
			select count(obj.ProjectName) as TotalProject,
				
				isnull(replace(cast(avg(cast(

					case
						when (
							@Date >= cast(obj.StartYear + '-' + cast(obj.StartMonth as varchar(2)) + '-' + cast(obj.StartDay as varchar(2)) as datetime)
						) then obj.Pencapaian
					end as float
				)) as decimal(10,2)),'.',','), '0,00') as Pencapaian,

				case
					when sum(cast(Anggaran as float)) = 0 or sum(cast(Anggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(Anggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(Anggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(isnull(Anggaran, '0') as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(Anggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Anggaran,
				case
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) = 0 or sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Realisasi,
				@Week as Week

			from TblD_ListProject obj
			where obj.IsActive = 1
				and (obj.IsTransformasi = 0 and obj.DepartmentCode = @UnitKerja)
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and IDProjectStatus not in(1, 3, 8, 9, 13);
			
		end;
			
	end
	else begin
	
		if(@Filter = 'All') begin
			
			select count(obj.ProjectName) as TotalProject,
			
				isnull(replace(cast(avg(cast(
					case
						when (
							@Date >= cast(obj.StartYear + '-' + cast(obj.StartMonth as varchar(2)) + '-' + cast(obj.StartDay as varchar(2)) as datetime)
						) then obj.Pencapaian 
					end as float
				)) as decimal(10,2)),'.',','), '0,00') as Pencapaian,

				case
					when sum(cast(Anggaran as float)) = 0 or sum(cast(Anggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(Anggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(Anggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(isnull(Anggaran, '0') as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(Anggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Anggaran,
				case
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) = 0 or sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Realisasi,
				@Week as Week

			from TblD_ListProject obj
			where obj.IsActive = 1
				-- and obj.IsTransformasi = @IsTransformasi
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and obj.DepartmentCode = @UnitKerja
				and IDProjectStatus not in(1, 3, 8, 9, 13);

		end
		else if(@Filter = 'Transformasi') begin

			select count(obj.ProjectName) as TotalProject,
			
				isnull(replace(cast(avg(cast(
					case
						when (
							@Date >= cast(obj.StartYear + '-' + cast(obj.StartMonth as varchar(2)) + '-' + cast(obj.StartDay as varchar(2)) as datetime)
						) then obj.Pencapaian 
					end as float
				)) as decimal(10,2)),'.',','), '0,00') as Pencapaian,

				case
					when sum(cast(Anggaran as float)) = 0 or sum(cast(Anggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(Anggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(Anggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(isnull(Anggaran, '0') as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(Anggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Anggaran,
				case
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) = 0 or sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Realisasi,
				@Week as Week

			from TblD_ListProject obj
			where obj.IsActive = 1
				and obj.IsTransformasi = 1
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and obj.DepartmentCode = @UnitKerja
				and IDProjectStatus not in(1, 3, 8, 9, 13);
		
		end
		else if(@Filter = 'Non Transformasi') begin

			select count(obj.ProjectName) as TotalProject,
			
				isnull(replace(cast(avg(cast(
					case 
						when (
							@Date >= cast(obj.StartYear + '-' + cast(obj.StartMonth as varchar(2)) + '-' + cast(obj.StartDay as varchar(2)) as datetime)
						) then  obj.Pencapaian 
					end as float
				)) as decimal(10,2)),'.',','), '0,00') as Pencapaian,

				case
					when sum(cast(Anggaran as float)) = 0 or sum(cast(Anggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(Anggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(Anggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(isnull(Anggaran, '0') as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(Anggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(Anggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Anggaran,
				case
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) = 0 or sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) is null
					then 'Rp0,00'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000000 as decimal(10,2)) as varchar(max)),'.',',')+' T'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000000 as decimal(10,2)) as varchar(max)),'.',',')+' M'
					when sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float)) > 999999
					then 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000000 as decimal(10,2)) as varchar(max)),'.',',')+' Jt'
					else 'Rp'+replace(cast(cast(sum(cast(RealisasiAnggaran as float) + cast(KomitAnggaran as float))/1000 as decimal(10,2)) as varchar(max)),'.',',')+' Rb'
				end as Realisasi,
				@Week as Week

			from TblD_ListProject obj
			where obj.IsActive = 1
				and obj.IsTransformasi = 0
				--and obj.DateDownload = @Date
				and obj.DateDownload = @DateDownload --updated
				and (@Year between obj.StartYear and obj.EndYear)
				and obj.DepartmentCode = @UnitKerja
				and IDProjectStatus not in(1, 3, 8, 9, 13);

		end;
			
	end;

END




GO
