USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_PJSApproval]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_PJSApproval](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExistingName] [nvarchar](50) NULL,
	[ExistingUsername] [nvarchar](50) NULL,
	[ExistingPersonalNumber] [nvarchar](50) NULL,
	[ExistingPositionCode] [nvarchar](50) NULL,
	[PJSName] [nvarchar](50) NULL,
	[PJSUsername] [nvarchar](50) NULL,
	[PJSPersonalNumber] [nvarchar](50) NULL,
	[PJSPositionCode] [nvarchar](50) NULL,
	[IDRoleGroup] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_TblT_PJSApproval] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
