USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_ProjectPlanIFLate]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_ProjectPlanIFLate] -- Usp_Insert_ProjectPlanIFLate 250, 100010
	@ProjectHeaderID int,
	@Persnum varchar(50) = null
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			DECLARE @IsTransformasi int
			DECLARE @Date date
			DECLARE @Week int
			DECLARE @Month int
			DECLARE @Year int
			DECLARE @WeekNew int
			DECLARE @MonthNew int
			DECLARE @YearNew int

			declare @Username varchar(50) = (select top 1 User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @Persnum);

			SELECT @IsTransformasi = b.IsTransformasi FROM 
			TblT_ProjectHeader a
			INNER JOIN 
			TblM_Project b 
			ON
			a.IDProject = b.IDProject
			WHERE
			a.IDProjectHeader = @ProjectHeaderID

			SELECT TOP 1  
				@Year = TE.Year ,
				@Month = TE.Month , 
				@Week = TE.Week
				FROM TblT_MPPProjectPlanPercentage TE
				INNER JOIN 
				TblT_MPPProjectPlanDetail MPD
				ON
				TE.IDProjectHeader = MPD.ProjectHeaderID
				AND
				TE.TaskID = MPD.TaskID
				AND
				MPD.ParentID = 0
			WHERE
				TE.IDProjectHeader = @ProjectHeaderID
				AND
				TE.IsActive = 1
				AND
				MPD.IsActive = 1
			ORDER BY
				(CAST(TE.year AS VARCHAR(4)) + RIGHT('00' + CAST(TE.month AS VARCHAR(2)), 2) + CAST(TE.Week AS VARCHAR(1)))
			DESC

			IF	@IsTransformasi = 1
			BEGIN
				SELECT  
				TOP 1
				  @Date = DATEADD(week,1, D.Date)
				FROM
				TblM_Date D 
				WHERE
			      D.WeekOfMonth = @Week 
				AND
				  D.Month = @Month
				AND
				  D.Year = @Year
				ORDER BY D.Date DESC




				SELECT 
					TOP 1 
					@WeekNew = d.WeekOfMonth  , @MonthNew = d.Month  , @YearNew = d.Year 
				FROM 
				TblM_Date D
				WHERE
				D.Date = @Date

				INSERT INTO TblT_MPPProjectPlanPercentage
				SELECT 
					@ProjectHeaderID , 
					Z.TaskID , 
					@WeekNew , 
					@MonthNew , 
					@YearNew , 
					Z.PlanPercentage , 
					NULL, 
					GETDATE() , 
					@Username, 
					NULL , 
					NULL , 
					'1'
				FROM 
				TblT_MPPProjectPlanPercentage Z
				WHERE
				IDProjectHeader = @ProjectHeaderID
				AND
				Z.Week = @Week
				AND
				Z.Month = @Month
				AND
				Z.Year = @Year
					AND
				Z.IsActive = 1 
			END
			ELSE 
			BEGIN
				SELECT TOP 1 
					@Date = DATEADD(month,1,MAX(D.Date)) 
				FROM
				TblM_Date D 
				WHERE 
				  D.Month = @Month
				AND
				  D.Year = @Year

				SELECT 
					TOP 1 
					@WeekNew = d.WeekOfMonth  , @MonthNew = d.Month  , @YearNew = d.Year 
				FROM 
				TblM_Date D
				WHERE
				D.Date = @Date

				
				INSERT INTO TblT_MPPProjectPlanPercentage
				SELECT 
					@ProjectHeaderID , 
					Z.TaskID , 
					@WeekNew , 
					@MonthNew , 
					@YearNew , 
					Z.PlanPercentage , 
					NULL, 
					GETDATE() , 
					@Username, 
					NULL , 
					NULL , 
					'1'
				FROM 
				TblT_MPPProjectPlanPercentage Z
				WHERE
				IDProjectHeader = @ProjectHeaderID
				AND
				Z.Week = @Week
				AND
				Z.Month = @Month
				AND
				Z.Year = @Year 
				AND
				Z.IsActive = 1
				SELECT 'Success Non Transformasi'
			END

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT ERROR_MESSAGE()
	END CATCH
END




GO
