USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterDepartment_ByName]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_MasterDepartment_ByName]
	-- Add the parameters for the stored procedure here
	@DepartmentName varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT Row_number() OVER (
			ORDER BY updateddate DESC
			) AS NoUrut
		,*
	FROM tblm_department
	WHERE isactive = 1
		AND (DepartmentName LIKE '%' + @DepartmentName + '%' or DepartmentCode like '%' + @DepartmentName + '%');
END



GO
