USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_Master_ProjectCost]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_Master_ProjectCost]
	-- Add the parameters for the stored procedure here
	-- exec Usp_Insert_Master_ProjectCost
	@Username varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		
		begin transaction;

		truncate table TblSAP_Master_ProjectCost;

		insert into TblSAP_Master_ProjectCost
		(
			NoUrut,
			IDProjectCost,
			ProjectCostCode,
			ProjectCostName,
			Value,
			Pergeseran,
			Hangus,
			Realisasi,
			Komitmen,
			Description,
			ParentCode,
			YEAR,
			CreatedDate,
			CreatedBy,
			UpdatedDate,
			UpdatedBy,
			IsActive
		)
		select row_number() over (
				order by IDSAPMasterRKAT desc
			) as NoUrut,
			IDSAPMasterRKAT as IDProjectCost,
			IDSAP as ProjectCostCode,
			EVDESCRIPTION as ProjectCostName,
			dbo.Ufn_GetTotalAnggaran(IDSAP) as Value,
			dbo.Ufn_GetPergeseranAnggaran(IDSAP) as Pergeseran,
			dbo.Ufn_GetHangusAnggaran(IDSAP) as Hangus,
			dbo.Ufn_GetRealisasiAnggaran(IDSAP) as Realisasi,
			dbo.Ufn_GetKomitmenAnggaran(IDSAP) as Komitmen,

			LONG_DESC as Description,
			PARENT as ParentCode,
			YEAR,
			cast(CreatedDate as datetime) CreatedDate,
			CreatedBy,
			getdate() as UpdatedDate,
			CreatedBy as UpdatedBy,
			case
				when ACTIVE = 'Y' then 1
				else 0
			end as IsActive

		from TblSAP_MasterRKAT
		where ACTIVE = 'Y' and YEAR != 'TETA'
			and(cast(year as int) >= year(getdate()));

		commit transaction;

	end try
	begin catch
		
		rollback;

		declare @ErrMsg varchar(max)
			,@ErrNum int
			,@ErrLine int;
		select @ErrMsg = error_message()
			,@ErrNum = error_number()
			,@ErrLine = error_Line()
		EXEC Usp_Insert_ErrorLog 'Usp_Insert_Master_ProjectCost'
			,@ErrNum
			,@ErrMsg
			,@Username;

		SELECT 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg + ' ' + CONVERT(varchar,@ErrLine);

	end catch;

END




GO
