USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ReportGptf_PerWeek]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_ReportGptf_PerWeek]
	-- Add the parameters for the stored procedure here
	@Month int = null,
	@Year varchar(4) = null,
	@Week int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @Date date = null;
	declare @DateLastWeek date = null;
	declare @YearLastWeek int = null;
	declare @MonthLastWeek int = null;
	declare @LastWeek int = null;
	declare @LastDay varchar(10) = null;
	declare @SumOfFirstWeek int = null;
	declare @SumOfFirstWeekNextYear int = null;
	declare @YearPeriode varchar(5) = null;
	
	--set @Date = getdate();
	--if(@Year is null)set @Year = year(getdate());
	--if(@Month is null)set @Month = month(getdate());
	
	--if(@Week is null) set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);
	
	--if(
	--	@Year = (select Year from TblM_Date where Date = @Date)
	--	and @Month = (select Month from TblM_Date where Date = @Date)
	--	and @Week = (select WeekOfMonth from TblM_Date where Date = @Date)
	--) begin set @Date = getdate() end
	--else begin set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = @Week order by Date desc) end;
	
	--set @DateLastWeek = dateadd(day,-7,@Date);
	--set @YearLastWeek = Year(@DateLastWeek);
	--set @MonthLastWeek = Month(@DateLastWeek);
	--set @LastWeek = (select top 1 WeekOfMonth from TblM_Date where Year = @YearLastWeek and Month = @MonthLastWeek and Day = Day(@DateLastWeek) order by Date desc);
	
	set @LastDay = (select top 1 WeekDayName from TblM_Date where Year = @Year  and Month =  @Month order by Date desc);
	set @SumOfFirstWeek = (select Sum(WeekOfMonth) from TblM_Date where Year = @Year  and Month =  (@Month + 1) and WeekDayName = 'Saturday' and WeekOfMonth = 1 Group By WeekOfMonth);
	set @SumOfFirstWeekNextYear = (select Sum(WeekOfMonth) from TblM_Date where Year = @Year + 1  and Month =  1 and WeekDayName = 'Saturday' and WeekOfMonth = 1 Group By WeekOfMonth);
	if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month != 12) begin
		if(@SumOfFirstWeek = 1) begin
			set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = (@Month + 1) and WeekDayName = 'Saturday' order by Date asc)
			set @YearPeriode = year(@Date);
			set @Month = month(@Date);
			set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date asc);	
			end;
		else begin
			set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
			set @YearPeriode = year(@Date);
			set @Month = month(@Date);
			set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
			end;
		end;
	else if ((@LastDay != 'Saturday' and @LastDay != 'Sunday') and @Month = 12) begin
			if(@SumOfFirstWeekNextYear = 1 and (select top 1 Date from TblM_Date where Year = (@Year+1) and Month = 1 and WeekDayName = 'Saturday' order by Date asc) is not null) begin
				set @Date = (select top 1 Date from TblM_Date where Year = (@Year+1) and Month = 1 and WeekDayName = 'Saturday' order by Date asc)
				set @YearPeriode = year(@Date);
				set @Month = month(@Date);
				set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @YearPeriode and Month = @Month order by Date asc)
				end;
			else begin	
				set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
				set @YearPeriode = year(@Date);
				set @Month = month(@Date);
				set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
				end;
			end;
	else if (@LastDay = 'Sunday') begin
				set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month order by Date desc)
				set @YearPeriode = year(@Date);
				set @Month = month(@Date);
				set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month order by Date desc);	
				end;
	else begin 
		set @Date = (select top 1 Date from TblM_Date where Year = @Year  and Month =  @Month and WeekDayName = 'Saturday' order by Date desc)
		set @YearPeriode = year(@Date);
		set @Month = month(@Date);
		set @Week = (select top 1 WeekOfMonth from TblM_Date where Year = @Year and Month = @Month and WeekDayName = 'Saturday' order by Date desc);	
		end;

	set @DateLastWeek = dateadd(day,-7,@Date);
	set @YearLastWeek = Year(@DateLastWeek);
	set @MonthLastWeek = Month(@DateLastWeek);
	set @LastWeek = (select top 1 WeekOfMonth from TblM_Date where Year = @YearLastWeek and Month = @MonthLastWeek and Day = Day(@DateLastWeek) order by Date desc);

	
	select Distinct 
		bb.IDProjectHeader,
		bb.IDProgram,
		bb.ProgramName,
		bb.ProgramNo,
		bb.DepartmentCode as Pic,
		bb.ProjectNo,
		bb.ProjectName,
		case
			when y.CompletePercentage is not null then
			Round(
			(
				select TOP 1 PlanPercentage
				from TblT_MPPProjectPlanPercentage tmpp2 
				where 
				tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
				and tmpp2.TaskId = tmpd.TaskId
				and cast(cast(tmpp2.Year as varchar(4)) + '-' + cast(tmpp2.Month as varchar(2)) + '-' + cast(tmpp2.Week as varchar(1)) as date) <= cast(cast(y.Year as varchar(4)) + '-' + cast(y.Month as varchar(2)) + '-' + cast(y.Week as varchar(1)) as date)
				and tmpp2.isActive = 1
				order by tmpp2.Year desc,tmpp2.Month desc,tmpp2.Week desc 
			),0)
			else round(Isnull(tmpp.PlanPercentage,0),0) 
		end as Target,
		round(IsNull(x.CompletePercentage,0),0) as Realisasi,
		round(
				Case 
					when ISNULL(tmpp.PlanPercentage,0) = 0 then 0
					when
					y.CompletePercentage is not null then
					Round(10000/
					(
						select TOP 1 PlanPercentage
						from TblT_MPPProjectPlanPercentage tmpp2 
						where 
						tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
						and tmpp2.TaskId = tmpd.TaskId
						and cast(cast(tmpp2.Year as varchar(4)) + '-' + cast(tmpp2.Month as varchar(2)) + '-' + cast(tmpp2.Week as varchar(1)) as date) <= cast(cast(y.Year as varchar(4)) + '-' + cast(y.Month as varchar(2)) + '-' + cast(y.Week as varchar(1)) as date)
						and tmpp2.isActive = 1
						order by tmpp2.Year desc,tmpp2.Month desc,tmpp2.Week desc 
					),0)
					else (
							IsNull(x.CompletePercentage,0) / IsNull(tmpp.PlanPercentage,0) ) * 100
				end
		,0) as Pencapaian,
		tpc.Description as Kendala,
		tpc.Remarks as Aksi,
		cast(tmpd.EndDate as Date) as TargetFinished,
		Case
			when round(IsNull(x.CompletePercentage,0),0) >= 100 then
				(
					select TOP 1 
						case 
							when Try_Convert(date,tmrd.ActualEnd,105) is not null then Convert(date,tmrd.ActualEnd,105)
							when Try_Convert(date,tmrd.ActualEnd,23) is not null then Convert(date,tmrd.ActualEnd,23)
							when Try_Convert(date,tmrd.ActualEnd,100) is not null then Convert(date,tmrd.ActualEnd,100)
						End 
						ActualEnd
					from TblT_MPPProjectRealDetail tmrd
					JOIN TblT_MPPProjectPlanDetail tmpdd on tmpdd.IDMPPProjectPlanDetail = tmrd.IDMPPProjectPlanDetail
					where tmpdd.IsActive = 1 and tmrd.ActualEnd is not null and tmpdd.ParentId != 1 and tmrd.IsActive = 1 and tmpdd.ProjectHeaderId = bb.IDProjectHeader
					order by ActualEnd desc
				) 
			else null
		end as DateFinished
	from
	(
		select Top 1 with ties
			a.IDProjectHeader,
			a.IDProgram,
			a.ProgramName,
			a.ProgramNo,
			a.DepartmentCode as Pic,
			a.ProjectNo,
			a.ProjectName,
			a.DepartmentCode
		from TblD_ListProject a
		where 
			a.IsActive = 1
			and a.IsTransformasi = 1
			and (@Year between a.StartYear and a.EndYear)
			and a.DateDownload <= @Date
			--and a.IDProjectStatus not in( 8, 9, 13)
		order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)
	)bb
	JOIN TblT_ProjectHeader tph on bb.IDProjectHeader = tph.IDProjectHeader
	JOIN Tblm_Project tp on tp.IDProject = tph.IDProject
	JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderId = bb.IDProjectHeader
	join
	(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
		from TblT_MPPProjectPlanPercentage
		where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)--Month <= @Month and Year <= @Year
		and isActive = 1 
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
	JOIN (
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage,CreatedDate
		from TblT_MPPProjectRealPercentage
		where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
		and isActive = 1
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
	LEFT JOIN (
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
		from TblT_MPPProjectRealPercentage
		where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearPeriode as varchar(5)) + '-' + Cast(@month as varchar(3)) + '-' + Cast(@week as varchar(2)) as date)
		and isActive = 1 and CompletePercentage >= 100
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year asc,Month asc,Week asc)
	) y on tmpd.ProjectHeaderID = y.IDProjectHeader and tmpd.TaskID = y.TaskID
	LEFT JOIN 
	(
	select TOP 1 with ties
	 IDProjectHeader,Description,Remarks from TblT_ProjectConstraint where IsActive = 1 and status = 'Ongoing'
	 order by row_number() over (partition by IDProjectHeader order by CreatedDAte Desc )
	) tpc on tpc.IDProjectHeader = bb.IDProjectHeader
	JOIN (
		select TOP 1 with ties IDProjectHeader,IDProjectStatus
		from TblD_ListProject where Year(DateDownload) = @Year and DateDownload <= @Date and IsActive = 1
		order by row_number() over (partition by IDProjectHeader order by DateDownload desc)
	) tps on tph.IDProjectHeader = tps.IDProjectHeader
	where
	tmpd.IsActive = 1
	and tmpd.StartDate <= @Date
	and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
	and tmpd.ParentId = 0
	and tp.IsActive = 1
	and tph.IsActive = 1
	and tps.IDProjectStatus in (1,2,4,12,7,10, 11,12)
	and 1 = (
	case
		when tp.Parent is null then 
			case
				when (select Top 1 Parent from Tblm_Project where Parent = tp.IDProject and IsActive = 1) is not null then
					case
						when (select TOP 1 IDProjectStatus from Tbld_ListProject where IDProjectHeader = tmpd.ProjectHeaderId and IsActive = 1 and DateDownload <= @Date order by DateDownload desc) = 13 then 0
						when (select TOP 1 IDProjectStatus from Tbld_ListProject where IDProjectHeader = tmpd.ProjectHeaderId and IsActive = 1 and DateDownload <= @Date order by DateDownload desc) = 7
							and (select TOP 1 IDProjectStatus from Tbld_ListProject where IDProjectHeader = tmpd.ProjectHeaderId and IsActive = 1 order by DateDownload desc) = 13 then 0
						else 1
					end
				else 1
			end
		else
			case
				when (
						select TOP 1 tlp.IDProjectStatus from Tblm_Project tpp
						JOIN Tblt_ProjectHeader tphh on tpp.Parent = tphh.IDProject
						JOIN Tbld_ListProject tlp on tlp.IDProjectHeader = tphh.IDProjectHeader
						where tpp.IsActive = 1 and tphh.IsActive = 1 and tpp.IDProject = tp.IDProject
						and tlp.IsActive = 1 and DateDownload <= @Date order by DateDownload desc
				) = 13 then 1
				when (
						select TOP 1 tlp.IDProjectStatus from Tblm_Project tpp
						JOIN Tblt_ProjectHeader tphh on tpp.Parent = tphh.IDProject
						JOIN Tbld_ListProject tlp on tlp.IDProjectHeader = tphh.IDProjectHeader
						where tpp.IsActive = 1 and tphh.IsActive = 1 and tpp.IDProject = tp.IDProject
						and tlp.IsActive = 1 and DateDownload <= @Date order by DateDownload desc
				) = 7 and
				 (
						select TOP 1 tlp.IDProjectStatus from Tblm_Project tpp
						JOIN Tblt_ProjectHeader tphh on tpp.Parent = tphh.IDProject
						JOIN Tbld_ListProject tlp on tlp.IDProjectHeader = tphh.IDProjectHeader
						where tpp.IsActive = 1 and tphh.IsActive = 1 and tpp.IDProject = tp.IDProject
						and tlp.IsActive = 1  order by DateDownload desc
				) = 13 then 1
				else 0
			end
	end
	);

	select Distinct 
		bb.IDProjectHeader,
		case
			when y.CompletePercentage is not null then
			Round(
			(
				select TOP 1 PlanPercentage
				from TblT_MPPProjectPlanPercentage tmpp2 
				where 
				tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
				and tmpp2.TaskId = tmpd.TaskId
				and cast(cast(tmpp2.Year as varchar(4)) + '-' + cast(tmpp2.Month as varchar(2)) + '-' + cast(tmpp2.Week as varchar(1)) as date) <= cast(cast(y.Year as varchar(4)) + '-' + cast(y.Month as varchar(2)) + '-' + cast(y.Week as varchar(1)) as date)
				and tmpp2.isActive = 1 
				order by tmpp2.Year desc,tmpp2.Month desc,tmpp2.Week desc
			),0)
			else round(Isnull(tmpp.PlanPercentage,0),0) 
		end as Target,
		round(IsNull(x.CompletePercentage,0),0) as Realisasi,
		round(
				Case 
					when ISNULL(tmpp.PlanPercentage,0) = 0 then 0
					when
					y.CompletePercentage is not null then
					Round(10000/
					(
						select TOP 1 PlanPercentage
						from TblT_MPPProjectPlanPercentage tmpp2 
						where 
						tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
						and tmpp2.TaskId = tmpd.TaskId
						and cast(cast(tmpp2.Year as varchar(4)) + '-' + cast(tmpp2.Month as varchar(2)) + '-' + cast(tmpp2.Week as varchar(1)) as date) <= cast(cast(y.Year as varchar(4)) + '-' + cast(y.Month as varchar(2)) + '-' + cast(y.Week as varchar(1)) as date)
						and tmpp2.isActive = 1 
						order by tmpp2.Year desc,tmpp2.Month desc,tmpp2.Week desc
					),0)
					else (
							IsNull(x.CompletePercentage,0) / IsNull(tmpp.PlanPercentage,0) ) * 100
				end
		,0) as Pencapaian
	from
	(
		select Top 1 with ties
			a.IDProjectHeader
		from TblD_ListProject a
		where 
			a.IsActive = 1
			and (@YearLastWeek between a.StartYear and a.EndYear)
			and a.DateDownload <= @DateLastWeek
			--and a.IDProjectStatus not in(8, 9, 13)
			and a.IsTransformasi = 1
		order by row_number() over (partition by a.IDProjectHeader order by a.DateDownload desc)
	)bb
	JOIN TblT_MPPProjectPlanDetail tmpd on tmpd.ProjectHeaderId = bb.IDProjectHeader
	JOIN TblT_ProjectHeader tph on bb.IDProjectHeader = tph.IDProjectHeader
	JOIN Tblm_Project tp on tp.IDProject = tph.IDProject
	join
	(
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
		from TblT_MPPProjectPlanPercentage
		where cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearLastWeek as varchar(5)) + '-' + Cast(@MonthLastWeek as varchar(3)) + '-' + Cast(@LastWeek as varchar(2)) as date)--Month <= @Month and Year <= @Year
		and isActive = 1 
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
	JOIN (
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
		from TblT_MPPProjectRealPercentage
		where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearLastWeek as varchar(5)) + '-' + Cast(@MonthLastWeek as varchar(3)) + '-' + Cast(@LastWeek as varchar(2)) as date)
		and isActive = 1
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
	) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
	LEFT JOIN (
		select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
		from TblT_MPPProjectRealPercentage
		where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= cast(cast(@YearLastWeek as varchar(5)) + '-' + Cast(@MonthLastWeek as varchar(3)) + '-' + Cast(@LastWeek as varchar(2)) as date)
		and isActive = 1 and CompletePercentage >= 100
		order by row_number() over (partition by IDProjectHeader,TaskID order by Year asc,Month asc,Week asc)
	) y on tmpd.ProjectHeaderID = y.IDProjectHeader and tmpd.TaskID = y.TaskID
	JOIN (
		select TOP 1 with ties IDProjectHeader,IDProjectStatus
		from TblD_ListProject where Year(DateDownload) = @Year and DateDownload <= @Date and IsActive = 1
		order by row_number() over (partition by IDProjectHeader order by DateDownload desc)
	) tps on tph.IDProjectHeader = tps.IDProjectHeader
	where
	tmpd.IsActive = 1
	and tmpd.StartDate <= @DateLastWeek
	and (Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year)
	and tmpd.ParentId = 0
	and tp.IsActive = 1
	and tph.IsActive = 1
	and tps.IDProjectStatus in (1,2,4,7,10, 11,12)
	order by bb.IDProjectHeader

END



GO
