USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_DateRange_To_Table]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Ufn_DateRange_To_Table] ( @minDate_Str NVARCHAR(30), @maxDate_Str NVARCHAR(30))

-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
AS

begin

    DECLARE @minDate DATETIME, @maxDate DATETIME
    SET @minDate = CONVERT(date, @minDate_Str)
    SET @maxDate = CONVERT(date, @maxDate_Str)


    INSERT INTO @Result(DateString, DateNameString )
    --SELECT CONVERT(NVARCHAR(10),@minDate,103), CONVERT(NVARCHAR(30),DATENAME(dw,@minDate))
	SELECT @minDate, CONVERT(NVARCHAR(30),DATENAME(dw,@minDate))

    WHILE @maxDate > @minDate
    BEGIN
        --SET @minDate = (SELECT DATEADD(dd,1,@minDate))
        --INSERT INTO @Result(DateString, DateNameString )
        --SELECT CONVERT(NVARCHAR(10),@minDate,103), CONVERT(NVARCHAR(30),DATENAME(dw,@minDate))
		
		SET @minDate = (SELECT DATEADD(dd,1,@minDate))
        INSERT INTO @Result(DateString, DateNameString )
        SELECT @minDate, CONVERT(NVARCHAR(30),DATENAME(dw,@minDate))

    END

    return

end  
GO
