USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterKategoriProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[Usp_Get_MasterKategoriProject]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select 
	 row_number() OVER (
			ORDER BY CASE 
					WHEN a.UpdatedDate IS NOT NULL
						THEN a.UpdatedDate
					ELSE a.CreatedDate
					END DESC
			) AS NoUrut
	  ,a.IDKategoriProject
      ,a.KategoriName
      ,a.Description
      ,a.IsActive
      ,a.CreatedDate
      ,a.CreatedBy
	  ,CASE 
			WHEN a.UpdatedBy IS NULL
				THEN a.CreatedBy
			ELSE a.UpdatedBy
			END AS UpdatedBy
		,CASE 
			WHEN a.UpdatedDate IS NULL
				THEN a.CreatedDate
			ELSE a.UpdatedDate
			END AS UpdatedDate
		,cast(day(CASE 
					WHEN a.UpdatedDate IS NULL
						THEN a.CreatedDate
					ELSE a.UpdatedDate
					END) AS VARCHAR(4)) + ' ' + [dbo].[Ufn_GetMonthName_Indonesia](month(CASE 
					WHEN a.UpdatedDate IS NULL
						THEN a.CreatedDate
					ELSE a.UpdatedDate
					END)) + ' ' + cast(year(CASE 
					WHEN a.UpdatedDate IS NULL
						THEN a.CreatedDate
					ELSE a.UpdatedDate
					END) AS VARCHAR(4)) AS UpdatedDateString
	from TblM_KategoriProject a
	where isactive=1

END




GO
