USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterStrategicObjective_ByID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description: Mendapatkan master SO berdasarkan ID
-- ============================================= 
CREATE PROCEDURE [dbo].[Usp_Get_MasterStrategicObjective_ByID] 
  -- Add the parameters for the stored procedure here 
  @IDStrategicObjective INT 
AS 
  BEGIN 
      -- SET NOCOUNT ON added to prevent extra result sets from 
      -- interfering with SELECT statements. 
      SET nocount ON; 

      -- Insert statements for procedure here 
      SELECT Row_number() 
               OVER ( 
                 ORDER BY updateddate DESC) AS NoUrut, 
             * 
      FROM   TblM_StrategicObjective 
      WHERE  --isactive = 1 
             --AND 
			 IDStrategicObjective = @IDStrategicObjective; 
  END 




GO
