USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[FWA_TaskMan_Rutin_Save]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FWA_TaskMan_Rutin_Save]
	@RENCANAKEGIATAN as nvarchar(MAX)
	,@DESCRIPTION as nvarchar(MAx)
	,@OBJECT as nvarchar(MAX)
	,@PERCENTRKATFINAL_Q1 as nvarchar(MAX)
	,@RKATFINAL_Q1 as nvarchar(max)
	,@PERCENTRKATFINAL_Q2 as nvarchar(MAX)
	,@RKATFINAL_Q2 as nvarchar(max)
	,@PERCENTRKATFINAL_Q3 as nvarchar(MAX)
	,@RKATFINAL_Q3 as nvarchar(max)
	,@PERCENTRKATFINAL_Q4 as nvarchar(MAX)
	,@RKATFINAL_Q4 as nvarchar(max)
	,@WORKPLAN as nvarchar(max)
	,@STRATEGICOBJECT as nvarchar(max)
	,@tahun as varchar(4)
AS	            
BEGIN	
		INSERT INTO FWA_TaskMan_Rutin
			( 
				RENCANAKEGIATAN,
				DESCRIPTION,
				OBJECT,
				PERCENTRKATFINAL_Q1,
				RKATFINAL_Q1,
				PERCENTRKATFINAL_Q2,
				RKATFINAL_Q2,
				PERCENTRKATFINAL_Q3,
				RKATFINAL_Q3,
				PERCENTRKATFINAL_Q4,
				RKATFINAL_Q4,
				WORKPLAN,
				STRATEGICOBJECT,
				TAHUN,
				ISUSED,
				CREATEDATE,
				CREATEBY
			)
			VALUES  (
			@RENCANAKEGIATAN
			,@DESCRIPTION
			,@OBJECT
			,@PERCENTRKATFINAL_Q1
			,@RKATFINAL_Q1
			,@PERCENTRKATFINAL_Q2
			,@RKATFINAL_Q2
			,@PERCENTRKATFINAL_Q3
			,@RKATFINAL_Q3
			,@PERCENTRKATFINAL_Q4
			,@RKATFINAL_Q4
			,@WORKPLAN
			,@STRATEGICOBJECT
			,@tahun
			,0
			,CURRENT_TIMESTAMP
			,'SYSTEM'
			)
			SELECT 
					ID, RENCANAKEGIATAN					
					FROM FWA_TaskMan_Rutin
					WHERE ID = SCOPE_IDENTITY()
	
END
GO
