USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_PJSApproval]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Usp_Insert_PJSApproval]
	-- Add the parameters for the stored procedure here
	@ID int = null,
	@ExistingUsername nvarchar(50) = '-',
	@PJSUsername nvarchar(50) = '-',
	@IDRoleGroup int = null,
	@StartDate datetime = null,
	@EndDate datetime = null,
	@PersonalNumber nvarchar(50) = null,
	@Note nvarchar(max) = '-',
	@TypeTransaction nvarchar(50) = ''
as
begin
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	set nocount on;

    -- Insert statements for procedure here
	begin try
		begin transaction;
		
		declare @ExistingName nvarchar(50), @ExistingPersonalNumber nvarchar(50), @ExistingPositionCode nvarchar(50);
		declare @PJSName nvarchar(50), @PJSPersonalNumber nvarchar(50), @PJSPositionCode nvarchar(50);
		declare @Username nvarchar(50);

		select top 1 @ExistingName = a.Nama, @ExistingPersonalNumber = a.PersonalNumber, @ExistingPositionCode = a.Posisi
		from TblDW_Employee a
			inner join TblDW_Usergroup b on a.PersonalNumber = b.Usergroup_Pernr and b.User_LoginName = @ExistingUsername;
		
		select top 1 @PJSName = a.Nama, @PJSPersonalNumber = a.PersonalNumber, @PJSPositionCode = a.Posisi
		from TblDW_Employee a
			inner join TblDW_Usergroup b on a.PersonalNumber = b.Usergroup_Pernr and b.User_LoginName = @PJSUsername;

		select top 1 @Username = User_LoginName from TblDW_Usergroup where Usergroup_Pernr = @PersonalNumber;

		if(@TypeTransaction = 'Insert')begin
			
			if exists(select ID from TblT_PJSApproval where IsActive = 1 and ExistingUsername = @ExistingUsername) begin
				select 'F|User ' + @ExistingUsername + ' sudah diwakilkan oleh ' + (select top 1 PJSUsername from TblT_PJSApproval where IsActive = 1 and ExistingUsername = @ExistingUsername);
			end
			else begin
			
				insert into TblT_PJSApproval(
						ExistingName,
						ExistingUsername,
						ExistingPersonalNumber,
						ExistingPositionCode,
						PJSName,
						PJSUsername,
						PJSPersonalNumber,
						PJSPositionCode,
						IDRoleGroup,
						StartDate,
						EndDate,
						Note,
						CreatedDate,
						CreatedBy,
						IsActive
					) values (
						@ExistingName,
						@ExistingUsername,
						@ExistingPersonalNumber,
						@ExistingPositionCode,
						@PJSName,
						@PJSUsername,
						@PJSPersonalNumber,
						@PJSPositionCode,
						@IDRoleGroup,
						@StartDate,
						@EndDate,
						@Note,
						getdate(),
						@Username,
						1
					);

				insert into TblH_PJS(
					ExistingUsername,
					PJSUsername,
					StartDate,
					EndDate,
					Action,
					CreatedDate,
					CreatedBy
				)values(
					@ExistingUsername,
					@PJSUsername,
					@StartDate,
					@EndDate,
					'Insert',
					getdate(),
					@Username
				);

				select 'S|Sukses';

			end;

		end
		else if(@TypeTransaction = 'Update')begin
			
			update TblT_PJSApproval
			set ExistingName = @ExistingName,
				ExistingUsername = @ExistingUsername,
				ExistingPersonalNumber = @ExistingPersonalNumber,
				ExistingPositionCode = @ExistingPositionCode,
				PJSName = @PJSName,
				PJSUsername = @PJSUsername,
				PJSPersonalNumber = @PJSPersonalNumber,
				PJSPositionCode = @PJSPositionCode,
				IDRoleGroup = @IDRoleGroup,
				StartDate = @StartDate,
				EndDate = @EndDate,
				Note  = @Note,
				UpdatedDate = getdate(),
				UpdatedBy = @Username
			where ID = @ID and IsActive = 1;
			
			insert into TblH_PJS(
				ExistingUsername,
				PJSUsername,
				StartDate,
				EndDate,
				Action,
				CreatedDate,
				CreatedBy
			)values(
				@ExistingUsername,
				@PJSUsername,
				@StartDate,
				@EndDate,
				'Update',
				getdate(),
				@Username
			);

			select 'S|Sukses';
			
		end
		else if(@TypeTransaction = 'Delete')begin
			
			insert into TblH_PJS(
				ExistingUsername,
				PJSUsername,
				StartDate,
				EndDate,
				Action,
				CreatedDate,
				CreatedBy
			)
			select ExistingUsername,
				PJSUsername,
				StartDate,
				EndDate,
				'Non Active',
				getdate(),
				@Username
			from TblT_PJSApproval
			where ID = @ID and IsActive = 1;

			update TblT_PJSApproval
			set IsActive = 0
			where ID = @ID and IsActive = 1;
			
			select 'S|Sukses';

		end
		else begin

			select 'F|Tipe transaksi tidak tersedia';

		end;

		commit;

	end try
	begin catch

		rollback;

		declare @ErrMsg varchar(max), @ErrNum int;

		select @ErrMsg = error_message(), @ErrNum = error_number();

		exec Usp_Insert_ErrorLog 'Usp_Insert_PJSApproval', @ErrNum, @ErrMsg, @Username;

		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;

	end catch;

end;




GO
