USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Check_Milestone]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Usp_Check_Milestone]
	@ProjectHeaderID int ,
	@TaskID int
as
begin

	declare @ProjectHeaderIDRoot int;
	set @ProjectHeaderIDRoot = (select [dbo].[Ufn_GetProjectHeaderRoot](@ProjectHeaderID));
	declare @File int;

	select TaskID
	from TblT_Document Doc
	where Doc.IDDocPhase = 2
		and Doc.IDDocType = 3
		and Doc.IDProjectHeader = @ProjectHeaderIDRoot
		and IsActive = 1;
	
end;




GO
