USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_Project_ExecutionList_Test]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[Ufn_Get_Project_ExecutionList_Test] ()
-- SELECT * FROM [Ufn_Get_Project_ExecutionList] ()
-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
Returns @result TABLE 
(
	IDProject	int,
	IDProjectHeader int,
	ProjectName varchar(max),
	StartDate datetime,
	EndDate datetime,
	TaskID bigint,
	Realisasi float,
	Planning float,
	Pencapaian float,
	IsTransformasi bit,
	LastUpdateBy varchar(20),
	LastUpdateDate datetime
)
AS

begin
DECLARE @year varchar(4) , @month int , @week int

SELECT @year = D.Year , @month = D.Month , @week = D.WeekOfMonth FROM
TblM_Date D
WHERE 
D.Date = CONVERT(Date, GetDATE() - 7)

INSERT INTO @result
SELECT 
DISTINCT
PH.IDProject , PH.IDProjectHeader , PROJ.ProjectName , PPD.StartDate , PPD.EndDate, PPD.TaskID
,
ISNULL(
(
	SELECT TOP 1 CompletePercentage FROM
	TblT_MPPProjectRealPercentage PRP
	where
	PRP.TaskID = PPD.TaskID
	and
	PRP.IDProjectHeader = PH.IDProjectHeader
	and
	PRP.IsActive = '1'
	ORDER BY
	CAST(PRP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(PRP.Month AS Varchar(2)),2) + CAST(PRP.Week as Varchar(1)) DESC
),0) as Realisasi ,
CASE WHEN
Proj.IsTransformasi = '1'
THEN
ISNULL(
(
	SELECT TOP 1 PlanPercentage FROM
	TblT_MPPProjectPlanPercentage PRP
	where
	PRP.TaskID = PPD.TaskID
	and
	PRP.IDProjectHeader = PH.IDProjectHeader
	and
	PRP.IsActive = '1'
	and
	CAST(PRP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(PRP.Month AS Varchar(2)),2) + CAST(PRP.Week as Varchar(1))
	<=
	CAST(@year AS VARCHAR(4)) +  RIGHT('00'+CAST(@month AS Varchar(2)),2) + CAST(@week as Varchar(1))
	ORDER BY
	CAST(PRP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(PRP.Month AS Varchar(2)),2) + CAST(PRP.Week as Varchar(1)) DESC
),0) 
ELSE
ISNULL(
(
	SELECT TOP 1 MAX(PlanPercentage) FROM
	TblT_MPPProjectPlanPercentage PRP
	where
	PRP.TaskID = PPD.TaskID
	and
	PRP.IDProjectHeader = PH.IDProjectHeader
	and
	PRP.IsActive = '1'
	and
	CAST(PRP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(PRP.Month AS Varchar(2)),2)
	<=
	CAST(@year AS VARCHAR(4)) +  RIGHT('00'+CAST(@month AS Varchar(2)),2) 
	GROUP BY PRP.Year , PRP.Week, PRP.Month
	ORDER BY
	CAST(PRP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(PRP.Month AS Varchar(2)),2) + CAST(PRP.Week as Varchar(1)) DESC
),0) 
END
as Planning,
ROUND(
(
( 
	ROUND(
		ISNULL(
			(
				SELECT TOP 1 CompletePercentage FROM
				TblT_MPPProjectRealPercentage PRP
				where
				PRP.TaskID = PPD.TaskID
				and
				PRP.IDProjectHeader = PH.IDProjectHeader
				and
				PRP.IsActive = '1'
				ORDER BY
				CAST(PRP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(PRP.Month AS Varchar(2)),2) + CAST(PRP.Week as Varchar(1)) DESC
			),0)
		  ,0
		) /
	NULLIF(
	ROUND(
		ISNULL(
			(
				SELECT TOP 1 PlanPercentage FROM
				TblT_MPPProjectPlanPercentage PRP
				where
				PRP.TaskID = PPD.TaskID
				and
				PRP.IDProjectHeader = PH.IDProjectHeader
				and
				PRP.IsActive = '1'
				and
				CAST(PRP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(PRP.Month AS Varchar(2)),2) + CAST(PRP.Week as Varchar(1))
				<=
				CAST(@year AS VARCHAR(4)) +  RIGHT('00'+CAST(@month AS Varchar(2)),2) + CAST(@week as Varchar(1))
				ORDER BY
				CAST(PRP.Year AS VARCHAR(4)) +  RIGHT('00'+CAST(PRP.Month AS Varchar(2)),2) + CAST(PRP.Week as Varchar(1)) DESC
			),0)
		,0)
	,0)
) * 100 ),0)
as Pencapaian,
PROJ.IsTransformasi ,
(
	SELECT TOP 1  UG.User_LoginName FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = PH.IDProjectHeader
				AND
				 PEAR.IsApprove = '1'
				AND
				PEAR.IsActive = '1'		
				ORDER BY PEAR.UpdatedDate DESC	
) as LastUpdateBy,
(
	SELECT TOP 1 PEAR.UpdatedDate FROM TblT_ProjectExecutionApprovalRole PEAR
				INNER JOIN
				TblDW_Usergroup UG
				ON
				PEAR.Username = UG.User_LoginName
				INNER JOIN
				TblDW_Employee Em
				ON
				UG.Usergroup_Pernr = Em.PersonalNumber
				WHERE
				 PEAR.IDProjectHeader = PH.IDProjectHeader
				AND
				 PEAR.IsApprove = '1'
				AND
				PEAR.IsActive = '1'		
				ORDER BY PEAR.UpdatedDate DESC	
) as LastUpdateDate
FROM
TblM_Project PROJ
INNER JOIN
TblT_ProjectHeader PH
ON
PROJ.IDProject = PH.IDProject
INNER JOIN 
TblT_MPPProjectPlanDetail PPD
ON
PH.IDProjectHeader = PPD.ProjectHeaderID
AND
PPD.ParentID = 0
AND
PPD.IsActive = '1'
AND
PPD.TaskID = 
(
	SELECT TOP 1 MPD.TaskID
	FROM TblT_MPPProjectPlanDetail MPD
	WHERE 
	MPD.ProjectHeaderID = PH.IDProjectHeader
	and
	MPD.IsActive = '1'
	and 
	MPD.ParentID = 0
	ORDER BY
	TaskID ASC
)
WHERE
PROJ.IsActive = '1'
AND
PH.IDProjectStatus IN ( '2','4' )
--PH.IDProjectHeader IN 
--(
--	SELECT 
--		IDProjectHeader 
--	FROM 
--	TblT_ProjectInitApprovalRole PIAR WHERE 
--	PIAR.Sequence = 1 AND PIAR.IsApprove = 1 AND 
--	PIAR.IsActive = 1 AND PIAR.IsEnabled = 1			
--)


    return

end  
GO
