USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_TransaksiPJSApproval]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Usp_Get_TransaksiPJSApproval]
	-- Add the parameters for the stored procedure here
as
begin
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	set nocount on;

	-- Insert statements for procedure here
	select
		
		row_number() over (order by 
			case
				when UpdatedDate is not null then UpdatedDate
				else CreatedDate
			end
		desc) as NoUrut,
		ID,
		ExistingName,
		ExistingUsername,
		ExistingPersonalNumber,
		ExistingPositionCode,
		PJSName,
		PJSUsername,
		PJSPersonalNumber,
		PJSPositionCode,
		IDRoleGroup,
		
		cast(
			day(
				StartDate
			) as varchar(4)
		) + ' ' + [dbo].[Ufn_GetMonthName_Indonesia](
			month(
				StartDate
			)
		) + ' ' + cast(
			year(
				StartDate
			) as varchar(4)
		) as StartDateString,
		
		cast(
			day(
				EndDate
			) as varchar(4)
		) + ' ' + [dbo].[Ufn_GetMonthName_Indonesia](
			month(
				EndDate
			)
		) + ' ' + cast(
			year(
				EndDate
			) as varchar(4)
		) as EndDateString,

		CreatedBy,
		CreatedDate,

		case 
			when UpdatedBy is null then CreatedBy
			else UpdatedBy
		end as UpdatedBy,

		case 
			when UpdatedDate is null then CreatedDate
			else UpdatedDate
		end as UpdatedDate,

		cast(
			day(
				case
					when UpdatedDate is null then CreatedDate
					else UpdatedDate
				end
			) as varchar(4)
		) + ' ' + [dbo].[Ufn_GetMonthName_Indonesia](
			month(
				case
					when UpdatedDate is null then CreatedDate
					else UpdatedDate
				end
			)
		) + ' ' + cast(
			year(
				case
					when UpdatedDate is null then CreatedDate
					else UpdatedDate
				end
			) as varchar(4)
		) as UpdatedDateString,

		IsActive

	from TblT_PJSApproval
	where IsActive = 1;

end;




GO
