USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_MPPProjectPlanPercentage]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_MPPProjectPlanPercentage](
	[IDMPPProjectPlanPercentage] [bigint] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NULL,
	[TaskID] [bigint] NULL,
	[Week] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[PlanPercentage] [float] NULL,
	[CompletePercentage] [float] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_TblT_MPPProjectPlanPercentage]    Script Date: 07/07/2025 14:26:30 ******/
CREATE NONCLUSTERED INDEX [IX_TblT_MPPProjectPlanPercentage] ON [dbo].[TblT_MPPProjectPlanPercentage]
(
	[IsActive] DESC,
	[Year] DESC,
	[Month] DESC,
	[Week] DESC
)
INCLUDE([IDProjectHeader]) 
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
