USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_ProjectChangesApprovalRole]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_ProjectChangesApprovalRole](
	[IDProjectChangesApprovaRole] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectChangeManagement] [int] NULL,
	[IDRoleGroup] [int] NULL,
	[Sequence] [int] NULL,
	[Username] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
	[PositionCode] [nvarchar](20) NULL,
	[ActiveDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[IsEnabled] [bit] NULL,
	[IsApprove] [bit] NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
