USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_MPPTaskResources]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_MPPTaskResources] AS TABLE(
	[ResourceName] [varchar](50) NULL,
	[ResourceID] [varchar](6) NULL,
	[Email] [varchar](50) NULL
)
GO
