USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[GenerateDashboard]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GenerateDashboard]
	-- Add the parameters for the stored procedure here
	@Date date = null,
	@Year varchar(4) = null,
	@Month int = null,
	@Day int = null,
	@Week int = null
as
begin
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	set nocount on;
	
	
	begin try
	
		begin transaction GenerateDashboard;

		if @Date is null set @Date = getdate();

		declare @DateBeforeTrans date;
		declare @DateBeforeNonTrans date;

		declare @MonthBefore int;
		declare @YearBefore int;

		set @MonthBefore = month(@Date)-1;
		set @YearBefore = year(@Date);
		if(@MonthBefore = 0)begin
			set @MonthBefore = 12;
			set @YearBefore = year(@Date)-1;
		end;

		set @DateBeforeTrans = (select top 1 Date from TblM_Date where WeekDayName = 'Saturday' and Date < @Date order by Date desc);
		set @DateBeforeNonTrans = (select top 1 Date from TblM_Date where WeekDayName = 'Saturday' and Month = @MonthBefore and Year = @YearBefore order by Date desc);
		

		exec Usp_Insert_ListProject @Date;
		--exec Usp_Insert_ListProject @DateBeforeTrans;
		--exec Usp_Insert_ListProject @DateBeforeNonTrans;
		--exec Usp_Insert_Master_ProjectCost 'System.Scheduler';

		commit transaction GenerateDashboard;

		select 'S|Sukses' as Result;

	end try
	begin catch
		--rollback transaction GenerateDashboard;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'GenerateDashboard', @ErrNum, @ErrMsg, 'System';
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg as Result;
		rollback transaction GenerateDashboard;
	end catch;

end;

GO
