USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_SAPRealisasi]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Andre Ibrahim Latief
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_SAPRealisasi]
	@ACCT_CODE		varchar(20),
	@AST_TYP		varchar(20),
	@AUDITTRAIL		varchar(20),
	@CATEGORY		varchar(20),
	@COSTCTR		varchar(20),
	@DRIVER			varchar(20),
	@FLOW			varchar(20),
	@RENCANA_KERJA	varchar(20),
	@RPTCURRENCY	varchar(20),
	@STD_BIAYA		varchar(20),
	@STRAT_OBJ		varchar(20),
	@TIME			varchar(20),
	@SIGNEDDATA		varchar(20)
AS
BEGIN
	DECLARE @errm varchar(max) , @errn int, @count int
	BEGIN TRY
		BEGIN TRANSACTION Realisasi
			
				IF NOT EXISTS ( SELECT ACCT_CODE FROM TblSAP_Realisasi WHERE  ACCT_CODE = @ACCT_CODE
				AND AST_TYP = @AST_TYP
				AND AUDITTRAIL = @AUDITTRAIL
				AND CATEGORY = @CATEGORY
				AND COSTCTR = @COSTCTR
				AND DRIVER = @DRIVER
				AND FLOW = @FLOW
				AND RENCANA_KERJA = @RENCANA_KERJA	
				AND RPTCURRENCY = @RPTCURRENCY
				AND STD_BIAYA = @STD_BIAYA
				AND STRAT_OBJ = @STRAT_OBJ
				AND [TIME] = @TIME 
				AND DateDownload = CONVERT(DATE,GETDATE()) )
				BEGIN
				INSERT INTO 
				TblSAP_Realisasi
				(
					  [DateDownload]
					 ,[ACCT_CODE]
					 ,[AST_TYP]
					 ,[AUDITTRAIL]
					 ,[CATEGORY]
					 ,[COSTCTR]
					 ,[DRIVER]
					 ,[FLOW]
					 ,[RENCANA_KERJA]
					 ,[RPTCURRENCY]
					 ,[STD_BIAYA]
					 ,[STRAT_OBJ]
					 ,[TIME]
					 ,[SIGNEDDATA]
					 ,[CreatedDate]
					 ,[CreatedBy]
				)
				VALUES
				(
					  CONVERT(date,GETDATE())  ,
					  @ACCT_CODE			   ,
					  @AST_TYP				   ,
					  @AUDITTRAIL			   ,
					  @CATEGORY				   ,
					  @COSTCTR				   ,
					  @DRIVER				   ,
					  @FLOW					   ,
					  @RENCANA_KERJA		   ,
					  @RPTCURRENCY			   ,
					  @STD_BIAYA			   ,
					  @STRAT_OBJ			   ,
					  @TIME					   ,
					  @SIGNEDDATA			   ,
					  GETDATE()                ,
					  'System'		
				)			 	
					SELECT 'Success Inserting SAP Realisasi  VALUE= ' + @SIGNEDDATA +' AND ACCT_CODE = '+ @ACCT_CODE +' AND AST_TYP = '+ @AST_TYP +' AND AUDITTRAIL = '+ @AUDITTRAIL +' AND CATEGORY = '+ @CATEGORY +' AND COSTCTR = '+ @COSTCTR +' AND DRIVER = '+ @DRIVER +' AND FLOW = '+ @FLOW +' AND RENCANA_KERJA = '+ @RENCANA_KERJA	 +' AND RPTCURRENCY = '+ @RPTCURRENCY +' AND STD_BIAYA = '+ @STD_BIAYA +' AND STRAT_OBJ = '+ @STRAT_OBJ +' AND [TIME] = '+ @TIME +''

				END
				ELSE				
				BEGIN
					UPDATE TblSAP_Realisasi
					SET 
					 CreatedDate = GETDATE()
					, SIGNEDDATA = @SIGNEDDATA
					WHERE 
					 ACCT_CODE = @ACCT_CODE
						AND AST_TYP = @AST_TYP
						AND AUDITTRAIL = @AUDITTRAIL
						AND CATEGORY = @CATEGORY
						AND COSTCTR = @COSTCTR
						AND DRIVER = @DRIVER
						AND FLOW = @FLOW
						AND RENCANA_KERJA = @RENCANA_KERJA	
						AND RPTCURRENCY = @RPTCURRENCY
						AND STD_BIAYA = @STD_BIAYA
						AND STRAT_OBJ = @STRAT_OBJ
						AND [TIME] = @TIME
						AND DateDownload = CAST(GETDATE() AS DATE)
					SELECT 'Success Update SAP Realisasi  VALUE= ' + @SIGNEDDATA +' AND ACCT_CODE = '+ @ACCT_CODE +' AND AST_TYP = '+ @AST_TYP +' AND AUDITTRAIL = '+ @AUDITTRAIL +' AND CATEGORY = '+ @CATEGORY +' AND COSTCTR = '+ @COSTCTR +' AND DRIVER = '+ @DRIVER +' AND FLOW = '+ @FLOW +' AND RENCANA_KERJA = '+ @RENCANA_KERJA	 +' AND RPTCURRENCY = '+ @RPTCURRENCY +' AND STD_BIAYA = '+ @STD_BIAYA +' AND STRAT_OBJ = '+ @STRAT_OBJ +' AND [TIME] = '+ @TIME +''

				END
		
		COMMIT TRANSACTION Realisasi
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION Realisasi			
		SELECT @errm = ERROR_MESSAGE(), @errn = ERROR_NUMBER()

		EXEC Usp_Insert_ErrorLog 'Usp_Insert_SAPRealisasi' , @errn , @errm , 'System'

		SELECT 'Error Inserting Realisasi With ACCT_CODE : ' + @ACCT_CODE
	END CATCH
END




GO
