USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetPergeseranAnggaranPerProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetPergeseranAnggaranPerProject] -- select [dbo].[Ufn_GetPergeseranAnggaranPerProject]('38')
(
	-- Add the parameters for the function here
	@IDProjectHeader VARCHAR(20)
)
RETURNS DECIMAL(30,0)
AS
BEGIN

	declare @Result decimal(30,0);

	set @Result = (
		select top 1 sum(cast(isnull(SIGNEDDATA, 0) as numeric(30,0)))
		from TblT_ProjectHeader a
			left join TblT_ProjectRKAT b on a.IDProjectHeader = b.IDProjectHeader and b.IsActive = 1 
			left join TblSAP_MasterRKAT c on b.IDSAPMasterRKAT = c.IDSAPMasterRKAT and c.ACTIVE = 'Y' and c.YEAR != 'TETA'
			left join TblSAP_Pergeseran d on c.IDSAP = d.RENCANA_KERJA
		where a.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader
		group by d.DateDownload
		order by d.DateDownload desc
	);

	return @Result;

END

-- 6.523.799.200
GO
