USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_ProjectEksekusi_OL]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Usp_Insert_ProjectEksekusi_OL] 
	 @dtType Udt_MPPTaskDetailReal_Rev3 READONLY
	,@ProjectHeaderID INT
	,@PersonNumber VARCHAR(50)
	,@dtConstraint [Udt_ProjectConstrain_Rev3] READONLY
	,@Status VARCHAR(20)
	,@Periode VARCHAR(10)
	,@dtApproval Udt_ProjectExecutionApprovalRole READONLY
	,@Year VARCHAR(4) = NULL
	,@Month INT = NULL
	,@Week INT = NULL
AS
BEGIN
	DECLARE @username VARCHAR(30)

	SELECT @username = User_LoginName
	FROM TblDW_Usergroup
	WHERE Usergroup_Pernr = @PersonNumber

	DECLARE @Errm VARCHAR(max)
		,@Errn INT
	DECLARE @dtTemp TABLE (
		[row] INT NULL
		,[IDProjectHeader] [int] NULL
		,[IDRoleGroup] [int] NULL
		,[Sequence] [int] NULL
		,[Username] [varchar](30) NULL
		,[Email] [varchar](50) NULL
		,[PositionCode] [varchar](20) NULL
		,[Periode] [varchar](12) NULL
		,[ActiveDate] [varchar](max) NULL
		,[EndDate] [varchar](max) NULL
		,[IsEnabled] [int] NULL
		)

	BEGIN TRY
		BEGIN TRANSACTION Eksekusi

		INSERT INTO @dtTemp
		SELECT ROW_NUMBER() OVER (
				ORDER BY [PositionCode] DESC
				)
			,[IDProjectHeader]
			,[IDRoleGroup]
			,[Sequence]
			,[Username]
			,[Email]
			,[PositionCode]
			,[Periode]
			,[ActiveDate]
			,CASE WHEN [EndDate] = NULL THEN GETDATE() ELSE [EndDate]END
			,[IsEnabled]
		FROM @dtApproval

		IF @Status = 'SAVE'
		BEGIN
			/*
			Update Percent Complete
		*/
			IF EXISTS (
					SELECT *
					FROM @dtConstraint
					)
			BEGIN
				IF EXISTS (
						SELECT *
						FROM TblT_ProjectConstraint
						WHERE IDProjectHeader = @ProjectHeaderID
						)
				BEGIN
					UPDATE TblT_ProjectConstraint
					SET IsActive = '0'
					WHERE IDProjectHeader = @ProjectHeaderID
				END

				INSERT INTO TblT_ProjectConstraint (
					[IDProjectHeader]
					,[IDConstraintType]
					,[Description]
					,[Problem]
					,[Remarks]
					,[CreatedDate]
					,[CreatedBy]
					,[IsActive]
					,[Status]
					,[Mitigasi]
					)
				SELECT 
					@ProjectHeaderID
					,dtC.[IDProjectHeader]-- NOTE's INI Salah Penamaan Seharunya IDConstrain Type
					,dtC.Description
					,dtC.Problem
					,dtC.Remarks
					,GETDATE()
					,@username
					,'1'
					,dtC.Status
					,dtC.Mitigasi
				FROM @dtConstraint dtC
			END
			else begin
				UPDATE TblT_ProjectConstraint SET IsActive = '0' WHERE IDProjectHeader = @ProjectHeaderID
			end

			MERGE INTO [dbo].[TblT_MPPProjectRealDetail] AS target
				USING @dtType AS source
					ON  
					target.[IDMPPProjectPlanDetail]		= source.IDPlanning	
					AND target.[Month]		= @Month	
					AND target.[Year]		= @Year
					AND target.[Week]		= @Week
					AND target.[TaskID]		= source.taskID 
				WHEN MATCHED THEN 
					UPDATE SET 
					target.PercentageComplete = source.taskCompleted,
					target.IsSubmit = '1' ,
					target.UpdatedBy = @username, 
					target.[UpdatedDate] = GETDATE(),
					target.[Notes] = source.taskNotes
				WHEN NOT MATCHED BY TARGET THEN
				INSERT 
					(
						[IDMPPProjectPlanDetail]
						,[Date]
						,[ParentID]
						,[TaskID]
						,[TaskGUID]
						,[TaskName]
						,[StartDate]
						,[EndDate]
						,[Duration]
						,[Notes]
						,[PercentageComplete]
						,[OutlineLevel]
						,[OutlineNumber]
						,[IsMilestone]
						,[CreatedDate]
						,[CreatedBy]
						,[IsSubmit]
						,[IsApprove]
						,[IsActive]
						,Year
						,Month
						,Week
						,[ActualStart]
						,[ActualEnd]
					)
					VALUES 
					(
						source.IDPlanning
						,CONVERT(DATE, GetDate())
						,source.taskParent
						,source.taskID
						,source.taskGUID
						,source.taskName
						,source.taskStart
						,source.taskEnd
						,source.taskDuration
						,source.taskNotes
						,source.taskCompleted
						,source.taskOutlineLevel
						,source.taskOutlineNumber
						,source.taskType
						,GETDATE()
						,@username
						,'0'
						,'0'
						,'1'
						,CASE 
							WHEN @Year IS NULL
								THEN YEAR(GETDATE())
							ELSE @Year
							END
						,CASE 
							WHEN @Month IS NULL
								THEN MONTH(GETDATE())
							ELSE @Month
							END
						,CASE 
							WHEN @Week IS NULL
								THEN datepart(day, datediff(day, 0, GETDATE()) / 7 * 7) / 7 + 1
							ELSE @Week
							END
						, source.taskActual_Start
						, source.taskActual_End
					);	

			--INSERT INTO TblT_MPPProjectRealDetail (
			--	[IDMPPProjectPlanDetail]
			--	,[Date]
			--	,[ParentID]
			--	,[TaskID]
			--	,[TaskGUID]
			--	,[TaskName]
			--	,[StartDate]
			--	,[EndDate]
			--	,[Duration]
			--	,[Notes]
			--	,[PercentageComplete]
			--	,[OutlineLevel]
			--	,[OutlineNumber]
			--	,[IsMilestone]
			--	,[CreatedDate]
			--	,[CreatedBy]
			--	,[IsSubmit]
			--	,[IsApprove]
			--	,[IsActive]
			--	,Year
			--	,Month
			--	,Week
			--	,ActualStart
			--	,ActualEnd
			--	)
			--SELECT dtT.IDPlanning
			--	,CONVERT(DATE, GetDate())
			--	,dtT.taskParent
			--	,dtT.taskID
			--	,dtT.taskGUID
			--	,dtT.taskName
			--	,dtT.taskStart
			--	,dtT.taskEnd
			--	,dtT.taskDuration
			--	,dtT.taskNotes
			--	,dtT.taskCompleted
			--	,dtT.taskOutlineLevel
			--	,dtT.taskOutlineNumber
			--	,dtT.taskType
			--	,GETDATE()
			--	,@username
			--	,'0'
			--	,'0'
			--	,'1'
			--	,CASE 
			--		WHEN @Year IS NULL
			--			THEN YEAR(GETDATE())
			--		ELSE @Year
			--		END
			--	,CASE 
			--		WHEN @Month IS NULL
			--			THEN MONTH(GETDATE())
			--		ELSE @Month
			--		END
			--	,CASE 
			--		WHEN @Week IS NULL
			--			THEN datepart(day, datediff(day, 0, GETDATE()) / 7 * 7) / 7 + 1
			--		ELSE @Week
			--		END
			--	,dtT.taskActual_Start
			--	,dtT.taskActual_End
			--FROM @dtType dtT

			IF EXISTS (
					SELECT *
					FROM TblT_ProjectExecutionApprovalRole
					WHERE IDProjectHeader = @ProjectHeaderID
						AND Periode = @Periode
					)
			BEGIN
				UPDATE TblT_ProjectExecutionApprovalRole
				SET IsActive = '0'
				WHERE Periode = @Periode
					AND IDProjectHeader = @ProjectHeaderID
			END

			INSERT INTO TblT_ProjectExecutionApprovalRole (
				[IDProjectHeader]
				,[IDRoleGroup]
				,[Sequence]
				,[Username]
				,[Email]
				,[PositionCode]
				,[ActiveDate]
				,[EndDate]
				,[Periode]
				,[CreatedDate]
				,[CreatedBy]
				,[IsEnabled]
				,[IsActive]
				)
			SELECT @ProjectHeaderID
				,[IDRoleGroup]
				,[row]
				,[Username]
				,[Username] + '@lps.go.id'
				,[PositionCode]
				,[ActiveDate]
				,[EndDate]
				,[Periode]
				,GETDATE()
				,@username
				,dtt.IsEnabled
				,'1'
			FROM @dtTemp dtt

			--IF	EXISTS 
			--(
			--	SELECT 
			--		IDProjectHeaderID
			--	FROM
			--		[TblT_ProjectExecutionStatus]
			--	where
			--		IDProjectHeaderID = @ProjectHeaderID 
			--		AND
			--		Periode = @Periode
			--)
			--BEGIN			
			--	UPDATE 
			--	[TblT_ProjectExecutionStatus]
			--	SET
			--		[ProjectStatus] = 'Draft',
			--		UpdateBy = @username,
			--		UpdateDate = GETDATE()
			--	WHERE
			--		IDProjectHeaderID = @ProjectHeaderID 
			--		AND
			--		Periode = @Periode
			--END
			--ELSE
			--BEGIN
			--	INSERT INTO
			--	[TblT_ProjectExecutionStatus]
			--	(
			--		[IDProjectHeaderID],
			--		[ProjectStatus],
			--		[Periode],
			--		[CreatedBy],
			--		[CreatedDate],
			--		[IsActive]
			--	)
			--	VALUES
			--	(
			--		@ProjectHeaderID,
			--		'DRAFT',
			--		@Periode,
			--		@username,
			--		GETDATE(),
			--		'1'
			--	)
			--END

			IF NOT EXISTS
				(
					SELECT IDProjectHeaderID FROM 
					TblT_ProjectExecutionStatus
						WHERE
					[IDProjectHeaderID] = @ProjectHeaderID
					AND
					[Periode] = @Periode
				)
			BEGIN
				INSERT INTO 
				TblT_ProjectExecutionStatus
				(
					[IDProjectHeaderID],
					[ProjectStatus],
					[Periode],
					[CreatedBy],
					[CreatedDate],
					[IsActive]
				)
				VALUES 
				(
					@ProjectHeaderID,
					'Save',
					@Periode,
					@username,
					GETDATE(),
					'1'
				)
			END
			
			SELECT 'S|Success'
		END

		IF @Status = 'SUBMIT'
		BEGIN
			IF EXISTS (
					SELECT *
					FROM @dtConstraint
					)
			BEGIN
				IF EXISTS (
						SELECT *
						FROM TblT_ProjectConstraint
						WHERE IDProjectHeader = @ProjectHeaderID
						)
				BEGIN
					UPDATE TblT_ProjectConstraint
					SET IsActive = '0'
					WHERE IDProjectHeader = @ProjectHeaderID
				END

				INSERT INTO TblT_ProjectConstraint (
					[IDProjectHeader]
					,[IDConstraintType]
					,[Description]
					,[Problem]
					,[Remarks]
					,[CreatedDate]
					,[CreatedBy]
					,[IsActive]
					,[Status]
					,[Mitigasi]
					)
				SELECT @ProjectHeaderID
					,dtC.IDProjectHeader
					,dtC.Description
					,dtC.Problem
					,dtC.Remarks
					,GETDATE()
					,@username
					,'1'
					,dtC.Status
					,dtC.Mitigasi
				FROM @dtConstraint dtC
			END
			else begin
				UPDATE TblT_ProjectConstraint SET IsActive = '0' WHERE IDProjectHeader = @ProjectHeaderID
			end

			--SELECT m.taskCompleted FROM
			--@dtType m
			MERGE INTO [dbo].[TblT_MPPProjectRealDetail] AS target
				USING @dtType AS source
					ON  
					target.[IDMPPProjectPlanDetail]		= source.IDPlanning	
					AND target.[Month]		= @Month	
					AND target.[Year]		= @Year
					AND target.[Week]		= @Week
					AND target.[TaskID]		= source.taskID 
					--AND target.[ActualStart] = source.taskActual_Start
					--AND target.[ActualEnd] = source.taskActual_End
				WHEN MATCHED THEN 
					UPDATE SET 
					target.PercentageComplete = source.taskCompleted,
					target.IsSubmit = '1' ,
					target.UpdatedBy = @username, 
					target.[UpdatedDate] = GETDATE(),
					target.[Notes] = source.taskNotes
				WHEN NOT MATCHED BY TARGET THEN
				INSERT 
					(
						[IDMPPProjectPlanDetail]
						,[Date]
						,[ParentID]
						,[TaskID]
						,[TaskGUID]
						,[TaskName]
						,[StartDate]
						,[EndDate]
						,[Duration]
						,[Notes]
						,[PercentageComplete]
						,[OutlineLevel]
						,[OutlineNumber]
						,[IsMilestone]
						,[CreatedDate]
						,[CreatedBy]
						,[IsSubmit]
						,[IsApprove]
						,[IsActive]
						,Year
						,Month
						,Week
						,[ActualStart]
						,[ActualEnd]
					)
					VALUES 
					(
						source.IDPlanning
						,CONVERT(DATE, GetDate())
						,source.taskParent
						,source.taskID
						,source.taskGUID
						,source.taskName
						,source.taskStart
						,source.taskEnd
						,source.taskDuration
						,source.taskNotes
						,source.taskCompleted
						,source.taskOutlineLevel
						,source.taskOutlineNumber
						,source.taskType
						,GETDATE()
						,@username
						,'1'
						,'0'
						,'1'
						,CASE 
							WHEN @Year IS NULL
								THEN YEAR(GETDATE())
							ELSE @Year
							END
						,CASE 
							WHEN @Month IS NULL
								THEN MONTH(GETDATE())
							ELSE @Month
							END
						,CASE 
							WHEN @Week IS NULL
								THEN datepart(day, datediff(day, 0, GETDATE()) / 7 * 7) / 7 + 1
							ELSE @Week
							END
						, source.taskActual_Start
						, source.taskActual_End
					);

			DECLARE @RoleGroup INT
			DECLARE @usern VARCHAR(30)
			DECLARE @i INT

			--DECLARE cursor_approval CURSOR FOR
			--SELECT IDRoleGroup , Username FROM 
			--TblT_ProjectInitApprovalRole dtT 
			--where IDProjectHeader = @ProjectHeaderID 
			--and IDRoleGroup IN (4,5,6)
			--OPEN cursor_approval  
			--FETCH NEXT FROM cursor_approval   
			--INTO @RoleGroup, @usern ;
			--WHILE @@FETCH_STATUS = 0  
			--BEGIN  
			--		SELECT TOP 1 @i = isNULL(Sequence,0) FROM TblT_ProjectExecutionApprovalRole 
			--		where
			--		IDProjectHeader = @ProjectHeaderID
			--		ORDER by Sequence DESC
			--		DECLARE @Seq int = @i + 1
			--		Insert Into
			--		TblT_ProjectExecutionApprovalRole
			--		(
			--			IDProjectHeader,
			--			IDRoleGroup,
			--			Sequence,
			--			Username,
			--			Email,
			--			PositionCode,
			--			ActiveDate,
			--			EndDate,
			--			Periode,
			--			CreatedDate,
			--			CreatedBy,
			--			IsEnabled,
			--			IsApprove,
			--			IsActive
			--		)
			--		VALUES
			--		(
			--			@ProjectHeaderID,
			--			@RoleGroup,
			--			@Seq,
			--			@usern,
			--			@usern + '@lps.go.id',
			--			null,
			--			GetDate(),
			--			GetDate(),
			--			@Periode,
			--			GetDate(),
			--			@username,
			--			'1',
			--			'1',
			--			'1'
			--		)
			--	FETCH NEXT FROM cursor_approval   
			--	INTO @RoleGroup, @usern ;
			--END   
			--CLOSE cursor_approval;  
			--DEALLOCATE cursor_approval;  
			IF EXISTS (
					SELECT *
					FROM TblT_ProjectExecutionApprovalRole
					WHERE IDProjectHeader = @ProjectHeaderID
						AND Periode = @Periode
					)
			BEGIN
				UPDATE TblT_ProjectExecutionApprovalRole
				SET IsActive = '0'
				WHERE Periode = @Periode
					AND IDProjectHeader = @ProjectHeaderID
			END

			INSERT INTO TblT_ProjectExecutionApprovalRole (
				[IDProjectHeader]
				,[IDRoleGroup]
				,[Sequence]
				,[Username]
				,[Email]
				,[PositionCode]
				,[ActiveDate]
				,[EndDate]
				,[Periode]
				,[CreatedDate]
				,[CreatedBy]
				,[IsEnabled]
				,[IsActive]
				)
			SELECT @ProjectHeaderID
				,[IDRoleGroup]
				,[row]
				,[Username]
				,[Username] + '@lps.go.id'
				,[PositionCode]
				,[ActiveDate]
				,CASE WHEN [EndDate] = NULL THEN GETDATE() ELSE [EndDate]END
				,[Periode]
				,GETDATE()
				,@username
				,dtt.IsEnabled
				,'1'
			FROM @dtTemp dtt

			--IF	EXISTS 
			--(
			--	SELECT 
			--		IDProjectHeaderID
			--	FROM
			--		[TblT_ProjectExecutionStatus]
			--	where
			--		IDProjectHeaderID = @ProjectHeaderID 
			--		AND
			--		Periode = @Periode
			--)
			--BEGIN			
			--	UPDATE 
			--	[TblT_ProjectExecutionStatus]
			--	SET
			--		[ProjectStatus] = 'Active',
			--		UpdateBy = @username,
			--		UpdateDate = GETDATE()
			--	WHERE
			--		IDProjectHeaderID = @ProjectHeaderID 
			--		AND
			--		Periode = @Periode
			--END
			--ELSE
			--BEGIN
			--	INSERT INTO
			--	[TblT_ProjectExecutionStatus]
			--	(
			--		[IDProjectHeaderID],
			--		[ProjectStatus],
			--		[Periode],
			--		[CreatedBy],
			--		[CreatedDate],
			--		[IsActive]
			--	)
			--	VALUES
			--	(
			--		@ProjectHeaderID,
			--		'Active',
			--		@Periode,
			--		@username,
			--		GETDATE(),
			--		'1'
			--	)
			--END

			IF NOT EXISTS
				(
					SELECT IDProjectHeaderID FROM 
					TblT_ProjectExecutionStatus
						WHERE
					[IDProjectHeaderID] = @ProjectHeaderID
					AND
					[Periode] = @Periode
				)
			BEGIN
				INSERT INTO 
				TblT_ProjectExecutionStatus
				(
					[IDProjectHeaderID],
					[ProjectStatus],
					[Periode],
					[CreatedBy],
					[CreatedDate],
					[IsActive]
				)
				VALUES 
				(
					@ProjectHeaderID,
					'Submit',
					@Periode,
					@username,
					GETDATE(),
					'1'
				)
			END
			ELSE
			BEGIN
				UPDATE
					TblT_ProjectExecutionStatus
				SET
					ProjectStatus = 'Submit',
					UpdateBy = @username,
					UpdateDate = GETDATE()
				WHERE
					[IDProjectHeaderID] = @ProjectHeaderID
					AND
					[Periode] = @Periode
					AND
					[ProjectStatus] = 'Save'
			END

			insert into TblH_ProjectExecutionApprovalHistory(
					IDProjectHeader,
					Periode,
					Type,
					Remarks,
					CreatedDate,
					CreatedBy
			)values(
				@ProjectHeaderID,
				@Periode,
				'Submited',
				'-',
				getdate(),
				@Username
			)

			SELECT 'S|Success'
		END

		IF @Status = 'JUSTIFIKASI'
		BEGIN		
					IF EXISTS (
					SELECT *
					FROM @dtConstraint
					)
			BEGIN
				IF EXISTS (
						SELECT *
						FROM TblT_ProjectConstraint
						WHERE IDProjectHeader = @ProjectHeaderID
						)
				BEGIN
					UPDATE TblT_ProjectConstraint
					SET IsActive = '0'
					WHERE IDProjectHeader = @ProjectHeaderID
				END

				INSERT INTO TblT_ProjectConstraint (
					[IDProjectHeader]
					,[IDConstraintType]
					,[Description]
					,[Problem]
					,[Remarks]
					,[CreatedDate]
					,[CreatedBy]
					,[IsActive]
					,[Status]
					,[Mitigasi]
					)
				SELECT 
					@ProjectHeaderID
					,dtC.[IDProjectHeader]-- NOTE's INI Salah Penamaan Seharunya IDConstrain Type
					,dtC.Description
					,dtC.Problem
					,dtC.Remarks
					,GETDATE()
					,@username
					,'1'
					,dtC.Status
					,dtC.Mitigasi
				FROM @dtConstraint dtC
			END
			else begin
				UPDATE TblT_ProjectConstraint SET IsActive = '0' WHERE IDProjectHeader = @ProjectHeaderID
			end

			MERGE INTO [dbo].[TblT_MPPProjectRealDetail] AS target
				USING @dtType AS source
					ON  
					target.[IDMPPProjectPlanDetail]		= source.IDPlanning	
					AND target.[Month]		= @Month	
					AND target.[Year]		= @Year
					AND target.[Week]		= @Week
					AND target.[TaskID]		= source.taskID 
				WHEN MATCHED THEN 
					UPDATE SET 
					target.PercentageComplete = source.taskCompleted,
					target.IsSubmit = '1' ,
					target.UpdatedBy = @username, 
					target.[UpdatedDate] = GETDATE(),
					target.[Notes] = source.taskNotes
				WHEN NOT MATCHED BY TARGET THEN
				INSERT 
					(
						[IDMPPProjectPlanDetail]
						,[Date]
						,[ParentID]
						,[TaskID]
						,[TaskGUID]
						,[TaskName]
						,[StartDate]
						,[EndDate]
						,[Duration]
						,[Notes]
						,[PercentageComplete]
						,[OutlineLevel]
						,[OutlineNumber]
						,[IsMilestone]
						,[CreatedDate]
						,[CreatedBy]
						,[IsSubmit]
						,[IsApprove]
						,[IsActive]
						,Year
						,Month
						,Week
						,[ActualStart]
						,[ActualEnd]
					)
					VALUES 
					(
						source.IDPlanning
						,CONVERT(DATE, GetDate())
						,source.taskParent
						,source.taskID
						,source.taskGUID
						,source.taskName
						,source.taskStart
						,source.taskEnd
						,source.taskDuration
						,source.taskNotes
						,source.taskCompleted
						,source.taskOutlineLevel
						,source.taskOutlineNumber
						,source.taskType
						,GETDATE()
						,@username
						,'1'
						,'0'
						,'1'
						,CASE 
							WHEN @Year IS NULL
								THEN YEAR(GETDATE())
							ELSE @Year
							END
						,CASE 
							WHEN @Month IS NULL
								THEN MONTH(GETDATE())
							ELSE @Month
							END
						,CASE 
							WHEN @Week IS NULL
								THEN datepart(day, datediff(day, 0, GETDATE()) / 7 * 7) / 7 + 1
							ELSE @Week
							END
						, source.taskActual_Start
						, source.taskActual_End
					);	
					
			insert into TblH_ProjectExecutionApprovalHistory(
					IDProjectHeader,
					Periode,
					Type,
					Remarks,
					CreatedDate,
					CreatedBy
			)values(
				@ProjectHeaderID,
				@Periode,
				'Justificated',
				'Telah di lakukan Justifikasi',
				getdate(),
				@Username
			)		
			SELECT 'S|Success'
		END

		COMMIT TRANSACTION Eksekusi
	END TRY

	BEGIN CATCH
		ROLLBACK TRANSACTION Eksekusi
		DECLARE @Eerl int
		SELECT @Errm = ERROR_MESSAGE()
			,@Errn = ERROR_NUMBER()
			,@Eerl = ERROR_LINE()


		EXEC [dbo].[Usp_Insert_ErrorLog] 'Usp_Insert_ProjectEksekusi'
			,@Errn
			,@Errm
			,@username
		--SELECT 
		--	IDProjectHeader
		--FROM 
		--@dtConstraint
		SELECT @Errm + ' | '+ CONVERT(varchar(max),@Eerl)
	END CATCH
END



GO
