USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_MasterDepartment_ByID]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Fadhil
-- Create date: 20-Dec-18
-- Description:  Mendapatkan master Department berdasarkan ID
-- ============================================= 
CREATE PROCEDURE [dbo].[Usp_Get_MasterDepartment_ByID]
	-- Add the parameters for the stored procedure here 
	@IDDepartment INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON;

	-- Insert statements for procedure here 
	SELECT Row_number() OVER (
			ORDER BY updateddate DESC
			) AS NoUrut
		,*
	FROM tblm_department
	WHERE isactive = 1
		AND iddepartment = @IDDepartment;

	select a.IDDirektorat,
		a.RefID,
		a.DirektoratCode,
		a.DirektoratName,
		a.Description
	from TblM_Direktorat a
	where a.IsActive = 1;

END




GO
