USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetTotalAnggaranPerProject]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetTotalAnggaranPerProject]
(
	-- Add the parameters for the function here
	@IDProjectHeader int
)
RETURNS DECIMAL(30,0)
AS
BEGIN

	declare @Result decimal(30,0);

	select @Result= sum(cast(d.SIGNEDDATA as decimal(30,0)))
	from TblT_ProjectHeader a
		inner join TblT_ProjectRKAT b on a.IDProjectHeader = b.IDProjectHeader and b.IsActive = 1
		inner join TblSAP_MasterRKAT c on b.IDSAPMasterRKAT = c.IDSAPMasterRKAT and c.ACTIVE = 'Y' and c.YEAR != 'TETA'
		inner join TblSAP_RKATFinal d on c.IDSAP = d.RENCANA_KERJA
	where a.IsActive = 1 and a.IDProjectHeader = @IDProjectHeader;

	return @Result;

END
GO
