USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_ProjectTypeDashboardSO]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		SENA PUTRA
-- Create date: January 24, 2018
-- Description:	[dbo].[Get_ProjectTypeDashboardSO] '2017.SO9'
-- =============================================
CREATE PROCEDURE [dbo].[Get_ProjectTypeDashboardSO]
	-- Add the parameters for the stored procedure here
	@StrategicObjective nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	CREATE TABLE #TRANSFORMATION (
		Type nvarchar(25),
		Total int
	)

	INSERT INTO #TRANSFORMATION
	SELECT 'Transformation', COUNT(IsTransformasi) FROM TblM_Project A
	INNER JOIN TblM_StrategicObjective B ON A.IDStrategicObjective = B.IDStrategicObjective
	WHERE A.IsTransformasi = 1 AND (B.StrategicObjectiveCode = @StrategicObjective OR @StrategicObjective = B.StrategicObjectiveCode)
	--GROUP BY IsTransformasi

	CREATE TABLE #NONTRANSFORMATION (
		Type nvarchar(25),
		Total int
	)

	INSERT INTO #NONTRANSFORMATION
	SELECT 'Non Transformation', COUNT(IsTransformasi) FROM TblM_Project A
	INNER JOIN TblM_StrategicObjective B ON A.IDStrategicObjective = B.IDStrategicObjective
	WHERE A.IsTransformasi = 0 AND (B.StrategicObjectiveCode = @StrategicObjective OR @StrategicObjective = B.StrategicObjectiveCode)
	--GROUP BY IsTransformasi

	-- TABLE 1
	-- GET TOTAL USED SO IN PROJECT TYPE TRANSFORMATION OR NON TRANSFORMATION
	SELECT * FROM #TRANSFORMATION
	UNION ALL
	SELECT * FROM #NONTRANSFORMATION

	-- TABLE 2
	-- GET PROJECT LIST FIND BY SO
	SELECT B.IDProject, B.ProjectNo, B.ProjectName, A.ContractStartDate, A.ContractEndDate, C.StatusName, b.IsTransformasi
	FROM TblT_ProjectHeader A
	INNER JOIN TblM_Project B ON A.IDProject = B.IDProject
	INNER JOIN TblM_ProjectStatus C ON A.IDProjectStatus = C.IDProjectStatus
	INNER JOIN TblM_StrategicObjective D ON B.IDStrategicObjective = D.IDStrategicObjective
	WHERE (D.StrategicObjectiveCode = @StrategicObjective OR @StrategicObjective = D.StrategicObjectiveCode)

	DROP TABLE #TRANSFORMATION
	DROP TABLE #NONTRANSFORMATION
END





GO
