USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_Migration_PlanPercentage]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Insert_Migration_PlanPercentage]
AS
BEGIN
	SELECT * FROM
	(
	SELECT 
	 c.IDProjectHeader , 
	 '1' as taskid ,
	 (
		SELECT 
			MAX(WeekOfMonth)
		FROM
		APP_Dev_New..TblM_Date DM
		WHERE
			DM.Month =  d.proj_output_Month 
				AND
			DM.Year =  d.proj_output_Year 
	 ) as week,
	 d.proj_output_Month , 
	 d.proj_output_Year , 
	 d.proj_output_Target ,
	 NULL as completed , 
	 GETDATE() as createddate, 
	 'Migration' as createdby, 
	 NULL as updated, 
	 NULL as updatedby, 
	 1 as isActive
	FROM 
	PROJ_MAST a
	INNER JOIN 
	APP_Dev_New..TblM_Project b
	ON
	a.proj_mast_No = b.ProjectNo
	and
	b.IsTransformasi = 0
	and
	b.Year = 2019
	INNER JOIN 
	APP_Dev_New..TblT_ProjectHeader c
	ON
	b.IDProject = c.IDProject
	INNER JOIN 
	PROJ_OUTPUT d
	ON
	a.proj_mast_ID = d.proj_mast_ID

	UNION ALL

	SELECT IDProjectHeader,TaskID,week,month,year, CASE WHEN CM.Reals >= CM.Plans THEN 100 ELSE 0 END as PlanPercentage, NULL, GETDATE(), 'Migration', NULL , NULL , 1
	FROM 
	(
	SELECT 
		b.IDProjectHeader , 
		a.ParentID , 
		a.TaskID , 
		a.TaskGUID ,
		(	
			SELECT
				MAX(WeekOFMonth)
			FROM 
			APP_Dev_New..TblM_Date DM
			WHERE
			DM.Month 
			= 
			e.proj_output_Month
			AND
			DM.YEAR = e.proj_output_Year
		) AS week, 
		(	
			SELECT
				TOP 1 Month
			FROM 
			APP_Dev_New..TblM_Date DM
			WHERE
			DM.Month 
			= 
			e.proj_output_Month
			AND
			DM.YEAR =e.proj_output_Year
		) AS month,
		(	
			SELECT
			TOP 1
				Year
			FROM 
			APP_Dev_New..TblM_Date DM
			WHERE
			DM.Month 
			= 
			e.proj_output_Month
			AND
			DM.YEAR = e.proj_output_Year
		) AS year,
		EndDate ,
		e.proj_output_Month,
		e.proj_output_Year,
		Cast(
		(
			SELECT
				Year
			FROM 
			APP_Dev_New..TblM_Date DM
			WHERE
			CONVERT(DATE,DM.Date) 
			= 
			CONVERT(DATE,a.EndDate)
		)
		AS VARCHAR(4)) 
		+ 
		RIGHT('00' + Cast((
			SELECT
				Month
			FROM 
			APP_Dev_New..TblM_Date DM
			WHERE
			CONVERT(DATE,DM.Date) 
			= 
			CONVERT(DATE,a.EndDate)
		) AS VARCHAR(2)), 2) as Plans,
		Cast(e.proj_output_Year AS VARCHAR(4)) 
		+ RIGHT('00' + Cast(e.proj_output_Month AS VARCHAR(2)), 2) as Reals
	FROM 
	APP_Dev_New..TblT_MPPProjectPlanDetail a
	INNER JOIN 
	APP_Dev_New..TblT_ProjectHeader b
	ON
	a.ProjectHeaderID = b.IDProject
	INNER JOIN 
	APP_Dev_New..TblM_Project c
	ON
	b.IDProject = c.IDProject
	INNER JOIN 
	PROJ_MAST d
	INNER JOIN
	PROJ_OUTPUT e
	ON
	d.proj_mast_ID = e.proj_mast_ID
	ON
	c.ProjectNo = d.proj_mast_No
	WHERE
	--a.ProjectHeaderID = 4
	--and 
	a.IsActive = 1
	and
	a.ParentID <> 0
	and
	c.IsTransformasi = 0
	and
	c.Year = 2019
	)CM 
	)MM
	ORDER BY IDProjectHeader , MM.proj_output_Month , mm.proj_output_Year
END



GO
