USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Calculate_PlanPerncentageFix]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Calculate_PlanPerncentageFix]
@ProjectHeaderID int ,
@Username varchar(100)
AS
BEGIN
	DECLARE @StartProject Date
	DECLARE @EndProject Date
	DECLARE
	@WeekTable TABLE 
	(
		ProjectHeaderID int, 
		TaskID int,
		TaskName varchar(max),
		StartDate date,
		EndDate date,
		DurationInDays int,
		ParentID int,
		IsParent bit,
		ElapseDays int,
		PlanedPerecentage decimal(20,2),
		Year varchar(4),
		Month int,
		Week int
	)

	BEGIN TRY
		BEGIN TRANSACTION Calculate

			SELECT TOP 1 @StartProject = MPD.StartDate , @EndProject = MPD.EndDate  FROM
			TblT_MPPProjectPlanDetail MPD
			WHERE
			MPD.ProjectHeaderID = @ProjectHeaderID
			and
			MPD.IsActive = 1
			and
			MPD.ParentID = 0
			ORDER BY
			TaskID ASC

			DECLARE @TempDate TABLE
			(
				StartDate Date , EndDate Date
			)

			DECLARE @IsTransformasi int

			SELECT 
				@IsTransformasi = Proj.IsTransformasi
			FROM 
			TblT_ProjectHeader PH
			INNER JOIN
			TblM_Project Proj
			ON
			PH.IDProject = Proj.IDProject
			where
			PH.IDProjectHeader = @ProjectHeaderID


			IF @IsTransformasi = 1
			BEGIN
				INSERT INTO 
				@TempDate
				(
					StartDate,
					EndDate
				)
				SELECT
					mm.StartDate,
					mm.EndDate
				FROM
				[dbo].[Ufn_Calculate_WeekendwithMargin](@StartProject , @EndProject) mm
			END
			ELSE
			BEGIN
				INSERT INTO 
				@TempDate
				(
					StartDate,
					EndDate
				)
				SELECT
					mm.StartDate,
					mm.EndDate
				FROM
				[dbo].[Ufn_Get_CutOFF_Monthly](@StartProject , @EndProject) mm
			END



			DECLARE @EndDate date , @StartDate date
			DECLARE Cursor_Calculate
			CURSOR FOR
				SELECT EndDate, StartDate FROM
				@TempDate 

			OPEN Cursor_Calculate;
			FETCH NEXT FROM Cursor_Calculate INTO @EndDate, @StartDate;
			WHILE @@FETCH_STATUS = 0  
			BEGIN  
					DECLARE @Year varchar(4) , @Month int , @Week int

					SELECT @Year = Year , @Month = Month, @Week = WeekOfMonth FROM 
					TblM_Date dt
					WHERE 
					dt.Date =  @EndDate
		 
					INSERT INTO @WeekTable
					SELECT
					* , 
					@Year,@Month,@Week
					FROM 
					[Ufn_Get_PlanningPercentage_PerProject](@ProjectHeaderID,@EndDate)
		
				   --Do stuff with scalar values

				  FETCH NEXT FROM Cursor_Calculate INTO @EndDate, @StartDate;
			END;
			CLOSE Cursor_Calculate;
			DEALLOCATE Cursor_Calculate;

			INSERT INTO [dbo].[TblT_MPPProjectPlanPercentage]
			SELECT  
				WT.ProjectHeaderID ,
				WT.TaskID,
				WT.Week,
				WT.Month,
				CONVERT(int,WT.Year),
				WT.PlanedPerecentage,
				NULL,
				GETDATE(),
				@Username,
				NULL,
				NULL,
				'1'
			FROM 
			@WeekTable WT
		COMMIT TRANSACTION Calculate
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION Calculate
		DECLARE @Errm varchar(max) , @Errn int

		SELECT @Errm = ERROR_MESSAGE() , @Errn = ERROR_LINE()

		EXEC Usp_Insert_ErrorLog 'Usp_Calculate_ProjectPlan', @Errn, @Errm, @username
		SELECT 'E|Error|' + @Errm 
	END CATCH
END




GO
