USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Calculate_WeekendwithMargin_Alter]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Ufn_Calculate_WeekendwithMargin_Alter] ( @minDate_Str NVARCHAR(30), @maxDate_Str NVARCHAR(30))

-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
RETURNS  @Result TABLE(StartDate Date , StartDateName NVARCHAR(30) NOT NULL, EndDate date , EndDateName NVARCHAR(30) NOT NULL)
AS

begin

DECLARE @Start date 
DECLARE @End date 
SET @Start = CONVERT(date, @minDate_Str)
SET @End = CONVERT(date, @maxDate_Str)

DECLARE @StartDaye int 
DECLARE @EndDaye int
DECLARE @FirstWeekStart date
DECLARE @FirstWeekEnd date

SELECT @StartDaye = DATEPART(dw, @Start)
SELECT @EndDaye = DATEPART(dw, @End)

SELECT @FirstWeekStart = StartDate , @FirstWeekEnd = EndDate
FROM dbo.[Ufn_Calculate_Weekend_CutOFF](@Start,@End)

if	@Start = @End
BEGIN	
	INSERT INTO @Result
	SELECT @Start as StartDate, DATENAME(dw,@Start) ,  @End, DATENAME(dw,@End)
END
ELSE
if @Start BETWEEN @FirstWeekStart and @FirstWeekEnd
BEGIN
	INSERT INTO @Result
	SELECT @Start as StartDate, StartDateName ,  EndDate, EndDateName
	FROM dbo.[Ufn_Calculate_Weekend_CutOFF](@Start,@End)
END
ELSE
BEGIN	
	   DECLARE @increment int
	   DECLARE @decrement int

	   SELECT @decrement = DATEPART(dw, @End)
	   SELECT @increment = 7 - @StartDaye

	   if @StartDaye = 1
	   BEGIN
	   
		   INSERT INTO @Result
		   SELECT * FROM 
		   (
			   SELECT
			   cast(@Start as date) as StartDate, 
			   DATENAME(dw,cast(@Start as date)) as StartDateName, 
			   cast(RetVal + @increment as date) as EndDate, 
			   DATENAME(dw,cast(RetVal + @increment as date)) as EndDateName
			   FROM dbo.Ufn_Range_Date(@Start , @End , 'dd', 1 )
			   WHERE  cast(RetVal as date) = @Start

			   UNION ALL

			   SELECT * FROM
			   (
				   SELECT @Start as StartDate, StartDateName ,  EndDate, EndDateName
				   FROM dbo.[Ufn_Calculate_Weekend_CutOFF](@Start,@End) aa
				   ORDER BY
				   aa.StartDate ASC
				   OFFSET 1 ROWS
			   )aa

			
		   )ab
	   END
	   ELSE
	   BEGIN
		   INSERT INTO @Result
		   SELECT * FROM 
		   (
	   		   SELECT
			   cast(@Start as date) as StartDate, 
			   DATENAME(dw,cast(@Start as date)) as StartDateName, 
			   cast(RetVal + @increment as date) as EndDate, 
			   DATENAME(dw,cast(RetVal + @increment as date)) as EndDateName
			   FROM dbo.Ufn_Range_Date(@Start , @End , 'dd', 1 )
			   WHERE  cast(RetVal as date) = @Start

			   UNION ALL

			   SELECT @Start as StartDate, StartDateName ,  EndDate, EndDateName
			   FROM dbo.[Ufn_Calculate_Weekend_CutOFF](@Start,@End)
		   )aa
	   END

END
return

end  
GO
