USE [PROMISE]
GO
/****** Object:  Table [dbo].[FWA_TaskMan_Rutin]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FWA_TaskMan_Rutin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RENCANAKEGIATAN] [nvarchar](max) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NOT NULL,
	[OBJECT] [nvarchar](max) NULL,
	[PERCENTRKATFINAL_Q1] [nvarchar](max) NULL,
	[RKATFINAL_Q1] [nvarchar](max) NULL,
	[PERCENTRKATFINAL_Q2] [nvarchar](max) NULL,
	[RKATFINAL_Q2] [nvarchar](max) NULL,
	[PERCENTRKATFINAL_Q3] [nvarchar](max) NULL,
	[RKATFINAL_Q3] [nvarchar](max) NULL,
	[PERCENTRKATFINAL_Q4] [nvarchar](max) NULL,
	[RKATFINAL_Q4] [nvarchar](max) NULL,
	[WORKPLAN] [nvarchar](max) NULL,
	[STRATEGICOBJECT] [nvarchar](max) NULL,
	[TAHUN] [varchar](4) NOT NULL,
	[ISUSED] [bit] NOT NULL,
	[CREATEDATE] [datetime] NOT NULL,
	[CREATEBY] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FWA_TaskMan_Rutin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
