USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_SAPRKATFINAL]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Andre Ibrahim Latief
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_SAPRKATFINAL] 
	@ACCT_CODE VARCHAR(20)
	,@AST_TYP VARCHAR(20)
	,@AUDITTRAIL VARCHAR(20)
	,@CATEGORY VARCHAR(20)
	,@COSTCTR VARCHAR(20)
	,@DRIVER VARCHAR(20)
	,@FLOW VARCHAR(20)
	,@RENCANA_KERJA VARCHAR(20)
	,@RPTCURRENCY VARCHAR(20)
	,@STD_BIAYA VARCHAR(20)
	,@STRAT_OBJ VARCHAR(20)
	,@TIME VARCHAR(20)
	,@SIGNEDDATA VARCHAR(20)
AS
BEGIN
	DECLARE @errm VARCHAR(max)
		,@errn INT
		,@count INT

	BEGIN TRY
		BEGIN TRANSACTION RKATFINAL

		IF NOT EXISTS (
				SELECT ACCT_CODE
				FROM TblSAP_RKATFinal
				 WHERE 
				 ACCT_CODE = @ACCT_CODE
				AND AST_TYP = @AST_TYP
				AND AUDITTRAIL = @AUDITTRAIL
				AND CATEGORY = @CATEGORY
				AND COSTCTR = @COSTCTR
				AND DRIVER = @DRIVER
				AND FLOW = @FLOW
				AND RENCANA_KERJA = @RENCANA_KERJA	
				AND RPTCURRENCY = @RPTCURRENCY
				AND STD_BIAYA = @STD_BIAYA
				AND STRAT_OBJ = @STRAT_OBJ
				AND [TIME] = @TIME
			--	AND CONVERT(Date,DateDownload) = CONVERT(Date,GETDATE())			
		)
		BEGIN
			INSERT INTO TblSAP_RKATFinal (
				[DateDownload]
				,[ACCT_CODE]
				,[AST_TYP]
				,[AUDITTRAIL]
				,[CATEGORY]
				,[COSTCTR]
				,[DRIVER]
				,[FLOW]
				,[RENCANA_KERJA]
				,[RPTCURRENCY]
				,[STD_BIAYA]
				,[STRAT_OBJ]
				,[TIME]
				,[SIGNEDDATA]
				,[CreatedDate]
				,[CreatedBy]
				)
			VALUES (
				CONVERT(DATE, GETDATE())
				,@ACCT_CODE
				,@AST_TYP
				,@AUDITTRAIL
				,@CATEGORY
				,@COSTCTR
				,@DRIVER
				,@FLOW
				,@RENCANA_KERJA
				,@RPTCURRENCY
				,@STD_BIAYA
				,@STRAT_OBJ
				,@TIME
				,@SIGNEDDATA
				,GETDATE()
				,'System.Scheduler'
				)

			SELECT 'Success Inserting SAPRKATFINAL VALUE= ' + @SIGNEDDATA +' AND ACCT_CODE = '+ @ACCT_CODE +' AND AST_TYP = '+ @AST_TYP +' AND AUDITTRAIL = '+ @AUDITTRAIL +' AND CATEGORY = '+ @CATEGORY +' AND COSTCTR = '+ @COSTCTR +' AND DRIVER = '+ @DRIVER +' AND FLOW = '+ @FLOW +' AND RENCANA_KERJA = '+ @RENCANA_KERJA	 +' AND RPTCURRENCY = '+ @RPTCURRENCY +' AND STD_BIAYA = '+ @STD_BIAYA +' AND STRAT_OBJ = '+ @STRAT_OBJ +' AND [TIME] = '+ @TIME +''
		END
		ELSE
		BEGIN
			UPDATE TblSAP_RKATFinal
			SET DateDownload = CAST(GETDATE() AS DATE)
			, CreatedDate = GETDATE()
			, SIGNEDDATA = @SIGNEDDATA
			WHERE 
			 ACCT_CODE = @ACCT_CODE
				AND AST_TYP = @AST_TYP
				AND AUDITTRAIL = @AUDITTRAIL
				AND CATEGORY = @CATEGORY
				AND COSTCTR = @COSTCTR
				AND DRIVER = @DRIVER
				AND FLOW = @FLOW
				AND RENCANA_KERJA = @RENCANA_KERJA	
				AND RPTCURRENCY = @RPTCURRENCY
				AND STD_BIAYA = @STD_BIAYA
				AND STRAT_OBJ = @STRAT_OBJ
				AND [TIME] = @TIME

			SELECT 'Success Updating SAPRKATFINAL VALUE= ' + @SIGNEDDATA +' AND ACCT_CODE = '+ @ACCT_CODE +' AND AST_TYP = '+ @AST_TYP +' AND AUDITTRAIL = '+ @AUDITTRAIL +' AND CATEGORY = '+ @CATEGORY +' AND COSTCTR = '+ @COSTCTR +' AND DRIVER = '+ @DRIVER +' AND FLOW = '+ @FLOW +' AND RENCANA_KERJA = '+ @RENCANA_KERJA	 +' AND RPTCURRENCY = '+ @RPTCURRENCY +' AND STD_BIAYA = '+ @STD_BIAYA +' AND STRAT_OBJ = '+ @STRAT_OBJ +' AND [TIME] = '+ @TIME +''
		END

		COMMIT TRANSACTION RKATFINAL
	END TRY

	BEGIN CATCH
		ROLLBACK TRANSACTION RKATFINAL

		SELECT @errm = ERROR_MESSAGE()
			,@errn = ERROR_NUMBER()

		EXEC Usp_Insert_ErrorLog 'Usp_Insert_SAPRKATFINAL'
			,@errn
			,@errm
			,'System'

		SELECT 'Error Inserting SAPRKATFINAL With ACCT_CODE : ' + @ACCT_CODE
	END CATCH
END




GO
