USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblH_LoginLog]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblH_LoginLog](
	[IDLoginLog] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NULL,
	[LoginDate] [datetime] NULL,
 CONSTRAINT [PK_TblH_LoginDate] PRIMARY KEY CLUSTERED 
(
	[IDLoginLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
