USE [PROMISE]
GO
/****** Object:  UserDefinedTableType [dbo].[Udt_ProjectInitApprovalRole]    Script Date: 07/07/2025 14:26:30 ******/
CREATE TYPE [dbo].[Udt_ProjectInitApprovalRole] AS TABLE(
	[IDProjectInitApprovalRole] [int] NULL,
	[IDProjectHeader] [int] NULL,
	[IDRoleGroup] [int] NULL,
	[Sequence] [int] NULL,
	[Username] [varchar](30) NULL,
	[Email] [varchar](50) NULL,
	[PositionCode] [varchar](20) NULL,
	[ActiveDate] [varchar](max) NULL,
	[EndDate] [varchar](max) NULL,
	[IsEnabled] [int] NULL
)
GO
