USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ProjectEksekusiDasboardReportProblemNMitigasi]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- [Usp_Get_ProjectEksekusiDasboardReportProblemNMitigasi] '176' , '0'
CREATE PROCEDURE [dbo].[Usp_Get_ProjectEksekusiDasboardReportProblemNMitigasi]
	@IDProjectHeader INT
   ,@Tipe INT --- istransformasi
AS
BEGIN
 SELECT 
	t.IDProjectHeader,
	 m.ConstraintName Jenis,
	 t.Description Deskripsi,
	 t.Remarks Remark         ,
	 t.Problem,
	 t.Mitigasi,
	 t.CreatedDate
 FROM dbo.TblT_ProjectConstraint t
inner join dbo.TblM_ConstraintType m on t.IDConstraintType=m.IDConstraintType
 where IDProjectHeader=@IDProjectHeader --and Status='Ongoing' and t.IsActive=1
 order by t.CreatedDate desc
END



GO
