USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[FWA_TaskMan_Rutin_Delete]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FWA_TaskMan_Rutin_Delete]

AS	            
BEGIN	
					
truncate table FWA_TaskMan_Rutin
	
END
GO
