USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_GetProjectDurationWorkingDays]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[Ufn_GetProjectDurationWorkingDays]
(
	@minDate DATE, @maxDate DATE
)
RETURNS int
AS
BEGIN
	DECLARE @dur int
	--DECLARE @minDate DATE, @maxDate DATE

	-- Declare the return variable here
	 SELECT @dur =
	 (DATEDIFF(dd, @minDate, @maxDate) + 1)
    -(DATEDIFF(wk, @minDate, @maxDate) * 2)
    -(CASE WHEN DATENAME(dw, @minDate) = 'Sunday' THEN 1 ELSE 0 END)
    -(CASE WHEN DATENAME(dw, @minDate) = 'Saturday' THEN 1 ELSE 0 END)
    -(SELECT COUNT(h.HolidayDate) FROM Ufn_Get_Holiday_New() h where h.HolidayDate BETWEEN @minDate and @maxDate)
return @dur

END
GO
