USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_ActuateKPI]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_ActuateKPI]
	@KPI_ID		  varchar(200),
	@KPI_SO_ID    varchar(200),
	@KPI_Code     varchar(200),
	@KPI_Name     varchar(200),
	@KPI_Desc     varchar(max),
	@KPI_Year     varchar(4),
	@KPI_IsActive varchar(200)
AS
BEGIN

	BEGIN TRY
		BEGIN TRANSACTION	
			INSERT INTO 
				TblM_KPIOrganization 
				(
					[KPICode],
					[KPIName],
					[Year],
					[Description],
					[CreatedDate],
					[CreatedBy],
					[IsActive]
				)
			VALUES 
				(
					@KPI_Code,
					@KPI_Name,
					@KPI_Year,
					@KPI_Desc,
					GETDATE(),
					'System',
					'1'
				)

				SELECT 'S|SUCCESS'
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT 'E|ERROR'
	END CATCH
END




GO
