USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblT_MPPProjectPredecessor]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_MPPProjectPredecessor](
	[IDMPPProjectResourcesTaskMapping] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectHeaderID] [int] NOT NULL,
	[TaskID] [int] NULL,
	[PredecessorID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
