USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_ProjectCost]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_ProjectCost](
	[IDProjectCost] [int] IDENTITY(1,1) NOT NULL,
	[ProjectCostCode] [varchar](20) NULL,
	[ProjectCostName] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[ParentCode] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblM_ProjectCost] PRIMARY KEY CLUSTERED 
(
	[IDProjectCost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblM_ProjectCost] ADD  CONSTRAINT [DF_TblM_ProjectCost_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TblM_ProjectCost] ADD  CONSTRAINT [DF_TblM_ProjectCost_CreatedBy]  DEFAULT ('System.Development') FOR [CreatedBy]
GO
