USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_ReportSummaryPenyampaian]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Get_ReportSummaryPenyampaian]
AS
BEGIN
	
	select  x.depcode as Direktorat, sum(x.draft) as DraftProjAdmin, sum(x.submit) as SubmitProjAdmin, sum(x.projm) as ApproveProjManager, sum(x.progm) as ApproveProgManager from 
	(
		select c.DepartmentCode as depcode, count(*) as draft, 0 as submit, 0 as projm, 0 as progm
		from TblT_ProjectHeader a, TblM_Project b, TblM_Department c, TblT_ProjectExecutionStatus d
		where a.IsActive =1 and a.IDProjectHeader=d.IDProjectHeaderID and d.ProjectStatus='Save' and a.IDProject = b.IDProject and b.IDDepartment = c.IDDepartment 
		and a.CreatedBy <> 'Migration' and a.IDProjectStatus =2
		group by c.DepartmentCode
		union all
		select d.DepartmentCode as depcode, 0 as draft, count(*) as submit, count(case e.idrole when 3 then 1 end) as projm, count(case e.idrole when 4 then 1 when 5 then 1 end) as progm
		from TblT_ProjectExecutionStatus as a 
		inner join (select top 1 with ties 
		t1.IDProjectHeader as id,IDRoleGroup as idrole,t1.periode as per,t1.sequence 
		from TblT_ProjectExecutionApprovalRole t1 
		JOIN TblT_ProjectExecutionStatus t2 on t1.IDProjectHeader = t2.IDProjectHeaderID and t1.Periode = t2.Periode
		where t2.ProjectStatus = 'Submit' and t2.IsActive = 1 and t1.IsActive = 1 and (t1.IsApprove is null or t1.IsApprove = 0) and t1.IsEnabled = 1  
		Group by t1.IDProjectHeader,IDRoleGroup,t1.email,t1.periode,t1.sequence,t1.IDProjectExecutionApprovalRole,t1.username
		order by ROW_NUMBER() OVER(PARTITION BY t1.IDProjectHeader,t1.Periode ORDER BY t1.IDProjectHeader,IDRoleGroup,t1.sequence)) e on e.id = a.IDProjectHeaderID and e.per=a.Periode
		inner join TblT_ProjectHeader as b on a.IDProjectHeaderID = b.IDProjectHeader
		inner join TblM_Project as c on b.IDProject = c.IDProject
		inner join TblM_Department as d on c.IDDepartment = d.IDDepartment
		where a.IsActive = 1 and b.IDProjectStatus = 2 and b.CreatedBy <> 'Migration' and a.ProjectStatus ='Submit'
		group by d.DepartmentCode
	)x 
	group by x.depcode

END




GO
