USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Calculate_PercentagePlan]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author     :	Andre Ibrahim Latief
-- Create date: 20-01-2019
-- Description:	Calculate PercentagePlan 
-- EXEC		  : Usp_Calculate_PercentagePlan_test '62' , 'Training11'
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Calculate_PercentagePlan] @ProjectHeaderID INT
	,@username VARCHAR(30)
AS
BEGIN
	DECLARE @Errm VARCHAR(max)
	DECLARE @Errn INT

	BEGIN TRY
		BEGIN TRANSACTION calculate

		-----------------------------------------------------------------------------------------------
		--- Declare Variable and Temporary Table 
		-----------------------------------------------------------------------------------------------
		DECLARE @temptable TABLE (
			TaskID BIGINT
			,TaskName VARCHAR(200)
			,ParentID BIGINT
			,ActualStart DATE
			,ActualEnd DATE
			,StartDate DATE
			,EndDate DATE
			,Week INT
			,OutlineLevel INT
			)
		DECLARE @temptablePlan TABLE (
			TaskID BIGINT
			,TaskName VARCHAR(200)
			,ParentID BIGINT
			,ActualStart DATE
			,ActualEnd DATE
			,StartDate DATE
			,EndDate DATE
			,Week INT
			,OutlineLevel INT
			,ActualDuration INT
			,WeeklyDuration INT
			,PlanPercentage FLOAT
			)
		DECLARE @tempdate TABLE (
			TaskID BIGINT
			,StartDate DATE
			,EndDate DATE
			)
		DECLARE @start VARCHAR(max)
			,@end VARCHAR(max)
			,@TaskID BIGINT
		DECLARE @temptablewithplanpercentage TABLE (
			TaskID BIGINT
			,TaskName VARCHAR(200)
			,ParentID BIGINT
			,ActualStart DATE
			,ActualEnd DATE
			,StartDate DATE
			,EndDate DATE
			,Week INT
			,OutlineLevel INT
			,ActualDuration INT
			,WeeklyDuration INT
			,PercentagePlan FLOAT
			,Month INT
			,Year INT
			)

		------------------------------------------------------------------------------------------------
		--- Declare Looping using Cursor and Assign Parameter Value to  @TaskID , @Start , and @End
		------------------------------------------------------------------------------------------------
		DECLARE cursor_plan_percentage CURSOR
		FOR
		SELECT TaskID
			,CONVERT(VARCHAR, StartDate, 23)
			,CONVERT(VARCHAR, EndDate, 23)
		FROM TblT_MPPProjectPlanDetail
		WHERE ProjectHeaderID = @ProjectHeaderID
			AND TaskID > 0
			AND IsActive = '1'

		OPEN cursor_plan_percentage;

		FETCH NEXT
		FROM cursor_plan_percentage
		INTO @TaskID
			,@start
			,@end;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			/*
	Calculate Weekday with cutoff in saturday and insert it to temporary Table @tempdate
	* This Important Part to calculate Percentage Plan
	* To Calculate weekday use Function [dbo].[Ufn_Calculate_WeekendwithMargin_Alter](StartDate,EndDate)
 */
			INSERT INTO @tempdate
			SELECT @TaskID
				,StartDate
				,EndDate
			FROM [dbo].[Ufn_Calculate_WeekendwithMargin_Alter](@start, @end)

			FETCH NEXT
			FROM cursor_plan_percentage
			INTO @TaskID
				,@start
				,@end;
		END

		--SELECT *
		--FROM @tempdate

		CLOSE cursor_plan_percentage;

		DEALLOCATE cursor_plan_percentage;

		------------------------------------------------------------------------------------------------
		--- Insert Data to temporary Table @temptable to calculate Percentage Plan 
		------------------------------------------------------------------------------------------------
		INSERT INTO @temptable
		SELECT DISTINCT MPPD.TaskID
			,TaskName
			,ParentID
			,MPPD.StartDate
			,MPPD.EndDate
			,td.StartDate
			,td.EndDate
			--,datepart(day, datediff(day, 0, td.EndDate) / 7 * 7) / 7 + 1 AS Week
				,dat.WeekOfMonth
			,OutlineLevel
		FROM TblT_MPPProjectPlanDetail MPPD
		INNER JOIN @tempdate td ON MPPD.TaskID = td.TaskID
		LEFT JOIN 
			TblM_Date dat
			ON
			CONVERT(datetime,td.EndDate) = dat.Date 
		WHERE ProjectHeaderID = @ProjectHeaderID
			AND MPPD.TaskID > 0


		--SELECT *
		--FROM @temptable

		DECLARE @TaskIDtemp BIGINT

		/*
	Percentage Plan Formula :
	>> First Check Actual Duration from task 
	ex :
	-- Task A , Duration From 01-01-2019 to 10-01-2019
	-- Task A duration is 10 day
	* You can get Actual Duration From  @temptable column ActualStart , and ActualEnd and Calculate it using Function

	>> Second Check Weekly Duration from task
	* You can get weekly duration date from @temptable column StartDate , and EndDate and Calculate it using Function

	>> Third Get Percentage Plan
	* To Get Percentage Plan you can use this formula :

		<><><><><><><><><><><><><><><><><><><><><><><><><><><>
		<><><><><><><><><><><><><><><><><><><><><><><><><><><>
		<><>											  <><>
		<><> ( Weekly Duration / Actual Duration ) * 100  <><>
		<><>											  <><>
		<><><><><><><><><><><><><><><><><><><><><><><><><><><>
		<><><><><><><><><><><><><><><><><><><><><><><><><><><>

	* Ps : If Percentage Plan Value is more than 100 make it 100

	* Note Important : To Calculate Duration use Function dbo.Ufn_GetProjectDuration(StartDate , EndDate)	
*/
		INSERT INTO @temptablewithplanpercentage
		SELECT DISTINCT *
			,dbo.Ufn_GetProjectDuration(ActualStart, ActualEnd) AS ActualDuration
			,dbo.Ufn_GetProjectDuration(StartDate, EndDate) AS WeeklyDuration
			,CASE 
				WHEN ROUND(CONVERT(FLOAT, dbo.Ufn_GetProjectDuration(StartDate, EndDate)) / Convert(FLOAT, dbo.Ufn_GetProjectDuration(ActualStart, ActualEnd)) * 100, 2) > 100
					THEN 100
				ELSE ROUND(CONVERT(FLOAT, dbo.Ufn_GetProjectDuration(StartDate, EndDate)) / Convert(FLOAT, dbo.Ufn_GetProjectDuration(ActualStart, ActualEnd)) * 100, 2)
				END AS PlanPercentage
			,MONTH(EndDate) as Month
			,YEAR(EndDate) AS Year
		FROM @temptable
		ORDER BY TaskID
			,StartDate
			,EndDate ASC

		--SELECT *
		--FROM @temptablewithplanpercentage

		INSERT INTO TblT_MPPProjectPlanPercentage
		SELECT 
		DISTINCT @ProjectHeaderID
			,twpp.TaskID
			,twpp.Week
			,twpp.Month
			,twpp.Year
			,twpp.PercentagePlan
			,'0'
			,GetDate()
			,@username
			,NULL
			,NULL
			,'1'
		FROM @temptablewithplanpercentage twpp		
		
		
		SELECT 'S|Success MPPProjectPlanPercentage'
		COMMIT TRANSACTION calculate
	END TRY

	BEGIN CATCH
		ROLLBACK TRANSACTION calculate

		DECLARE @errl VARCHAR(max)

		SELECT @Errm = ERROR_MESSAGE()
			,@Errn = ERROR_NUMBER()
			,@errl = ERROR_LINE()

		--EXEC Usp_Insert_ErrorLog 'Usp_Calculate_PercentagePlan'
		--	,@Errm
		--	,@Errn
		--	,'System'
		SELECT 'E|Error MPPProjectPlanPercentage| ' + @Errm + '|' + @errl
	END CATCH
END




GO
