USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_Master_Date]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Insert_Master_Date]
	@dtDate [Udt_PublicHolidayNewest] READONLY
AS
BEGIN
	BEGIN TRY	
		BEGIN TRANSACTION transdate

		

		MERGE TblM_Date t 
			USING @dtDate s
		ON (s.DateKey = t.DateKey)
		WHEN MATCHED
			THEN UPDATE SET 
				t.Date					= s.Date				   ,			
				t.Day 					= s.Day 				   ,
				t.DaySuffix 			= s.DaySuffix 			   ,
				t.Weekday 				= s.Weekday 			   ,
				t.WeekDayName 			= s.WeekDayName 		   ,
				t.IsWeekend 			= s.IsWeekend 			   ,
				t.IsHoliday 			= s.IsHoliday 			   ,
				t.HolidayText			= s.HolidayText			   ,
				t.DOWInMonth			= s.DOWInMonth			   ,
				t.DayOfYear 			= s.DayOfYear 			   ,
				t.WeekOfMonth			= s.WeekOfMonth			   ,
				t.WeekOfYear			= s.WeekOfYear			   ,
				t.ISOWeekOfYear			= s.ISOWeekOfYear		   ,
				t.Month 				= s.Month 				   ,
				t.MonthName				= s.MonthName			   ,
				t.Quarter 				= s.Quarter 			   ,
				t.QuarterName 			= s.QuarterName 		   ,
				t.Year					= s.Year				   ,
				t.Semester				= s.Semester			   ,
				t.MMYYYY 				= s.MMYYYY 				   ,
				t.MonthYear 			= s.MonthYear 			   ,
				t.FirstDayOfMonth		= s.FirstDayOfMonth		   ,
				t.LastDayOfMonth 		= s.LastDayOfMonth 		   ,
				t.FirstDayOfQuarter 	= s.FirstDayOfQuarter 	   ,
				t.LastDayOfQuarter		= s.LastDayOfQuarter	   ,
				t.FirstDayOfYear		= s.FirstDayOfYear		   ,
				t.LastDayOfYear			= s.LastDayOfYear		   ,
				t.FirstDayOfNextMonth	= s.FirstDayOfNextMonth	   ,
				t.FirstDayOfNextYear	= s.FirstDayOfNextYear				
			WHEN NOT MATCHED BY TARGET 
			THEN 
			INSERT 
				(
					[DateKey]				,
					[Date]					,
					[Day]					,
					[DaySuffix]				,
					[Weekday]				,
					[WeekDayName]			,
					[IsWeekend]				,
					[IsHoliday]				,
					[HolidayText]			,
					[DOWInMonth]			,
					[DayOfYear]				,
					[WeekOfMonth]			,
					[WeekOfYear]			,
					[ISOWeekOfYear]			,
					[Month]					,
					[MonthName]				,
					[Quarter]				,
					[QuarterName]			,
					[Year]					,
					[Semester]				,
					[MMYYYY]				,
					[MonthYear]				,
					[FirstDayOfMonth]		,
					[LastDayOfMonth]		,
					[FirstDayOfQuarter]		,
					[LastDayOfQuarter]		,
					[FirstDayOfYear]		,
					[LastDayOfYear]			,
					[FirstDayOfNextMonth]	,
					[FirstDayOfNextYear]		
				)
				VALUES 
				(
				    s.DateKey			 ,
					s.Date				 ,
					s.Day 				 ,
					s.DaySuffix 		,	
					s.Weekday 			 ,
					s.WeekDayName 		 ,
					s.IsWeekend 		,	
					s.IsHoliday 		,	
					s.HolidayText		,	
					s.DOWInMonth		,	
					s.DayOfYear 		,	
					s.WeekOfMonth		,	
					s.WeekOfYear		,	
					s.ISOWeekOfYear		 ,
					s.Month 			,	
					s.MonthName			 ,
					s.Quarter 			 ,
					s.QuarterName 		 ,
					s.Year				 ,
					s.Semester			 ,
					s.MMYYYY 			,	
					s.MonthYear 		,	
					s.FirstDayOfMonth	,	
					s.LastDayOfMonth 	,	
					s.FirstDayOfQuarter ,	
					s.LastDayOfQuarter	 ,
					s.FirstDayOfYear	,	
					s.LastDayOfYear		 ,
					s.FirstDayOfNextMonth,	
					s.FirstDayOfNextYear
				);					 
			--SELECT	
			--		dt.[DateKey]			,
			--		dt.[Date]				,
			--		dt.[Day]				,
			--		dt.[DaySuffix]			,
			--		dt.[Weekday]			,
			--		dt.[WeekDayName]		,
			--		dt.[IsWeekend]			,
			--		dt.[IsHoliday]			,
			--		dt.[HolidayText]		,
			--		dt.[DOWInMonth]			,
			--		dt.[DayOfYear]			,
			--		dt.[WeekOfMonth]		,
			--		dt.[WeekOfYear]			,
			--		dt.[ISOWeekOfYear]		,
			--		dt.[Month]				,
			--		dt.[MonthName]			,
			--		dt.[Quarter]			,
			--		dt.[QuarterName]		,
			--		dt.[Year]				,
			--		dt.[Semester]			,
			--		dt.[MMYYYY]				,
			--		dt.[MonthYear]			,
			--		dt.[FirstDayOfMonth]	,
			--		dt.[LastDayOfMonth]		,
			--		dt.[FirstDayOfQuarter]	,
			--		dt.[LastDayOfQuarter]	,
			--		dt.[FirstDayOfYear]		,
			--		dt.[LastDayOfYear]		,
			--		dt.[FirstDayOfNextMonth],
			--		dt.[FirstDayOfNextYear]
			--FROM
			--	@dtDate dt
			--where
			--	dt.DateKey NOT IN 
			--	(
			--		SELECT
			--			[DateKey]
			--		FROM
			--			TblM_Date
			--	)




			

			SELECT 'S|Success'
		COMMIT TRANSACTION transdate
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION transdate

		SELECT ERROR_MESSAGE()

	
	END CATCH
END




GO
