USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Scheduller_Get_Email_Reciever]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Scheduller_Get_Email_Reciever]
AS
BEGIN
	SELECT DISTINCT Username FROM 
	TblT_ProjectInitApprovalRole M
	INNER JOIN
	TblM_RoleGroup R
	ON
	M.IDRoleGroup = R.IDRoleGroup
	WHERE
	IDProjectHeader IN (
		SELECT	
			IDProjectHeader 
		FROM 
		[dbo].[Ufn_Get_Project_ExecutionList]() EL
		WHERE
		((Pencapaian >= 0 AND Pencapaian < 100 ) OR Pencapaian Is NULL )
	)
	AND
	--	R.IDRoleGroup IN 
	--(
	--	2  ,
	--	3  ,
	--	4  ,
	--	5
	--)
	--M.Username like '%agha.nugraha%'
	--OR
	--M.Username like '%agus.afiantara%'
	--OR
	M.Username  like '%yovy.ramadhan%'
	--UNION ALL
	--SELECT 'training10' as Username
END



GO
