USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_LapM_StatusPerMinggu]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Septian c>
-- Create date: <11 Juli 2023>
-- Description:	<Laporan Mingguan untuk grafik poin 1c>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Get_LapM_StatusPerMinggu]
--exec Usp_Get_LapM_StatusPerMinggu '2021/06/04'
	@Date date
AS
BEGIN
	declare @Year as varchar(4);
	declare @Month as int;
	declare @Week as int;
	declare @IsTransformasi as int;
	declare @date2 as date;
	declare @date3 as date;
	declare @date4 as date;
	declare @date5 as date;

	declare @Pencapaian as decimal(18,2);
	declare @Target as decimal(18,2);
	declare @Realisasi as decimal(18,2);
	declare @PencapaianLalu as decimal(18,2);

	set @Year = year(@Date);
	set @Month = month(@Date);
	set @Week = (select top 1 WeekOfMonth from TblM_Date where Date = @Date);

	set @Date = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = 1 and WeekDayName = 'Wednesday');
	set @date2 = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = 2 and WeekDayName = 'Wednesday');
	set @date3 = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = 3 and WeekDayName = 'Wednesday');
	set @date4 = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = 4 and WeekDayName = 'Wednesday');
	set @date5 = (select top 1 Date from TblM_Date where Year = @Year and Month = @Month and WeekOfMonth = 5 and WeekDayName = 'Wednesday');


	select * from (
	select 'Minggu 1' minggu, case when (a.Pencapaian<85) then 'merah' when (a.Pencapaian>=85 and a.Pencapaian<100) then 'kuning' when (a.Pencapaian>=100 and a.Pencapaian<110) then 'hijau' when (a.Pencapaian>=100) then 'biru' end Pencapaian, '' Pencapaian2, '' Pencapaian3, '' Pencapaian4, '' Pencapaian5
	from TblD_ListProject a
	where a.IsActive = 1
		and a.IsTransformasi = 1
		and a.DateDownload = @Date
		and (@Year between a.StartYear and a.EndYear)
		and a.IDProjectStatus not in(3, 13)--not in(1, 8, 9, 13)s
	union all
	select 'Minggu 2' minggu, '' Pencapaian, case when (a.Pencapaian<85) then 'merah' when (a.Pencapaian>=85 and a.Pencapaian<100) then 'kuning' when (a.Pencapaian>=100 and a.Pencapaian<110) then 'hijau' when (a.Pencapaian>=100) then 'biru' end Pencapaian2, '' Pencapaian3, '' Pencapaian4, '' Pencapaian5
	from TblD_ListProject a
	where a.IsActive = 1
		and a.IsTransformasi = 1
		and a.DateDownload = @date2
		and (@Year between a.StartYear and a.EndYear)
		and a.IDProjectStatus not in(3, 13)--not in(1, 8, 9, 13)
	union all
	select 'Minggu 3' minggu, '' Pencapaian, '' Pencapaian2, case when (a.Pencapaian<85) then 'merah' when (a.Pencapaian>=85 and a.Pencapaian<100) then 'kuning' when (a.Pencapaian>=100 and a.Pencapaian<110) then 'hijau' when (a.Pencapaian>=100) then 'biru' end Pencapaian3, '' Pencapaian4, '' Pencapaian5
	from TblD_ListProject a
	where a.IsActive = 1
		and a.IsTransformasi = 1
		and a.DateDownload = @date3
		and (@Year between a.StartYear and a.EndYear)
		and a.IDProjectStatus not in(3, 13)--not in(1, 8, 9, 13)
	union all
	select 'Minggu 4' minggu, '' Pencapaian, '' Pencapaian2, '' Pencapaian3, case when (a.Pencapaian<85) then 'merah' when (a.Pencapaian>=85 and a.Pencapaian<100) then 'kuning' when (a.Pencapaian>=100 and a.Pencapaian<110) then 'hijau' when (a.Pencapaian>=100) then 'biru' end Pencapaian4, '' Pencapaian5
	from TblD_ListProject a
	where a.IsActive = 1
		and a.IsTransformasi = 1
		and a.DateDownload = @date4
		and (@Year between a.StartYear and a.EndYear)
		and a.IDProjectStatus not in(3, 13)--not in(1, 8, 9, 13)
	union all
	select 'Minggu 5' minggu, '' Pencapaian, '' Pencapaian2, '' Pencapaian3, '' Pencapaian4, case when (a.Pencapaian<85) then 'merah' when (a.Pencapaian>=85 and a.Pencapaian<100) then 'kuning' when (a.Pencapaian>=100 and a.Pencapaian<110) then 'hijau' when (a.Pencapaian>=100) then 'biru' end Pencapaian5
	from TblD_ListProject a
	where a.IsActive = 1
		and a.IsTransformasi = 1
		and a.DateDownload = @date5
		and (@Year between a.StartYear and a.EndYear)
		and a.IDProjectStatus not in(3, 13)--not in(1, 8, 9, 13)
		) as tbl

END




GO
