USE [PROMISE]
GO
/****** Object:  UserDefinedFunction [dbo].[Ufn_Get_DurationInDays_PerProject_backup_20210427]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Ufn_Get_DurationInDays_PerProject_backup_20210427] ( @ProjectHeaderID int)

-- RETURNS  @Result TABLE(DateString NVARCHAR(30) NOT NULL, DateNameString NVARCHAR(30) NOT NULL)
Returns @result TABLE 
(
	ProjectHeaderID int, 
	TaskID int,
	TaskName varchar(max),
	StartDate date,
	EndDate date,
	DurationInDays int,
	ParentID int,
	IsParent bit
)
AS

begin
	DECLARE @temptable TABLE 
	(
		ProjectHeaderID int, 
		TaskID int,
		TaskName varchar(max),
		IsParent bit ,
		ChildTotal int, 
		Duration int,
		Parent int,
		StartDate date,
		EndDate date
	)

	DECLARE @tempFinal TABLE 
	(
		ProjectHeaderID int, 
		TaskID int,
		TaskName varchar(max),
		IsParent bit ,
		ChildTotal int, 
		Duration int,
		Parent int,
		StartDate date,
		EndDate date,
		DurationInDays int

	)

   INSERT INTO @temptable 
   SELECT
		ProjectHeaderID ,TaskID , TaskName ,
	
		CASE WHEN EXISTS(
				SELECT TaskID FROM
				TblT_MPPProjectPlanDetail MPD
				WHERE
				MPD.ParentID = mm.TaskID
				and
				MPD.ProjectHeaderID = @ProjectHeaderID 
				and MPD.IsActive = '1'
			)
			THEN
			'1'
			ELSE
			'0'
			END
			as IsParent
			,
			(
				SELECT COUNT(TaskID) FROM
				TblT_MPPProjectPlanDetail MPD
				WHERE
				MPD.ParentID = mm.TaskID
				and
				MPD.ProjectHeaderID = @ProjectHeaderID
				and MPD.IsActive = '1'
			) as ChildTotal
			,
			CASE WHEN
			EXISTS
			(
				SELECT TaskID FROM
				TblT_MPPProjectPlanDetail MPD
				WHERE
				MPD.ParentID = mm.TaskID
				and
				MPD.ProjectHeaderID = @ProjectHeaderID
				and MPD.IsActive = '1'
			)
			THEN
			(
				0
			)
			WHEN
			mm.TaskName LIKE'%Milestone%'
			THEN
			0
			ELSE
				Dbo.Ufn_GetProjectDuration(Convert(date,mm.StartDate),Convert(date,mm.EndDate))
			END as Duration,
			mm.ParentID as Parent,
			mm.StartDate,
			mm.EndDate
		FROM
		TblT_MPPProjectPlanDetail mm
		where 
			mm.ProjectHeaderID = @ProjectHeaderID
			and 
			mm.IsActive = '1'


		INSERT INTO 
		@tempFinal
		SELECT 
			 tt.* , 
			 CASE WHEN
			 tt.IsParent = '1'
			 THEN
				(
					SELECT 
						SUM(tm.Duration)
					FROM
					@temptable tm
					where
					tm.Parent = tt.TaskID
				)
			 ELSE
				tt.Duration
			 END
		FROM 
		@temptable tt

	DECLARE @result1 TABLE 
	(
		ProjectHeaderID int, 
		TaskID int,
		TaskName varchar(max),
		StartDate date,
		EndDate date,
		DurationInDays int,
		ParentID int,
		IsParent bit
	)


		INSERT INTO @result1
		SELECT
		tf.ProjectHeaderID, tf.TaskID, tf.TaskName, tf.StartDate, tf.EndDate, 
		CASE		
		WHEN
		tf.Parent IN ( 0,		
			(
					SELECT TOP 1 TaskID FROM 
					@tempFinal TM 
					where
					TM.Parent = 0
			)		
		)
		
		--tf.TaskID = (
		--		SELECT TOP 1 TaskID FROM 
		--		@tempFinal TM 
		--		ORDER 
		--		BY TaskID ASC
		--	)
		THEN 
			(
				SELECT	
					CASE WHEN
					SUM(DurationInDays) IS NULL
					THEN	
						tf.DurationInDays
					ELSE
						SUM(DurationInDays)
					END
				FROM
				@tempFinal TC
				WHERE
				TC.Parent = tf.TaskID
				--(
				--	--SELECT TOP 1 TaskID FROM 
				--	--@tempFinal TM 
				--	--ORDER 
				--	--BY TaskID ASC
				
				--)
			)
		ELSE
			tf.DurationInDays
		END as DurationInDays,
		tf.Parent,
		tf.IsParent
	FROM
	@tempFinal tf

	DECLARE @IsParentNull int

	SELECT @IsParentNull = rs.DurationInDays FROM
	@result1 rs
	where ParentID = 0

	IF(@IsParentNull = 0)
	BEGIN
		INSERT INTO @result
		SELECT 
			ProjectHeaderID ,
			TaskID ,
			TaskName ,
			StartDate ,
			EndDate ,
			CASE
			WHEN
				ParentID = 0
			THEN
				(
					SELECT	
						SUM(DurationInDays)
					FROM
					@result1 TC
					WHERE
					TC.ParentID = rl.TaskID					
				)
			ELSE
				DurationInDays
			END  
			DurationInDays 
			,
			ParentID ,
			IsParent 
		FROM
		@result1 rl
	END
	ELSE
	BEGIN
		--INSERT INTO @result
		--SELECT * FROM 
		--@result1
		INSERT INTO @result
		SELECT 
			ProjectHeaderID ,
			TaskID ,
			TaskName ,
			StartDate ,
			EndDate ,
			CASE
			WHEN
				ParentID = 0
			THEN
				(
					SELECT	
						SUM(DurationInDays)
					FROM
					@result1 TC
					WHERE
					TC.ParentID = rl.TaskID					
				)
			ELSE
				DurationInDays
			END  
			DurationInDays 
			,
			ParentID ,
			IsParent 
		FROM
		@result1 rl
	END
    return

end  
GO
