USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblM_StrategicObjective]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_StrategicObjective](
	[IDStrategicObjective] [int] IDENTITY(29,1) NOT NULL,
	[StrategicObjectiveCode] [varchar](50) NULL,
	[StrategicObjectiveName] [varchar](200) NULL,
	[Year] [varchar](4) NULL,
	[Description] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TblM_StrategicObjective] PRIMARY KEY CLUSTERED 
(
	[IDStrategicObjective] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
