USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_SLA_GetALl]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Septian c>
-- Create date: <11 Juli 2023>
-- Description:	<Laporan Mingguan untuk grafik poin 1c>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_SLA_GetALl]
--exec Usp_SLA_GetALl

AS
BEGIN
	select
	row_number() OVER (
			ORDER BY CASE 
					WHEN UpdateDate IS NOT NULL
						THEN UpdateDate
					ELSE CreateDate
					END DESC
			) AS NoUrut,
	Id,
	GroupId,
	(select x.DepartmentCode from TblM_Department x where x.IDDepartment=a.GroupId) GroupName,
	StatusSLA,
	Peraturan,
	JasaPelayanan,
	Waktu,
	DihitungDari,
	IsActive,
	CreateUser,
	CreateDate,
	UpdateUser,
	UpdateDate
	from TblM_SLA a
	where IsActive=1

END




GO
