USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Get_EmailContent]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Usp_Get_EmailContent]
	-- Add the parameters for the stored procedure here
	@EmailId nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	SELECT Title +';'+ EmailContent FROM tblM_Email WHERE EmailId = @EmailId
END




GO
