USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_EmailLog]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_Insert_EmailLog]
	@EmailTemplateID int ,
	@Subject varchar(50),
	@Content varchar(max),
	@status varchar(max),
	@IDProjectHeader int,
	@sentTo varchar(max)
AS
BEGIN

	BEGIN TRY
		BEGIN TRANSACTION EmailLog
				INSERT INTO 
				[dbo].[TblH_EmailLog] (
					IDEmailTemplate,
					IDProjectHeader,
					Subject,
					Content,
					SentTo,
					SentFrom,
					CreatedDate,
					CreatedBy,
					IsActive,
					Status
				)
				VALUES
				(
					@EmailTemplateID,
					@IDProjectHeader,
					@Subject,
					@Content,
					@sentTo,
					'LPS APP',
					GETDATE(),
					'System',
					'1',
					@status
				)
		
		SELECT 'S|Success'
		COMMIT TRANSACTION EmailLog
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION EmailLog
		SELECT ERROR_MESSAGE()
	END CATCH
END




GO
