USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Test]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Test]
	
AS
BEGIN
SELECT '1'
END




GO
