USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Generate_ProjectKPIInit]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Generate_ProjectKPIInit] 
	-- Add the parameters for the stored procedure here
	@Years varchar(4)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @Date date = null;
    -- Insert statements for procedure here
	if(@Years < Year(GetDate()))begin
		set @Date = (select TOP 1 Cast(Date as Date) from TblM_Date where Year = @Years order by Date Desc)
	end
	else begin
		set @Date = Cast(GetDate() as Date)
	end;

	declare @Year int = Year(@Date);
	declare @kpival table(idproject int,tw1 float,tw2 float,tw3 float,tw4 float,twyear int);
	declare @TW varchar(5) =  [dbo].[Ufn_GetTriwulan](Month(GetDate()));
	declare @Week int = (select top 1 WeekOfMonth from TblM_Date where Date = Cast(GetDate() as Date) order by Date asc);

	declare @Month int = null;
	set @Month = Month(GetDate())
	declare @PeriodeTW varchar(20) = cast(Cast(Year(GetDate()) as varchar(4)) + '-' + cast(Month(GetDate()) as varchar(2)) + '-' + cast(@Week as Varchar(2)) as date);
	
	if(@Date <= Cast(@Year as varchar(4)) + '-01-10' ) begin
		set @TW = 'TW4';
		set @Year = @Year -1;
		end
	else if(@Date <= Cast(@Year as varchar(4)) + '-04-10' ) begin
		set @TW = 'TW1';
		end
	else if(@Date <= Cast(@Year as varchar(4)) + '-07-10') begin
		set @TW = 'TW2';
		end
	else if(@Date <= Cast(@Year as varchar(4)) + '-07-10') begin
		set @TW = 'TW3';
		end
	else begin
		set @TW = 'TW4';
		end

	declare @PeriodeTW1 varchar(20) = [dbo].[Ufn_GetPeriode](@Year,3);
	declare @PeriodeTW2 varchar(20) = [dbo].[Ufn_GetPeriode](@Year,6);
	declare @PeriodeTW3 varchar(20) = [dbo].[Ufn_GetPeriode](@Year,9);
	declare @PeriodeTW4 varchar(20) = [dbo].[Ufn_GetPeriode](@Year,12);

	if(@PeriodeTW1 > @PeriodeTW) begin
		set @PeriodeTW1 = @PeriodeTW
	end
	if(@PeriodeTW2 > @PeriodeTW) begin
		set @PeriodeTW2 = @PeriodeTW
	end
	if(@PeriodeTW3 > @PeriodeTW) begin
		set @PeriodeTW3 = @PeriodeTW
	end
	if(@PeriodeTW4 > @PeriodeTW) begin
		set @PeriodeTW4 = @PeriodeTW
	end

	insert into @kpival
	select x.IDProject,Max(x.TW1) as tw1,Max(x.TW2) as tw2,Max(x.TW3) as tw3,Max(x.TW4) as tw4,@Year as Year
	from(
	select 
		bb.IDProject,
		case
			when bb.ActualEnd is not null and ActualEnd > EndDate  then 95
			when bb.ActualEnd is null and bb.Capaian >= 95 and bb.Capaian < 100 then 95
			when bb.ActualEnd is null and bb.Capaian >= 100 then 100 
			--when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian >= 100 then 100
			when bb.IsTransformasi = 1 and bb.ActualEnd <= EndDate then 105
			when bb.IsTransformasi = 0 and bb.ActualEnd <= EndDate then 100
			else bb.Capaian
		end as TW1,
		0 as TW2,
		0 as TW3,
		0 as TW4,
		@Year as Year
	from
		(
		select Distinct
		tp.IDProject,
			round(
				Case 
					when tmpp.PlanPercentage is null Or tmpp.PlanPercentage = 0 then 0
					when
						x.CompletePercentage is not null then
						Round(10000/
						(
							select TOP 1 round(PlanPercentage,0)
							from TblT_MPPProjectPlanPercentage tmpp2 
							where 
							tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
							and tmpp2.TaskId = tmpd.TaskId
							and cast(cast(tmpp2.Year as varchar(4)) + '-' + cast(tmpp2.Month as varchar(2)) + '-' + cast(tmpp2.Week as varchar(1)) as date) <= cast(cast(x.Year as varchar(4)) + '-' + cast(x.Month as varchar(2)) + '-' + cast(x.Week as varchar(1)) as date)
							and tmpp2.isActive = 1 
							Order by tmpp2.Year desc, tmpp2.Month desc,tmpp2.Week desc
						),0)
					else (
							ISNULL(
									(
										select top 1 round(MPP.CompletePercentage,0)
										from TblT_MPPProjectRealPercentage MPP
										where MPP.IDProjectHeader = tmpp.IDProjectHeader
											and MPP.TaskID = tmpp.TaskID
											and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
												<= cast(cast(tmpp.Year as varchar(5)) + '-' + Cast(tmpp.Month as varchar(3)) + '-' + Cast(tmpp.Week as varchar(2)) as date)
											--and MPP.IsActive = 1
										order by MPP.Year desc, MPP.Month desc, MPP.Week desc
									), 0
								)	
						/ISNULL(round(tmpp.PlanPercentage,0),0)) * 100
				end
		,0) as Capaian,
		tp.IsTransformasi,
		tp.Parent,
		tmpp.Year,
		Cast(tmpd.EndDate as Date) EndDate,
		Case
			when x.CompletePercentage is not null then 
				(select TOP 1 
					case 
						when Try_Convert(date,tmrd.ActualEnd,105) is not null then Convert(date,tmrd.ActualEnd,105)
						when Try_Convert(date,tmrd.ActualEnd,23) is not null then Convert(date,tmrd.ActualEnd,23)
						when Try_Convert(date,tmrd.ActualEnd,100) is not null then Convert(date,tmrd.ActualEnd,100)
					End 
					ActualEnd
				from TblT_MPPProjectRealDetail tmrd
				JOIN TblT_MPPProjectPlanDetail tmpdd on tmpdd.IDMPPProjectPlanDetail = tmrd.IDMPPProjectPlanDetail
				where tmpdd.IsActive = 1 and tmrd.ActualEnd is not null and tmpdd.ParentId != 0 and tmrd.IsActive = 1 and tmpdd.ProjectHeaderId = tmpd.ProjectHeaderId
				order by ActualEnd desc)
			Else Null
		end as ActualEnd
		from
		TblT_MPPProjectPlanDetail tmpd
		join
		(
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
			from TblT_MPPProjectPlanPercentage t
			where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= @PeriodeTW1
			and Year = @Year
			and isActive = 1 
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
		LEFT JOIN (
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
			from TblT_MPPProjectRealPercentage t
			where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= @PeriodeTW1
			and Year = @Year
			and isActive = 1 and CompletePercentage >= 100
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year asc,Month asc,Week asc)
		) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
		JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
		JOIN TblM_Project tp on tp.IDProject = tph.IDProject
		left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
		where 
		tmpd.IsActive = 1 and 
		tph.IsActive = 1 and 
		tp.IsActive = 1 and
		tph.IDProjectStatus != 1 and
		(Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year) and
		tmpd.ParentId = 0 
	) bb

	union all
		
	select 
		bb.IDProject,
		0 as TW1,
		case
			when bb.ActualEnd is not null and ActualEnd > EndDate  then 95
			when bb.ActualEnd is null and bb.Capaian >= 95 and bb.Capaian < 100 then 95
			when bb.ActualEnd is null and bb.Capaian >= 100 then 100 
			--when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian >= 100 then 100
			when bb.IsTransformasi = 1 and bb.ActualEnd <= EndDate then 105
			when bb.IsTransformasi = 0 and bb.ActualEnd <= EndDate then 100
			else bb.Capaian
		end as TW2,
		0 as TW3,
		0 as TW4,
		@Year as Year
	from
		(
		select Distinct
			tp.IDProject,
				round(
					Case 
						when tmpp.PlanPercentage is null Or round(tmpp.PlanPercentage,0) = 0 then 0
						when
						x.CompletePercentage is not null then
						Round(10000/
						(
							select TOP 1 round(PlanPercentage,0)
							from TblT_MPPProjectPlanPercentage tmpp2 
							where 
							tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
							and tmpp2.TaskId = tmpd.TaskId
							and cast(cast(tmpp2.Year as varchar(4)) + '-' + cast(tmpp2.Month as varchar(2)) + '-' + cast(tmpp2.Week as varchar(1)) as date) <= cast(cast(x.Year as varchar(4)) + '-' + cast(x.Month as varchar(2)) + '-' + cast(x.Week as varchar(1)) as date)
							and tmpp2.isActive = 1 
							Order by tmpp2.Year desc, tmpp2.Month desc,tmpp2.Week desc
						),0)
						else (
							ISNULL(
									(
										select top 1 round(MPP.CompletePercentage,0)
										from TblT_MPPProjectRealPercentage MPP
										where MPP.IDProjectHeader = tmpp.IDProjectHeader
											and MPP.TaskID = tmpp.TaskID
											and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
												<= cast(cast(tmpp.Year as varchar(5)) + '-' + Cast(tmpp.Month as varchar(3)) + '-' + Cast(tmpp.Week as varchar(2)) as date)
											--and MPP.IsActive = 1
										order by MPP.Year desc, MPP.Month desc, MPP.Week desc
									), 0
								)	
							/ISNULL(round(tmpp.PlanPercentage,0),0)) * 100
					end
			,0) as Capaian,
			tp.IsTransformasi,
			tp.Parent,
			tmpp.Year,
			Cast(tmpd.EndDate as Date) EndDate,
			Case
				when x.CompletePercentage is not null then 
					(select TOP 1 
						case 
							when Try_Convert(date,tmrd.ActualEnd,105) is not null then Convert(date,tmrd.ActualEnd,105)
							when Try_Convert(date,tmrd.ActualEnd,23) is not null then Convert(date,tmrd.ActualEnd,23)
							when Try_Convert(date,tmrd.ActualEnd,100) is not null then Convert(date,tmrd.ActualEnd,100)
						End 
						ActualEnd
					from TblT_MPPProjectRealDetail tmrd
					JOIN TblT_MPPProjectPlanDetail tmpdd on tmpdd.IDMPPProjectPlanDetail = tmrd.IDMPPProjectPlanDetail
					where tmpdd.IsActive = 1 and tmrd.ActualEnd is not null and tmpdd.ParentId != 0 and tmrd.IsActive = 1 and tmpdd.ProjectHeaderId = tmpd.ProjectHeaderId
					order by ActualEnd desc)
				Else Null
			end as ActualEnd
		from
		TblT_MPPProjectPlanDetail tmpd
		join
		(
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
			from TblT_MPPProjectPlanPercentage t
			where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= @PeriodeTW2
			and Year = @Year
			and isActive = 1 
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
		LEFT JOIN (
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
			from TblT_MPPProjectRealPercentage t
			where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= @PeriodeTW2
			and Year = @Year
			and isActive = 1 and CompletePercentage >= 100
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year asc,Month asc,Week asc)
		) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
		JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
		JOIN TblM_Project tp on tp.IDProject = tph.IDProject
		left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
		where 
		tmpd.IsActive = 1 and 
		tph.IsActive = 1 and 
		tp.IsActive = 1 and
		tph.IDProjectStatus != 1 and
		(Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year) and
		tmpd.ParentId = 0
	) bb
	
	union all
	
	select 
		bb.IDProject,
		0 as TW1,
		0 as TW2,
		case
			when bb.ActualEnd is not null and ActualEnd > EndDate  then 95
			when bb.ActualEnd is null and bb.Capaian >= 95 and bb.Capaian < 100 then 95
			when bb.ActualEnd is null and bb.Capaian >= 100 then 100 
			--when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian >= 100 then 100
			when bb.IsTransformasi = 1 and bb.ActualEnd <= EndDate then 105
			when bb.IsTransformasi = 0 and bb.ActualEnd <= EndDate then 100
			else bb.Capaian
		end as TW3,
		0 as TW4,
		@Year as Year
	from
		(
		select Distinct
			tp.IDProject,
				round(
					Case 
						when tmpp.PlanPercentage is null Or tmpp.PlanPercentage = 0 then 0
						when
						x.CompletePercentage is not null then
						Round(10000/
						(
							select TOP 1 round(PlanPercentage,0)
							from TblT_MPPProjectPlanPercentage tmpp2 
							where 
							tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
							and tmpp2.TaskId = tmpd.TaskId
							and cast(cast(tmpp2.Year as varchar(4)) + '-' + cast(tmpp2.Month as varchar(2)) + '-' + cast(tmpp2.Week as varchar(1)) as date) <= cast(cast(x.Year as varchar(4)) + '-' + cast(x.Month as varchar(2)) + '-' + cast(x.Week as varchar(1)) as date)
							and tmpp2.isActive = 1 
							Order by tmpp2.Year desc, tmpp2.Month desc,tmpp2.Week desc
						),0)
						else (
							ISNULL(
									(
										select top 1 round(MPP.CompletePercentage,0)
										from TblT_MPPProjectRealPercentage MPP
										where MPP.IDProjectHeader = tmpp.IDProjectHeader
											and MPP.TaskID = tmpp.TaskID
											and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
												<= cast(cast(tmpp.Year as varchar(5)) + '-' + Cast(tmpp.Month as varchar(3)) + '-' + Cast(tmpp.Week as varchar(2)) as date)
											--and MPP.IsActive = 1
										order by MPP.Year desc, MPP.Month desc, MPP.Week desc
									), 0
								)	
							/ISNULL(round(tmpp.PlanPercentage,0),0)) * 100
					end
			,0) as Capaian,
			tp.IsTransformasi,
			tp.Parent,
			tmpp.Year,
			Cast(tmpd.EndDate as Date) EndDate,
			Case
				when x.CompletePercentage is not null then 
					(select TOP 1 
						case 
							when Try_Convert(date,tmrd.ActualEnd,105) is not null then Convert(date,tmrd.ActualEnd,105)
							when Try_Convert(date,tmrd.ActualEnd,23) is not null then Convert(date,tmrd.ActualEnd,23)
							when Try_Convert(date,tmrd.ActualEnd,100) is not null then Convert(date,tmrd.ActualEnd,100)
						End 
						ActualEnd
					from TblT_MPPProjectRealDetail tmrd
					JOIN TblT_MPPProjectPlanDetail tmpdd on tmpdd.IDMPPProjectPlanDetail = tmrd.IDMPPProjectPlanDetail
					where tmpdd.IsActive = 1 and tmrd.ActualEnd is not null and tmpdd.ParentId != 0 and tmrd.IsActive = 1 and tmpdd.ProjectHeaderId = tmpd.ProjectHeaderId
					order by ActualEnd desc)
				Else Null
			end as ActualEnd
		from
		TblT_MPPProjectPlanDetail tmpd
		join
		(
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
			from TblT_MPPProjectPlanPercentage t
			where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= @PeriodeTW3
			and Year = @Year
			and isActive = 1 --and [dbo].[Ufn_GetTriwulan](Month) = 'TW3'
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
		LEFT JOIN (
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
			from TblT_MPPProjectRealPercentage t
			where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= @PeriodeTW3
			and Year = @Year
			and isActive = 1 and CompletePercentage >= 100
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year asc,Month asc,Week asc)
		) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
		JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
		JOIN TblM_Project tp on tp.IDProject = tph.IDProject
		left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
		where 
		tmpd.IsActive = 1 and 
		tph.IsActive = 1 and 
		tp.IsActive = 1 and
		tph.IDProjectStatus != 1 and
		(Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year) and
		tmpd.ParentId = 0
	) bb
	
	union all
	
	select 
		bb.IDProject,
		0 as TW1,
		0 as TW2,
		0 as TW3,
		case
			when bb.ActualEnd is not null and ActualEnd > EndDate  then 95
			when bb.ActualEnd is null and bb.Capaian >= 95 and bb.Capaian < 100 then 95
			when bb.ActualEnd is null and bb.Capaian >= 100 then 100 
			--when bb.IsTransformasi = 1 and bb.Parent is not null and bb.Capaian >= 100 then 100
			when bb.IsTransformasi = 1 and bb.ActualEnd <= EndDate then 105
			when bb.IsTransformasi = 0 and bb.ActualEnd <= EndDate then 100
			else bb.Capaian
		end as TW4,
		@Year as Year
	from
		(
		select Distinct
			tp.IDProject,
				round(
					Case 
						when tmpp.PlanPercentage is null Or tmpp.PlanPercentage = 0 then 0
						when
						x.CompletePercentage is not null then
						Round(10000/
						(
							select TOP 1 PlanPercentage
							from TblT_MPPProjectPlanPercentage tmpp2 
							where 
							tmpp2.IDProjectHeader = tmpd.ProjectHeaderId 
							and tmpp2.TaskId = tmpd.TaskId
							and cast(cast(tmpp2.Year as varchar(4)) + '-' + cast(tmpp2.Month as varchar(2)) + '-' + cast(tmpp2.Week as varchar(1)) as date) <= cast(cast(x.Year as varchar(4)) + '-' + cast(x.Month as varchar(2)) + '-' + cast(x.Week as varchar(1)) as date)
							and tmpp2.isActive = 1 
							Order by tmpp2.Year desc, tmpp2.Month desc,tmpp2.Week desc
						),0)
						else (
							ISNULL(
									(
										select top 1 round(MPP.CompletePercentage,0)
										from TblT_MPPProjectRealPercentage MPP
										where MPP.IDProjectHeader = tmpp.IDProjectHeader
											and MPP.TaskID = tmpp.TaskID
											and cast(cast(MPP.Year as varchar(4)) + '-' + cast(MPP.Month as varchar(2)) + '-' + cast(MPP.Week as varchar(1)) as date)
												<= cast(cast(tmpp.Year as varchar(5)) + '-' + Cast(tmpp.Month as varchar(3)) + '-' + Cast(tmpp.Week as varchar(2)) as date)
											--and MPP.IsActive = 1
										order by MPP.Year desc, MPP.Month desc, MPP.Week desc
									), 0
								)	
							/ISNULL(tmpp.PlanPercentage,0)) * 100
					end
			,0) as Capaian,
			tp.IsTransformasi,
			tp.Parent,
			tmpp.Year,
			Cast(tmpd.EndDate as Date) EndDate,
			Case
				when x.CompletePercentage is not null then 
					(select TOP 1 
						case 
							when Try_Convert(date,tmrd.ActualEnd,105) is not null then Convert(date,tmrd.ActualEnd,105)
							when Try_Convert(date,tmrd.ActualEnd,23) is not null then Convert(date,tmrd.ActualEnd,23)
							when Try_Convert(date,tmrd.ActualEnd,100) is not null then Convert(date,tmrd.ActualEnd,100)
						End 
						ActualEnd
					from TblT_MPPProjectRealDetail tmrd
					JOIN TblT_MPPProjectPlanDetail tmpdd on tmpdd.IDMPPProjectPlanDetail = tmrd.IDMPPProjectPlanDetail
					where tmpdd.IsActive = 1 and tmrd.ActualEnd is not null and tmpdd.ParentId != 0 and tmrd.IsActive = 1 and tmpdd.ProjectHeaderId = tmpd.ProjectHeaderId
					order by ActualEnd desc)
				Else Null
			end as ActualEnd
		from
		TblT_MPPProjectPlanDetail tmpd
		join
		(
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,PlanPercentage
			from TblT_MPPProjectPlanPercentage t
			where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= @PeriodeTW4
			and Year = @Year
			and isActive = 1 
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year desc,Month desc,Week desc)
		) tmpp on tmpd.ProjectHeaderID = tmpp.IDProjectHeader and tmpd.TaskID = tmpp.TaskID
		LEFT JOIN (
			select TOP 1 with ties IDProjectHeader,TaskID,Year,Month,week,CompletePercentage
			from TblT_MPPProjectRealPercentage t
			where  cast(cast(Year as varchar(4)) + '-' + cast(Month as varchar(2)) + '-' + cast(Week as varchar(1)) as date) <= @PeriodeTW4
			and Year >= @Year
			and isActive = 1 and CompletePercentage >= 100
			order by row_number() over (partition by IDProjectHeader,TaskID order by Year asc,Month asc,Week asc)
		) x on tmpd.ProjectHeaderID = x.IDProjectHeader and tmpd.TaskID = x.TaskID
		JOIN TblT_ProjectHeader tph on tmpd.ProjectHeaderID = tph.IDProjectHeader
		JOIN TblM_Project tp on tp.IDProject = tph.IDProject
		left join TblM_KPIValue b on tp.IDProject = b.IDProject and b.IsActive = 1
		where 
		tmpd.IsActive = 1 and 
		tph.IsActive = 1 and 
		tp.IsActive = 1 and
		tph.IDProjectStatus != 1 and
		(Year(tmpd.StartDate) = @Year OR Year(tmpd.EndDate) = @Year) and
		tmpd.ParentId = 0
	) bb
	)x
	group by IDProject
	
	declare inskpicur cursor for
	select * from @kpival order by idproject,twyear
	
	declare @idproject int, @tw1 float,@tw2 float,@tw3 float,@tw4 float,@twyear int;
	open inskpicur;
	fetch next from inskpicur into @idproject, @tw1, @tw2, @tw3, @tw4, @twyear
	while @@fetch_status = 0
	begin
		exec Usp_Insert_MasterKPIValue2 @idproject, @tw1, @tw2, @tw3, @tw4, @twyear
	
		fetch next from inskpicur into @idproject, @tw1, @tw2, @tw3, @tw4, @twyear
	end
	close inskpicur
	deallocate inskpicur
	
	SELECT 'S|Success'
END



GO
