USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Insert_MasterProjectCost]    Script Date: 07/07/2025 14:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usp_Insert_MasterProjectCost]
	-- Add the parameters for the stored procedure here
	@IDProjectCost int = null,
	@ProjectCostCode varchar(20) = null,
	@ProjectCostName varchar(50) = null,
	@Description varchar(200) = null,
	@User varchar(50) = null,

	-- Type CRUD --
	@TypeTransaction varchar(10) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	begin try
		begin transaction;

		if(@TypeTransaction = 'Insert')begin
			insert into TblM_ProjectCost(
				ProjectCostCode,
				ProjectCostName,
				Description,
				CreatedDate,
				CreatedBy,
				IsActive
			)
			values(
				@ProjectCostCode,
				@ProjectCostName,
				@Description,
				getdate(),
				@User,
				1
			);
			select 'S|Sukses';
		end
		else if(@TypeTransaction = 'Update')begin
			if exists(select * from TblM_ProjectCost where IDProjectCost = @IDProjectCost and IsActive = 1)begin
				update TblM_ProjectCost
				set ProjectCostCode = @ProjectCostCode,
					ProjectCostName  =@ProjectCostName,
					Description = @Description,
					UpdatedDate = getdate(),
					UpdatedBy = @User
				where IDProjectCost = @IDProjectCost and IsActive = 1;
				select 'S|Sukses';
			end
			else begin select 'F|ID Project Cost tidak tersedia'; end;
		end
		else if(@TypeTransaction = 'Delete')begin
			if exists(select * from TblM_ProjectCost where IDProjectCost = @IDProjectCost and IsActive = 1)begin
				update TblM_ProjectCost
				set IsActive = 0
				where IDProjectCost = @IDProjectCost and IsActive = 1;
				select 'S|Sukses';
			end
			else begin select 'F|ID Project Cost tidak tersedia'; end;
		end
		else begin
			select 'F|Tipe transaksi tidak tersedia';
		end

		commit;
	end try
	begin catch
		rollback;
		declare @ErrMsg varchar(max), @ErrNum int;
		select @ErrMsg = error_message(), @ErrNum = error_number();
		exec Usp_Insert_ErrorLog 'Usp_Insert_MasterProjectCost', @ErrNum, @ErrMsg, @User;
		select 'F|Terjadi error pada StoreProcedure : ' + @ErrMsg;
	end catch

END




GO
