USE [PROMISE]
GO
/****** Object:  StoredProcedure [dbo].[Get_ProjectInformation_LastUpdate]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Get_ProjectInformation_LastUpdate]  -- exec Get_ProjectInformation_LastUpdate '413'
	@ProjectHeaderID int
AS
BEGIN
	------------------------------------- Constraint -------------------------------------	
	SELECT top 1 ProjReal.*
	FROM TblT_MPPProjectRealDetail ProjReal
	where ProjReal.IDMPPProjectPlanDetail in (
		SELECT ProjPlan.IDMPPProjectPlanDetail
		FROM TblT_MPPProjectPlanDetail ProjPlan
		where [ProjectHeaderID] = @ProjectHeaderID and IsActive = 1
		) and IsSubmit = 1 and IsApprove = 1  and ParentID = 0
	order by Year desc, Month desc, Week desc
	

END
GO
