USE [PROMISE]
GO
/****** Object:  Table [dbo].[TblH_ProjectInitApproval]    Script Date: 07/07/2025 14:26:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblH_ProjectInitApproval](
	[IDProjectInitApprovalHistory] [int] IDENTITY(1,1) NOT NULL,
	[IDProjectHeader] [int] NULL,
	[ApprovalVersion] [int] NULL,
	[Type] [varchar](50) NULL,
	[ApprovedBy] [varchar](50) NULL,
	[IsApproved] [bit] NULL,
	[Remarks] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TblH_ProjectInitApproval] PRIMARY KEY CLUSTERED 
(
	[IDProjectInitApprovalHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblH_ProjectInitApproval]  WITH CHECK ADD  CONSTRAINT [FK_TblH_ProjectInitApproval_TblT_ProjectHeader] FOREIGN KEY([IDProjectHeader])
REFERENCES [dbo].[TblT_ProjectHeader] ([IDProjectHeader])
GO
ALTER TABLE [dbo].[TblH_ProjectInitApproval] CHECK CONSTRAINT [FK_TblH_ProjectInitApproval_TblT_ProjectHeader]
GO
