
@{
    ViewBag.Title = "Laporan Mingguan Proyek";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<style>
    td {
        white-space: nowrap;
    }
</style>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box">
            <div class="content-body padding-15" style=" max-height: none; overflow: auto;">
                <div class="row padding-15">
                    <div class="col-md-2 padding-top-30">
                        <h4>Tanggal</h4>
                        <input id="txtDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>


                <div class="row padding-15">

                    <div class="col-md-4 padding-top-30" style="text-align:left">
                        &nbsp;
                        <button class="btn btn-success" onclick="DownloadLaporanMonitoringMingguan()"><i class="fa fa-download"></i> Download</button>
                    </div>

                </div>


            </div>
        </section>
    </div>
</div>

<script>

function DownloadLaporanMonitoringMingguan() {
    window.location.href = '@Url.Action("GenerateWordDocument2", "LaporanM")' + '?dates=' + $('#txtDate').val();
}


</script>
