
@{
    ViewBag.Title = "Laporan Mingguan Proyek";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<style>
    td {
        white-space: nowrap;
    }
</style>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box">
            <div class="content-body padding-15" style=" max-height: none; overflow: auto; align-items:center">
                <div class="row padding-15">
                    <div class="col-md-12 padding-top-30" style="text-align:center;background-image">
                        <img src="~/Assets/Images/nodata-found.png" style="width:500px;height:300px" />
                    </div>
                </div>


                <div class="row padding-15" style="text-align:center">

                    <div class="col-md-12" style="text-align:center;">
                        <span>Data tidak ditemukan!</span><br/>
                        <a href="../LaporanM/LaporanMingguan" class="btn btn-warning">Kembali</a>
                    </div>

                </div>


            </div>
        </section>
    </div>
</div>

<script>

</script>
