
@{
    ViewBag.Title = "Project Planning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">Daftar Proyek</h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle material-icons">expand_more</i>
                <i class="box_close material-icons">close</i>
            </div>
        </header>
        <div class="content-body padding-top-45">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 padding-right-0">
                    <div class="row">
                        <div class="col-md-4">
                        </div>

                        <div class="col-md-2 pull-right">
                            <div class="input-group transparent pull-right">
                                <span class="input-group-addon">
                                    <span class="arrow"></span>
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Cari" id="txtSearch" onkeyup="searchfunction()">
                            </div>
                        </div>

                    </div>

                    <table id="tblListUser" class="display" style="width:100% ;">
                        <thead>
                            <tr style="text-align: center">
                                <th>No</th>
                                <th>Project Name</th>
                                <th>Start</th>
                                <th>Finish</th>
                                <th>Duration</th>
                                <th>Last Update by</th>
                                <th>Status</th>
                                <th>Last Update</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Penguatan Budaya</td>
                                <td>01 Januari 2018</td>
                                <td>31 Desember 2018</td>
                                <td>365 Hari</td>
                                <td></td>
                                <td>Executing</td>
                                <td></td>
                                <td> 
                               
                                        <a href="@Url.Action("DetailProjectPlanning","Proyek")" class="btn btn-warning tooltipcustom">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                   
                                </td>
                            </tr>
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="mdl" id="modalUser">
    <div class="mdl-container" style="text-align: left !important;width : 50% !important; height: 50% !important;">
        <div class="row">
            <div class="col-md-12">
                <h2><b>Tambah Akun Baru</b></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="form-label" for="field-1">Default Text Field</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" class="form-control" id="field-1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="field-2">Password Field</label>
                    <span class="desc">e.g. "Cre@t!v!ty"</span>
                    <div class="controls">
                        <input type="password" value="Cre@t!v!ty" class="form-control" id="field-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-info" id="btnTambah" style="width:100%;"> <i class="fa fa-plus"></i>&nbsp;&nbsp; SIMPAN</button>
            </div>
        </div>
    </div>
</div>

<script>

    $('#btnTambah').mdl({
        type: 'modal',
        fullscreen: false,
        overlayClick: true
    });


    $(document).ready(function () {
        $('#tblListUser').DataTable({
            "bLengthChange": false,
            searching: false,
            info: false
        });
    });

    function searchfunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("txtSearch");
        filter = input.value.toUpperCase();
        table = document.getElementById("tblListUser");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


